[2017-09-06 22:19] deshraj opened #1227 "Change the font everywhere to Roboto"
We are planning to switch the font to Roboto for the whole web application. Please let me know if there are concerns/issues.

[2017-09-06 22:21] deshraj opened #1228 "Text not being displayed for the 'star challenge feature'"
Please see the below image for the illustration:

<img width="1438" alt="screen shot 2017-09-06 at 6 09 47 pm" src="https://user-images.githubusercontent.com/2945708/30137179-2a443974-9330-11e7-82c2-63658825255c.png">

[2017-09-07 12:49] xamfy commented on #1225
Please assign me

[2017-09-07 12:53] xamfy commented on #1227
Please assign me

[2017-09-07 12:56] RishabhJain2018 commented on #1225
@xamfy I think this has already been assigned to @deshraj . Please take up any other issue!

[2017-09-07 12:57] RishabhJain2018 commented on #1227
@xamfy Yes sure. Go ahead.

[2017-09-07 15:26] isht3 commented on #1190
@deshraj, Whenever we make a new challenge, the versions of the software required are given in the `requirements.txt` inside `evaluation_script`, right?

[2017-09-07 15:27] isht3 commented on #1189
@deshraj Can I look into this?

[2017-09-07 15:28] RishabhJain2018 commented on #1189
@isht3 Yes sure. Go ahead!

[2017-09-07 16:04] Ram81 commented on #1226
@deshraj can I take this?

[2017-09-07 16:05] RishabhJain2018 commented on #1226
@Ram81 Yes Sure , go ahead.

[2017-09-07 17:08] Ram81 commented on #1226
@RishabhJain2018  Can I get a sample zip file for challenge?

[2017-09-07 17:09] RishabhJain2018 commented on #1226
Please take a look at the repo https://github.com/Cloud-CV/EvalAI-Examples for sample zip file.

[2017-09-07 20:02] deshraj commented on #1131
@xamfy can you please open an issue for this?

[2017-09-07 20:03] deshraj commented on #1131
@aayusharora: please see your terminal console to see the email content. It gets printed there instead of sending a real email that will need a smtp server.

[2017-09-07 20:03] #1131 closed

[2017-09-07 20:06] xamfy opened #1231 ""Setting up your details" shows up in white color"
While signing up the text "Setting up your details" shows up in white color which is not visible.

[2017-09-07 20:34] xamfy commented on #837
@deshraj I think this issue should be closed.

[2017-09-08 16:13] Ram81 commented on #1228
@deshraj  can I take this?

[2017-09-08 16:18] isht3 commented on #1189
@deshraj @RishabhJain2018 Hi! Was this fixed? I tried to reproduce the error, but everything seemed to work cool. Bottom right window.
![img](https://image.prntscr.com/image/kaatkH62SmqpVugLrrmcRw.png)

[2017-09-08 16:42] isht3 commented on #864
@deshraj Can I start working on this? :)

[2017-09-08 16:46] isht3 commented on #1175
@deshraj Is this solved?

[2017-09-08 16:55] RishabhJain2018 commented on #1228
@Ram81 yes sure. go ahead

[2017-09-08 16:57] RishabhJain2018 commented on #1189
@isht3 No, this isn't fixed. Let me check once.

[2017-09-08 16:57] RishabhJain2018 commented on #864
yes sure. Assigning this to you.

[2017-09-08 16:58] RishabhJain2018 commented on #1175
No, this isn't solved yet.

[2017-09-08 17:01] isht3 commented on #1189
@RishabhJain2018 Thanks!

[2017-09-08 17:02] isht3 commented on #1175
Okay, Ill come back to this after I do #864.

[2017-09-08 18:09] RishabhJain2018 commented on #1227
@xamfy Any update on this? Please let me know if you need any help.

[2017-09-08 18:38] xamfy commented on #1227
Couldn't get time, will do today.

[2017-09-08 19:07] xamfy commented on #1227
@RishabhJain2018 I have sent a message please see.

[2017-09-08 19:11] RishabhJain2018 commented on #1227
@xamfy Please discuss here as it will be available for everyone. :)

[2017-09-08 19:16] xamfy commented on #1227
I have the changed the base.scss file to use Roboto should I remove the font-faces, also should I make new class for roboto and include that in all the templates to replace the current font classes. What about the boldness?

[2017-09-08 19:17] xamfy commented on #1227
Changes are working fine locally

[2017-09-08 20:06] xamfy commented on #1227
Done

[2017-09-09 07:45] isht3 opened #1234 "Splitting the tests with too many lines to smaller test files (150 lines per file)."
Hi, I was in the process for adding some tests when I noticed the `challenges/test_views.py` was over 2000 lines in a single file. Is there any improvements to performance? Could it be better if it was smaller chunks of code?

[2017-09-09 17:26] lenixlobo commented on #1225
Can i contribute to this?

[2017-09-09 17:27] RishabhJain2018 commented on #1225
@lenixlobo I have opened the PR for the same. Please feel free to take up any other issue which is not assigned. :)

[2017-09-09 17:59] Ram81 commented on #1228
@RishabhJain2018 you haven't created an entry for each new challenge's Star Challenge model. That's why when we try to fetch initially we can't get any message on the button.

[2017-09-09 18:01] Ram81 commented on #1228
For now I have done changes in controller & whenever we get an error fetching star challenge for any challenge I've set the message as 'Star'

[2017-09-09 18:22] lenixlobo commented on #1225
I have made a pull request ,please check it out . @RishabhJain2018

[2017-09-09 18:58] RishabhJain2018 commented on #1225
@lenixlobo Okay no problem . I will close mine :)

[2017-09-09 19:15] RishabhJain2018 commented on #1228
@Ram81 I didn't get your point of creating the entry. Can you please explain a bit further ?

[2017-09-09 19:20] xamfy commented on #1227
Please review

[2017-09-10 05:14] Ram81 commented on #1228
@RishabhJain2018 whenever you create a challenge there is no record entry made in 'Star Challenge' model that's why whenever the user opens the challenge page before being starred by anyone we can't fetch any entry for the particular challenge from 'Star Challenge'.

[2017-09-10 05:15] Ram81 commented on #1228
Did you get my point?

[2017-09-10 05:16] Ram81 commented on #1228
I suggest for each challenge you create an entry in 'Star Challenge' with initial values as 0 stars.

[2017-09-10 15:33] aka-jain commented on #1228
@Ram81 Just initialise star count with 0 at the start of controller and it will solve the problem.
@RishabhJain2018 please change the star count variable name from 'count' to 'starCount'.

[2017-09-10 15:35] aka-jain commented on #1135
Need update, anyone working on this? @RishabhJain2018

[2017-09-10 15:35] xamfy commented on #1135
I want to

[2017-09-10 15:36] aka-jain commented on #1214
@aayusharora we are already breaking the files into modular files, do you want it to be more modular or something else?

[2017-09-10 15:37] aka-jain commented on #1135
Sure @xamfy, please go ahead and let me know if you find any difficulty.

[2017-09-10 17:16] modestlearner opened #1237 "Add `^` symbol before url paths in url.py files."

[2017-09-10 17:19] modestlearner commented on #1237
Hey , I was just reading the documentation and code of EvalAI and found missing '^' on urls.py files

[2017-09-10 17:21] modestlearner commented on #1237
I want to fix this can I do that???
I am new to GitHub so please help me :D

[2017-09-10 17:24] xamfy commented on #1237
It has been raised earlier, see https://github.com/Cloud-CV/EvalAI/issues/1216

[2017-09-10 17:25] modestlearner commented on #1237
But I think the changes are still not accepted.

[2017-09-10 17:26] modestlearner commented on #1237
Because they are still missing from some files.

[2017-09-10 17:26] xamfy commented on #1237
It's currently being worked upon so look for a different issue.

[2017-09-10 17:27] modestlearner commented on #1237
Can you help me with that because I am new to GitHub.

[2017-09-10 17:27] xamfy commented on #1237
Join the gitter channel

[2017-09-10 19:45] RishabhJain2018 commented on #1237
@modestlearner Please join https://gitter.im/Cloud-CV/EvalAI for more details and discussion about the project.
I am closing this issue as #1223 already points to it.

[2017-09-10 19:45] #1237 closed

[2017-09-10 19:46] modestlearner commented on #1237
@RishabhJain2018 Cool!!!! Thanks!!!

[2017-09-10 19:58] Ram81 commented on #1228
@aka-jain count variable is being fetched from response that's why initially when there is no record of star challenge it fails. And this bug occurs only once, suppose if a person stars a challenge then he "unstar's" it then controller returns 0 as expected

[2017-09-10 20:03] aka-jain commented on #1228
Got your point @Ram81 , @RishabhJain2018 please do the require changes.
Also @Ram81 it will be good if we initialise the count variable with 0 value. Otherwise it might create problem somewhere.

[2017-09-10 21:07] #1225 closed

[2017-09-11 01:26] xamfy commented on #1046
Can I take this?

[2017-09-11 01:57] #1227 closed

[2017-09-11 02:10] #1188 closed

[2017-09-11 05:01] Ram81 commented on #1228
@aka-jain Sure I will do it.

[2017-09-11 05:52] RishabhJain2018 commented on #1046
@xamfy Sure go ahead!

[2017-09-11 07:17] RishabhJain2018 commented on #1228
@Ram81 I think we can handle it using the back-end case.Please refer PR #1239 for further details.

@aka-jain We can easily handle it using the back-end case. Please check PR #1239 for further details.

[2017-09-11 07:19] modestlearner opened #1240 "Unnecessary r' ' in the regular expressions in urls.py file"
I am not too sure about the issue but I think there's unnecessary r ' ' in the regular expression in urls.py file in analytics..

If this is a valid issue I will be glad to fix this.

[2017-09-11 07:24] RishabhJain2018 commented on #1240
@modestlearner No, since we are following pep8 guidelines for writing the code. Please refer https://stackoverflow.com/questions/22775697/how-to-specify-long-url-patterns-using-regex-so-that-they-follow-pep8-guidelines for more details.
Also let me know if you have further doubts.

[2017-09-11 07:24] #1240 closed

[2017-09-11 07:26] modestlearner commented on #1240
Okay thanks!!!!

[2017-09-11 07:50] modestlearner commented on #879
@deshraj Can you please tell me what we need to do exactly.

[2017-09-11 07:57] Ram81 commented on #1228
@RishabhJain2018 should I close this one #1235 then?

[2017-09-11 08:00] Ram81 commented on #1139
@deshraj can I take this up?

[2017-09-12 06:03] RishabhJain2018 commented on #1228
@Ram81 Yes you can take up any other issue :). I will take care of this issue.
Moreover, we are glad to see your contributions and dedication!

[2017-09-12 06:06] RishabhJain2018 commented on #1139
@Ram81 Yes sure. go ahead!

[2017-09-12 08:08] anirudhvenu commented on #1011
Hey @aka-jain has this been resolved? I'd love to take it if it hasn't yet.

[2017-09-12 08:28] anirudhvenu commented on #770
@aka-jain Is this issue done? I'd like to take it up if it hasn't been already.

[2017-09-12 08:46] anirudhvenu commented on #886
@deshraj is this still open? I would like to work on it if it is.

[2017-09-12 09:34] RishabhJain2018 commented on #886
@anirudhvenu yes it is open. go ahead!

[2017-09-12 09:36] RishabhJain2018 commented on #770
@anirudhvenu Please complete #886 first, then you can try this one. :)

[2017-09-12 17:25] deshraj commented on #1011
I think this is already resolved. Isn't it @aka-jain ?

[2017-09-12 17:30] deshraj commented on #1234
@isht3: the way you can improve is the code quality. You might want to use inheritance in the tests to decrease the number of lines but this is not on the top priority so I would recommend you building new features instead of working on this. Please close this if you are not planning to work on this. :)

[2017-09-12 17:30] #1228 closed

[2017-09-12 17:57] deshraj commented on #879
@modestlearner: This is quite critical and I would like to fix it myself. Can you please pick some other issue?

[2017-09-12 18:03] #1180 closed

[2017-09-12 18:08] #1087 closed

[2017-09-12 18:29] isht3 commented on #1189
@RishabhJain2018 Any updates?

[2017-09-12 18:31] RishabhJain2018 commented on #1189
@isht3 ohh..It got slipped from my mind. I will update soon :)

[2017-09-12 19:40] modestlearner commented on #879
@deshraj Sure

[2017-09-12 20:48] modestlearner opened #1241 "Port the Code to Python 3 and make it Python 2 compatible."
If this issue will be accepted I'll be glad to work on this.

[2017-09-12 22:07] deshraj opened #1243 "Update Facebook's logo on home page"
We would like to change the Facebook's logo with the one uploaded here.
![facebook-logo-preview](https://user-images.githubusercontent.com/2945708/30350572-41840eac-97e5-11e7-90a3-bc9808d0057d.png)

[2017-09-12 22:08] xamfy commented on #1243
Please assign me

[2017-09-12 22:08] deshraj commented on #1243
Sure @xamfy, go ahead. :)

[2017-09-13 07:44] isht3 commented on #1234
@deshraj Okay, thanks for the heads up!

[2017-09-13 07:44] #1234 closed

[2017-09-13 12:34] xamfy commented on #1243
![image](https://user-images.githubusercontent.com/19357995/30377600-f71fc8d2-98ad-11e7-8583-c1f51dff2c7c.png)
Should I change the size?

[2017-09-13 13:02] xamfy commented on #1243
![image](https://user-images.githubusercontent.com/19357995/30378743-db3deb0e-98b1-11e7-91d5-1b6096d86915.png)
How about this?

[2017-09-13 15:06] deshraj commented on #1243
@xamfy it would be nice if you can crop the facebook logo from top and bottom so that it's of similar size as others.

[2017-09-13 15:08] #1216 closed

[2017-09-13 15:09] xamfy commented on #1243
Sure, I'll do that. Alternatively we can get a fb wordmark logo from https://en.facebookbrand.com/ of the same quality.

[2017-09-13 15:09] xamfy commented on #1243
https://en.facebookbrand.com/assets has the required assets

[2017-09-13 15:24] xamfy commented on #1243
![image](https://user-images.githubusercontent.com/19357995/30385773-c62d4fd4-98c5-11e7-8d74-fbf07d97340a.png)
Is it ok?

[2017-09-13 15:41] xamfy commented on #1243
![image](https://user-images.githubusercontent.com/19357995/30386676-16f9bd1a-98c8-11e7-9a13-8f694e549f08.png)
Is this ok?

[2017-09-13 15:51] dhruvbatra commented on #1243
Can we please use the colored logo for VT?

[2017-09-13 15:59] xamfy commented on #1243
Sir, it is already colored, while taking screenshot I hovered over it.

[2017-09-13 16:12] dhruvbatra commented on #1243
Ah, I see. Thanks!

[2017-09-13 16:43] xamfy commented on #1243
![image](https://user-images.githubusercontent.com/19357995/30389554-c924b38e-98d0-11e7-8c43-b22511fd11b5.png)
@deshraj Is it ok?

[2017-09-13 16:45] #1243 closed

[2017-09-13 17:07] isht3 commented on #864
Hi, @deshraj @RishabhJain2018 To update the username after creation of account we should do a PUT request to `/api/auth/user/`, right? I'd like to test this for a bit, would it be best to do it through cURL or drf-docs?

[2017-09-13 17:42] xamfy commented on #1004
Can I take this up?

[2017-09-14 03:28] spiritus72 commented on #1209
Hello,

Is anyone already working on this? I will like to look into it.

[2017-09-14 14:16] isht3 commented on #1189
@RishabhJain2018 Cool! :+1:

[2017-09-14 17:22] dhruvbatra opened #1247 "Challenge List page should not require login"
What the title says.

Just like the VQA challenge details are not being auth-wall, everything else should be visible as well.

[2017-09-14 17:43] Ram81 commented on #1175
@RishabhJain2018 can I take this one?

[2017-09-15 03:02] xamfy commented on #1247
Can I take this?

[2017-09-15 03:28] #1209 closed

[2017-09-15 16:22] Ram81 commented on #1175
@deshraj @RishabhJain2018 can I take this one?

[2017-09-15 19:54] deshraj commented on #1175
@Ram81: sure. Assigning it to you. :)

[2017-09-15 20:17] RishabhJain2018 opened #1255 "Fix Remaining Submission Url in Challenge Controller"

[2017-09-15 20:21] #1255 closed

[2017-09-15 20:28] #1141 closed

[2017-09-15 21:55] RishabhJain2018 commented on #864
@isht3 Please refer here for the command https://pvcarrera.github.io/general/2015/03/18/curl.html. Moreover , you can use Postman client for the same. Let me know if you still have doubts.

[2017-09-16 03:40] isht3 commented on #864
@RishabhJain2018 I'll look into it! :smile:

[2017-09-16 12:04] isht3 commented on #864
@RishabhJain2018 Hi, I have analysed the issue. Since only the `PUT` request to the `/auth/user/` which contains `username` should be restricted, it would require writing a view to check the parameters passed, if it passes then pass it onto `rest_auth`, right?

[2017-09-16 19:14] RishabhJain2018 opened #1257 "Add new dependencies for date-time picker and editor."

[2017-09-16 19:58] RishabhJain2018 opened #1259 "Remove debugging statements from auth controller"
**Expected Output** : Remove `console.log` statements from `authCtrl.js` so that the lint warnings are removed.

[2017-09-19 18:48] Ayukha opened #1266 "Github and Twitter links are not working in dashboard footer"
The Hyperlink to Github and Twitter Page is not working in Footer area of the Dashboard Page.

Expected Behaviour: Clicking on the Github and Twitter logo should open their respective cloudcv profile

Observed Behaviour: Clicking on the Hyperlink does nothing.

Adding the URL in the href tag can solve the problem.

[2017-09-19 18:50] xamfy commented on #1266
Are you working on this?

[2017-09-19 18:54] RishabhJain2018 commented on #1266
Good catch @Ayukha . Please let me know if you are interested in working on this.

[2017-09-19 18:58] Ayukha commented on #1266
Yes i would like to work on this . @RishabhJain2018

[2017-09-19 18:58] RishabhJain2018 commented on #1266
**Issue** : The `github` and `twitter` link in dashboard footer aren't working. Please refer [here](https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/views/web/partials/dashboard-footer.html#L8)
**Solution**: We need to create a hyperlink to them.
**Hint**: Take reference from [here](https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/views/web/partials/footer.html#L8)

[2017-09-19 18:59] RishabhJain2018 commented on #1266
Great @Ayukha . Assigning this to you.
@xamfy Please feel free to take up any other issue from the list.

[2017-09-20 11:52] Marlysson commented on #1259
@RishabhJain2018 the ```console.log``` are in a context to show some error when occours a exception, just remove them or put something in place..

[2017-09-20 11:53] xamfy commented on #1259
Can I take this?

[2017-09-20 16:44] RishabhJain2018 commented on #1259
@Marlysson Yes, You need to remove them & you can send the same error to the user using `$rootScope.notify`. Please let me know if you are interested in working on this.

@xamfy If @Marlysson doesn't take this up, then you can. :)

[2017-09-20 18:02] Marlysson commented on #1259
@RishabhJain2018 Yes, I do.

I will send a pull request soon..

[2017-09-20 18:04] RishabhJain2018 commented on #1259
Great ! Assigning this to you.
@xamfy Please feel free to take up any other issue.

[2017-09-20 21:48] Marlysson commented on #1259
@RishabhJain2018 I'm searching from where came the ```notify``` method in $rootScope.. But don't found..

I too search in file and nothin..

Can you explain ..?

[2017-09-20 22:39] Ayukha commented on #1266
Done with the changes . Please review @RishabhJain2018

[2017-09-21 22:13] #1266 closed

[2017-09-22 15:06] deshraj commented on #1004
@xamfy sure. :)

[2017-09-22 15:59] xamfy commented on #1004
@deshraj  following are the images that should be removed:
[code]
Am I right?

[2017-09-23 06:10] deshraj commented on #1247
@xamfy: Yeah go ahead.

Before you start working on this, the deliverable of this issue is:

[] Show the list of all the challenges whether the user is logged in or not. The UI can be similar to what we have on the dashboard for listing all the challenges.

Please let me know if something is unclear.

[2017-09-23 07:05] spyshiv opened #1272 "Frontend (angular-ui-router): State change events are deprecated"
**Issue:**
In `angular-ui-router<=1.x`,  State change events are deprecated, DISABLED and replaced by Transition Hooks. So redirection and state change will not work if lnstalled version of `angular-ui-router` is `>=1.x`.
[More info](https://github.com/angular-ui/ui-router/wiki#state-change-events)

**How to Fix:**
* change bower dependencies `"angular-ui-router": "^0.3.1"` to  `"angular-ui-router

[2017-09-23 07:10] xamfy commented on #1272
I want to do this, should I just update the dependencies?

[2017-09-23 07:14] RishabhJain2018 commented on #1272
@xamfy I think you are currently working on #1247 . Please complete that first then you can take this up as it blocks the development of the whole project. Till then it is open for everyone. :)

[2017-09-23 08:19] Ayukha commented on #1272
Can i try ? @RishabhJain2018

[2017-09-23 09:11] RishabhJain2018 commented on #1272
@Ayukha Yes you can.

[2017-09-23 14:41] Ram81 commented on #1175
@deshraj Sorry for being late, I was busy with the #1139. I'll start with this right away.

[2017-09-24 05:50] isht3 commented on #1189
@RishabhJain2018 Should I start working on this? :smile:

[2017-09-24 05:52] isht3 commented on #1190
@RishabhJain2018 I'd like to work on this. :smile:

[2017-09-24 09:07] xamfy opened #1277 "RuntimeWarning: DateTimeField received a naive datetime"
This error occurs while running the tests.
See https://stackoverflow.com/questions/18622007/runtimewarning-datetimefield-received-a-naive-datetime
![image](https://user-images.githubusercontent.com/19357995/30781069-271fd94c-a136-11e7-8f19-c1997be6cd11.png)
Partial solution: change
[code]
in tests/unit/jobs/test_views.py to
[code]

[2017-09-24 14:41] xamfy opened #1278 "NoReverseMatch: Reverse for 'summary'"
While running the tests following error occurs:
[code]
Possible fix:
Add silk urls to urlpatterns

[2017-09-25 14:34] RishabhJain2018 commented on #1272
@spyshiv @deshraj @aka-jain I would prefer to go with the second approach of @spyshiv as in future many dependency conflicts can  be avoided by using the latest version of `angular-ui-router`. What do you say?

[2017-09-25 17:02] spyshiv commented on #1272
second approach 👍

[2017-09-26 05:09] #1259 closed

[2017-09-26 07:52] xamfy commented on #1247
@deshraj I've done the following things as of now:
1. Create a new route for all challenges
2. Create a new controller for that
3. New template for displaying the list of challenges

[2017-09-26 08:32] rdoume commented on #1241
I would love that

[2017-09-26 11:44] Marlysson opened #1280 "Methods of model redundant implemented"
In some models there are the method : ```get_attribute_model``` to get the your value, but your implementation don't there are nothing different , just a return.

There are some reason to this are implemented? And no a ```property``` ( if necessary )

[2017-09-26 12:06] isht3 commented on #1175
@Ram81 Are you working on this? :smile:

[2017-09-26 12:31] isht3 commented on #630
@RishabhJain2018 Can I take over?

[2017-09-26 12:31] isht3 commented on #1111
@the-dagger Can I take over? :smile:

[2017-09-26 12:36] the-dagger commented on #1111
@isht3 I've fixed this in #1136 already.
Maybe @deshraj can review it :)

[2017-09-26 13:29] RishabhJain2018 commented on #630
Yes sure! Assigning this to you!

[2017-09-26 13:40] RishabhJain2018 commented on #1280
@Marlysson Can you please explain the issue. I didn't get your point.

[2017-09-26 14:01] aayusharora opened #1282 "Error in Running EvalAI"
After the last Merge, the project is not able to work locally.
![screen shot 2017-09-26 at 7 29 17 pm](https://user-images.githubusercontent.com/12194719/30864437-365d657a-a2f1-11e7-9529-ffee7744803c.png)

[2017-09-26 14:03] RishabhJain2018 commented on #1282
@aayusharora Please update your dev.py file with `dev.sample.py` specifically the `INSTALLED APPS` section. I hope it will solve the issue.

[2017-09-26 14:16] RishabhJain2018 commented on #1282
@aayusharora I think the issue is resolved. Hence I am closing this. Please reopen if the problem still persists.

[2017-09-26 14:16] #1282 closed

[2017-09-26 14:17] Marlysson commented on #1280
Sure.
I was analysing the EvalAI code searching something to contribute and I saw this, by example:

https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/models.py#L67-L73

A ```get_*``` method just return the same value from model's django, then I asked because this method if haven't any implementation into them.

[2017-09-27 05:18] deshraj commented on #1280
@Marlysson I get your point of what you are trying to say. Those methods are implemented intentionally since we want to use these methods in the future to show the start and end date time in a different way than what it is being shown now.

Please feel free to take any other issues if you are interested in contributing to EvalAI. :)

[2017-09-27 05:18] #1280 closed

[2017-09-27 06:46] HargovindArora opened #1284 "Customising Django Admin according to EvalAI Project"
For a big project like this, the Django administration should be customised according to the project itself.
Like when we open the admin it states there "Django administration".
Insetad "EvalAi Administration" seems better.
Also, we can customize various apps admin and add a search bar and filters so that it may be easy for the administrator to query the admin panel of an app.
If you agree on this

[2017-09-27 06:51] RishabhJain2018 commented on #1284
@HargovindArora Yes, we can customise the Django Administration.
Can you please list down all the points what exactly you want to achieve like
- Changing Django Administration to EvalAI Administration.

Please come up with a detailed plan and then we are good to go!

[2017-09-27 07:22] HargovindArora commented on #1284
@RishabhJain2018 Changes like the following can be introduced in the Admin:

- Changing the name from "Django Administration" to "EvalAI Administration".

- We can edit some required fields of an attribute of a model in the list view itself and need not go in detail view.

- While in the list view of a model's value we can decide or arrange as to which column should be placed first according to yo

[2017-09-27 12:11] sehgalayush1 commented on #1284
@RishabhJain2018 Since it is a big task containing a lot of changes, I would like to help @HargovindArora with this issue.

[2017-09-27 20:02] RishabhJain2018 commented on #886
@anirudhvenu Any update on this ?

[2017-09-28 08:56] xamfy commented on #1277
@RishabhJain2018  Should I fix this?

[2017-09-28 10:04] RishabhJain2018 commented on #1277
Go ahead ! Assigning this to you.

[2017-09-28 10:34] Ram81 commented on #1175
@isht3 yeah I will be doing this 😃

[2017-09-28 11:34] RishabhJain2018 commented on #1284
@HargovindArora :
1. I agree with your first point. We can add it.
2. For the second point can you please give the list of fields that you want to edit in the list view.
3. For the third point , I think we are good to go with the current view. @deshraj What do you say?
4. For the fourth point , the filter for challenge is already there in challenge phase model. Can you please specifically list dow

[2017-09-28 12:08] rdoume opened #1286 "Composing Dockerfiles not properly working"
Hey, as requested on the gitter, I open an issue regarding the Dockerfile.
The expected behavior is to run the docker compose in order to have a full EvalAI ready.

For the observed behavior,various issues happens, mostly the nodejs image where sass can't be installed.
I know that switching the docker to an ubuntu16:04 image solve the issue.
However, the compose still does  not work, and especiall

[2017-09-28 15:32] HargovindArora commented on #1284
@RishabhJain2018 I have these list of changes which i think should be done in admin according to me:

1.

[2017-09-28 17:14] Ram81 commented on #1175
@deshraj whenever a submission is made and if at the end if status of submission is "submitted/accpeted" then I set the stderr file to none, right?

[2017-09-28 18:54] geekayush opened #1287 "Fix team page content placement and modify hyperlinks"
- Observed behavior

1) The heading 'Core Team' is hiding behind the navigation-bar.

![laptop](https://user-images.githubusercontent.com/22499864/30984609-67c2b564-a4ab-11e7-8831-5720caa9e1d0.jpg)

![phone](https://user-images.githubusercontent.com/22499864/30984639-7b7a8f00-a4ab-11e7-92bc-e852f1ec801d.jpg)

2) All the hyperlinks in team-cards open up in the same tab which is hindering the user-e

[2017-09-28 19:05] RishabhJain2018 commented on #1287
Good catch @geekayush .  Let me know if you are interested in working on this. :)

[2017-09-28 19:07] gabru-md commented on #1287
@RishabhJain2018 can i do this ?

[2017-09-28 19:09] RishabhJain2018 commented on #1287
@gabru-md Let's wait for @geekayush . If he doesn't take this up, then you are good to go :)

[2017-09-28 19:21] geekayush commented on #1287
@RishabhJain2018 I would like to solve this :)

[2017-09-28 19:22] RishabhJain2018 commented on #1287
Go ahead! @geekayush
@gabru-md Feel free to take up any other issue from the list. :)

[2017-09-28 20:04] deshraj commented on #1175
I am not sure if I am following you correctly here. Just to explain the deliverables here, if the submission state is `finished` then no `stderr file` should be generated since the submission has been successfully executed and there is no error.

Please let me know if I am not clear here.

[2017-09-28 20:05] deshraj commented on #1284
@HargovindArora I agree that these will be helpful but these are not the primary concerns as of now. I am closing this PR and will reopen whenever such requirement comes in.

[2017-09-28 20:05] #1284 closed

[2017-09-28 20:06] deshraj commented on #1286
@rdoume: would you mind sharing the error log here that you are getting? It would be easier to debug then.

[2017-09-28 23:27] deshraj opened #1288 "Add support editing a challenge details on UI"
## Current Status

Currently, we have all the APIs required for editing the challenge. UI needs to be implemented so that the challenge hosts can edit the challenge on their own.

## Deliverables

Note: There is a constraint that only challenge host should be able to edit the details on the frontend and hence the edit buttons should be avilable to the challenge hosts only.

1. Challenge host shoul

[2017-09-28 23:32] deshraj opened #1289 "Show a loader when a challenge zip configuration is submitted"
## Current Status

When a host tries to upload a challenge zip configuration and the zip config is huge file, then he has no clue that what is happening at the backend: whether the file is being uploaded or not.

## Deliverables

We would want to show a loader till the request is completed.

[2017-09-28 23:40] deshraj opened #1290 "Add a boolean field to challenge to make it featured challenge"
## Current behavior

Currently, the first challenge is considered as the featured challenge on EvalAI. We would like to change this and the admin should have the functionality to choose which challenge should be featured challenge.

## Deliverables

- [x] Add a new field in the challenge model which makes a challenge featured
- [x] Don't forget to name the migration

[2017-09-28 23:45] deshraj opened #1291 "Change the logic to show featured challenge"
## Current behavior

Currently, the challenge whose primary key is 1 is shown as the featured challenge on EvalAI. We would like to change it and show the challenge which has the featured challenge flag set as True in the database.

## Dependency : #1290

## Deliverables

- [ ] Update the get challenges API to add support for the filtering the featured challenges as a query parameter "featured=Tru

[2017-09-28 23:46] deshraj commented on #1291
Also, this depends on #1290

[2017-09-29 01:52] varunagrawal commented on #1286
This seems to be something I should be able to quickly fix.
@rdoume can you please paste the error logs here?

[2017-09-29 02:46] sehgalayush1 commented on #1290
Hi sir, can I take up this issue?

[2017-09-29 03:01] deshraj commented on #1290
@sehgalayush1 sure, go ahead. :)

[2017-09-29 03:02] sehgalayush1 commented on #1290
@deshraj Please clear something for me, You want the default value of the featured field to be false right?

[2017-09-29 03:09] sehgalayush1 commented on #1290
Also, should i just push the new code in the master of my fork and create a PR or should I create a new branch?

[2017-09-29 03:44] xamfy commented on #1290
@sehgalayush1 Please make a new branch for that

[2017-09-29 04:50] xamfy commented on #1291
@deshraj I'm done with #1277. Can I work on this?

[2017-09-29 04:53] sehgalayush1 commented on #1291
@deshraj @xamfy Actually since this issue was related to #1290 I already started working on this as I am finished with #1290 . So should I go through with this?

[2017-09-29 05:27] Ram81 commented on #1175
@deshraj understood

[2017-09-29 07:22] RishabhJain2018 commented on #1291
@sehgalayush1 @xamfy Since this issue requires both front-end and backend changes, we will break it into two PR's.
1. For updating the API and writing its tests.
2. For updating the controller and the view.
Since both of you are interested in working on this. Please let us know which part you are working on. :)

[2017-09-29 07:27] xamfy commented on #1291
@RishabhJain2018 first one

[2017-09-29 07:35] sehgalayush1 commented on #1291
@RishabhJain2018 I'll work on the second one.
@xamfy Please add a /challenge/featured route in the get_all_challenges API, so that only challenges that have featured=True can be fetched and I'll modify the controller to fetch challenges from that url and display them.

[2017-09-29 07:44] Ram81 commented on #1175
@deshraj when I made a submission it didn't generate any stderr file in submission folder
![submission](https://user-images.githubusercontent.com/16323427/31005864-201d7c22-a518-11e7-978f-aafaae3cb82b.png)

[2017-09-29 08:19] RishabhJain2018 commented on #1291
Awesome!

[2017-09-29 09:29] rdoume commented on #1286
Ok, so I isolated the problem with the evalai_nodejs docker.
When running the compose, the evalai_nodejs container stops, and the logs says:

However when i run as a standalone the image evalai_nodejs, this is my result :

I tried to play around with this issue, but as it's my first interaction with gulp and node, nothing really came out of it.

[2017-09-29 09:44] RishabhJain2018 commented on #1288
@deshraj I would like to take lead on this.

[2017-09-29 22:26] deshraj commented on #1288
Sure. Assigning it to you.

[2017-09-29 22:29] #1277 closed

[2017-09-29 22:29] deshraj commented on #1286
Thanks @varunagrawal for taking lead on this. Let me know if you need help with something in this.

[2017-09-29 22:35] deshraj commented on #1175
The screenshot that you have shared above seems fine to me but I am talking about the finished state. When a submission gets the status `finished`, then there should be no stderr file generated. Basically, you have to add a check here https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/submission_worker.py#L401 which checks if the submission status is `finished` or not and based on that

[2017-09-29 22:43] deshraj commented on #1290
Reopening this issue since one part of this issue is still not resolved.

[2017-09-29 22:53] deshraj commented on #1190
@isht3: do you suggest a way to implement this? We have been brainstorming about this. Let us know if you have some ideas about how to do this.

[2017-09-30 01:58] deshraj opened #1294 "'Dataset split with that codename already exists' error"
## Current Scenario

When a user creates a challenge using a zip configuration that has some dataset split codename, then the challenge is created successfully. If he tries to create a similar challenge with similar dataset split name then he gets an error that `Dataset split with that codename already exists` which should not happen since different challenges can have same dataset split codename.

[2017-09-30 05:22] Rahuliamthebest commented on #1291
I see!!

[2017-09-30 06:13] RishabhJain2018 commented on #1290
@deshraj Which part is still left?

[2017-09-30 07:00] RishabhJain2018 opened #1295 "Increase the data upload limit."
## Current Behaviour
By default django supports only 2.5 MB of the data to be uploaded on the web app. Refer [here](https://docs.djangoproject.com/en/1.10/ref/settings/#data-upload-max-memory-size) for more info.

## Effects
Due to the low upload limit the file in challenge creation using zip isn't being uploaded on the app as the size exceeds.

## Expected Behaviour
The upload limit must be incre

[2017-09-30 08:40] memclutter commented on #1295
Hello! I took the task

[2017-09-30 08:55] RishabhJain2018 commented on #1295
@memclutter Go ahead! :)

[2017-09-30 09:22] Himanshi-Khandelwal commented on #1294
@deshraj can you explain the second point of Deliverables

[2017-09-30 21:50] deshraj commented on #1295
Edit: there are challenges where the challenge configuration file is of more than 100MB. We would like to update the size to 500MB

[2017-10-01 04:39] deshraj commented on #1189
Just checked and this is working properly. Sorry for bothering. :)

[2017-10-01 04:39] #1189 closed

[2017-10-01 04:40] deshraj commented on #1290
Sorry, this one is done. Closing again.

[2017-10-01 04:40] #1290 closed

[2017-10-01 08:01] isht3 commented on #630
Hi, I looked into this, and we can use two methods.

- Setting `ACCOUNT_EMAIL_VERIFICATION = 'mandatory'` will send a Email every time they log in and if the user is not verified, where we can set a cool-down time for sending email and can be done in two lines of code. The downside to this is that, the user won't have a control over when the email will come the second time.

-  The second is the a

[2017-10-01 17:18] RishabhJain2018 opened #1298 "Add cancel button in update submission metadata"
## Current Behaviour
The update submission is a modal form which has only submit button to submit and it can be disabled using the `Esc` key. Please see the screenshot.
![cancel](https://user-images.githubusercontent.com/12206047/31057087-5bc6995a-a6fa-11e7-84e3-21307119df3c.jpg)
## Expected Behaviour
We need to add a cancel button near the submit button so as to make the disable feature more user

[2017-10-01 19:10] RishabhJain2018 commented on #1288
@deshraj Please take a look at the UI.
![cancel1](https://user-images.githubusercontent.com/12206047/31058004-333bc70c-a70a-11e7-8277-eec6c129d6c8.jpg)

[2017-10-01 19:12] deshraj commented on #1288
Challenge description will be really long so it would be nice if you can increase the width and height of the dialog box. Rest this looks good to me.

[2017-10-02 11:21] RishabhJain2018 opened #1304 "Add challenge filtering using featured parameter."
We need to add filtering in challenge model on the basis of `featured` parameter.

[2017-10-02 11:33] pohzipohzi commented on #1304
@RishabhJain2018  this sounds interesting. Can you provide more details?

[2017-10-02 12:06] RishabhJain2018 commented on #1304
@pohzipohzi Currently the challenges are filtered in django admin using [these](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/admin.py#L18) fields. We need to add `featured` field to it.
Please let me know if you need more help.

[2017-10-02 13:32] pohzipohzi commented on #1304
@RishabhJain2018 I made a PR based on my understanding of what you posted

[2017-10-02 15:22] mooshu1x2 commented on #1286
I also wanted to leave a note that endusers who want to build the docker containers need to rename the settings/dev.sample.py file to settings/dev.py in order for the submission-worker container to run. This should also be documented in the README.md.

[2017-10-02 15:29] varunagrawal commented on #1286
I thought this was already documented in the Readme. I remember reading this, but thanks for the update. I'll update it accordingly.

[2017-10-02 15:39] mooshu1x2 commented on #1286
Yes, I see it now, but it wasn't part of the docker instructions. I considered those two different deployment methods (as in the docker worked out of the box with no configuration).

[2017-10-03 14:15] Ram81 commented on #1175
@deshraj can you share a sucessful submission file for testing the changes made?

[2017-10-03 22:30] deshraj commented on #1286
@mooshu1x2 thanks for the keen observation. :) Opening an issue for the same.

[2017-10-03 22:30] #1298 closed

[2017-10-03 22:33] deshraj opened #1308 "Add instructions to update settings.dev.py in Docker Installation section"
## Deliverables

- [ ] Add a section to add instructions about renaming `dev.sample.py` to `dev.py` in the docker installation section in docs. See https://github.com/Cloud-CV/EvalAI/blob/master/README.md (4th point of installation instructions) for the text to add.

[2017-10-03 22:34] deshraj commented on #1308
Pointed out in #1286

[2017-10-03 22:52] #1304 closed

[2017-10-03 22:55] #864 closed

[2017-10-03 23:34] cwiggs commented on #1308
I can work on this.

[2017-10-04 00:48] #1308 closed

[2017-10-04 02:03] cwiggs commented on #1295
My PR #1310 increases the max file upload size to 500MB.

[2017-10-04 05:38] anirudhvenu commented on #886
@RishabhJain2018 Sorry for the delayed response. I changed update-profile.html, profile.html and updateProfileCtrl.js, however the affiliation is still not getting updated in the back-end. I have submitted a PR, would you be able to take a look at it?

[2017-10-04 17:00] RishabhJain2018 commented on #886
@anirudehdev Yes sure. I will review it :)

[2017-10-05 05:33] #1257 closed

[2017-10-05 11:06] isht3 commented on #1294
@deshraj I'm quite familiar with this error, can I look into it? :smile:

[2017-10-05 11:28] isht3 commented on #1190
@RishabhJain2018 I will definitely look into this issue and get back to you with few days.

[2017-10-05 19:00] deshraj commented on #1294
Sure @isht3. :)

[2017-10-05 19:06] RishabhJain2018 commented on #1288
Currently, I am doing the First part(`Editing Challenge`) of the issue, **the second part is still open to everyone**, as we will have two PR's for the same issue.
Please make the UI as shown in the above comment.
Let me know if there is any problem.

[2017-10-05 19:35] RishabhJain2018 opened #1312 "Remove models from Accounts app"
**Expected Behaviour** : Remove the `Affiliation` and `UserAffiliation` model from the `Accounts` app.
**Deliverables:**
- [ ] Remove the `Affiliation` and `UserAffiliation` model from accounts app.
- [ ] Create and name the migration.

[2017-10-05 19:37] markslingerland commented on #1312
I'll pick this one up

[2017-10-05 19:38] RishabhJain2018 commented on #1312
@markslingerland sure. Assigning this to you!

[2017-10-05 20:53] RishabhJain2018 commented on #1113
@deshraj Does this error still exists?

[2017-10-05 20:54] deshraj commented on #1113
Seems to be fixed. Sorry for the inactivity on this thread.

[2017-10-05 20:54] #1113 closed

[2017-10-05 20:55] RishabhJain2018 commented on #1112
@aayusharora Does this error still exists ? Can you please check once.

[2017-10-05 21:01] deshraj commented on #630
@isht3 thanks for the suggesting the two methods. The second method definitely sounds like a good way to proceed with. Please let me know if you are interested in working on this.

[2017-10-05 21:02] deshraj commented on #668
Yeah, it still exists.

[2017-10-05 21:03] deshraj commented on #781
Karma is already set. Closing this one.

[2017-10-05 21:03] #781 closed

[2017-10-05 21:03] deshraj commented on #837
Thanks for noticing @xamfy. Closing this.

[2017-10-05 21:03] #837 closed

[2017-10-05 21:05] RishabhJain2018 commented on #1101
Closing this one , as we plan to work on it later.

[2017-10-05 21:05] #1101 closed

[2017-10-05 21:05] deshraj commented on #866
Closing this since installation works on all platforms now.

[2017-10-05 21:05] #866 closed

[2017-10-05 21:07] RishabhJain2018 commented on #1080
@rishabhja Any update on this ?

[2017-10-05 21:09] deshraj commented on #1111
Closing this since we decided to move with the existing version of packages.

[2017-10-05 21:09] #1111 closed

[2017-10-05 21:13] RishabhJain2018 commented on #630
Yes, the second method is a good way. :+1:

[2017-10-05 21:25] #1004 closed

[2017-10-06 10:29] isht3 commented on #630
@deshraj I already started on the issue! :smile:

[2017-10-06 11:06] RishabhJain2018 opened #1314 "Add support to update the user profile."

[2017-10-06 11:33] HargovindArora commented on #1289
@deshraj  I'm working on it.

[2017-10-06 17:17] deshraj commented on #1175
Sorry @Ram81, I missed this somehow. Can you please tell me the name of the challenge for which you want to do  the submission?

[2017-10-06 19:27] xamfy commented on #1135
Sorry, couldn't work, you can assign this to someone else.

[2017-10-06 19:43] RishabhJain2018 commented on #1135
Ok sure. :+1:

[2017-10-07 07:28] Ram81 commented on #1175
@deshraj https://github.com/Cloud-CV/EvalAI-Examples/tree/master/vqa_challenge vqa challenge

[2017-10-09 16:40] HargovindArora commented on #1312
@RishabhJain2018 can I look into this?

[2017-10-09 16:47] RishabhJain2018 commented on #1312
@markslingerland is working on it. @HargovindArora Please take up any other issue from the list. :)

[2017-10-09 18:39] HargovindArora commented on #1312
Sure @RishabhJain2018 .

[2017-10-10 17:16] HargovindArora opened #1319 "Adding respective organizations links to the images and footer improvements."
![screenshot from 2017-10-10 02-18-30](https://user-images.githubusercontent.com/22341493/31400054-e7163dc2-ae0b-11e7-9b2d-bbdacbbe1c7a.png)

On the homepage of EvalAI, the section containing the list of Organizations that use EvalAI should have clickable links to their respective website pages so that any user can see what that organization does and that organization's particular information.

![

[2017-10-10 21:12] mooshu1x2 commented on #1257
I'm getting an reference error "angular not found" when trying to do a clean build. Please investigate. I was able to traceback this error to this commit.

[code]

[code]

[2017-10-10 21:56] varunagrawal commented on #1286
Ok great that the README issue was taken care of.
Quick update: It seems that the `sass` gem is failing to install since we are using Ubuntu 14.04 as our base image. I have constrained the gem version to successfully install but we should begin a conversation on updating the base image as well. :)

[2017-10-11 16:29] mooshu1x2 commented on #1257
You forgot to add the dependency angular-material-datetime-picker in bower.json.

[2017-10-11 21:25] varunagrawal commented on #1286
@rdoume @deshraj aaaand this is fixed!

[2017-10-12 09:08] rdoume commented on #1286
Yup, indeed everything look fine running the compose.
However it  seems the django docker cannot see the files, as when I make a request on localhost:8888, I get this on the page :

the logs on the docker of the Django shows me this :

[2017-10-12 13:08] isht3 commented on #1135
@RishabhJain2018 Since I'm not able to work on the submission issues due to a migration error, can I look into this meanwhile?

[2017-10-12 13:14] isht3 opened #1321 "Stop showing success message for unregistered E-mails while resetting password."
## Problem
When we try to reset password, it asks us for our Email to send the link. Now after we click submit, even if the email is not registered, it still says reset link sent.

![](https://image.prntscr.com/image/-xQ-2t8VRWSUocZt0exp9Q.png)

![](https://image.prntscr.com/image/uSew-wojRB6GoRY9HziKVQ.png)

What I noticed from other sites were that, It should be actually be saying the email is n

[2017-10-12 15:01] deshraj commented on #1175
@Ram81 please don't use VQA challenge for debugging purposes. Please use the default challenge that we create using the command `python manage.py seed` and use any file to submit as a submission file.

[2017-10-12 15:01] deshraj commented on #1175
You could also use https://github.com/Cloud-CV/EvalAI/blob/master/examples/example1/test_annotation.txt as a submission file.

[2017-10-12 17:31] deshraj commented on #1321
This is being handled by Django allauth so that the email id of registered users shouldn't get exposed. Hence, we don't need this feature.

[2017-10-12 17:31] #1321 closed

[2017-10-12 18:44] isht3 commented on #1321
@deshraj Okay, cool. :smile:

[2017-10-13 11:37] isht3 commented on #1175
@Ram81 Are you using the Jasmine challenge to debug?

[2017-10-13 16:15] varunagrawal commented on #1286
@rdoume that's simply because the favicon is missing in the Django code. Having a favicon doesn't make much sense because it is the backend and doesn't output any html files. :)

[2017-10-13 23:56] deshraj commented on #1175
@isht3 FYI: the name of the challenge can be anything since it is generated randomly. Anyways, the name of the challenge doesn't matter. The submission file that I shared will work with any of the challenge generated using `python manage.py seed` script.

[2017-10-14 13:49] Ram81 commented on #1175
@deshraj I will use test_annotation file or try using default challenge

[2017-10-14 17:27] RishabhJain2018 opened #1323 "Add dependency for angular trix editor."

[2017-10-14 18:21] isht3 commented on #1175
@deshraj The problem was that seed command was not creating a default challenge for me. All the migrations were done but the challenge is not coming up.

[2017-10-15 07:43] Ram81 commented on #1175
@deshraj Same happens with me when I seed there is no default challenge created

[2017-10-15 12:02] isht3 commented on #1175
@Ram81 You're getting the migration error?

[2017-10-15 12:13] HargovindArora commented on #1319
Hey anyone please review it. Should it be done? :smile:

[2017-10-15 12:24] RishabhJain2018 commented on #1319
@HargovindArora I missed it . I will do it by tonight.

[2017-10-16 02:47] deshraj commented on #1319
@HargovindArora closing this issue since we don't want to have the link to images of different organizations. I removed it intentionally in my previous pull request.

[2017-10-16 02:47] #1319 closed

[2017-10-16 02:48] deshraj commented on #1175
Interesting. Let me try on my local machine and then I will get back to you.

[2017-10-16 02:59] deshraj commented on #1286
@varunagrawal: sorry, I have been travelling and didn't get the chance to review this one. I will review this soon and will let you know that status.

[2017-10-16 03:33] varunagrawal commented on #1286
@deshraj chill dude. Enjoy Mountain View :)

[2017-10-16 05:25] HargovindArora commented on #1319
Ohkay . Got it @deshraj :smile:

[2017-10-16 07:06] isht3 opened #1325 "Unable to configure project to work properly on virtualenv with Python-3 default."
- ## Observed Behaviour

While installing the project on a `virtualenv`, if the `virtualenv` was installed through Python-3 then the environment's default will be Python-3 if not specified otherwise. The problem is that if the project is installed on a `virtualenv` with default Python 3 it will lead to very unexpected errors, which are very hard to solve and the submission and challenge system won

[2017-10-16 07:09] RishabhJain2018 commented on #1325
@isht3 Please check the `Readme.md`, the python version with commands for installation are already mentioned there.

[2017-10-16 07:22] isht3 commented on #1325
@RishabhJain2018 `virtualenv --python=/usr/bin/python2.7 venv` Adding this command will make the `virtualenv` be installed with Python2.7 default otherwise in the new versions it'll be Python3.

[2017-10-16 07:26] isht3 commented on #1175
@Ram81 What version of Python is installed on your `Virtualenv`?

[2017-10-16 09:14] Ram81 commented on #1175
@isht3 Python 2.7

[2017-10-16 09:46] isht3 commented on #1175
@Ram81 What do you get when you run the seed command?

[2017-10-16 09:52] Ram81 commented on #1175
@isht3 we can talk on gitter let's discuss details about only issues here

[2017-10-16 10:31] isht3 commented on #1294
@deshraj Hi, Since `('codename', 'challenge')` exists, is `('pk', 'codename')` is needed?

[2017-10-16 11:17] deshraj commented on #1325
@isht3: instead of changing the command, can we just add in the README somewhere which says that EvalAI supports Python2.x for now?

[2017-10-16 12:28] isht3 commented on #1325
@deshraj Yes, that would be nice. :+1:

[2017-10-16 17:04] rdoume commented on #1286
@varunagrawal I agree with that, but then I do not understand why this is happening in the logs.

[2017-10-16 19:42] isht3 commented on #1135
@RishabhJain2018 The progress bar is controlled through angular right? Is `startLoader` the command to start the loader?

[2017-10-19 06:45] #1325 closed

[2017-10-19 16:53] isht3 commented on #1190
@deshraj Since the functions of the major libraries like `numpy`, `scipy` and `matplotlib` won't change much across versions, how about maintaining one submission worker and then importing the libraries in the `submission_worker` according to the challenge we are running.

[2017-10-20 19:48] #1323 closed

[2017-10-21 05:33] #1175 closed

[2017-10-21 05:46] Ram81 commented on #1157
@deshraj can I take this ?

[2017-10-21 05:47] #1139 closed

[2017-10-21 05:50] HargovindArora commented on #1312
@deshraj @RishabhJain2018 Working on it!

[2017-10-21 05:51] deshraj commented on #1286
@rdoume: there is a high probability that this is due to caching on the browser. It is trying to request for `/favicon.ico` which is not there.

[2017-10-21 05:56] deshraj commented on #1157
@Ram81: looks like no one is working on this. Feel free to work on this.

[2017-10-23 02:51] sblcook commented on #1272
I can give the second one a shot if @Ayukha isn't working on it. I only found three uses of the old method when I searched.

[2017-10-23 20:05] RishabhJain2018 commented on #1011
@aka-jain @deshraj Is this still an issue ?

[2017-10-23 20:07] RishabhJain2018 commented on #1112
@aayusharora Any update on this ?

[2017-10-23 20:09] deshraj commented on #1011
I am not sure. @aka-jain can you please reply to this thread?

[2017-10-23 20:44] RishabhJain2018 opened #1333 "Typo Fix in Documentation"
**Current Documentation** : In `Architecture Decision` the operations are described as `CURD`.
**Related Links** : https://github.com/Cloud-CV/EvalAI/blob/master/docs/source/architecture_decisions.md#url-patterns
**Solution** : The operations must be described as `CRUD` according to the convention.

[2017-10-23 20:56] jakecarr commented on #1333
Hey, I can pick this one up for you if you like.

[2017-10-23 20:58] RishabhJain2018 commented on #1333
@jakecarr Yes sure. Go ahead!

[2017-10-25 04:55] #1333 closed

[2017-10-25 05:10] #1288 closed

[2017-10-25 05:24] #1312 closed

[2017-10-26 18:35] aka-jain commented on #1272
Second aproach doesn't seem like a good option for now as we are using state related functions heavily in project and updation of ui router might break functionality. We can only continue with the second approach once we are confident with the change.
Let's stick to the same version or first list all the functions that has been depricated in current version of UI ROUTER.

[2017-10-26 18:52] MatejMecka opened #1337 "Show meaningful error message when account not activated"
_Thanks for taking the time to report a bug in the EvalAI project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/EvalAI/issues)._

If you'd like to report a bug, please include the following information:
- the expected behaviour -> It should display a Error Page saying i

[2017-10-26 18:57] deshraj commented on #1337
@MatejMecka this is done intentionally so that unverified accounts cannot use EvalAI for creating teams, challenges, participant teams etc.

[2017-10-26 19:00] aka-jain commented on #1337
@deshraj I think this issue is related to error message, as per screenshot it is showing false rather it should say some valid message. Thoughts?

[2017-10-26 19:01] MatejMecka commented on #1337
shouldn't it atleast be a much more descriptive message. Right now it's
kinda a weird Error message.

On Thu, Oct 26, 2017 at 8:57 PM Deshraj Yadav <notifications@github.com>
wrote:

--
----------------------------------------------------
Matej Plavevski
Google Code In Finalist for CCExtractor Development 2016!

Facebook: https://www.facebook.com/matej.plavevski
Twitter: https://twitter.com/MatejM

[2017-10-26 19:35] aka-jain opened #1338 "Navigation menu is not coming on mobile after login."
Navigation menu icon is not coming up on mobile for logged in user.

[2017-10-26 19:47] deshraj commented on #1337
I see. Sorry for the confusion @MatejMecka. Reopening this one and updating the title of the issue for more clarity.

[2017-10-26 19:48] deshraj commented on #1337
Feel free to work on this if you are interested in working on this one.

[2017-10-26 19:55] aayusharora commented on #1272
Not sure @spyshiv @aka-jain If we are planning long-term goals here, removing `^` is the solution for temporary purposes, I am in doubt that we need to maintain different packages like them too and have to restrict ourselves to the old AngularJS.

[2017-10-26 20:07] aka-jain commented on #1272
I also agree to go with the new version but first we have to be confident about all the changes that have been made to new update.
I've already tried out the latest version of UI router and there are lots of changes. We should only continue with the new version when all the changes and usage get listed down otherwise chances of code breakage will become high.

Let's do a small POC on this and will

[2017-10-26 20:13] aayusharora commented on #1272
Agree @aka-jain, which UI router version have you tried ?

[2017-10-27 02:15] deshraj opened #1339 "Setup "Deploy to Heroku" option for EvalAI"
Follow the instructions given here: https://devcenter.heroku.com/articles/heroku-button

[2017-10-27 08:25] isht3 commented on #1339
@deshraj I'm quite familiar with heroku, I've deployed a few apps onto it. Can I try solving this?

[2017-10-27 12:52] HargovindArora opened #1340 "Down Chevron button not working on Mobile Phones"
![screenshot_20171027-011942](https://user-images.githubusercontent.com/22341493/32104752-6620aee2-bb43-11e7-9b97-3ca989ddd5b5.png)

The Down Chevron button linked with "See More" is not working on mobile phones.
Browser: Chrome

[2017-10-27 14:17] AmosHason commented on #1337
On it.

[2017-10-27 18:03] RishabhJain2018 commented on #1340
@HargovindArora can you please tell for which screen size it is not working ?

[2017-10-27 18:06] RishabhJain2018 commented on #1337
@AmosHason Let's ask @MatejMecka if he is interested in working on this. If not, then you can take this up. :)

[2017-10-27 18:57] MatejMecka commented on #1337
@RishabhJain2018 Since I created it I guess i should try lol

[2017-10-27 19:01] RishabhJain2018 opened #1341 "Increase the width of edit details dialog box"
**Observed Behaviour :**
![dialog_box](https://user-images.githubusercontent.com/12206047/32119513-22efbffc-bb73-11e7-8e69-4f9ba7e78a34.jpg)
The dialog box looks small in the screenshot.

**Expected Behaviour:** Increase the width of the dialog box suitably and paste the screenshot in the PR.

[2017-10-27 19:02] RishabhJain2018 commented on #1337
@MatejMecka Okay then go ahead !
@AmosHason Please feel free to take up any other issue from the list. :)

[2017-10-27 19:08] RishabhJain2018 opened #1342 "Add support for editing a challenge phase details"
## Current Status

Currently, we have all the APIs required for editing the challenge phase. UI needs to be implemented so that the challenge hosts can edit the challenge phase details on their own.

## Deliverables

Note: There is a constraint that only challenge host should be able to edit the details on the frontend and hence the edit buttons should be available to the challenge hosts only.

Ed

[2017-10-27 19:12] vikneshwar commented on #1341
Hi , i would like to take this up.

[2017-10-27 19:12] RishabhJain2018 commented on #1341
@vikneshwar Go ahead!

[2017-10-28 12:48] isht3 commented on #1342
@RishabhJain2018 Can I take this up?

[2017-10-28 17:37] RishabhJain2018 commented on #1342
@isht3 Yes sure. Go ahead !

[2017-10-28 17:52] RishabhJain2018 commented on #1339
@isht3 Please take up one issue at a time so that it won't be a bottleneck for the overall development of the project. I think you are solving #1342 . Please complete that first then you can take this up, till then it is open to all :)

[2017-10-28 18:10] HargovindArora commented on #1340
@RishabhJain2018 It's 5.5-inch screen and 720 x 1280 pixels.

[2017-10-28 18:19] AmosHason opened #1343 "Installation requirements/dependencies issues"
# System

**OS**: Ubuntu 16.04
**Python**: 2.7.12
**pip**: 9.0.1
**git**: 2.7.4
**PostgreSQL**: 10.0
**RabbitMQ**: 3.6.12
**virtualenv**: 15.1.0

# Expected Behavior

Following the steps in the repository README, you should not encounter any issues.

# Actual Behavior

## 1. While executing "pip install -r requirements/dev.txt" (step 3)

Collecting psycopg2==2.6.2 (from -r requirements/common.txt

[2017-10-28 18:31] isht3 commented on #1339
@RishabhJain2018 Okay, cool!

[2017-10-28 23:09] AmosHason commented on #1338
I would like to work on this.

[2017-10-30 07:16] deshraj opened #1345 "Write documentation for preparing evaluation script"
## Deliverables

We already have the documentation for creating a challenge. We still don't have the documentation which tells the challenge hosts "How to prepare the evaluation script?" for their challenge.

This issue requires proper understanding of how the evaluation script is executed when a submission is made. You should also know how the submission worker is evaluating the submissions at th

[2017-10-30 07:18] deshraj commented on #1343
@AmosHason closing this since you mentioned on the gitter channel that you were able to solve this by installing sass on your machine.

[2017-10-30 07:26] deshraj opened #1346 "Add feature to invite users to participant team using URL"
## Deliverables

Add a feature to invite new team member to a participant team using a Unique URL. Also, don't forget to write unit tests. :)

## Steps

1. **user1** enters the email of his teammate (let's say **user2**)
2. Send an email to **user2** (if he/she is registered on EvalAI) with a unique URL
3. **user2** clicks on the URL to accept the invitation to the team.
4. *user1* gets an email s

[2017-10-30 07:27] deshraj opened #1347 "Add feature to invite users to host team using URL"
Very similar to #1346.

## Deliverables

Add a feature to invite new team member to a participant team using a Unique URL. Also, don't forget to write unit tests. :)

## Steps

1. **user1** enters the email of his teammate (let's say **user2**)
2. Send an email to **user2** (if he/she is registered on EvalAI) with a unique URL
3. **user2** clicks on the URL to accept the invitation to the team.
4.

[2017-10-30 08:09] #1241 closed

[2017-10-30 15:02] RishabhJain2018 opened #1350 "Remove unused code from ChallengeCreate Controller."
**Expected Behaviour:** Remove the commented code after line `84` from controller `ChallengeCreate.js`.
**Hint:** https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/js/controllers/challengeCreate.js#L84

[2017-10-30 15:09] Ayukha commented on #1350
Can i take this up?

[2017-10-30 15:13] RishabhJain2018 commented on #1350
Sure go ahead!

[2017-10-30 15:25] AmosHason commented on #1343
@deshraj it only solves the fifth issue. The README should include a step for installing sass.

However, all of the other issues are due to requirements/dependencies gaps, and can be solve by editing those files.

[2017-10-31 11:51] Ayukha commented on #1341
@RishabhJain2018  Can i take this up if @vikneshwar  is not working on it ?

[2017-10-31 14:36] RishabhJain2018 commented on #1341
@vikneshwar Any update on this ?
@Ayukha Let's wait for him, if he is not working on it then you can take this up :-)

[2017-11-02 10:02] RishabhJain2018 opened #1357 "Add comments in the codebase for analytics controller."

[2017-11-02 10:03] RishabhJain2018 opened #1358 "Add comments in the codebase for auth controller"

[2017-11-02 10:06] RishabhJain2018 opened #1359 "Research and suggest Frequently Asked Questions."

[2017-11-02 10:08] RishabhJain2018 opened #1360 "Tutorial to participate in a challenge."
**Description:** Write a tutorial showing how to participate in a challenge on EvalAI. Stepwise instructions are expected.

**Hint:** Go to [https://evalai.cloudcv.org](https://evalai.cloudcv.org) and participate in a challenge.

[2017-11-02 10:19] prajwalgatti commented on #1350
I would like to try this. This would be my very first contribution. Please allow me to

[2017-11-02 10:21] RishabhJain2018 opened #1361 "Remove unused code from challengeListCtrl."
Hint: Remove the code from the line 17 to 23.

[2017-11-02 10:23] RishabhJain2018 commented on #1350
@prajwalgatti Go Ahead !

[2017-11-02 10:39] prajwalgatti commented on #1350
I made a pull request. Please review

[2017-11-02 10:54] RishabhJain2018 opened #1364 "Try and suggest different color schemes for pop up info notifications"
**Description:** The color scheme must be in accordance with our new UI. Student should try different colours with notification toast so as to match the UI.

[2017-11-02 11:08] HargovindArora commented on #1357
@RishabhJain2018 I would like to work on this. Would you guide me how to proceed? :)

[2017-11-02 11:09] HargovindArora commented on #1358
@RishabhJain2018 Since this is similar to #1357 . Can I take this up?

[2017-11-02 11:11] HargovindArora commented on #1361
@RishabhJain2018 Is this done?

[2017-11-02 11:14] HargovindArora commented on #1360
@RishabhJain2018 Can I take this up? :)

[2017-11-02 17:05] HimanshuAwasthi95 commented on #1364
Is der any one work on it

[2017-11-02 17:05] HimanshuAwasthi95 commented on #1364
or should I take this up ?

[2017-11-02 17:44] isht3 commented on #1342
@RishabhJain2018 Since this is kind of a big issue, how should I commit the files? I reckon it probably shouldn't be in one big messy commit, yeah?

[2017-11-02 18:04] deshraj commented on #1342
@isht3 having all of this as one commit sounds good.

[2017-11-02 18:07] isht3 commented on #1342
@deshraj okay, got it.

[2017-11-03 17:13] vikneshwar commented on #1341
Hi, I had difficult time setting up the dependencies for this project, so couldn't continue. @Ayukha you can take this up. I will try meanwhile if I get time. Thanks

[2017-11-03 17:29] RishabhJain2018 commented on #1341
@vikneshwar If you need some help in setting up the project, I will be glad to help you. You can also join the gitter channel https://gitter.im/Cloud-CV/EvalAI for your queries.

[2017-11-03 17:31] RishabhJain2018 commented on #1358
@HargovindArora The issues labelled with `dev-sprint` are for developers participating in Pycon India 2017 dev-sprints. I will open it to everyone once it gets over.
Till then please take up any other issue from the list. :-)

[2017-11-03 17:33] RishabhJain2018 commented on #1364
@HimanshuAwasthi95 Yes sure . You can take it up. Feel free to ask if you face any difficulty.

[2017-11-03 17:33] RishabhJain2018 commented on #1361
@HargovindArora Yes.

[2017-11-03 17:34] RishabhJain2018 commented on #1360
@HargovindArora The issues labelled with `dev-sprint` are for developers participating in Pycon India 2017 dev-sprints. I will open it to everyone once it gets over.
Till then please take up any other issue from the list. :-)

[2017-11-03 17:34] RishabhJain2018 commented on #1357
@HargovindArora The issues labelled with `dev-sprint` are for developers participating in Pycon India 2017 dev-sprints. I will open it to everyone once it gets over.
Till then please take up any other issue from the list. :-)

[2017-11-04 10:19] isht3 commented on #1342
@RishabhJain2018 @deshraj I wanted to pass the Challenge Phase title through a directive into a controller, this is what came up with.

`<a class="pointer" ng-click="challenge.challengePhaseTitleDialog($event, item.name)">`

[code]
I was wondering how I could pass the `item.name` through the `event` argument.

[2017-11-04 15:42] vikneshwar commented on #1341
Hi @RishabhJain2018 got this error, when i started the server https://gist.github.com/vikneshwar/adbeb25e96a077c33d23ad77d9cd3063

[2017-11-04 18:00] RishabhJain2018 commented on #1341
@vikneshwar It looks like the SSL package you have installed isn't new enough for Twisted. I suggest you to upgrade it. Moreover, can you tell me which OS are you using ?

[2017-11-04 18:13] deshraj commented on #1343
I see. @AmosHason please feel free to go ahead and open a PR adding instructions to install sass in the README.

[2017-11-05 09:37] HargovindArora commented on #1357
@RishabhJain2018 Sure :)

[2017-11-05 09:38] HargovindArora commented on #1358
@RishabhJain2018 Sure. Got it :)

[2017-11-05 09:39] HargovindArora commented on #1360
@RishabhJain2018 Sure. :)

[2017-11-06 14:17] isht3 commented on #1342
@RishabhJain2018 Should I keep a deadline?

[2017-11-07 04:52] rohitnaik246 commented on #1338
Hi, can I work on this?

[2017-11-07 04:58] aka-jain commented on #1338
@AmosHason assigning this to you.

@rohitnaik246 please pick any other issue as @AmosHason already asked for it.

[2017-11-07 06:50] anweshknayak commented on #1340
@HargovindArora are you on this ?

[2017-11-07 07:38] anweshknayak commented on #1340
It is working fine for 720 x 1280 pixels  I just checked.

[2017-11-07 07:41] anweshknayak commented on #1339
Can I work on this?

[2017-11-07 13:37] isht3 commented on #1342
@RishabhJain2018 @deshraj One edit pop-up dialogue with and option to edit every item of each phase is enough, right?
Something like, (Not completed)
![](https://image.prntscr.com/image/aILSXbD5R92aLcS43bDnDA.png)

![](https://image.prntscr.com/image/AJpl-yH7T4uJSXci75WqpQ.png)

[2017-11-07 14:27] deshraj commented on #1342
Yep, you got it right. 👍

[2017-11-07 19:24] nitinprakash96 commented on #1359
Hi, I'm new here and would like to contribute to this project. Can I start with this issue?

[2017-11-08 07:36] deshraj opened #1368 "TypeError: Related Field got invalid lookup: icontains"
While trying to search for a team name in submissions model from djago admin using the search feature, one encounters the following error:

[code]

[2017-11-08 07:50] HargovindArora commented on #1368
@deshraj May I work on this? :)

[2017-11-08 07:52] deshraj commented on #1368
@HargovindArora sure, go ahead. :)

[2017-11-08 07:53] HargovindArora commented on #1368
@deshraj Ohkay. On it :+1:

[2017-11-08 15:40] HargovindArora commented on #1340
@anweshknayak I tested this on my device, it wasn't working. If you want to work on this feel free to make a PR. I just reported the issue here :smile:

[2017-11-09 08:20] #1350 closed

[2017-11-09 08:42] #1361 closed

[2017-11-09 12:25] isht3 commented on #1342
@deshraj I did search a bit, but I don't think there's an API end-point to update the `test_annotation` along with the `ChallengePhase`, the only one defined is to extract while we upload the Challenge in the beginning. So I should add the `test_annotation` field to the `ChallengePhaseSerializer`, yes?

[2017-11-09 13:28] isht3 commented on #1342
@deshraj From the looks of it, it seems that I would have to edit the `challenge_phase_detail` view to accept the `test_annotation_file`. So, should I do a PR of the completed front-end, and then do the back-end as another PR?

[2017-11-10 11:24] gurraunaqsingh commented on #1314
Can I take this up?

[2017-11-10 14:03] RishabhJain2018 commented on #1314
Hey @gurraunaqsingh It has already been completed, only the PR needs to be merged. Please take up any other issue from the list. :-)

[2017-11-13 13:28] isht3 commented on #1342
@RishabhJain2018 I was wondering how to make the back-end for editing  `test_annotation_file`. Should I make a new view for updating it, or add support to the existing `challenge_phase_detail` and `ChallengePhaseSerializer`?

[2017-11-13 15:13] RishabhJain2018 commented on #1342
@isht3 The support for updating the `test_annotation` file have already been in the `challenge_phase_detail` view ( For reference please check [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L354) ). Also, there is no need to update the `ChallengePhaseSerializer` as we already have `ChallengePhaseCreateSerializer`. Please let me know if you still have some doubts.

[2017-11-13 17:40] isht3 commented on #1342
@RishabhJain2018 Okay I didn't notice that, I'll look into it. Thank you!

[2017-11-14 13:15] HargovindArora commented on #1368
@deshraj Can you please tell me what are we expecting in place of this error when we search something from the admin?

[2017-11-14 13:59] isht3 commented on #1342
@RishabhJain2018 I got another question, for passing the `test_annotation` file from the controller to the `ChallengePhaseCreateSerializer` through the view,  I can't pass it through the `challenge_phase` object as a `test_annotation` parameter since it's not defined in the `ChallengePhaseSerializer`, right? So am I supposed to pass it through the request? I'm not quite familiar with sending files

[2017-11-16 22:04] #1157 closed

[2017-11-17 12:45] isht3 commented on #1346
@deshraj Can I take this up?

[2017-11-17 12:46] RishabhJain2018 commented on #1346
@isht3 Yes sure ! Go ahead

[2017-11-17 15:23] isht3 commented on #1346
@RishabhJain2018 Cool! On it.

[2017-11-18 11:18] deshraj opened #1373 "403 Forbidden response from Github API"
See the screenshot below for more details about the error:

<img width="1918" alt="screen shot 2017-11-18 at 6 16 41 am" src="https://user-images.githubusercontent.com/2945708/32979687-3248de50-cc28-11e7-8eb6-1a2ea3ed5325.png">

[2017-11-18 11:46] deshraj opened #1374 "Cannot read property 'hulk' of undefined"
See the screenshot below for more context related to this error:

<img width="1920" alt="screen shot 2017-11-18 at 6 46 04 am" src="https://user-images.githubusercontent.com/2945708/32979945-30c6c52a-cc2c-11e7-8f3c-31a73746cc42.png">

[2017-11-19 05:04] isht3 commented on #1346
@deshraj @RishabhJain2018 Should I implement the front-end for this feature along with the back-end or should I only work on writing back-end now?

[2017-11-19 05:25] isht3 commented on #1346
@deshraj I looked a bit into the issue, from what I understood the aim of the issue to add new users into a team after a participant team is already created, yes? Does that mean if a team is already participating in a challenge, we can add new users to that team so they'll also be able to participate in the challenge?

[2017-11-20 11:07] aka-jain commented on #1337
@MatejMecka any update on this?

[2017-11-20 12:24] isht3 commented on #1346
@deshraj I looked a bit into the issue, from what I understood the aim of the issue to add new users into a team after a participant team is already created, yes? Does that mean if a team is already participating in a challenge, we can add new users to that team so they'll also be able to participate in the challenge? OR is it to override the current method of adding directly into a team without t

[2017-11-20 22:37] #1287 closed

[2017-11-21 00:21] #1314 closed

[2017-11-21 21:21] DakshMiglani commented on #1373
Hi, to fix these we need an authentication token from github, so i'd request the team leaders to create a client id with a secret and then we can request the api url which will look like:
`https://api.github.com/users/whatever?client_id=xxxx&client_secret=yyyy`

[2017-11-21 23:19] #1374 closed

[2017-11-22 09:55] Ram81 commented on #1347
@deshraj can I take this one ?

[2017-11-22 11:47] Ayukha commented on #1357
@RishabhJain2018  I want to work on this issue, May I?

[2017-11-22 15:46] DakshMiglani commented on #1339
This wouldn't work as there's two servers, one is the backend and the other is frontend. if they're served together, I can work this out.

[2017-11-22 16:14] gurraunaqsingh commented on #1339
I was thinking the same, but can't we just integrate both into a single django project?

[2017-11-22 21:19] kunalvishnoi commented on #1341
@RishabhJain2018  i would like to work on this.

[2017-11-23 11:41] isht3 commented on #1346
@deshraj Could you provide some insight? :smile:

[2017-11-26 15:33] sudhanshuchopra commented on #1347
@deshraj @Ram81 @RishabhJain2018  If currently no one is working on it.
Can I work on it ?

[2017-11-26 15:45] isht3 commented on #1342
@RishabhJain2018 I'm having a hard time uploading the `test_annotation` without changing the back-end, I get this error `the submitted data was not a file. check the encoding type on the form.`, every time I upload the raw text file, am I supposed to be using `FormData` in the front-end to pre-process the file before sending it to the backendv or something?

[2017-11-28 18:39] deshraj commented on #1341
@kunalvishnoi Sure, go ahead. :)

[2017-11-28 18:40] deshraj commented on #1346
You got it right. :)

[2017-11-29 17:49] RishabhJain2018 opened #1383 "Fix grammatical errors in EvalAI docs."

[2017-11-30 04:33] bodhwani commented on #1383
I would like to work on this.

[2017-11-30 16:59] RishabhJain2018 commented on #1383
Yes sure @bodhwani , go ahead!

[2017-11-30 17:35] mlandry22 opened #1388 "Update Postgres requirements in common.txt"
Recent postgres versions appear to be a known conflict with psycopg2.6, which is used in common.txt
I updated to 2.7.1 and it worked for me, based on this issue (where they say they will not backport the updates to 2.6):
https://github.com/psycopg/psycopg2/issues/594

For me, Mac Sierra 10.12.6 with brew, fresh postgres 10.1, current clone of EvalAI.

Here was the output originally from `pip insta

[2017-12-01 16:10] Avikam03 commented on #1383
Hey! @RishabhJain2018 I'd like to work on this issue too. Can I go ahead?
Thanks :-)

[2017-12-01 19:15] mlandry22 commented on #1388
Duplicate #1343

[2017-12-01 19:15] #1388 closed

[2017-12-01 19:29] mlandry22 opened #1390 "Failure to create competition"
When I try to create a new challenge by uploading a zip file, I get red warning messages and no evidence that a competition was created.
I started using the examples in this repo and then used the one at
https://github.com/Cloud-CV/EvalAI-Examples
Depending on which one I was using, I would get a message about having no scoring file, 2 YAML files, or a blank message.

These are the console logs fo

[2017-12-01 22:41] deshraj commented on #1390
Hi @mlandry22, sorry for the inconvenience. I was working on solving the issue and I am pretty much done here #1369 but I could not finish it due to paper submission deadlines. I will fix it and get it merged into the master by this weekend.

Please let us know if you face some other issues. We can discuss and solve those errors quickly.

[2017-12-01 22:56] mlandry22 commented on #1390
Oh, great. Ok, that's exciting.

If you think that being able to submit a file is related to that Issue, I'll not worry about that. If you think it is a separate Issue, let me know and I'll log it accordingly. Behavior is that the browser does not let you click on any files--it seems as if it's searching for a particular type, but standard ones do not work.
We'd love to use EvalAI for a conference

[2017-12-01 23:29] deshraj commented on #1390
@mlandry22 Yeah I am pretty sure that this is the error. I will fix it asap.

That's great. We would be more than happy to host it on EvalAI. Would you mind sending some details about the hackathon over email to team@cloudcv.org?  Also, please let me know if you want to talk about hosting the challenge, I would be happy to talk to you about skype/hangouts. You can reach me out personally at deshra

[2017-12-02 11:00] #1383 closed

[2017-12-02 16:54] isht3 commented on #1346
@deshraj @RishabhJain2018  For sending Email invites, can I use the inbuilt `django.core.mail` or should I use something else?

[2017-12-02 16:55] deshraj commented on #1346
Yep.

[2017-12-02 21:04] AmosHason commented on #1343
Regarding the first issue: it's currently impossible to install libpq-dev using pip (see https://github.com/ncbi/python-libpq-dev/issues/1).

[2017-12-02 21:20] trexdinosaur opened #1393 "Python Migrate script, is missing 2 requirements"
hi! I'm part of GCI:

I was in the process of installing the software and using the migrate function to seed my DB. However, the script was missing two dependencies even after installing the requirements. Specifically, i was missing raven and django-storages. I rectified this manually via a pip install, however I think it is a good idea to go ahead and add it to the requirements. Should I open a P

[2017-12-02 21:53] ayushsuhane commented on #1360
@RishabhJain2018 Hi, Can I start with it?

[2017-12-03 12:20] NSDCars5 commented on #1393
Maybe this is a WSL issue? Because I didn't get such messages on Ubuntu 16.04 or 17.10, the seed function worked perfectly without them. And they weren't preinstalled on my machine either.

[2017-12-03 12:58] NSDCars5 commented on #1343
@AmosHason libpq-dev can be installed using apt.

[2017-12-03 22:21] trexdinosaur commented on #1393
It definitely could be. it also might be related to the fact that I didn't run it under a venv, i'll try it again in a venv, and report back,

[2017-12-06 03:14] trexdinosaur opened #1396 "Create New Team Error"
I was on the instance of EvalAI, Cloud-CV is running, and I tried creating a team of "test". The application gave an arbitrary error of: "team couldn't be created.", however I can see the backend is passing through the more descriptive message of that team name being taken already. Is it better to pass this message through to the error popup? I think it is, as right now, if I was not looking at De

[2017-12-06 22:39] RishabhJain2018 commented on #1396
@trexdinosaur The error is passed to the front-end as shown by this screenshot.
![csv2](https://user-images.githubusercontent.com/12206047/33689133-4e735818-db04-11e7-9bdc-86d14d88c781.jpg)
Also, can you please paste the screenshot showing where it is not working.

[2017-12-07 00:04] trexdinosaur commented on #1396
Oh, I completely overlooked that, sorry!

[2017-12-07 00:04] #1396 closed

[2017-12-07 12:51] isht3 commented on #1346
Hi, @deshraj @RishabhJain2018 https://stackoverflow.com/a/6367458/6439372 This answer suggests using an external SMTP like sendgrid for sending E-mails, I was wondering what we were using for sending E-mail's right now. Should I look into the Sendgrid option?

[2017-12-11 16:45] S2606 commented on #1341
Is somebody working on this?? Can i claim it??

[2017-12-11 16:53] S2606 opened #1405 "Size of profile data text is small compared to ther options"
Observed feature
![image](https://user-images.githubusercontent.com/18497513/33842703-4d0042a0-dec1-11e7-9621-6e3d7a44a60c.png)

Expected features
The text size should at least be equivalent.

**Would you like to work on this issue?**
Yes

[2017-12-11 20:17] harshit98 commented on #1393
@trexdinosaur @NSDCars5 I run it under venv. I was also getting the same message.

[2017-12-11 22:16] 16116073 commented on #1341
Is anybody working on this issue?  If not I am interested to work on it.
@RishabhJain2018 @deshraj

[2017-12-12 09:17] 16116073 commented on #1337
@aka-jain @RishabhJain2018 is anybody working on this? If not, I would like to take this issue.

[2017-12-12 09:19] RishabhJain2018 commented on #1337
@16116073 Since @MatejMecka has been inactive for a long time. So, you can take this up :)

[2017-12-12 09:39] NSDCars5 commented on #1393
@harshit98 Does installing those manually fix those like they did for @trexdinosaur?

[2017-12-12 14:15] RishabhJain2018 commented on #1341
@16116073 Please take up any other issue as @S2606 had asked for it earlier than you. :smile:

[2017-12-13 11:15] #1295 closed

[2017-12-13 14:55] 16116073 commented on #1337
![pr1](https://user-images.githubusercontent.com/25207205/33944941-a0677732-e043-11e7-9f40-8969f31f8c83.png)
I think this is the way we can proceed, shall I continue with this?

[2017-12-13 16:11] isht3 commented on #1346
@deshraj Should I do the PR with frontend and backend as one commit?

[2017-12-13 16:16] RishabhJain2018 commented on #1346
@isht3 No, please open different pull requests for frontend and backend.

[2017-12-13 16:20] isht3 commented on #1346
@RishabhJain2018 Okay, cool. But how do I test if it works while hosting?

[2017-12-16 10:54] harshit98 commented on #1393
@NSDCars5 Yes. Manually installing them fixed the issue.

[2017-12-16 17:45] 16116073 commented on #1337
@RishabhJain2018, I have made the desired changes. Sorry for the missing file in the earlier pull request.

[2017-12-16 21:06] harshit98 commented on #1364
@RishabhJain2018 I understood that this notification toast:

![screen shot 2017-12-17 at 2 31 48 am](https://user-images.githubusercontent.com/22245418/34074334-931c05a2-e2d2-11e7-9518-6964d1460211.png)

should have color scheme which matches the new UI (current). Right? Correct me, if I'm wrong :)
It would be great if you can provide more details. I would like to work on this issue.

[2017-12-17 18:43] 16116073 commented on #1046
@RishabhJain2018 is anybody working on this.If not I would like to take this issue

[2017-12-17 18:53] RishabhJain2018 commented on #1046
Since @xamfy seems to be inactive from a long time, @16116073 you can take this task up. Also, feel free to ask your doubts.

[2017-12-17 18:54] aayusharora commented on #1405
Hi @S2606  Please go ahead :)

[2017-12-20 13:17] gautamjajoo opened #1421 "Validating email address when signing up"
When we are signing up ,the message "Please enter valid email address" appears only when we are not entering a proper email address but when we enter an email address like "hello@hello" where ".com" is missing, no error is coming and the error displays when we enter the "SignUp" tab.

**Actual Behaviour**

![enter](https://user-images.githubusercontent.com/24366008/34208618-19e3516e-e5b5-11e7-8a6f

[2017-12-20 15:40] gautamjajoo commented on #1359
@RishabhJain2018 Here's some of the Frequently Asked Questions
[Frequently Asked Questions.docx](https://github.com/Cloud-CV/EvalAI/files/1576129/Frequently.Asked.Questions.docx)

[2017-12-20 22:09] RishabhJain2018 commented on #1421
@gautamjajoo No, we can't add it as an email contains a locally interpreted string followed by the at-sign character (`@`) followed by an Internet domain. Now the domain can contain any number of `.` in it. Also, please refer https://validator.w3.org/feed/docs/error/InvalidContact.html for more examples. Also, this validation is on the client side, so there is no api call that will burden the syst

[2017-12-20 22:09] #1421 closed

[2017-12-20 22:43] RishabhJain2018 commented on #1359
@gautamjajoo The doc looks ok to me but you can add certain questions the common problems in setting up the project with solutions (Check EvalAI channel for the problems and solutions).

[2017-12-21 06:16] 16116073 commented on #1046
the email-verified page is already according to the new-theme.
![1](https://user-images.githubusercontent.com/25207205/34242983-8f4bcf28-e644-11e7-8f8b-ebcc78c0383d.png)

[2017-12-21 06:20] 16116073 commented on #1337
@RishabhJain2018 @aka-jain , made the desried changes in the lastly updated PR, could you please review it. Thank you.

[2017-12-21 06:22] 16116073 commented on #1289
@deshraj is anybody is working on it. If not, I would like to take this issue.

[2017-12-21 12:56] gautamjajoo commented on #1360
@RishabhJain2018 Here's the document.
[Tutorial to participate in a challenge in.docx](https://github.com/Cloud-CV/EvalAI/files/1579239/Tutorial.to.participate.in.a.challenge.in.docx)

[2017-12-22 13:13] gautamjajoo opened #1422 "Test performance of EvalAI"
**Actual Behaviour**

Currently the page is not optimized and is likely to deliver a slow user experience.

**Expected Behaviour**

Optimized Website.

**Would you like to work**

Yes.

@RishabhJain2018

![capture](https://user-images.githubusercontent.com/24366008/34299259-02bccca6-e748-11e7-98f3-cdecd8fb02b2.JPG)

[2017-12-24 04:38] Obtin opened #1423 "Showing list of featured challenges without authentication."
On clicking on the the button 'view all' for featured challenges

- Observed behaviour
asks you to SIGN IN

- Expected Behaviour
should display a list of all the past, ongoing and future challenges, may be view similar to the dashboard, even when the user is not registered.

Would You Like to Take this Issue?
YES !

Thanks!

[2017-12-24 04:51] Obtin opened #1424 "Password strength indication"
When a user fills SIGN UP form,
- Observed behaviour
after the clicking on 'sign up', user is informed about the password being common or not secure.

- Expected Behaviour
there should be an indicator telling the user about his password strength as he types each character.

Moreover, we do not have any specifications for password except that it should consist of 8 characters,
for making it better

[2017-12-24 14:05] anuj-rathore commented on #1424
@RishabhJain2018 Shall I take this issue?

[2017-12-25 19:44] aka-jain opened #1425 "Bug in mysubmission page"
Card for my submissions is not visible. Check screenshot for more info.
![screen shot 2017-12-26 at 01 12 20](https://user-images.githubusercontent.com/11537940/34342564-0db6e648-e9da-11e7-9a54-aff65b165bd5.png)

Make submission card visible.

[2017-12-25 19:46] aka-jain commented on #1424
Good feature to have, @Obtin you are working on this?

[2017-12-25 19:49] aka-jain commented on #1423
Thanks for catching this but the issue is already in progress @Obtin.

[2017-12-25 19:49] #1423 closed

[2017-12-25 19:51] aka-jain commented on #1422
Assigning this to you @gautamjajoo. let me know if you need any help.

NOTE: for minification you have to rewrite gulp prod related tasks.

[2017-12-25 19:54] aka-jain commented on #1405
I'm not getting your point @S2606, please give more description.

[2017-12-25 19:56] Obtin commented on #1424
@aka-jain yes I wish to take this issue.

[2017-12-25 20:11] aka-jain commented on #1424
Sure, assigning this to you.

[2017-12-26 09:05] isht3 commented on #841
@deshraj This issue and #842 seems to be related, can I work on this? :smile:

[2017-12-26 16:30] gautamjajoo commented on #1422
Here's a option to download the optimized images,css and javascript for the page. So can we just download and make the changes.

@aka-jain

![capture](https://user-images.githubusercontent.com/24366008/34360557-d06209ea-ea87-11e7-8f6f-0b55ca06205b.JPG)

[2017-12-26 16:32] aka-jain commented on #1422
No, you have to these minification using gulp task runner.

[2017-12-27 20:41] Obtin commented on #1424
@aka-jain , I have created a PR for the Issue#1424, please have a look.
Thank You.

[2017-12-27 20:53] Obtin commented on #1289
@aka-jain @RishabhJain2018 @deshraj , can i take this issue if nobody is working on this.
Thank You.

[2017-12-28 14:13] anuj-rathore commented on #1341
@RishabhJain2018 I think nobody is working on it, can I take this issue?

[2017-12-28 14:22] anuj-rathore commented on #1289
If nobody is working on this issue can I work on this?

[2017-12-28 14:23] anuj-rathore commented on #1247
If the issue is still unresolved, can I can take this issue?

[2017-12-28 14:25] anuj-rathore commented on #1231
I think nobody is on this, can I take this issue @RishabhJain2018

[2017-12-28 14:30] anuj-rathore commented on #1135
@RishabhJain2018 If nobody is working on this, can I take this issue?

[2017-12-28 14:32] anuj-rathore commented on #1128
@RishabhJain2018  If its unresolved, can I take this issue?

[2017-12-28 14:33] S2606 commented on #1341
@anuj-rathore i am working on this..

[2017-12-28 14:33] anuj-rathore commented on #1044
If nobody is working on this, Can I take this issue @RishabhJain2018 @spyshiv

[2017-12-28 14:37] anuj-rathore commented on #1080
@RishabhJain2018 If nobody is working on this, can I work on this?

[2017-12-28 14:39] anuj-rathore commented on #886
@RishabhJain2018  If nobody is working on it, can I take this?

[2017-12-28 18:06] varunagrawal commented on #886
I guess we have to wait for the resolution of the previous PR. @anuj-rathore you should see what needs to be added on top of that in order to close this issue.

[2017-12-28 18:12] gautamjajoo commented on #1422
@aka-jain Do we have to do the same as in the below URL.
https://andy-carter.com/blog/a-beginners-guide-to-the-task-runner-gulp

[2017-12-30 09:20] #1286 closed

[2017-12-31 17:20] vishu160196 commented on #770
Has this issue been solved? I would like to work on this @anweshknayak

[2017-12-31 18:10] Obtin opened #1429 "Pasword confirmation should send back a confirmation email."
- the expected behavior:
   - After the password reset process, a confirmation email stating "your password has been successfully      reset" should be sent to the user.
   - The user should be informed about expired session of the reset link as soon as the link is clicked.

- the observed behavior:
   - After the password reset process no confirmation email is sent to the user.
   - The user is a

[2017-12-31 18:32] aka-jain commented on #1429
@Obtin so we can't stop user to use that expired or already used link. But we can add this information to the reset password mail description. Also, password reset confirmation is a good feature, we can implement this.
So, go ahead assigning this to you.

[2017-12-31 20:45] Obtin commented on #1429
@aka-jain though we can't stop him, but after a particular interval rather than directing it to the "reset password" template we can direct him to a template like:
![image](https://user-images.githubusercontent.com/25207205/34464142-8331f3f4-ee99-11e7-9e92-d3a5635f21e6.png)
Indeed a better one!! :-)

[2018-01-01 06:30] viditjain08 opened #1430 "Combine frontend and backend servers"
@RishabhJain2018, @aka-jain
Currently, the frontend and the backend are hosted on different servers.
But the frontend can be hosted on the backend server.

[2018-01-01 06:30] viditjain08 commented on #1430
Can I take this issue?

[2018-01-01 06:36] aka-jain commented on #1429
Agree, start working on it.

[2018-01-01 06:37] aka-jain commented on #1430
We did this intentionally so to make Frontend independent of Backend. This will reduce the efforts of developers as dependency on each other.
@deshraj though we have already discussed it but still what do you think?

[2018-01-01 06:56] viditjain08 commented on #1430
But this can be extended to include both options- individual servers or a combined server.

[2018-01-01 07:48] isht3 commented on #840
@taranjeet @yadavankit Can I take over?

[2018-01-02 04:35] aka-jain commented on #770
@vishu160196 assigning this to you. Please go ahead and let me know if you face any problem.

[2018-01-02 04:40] aka-jain commented on #1080
Sure @anuj-rathore please go ahead. Assigning this to you.

[2018-01-02 11:24] adamstafa commented on #1289
@deshraj Fixed it.
https://github.com/Cloud-CV/EvalAI/pull/1432

[2018-01-02 15:05] isht3 commented on #841
@RishabhJain2018 The print statement mentioned in this issue is the model field logger you wrote in https://github.com/Cloud-CV/EvalAI/blob/57e5fb3d2fcdc8e6a7699638a320bdaade817101/apps/base/models.py#L40 Yes?

[2018-01-03 05:16] aka-jain commented on #1430
@deshraj need your thoughts here.

[2018-01-04 07:55] rupeshcode commented on #1343
While installing dependencies for the project got the following error.
`Collecting psycopg2==2.6.2 (from -r requirements/common.txt (line 15))
  Downloading psycopg2-2.6.2.tar.gz (376kB)
    100% |████████████████████████████████| 378kB 334kB/s
    Complete output from command python setup.py egg_info:
    running egg_info
    creating pip-egg-info/psycopg2.egg-info
    writing pip-egg-info/psycop

[2018-01-05 14:47] vishu160196 commented on #770
@aka-jain I uilt the dockerfile given in the repository. The containers are running but only one of the ports (0.0.0.0:8000) is sending response (EvalAI- Home Page) with only Hello WOrld printed in <h1></h1> tags. Where exactly do i have to add the button and where is the (dummy) content to be scrolled up?

[2018-01-05 14:58] aka-jain commented on #770
Check port 8888.

[2018-01-05 15:04] vishu160196 commented on #770
@aka-jain This site can’t be reached. The web page at http://0.0.0.0:8888/ might be temporarily down or it may have moved permanently to a new web address.

[2018-01-06 14:46] aka-jain commented on #1429
@Obtin Please complete your pending PRs then start working on this.
Till then I'm opening this issue for others.

[2018-01-06 14:47] aka-jain commented on #1425
Feel free to take this task up.

[2018-01-06 14:54] aka-jain commented on #1340
It's working now, so closing this issue. @HargovindArora @anweshknayak

[2018-01-06 14:54] #1340 closed

[2018-01-06 18:05] deshraj commented on #1430
@viditjain08 can you please elaborate on this statement? I didn't get this statement exactly.

[2018-01-06 18:15] viditjain08 commented on #1430
gulp dev:runserver hosts the frontend but another setting can be added in gulpfile which can host the frontend stuff on backend server by transferring it to static, so heroku deployment problem is solved

[2018-01-06 18:51] deshraj commented on #1289
Sorry guys for not being responsive. Seems like this is already fixed. Thanks @adamstafa

[2018-01-06 18:51] #1289 closed

[2018-01-06 18:58] deshraj commented on #1343
Thanks, @mlandry22 for pointing this out. Please feel free to create a pull request for the Postgres dependency updates.

[2018-01-06 21:24] aka-jain commented on #1430
Yes we can, but for this we also have to integrate Angular with Django. You can work on this. Assigning this to you @viditjain08
@deshraj if we can do this then I think we can combine our production servers. Let's see the approach of @viditjain08 then will decide it later.

[2018-01-07 01:57] S2606 commented on #1405
@aka-jain If we compare the size of text of dashboard and the profile data, the latter is smaller in size. So we should at least make it equal.

[2018-01-07 04:49] RishabhJain2018 opened #1448 "Update Readme"
Add links to the portfolio of maintainers.

[2018-01-07 16:44] #1448 closed

[2018-01-07 17:39] DhruvThakker commented on #1358
Is this issue open? Can I start working on it?

[2018-01-08 06:48] isht3 commented on #1347
@RishabhJain2018 @deshraj I completed the other similar issue, can I work on this?

[2018-01-08 06:55] isht3 commented on #1080
@anuj-rathore Are you working on this?

[2018-01-08 06:56] isht3 commented on #1347
@aka-jain @RishabhJain2018 @deshraj I completed the other similar issue, can I work on this?

[2018-01-08 06:59] aka-jain commented on #1080
I think @anuj-rathore is inactive. You can work on this @isht3

[2018-01-08 12:00] viditjain08 commented on #1429
Hey, can I take this issue?

[2018-01-08 13:27] anuj-rathore commented on #1080
I am up for this...

On 08-Jan-2018 12:29 PM, "Akash Jain" <notifications@github.com> wrote:

[2018-01-08 13:28] aka-jain commented on #1080
@isht3 you have started working on this?

[2018-01-08 15:09] Obtin commented on #1338
@aka-jain is this issue still open?

[2018-01-08 15:10] Obtin commented on #1343
@deshraj , I guess this must be included in #1359

[2018-01-08 16:31] isht3 commented on #1080
@aka-jain Nope!

[2018-01-08 18:24] aka-jain commented on #1405
Text sizes are same in dashboard and profile (14 px). Also the label is smaller and we made that intentionally. Correct me if I'm still missing something. @S2606

[2018-01-08 18:25] aka-jain commented on #1373
@deshraj, @RishabhJain2018  any action on this?

[2018-01-08 18:31] aka-jain commented on #1339
#1449 Will do after this.

[2018-01-08 18:34] aka-jain commented on #1338
Yes, you can work on this. @Obtin

[2018-01-08 19:04] Obtin commented on #1429
@aka-jain is the issue still assigned to me

[2018-01-08 19:14] aka-jain commented on #1429
No @Obtin, work on your PR first and I think I have already assigned a new task to you.
@viditjain08 you can work on this. Assigning this to you.

[2018-01-09 14:20] isht3 commented on #879
@deshraj Is this solved?

[2018-01-09 22:57] varunagrawal commented on #879
Hi @isht3, @deshraj has been on vacation the past few weeks and should be back today. Expect this to be solved sometime this week. :)

[2018-01-10 08:40] gautamjajoo opened #1456 "Update Text"
## Observed Behaviour

1. The Gitter link is not highlighted and there is no Github link to the repository.

![issue](https://user-images.githubusercontent.com/24366008/34860412-38decd3e-f783-11e7-8f2f-a37c2839b526.JPG)

2. The Information under "What is EVALAI?" is less.

## Expected Behaviour

1. Making the Gitter link highlighted by blue colour and linking the Github repository

2. Addition of

[2018-01-10 13:19] isht3 commented on #879
@varunagrawal Hope he had a good time, I'm going on vacation today! lol.

[2018-01-10 16:09] codervivek opened #1458 "No error is shown if a team is not selected."
A red bar is visible on the top right corner when trying participate in a challenge without any team selected.

![screenshot from 2018-01-10 21-31-38](https://user-images.githubusercontent.com/26835119/34782332-5be46b58-f64e-11e7-9fc0-feebb7f2786f.png)

I would like to take this issue.

[2018-01-10 16:30] aka-jain commented on #1458
Sure, go ahead.

[2018-01-11 17:03] NSDCars5 commented on #1425
@aka-jain What information should be visible, exactly?

Once you select the challenge phase you can see the submissions for that particular phase.

![hi](https://user-images.githubusercontent.com/5107795/34836960-581be894-f71f-11e7-8587-864e87ee57b8.JPG)

Should submissions for all phases be shown by default?

[2018-01-11 17:23] aka-jain commented on #1425
Initially the submissions was shown in a white card, that card has become transparent due to some improper styling. You only have to take that white card back.

[2018-01-12 04:18] aka-jain commented on #1405
Closing this issue as this is done intentionally.

[2018-01-12 04:18] #1405 closed

[2018-01-12 05:28] RishabhJain2018 commented on #1358
@DhruvThakker Yes sure. This is open you can take this up.

[2018-01-12 07:22] NSDCars5 commented on #811
@aka-jain Is this still needed? The latest versions of all four mentioned browsers support keyframes unprefixed.

https://caniuse.com/#feat=css-animation

[2018-01-12 11:38] aka-jain commented on #811
Yes @NSDCars5, you can work on this.

[2018-01-12 16:03] deshraj commented on #879
@isht3: no, this issue is not solved yet. Please feel free to take this up.

[2018-01-12 16:32] aka-jain commented on #1456
Hi @gautamjajoo, if you are still working on it then please let us know. Also, in case of any help regarding procedure or workflow you can ask anytime.

[2018-01-12 17:07] deshraj commented on #1373
Hi @DakshMiglani, thanks for the suggestion. We would like to leave it as it is for now. We cannot expose the `client_id` and `client_secret` since we are requesting from the client side. We would love to have suggestions from the contributors for various workarounds for this problem.

[2018-01-12 17:08] deshraj commented on #1080
Wow, lot of comments. I think the final conclusion is that @anuj-rathore you can start working on this. :) Feel free to ask questions if you have any.

[2018-01-12 17:13] deshraj commented on #1343
@Obtin: yeah that is a great idea. Please feel free to comment on the thread or create a pull request. :)

[2018-01-12 17:14] deshraj commented on #1347
@sudhanshuchopra please let us know if you can work on this? If we don't hear back from @sudhanshuchopra, then @isht3 you can work on it. :)

[2018-01-12 17:19] deshraj commented on #840
@isht3 feel free to take this up.

[2018-01-12 17:46] deshraj commented on #1044
@anuj-rathore sure, go ahead. :)

[2018-01-12 17:47] deshraj commented on #1135
@anuj-rathore: please work on the other issues assigned to you before working on this one. :)

[2018-01-12 17:50] deshraj commented on #1360
@gautamjajoo this looks great. Can you please add this to the docs and create a pull request for this? There might be really minor changes that I can suggest once you have the pull request ready.

[2018-01-12 17:58] anuj-rathore commented on #1080
I am really sorry, as I am quite busy these days! It would be really good if you could assign this to someone else @deshraj @aka-jain

[2018-01-12 18:34] sudhanshuchopra commented on #1347
Yes @deshraj you can assign it to @isht3

[2018-01-12 19:10] gautamjajoo opened #1461 "Wrong Link in PULL_REQUEST_TEMPLATE.md"
### Observed Behaviour
There is no valid link for style rules in PULL_REQUEST_TEMPLATE.md.

![style](https://user-images.githubusercontent.com/24366008/34891079-38fe93c2-f7fa-11e7-9ad8-343c51a0a52b.JPG)

### Expected Behaviour
Remove the link.

@aka-jain @RishabhJain2018

[2018-01-12 19:32] aka-jain commented on #1456
Fixed here #1454

[2018-01-12 19:32] #1456 closed

[2018-01-13 06:09] RishabhJain2018 commented on #1337
@Obtin yes sure!

[2018-01-13 19:51] #1425 closed

[2018-01-14 02:57] spyshiv commented on #1272
@aka-jain @RishabhJain2018 I am assigning this to me.

[2018-01-14 03:10] spyshiv commented on #1112
FYI: using `initial-scale=2` will zoom content of viewport by 200% which is not a solution for this issue.
@aayusharora : IDK if this is fixed but I am closing this issue. Please feel free to reopen this if this issue is not fixed.

[2018-01-14 03:11] #1112 closed

[2018-01-14 03:16] spyshiv commented on #300
@aka-jain @RishabhJain2018 Any update on this? Is this done?

[2018-01-14 03:42] spyshiv commented on #811
FYI @NSDCars5 It's not about modern browsers. We are using `autoprefixer` in gulp file that does that.
Check that out https://github.com/Cloud-CV/EvalAI/blob/e6f8065b63a604fd842c5c48f644c86556f26604/gulpfile.js#L101

[2018-01-14 03:58] spyshiv commented on #1461
@gautamjajoo : To fix this issue replace current link with updated link in `PULL_REQUEST_TEMPLATE.md`

Current link: `https://github.com/Cloud-CV/EvalAI/blob/master/CONTRIBUTING.md#style-rules`
Updated link: `https://github.com/Cloud-CV/EvalAI/blob/master/.github/CONTRIBUTING.md#style-rules`

[2018-01-14 06:21] pratyush1687 commented on #1338
@aka-jain  is this issue still open? I'd like to work on it.

[2018-01-14 08:10] NSDCars5 commented on #811
@spyshiv Oh, okay, makes sense.

Again, in that case, autoprefixer is already supporting the last two versions of major browsers, so the mixin shouldn't be needed?

[2018-01-14 09:14] RishabhJain2018 commented on #300
@spyshiv No I don't think so.

[2018-01-14 09:18] RishabhJain2018 commented on #1338
@Obtin Are you working on this ?

[2018-01-14 09:42] #1461 closed

[2018-01-14 13:07] gautamjajoo opened #1466 "Linking organization images"
### Observed Behaviour

Images of several partner organizations who have already hosted their challenges on EvalAI.

### Expected Behaviour

Linking images of several partner organizations who have already hosted their challenges on EvalAI with their website.

@RishabhJain2018 @aka-jain @spyshiv

[2018-01-14 13:26] Obtin commented on #1338
@RishabhJain2018. Yes.

[2018-01-15 08:00] gautamjajoo commented on #1343
@deshraj Added the common error in my the PR :- #1455

[2018-01-15 10:07] gautamjajoo opened #1470 "Adding Installation Guidelines for Windows"
Updating README with the installation guidelines for Windows.
@aka-jain

[2018-01-15 10:07] isht3 commented on #840
@deshraj Okay, thanks!

[2018-01-15 13:16] RishabhJain2018 commented on #1135
@deshraj @aka-jain @spyshiv I think this is resolved. Can you please verify it?

[2018-01-15 13:52] #886 closed

[2018-01-15 14:19] deshraj commented on #1135
Yeah, I just checked and it seems to be fixed. Thanks for pointing this out.

[2018-01-15 14:19] #1135 closed

[2018-01-15 14:19] codervivek commented on #1080
Can I claim this assignment?

[2018-01-15 15:51] MatejMecka commented on #1337
@Obtin @RishabhJain2018 is this fixed? Can I close it

[2018-01-15 16:06] kurianbenoy commented on #1368
Is this issue still open?

[2018-01-15 17:25] Anupam-dagar commented on #1466
@gautamjajoo i would like to work on this

[2018-01-15 18:59] Obtin commented on #1337
@MatejMecka, its running https://github.com/Cloud-CV/EvalAI/pull/1427. It just needs an approval to revert changes to the previous commit for the desired changes, just need a confirmation from @aka-jain @spyshiv @RishabhJain2018.

[2018-01-15 21:22] Obtin commented on #1046
@RishabhJain2018, since the issue has already been resolved, please close it. Thank you

[2018-01-16 18:31] Arun-Jain opened #1473 "Fix text "stars" inside the box in footer."
Currently the text "stars" are not in the correct position in dashboard-footer.
![screenshot from 2018-01-17 05-29-50](https://user-images.githubusercontent.com/16155501/35005493-8547bb9c-fb19-11e7-8aa9-6f84e607fad8.png)

Make it as same as in landing-footer.
![screenshot from 2018-01-17 05-14-14](https://user-images.githubusercontent.com/16155501/35004796-5c8bd01e-fb17-11e7-9977-0a6b1dff8ed2.png)

[2018-01-16 20:26] deshraj commented on #1466
Closing this since we have intentionally not added the links to the organizations. It's by design choice. :)

[2018-01-16 20:26] #1466 closed

[2018-01-17 12:23] RishabhJain2018 commented on #1390
Hi @mlandry22 Apologies for replying so late. We have fixed the feature of creating the challenge using zip file. Now you can easily host your challenge. Please try using the same repository as you were using earlier(https://github.com/Cloud-CV/EvalAI-Examples). Also, if you still come across some issues feel free to reach to us.

[2018-01-17 12:49] gautamjajoo commented on #1473
![correct](https://user-images.githubusercontent.com/24366008/35043503-e51baaf8-fbb2-11e7-9542-b759d1120b49.JPG)

In Google Chrome it is working correctly!! @Arun-Jain

[2018-01-17 14:23] Arun-Jain commented on #1473
@gautamjajoo Please check it once in dashboard footer.
check this link : https://evalai.cloudcv.org/web/dashboard

[2018-01-17 14:27] gautamjajoo commented on #1473
@Arun-Jain Its the same.

[2018-01-17 14:48] Arun-Jain commented on #1473
@gautamjajoo can you please check it one more time in desktop view rather than mobile view.
Make it sure that you are logged in and let me know if everything is perfect on your side.

![screenshot from 2018-01-18 01-44-39](https://user-images.githubusercontent.com/16155501/35048477-38800a94-fbc3-11e7-8641-6ab892d5f516.png)

[2018-01-17 14:49] aka-jain commented on #1473
Yes, this problem is coming randomly. Let me check it once from my side. @Arun-Jain @gautamjajoo

[2018-01-17 16:24] Arun-Jain opened #1475 "Text "Taking you to EvalAI" is not visible at the time of login."
Change the color of text to make it visible.
![screenshot from 2018-01-18 03-15-59](https://user-images.githubusercontent.com/16155501/35053557-72f55348-fbd0-11e7-9c53-2525f86f24d7.png)

[2018-01-18 14:42] spyshiv opened #1477 "Frontend: Change hyperlink in info provided in create challenge with zip file"
![screenshot from 2018-01-18 19 46 17](https://user-images.githubusercontent.com/7015220/35102548-3cef2800-fc89-11e7-8ade-72b377cdd01a.png)

In the screenshot, On clicking `here` the relevant part of `EvalAI Documention` should be open. So need to update `current link` with `updated link`

`current link`: https://evalai.readthedocs.io/en/latest/
`updated link`: https://evalai.readthedocs.io/en/lat

[2018-01-18 15:12] Arun-Jain commented on #1477
@spyshiv can i work on this?

[2018-01-18 15:12] RishabhJain2018 commented on #1477
@Arun-Jain Yes Sure!

[2018-01-18 17:12] viditjain08 opened #1479 "My Host Teams is always displayed 0"
In the dashboard, the user's "My Host Teams" is always 0, even if he has created host teams
![screenshot from 2018-01-18 22-28-17](https://user-images.githubusercontent.com/5248993/35111248-d33a3e1e-fca0-11e7-984e-889e4d8bc0e8.png)
![screenshot from 2018-01-18 22-39-27](https://user-images.githubusercontent.com/5248993/35111249-d3a94336-fca0-11e7-9e30-612dc87d8bec.png)

I would like to take this i

[2018-01-19 06:28] isht3 commented on #1479
@viditjain08 It seems to be working for me.

[2018-01-19 07:56] viditjain08 commented on #1479
@isht3 I checked it locally and on evalai.cloudcv.org as well, and I am not seeing any increment in MY HOST TEAMS. Can you send a screenshot?

[2018-01-19 08:18] gautamjajoo commented on #1479
It works fine for me also!!
![host](https://user-images.githubusercontent.com/24366008/35141004-5a75f976-fd1f-11e7-821c-e2d2585c1436.JPG)

[2018-01-19 08:23] viditjain08 commented on #1479
Ok, must be something wrong with my pc.

[2018-01-19 08:23] #1479 closed

[2018-01-19 18:07] Obtin commented on #552
@RishabhJain2018 @aka-jain @deshraj Can I work on this. Thank you.

[2018-01-19 18:08] Obtin commented on #300
@RishabhJain2018 @aka-jain @spyshiv I would like to work on this, Thank you.

[2018-01-19 18:10] Obtin commented on #879
@isht3 are you working on this too. If not I would like to take this up Thank you.

[2018-01-19 19:06] varunagrawal commented on #879
@isht3 Deshraj has given you the go ahead. If you don't have the time to work on this, we understand, and we can assign this to @Obtin

[2018-01-20 05:45] isht3 commented on #630
Hi @Obtin I worked on this issue and my PR is currently under review but there is an issue with the request throttling, if you're interested you could work on that. :smile:

[2018-01-20 06:40] codervivek commented on #1291
Can I work on this?

[2018-01-20 06:50] isht3 commented on #879
@varunagrawal, @Obtin Yes, I already started working on this. I was going through how to work on decorators, that's why this was taking time. I'll finish this by sometime next week. :smile:

[2018-01-20 06:55] isht3 commented on #1347
Only tests for this are pending, I'll do the PR tomorrow.

[2018-01-20 07:41] alphaguy4 opened #1480 "Requirment installation error. Error: pg_config executable not found"
on running
`pip install -r requirements/dev.txt`

I am getting following error :

[code]

Environment
Distributor ID: Ubuntu
Description:    Ubuntu 16.04.1 LTS
Release:        16.04
Codename:       xenial

[2018-01-20 07:44] alphaguy4 commented on #1480
We need to run
`apt-get install libpq-dev`
before
`pip install -r requirements/dev.txt`
Please update readme

[2018-01-20 15:48] viditjain08 opened #1481 "Create empty challenge"
- When a user goes to the create a challenge and clicks on the upload button without adding anything, the loading bar gets stuck on the screen
![screenshot from 2018-01-20 21-14-00](https://user-images.githubusercontent.com/5248993/35185254-3e591440-fe27-11e7-950e-e464c5a98fb1.png)

I would like to take this issue.

[2018-01-20 17:53] aka-jain commented on #1481
You working on this @viditjain08 ?

[2018-01-20 17:53] aka-jain commented on #1475
@Arun-Jain let me know once you are done with this.

[2018-01-20 18:01] viditjain08 commented on #1481
Yes, it's just a small change.

[2018-01-20 18:50] adamstafa commented on #1373
@deshraj Currently unauthorized users (user is determined by his IP) can make up to 60 requests per hour so for normal usage this won't be a problem.
Another option is to create a view in backend to access the API with the token. The limit would be 5000 per hour but for all users. We would need to limit the refresh-rate of these stats then.

[2018-01-20 22:11] Obtin commented on #1373
@deshraj @aka-jain I would like to work on this after this discussion is concluded. Please assign this to me.Thank you.

[2018-01-21 03:25] Obtin commented on #1373
@adamstafa are we clear which approach do we have to follow to fix it.

[2018-01-21 03:28] Obtin commented on #840
@isht3 are you working on this. If not I would like to take this up.

[2018-01-21 03:30] Obtin commented on #770
@aka-jain If nobody is working on it. I would like to take this. Thank you.

[2018-01-21 06:28] Arun-Jain commented on #1475
Sure @aka-jain

[2018-01-21 07:40] Obtin commented on #1480
These are some of the problems that could be included in #1343. @deshraj.

[2018-01-21 14:26] codervivek opened #1483 "Incorrect error display in many cases"
In most of the error display messages present in frontend controllers, response.data returns a HTML string of Django error page and not a json. However, many error messages are present which try to print the HTML string or try to access the string like a js object. I opened an issue #1458 due to above problem. Since I am new to the repo I am not able produce many similar issue but it seems to be a

[2018-01-22 05:18] viditjain08 opened #1486 "Invalid Challenge creation using space"
## Issues to be fixed
- [ ] When a user tries to create a challenge, if he uploads an invalid file ( zip without YAML) or any other format, the user gets an error but the files are stored in challenge configurations.

- [ ] This can result in large consumption of disk space and can be exploited by the users.

[2018-01-23 22:38] deshraj commented on #1486
@viditjain08: Thanks for the catch. This is in our todo list for the next quarter. Please feel free to work on this issue.

[2018-01-23 22:42] deshraj commented on #1486
Also just to let you know about another issue related to the challenge creation process. Currently the challenge creation happens in this process:

Step 1: User uploads the zip file
Step 2: All the fields get populated in the database
Step 3: EvalAI Admin tests the challenge on test server
Step 4: Admin approves the challenge is everything looks ok.
Step 5: Challenge becomes public.

We actually w

[2018-01-23 22:48] deshraj commented on #1480
Closing since this is same as #1343

[2018-01-23 22:48] #1480 closed

[2018-01-23 22:53] deshraj commented on #1359
Sorry but I think @RishabhJain2018 and @gautamjajoo misunderstood the requirement. The FAQ here is for the end users and not for EvalAI developers. So, there have to be questions such as:

1. What is EvalAI?
2. What kind of challenges does EvalAI support?
3. Can I run EvalAI on my private server?
4. How to host a challenge on EvalAI?
5. How to participate in a challenge in EvalAI?
6. What is the b

[2018-01-23 22:53] deshraj commented on #770
@Obtin Sure. :)

[2018-01-23 22:54] deshraj commented on #1373
@Obtin please feel free to take this issue. :)

[2018-01-23 22:55] deshraj commented on #1347
@isht3: any update?

[2018-01-23 22:55] deshraj commented on #1291
@codervivek sure, go ahead.

[2018-01-23 22:56] deshraj commented on #300
@Obtin: feel free to work on this issue.

[2018-01-23 22:56] deshraj commented on #552
I think you have few issues on your plate. You can work on this once you complete the other issues assigned to you. :)

[2018-01-23 23:01] deshraj commented on #1046
Thanks for noticing @obtin. Closing this.

[2018-01-23 23:01] #1046 closed

[2018-01-23 23:02] deshraj commented on #1368
The pull request is under review and soon this will be closed. :)

[2018-01-23 23:02] deshraj commented on #1080
Sure @codervivek. :)

[2018-01-24 02:07] gautamjajoo commented on #1359
@deshraj It's ok. But can we add this file as "Common Error during installation"??

[2018-01-24 03:31] viditjain08 commented on #1486
Yes, sure, I will, after this

[2018-01-24 17:34] isht3 commented on #1347
@deshraj Done!

[2018-01-25 17:29] Obtin commented on #1373
@deshraj @adamstafa could you please suggest me the approach that i must follow from the two :

- Instead of doing everything with the GitHub API, Writing a GitHub Mirror script that is able to mirror all of those repos using my parallel python script via pygit2.

-  as suugested by @adamstafa creating a separate view

[2018-01-26 03:20] deshraj opened #1492 "Modify database seeding method"
## Deliverables

- [ ] Modify the seed command to accept an argument `-nc` which denotes the number of challenges that a developer wants to create for testing.
- [ ] Modify the seed script in such a way that it can be run multiple times (right now, if you run it once and then you try to run it again, then it throws an error).

[2018-01-26 04:11] deshraj commented on #1393
@trexdinosaur: I think you were using the command `python manage.py seed` instead of `python manage.py seed --settings=settings.dev`. I tried to setup the project again and it worked perfectly. Closing this issue for now. Please feel free to open this if you still face this issue.

[2018-01-26 04:11] #1393 closed

[2018-01-26 04:13] deshraj commented on #1359
As I mentioned that the FAQ that we want is for the end users and not the EvalAI Developers, so I don't think we can include it. Please feel free to suggest some other questions that you have in mind.

[2018-01-26 04:20] deshraj commented on #1373
@Obtin: I just thought about a new way of doing this. Can you integrate the https://buttons.github.io/ for showing the fork and star button? It will help us to remove the dependency of Github API and just use this service.

[2018-01-26 04:54] #1247 closed

[2018-01-26 05:19] #1481 closed

[2018-01-26 05:44] deshraj commented on #1116
Closing this since we are planning to rewrite most of the part in CloudCV/EvalAI-ngx repository. Feel free to contribute to that repository. :)

[2018-01-26 05:44] #1116 closed

[2018-01-26 05:47] Arun-Jain commented on #1477
@deshraj Close this. Fixed in #1478

[2018-01-26 05:48] deshraj commented on #1477
Thanks @Arun-Jain for letting me know.

[2018-01-26 05:48] #1477 closed

[2018-01-26 05:51] #1368 closed

[2018-01-27 22:19] Obtin commented on #552
@deshraj, I am done with my other issues. I have started working on this too. Thank you.

[2018-01-27 23:17] Obtin commented on #552
@deshraj@aka-jain can we also add the check for entering correct email-address before it checks for the existence of a user with this username?
![email](https://user-images.githubusercontent.com/25207205/35477312-242ffb64-03e6-11e8-940c-89823c907004.png). In order to prevent such mistakes.

[2018-01-28 02:31] Obtin commented on #1492
@deshraj I would like to proceed on this issue. Thank you

[2018-01-28 02:40] deshraj commented on #1492
@Obtin: sure, go ahead. :)

[2018-01-28 05:26] isht3 commented on #879
@deshraj The `IsChallengeCreator` class and its use-cases should be completely replaced with the `IsChallengeCreator` decorator, yes?

[2018-01-29 01:49] varunagrawal commented on #879
@isht3 no that class is required in the permissions since other API endpoints depend on it. You should just be able to add that permission class to the `@permission_classes` decorator and have it work. The crucial aspect of this issue are the test cases which need to ensure all corner cases are handled.

I know this seems like very little work technically, but then again, this is an easy issue to

[2018-01-29 15:15] isht3 commented on #879
@varunagrawal I think the changes are already added to the `permission_classes`, I'll get started with writing the tests. Thank you for clearing it up!

[2018-01-29 16:36] #1475 closed

[2018-01-31 13:39] dibyadas opened #1497 "Add support for Python3.X"
## Description
 Considering that Python 2 will no longer be maintained past 2020.
Also, Python 3.6 has native support for asynchronous programming, which can be very useful in the case of EvalAI.
## Deliverables
Check for Python 3 support for EvalAI and discuss the roadmap of supporting both the versions of python

[2018-01-31 16:09] isht3 commented on #640
@deshraj I think #1347 solves this.

[2018-01-31 16:15] isht3 commented on #1190
@deshraj I think splitting the submission_worker would be the best way to go. What do you think?

[2018-02-01 07:46] gautamjajoo opened #1499 "Updating Team in README"
## Observed Behaviour

![capture2](https://user-images.githubusercontent.com/24366008/35666940-e45a91b0-0751-11e8-876f-7e6d6402fc16.JPG)

## Expected Behaviour - Better Representation

![capture](https://user-images.githubusercontent.com/24366008/35666966-f74e978a-0751-11e8-9d44-7adf7958ad01.JPG)

@aka-jain @deshraj @RishabhJain2018  @spyshiv

[2018-02-01 07:55] gautamjajoo opened #1500 "Link not Working"
## Observed Behaviour- Link not working

![link](https://user-images.githubusercontent.com/24366008/35667327-3589a7fa-0753-11e8-9628-4f01bdd9a1f2.JPG)

## Expected Behaviour

Link Working

## Steps to Reproduce

Remove the https:/ from the link.

@RishabhJain2018 @aka-jain

[2018-02-01 07:58] aka-jain commented on #1500
I think this is due to SSL error. @deshraj are we done with the certificates?

[2018-02-01 08:05] gautamjajoo commented on #1500
@aka-jain So, closing the issue.

[2018-02-01 08:14] aka-jain commented on #1500
Don't close this please. Let's wait for the @deshraj confirmation.

[2018-02-01 12:46] spyshiv commented on #1422
@gautamjajoo @aka-jain: I guess the original issue was to enable compression in static files(css, js, images) that was already written in `gulpfile.js`.
See this
https://github.com/Cloud-CV/EvalAI/blob/9e8cf4dac75972a323f8c4bb26c88a959ab83fca/gulpfile.js#L406
And
https://github.com/Cloud-CV/EvalAI/blob/9e8cf4dac75972a323f8c4bb26c88a959ab83fca/gulpfile.js#L400

You had to make `flags.production = t

[2018-02-01 12:50] gautamjajoo commented on #1422
@spyshiv Yes! I saw and realised that the code was already written so I just compressed the images. Now should I make flags.production = true; ??

[2018-02-01 13:22] aka-jain commented on #1422
@gautamjajoo yes please enable true on production and test it using production flag by comparing the sizes of images.

[2018-02-01 14:44] Obtin opened #1503 "Making UI of Email Invite on dashboard better"
This is in continuation with Issue #552.
![image](https://user-images.githubusercontent.com/25207205/35684292-6d5c8cd6-078c-11e8-9c73-46ec7018fb9b.png)

[2018-02-01 15:27] gautamjajoo commented on #1503
@Obtin Hey I was using this feature but I didn't receive any email. I got the successful message too. Is the feature not working?

[2018-02-01 16:57] deshraj commented on #1422
The main deliverable of this task requires one to fix the minify command in gulpfile.js and not compressing the image manually. Hence @gautamjajoo: sorry but I have to close your Pull request #1431. Sorry if there was a misunderstanding.

[2018-02-01 17:44] gautamjajoo commented on #1130
@deshraj @RishabhJain2018 This FAQ is for developers or end users only?

[2018-02-01 17:51] gautamjajoo commented on #1231
@deshraj @RishabhJain2018 The text is visible while signing up, Can we close this issue??

[2018-02-01 19:45] RishabhJain2018 commented on #1231
@gautamjajoo Thanks for pointing this. Yes, I am closing it as it is already fixed.

[2018-02-01 19:45] #1231 closed

[2018-02-02 06:21] #1342 closed

[2018-02-02 11:53] #1364 closed

[2018-02-02 18:28] #1338 closed

[2018-02-02 20:04] the-dagger commented on #1130
@gautamjajoo Developers who are trying to build the project.

[2018-02-03 04:58] gautamjajoo commented on #1130
@the-dagger Is #1455 correct for this issue.

[2018-02-03 05:49] isht3 commented on #1128
@RishabhJain2018 Is this available for taking up?

[2018-02-03 05:54] the-dagger commented on #1130
@gautamjajoo try to make it more focused on Questions related to setting up the project.
Check the gitter channel once, there may be some newcomers who are unable to build the project.

Try to see what issues they are facing and outline them in the FAQ.
You can use the current FAQ submitted in the PR as a base and build upon it.

@deshraj What do you say?

[2018-02-03 05:56] isht3 commented on #1005
@deshraj Is this issue still active?

[2018-02-03 06:00] RishabhJain2018 commented on #1128
@isht3 No, since we are now planning to shift to AWS SQS instead of RabbitMQ. Thanks for pointing it. I am closing it for now.

[2018-02-03 06:00] #1128 closed

[2018-02-03 06:03] RishabhJain2018 commented on #1005
@isht3 Yes, but can you please discuss the strategy here before implementing it.

[2018-02-03 08:03] isht3 commented on #1128
@RishabhJain2018 So the whole submission_worker have to be renewed yes?

[2018-02-03 13:30] viditjain08 opened #1508 "Featured challenge on home page"
## Deliverables

- [ ] On the home page, the featured challenge is not selected on the basis of featured flag, but on the basis of approved_by_admin and published flag.

[2018-02-03 16:58] aka-jain commented on #1473
@Arun-Jain can you please try to increase the width of this button a little bit? Please let me know if this issue still exist.

[2018-02-03 17:38] Arun-Jain commented on #1473
Sure @aka-jain. I'll try to fix this.

[2018-02-04 14:09] aka-jain commented on #1011
This issue is resolved. Closing this.

[2018-02-04 14:09] #1011 closed

[2018-02-04 17:25] #770 closed

[2018-02-04 17:50] #879 closed

[2018-02-04 18:17] HargovindArora commented on #1499
@gautamjajoo This looks good. This should be done. What do you say @RishabhJain2018?

[2018-02-05 01:50] #1422 closed

[2018-02-05 04:18] aka-jain commented on #1508
@deshraj please correct this if this is not intentional.

[2018-02-05 04:25] deshraj commented on #1508
@viditjain08: Good catch. Please feel free to work on it. Assigning this to you.

[2018-02-05 12:38] isht3 commented on #1492
@Obtin Are you working on this?

[2018-02-05 18:58] Obtin commented on #1492
@isht3 yes :-)

[2018-02-06 03:38] isht3 opened #1513 "Add support in the back-end for having a user display picture."
I think this would be a neat feature to have in which the user would be having more customising options for their own profile. We could also display the display picture in the leaderboards so that it looks neat and easily recognisable.

Let me know what you think about this!

[2018-02-06 04:12] viditjain08 opened #1514 "My Submissions Page"
1. For any challenge, the participant is unable to download all submissions by selecting csv and clicking download button.

2. Also, the submission count remains 0 even if a submission is present.
![screenshot from 2018-02-06 09-38-33](https://user-images.githubusercontent.com/5248993/35841428-f5c11ba8-0b21-11e8-8d65-7712808f28c5.png)
 I would like to take this issue

[2018-02-06 04:18] aka-jain commented on #1513
Thanks for the suggestion @isht3. Yes, it is already in our Todo list. But not implementing this now.

[2018-02-06 04:18] #1513 closed

[2018-02-06 04:20] aka-jain commented on #1514
Thanks for pointing out this bug @viditjain08.
You can work on this.

[2018-02-06 21:34] anweshknayak opened #1515 "See-more button not working in mobile/tablet view"
- the expected behaviour
 scroll button should work

- the observed behaviour
  scroll button is not working

- steps to reproduce the problem
 check see-more button in landing page

- which operating system and/or browser you're using, if relevant
  Firefox Quantum
  Ubuntu 16.04

![button](https://user-images.githubusercontent.com/8139783/35885376-9fa8221a-0bb3-11e8-9438-85fdc61e3a22.gif)

[2018-02-06 21:59] anweshknayak opened #1517 "Images should not be draggable"
- the expected behaviour
  Images of cloud,rocket should not be draggable

- the observed behaviour
  Certain images are draggable

- steps to reproduce the problem
 Drag the clouds off-screen.

- which operating system and/or browser you're using, if relevant
 Firefox Quantum
 Ubuntu 16.04

![cloud](https://user-images.githubusercontent.com/8139783/35886580-893c45f2-0bb7-11e8-988d-5caef2952192.gi

[2018-02-06 22:03] anweshknayak commented on #1517
@aka-jain is this legit issue?
`<img draggable="false" img>` happens to solve this.

[2018-02-07 03:28] deshraj opened #1518 "Sphinx doc building fails"
## Current Scenario

When someone tries to build sphinx doc using the following commands:

[code]

You get an error:

[code]

## How to solve this?

Add recommonmark==0.4.0 in the requirements/dev.txt

[2018-02-07 04:05] #1518 closed

[2018-02-07 08:00] anweshknayak commented on #1503
@gautamjajoo I think it is in progress.

[2018-02-07 08:17] anweshknayak commented on #1492
@Obtin I see you are working in #1373. Please take one issue at a time. 😃 So that others can work too.

[2018-02-07 10:54] anweshknayak commented on #989
Something like this looks good
![mobile](https://user-images.githubusercontent.com/8139783/35912713-619189c4-0c23-11e8-9033-f4ec6838f5be.gif)

[2018-02-07 10:58] anweshknayak commented on #989
Also if we could bring in those group of birds falling from the top and the clouds in the background for responsive view?

[2018-02-07 10:59] aka-jain commented on #989
@anweshknayak how you want this to apply, I'm not getting.
Also, responsiveness has been solved so we're closing this issue. If you want to suggest something then please try to open new issue.
Thanks.

[2018-02-07 10:59] #989 closed

[2018-02-07 11:03] anweshknayak opened #1520 "UX Improvements for mobile/tablet view"
![mobile](https://user-images.githubusercontent.com/8139783/35913004-52d9e204-0c24-11e8-8c4b-c8babc1231f5.gif)

- For Landing Page
Okay we can make just one button like **Register and Log In**  as in above. And rest as shown we can show as a menu or dropdown.

Current view :
![current](https://user-images.githubusercontent.com/8139783/35913254-12889406-0c25-11e8-8f14-3bba98a574b0.gif)

takes too m

[2018-02-07 11:07] aka-jain commented on #1520
Okay, we can do this.
You working on this? @anweshknayak

[2018-02-07 11:08] anweshknayak commented on #1520
Sure @aka-jain

[2018-02-07 11:10] #1515 closed

[2018-02-07 15:33] anweshknayak commented on #1520
Seems like there are more bugs
![bug_responsive](https://user-images.githubusercontent.com/8139783/35924855-3648546a-0c4a-11e8-9625-1eb3e7f8d686.gif)

[2018-02-07 15:36] anweshknayak opened #1521 "Scroll-bar overlapping with footer in firefox"
If you'd like to report a bug, please include the following information:
- the expected behaviour
  Scroll bar should not overlap

- the observed behaviour
 Scroll overlapping with footer

- steps to reproduce the problem
 Log in -> Dashboard -> Scroll

- which operating system and/or browser you're using, if relevant
  Firefox Quantum
  Ubuntu 16.04

![scrollbar_overlap](https://user-images.githu

[2018-02-08 04:05] #1499 closed

[2018-02-08 13:14] isht3 commented on #1005
@RishabhJain2018 I've specified two methods of implementation in #1457, could you give me feedback?

[2018-02-09 06:09] rupav opened #1524 "clicking on `view more`of VQA challenge leads to permission denied page"
_Thanks for taking the time to report a bug in the EvalAI project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/EvalAI/issues)._

If you'd like to report a bug, please include the following information:
- the expected behaviour
Reason for permission denied if any
- the o

[2018-02-09 09:30] Obtin commented on #1524
@rupav, We have already started working on it, please have a look at #1337.  Do let me know if I am wrong. Thank you for your contribution :-).

[2018-02-09 09:35] rupav commented on #1524
@obtin although page denied is more or like the same , But I have verified my account and then I am getting the error. Please see steps to reproduce the problem I mentioned.

[2018-02-09 10:19] Obtin commented on #1524
@rupav yes you are right. Have you started working on it? If not I would like to fix this. Thank you.

[2018-02-09 12:09] anweshknayak commented on #1520
@aka-jain Would it be good if I include this in GSOC proposal? I will have the mock-ups ready before the proposal period. There are certain bugs. I plan to revamp it completely. Sounds good?

[2018-02-11 15:50] deshraj commented on #1520
@anweshknayak: this doesn't seem like a lot of work. I would recommend you to fix the bugs beforehand and mention the Pull Requests link in your proposal instead of just listing the idea. Also, since revamping to Angular 5 is not a trivial task and will require a lot of time, so it's better to fix the existing bugs.

[2018-02-11 15:52] deshraj commented on #1521
Thanks @anweshknayak for opening this issue. Please feel free to work on this issue.

[2018-02-11 15:56] deshraj commented on #1128
@isht3: yeah, the submission worker will undergo certain changes where we will remove the RabbitMQ part and use SQS instead. Also, one important thing to notice here is that since SQS cannot run on local machine for testing, so we would have to use some kind of mock messaging service. (There are plenty of them on Github)

[2018-02-11 16:00] deshraj commented on #1130
@the-dagger: Totally agree.

@gautamjajoo #1455 is good for this issue but you need to change the location of the file from `.github/FAQ.md` to `docs/FAQ.md`. It would be similar to what you have done in the "Tutorial for Participate in challenge."

[2018-02-11 16:05] deshraj commented on #1500
It's not fixed yet. Needs some time. @gautamjajoo: can you please change it to `http://cloudcv.org` for now.

[2018-02-11 16:06] deshraj commented on #1190
@isht3: correct. If you want to work on it and would like to propose the workflow, feel free to do it.

[2018-02-11 16:20] deshraj commented on #1497
@dibyadas: Yes, we have planned to add support for Python 3.x. Please feel free to work on this if you are interested.

[2018-02-11 17:33] dibyadas commented on #1497
Sure. Will do!  Will work on this after my tests are over.

[2018-02-11 20:10] deshraj commented on #1497
Sounds good. Thanks for letting us know.

[2018-02-11 20:36] #1373 closed

[2018-02-11 21:02] #1524 closed

[2018-02-11 21:46] deshraj commented on #480
Closing this since not a priority as of now.

[2018-02-11 21:46] #480 closed

[2018-02-11 21:48] deshraj commented on #640
Thanks @isht3. Closing this since it is a duplicate issue as #1347

[2018-02-11 21:48] #640 closed

[2018-02-11 21:48] #668 closed

[2018-02-11 21:50] deshraj commented on #891
Not needed anymore.

[2018-02-11 21:50] #891 closed

[2018-02-11 21:50] deshraj commented on #986
This is already fixed and hence closing it.

[2018-02-11 21:50] #986 closed

[2018-02-11 21:51] deshraj commented on #992
Closing this.

[2018-02-11 21:51] #992 closed

[2018-02-11 21:52] deshraj commented on #1044
This issue is still open. If someone is interested, feel free to take this up.

[2018-02-11 22:22] #1214 closed

[2018-02-11 22:23] deshraj commented on #1220
Closing this since we are already planning to shift to Angular 5.

[2018-02-11 22:23] #1220 closed

[2018-02-11 22:24] deshraj commented on #1339
Not required now. We will get back to it once we have ported the frontend to angular 5.

[2018-02-11 22:24] #1339 closed

[2018-02-11 22:25] deshraj commented on #1343
Already fixed. Closing this.

[2018-02-11 22:25] #1343 closed

[2018-02-11 22:26] deshraj commented on #1345
Fixed in #1526

[2018-02-11 22:27] deshraj commented on #1357
Fixed to some extent. Hence closing it.

[2018-02-11 22:27] #1357 closed

[2018-02-11 22:28] #1191 closed

[2018-02-11 22:29] deshraj commented on #1390
@mlandry22: the issue is fixed now. Please let us know if you still face the error in creating a challenge. We will be happy to help you. :)

[2018-02-11 22:29] #1390 closed

[2018-02-11 22:30] deshraj commented on #1424
Fixed in #1445

[2018-02-11 22:30] #1424 closed

[2018-02-11 22:31] deshraj commented on #1430
As per the discussion in #1339 , we are not going with this approach. So, I am closing this issue.

[2018-02-11 22:31] #1430 closed

[2018-02-11 22:31] deshraj commented on #1473
Fixed in #1373

[2018-02-11 22:31] #1473 closed

[2018-02-12 08:02] gautamjajoo commented on #1044
@deshraj Fixed in #1472 .

[2018-02-12 11:59] Obtin commented on #1492
Done with #1373 , Starting working n this. Thank you.

[2018-02-12 13:10] isht3 commented on #1128
So, I guess it will need a common script, development script and a production script in a structure like the settings is done now? The mock messaging service would go in the development script, yes? If it's needed, I can work on the setting up the mock server and testing using something like https://code.google.com/archive/p/mock/

[2018-02-12 18:08] spyshiv commented on #811
@NSDCars5 I agree mixins shouldn't be used since we are using autoprefixer.
Closing this issue since this is not needed anymore.

[2018-02-12 18:08] #811 closed

[2018-02-15 11:25] Balance-Breaker commented on #1497
@deshraj I want to take this issue. Can you guide me where to get started.

[2018-02-15 13:27] Obtin commented on #1492
@deshraj I made changes in apps/base/management/commands/seed.py
'    def add_arguments(self, parser):
        parser.add_argument(
            '--nc', dest='nc', nargs='?', default=3,
            help = 'no.of challenges',
        )
'
`    def handle(self, *args, **options):
        self.nc = options['nc']
        self.stdout.write(self.style.SUCCESS('Starting the database seeder. Hang on...'))

[2018-02-15 18:28] deshraj opened #1529 "Permission denied: '/tmp/logfile'"
The submission worker currently faces the problem of permission denied due to the dependency on `/tmp/logfile`. Here is the error log:

[code]

[2018-02-16 16:30] isht3 commented on #1529
@deshraj Shall I look into it?

[2018-02-19 10:24] gautamjajoo commented on #1044
@aka-jain @spyshiv It was fixed in #1472 I think so, Can we close this issue?

[2018-02-19 10:25] gautamjajoo commented on #1114
@deshraj Can we close this issue since it is fixed in #1526 ?

[2018-02-19 13:36] spyshiv commented on #1044
Thanks @gautamjajoo for the update.
Closing this issue

[2018-02-19 13:36] #1044 closed

[2018-02-20 03:39] Obtin commented on #1492
@deshraj please have a look at it.

[2018-02-20 16:22] spyshiv commented on #1521
@anweshknayak Any Update on this? Let me know if you need any help

[2018-02-20 17:05] deshraj commented on #1529
@isht3: sure, go ahead.

[2018-02-20 18:02] gautamjajoo commented on #1130
@deshraj Ok. Will work upon this issue and will send the PR related to it. And will also add more setup issues.

[2018-02-20 18:02] gautamjajoo commented on #1130
@deshraj Ok. Will work upon this issue and will send the PR related to it. And will also add more setup issues.

[2018-02-20 20:53] deshraj opened #1533 "Add field submitted_at in leaderboard"
In the leaderboard, add support for showing the field `submitted_at` for each entry on the leaderboard. This will help the participants to keep track of the challenge submissions.

[2018-02-20 21:06] RishabhJain2018 commented on #1533
@deshraj Please check as I think this field is already there on the leaderboard.

[2018-02-20 23:02] #1533 closed

[2018-02-21 07:31] isht3 commented on #1529
@deshraj  How do I reproduce the error?

[2018-02-21 10:03] anweshknayak commented on #1529
@isht3` python scripts/workers/submission_worker.py settings.prod `
check the first line @deshraj has posted

[2018-02-21 10:05] anweshknayak commented on #1521
@spyshiv I am going to start on this :smile:. Will let you know if I need any help. Thanks :tada:

[2018-02-21 12:11] isht3 commented on #1529
@anweshknayak I missed the settings.prod part :rofl:, thanks for pointing it out.

[2018-02-21 13:02] isht3 commented on #1529
@deshraj @anweshknayak Is there any prerequisite installation required before running the production server? I'm getting a `ImportError: No module named raven` error.

[2018-02-21 20:26] Obtin commented on #1272
@spyshiv, Is this issue resolved? If not I would like to try this.

[2018-02-21 20:27] Obtin commented on #1341
@RishabhJain2018, Is this resolved? If not I would like to work on this.

[2018-02-21 20:51] anweshknayak commented on #1529
@isht3 yep `pip install raven` would do. Check https://github.com/Cloud-CV/EvalAI/pull/517

[2018-02-22 03:23] spyshiv commented on #1272
@Obtin : Sure!! Go ahead.
Assigning this to you.
Let me know if you face any issue or need any guidence regarding this.

[2018-02-22 03:43] spyshiv opened #1535 "Leaderboard in past challenges is not visible without login"
**Steps to reproduce:**

1. Go to `All Challenges` page
2. Select one of the `past challenges`
3. Go to `leaderboard` tab
4. On selecting one of the `challenge phase` it redirects to auth wall

@RishabhJain2018 Assigning this to you since you were working on similar issue

[2018-02-22 09:52] deshraj opened #1536 "Add support for changing Participant Team Name"
Currently, we don't provide support for editing the participant team name on UI. We would like to add a support for this.

[2018-02-22 10:07] isht3 commented on #1536
Can I take this up? 😄

[2018-02-22 10:08] deshraj commented on #1536
@isht3 sure. This needs to be done quickly. Please take it if you are sure that you can get it done quickly.

Also, FYI: I have a deadline this friday so I will be able to look at the pending Pull requests after that only.

[2018-02-22 11:47] RishabhJain2018 commented on #1341
@Obtin Yes sure!

[2018-02-22 13:23] isht3 commented on #1536
@deshraj Okay, that sounds good! I'll do it in 24 hours.

[2018-02-23 03:43] Yatish04 commented on #1497
I would like to work on this. Is there any branch for this @deshraj

[2018-02-23 06:09] RishabhJain2018 commented on #1497
@Yatish04 Yes you can work on it. No there isn't any branch for it, you can fork the repo and then start working on a new branch. Please feel free to ping us if you have doubts or queries.

[2018-02-25 05:05] Obtin commented on #1272
@spyshiv, please correct me if I am wrong, according to the above discussion the second approach is to be followed?

[2018-02-25 05:08] spyshiv commented on #1272
You're right. Second approach.

[2018-02-25 15:29] gautamjajoo commented on #1520
@anweshknayak Hey!! Are you on it?

[2018-02-25 15:31] anweshknayak commented on #1520
No. You can do this if you want to

[2018-02-26 04:54] isht3 commented on #1529
@anweshknayak All the dependencies are taken care off but when I run `python scripts/workers/submission_worker.py settings.prod` it's just stuck, no progress, no errors, no anything. Any ideas?

[2018-02-26 21:05] ParthS007 commented on #1497
@dibyadas are you still working on this or I can take this up ?
If you are working on this , can we collaborate ? Please let me know :+1:

[2018-02-26 21:07] ParthS007 commented on #1341
@Obtin  Are you still working on this or I can take this up ? Please let me know :+1:

[2018-02-26 22:08] dibyadas commented on #1497
Hey @ParthS007 !  Unfortunately, my exams are going on, so I was unable to work on this. Great that you are interested. Please go ahead on this one. So sorry that I did not inform earlier. It seems @Yatish04 is working on this. Just ask him before proceeding. :smile:

[2018-02-26 22:14] ParthS007 commented on #1497
@dibyadas I have updated my previous comment :+1: , Thanks for responding so quickly. @Yatish04  waiting for your response :smiley:

[2018-02-27 01:28] Obtin commented on #1341
@ParthS007, Yes :-)

[2018-02-27 14:08] crypton3535 opened #1543 "Issue due to spaces in password while signing up"
While signing up (new user) for EvalAI, I was required to set up a password for my account. The problem here is whether to allow spaces in password or not. While the frontend javascript checks donot check the presence or absence of spaces therefore a password like "abc abc " is accepted, but upon submitting, it shows that password is shorter than 8 characters, because of trimming of spaces at back

[2018-02-27 21:11] spyshiv commented on #1543
@crypton3535 Agreed. Assigning this to you. Go ahead

[2018-02-27 21:20] siddharth185 commented on #1497
Hey I also started working on this. I made some progress - https://github.com/siddharth185/EvalAI/tree/port_python3 using Futurize. The dependencies blocking python3 are - `asgiref (which is blocking asgi-redis) django-rest-auth recommonmark uwsgi` Can collaborate if anyone wants :)

[2018-02-27 23:17] Ramtingh commented on #1497
django-rest-auth asgiref and uwsgi are actually compatible with python3, it seems like a glitch with PyPi not listing their compatible versions. pip will still install them correctly.
I'm not entirely sure about recommonmark, but it looks like its also compatible.

[2018-02-28 09:05] Arun-Jain opened #1544 "Fix Typo."
Close bracket is missing in performance comparison paragraph in README file.

[2018-02-28 13:49] #1544 closed

[2018-02-28 13:53] isht3 commented on #1492
Hi @Obtin is the seeding exception issue resolved? :smile:

[2018-02-28 15:01] Obtin commented on #1492
@isht3 working on it will update you soon. :-)

[2018-02-28 15:55] isht3 commented on #1492
@Obtin Okay, cool. I can work on the seeding exception if you have other issues to work on. :smile:

[2018-02-28 16:58] Yatish04 commented on #1497
@ParthS007 feel  Free to work on this. We both can work on this

[2018-02-28 22:42] Obtin commented on #1492
@isht3 yeah sure, feel free to work on it.  :-)

[2018-02-28 22:55] Obtin commented on #1134
@deshraj, I would like to work on this. Can I proceed?

[2018-02-28 23:02] deshraj opened #1546 "Create MNIST Digit Classification Challenge"
## Why are we asking you to create a challenge?

Challenge creation is the main functionality of EvalAI. If you are able to create a challenge on EvalAI, then you have a better idea of how things are working in challenge creation and will be able to figure out errors/bugs etc. This also helps us to make the challenge creation process even better.

## Who can work on this issue?

Don't worry if som

[2018-03-01 05:42] Yashs744 commented on #1546
Hello Sir, I would like to work on this

[2018-03-01 05:47] deshraj commented on #1546
@Yashs744: since multiple people can work on this issue, so you can go ahead and work on this.

[2018-03-01 05:52] #1360 closed

[2018-03-01 10:21] #1535 closed

[2018-03-01 10:30] deshraj opened #1547 "Add support for sorting leaderboard column wise"
## Current Scenario

One cannot sort the fields based on different columns in the leaderboard for a challenge.

## Deliverables

- [ ] Add support for sorting leaderboard based on different columns
- [ ] Make sure to add support for sorting based on the submission date. For example, see VQA 2017 Challenge leaderboard: https://evalai.cloudcv.org/web/challenges/challenge-page/1/leaderboard/
- [ ] Ad

[2018-03-01 15:53] Obtin opened #1548 "edit-details dialog box should disable submit button when no changes are made"
- **the expected behavior**
The edit-challenge dialog box submit details buttons should be enabled only when changes are made.

- **the observed behavior**
At present even though no changes are made the successful edition message appears.

![message](https://user-images.githubusercontent.com/25207205/36854237-8103d882-1d96-11e8-9df2-bb57fcf21f56.png)

Would you like to work on this?
Yes.

[2018-03-01 15:57] spyshiv commented on #1548
@Obtin assigning this to you. Go ahead

[2018-03-07 13:51] S2606 commented on #1546
@deshraj I would also love to work on this

[2018-03-07 16:29] deshraj commented on #1546
@S2606 sure, go ahead.

[2018-03-08 23:27] RishabhJain2018 opened #1549 "Add Feature to notify users about new challenge on EvalAI."

[2018-03-09 06:19] chrustkiran commented on #1497
I'm very much interested in this, but I need someone to guide me, what should I do ?

[2018-03-09 11:19] xender98 commented on #1547
i will like to work on this issue..

[2018-03-09 11:22] deshraj commented on #1547
@xender98 sure, go ahead.

[2018-03-09 18:20] vladan-jovicic commented on #1547
Hi @deshraj and @xender98

I almost finished this issue. The only remaining this is testing.
Here is a description of my approach:
- when user selects the challange phase, a new row is shown containing sort_by form
- the form contains names of labels of columns
- when an option is selected, the index of selected label is saved
- a corresponding url is defined, so that the index is an optional para

[2018-03-09 22:27] deshraj commented on #1547
@vladan-jovicic: in future, please comment on an issue if you are interested in working on it.

You can follow a different flow than creating a form as you have suggested above. See the table '2012 Gold Medal Olympic Divers' given in this link: http://www.bu.edu/tech/services/cccs/websites/www/wordpress/how-to/sortable-searchable-tables/

[2018-03-10 02:43] xender98 commented on #1547
@deshraj so should i continue or move on another issue

[2018-03-10 11:33] RishabhJain2018 opened #1552 "UI Improvements in Leaderboard"
- [ ] Make the team name as **Bold** on leaderboard.

- [ ] Make `Rank` and `Participant Team` field as left aligned including the title.

- [ ] Make all the other fields as right aligned including the title.

- [ ] In the heading `submission time`, change the text to `Last Submission at` & display the delta between the current time and the last submission time. For Example: If the current time is

[2018-03-10 11:40] RishabhJain2018 opened #1553 "UI Improvements in Leaderboard Entry"
- [ ] Show the meta data fields (**Team Members** and **Method Description**) in each leaderboard entry.
Hint: Please refer the screenshot.
![6](https://user-images.githubusercontent.com/12206047/37241823-a1524bf0-2485-11e8-88a0-1b7c99ccfa9a.jpg)

- [ ] The user should be able to edit the **Method Description** field if the entry is created by the same user.

Please feel free to ask if you have do

[2018-03-10 11:42] ParthS007 commented on #1552
I want to work on this @RishabhJain2018

[2018-03-10 11:43] RishabhJain2018 commented on #1552
Sure go ahead @ParthS007 .

[2018-03-10 17:46] vladan-jovicic commented on #1547
@deshraj I followed your suggestion and before I make a pull request, I would like to ask for a comment on styling.
Here are a few examples:

Without any sorting:
![0](https://user-images.githubusercontent.com/8584694/37244981-b222e960-2491-11e8-85c3-b8c6cd9193df.png)

Sort by "score" from largest to lowest
![1](https://user-images.githubusercontent.com/8584694/37244986-ccb4fc82-2491-11e8-9c45-908

[2018-03-10 20:26] vishalpolley commented on #1546
@deshraj I would like to work on this

[2018-03-10 20:41] deshraj commented on #1546
@vishalpolley sure. Go ahead. 👍

[2018-03-10 20:45] deshraj commented on #1547
@vladan-jovicic this looks good. You can create a pull request now. I will review it once you have created the pull request.

[2018-03-10 20:45] deshraj commented on #1547
@xender98: please pick some other issue.

[2018-03-11 09:26] RishabhJain2018 opened #1554 "Add support to share challenge phase leaderboard."
Add support to share challenge phase leaderboard.

[2018-03-11 10:34] ParthS007 commented on #1552
@RishabhJain2018 Now the leaderboard looks like this.
![image](https://user-images.githubusercontent.com/24358501/37252355-c3e3be86-2545-11e8-9d7a-97fd20c18f0f.png)
Can you please help me with the 4th point?

[2018-03-11 16:24] RishabhJain2018 commented on #1552
@ParthS007 There are other fields `(yes/no, number, other, overall)` too in the right side of the screenshot. Please don't remove them. Just make them right aligned. Also, the border line after every entry is very dark. Make it similar to the one just after the heading.
Moreover, in the fourth point we need to display the time difference between now and when the last submission was made. I think t

[2018-03-11 16:27] vladan-jovicic commented on #1547
@deshraj I tried to make a PR. However, it fails travis checks. I don't see a reason since I changed only 2 files (challengeCtrl.js and leaderboard.html). Can you have a look and suggest how I can solve it?

[2018-03-12 06:03] #1554 closed

[2018-03-12 06:28] #1080 closed

[2018-03-12 06:36] deshraj commented on #1508
Since @viditjain08 cannot work on this issue, so this is open now for anyone willing to take. You will have to work on top of #1512. There aren't lot of changes to be done in this feature.

[2018-03-12 06:42] #1549 closed

[2018-03-12 07:34] #1470 closed

[2018-03-12 17:06] vladan-jovicic commented on #1553
@RishabhJain2018 can I give a try to this one?

Is it ok if I add a details button to each leaderboard entry, so that when user clicks on it, a popup (see the image below) is shown containing the method description and other details about the method or I should add it next to the team name?

Example of popup
![00](https://user-images.githubusercontent.com/8584694/37298026-8a3ce664-261f-11e8-879e-0

[2018-03-13 02:20] live-wire commented on #1546
@deshraj I'd like to work on this as well 🌮

[2018-03-13 14:48] deshraj opened #1558 "Add constraints for setting challenge phase start and end date"
## Current Observation

Challenge hosts can set the challenge phase start and end date to anything irrespective of the challenge start and end date.

## Deliverables

Add the following checks in proper places in the codebase (i.e some/all of these things would go in the ChallengePhase `save()` method)
- [ ] Challenge phase start datetime >= Challenge start datetime
- [ ] Challenge phase start date

[2018-03-13 15:18] deshraj commented on #1546
@live-wire sure. Feel free to comment if you have questions.

[2018-03-13 16:51] RishabhJain2018 commented on #1552
@ParthS007 Since we need this feature early, I am taking this up. Please take up any other issue from the list. :-)

[2018-03-14 17:07] isht3 commented on #1558
@deshraj Can I take this?

[2018-03-14 17:40] RishabhJain2018 commented on #1558
sure @isht3

[2018-03-14 22:33] vladan-jovicic commented on #1546
@deshraj Would it be useful to create some other examples?
Is there an UI for creating challenge configuration files?

[2018-03-15 06:50] #1552 closed

[2018-03-15 08:16] deshraj opened #1560 "Add support to create multiple dataset splits with same codename"

[2018-03-15 08:19] deshraj opened #1561 "Improve dataset_split selection logic in submission worker"
After integrating #1560, there can be multiple dataset_splits with the same name and codename and the code at

https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/submission_worker.py#L335

will fail as it will return `MultipleObjectsReturned` exception in the case where there are two or more dataset splits which have the same values of codename and split name.

[2018-03-15 15:03] Obtin commented on #1543
@spyshiv, if nobody is working on this I would like to resolve this.

[2018-03-15 17:30] schomatis opened #1563 "Docker build: cannot access frontend content"
I'm trying to reproduce the [Docker build instructions](https://github.com/Cloud-CV/EvalAI#using-virtual-environment) in an Ubuntu 16.04 system. The containers are being built correctly, I can connect to the backend (port 8000) and see the "Hello world", but when I connect to the frontend (port 8888) I always get an 404 error, the container is indeed active and responding but I can't access the we

[2018-03-15 17:32] deshraj commented on #1563
@schomatis can you please paste the screenshot of the error that you are facing?

[2018-03-16 04:55] deshraj commented on #1563
@schomatis did you try opening it in your browser? Please let me know if the issue persists on the browser.

[2018-03-16 07:20] #1561 closed

[2018-03-16 07:21] anweshknayak commented on #1563
@deshraj many people are facing this problem as per communication in gitter channel.

[2018-03-16 11:36] schomatis commented on #1563
@deshraj Yes, the issue persists on my browser. Both Firefox and Chrome failed to retrieve the web page.

[2018-03-16 18:34] jheguia commented on #1563
I have a similar problem. I'm getting this on Chrome (this is the source, of course):

<!DOCTYPE html>
  | <html lang="en">
  | <head>
  | <meta charset="utf-8">
  | <title>Error</title>
  | </head>
  | <body>
  | <pre>Cannot GET /</pre>
  | </body>
  | </html>
 

[2018-03-16 20:54] #1560 closed

[2018-03-16 21:27] tashachin opened #1569 "Grammatical errors in E-mail Address confirmation e-mail"
Hi! I'm new to programming and am still relying on manual testing.

I signed up for EvalAI and here is the e-mail I received:
![screen shot 2018-03-16 at 2 22 07 pm](https://user-images.githubusercontent.com/27714199/37545406-efe9f840-2925-11e8-8f88-01d8edc18e5e.png)

I'd be happy to draft up a new confirmation message that's less impersonal and reads better to native speakers.

[2018-03-16 21:31] deshraj commented on #1569
@tashachin: That would be great. We would love to see a better confirmation email. Feel free to share once you have the new message. :)

[2018-03-16 21:46] tashachin commented on #1569
I'd like to fork the repo and update the code directly. In which file would I find the confirmation message? (I haven't worked with an email API before, so unfortunately it's not very intuitive for me to know where to look.)

[2018-03-16 21:54] deshraj commented on #1569
You can find all the email related templates here: https://github.com/Cloud-CV/EvalAI/tree/master/apps/accounts/templates/account

[2018-03-17 02:38] live-wire opened #1573 "Documentation improvement in the evaluation_script page"
I am working on #1546 for submitting a new challenge to the platform. I felt that the documentation for evaluation script could use the following change:
- The section where output format is displayed, can be explained better.

[2018-03-17 22:21] MohamedElshazly commented on #1546
Hi ,I'd like to work on this

[2018-03-17 23:00] deshraj commented on #1546
@MohamedElshazly sure, go ahead.

[2018-03-17 23:01] deshraj commented on #1546
@vladan-jovicic yeah, feel free to work on some other example. Just let us know before you start working on the other example.

You can find the documentation for creating the challenge here: http://evalai.readthedocs.io/en/latest/challenge_creation.html

[2018-03-17 23:02] deshraj commented on #1563
Thanks for reporting. I will test this on my machine and see if the problem persists.

[2018-03-18 01:24] live-wire commented on #1558
@isht3 Are you working on it? If not, I can pick it up. 🌯

[2018-03-18 22:10] RishabhJain2018 opened #1576 "Bug in last submission datetime analysis API"
**IndexError:** list index out of range

**Culprit:**
/api/analytics/challenge/{challenge_pk}/challenge_phase/{challenge_phase_pk}/last_submission_datetime_analysis/

[2018-03-18 23:22] RishabhJain2018 opened #1578 "Bug in create challenge using zip file"
**KeyError:** 'evaluation_details'

**Culprit:**
/api/challenges/challenge/challenge_host_team/{challenge_host_team_pk}/zip_upload/

[2018-03-19 12:52] live-wire commented on #1546
@deshraj could you please show me some love and have a look at [this](https://github.com/Cloud-CV/EvalAI-Examples/pull/3) ? Thanks 😄

[2018-03-20 07:35] #1576 closed

[2018-03-20 07:53] #1578 closed

[2018-03-20 18:15] RishabhJain2018 opened #1582 "Bug in displaying total submissions done to a challenge phase."
The total submissions done to a challenge phase are always shown as 0.

[2018-03-20 19:02] RishabhJain2018 opened #1584 "Modify challenge evaluation and phases page"
**Description:**

- Remove this from the page -> On the bottom of “Phases” tab, there is text which says- “Challenge ends on: Dec 31, 2099 3:00:00 PM” for VQA Challenge

- Move “Submission Guidelines” under the submit tab

[2018-03-20 20:00] #1584 closed

[2018-03-20 21:41] #1582 closed

[2018-03-20 22:08] RishabhJain2018 opened #1586 "Fix display for showing remaining submissions"
**Description:** Update the view for showing the `total submissions left for the day` and `total submissions left overall`. The number doesn't look good. Make it look prettier.

[2018-03-21 09:43] RishabhJain2018 commented on #1553
@vladan-jovicic I am sorry, I somehow missed this thread. Did you start working on it?

No, we don't need a button in leaderboard entry. It should be a collapsable as shown in the screenshot above.

[2018-03-21 18:43] jheguia commented on #1563
In the docker file for nodejs, the command line for gulp is "gulp connect", whereas in the instructions for using virtualenv the command line is "gulp dev:runserver". I tried changing the gulp command line in the docker file to dev:runserver and it seems to be working. Could that be the problem?

[2018-03-21 20:00] deshraj commented on #1563
@jheguia Yeah it seems like that is the cause of this issue. I am trying to reproduce the error.

[2018-03-21 21:41] #1563 closed

[2018-03-22 01:52] deshraj opened #1589 "Update Mapillary logo on main page"
The current Mapillary logo on the main page has to be updated with the one given below:

![mapillary](https://user-images.githubusercontent.com/2945708/37746707-e30b6872-2d51-11e8-8abc-6db410116809.png)

The current logo seems to be squished. Please paste the screenshot of the updated home page while submitting a pull request.

[2018-03-22 07:56] deshraj opened #1590 "Add Random Number Generator Challenge zip file and documentation"
I have created a new sample challenge named `Lucky Challenge 2018` which we will use as a base challenge so that other challenge hosts can take inspiration from this.

## What this challenge is about?

This challenge is a simple challenge which generates a random number between 1 and 100 for each entry and whosoever is lucky gets a good random number and reaches the top of the leaderboard. More de

[2018-03-22 07:59] deshraj commented on #1589
Edit: instead of using Mapillary's logo, we would like to update it with Mapillary Research's logo shown below.

![mapillary_research](https://user-images.githubusercontent.com/2945708/37758078-57e90b12-2d85-11e8-9629-0af484194435.png)

[2018-03-22 08:39] #1586 closed

[2018-03-22 17:49] RishabhJain2018 commented on #1589
@geekayush Sure go ahead!

[2018-03-23 14:50] #1569 closed

[2018-03-23 18:05] psushaanth23 commented on #1590
Can I start working on this?

[2018-03-23 18:27] deshraj commented on #1590
@psushaanth23 sure, go ahead.

[2018-03-23 19:29] deshraj opened #1593 "Add file submission validation for different challenges"
## Current Scenario

Currently, we allow the participants to make submissions in `json` and zip `format`. We would like to add support for challenge specific upload formats.

## Deliverables

- [ ] Add a new ArrayField named `allowed_files` in `Challenges` model with default value set as `zip` and `json`
- [ ] Modify the challenge creation API using zip file to add support for allowed_file_extensi

[2018-03-23 21:41] RishabhJain2018 opened #1594 "Notify EvalAI Admin upon any contact message"
The EvalAI admin should get a notification via email as well as a slack message whenever any user submits contact query.

[2018-03-25 20:49] #1529 closed

[2018-03-26 02:48] #1536 closed

[2018-03-27 20:25] deshraj opened #1599 "Bug in backend logic to show remaining submissions on submit tab"

[2018-03-27 20:34] #1599 closed

[2018-03-28 14:50] RishabhJain2018 opened #1601 "Change the pagination of view all submissions in challenge host dashboard."
**Description:** The pagination under the `View All Submissions` tab for challenge host must have a default pagination of 100 entries. You can also make the pagination custom and letting the user decide out of choices 10,25,50,100.

**Deliverables:**

- [ ] The default pagination for `View All Submissions` under challenge host must have value 100.

- [ ]  A challenge host should be able to decide

[2018-03-28 16:18] RishabhJain2018 opened #1602 "Export challenge data in different formats."
**Description:** Currently EvalAI supports exporting the submissions using csv only, but we want to extend this support to `json`, `xlsx`, `xls`, `yaml`, `html` .

[2018-03-28 20:54] RishabhJain2018 opened #1603 "Add feature to export limited columns of submission list"
## Current Scenario

Currently when the challenge host export the submissions, all the fields are added to it by default. Having the functionality of allowing challenge host to choose which fields he would like to export would be nice.

## Deliverables

- [x] Add the feature to select the fields on the frontend UI which challenge host wants to export
- [x] Update the export API in the backend to a

[2018-03-28 21:10] deshraj opened #1604 "Add embed leaderboard button"
## Current Scenario

Currently, most of the challenge organizers maintain their own leaderboard when the challenge ends. For example, VQA 2017 challenge (http://visualqa.org/challenge_2017.html) manages their own leaderboard manually. We can make it better by having an embed leaderboard button on the leaderboard page.

## Deliverables

- [ ] Add a button `Embed leaderboard` on the leaderboard of a

[2018-03-28 21:14] RishabhJain2018 opened #1605 "Add Challenge preview mode for the challenge hosts"
## Description
The challenge host must be able to view the challenge in preview mode before publishing the challenge. Also, they must be able to make edits and make submissions using their account.

## Proposed Approach

- When the challenge `is_active` flag is false, challenge host can only see the challenge and make submissions and see their entry on the leaderboard for testing purposes.

- When

[2018-03-28 21:39] deshraj opened #1606 "Allow and block particular email domains for a challenge"
Currently, anyone can participate in a challenge. It would be great to have a functionality to allow/block only particular email domains to participate in a challenge as specified by the challenge host.

## Deliverables

- [x] Add a field to Challenge model to store the `allowed_email_domains` (default=None, blank=True)
- [x] Add a field to Challenge model to store the `blocked_emails_domains` (de

[2018-03-28 21:53] RishabhJain2018 opened #1607 "Update challenge creation process from zip config file."
## Description
Modify the challenge creation API so that the challenge object and other things are only created when the EvalAI admin creates the challenge by toggling `is_created` to true.

## Deliverables
- [ ] When the `is_created` flag in Challenge Config table is true, then the challenge details must be filled in their respective tables.
- [ ]  When the `is_created` flag is false, the zip doe

[2018-03-28 21:54] #630 closed

[2018-03-29 03:53] isht3 commented on #1606
@deshraj @RishabhJain2018 Can I work on this?

[2018-03-29 03:54] isht3 commented on #1594
@RishabhJain2018 @deshraj Can I take up this issue?

[2018-03-29 04:00] deshraj commented on #1594
@isht3 I think Rishabh has already solved this one. Feel free to  take up some other issue.

[2018-03-29 04:00] deshraj commented on #1606
Yeah sure. Assigning this to you.

[2018-03-29 16:40] isht3 commented on #1606
@deshraj for the `allowed_email_domains` and the other fields I should be using `ArrayField`, yes?

[2018-03-29 17:25] deshraj commented on #1606
Yes, you are right.

[2018-03-29 20:21] vladan-jovicic commented on #1553
@RishabhJain2018 I have not started yet. I am struggling with another issue. I will come back to this one next week (if nobody solves it until then).

[2018-03-30 10:38] isht3 commented on #1606
@deshraj, the front-end support for this is not yet required, yes?

[2018-03-30 15:02] RishabhJain2018 commented on #1553
@vladan-jovicic Okay!

[2018-03-31 00:19] spyshiv opened #1614 "Improve Seo features on sharing any url"
- [x] Fix issue: meta image is not showing on sharing urls
- [ ] Add a service that can handle (set, get) meta details according to change in route

[2018-03-31 02:50] deshraj commented on #1614
First issue addressed in #1615

[2018-03-31 12:30] ezavesky opened #1617 "docker issues: website, database persistence, and example project"
I'm excited about using + contributing to this project and because I can't quite release my challenge data so I'm going the docker route.

After creating and running the docker image, a number of high-level issues were found:
* [x] it looks like some of the javascript on the website isn't functioning as expected because all of the graphics are native size and cluttered (see visual examples)
    *

[2018-04-01 03:54] deshraj commented on #1617
Hi @ezavesky, thanks for your interest in using EvalAI. We are happy either you use EvalAI (http://evalai.cloudcv.org) or your own forked version of EvalAI to host a challenge. We would be happy to help you with the problems that you are facing with the docker installation.

It seems like there is some issue with the current docker setup. Let me try building the container again and see if I can re

[2018-04-01 06:32] deshraj opened #1618 "Limit number of concurrent submissions for a participant"
## Current Scenario

Currently, a participant can make any number of submissions until he reaches the limit of doing max submissions per day. We would like to add another constraint where a participant can do at max 3  submissions and if he wants to do more then he has to wait until the status of the previously done submissions gets changed to `failed` or `canceled` or `finished`. This will help u

[2018-04-01 10:57] gautamjajoo commented on #1589
@geekayush Can I work on this issue, if you are not working??

[2018-04-01 10:59] RishabhJain2018 commented on #1589
@gautamjajoo It seems @geekayush is inactive these days, so you can take this up :). Feel free to open a PR once it's done.

[2018-04-01 12:50] ezavesky commented on #1617
* **Docker image building**: Thanks.  My experience with composed docker images is not a strong, so I wasn't sure where to dig into each image.  Attached is the current node-js log, but nothing looked like an error to me: [node-js_log.txt](https://github.com/Cloud-CV/EvalAI/files/1866327/node-js_log.txt)
* **Team Display**: Adding a few more details, I did not understand the difference between a *

[2018-04-01 12:54] ezavesky opened #1619 "email confirmation page links back to main hosted instance"
After clicking/processing an email confirmation link, the resultant page links back to the main/cloud instance instead of the localhost/docker instance that is running the page.

1. Sign up as a new user
2. Click the confirmation link
3. The page from `http://localhost:8000/api/auth/email-confirmed/` contains a button to proceed to **login**, but when clicked it goes to the main URL `https://evala

[2018-04-01 17:06] isht3 commented on #1606
@deshraj The last part of this issue is still remaining. I'll do it ASAP.

[2018-04-01 17:11] deshraj commented on #1606
You mean the last 3 parts, right?

[2018-04-01 17:11] deshraj commented on #1606
Please add all of these remaining things in a single Pull request.

[2018-04-02 03:27] deshraj commented on #1619
Thanks, @ezavesky for opening this issue. This is just a static page shown to the participants when they confirm their email. Currently, it is being served by the backend server and it needs to be changed to be handled by angular routing. I am increasing the priority of this issue so that we get it resolved really soon. Sorry for the inconvenience.

[2018-04-02 03:36] deshraj commented on #1617
I was able to reproduce this error and it seems like there is some issue when we try to build the nodejs container. I am looking into this issue. I will let you know once I have resolved this issue. Meanwhile, feel free to setup using the manual instructions given in the docs: http://evalai.readthedocs.io/en/latest/setup.html#ubuntu-installation-instructions

Yes, you got it right. :)

Sorry I for

[2018-04-02 14:45] ezavesky commented on #1619
@deshraj Thanks for the hustle.  These are minor issues, IMO and the availability of the project is still a fantastic open source contribution! I will continue to report issues (if more exist) and hope to give back where I can.

[2018-04-02 20:28] deshraj commented on #1619
Thanks a lot. We look forward to hearing more about the project.

[2018-04-02 20:59] #1589 closed

[2018-04-03 12:00] isht3 commented on #1605
@RishabhJain2018 @deshraj I would like to work on this issue! :smile:

[2018-04-03 12:07] ezavesky commented on #1590
In trying to reuse this file (or the [example in the repo](https://github.com/Cloud-CV/EvalAI/blob/master/examples/example1/test_zip_file.zip)) on the the main website (evalai.cloudcv.org), I get the error...
[code]
Are there any alternate challenge examples?

[2018-04-03 12:25] isht3 opened #1622 "Solve inconsistencies in the response handling for the front-end and back-end."
# Current Scenario
Currently, there's a lot of inconsistencies in handling the various response messages on the front-end and on the back-end.

* Error responses on controllers don't take in the response argument. `onError: function()` --> `onError: function(response)`
* Responses are not properly displayed. E.g `['Server error']` Which is vague and the user gets no feedback.
* Some responses are

[2018-04-03 13:10] RishabhJain2018 commented on #1605
Sure @isht3 go ahead!

[2018-04-03 13:33] ezavesky opened #1623 "gulp missing gem specification with from-source install"
Pivoting from #1617 installation failure, I attempted to install from source on a docker image with only postres10.  Going through the steps on the main README.md, I hit an error in the npm/gem installation task.  Unfortunately, I don't know Ruby so I can't offer any deeper insights than just this CLI error.

[code]

To remedy this, I have attempted to install `sass` and `node-sass` with commands

[2018-04-03 13:55] RishabhJain2018 commented on #1623
Hey @ezavesky ,
We are really sorry for your trouble. Also, we are working on the docker feature to get it working as soon as possible.
Moreover, regarding this error can you please try installing saas using `gem install sass`. please let me know if you still face some error. I will be happy to help.

[2018-04-03 14:29] ezavesky commented on #1590
@deshraj Thank you for the quick note and patience. I confirm that the spurious directory was the issue above.

[2018-04-03 17:04] isht3 commented on #1605
@deshraj Okay! 😄

[2018-04-03 19:18] #1573 closed

[2018-04-04 08:01] RishabhJain2018 commented on #1623
Hey @ezavesky Were you able to setup the development environment for EvalAI ?

[2018-04-04 08:05] deshraj commented on #1492
@isht3 if you are working on this, please complete it asap.

[2018-04-04 12:35] isht3 commented on #1492
@deshraj I'll finish this right now.

[2018-04-04 13:26] ezavesky commented on #1623
Thank you for following up; I was unable to successfully execute your instructions due to installation issues (what version of Ruby, building of some specific gem, etc.), which sidetracked this progress.  I'm not giving up, but might prefer the more automated route of using the docker compose instructions instead.

[2018-04-04 13:28] deshraj commented on #1623
I agree. Sorry for the docker issue. I have been busy with other things for last few days and could not get it fixed. I will try to get it fixed today so that it would be easier for you to deploy.

Closing this issue.

[2018-04-04 13:28] #1623 closed

[2018-04-04 14:41] #1606 closed

[2018-04-05 21:11] deshraj opened #1627 "KeyError: 'evaluation_script'"
When you try to crate a challenge with a random zip configuration file, the application throws 500 which should be handled at the backend.

[code]

[2018-04-06 02:55] gautamjajoo opened #1628 "Installation Error on UBUNTU 16.04"
When EvalAI is installated on UBUNTU 16.04, The webpage looks like below.

![](https://files.gitter.im/Cloud-CV/EvalAI/Its0/Screenshot-from-2018-04-05-16-32-24.png)

![](https://files.gitter.im/Cloud-CV/EvalAI/MJq2/Screenshot-from-2018-04-05-16-32-15.png)

[2018-04-06 15:20] ezavesky opened #1632 "On Firefox browser, counter for host teams is not accurate"
Steps to reproduce, as tested on evalai.cloudcv.org (April 6, 2018)

1. Create login, go to dashboard
2. Head to "create challenge", create a team
3. Check the dashboard again, but no team count is present
4. NOTE: This is not an issue for participant teams.

![image](https://user-images.githubusercontent.com/12480297/38429365-be7dc08e-3983-11e8-9f11-16895b6c0706.png)

![image](https://user-images

[2018-04-06 15:21] ezavesky opened #1633 "provide a way for users/developers to quickly observe build version from UX"
Very low priority, but please consider stamping a build version into a meta header on each page or as a text element on a footer.  This will help to link and confirm fixes between versions.

[2018-04-06 17:31] RishabhJain2018 commented on #1632
Hi @ezavesky I tested it and it seems to be working fine for me. Can you please try it again. Please feel free to ping us if you face issues in it.

[2018-04-06 17:42] deshraj commented on #1632
@ezavesky can you please also check the network tab on the browser console? You will see red colored API endpoint if there any error exists.

[2018-04-06 17:56] ezavesky commented on #1632
Very odd. It seems to work in Chrome (bottom) but not Firefox (top).  Please close or deprioritize as needed.

![image](https://user-images.githubusercontent.com/12480297/38436295-dcd0363c-3999-11e8-98ad-294af941e1b0.png)

[2018-04-06 18:02] deshraj commented on #1632
@ezavesky thanks for pointing out. It seems that the behavior that you mentioned is correct. After doing some debugging, it looks like Firefox is sending an `OPTIONS` request type instead of `GET` to fetch the challenge hosts teams hence this is the error.

@spyshiv can you please look into this issue?

[2018-04-07 14:45] Marlysson commented on #1633
Will we use which version system ? Semantic version.. own format...

What do you think about stay so:

![sem titulo](https://user-images.githubusercontent.com/4117999/38456252-0eaf2dec-3a59-11e8-8211-e2a7d661961c.png)

[2018-04-07 15:47] spyshiv commented on #1632
@deshraj I'm on it.

[2018-04-07 18:04] ezavesky commented on #1623
Just a follow-up, I think the issue is that some of the node modules are deprecated, like gulp-karma.  https://www.npmjs.com/package/gulp-karma

[code]

[2018-04-07 18:07] deshraj commented on #1623
Thanks @ezavesky for pointing this out. We will prioritize this and try to get the packages updated.

[2018-04-08 13:59] deshraj opened #1638 "KeyError: 'image'"
https://sentry.io/cloudcv/evalai/issues/519375153/

[code]

[2018-04-08 18:44] RishabhJain2018 opened #1641 "Add tests for challenge creation using zip file."
## Description
The unit tests for the function `create_challenge_using_zip_file` are missing in `apps/challenges/views.py`.

## Deliverables

- [ ] Add the required tests to increase the coverage.

[2018-04-08 19:24] deshraj commented on #1605
@isht3 sure. :)

[2018-04-08 20:36] #1627 closed

[2018-04-09 04:30] #1638 closed

[2018-04-09 06:01] spyshiv commented on #1628
@gautamjajoo is there any error log in console/terminal ? If any, paste here.

[2018-04-09 06:04] spyshiv commented on #1628
And can you try frontend setup using updated `package.json` from PR #1639 and let me know the status

[2018-04-09 08:11] lenniezelk commented on #1641
i'd like to work on this

[2018-04-09 08:16] RishabhJain2018 commented on #1641
@lenniezelk Sure go ahead!

[2018-04-09 09:30] isht3 commented on #1605
@deshraj @RishabhJain2018 I'll have to define a separate `is_active` field in the back-end, yes? Also, what I thought was after the challenge was uploaded, the admin would have to verify, at the same time the challenge host could also preview it and make changes, but unless both the admin and challenge host approves it, it won't be published. It would be visible in the Challenges in the `My challe

[2018-04-09 11:35] ezavesky commented on #1617
I regret to push on this directly, but I will be launching an internal hackathon next week.  Are there expectations on fixing this issue (or getting any ability to privately deploy) by ~Wednesday (4/11/18) or should I look elsewhere for the near term?

[2018-04-09 16:28] deshraj commented on #1633
Thanks, @ezavesky for this suggestion. We haven't figured out yet that how we want to version EvalAI. Temporarily, what I am planning to do is to change the deployment on the production website to be linked with a new branch `production` instead of attaching it to the `master` branch. So,

`production` branch -> http://evalai.cloudcv.org
`staging` branch -> http://staging.evalai.cloudcv.org
`maste

[2018-04-09 16:29] deshraj commented on #1633
@Marlysson: Please do let us know if you have suggestions for how we should version EvalAI. We are more than welcome to accept PR for the same. Thanks!

[2018-04-09 16:38] deshraj commented on #1605
You can use the field `is_published` which is being controlled by the challenge host to make the challenge public or just to visible to himself.

Yes, you are right. So to make things more clear to you, here is the flow that I have in my mind:

[code]

[2018-04-09 19:03] deshraj commented on #1617
@ezavesky I understand your concern and I think we have figured out the issue. Earlier what was happening is that we were not able to replicate the issue. Now, we have found it and we would be able to resolve this by today. I will let you know once this is done so that you can use EvalAI for your internal hackathon. Apologies for the delay.

[2018-04-09 19:39] gautamjajoo commented on #1628
@spyshiv I have taken the latest pull, and here's the terminal window

![](https://files.gitter.im/sridharjajoo/yp1W/Screenshot-from-2018-04-10-01-01-15.png)

![](https://files.gitter.im/sridharjajoo/yp1W/Screenshot-from-2018-04-10-01-01-27.png)

[2018-04-09 21:39] Marlysson commented on #1633
We may use the [semantic version](https://semver.org/) seems be a good version system.. But is a little large to study and apply instantly..

[2018-04-09 21:55] Marlysson commented on #1633
We may use so:

**A**.**B**.**C**

**A: Great changes**
 - New architecture;
 - Change some huge thing project ( rest to graphql , implement some api , new microservice )

**B: New features**
- Each issues closed;

**C: Bug fixes**

We could too separate each issue in Milestones using the Github projects and each milestone increment some version in out new version system...

[2018-04-09 22:27] deshraj commented on #1628
@gautamjajoo @ezavesky It seems like the error is fixed in #1639. After getting the latest changes, update your nodejs and npm to the latest version to get it to work. I am using node version 8.11.1 and npm 5.6.0 and it is working fine. Please let me know if this error is still not fixed.

[2018-04-10 07:16] gautamjajoo commented on #1628
@deshraj I am using node version 8.11.1 and npm 5.6.0, but I am facing the following issue while executing  ```npm install```

![image](https://user-images.githubusercontent.com/24366008/38541551-0997fda0-3cbd-11e8-9f2b-c75719f031ef.png)

[2018-04-10 07:41] gautamjajoo commented on #1628
@spyshiv @deshraj I think so #1645 will solve this error.

[2018-04-10 07:45] deshraj commented on #1628
Yes @gautamjajoo. Just 5 more minutes and then error will be resolved. :)

[2018-04-10 07:50] #1628 closed

[2018-04-10 07:54] deshraj commented on #1617
@ezavesky all the issues that you mentioned in this issue are fixed. Please make sure to pull the latest changes from the master branch. #1645 #1646  fixes the remaining issues that you have mentioned. I am closing this issue for now. Please feel free to reopen if things don't work for you.

[2018-04-10 07:54] #1617 closed

[2018-04-10 10:49] ezavesky commented on #1633
IMO, semantics are the way to go and the best way to get compliance with pythonic release structures.  For example, using the build structure (from travis.ci) and semantic, three-part notations (A.B.C) package managers can easily track and upgrade the package as it grows.

[2018-04-10 10:54] ezavesky commented on #1617
Thanks for all of the extra effort here. I get a new error when trying to start from a clean docker environment (no containers, no images, etc).  It looks like the node commands still have some issues.

[code]

[2018-04-10 11:00] spyshiv commented on #1617
@ezavesky I think it's npm cache issue. Try running `npm cache verify` then do `npm install` etc. Please let me know in case of anything.

[2018-04-10 11:03] ezavesky commented on #1617
This could be a caching issue on a fresh docker image?  Not quite sure where to poke into an image to do that.  There are no running containers at this point for me to log into.  This was encountered while running the docker compose command `docker-compose up --build`.  I'm just getting the hang of compose testing, so if you have an instruction set to try, I'd be happy to.

[2018-04-10 11:40] Marlysson commented on #1633
@ezavesky Then it more recommended to packages python and not a whole software development..?

[2018-04-10 11:46] ezavesky commented on #1633
@Marlysson Sorry, not sure I followed your comment.

I was stating that if there is a question about what kind of versioning to use, I'd advocate for semantic versioning.  You're right that this is a bigger project with many moving container/dependencies, but it looks like the core "running" environment (e.g. the way to configure/start this repo) is python-based.   It can be used on other python p

[2018-04-10 12:32] Marlysson commented on #1633
Yeah, I totally agree.

So just get started, huh? :smile:

[2018-04-10 14:19] ezavesky commented on #1633
Hah, sure.  Baby steps, I know.  But each of these woudl be fun to grow into with the project.

[2018-04-10 15:53] RishabhJain2018 commented on #1605
@isht3 yes, there should be a toggle button which will be visible to challenge host only.

[2018-04-10 16:45] deshraj commented on #1617
@ezavesky I deleted again all the containers, images and volumes in my system and tried to build the docker container and it seems to work well now. Please see the log here: https://pastebin.com/

Just as an extra precaution, can you please remove `node_modules/`, `bower_components` and `package-lock.json` files before building the Docker containers.

Also, did you try installing through the norma

[2018-04-10 17:30] deshraj commented on #1633
Yeah I agree with @ezavesky. The project has too many moving parts and having semantic versioning won't be that useful here. We do some more research and see if we can find something better. Most of the other big open source projects have release branches which they maintain. For example, see this: https://github.com/mozilla/gecko-dev/branches. Let me know what you guys think about this.

EvalAI p

[2018-04-10 22:07] ezavesky commented on #1617
@deshraj Okay, oddly it worked on a mac workstation but not on a deployed linux server running docker-ce as well.  For 'normal' method install, no there were other challenges and limitations that prevented that install from working when starting from a simple ubuntu docker image.  Perhaps I should try again now that the main docker build works.

Thank you for the continued work and check-in.  I wi

[2018-04-10 23:05] deshraj commented on #1617
This is odd. If it helps, the current docker version that I am using is `Docker version 18.03.0-ce, build 0520e24`.

Sounds good. Please let me know how it goes.

Yeah I just noticed that it is taking ~20% CPU on my machine as well. This might be case because of `gulp dev:runserver`. If you are trying to run this on a server, you might want to use the task `gulp prod` instead of `gulp dev:runserve

[2018-04-11 21:59] deshraj opened #1647 "Change the privacy level of files on AWS S3"
## Current Scenario

Currently, anyone can access the files using the S3 links. This creates a potential threat of getting the test annotations being exposed to the public if someone gets the URL. We want to protect the files to be only accessible from the particular hostnames by setting the policy in S3 and modify the Django views to give permission to the particular set of users.

## Deliverable

[2018-04-12 18:44] #1130 closed

[2018-04-12 19:33] gautamjajoo commented on #1345
@deshraj Since, it is fixed in #1526 , we cna close this issue and #1114 this also.

[2018-04-12 19:51] deshraj commented on #1345
Thanks @gautamjajoo for pointing out. Closing this now.

[2018-04-12 19:51] #1345 closed

[2018-04-12 19:51] deshraj commented on #1114
Thanks @gautamjajoo for pointing out. Closing this now.

[2018-04-12 19:51] #1114 closed

[2018-04-13 04:12] gautamjajoo commented on #1548
@Obtin Are you working on it? If not, can I work.

[2018-04-13 11:47] isht3 commented on #1605
@deshraj The challenge publish/private feature is done. The testing submissions for the challenge host will be done tonight.

[2018-04-13 11:48] isht3 commented on #1605
Is that timing okay?

[2018-04-13 19:39] deshraj commented on #1605
Sounds good. Please let me know if you have questions.

[2018-04-14 16:06] isht3 commented on #1605
@deshraj I did the PR #1653. I wanted to populate the leaderboard database to test it, does the leaderboard work on `Visual VQA challenge`? I've given input file with 0-9 values but it didn't work. Any ideas?

[2018-04-14 19:51] #1291 closed

[2018-04-15 09:32] isht3 opened #1655 "Configuring test settings for py.test."
# Proposed changes.

* Adding `settings/test.sample.py`
* `cp settings/dev.sample.py settings/dev.py` and adding `dev.py` to .gitignore so that we don't have to stage the changes everytime we are running tests and commiting.
* Deciding between `py.test` and `pytest`.

[2018-04-16 07:27] #1492 closed

[2018-04-17 19:43] #1547 closed

[2018-04-18 10:11] lenniezelk commented on #1641
i started writing a test but i ran into a problem. `zip_challenge.yaml` inside the sample zip `examples/example1/test_zip_file.zip` refers to `evaluation_script: data.py` which is missing in zip file. I found a `evaluation_script.zip` in the sample zip and renamed the `main.py` to `data.py` and created a new sample zip archive. On running test i get error: `{u'error': [u'The submitted data was not

[2018-04-18 14:22] deshraj opened #1656 "error: [Errno 11] Resource temporarily unavailable"
https://sentry.io/cloudcv/evalai/issues/531162663/

[code]

[2018-04-19 17:47] RishabhJain2018 commented on #1641
Please read the instructions [here](https://evalai.readthedocs.io/en/latest/challenge_creation.html#challenge-creation-using-zip-configuration) to create a sample zip archive, you need give the the path of evaluation script zip folder relative to the `yaml` file. So, please give the path as `evaluation_script.zip` and try running the tests again. Feel free to ask if you have any further questions.

[2018-04-20 01:48] #1605 closed

[2018-04-20 04:25] isht3 commented on #1594
@deshraj Okay!

[2018-04-20 04:31] isht3 commented on #1618
@deshraj @RishabhJain2018 Can I start working on this?

[2018-04-20 05:11] deshraj commented on #1618
@isht3 sure, go ahead. Assigning this to you.

[2018-04-21 02:04] sachinmukherjee opened #1659 "Error: NodeNotFoundError when running python manage.py migrate command using python 3.4 or above"
`raceback` (most recent call last):
File "manage.py", line 22, in <module>
execute_from_command_line(sys.argv)
File "/home/sachin/evalai/venv/lib/python3.5/site-packages/django/core/management/init.py", line 367, in execute_from_command_line
utility.execute()
File "/home/sachin/evalai/venv/lib/python3.5/site-packages/django/core/management/init.py", line 359, in execute
self.fetch_command(subcomma

[2018-04-23 15:07] Jonathan-Livingston-Seagull opened #1662 "Nodejs returned with error code"
When I was trying to launch the application via docker-compose, nodejs returned with the following error.
`
nodejs    | module.js:545
nodejs    |     throw err;
nodejs    |     ^
nodejs    |
nodejs    | Error: Cannot find module 'run-sequence'
nodejs    |     at Function.Module._resolveFilename (module.js:543:15)
nodejs    |     at Function.Module._load (module.js:470:25)
nodejs    |     at Module

[2018-04-23 15:20] deshraj commented on #1662
Sorry for the inconvenience @Jonathan-Livingston-Seagull. We are looking into this issue. We will let you know soon.

[2018-04-23 16:08] deshraj commented on #1662
@Jonathan-Livingston-Seagull I tested the node container on my system and it seems to work fine for me. Please see the logs below:

[code]

Can you please try the above commands and let me know if this works for you? Also, if possible, please share the error logs.

[2018-04-23 16:10] Jonathan-Livingston-Seagull commented on #1662
@deshraj  Thanks for the quick response. Actually I pulled the latest change and build it again before posting the log file, and it seems the error is gone and the app works fine. I will close this issue with this comment. Thanks again.

[2018-04-23 16:10] #1662 closed

[2018-04-23 16:10] deshraj commented on #1662
Awesome. I am glad that it worked. :)

[2018-04-24 00:51] deshraj opened #1663 "Cannot start PhantomJS"
If I am trying to run the nodejs container, then it shows me the error that `Cannot start PhantomJS`. Please see the below error log for full details:

[code]

[2018-04-25 04:08] mehak16163 commented on #1558
@deshraj I am a beginner and would like to take it up as my first issue. Can you please guide me through this?

[2018-04-25 04:42] isht3 commented on #1558
Hi! @mehak16163 How familiar are you with Django? 😄

[2018-04-25 05:04] mehak16163 commented on #1558
I think I would be able to find the relevant files and make some code changes to it.
But if required to build from the start I wouldn't be able to do that.

[2018-04-25 18:49] #1341 closed

[2018-04-25 23:42] RishabhJain2018 opened #1669 "Add new logo in home page"
### Deliverables
Add Draper logo in the home page
Logo: http://www.draper.com/sites/all/themes/draper/img/Draper-Primary-Logo-RGB.png

[2018-04-26 01:08] gautamjajoo commented on #1669
I would like to work on this.

[2018-04-26 01:15] deshraj commented on #1669
Sure @gautamjajoo. Go ahead.

[2018-04-26 16:02] RishabhJain2018 opened #1671 "We should not expose the PK for any phase or challenge_phase_split in the url."
## Current Scenario
The pk of the challenge phase and challenge phase split appears in the url.

## Deliverables
### Step 1:
write a script to modify the value of id for different challenge phases of the same challenge. For VQA Challenge with pk 80, it has 3 phases with id = pk = (100, 101, 102) and 4 challenge phase splits with id = pk = (41,42,43,44)

What we might want to do here is that:
1. ad

[2018-04-27 08:27] sachinmukherjee commented on #1622
@isht3 Can you please tell me in which files we need to make changes?

[2018-04-27 18:19] isht3 commented on #1622
@sachinmukherjee https://github.com/Cloud-CV/EvalAI/blob/d86a3924ee8506b6c70223b53f7fe954f87cc8fe/frontend/src/js/controllers/challengeCtrl.js#L1030 In this line you can see that the error pretty much reveals nothing useful the user. Ideally, it should be changed to something useful regarding what's causing the error. Also, the responses sent from the backend aren't displayed and formatted properl

[2018-05-02 08:30] lenniezelk commented on #1641
added a pr for this @RishabhJain2018

[2018-05-02 21:08] #1669 closed

[2018-05-02 23:30] deshraj commented on #1663
Sorry, my bad. Invalid issue. Closing it.

[2018-05-02 23:30] #1663 closed

[2018-05-07 02:14] sachinmukherjee commented on #1358
@RishabhJain2018 anyone working on this issue?

[2018-05-14 07:33] #1618 closed

[2018-05-14 09:27] #1641 closed

[2018-05-23 06:04] santoshray02 opened #1687 "Error: $injector:modulerr Module Error"
Hi
I am getting this error while to install Evalai using docker.
![screenshot from 2018-05-23 11-32-50](https://user-images.githubusercontent.com/12428112/40406132-16bd057a-5e7d-11e8-9692-7ac538c1fb92.png)
![screenshot from 2018-05-23 11-32-25](https://user-images.githubusercontent.com/12428112/40406133-1703c0c8-5e7d-11e8-9f7f-6e6f80382c43.png)

vendor.js:formatted:4207 Uncaught Error: [$injector:

[2018-05-27 16:38] nityanandagohain commented on #1604
Hi can I work on this.

[2018-05-27 17:42] RishabhJain2018 commented on #1604
Sure! You can work on this.

[2018-05-28 16:28] RishabhJain2018 opened #1688 "Add a feature to show the authentication token to the user on the MyProfile Page"
**Deliverables:**

- [ ] Add API endpoint to fetch or create (if doesn't exists) the token from database.

- [ ] Add Frontend to with features to show, copy and download the token in JSON format

[2018-05-28 16:29] #1688 closed

[2018-06-02 00:06] deshraj opened #1690 "Add support for setting submission limit per month per team for a challenge"
## Current Status

Currently, we only provide the capability to set the daily submission limit and total submission limit throughout the challenge. For evaluation of tasks envisioning evaluation of models on EvalAI as long-running test server and not challenge with finite time, we would like to add the feature to limit the number of submissions to a challenge per month per team which eventually li

[2018-06-02 17:44] varunagrawal commented on #1687
This is an error for even a vanilla install without docker.

[2018-06-02 22:43] RishabhJain2018 opened #1691 "Update submission worker to create challenge specific queues."
### Deliverables:

The submission worker should be updated so that challenge specific queues can be created instead of one single queue for all the challenges.

**Challenge Queue name:** submission_challenge_<challenge_pk>

Make sure to use the exchange type as **direct**.(refer [here](https://www.rabbitmq.com/tutorials/tutorial-four-python.html))