[2017-02-16 04:18] deshraj commented on #616
@Ram81 Any updates on this?

[2017-02-16 04:20] deshraj commented on #607
@yadavankit are you working on this or @gauthamzz is working?

[2017-02-16 04:20] deshraj commented on #552
Sure @anweshknayak.

[2017-02-16 04:21] deshraj commented on #482
@spyshiv can you please complete is ASAP since we are really close to the deadline. :)

[2017-02-16 04:23] deshraj commented on #477
@Ram81 Yeah there is no need to change the URL. Again, sorry I missed this thread. :) Please ping me on gitter if I miss something.

[2017-02-16 04:24] deshraj commented on #462
@aka-jain all the paginations done?

[2017-02-16 04:27] deshraj commented on #428
@TroJan can you please prioritize this over all other issues assigned to you? It seems like this the super critical thing for us for now.

[2017-02-16 04:43] Ram81 commented on #616
@deshraj  this one is done you can close this.

[2017-02-16 04:45] Ram81 commented on #477
@deshraj You can close this one too.

[2017-02-16 04:46] deshraj commented on #612
Changing the fabric configurations fixed the issue.

[2017-02-16 04:46] #612 closed

[2017-02-16 04:47] Ram81 commented on #654
@deshraj  sure

[2017-02-16 04:54] #477 closed

[2017-02-16 05:15] #659 closed

[2017-02-16 05:21] #637 closed

[2017-02-16 05:21] deshraj commented on #637
@daas-ankur-shukla @yadavankit Please donot work on this issue now. I have resolved it since we needed it ASAP.

[2017-02-16 05:29] RishabhJain2018 commented on #652
@deshraj I had discussed this with @TroJan & I will fix this asap.

[2017-02-16 05:30] deshraj commented on #652
Sounds good.

[2017-02-16 06:46] deshraj opened #676 "Polling not working as expected in My-Submissions View"
Cases that are not covered in Polling:

## Problem 1:
Problem occurs when the data is updated and the user is on some page except the 1st page of Pagination.

## How to replicate?
1. Open My-submissions in one tab and goto page 2 or 3 using pagination
2. Open submission view in another tab
3. Create a submission
4. Go back to the previous tab of my-submissions
5. When you click on "Page is outdate

[2017-02-16 06:49] gauthamzz commented on #676
Is. Anyone doing this?

[2017-02-16 06:51] deshraj commented on #676
No. @gauthamzz if you are interested in solving this one, I can assign it to you.

[2017-02-16 06:52] gauthamzz commented on #676
Yeah that would be great

[2017-02-16 06:53] deshraj commented on #676
Sure. Please be quick in solving this issue since this is one the critical issue and we want it to get done ASAP. :)

Let us know if you need any help.

[2017-02-16 08:30] daas-ankur-shukla commented on #637
quite and elegant solution that was @deshraj. apologies that i could not solve it in time. :) hope will do better in other issues :)

[2017-02-16 08:31] deshraj commented on #637
No Problem @daas-ankur-shukla. :)

[2017-02-16 08:43] aka-jain opened #677 "Integrate our team page with API."
@deshraj if we have an API ready for team page, then will you please share it here?

[2017-02-16 09:22] deshraj opened #679 "Create API Endpoint for Showing the Team Member Details"
Objective:
- Create an API endpoint with URL `/api/web/teams` which shows all team members on `GET` request.

[2017-02-16 09:22] deshraj commented on #677
Dependent on #679

[2017-02-16 09:29] aka-jain commented on #679
@deshraj Are we going to show team creation form somewhere?

[2017-02-16 09:30] deshraj commented on #679
Oh my bad. Only `GET` request is allowed on this API. Updating the description. :)

[2017-02-16 13:21] spyshiv commented on #482
@deshraj : Sorry for the delay. I was busy in other works.
It's almost done.(branch `ui_notification`)
Just brief a list of events when these notification will be shown.

[2017-02-16 13:37] yadavankit commented on #679
@deshraj you can assign this to me :)

[2017-02-16 18:26] yadavankit commented on #679
![screen shot 2017-02-17 at 12 00 11 am](https://cloud.githubusercontent.com/assets/8945824/23034920/6fa132b4-f4a3-11e6-966c-d30198f23cb8.png)
@aka-jain does this solve the issue?

[2017-02-16 18:42] deshraj commented on #679
@yadavankit it would be great if you can integrate this with the `our-team` view. Let me know if you  cannot do this then we can open another issue for that. :-)

[2017-02-16 18:47] yadavankit commented on #679
@deshraj ok will do 👍

[2017-02-16 18:48] deshraj commented on #679
Thanks :)

[2017-02-16 19:04] aka-jain commented on #679
Also @yadavankit member title is for short description which will use text editor in admin.
@deshraj I think this response will be better, what say?
[code]

[2017-02-16 19:05] deshraj commented on #679
Yes, you are correct. @yadavankit can you please take care of this situation?

[2017-02-16 19:33] deshraj commented on #679
@aka-jain can we take care of this grouping of contributors and the core team at the client side using the `ng-if`?

[2017-02-16 19:35] yadavankit commented on #679
@deshraj yeah...I was about to ask for it too

[2017-02-16 19:36] deshraj commented on #679
Ok cool then. @yadavankit lets do it this way. :)

[2017-02-16 20:26] aka-jain commented on #679
@deshraj No need to use ng if here, as we can store data in 2 different object, one is for core and other for contributors.

[2017-02-16 20:41] deshraj commented on #679
Yeah @aka-jain, I agree with this approach. But I was more concerned about the fact that if the # of Types increases in future, then we should take care of that already.

[2017-02-16 20:45] aka-jain commented on #679
Agree, let's go with @yadavankit design.

[2017-02-16 21:40] spyshiv opened #683 "Frontend: Remove comparison operator in case of 'true' and 'false'."
- [ ] Case1: if somewhere code is written like this
`if(variable_name === 'true') { //code }` or `if(variable_name == 'true') { //code }`
then change this to
`if(variable_name){
//code
}`

- [ ] Case2: if somewhere code is written like this
`if(variable_name === 'false') {
       //code
}`
then change this to
`if(!variable_name){
//code
}`

PS: It's not only for `if` but also same for `else`, `els

[2017-02-16 23:27] anweshknayak commented on #552
@spyshiv let me know when the notification thing is ready :)

[2017-02-16 23:31] spyshiv commented on #552
@anweshknayak : Have you done first task which is not dependent on notification things ?
and Notification feature has been added in PR #684.
You can start working on first task. I will let you know when the PR #684 will be merged

[2017-02-16 23:33] anweshknayak commented on #552
sure @spyshiv. And yes I will complete the first task.

[2017-02-17 00:21] spyshiv commented on #552
@anweshknayak: I have already completed 2nd task. 3rd task is not required now so i have removed that. So finally you have  to do only first task. Ask me for code review when you are done

[2017-02-17 06:47] RishabhJain2018 commented on #649
@aka-jain Please add a To-Do's, so that I can add this feature.

[2017-02-17 08:40] TroJan commented on #428
Fixed via #681

[2017-02-17 08:40] #428 closed

[2017-02-17 10:04] jainarunarunjain commented on #683
@spyshiv Can I work on this?

[2017-02-17 10:05] deshraj commented on #683
@jainarunarunjain I don't think anyone has picked up this issue. So, you can work on it. :-)

[2017-02-18 08:49] aka-jain commented on #683
Fixed with #686

[2017-02-18 08:49] #683 closed

[2017-02-18 16:49] Ram81 opened #687 "Pagination showing count of page as 0 initially even if a Team Exists in Participate View"
![pagination](https://cloud.githubusercontent.com/assets/16323427/23094967/4d02bada-f628-11e6-82ff-0b7b21e6c1c3.png)

[2017-02-18 19:12] aka-jain commented on #687
@Ram81 issue has already opened, plesae refer #462 .
BTW thanks for the info.

[2017-02-18 19:12] #687 closed

[2017-02-19 18:33] aka-jain opened #690 "Frontend: Merge 'gulp lint' task with 'gulp watch'."
@spyshiv assigning it to you.

[2017-02-19 18:33] spyshiv commented on #690
Cool..

[2017-02-19 18:35] anweshknayak commented on #552
@spyshiv need some help. How do I get to this view? I need to test.

[2017-02-20 09:12] deshraj commented on #679
Fixed in #682

[2017-02-20 09:12] #679 closed

[2017-02-20 09:13] deshraj commented on #656
Fixed in #691

[2017-02-20 09:13] #656 closed

[2017-02-20 09:14] deshraj commented on #677
Fixed in #682. Good job @yadavankit :)

[2017-02-20 09:14] #677 closed

[2017-02-20 09:14] deshraj commented on #654
Fixed in #688

[2017-02-20 09:14] #654 closed

[2017-02-20 09:40] deshraj commented on #327
Looks like @souravsingh is not able to work on this. Anyone interested in working on this issue is welcome. :)

[2017-02-20 09:41] RishabhJain2018 commented on #327
@deshraj Can I work on this?

[2017-02-20 09:41] deshraj commented on #327
Sure. Assigning it to you.

[2017-02-20 10:13] aka-jain opened #693 "Sidebar menu is not working on New UI mobile version."

[2017-02-20 11:19] deshraj commented on #563
View on the client side is still not done for this particular issue. Reopening it now.

[2017-02-20 12:03] deshraj commented on #649
TODOs:

- [ ] Create a form in the update profile view

- [ ] Use the update user API in the backend and integrate it with the client side

- [ ] Show notification on successful profile updation

- [ ] Add the Update Profile Option in the sidebar

[2017-02-20 12:32] yadavankit opened #695 "Integrate Team API with frontend"
API endpoint for `our-team` view is to be integrated

[2017-02-20 12:34] deshraj commented on #695
Thanks @yadavankit for re-opening it again. I closed the #677  issue accidently.

[2017-02-20 13:03] deshraj opened #696 "Set default renderer to JSONRenderer in DRF backend"
For reference: http://www.django-rest-framework.org/api-guide/renderers/#setting-the-renderers

[2017-02-20 13:05] RishabhJain2018 commented on #696
@deshraj Can I work on this?

[2017-02-20 13:05] deshraj commented on #696
Sure.

[2017-02-20 13:47] yadavankit commented on #607
@deshraj I did not start on this issue as it is assigned to @gauthamzz. Should I?

[2017-02-20 13:51] gauthamzz commented on #607
@deshraj told me someone else is working on this , so i stopped working on this

[2017-02-20 13:53] anweshknayak commented on #607
I just tested this. It is working fine. Still anyone can confirm tho

[2017-02-20 13:54] gauthamzz commented on #607
yeah its working fine now

[2017-02-20 14:05] yadavankit commented on #607
@deshraj @anweshknayak if fine, then lets close it for now?

[2017-02-20 14:05] #607 closed

[2017-02-20 18:11] aka-jain opened #698 "Optimization of Images."
Use this APP to optimize all the images https://compressor.io/

[2017-02-20 18:12] anweshknayak commented on #698
@aka-jain can I take this up ?

[2017-02-20 18:14] jainarunarunjain opened #699 "Eslint Warning with route-config.js file."
I'm working.

[2017-02-20 18:21] Ram81 commented on #693
@aka-jain can you assign this to me?

[2017-02-20 18:27] aka-jain commented on #698
Sure @anweshknayak.

[2017-02-20 18:27] aka-jain commented on #693
Sure @Ram81 , go ahead.

[2017-02-20 18:29] aka-jain commented on #482
Closing this issue, fixed with #684

[2017-02-20 18:29] #482 closed

[2017-02-20 18:29] aka-jain opened #700 "Change style/design of Notification system."
Do following changes:
1. Make top-right and bottom-right border-radius 0,
2. Position should be 20px from top and 0 from right,
3. Make opacity of div to 1 from .8

[2017-02-20 18:40] jainarunarunjain commented on #700
@aka-jain Can i work on this.

[2017-02-20 18:54] jainarunarunjain commented on #699
Fixed with #701

[2017-02-20 18:54] #699 closed

[2017-02-20 18:59] aka-jain commented on #700
Sure @jainarunarunjain. Please see the updated description for this issue.

[2017-02-21 00:39] deshraj commented on #607
Thanks everyone for confirming. :)

[2017-02-21 00:59] deshraj opened #703 "Add Challenge End Date in 'Show all Challenges' view"

[2017-02-21 01:05] deshraj opened #704 "Add details in challenge phase view"
This issue involves solving following issues:

- [ ] Format start date and end date on challenge phase view. For reference, see this line https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/views/web/challenge/challenge-list.html#L17

- [ ] Show `Maximum number of submissions per day` and `Maximum number of total submissions` in the card

[2017-02-21 03:30] Ram81 commented on #703
@deshraj can I do this?

[2017-02-21 04:07] jainarunarunjain commented on #704
@deshraj Can you assign this to me.

[2017-02-21 04:08] deshraj commented on #703
Sure

[2017-02-21 04:11] deshraj commented on #704
Sure, assigning it to you.

[2017-02-21 05:20] deshraj commented on #695
@yadavankit are you working on this issue or is it open?

[2017-02-21 05:26] deshraj commented on #452
Already fixed.

[2017-02-21 05:26] #452 closed

[2017-02-21 05:38] #696 closed

[2017-02-21 05:54] #703 closed

[2017-02-21 05:58] deshraj commented on #616
@Ram81 Thanks for informing. :)

[2017-02-21 05:58] #616 closed

[2017-02-21 06:29] deshraj commented on #676
@gauthamzz any updates on this?

[2017-02-21 07:04] yadavankit commented on #695
@deshraj I don't have good experience with frontend, so I guess I won't be working on this issue, please assign this to team members well versed with frontend :) Meanwhile, will be working on the issue we talked about

[2017-02-21 07:05] deshraj commented on #695
@yadavankit: Sounds good. :)

[2017-02-21 07:54] yadavankit opened #706 "Add fixtures for initial data in models"
As of now, there is no provision of initial dummy data for contributors to work with.
Fixtures are to be added for pre-population of all `models`.

[2017-02-21 08:16] gauthamzz commented on #676
can i get some hints on the first part

[2017-02-21 08:18] deshraj commented on #676
@gauthamzz, please don't worry about this issue anymore. I have fixed this issue in #708 since this was super urgent. :) You can pick some other issue.

[2017-02-21 08:19] gauthamzz commented on #676
close this ?

[2017-02-21 08:19] deshraj commented on #676
Sure, will do this after merging the PR.

[2017-02-21 08:23] deshraj commented on #706
@yadavankit Thanks for opening this issue. This is going to be super useful for all the contributors. :)
If you want to work on this issue, please do some research about the packages available out there and let me know whichever is reasonable and once we converge in choosing a package, you can start writing a code.

Let me know if you have doubts.

[2017-02-21 08:24] #676 closed

[2017-02-21 08:25] deshraj commented on #695
Assigning this to myself.

[2017-02-21 08:27] deshraj commented on #706
I remember that at some point @RishabhJain2018 was looking at some of the packages available for the same but then he got busy with some other issues.
@RishabhJain2018 can you please share the list of packages that you filtered out? It will save a plenty amount of time.

[2017-02-21 12:31] deshraj commented on #700
@jainarunarunjain: please add one more fix. The toast should go away after 4 seconds. Please add a timeout for the toasts.

[2017-02-21 12:35] jainarunarunjain commented on #700
@deshraj Sure

[2017-02-21 16:07] Ram81 commented on #693
@aka-jain any hints?

[2017-02-21 16:23] RishabhJain2018 commented on #706
@deshraj I had researched about [these](https://goo.gl/bh8fo5) packages for adding the initial fake data.
Please review the document. What are your views about it ?

[2017-02-21 17:38] yadavankit commented on #706
@RishabhJain2018 I guess u already have #649 ?

[2017-02-21 18:16] deshraj commented on #706
Thanks @RishabhJain2018 for sharing the doc. I will look at it soon.

@yadavankit, don't worry, he is just pointing us to some of the links that he searched earlier. It makes sense to use this doc as reference since it will save a lot of time of ours. :)

[2017-02-21 18:31] yadavankit commented on #706
@RishabhJain2018 thanks for the doc 😄   @deshraj I have already gone through the shared doc  and doing my research on packages. Will update soon :)

[2017-02-21 19:40] aka-jain commented on #700
Thanks @jainarunarunjain. Fixed with #712

[2017-02-21 19:40] #700 closed

[2017-02-21 19:41] daas-ankur-shukla commented on #698
@aka-jain  can you please provide some details regarding this issue

[2017-02-21 19:42] aka-jain commented on #698
@daas-ankur-shukla I think @anweshknayak is already working on it.
@anweshknayak are you?

[2017-02-21 19:44] anweshknayak commented on #698
No not yet. @daas-ankur-shukla go ahead you can do this. Just go that site mentioned above and upload those images there and compress them and replace the original images with the compressed ones.

[2017-02-21 20:03] aka-jain commented on #704
@deshraj Where do you want to show the submission count?

[2017-02-21 20:06] deshraj commented on #704
I think we should show it before the description of every phase. For reference, see this http://evalai.cloudcv.org/web/challenges/challenge-page/1/phases

[2017-02-21 20:08] aka-jain commented on #704
Okay, do we also need to show a warning if user tries to exceed the submission count?

[2017-02-21 20:09] deshraj commented on #704
I think we can open a different issue for that. It would be a cool feature to have. We would need to write a new API endpoint for that.

[2017-02-21 20:14] aka-jain commented on #704
Agree.
@jainarunarunjain You just need to add both field to phase details only. Let me know if you need more help.

[2017-02-21 20:23] jainarunarunjain commented on #704
@aka-jain @deshraj Sure, I will do this.

[2017-02-22 07:38] daas-ankur-shukla commented on #698
@anweshknayak ok i am on it. but one silly question. which images?

[2017-02-22 08:49] deshraj commented on #652
Reopening this issues since a fix has to be added in this as discussed with @RishabhJain2018 .

[2017-02-22 08:51] anweshknayak commented on #698
@daas-ankur-shukla https://github.com/Cloud-CV/EvalAI/tree/master/frontend/src/images
find more if there

[2017-02-22 09:16] Ram81 commented on #563
@deshraj can you assign this to me?

[2017-02-22 09:39] deshraj commented on #563
Sure.

[2017-02-22 09:52] Ram81 commented on #563
any details for view?

[2017-02-22 10:52] deshraj commented on #563
Please see the description of this issue. :)

[2017-02-22 12:51] aka-jain commented on #693
@Ram81 hints regarding what... have you understood the issue? Or you need help to solve it.

[2017-02-22 14:39] Ram81 commented on #563
@deshraj  I meant about the design of the view. should I design temporary one for now or is there some design for it?

[2017-02-22 14:40] Ram81 commented on #693
@aka-jain when I see the page in mobile I am unable to use any link! why is it so I don't get it?

[2017-02-22 14:41] deshraj commented on #563
@Ram81 you are welcome to create the view that matches with the current design that we are following. We would be happy to see your creativity with the existing design. :)

[2017-02-22 14:48] Ram81 opened #714 "Footer in About Us page is not aligned"
![footer](https://cloud.githubusercontent.com/assets/16323427/23216486/214f297a-f93c-11e6-893f-4d5f5fd6ab03.png)

[2017-02-22 14:49] Ram81 commented on #714
@aka-jain I must be fixed at bottom!

[2017-02-22 14:49] deshraj commented on #714
Thanks for opening this @Ram81 :) Feel free to fix this.

[2017-02-22 15:06] deshraj commented on #714
Fixed in #715

[2017-02-22 15:06] #714 closed

[2017-02-22 16:09] Ram81 opened #717 "Footer not aligned for Terms and Conditons Page"
@deshraj I am creating a PR for this same as #714 please review

[2017-02-22 17:37] RishabhJain2018 commented on #652
@deshraj yeah sure. I will fix this asap.

[2017-02-22 18:03] jainarunarunjain commented on #704
@deshraj @aka-jain From which API do i get max submission count.

[2017-02-22 18:18] deshraj commented on #695
Unassigning myself since i am occupied with some other work. Feel free to comment if you are interested in working on this task.

[2017-02-22 18:19] aka-jain commented on #695
@deshraj I think this is done, isn't it?

[2017-02-22 18:20] deshraj commented on #695
No, not yet. I was to work on this but didn't get time to complete it.

[2017-02-22 18:21] RishabhJain2018 commented on #695
@deshraj @aka-jain Can I work on this?

[2017-02-22 18:31] aka-jain commented on #695
But then on Prod how lists are coming, it that hard coded?

[2017-02-22 18:31] deshraj commented on #695
Yeah, currently I have hard coded the details for the staging server just to check how it looks.

[2017-02-22 18:32] aka-jain commented on #695
Okay, cool.

[2017-02-22 18:32] deshraj opened #720 "Change Password not working properly"
As of now, Change password view has following issues:
- Change Password actually doesn't change the password
- `undefined` shown after message that user gets to see on the interface

[2017-02-22 18:33] anweshknayak commented on #720
@deshraj can I work on this ?

[2017-02-22 18:33] deshraj commented on #720
Sure. Assigning it to you. :)

[2017-02-22 18:37] aka-jain commented on #704
Ammm, don't know. @deshraj Is that count not coming in phase API?

[2017-02-22 18:52] TroJan commented on #652
@deshraj @RishabhJain2018 : can you please explain here what fix ?

[2017-02-22 18:54] RishabhJain2018 commented on #652
@TroJan Please refer [this](https://github.com/Cloud-CV/EvalAI/commit/d01d29fa54367e0b8fc55e141672e23dc1539e56#commitcomment-20969490) link.

[2017-02-22 21:58] anweshknayak commented on #720
@deshraj Changing password actually works. What more to be done about it ?

[2017-02-22 22:18] anweshknayak opened #723 "No notification is shown after successful password change"
@deshraj @aka-jain if this sounds good enough. I would like to work on this.

[2017-02-22 22:29] anweshknayak commented on #690
@spyshiv you working on this ?

[2017-02-23 13:20] deshraj commented on #723
Sure.

[2017-02-23 13:56] Ram81 commented on #717
Fixed in #718

[2017-02-23 13:56] #717 closed

[2017-02-23 15:46] jainarunarunjain commented on #704
@deshraj I need some help,
max submissions count is not coming in phase API.

[2017-02-23 18:57] anweshknayak commented on #698
@daas-ankur-shukla you doin this ?

[2017-02-23 19:31] RishabhJain2018 commented on #704
@deshraj I think we have not included the `max_submissions_per_day` and `max_submissions` field in the
`ChallengePhaseSerializer`. Please refer to this [link](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/serializers.py#L33). What are your views about it?

[2017-02-23 19:32] RishabhJain2018 commented on #695
@deshraj @aka-jain Can I work on this?

[2017-02-23 19:32] deshraj commented on #704
@RishabhJain2018 it would be great if you can add these fields in the API so that we can unblock @jainarunarunjain. I am occupied with some other work.

[2017-02-23 19:34] RishabhJain2018 commented on #704
@deshraj yeah sure. I think I should open a new issue for that?

[2017-02-23 19:34] deshraj commented on #695
Yep Sure.

[2017-02-23 19:35] deshraj commented on #704
Cool. Sounds good. And don't forget to reference to this issue.

[2017-02-23 19:35] RishabhJain2018 commented on #704
okay sure.

[2017-02-23 20:37] daas-ankur-shukla commented on #698
@anweshknayak yup

[2017-02-23 20:39] RishabhJain2018 opened #725 "Add fields in ChallengePhaseSerializer"
Please add fields `max_submissions_per_day` and `max_submissions` in the `Challenge Phase Serializer`. It is needed for the issue #704 .

[2017-02-23 20:43] deshraj commented on #725
@RishabhJain2018 do you want to work on this issue?

[2017-02-23 20:43] RishabhJain2018 commented on #725
@deshraj yeah sure.

[2017-02-23 21:20] daas-ankur-shukla commented on #698
dint find any more than those at the link

[2017-02-23 21:21] anweshknayak commented on #698
put up a PR and ask the mentors to review.

[2017-02-23 21:32] daas-ankur-shukla commented on #698
which branch should i commit to? should i make my own branch?

[2017-02-23 21:33] anweshknayak commented on #698
Yeah from your fork create a branch and push to master in evalai.

[2017-02-23 21:34] daas-ankur-shukla commented on #698
it says i dont have permissions to push to master

[2017-02-23 21:35] anweshknayak commented on #698
http://stackoverflow.com/a/3476453/4037592 . Remove it and set your fork repo's link as origin.

[2017-02-23 21:57] daas-ankur-shukla commented on #698
created PR #727. I Hope I have done it correctly :P

[2017-02-23 22:07] daas-ankur-shukla commented on #630
@deshraj can i work on this?

[2017-02-24 01:44] #725 closed

[2017-02-24 07:45] spyshiv commented on #690
Yes. I am working on this. Will update it soon.
Thank you for reminding me.

[2017-02-24 08:08] RishabhJain2018 commented on #704
@jainarunarunjain The challenge Phase API is now updated. Now it is returning `max_submissions_per_day` and `max_submissions`.

[2017-02-24 08:26] #720 closed

[2017-02-24 08:28] jainarunarunjain commented on #704
Thnx @RishabhJain2018 @deshraj

[2017-02-24 08:42] spyshiv commented on #552
@anweshknayak: Sorry I was busy.
![screenshot from 2017-02-24 14 10 29](https://cloud.githubusercontent.com/assets/7015220/23296437/0f55ce26-fa9b-11e6-8019-a3c52f064622.png)

The issue is related to make this email input required. Let me know if you can/can't get this view.

[2017-02-24 08:59] #723 closed

[2017-02-24 09:05] spyshiv opened #728 "Frontend: Prevent 404 page on adding trailing slash('/') in the urls"
This code was deleted accidentally.
[See the help](https://github.com/Cloud-CV/EvalAI/commit/998e2e7ffa9435f30dd448430b1387eba7ca50a7#commitcomment-21032649)

[2017-02-24 09:16] Ram81 commented on #728
@spyshiv can you assign this to me?

[2017-02-24 09:53] spyshiv commented on #728
Sure..Go ahead.

[2017-02-24 09:55] aka-jain commented on #693
So for that there is a hamburger icon, clicking on which opens a sidebar like we do in mobile apps and that's an issue.

[2017-02-24 10:01] jainarunarunjain commented on #567
@deshraj @aka-jain Is anyone working on this or shall i try.

[2017-02-24 10:09] aka-jain commented on #698
Yep. Fixed with #727

[2017-02-24 10:09] #698 closed

[2017-02-24 10:10] aka-jain commented on #567
@jainarunarunjain you can take this up. Will share the details soon with you.

[2017-02-24 10:11] jainarunarunjain commented on #704
@deshraj Fixed with #729

[2017-02-24 10:12] jainarunarunjain commented on #567
@aka-jain Sure.

[2017-02-24 14:10] jainarunarunjain commented on #567
@aka-jain done with route

[2017-02-24 14:28] deshraj opened #731 "No response on file submission without selecting the Phase"
In the challenge submission view, if I just upload a file without selecting the phase, then the loader doesn't go away and there is no error on the page. For reference, see the below screenshots.
<img width="1440" alt="screen shot 2017-02-24 at 9 26 42 am" src="https://cloud.githubusercontent.com/assets/2945708/23306941/9c0c18a2-fa73-11e6-8815-40cfcd17be77.png">
<img width="1440" alt="screen shot

[2017-02-24 14:33] deshraj opened #733 "Reset password page doesn’t reset when moved from one view to another"
## How to replicate this issue?

1. Click on Forgot password
2. Submit email
3. Click `Back to Log In`
4. Click again on `Forgot Password`

[2017-02-24 14:36] spyshiv opened #734 "Frontend: Remove jslint errors, and clean the code"
Steps to follow
1. Fine the line `/* jshint shadow:true */` in the js files of directory `frontend/src/js/`
2. Remove the line `/* jshint shadow:true */`
3. Run `gulp lint` and see the linting warnings and errors in the terminal
4. Fix the warnings and errors.
   - [ ] if there is variable duplication, please use your senses and rename them smartly.
   - [ ] Remove unnessary variables that are def

[2017-02-24 14:37] Ram81 commented on #693
@aka-jain that's not what I was saying when I use it in mobile view I am unable to use any link other than the icon used to open sidebar & not even any link from footer is working!

[2017-02-24 14:39] Ram81 commented on #733
@deshraj  can I take this up?

[2017-02-24 14:42] spyshiv commented on #728
@Ram81 What is the status of this. Please fix that asap. You have to just copy and paste .

[2017-02-24 14:45] spyshiv commented on #728
Sorry my bad. you already did.

[2017-02-24 14:47] Ram81 commented on #728
@spyshiv :+1:

[2017-02-24 14:47] deshraj commented on #733
Yep, sure.

[2017-02-24 15:09] jainarunarunjain commented on #734
@spyshiv Can i work on this?

[2017-02-24 15:19] aka-jain commented on #693
Hmmm... I think there is an overlay of a transparent image which stops clicking event on these links. So that is the issue... Find that overlay and customize it so that everything will work fine.

[2017-02-24 15:21] aka-jain commented on #734
@jainarunarunjain sure go ahead.

[2017-02-24 15:30] spyshiv commented on #728
@Ram81 : It's fine. It wasn't much delay.
Closing this issue as it is fixed in PR #732.

[2017-02-24 15:30] #728 closed

[2017-02-24 15:44] anweshknayak commented on #731
@deshraj I would like to work on this ?

[2017-02-24 16:33] deshraj commented on #731
Sure

[2017-02-24 16:39] Ram81 commented on #733
@deshraj fixed in #735 you can close this

[2017-02-24 16:43] Ram81 commented on #693
sure will do that

[2017-02-24 16:59] spyshiv commented on #733
Closing this.

[2017-02-24 16:59] #733 closed

[2017-02-24 18:49] anweshknayak commented on #731
![screenshot from 2017-02-25 00 17 39](https://cloud.githubusercontent.com/assets/8139783/23316328/fc1df2b6-faef-11e6-9965-453984b45518.png)

@deshraj error in page is showing up. Can you elaborate more in the issue ?

[2017-02-24 19:35] RishabhJain2018 opened #737 "Integrate API for getting the profile data in Client Side."
When the user is directed to `My profile` after updating the profile, then the updated changes are not visible. The changes are visible only when the user again refreshes the page.

[2017-02-24 19:43] spyshiv commented on #737
Can you elaborate it?
If you are talking about getting user details then it is already done
endpoint: `auth/user/`
type: `GET`
required userkey also.

See the `frontend/src/js/directives/directives.js` line 69.

[2017-02-24 19:47] RishabhJain2018 commented on #737
@spyshiv The steps to regenerate it are:

1. Go to the update profile view once the PR #713 is merged.
2. Change the username or firstname or lastname.
3. Submit & then you will be redirected to `My Profile` view.

Now the data shown by the `My Profile` view is the old data. To get the new updated profile data , please refresh the `My Profile` view.

[2017-02-24 19:54] spyshiv commented on #737
When someone get the update profile view then initially it should show the existing `username`, `first_name`, `last_name`. Then user can change it

[2017-02-25 11:21] anweshknayak commented on #731
![screenshot from 2017-02-25 16 49 16](https://cloud.githubusercontent.com/assets/8139783/23330700/951f7900-fb7a-11e6-8ee6-6f3d2f558dc3.png)

[2017-02-25 11:25] deshraj commented on #731
@anweshknayak I think the case of uploading file without selecting the phase is working properly.
Please check the console response coming from the backend. It seems like there are some other unhandled cases that needs to be covered.

[2017-02-25 11:30] anweshknayak commented on #731
![screenshot from 2017-02-25 16 59 50](https://cloud.githubusercontent.com/assets/8139783/23330738/f626fc72-fb7b-11e6-94fb-d8044dee32d4.png)

[2017-02-25 11:33] deshraj commented on #731
I see. @anweshknayak can you please add a check where if the phase is not selected, then there is no API call made to the backend.

[2017-02-25 11:34] RishabhJain2018 commented on #737
@spyshiv Yeah, I will update that.
Moreover, I opened this issue because even after updating the profile, the user can't see the chnages until he refreshes the page.

[2017-02-25 11:38] #649 closed

[2017-02-25 11:42] RishabhJain2018 commented on #625
@deshraj @spyshiv @aka-jain I think we should close this as this is fixed in #713 .

[2017-02-25 11:42] #625 closed

[2017-02-25 11:47] anweshknayak commented on #731
sure @deshraj

[2017-02-25 11:48] RishabhJain2018 commented on #737
@deshraj @spyshiv Can I work on this?

[2017-02-25 11:48] deshraj commented on #737
Sure, assigning this to you. :)

[2017-02-26 11:58] RishabhJain2018 commented on #734
@spyshiv @deshraj I think this is completed in #736 .So should we close this?

[2017-02-26 13:06] aka-jain commented on #734
Closing it. Fixed with #736 .

[2017-02-26 13:06] #734 closed

[2017-02-27 13:30] gauthamzz commented on #327
is anyone working on this ?

[2017-02-27 13:59] yadavankit commented on #706
@deshraj  @TroJan does the sum of durations of all challenge phases of a particular challenge equal to the duration of the Challenge?
Also, what about seeding of `Leaderboard` (having a `JSONField` `schema`) ?

[2017-02-27 15:46] deshraj commented on #706
Yeah, you should keep it that way though we have the flexibility of keeping to different duration.

We can talk about it once you are done with the rest part and open a pull request.

[2017-02-28 09:32] MAKOSCAFEE commented on #249
Hi I am new here. can I claim this? and I have already submitted a [PR](https://github.com/Cloud-CV/EvalAI/pull/740) to fix it.
Thanks

[2017-02-28 09:33] aka-jain commented on #249
Sure @MAKOSCAFEE, will check your PR. Thanks :)

[2017-02-28 10:11] anweshknayak commented on #552
@spyshiv do I need to create separate template for mdDialog to integrate ng-messages with it ?

[2017-02-28 10:56] aka-jain commented on #552
@anweshknayak Are you working on any other issue too?

[2017-02-28 11:20] anweshknayak commented on #731
@aka-jain Im working on this one too. Need some help. How shall I make use of promises to cancel http request here ? found something here (http://odetocode.com/blogs/scott/archive/2014/04/24/canceling-http-requests-in-angularjs.aspx)

[2017-02-28 18:34] TroJan commented on #652
@RishabhJain2018 : Can we close this if everything is complete?

[2017-02-28 18:44] RishabhJain2018 commented on #652
@TroJan Yeah, this is complete . Please merge the PR.

[2017-03-01 03:16] #652 closed

[2017-03-01 07:25] aka-jain commented on #567
Thanks @jainarunarunjain . Fixed with #739.

[2017-03-01 07:25] #567 closed

[2017-03-01 07:28] aka-jain commented on #731
There is no need to cancel http request @anweshknayak. Try to do as @deshraj mention above. You just need to check the value of phase with if else statements. It's easy, actually I have done this before but due to some reason some code has been changed. So try to do with if else statements. Thanks.

[2017-03-01 08:09] jainarunarunjain opened #742 "Reuse the code of rocket container in views folder by making a separate file of it."
@deshraj @aka-jain @spyshiv will it be possible.
Thoughts?

[2017-03-01 09:57] aka-jain commented on #742
@jainarunarunjain yup, we can do this. I'm assigning it to you. Let me know if you need any help.

[2017-03-01 10:00] jainarunarunjain commented on #742
@aka-jain Sure, will do this :)

[2017-03-01 20:37] spyshiv opened #744 "Frontend: Changing route doesn't scroll to top in the new page"
Example:
1. Open home page and go to footer
2. In footer click on the `about us` link

You can see the page doesn't scroll to top. See the screenshot
![screenshot from 2017-03-02 02 04 20](https://cloud.githubusercontent.com/assets/7015220/23480065/94a3367c-feec-11e6-8a55-7129a7c69e3d.png)

[2017-03-01 20:51] aka-jain commented on #744
@spyshiv I'm on it.

[2017-03-01 20:56] spyshiv commented on #744
cool :+1:

[2017-03-01 21:14] aka-jain commented on #744
Task is open, I'm working on some other issue.

[2017-03-01 21:15] spyshiv commented on #744
@aka-jain : Cool :+1:

[2017-03-01 21:16] aka-jain opened #745 "Hide toaster container in mobile view <993px"
There is a problem regarding links in mobile view. For that we have to remove the toaster container for mobile view.

[2017-03-01 21:16] gauthamzz commented on #744
I would like to try this

[2017-03-01 21:17] spyshiv commented on #744
@gauthamzz Sure assigning to you

[2017-03-01 21:17] gauthamzz commented on #745
Can i try this ?

[2017-03-01 21:18] spyshiv commented on #745
You are already assigned issue #744 . Please complete that first

[2017-03-01 21:21] gauthamzz commented on #745
I didnt see that. i deleted the comment . ill do #774 first

[2017-03-01 23:11] deshraj commented on #706
@yadavankit any progress with this? This is going to be super important really soon so please do it quickly. Let me know if you need some help with this.

[2017-03-02 09:37] yadavankit commented on #706
@deshraj Yeah, will be submitting the PR for review soon :)

[2017-03-02 10:21] RishabhJain2018 commented on #327
@gauthamzz No, I am not working on this but @souravsingh is working on this.

[2017-03-02 10:29] Ram81 opened #749 "Remove the br tags in about us page & correct the code"
@aka-jain should I do this?

[2017-03-02 11:03] anweshknayak opened #750 "Tablet/Mobile view not working"
Not able to click on any button or any input element while in tablet/mobile view.

[2017-03-02 11:05] aka-jain commented on #750
Issue already opened @anweshknayak. Please check #745 .

[2017-03-02 11:06] #750 closed

[2017-03-02 11:43] anweshknayak commented on #745
@aka-jain can I put a PR ?

[2017-03-02 11:44] aka-jain commented on #745
Sure @anweshknayak .

[2017-03-02 11:50] aka-jain commented on #749
Sure @Ram81

[2017-03-02 13:39] #745 closed

[2017-03-02 13:46] aka-jain commented on #731
@anweshknayak status?

[2017-03-02 13:46] aka-jain commented on #704
Closing it. Fixed with #729.

[2017-03-02 13:46] #704 closed

[2017-03-02 13:47] aka-jain commented on #693
@Ram81 what about this one? I think this one is working now. Can you check once again please by updating your master?
Also try to do one task at a time. Let's make issues free for other contributors too.

[2017-03-02 13:49] aka-jain commented on #249
Fixed with #740

[2017-03-02 13:49] #249 closed

[2017-03-02 13:55] Ram81 commented on #749
fixed in #752

[2017-03-02 13:55] #749 closed

[2017-03-02 14:12] RishabhJain2018 opened #754 "Missing Error Catch In Team API"
We should also catch error while returning the Team List([here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/web/views.py#L65)) from the database.
@deshraj @TroJan What are your views about it ?

[2017-03-02 14:20] jainarunarunjain opened #755 "Change Hamburger icon in mobile view from middle to left corner position."
Currently the hamburger icon in mobile view in landing page is in middle position and it should be change to left corner position.
@spyshiv @aka-jain Can i work on this?

[2017-03-02 14:25] yadavankit commented on #706
@deshraj in `Submission` model, why are we using `submitted_at` when `Submission` model is itself `TimeStampedModel` ? (I am receiving `naive-datetime` warnings on seeding the `Submission` model)

[2017-03-02 14:27] anweshknayak commented on #731
@aka-jain will do it today. Had exams.

[2017-03-02 15:50] spyshiv commented on #755
sure. :+1:  assigning this to you.

[2017-03-02 15:56] TroJan commented on #754
@RishabhJain2018 : Thanks for pointing this out. But it is actually not required.

Reason being that `all` does not throws an exception. It simply returns an empty list if no objects are found. However, `get` throws an exception, so when ever we are using `get` we need to catch it in a proper try-catch block.

[2017-03-02 15:56] #754 closed

[2017-03-02 16:12] RishabhJain2018 commented on #754
@TroJan okay sure. Thanks for guiding.

[2017-03-02 16:37] Curious72 commented on #630
@spyshiv is this issue unassigned? If so , can i work on this one?

[2017-03-02 16:43] deshraj commented on #706
@yadavankit We are using the `TimeStampedModel` to just keep track that when a particular entry was created or modified. We have explicitly added the `submitted_at` field to make sure all the variable names are consistent for the submissions and we should not confuse with `created_at` for this. Moreover, it's not bad to have extra fields since you might want to use it in the future. :)

[2017-03-02 16:46] deshraj commented on #327
Closing this for now. Will reopen it once there comes a requirement.

[2017-03-02 16:46] #327 closed

[2017-03-02 17:01] yadavankit commented on #706
@deshraj got it, thanks :)

[2017-03-02 17:01] deshraj commented on #630
@Curious72 since @jiayibupt showed interest first, so I would like to assign this issue to him. Please look for other available issues.

[2017-03-02 17:11] Curious72 commented on #630
@deshraj  Sure !

[2017-03-02 17:23] RishabhJain2018 opened #758 "Notification should disappear after certain time interval."
For Now, we have to wait for long and then it disappears. The time period for its disappearing must be small.
@deshraj @aka-jain @spyshiv Can I work on this?

[2017-03-02 17:38] spyshiv commented on #758
sure. Assigning this to you. Let me know if any query.

[2017-03-02 17:52] PratikDhanave commented on #664
I want to work on it

[2017-03-02 18:04] Curious72 opened #760 "Changes after updating the profile are not reflected in 'my profile' section immediatedly until the page is reloaded"
@deshraj can i work on this ?

[2017-03-02 18:06] RishabhJain2018 commented on #760
@Curious72 Please refer to issue #737 .

[2017-03-02 18:08] Curious72 commented on #760
@RishabhJain2018 okay so this seems to have been already covered ! closing the issue .

[2017-03-02 18:08] #760 closed

[2017-03-02 18:36] divyanshu1302 opened #761 "Webhook Integration with slack Api"
Incoming/Outcoming  Webhooks are a simple way to post/get messages from external sources into Slack, or vice-versa.I think it may be helpful for registered teams to send and receive data from Slack to  our project or vice-versa using Webhooks.
@deshraj @spyshiv @aka-jain @TroJan  Can you please allow me to work on it ?

[2017-03-02 18:46] Curious72 opened #762 "Validation in profile update section required"
There is a need for validation in profile update section ! If the user updates his/her username to be short for example a single letter 'a' , the update is performed , but when the user tries to log in with the updated username , he/she is unable to log in because of short username and the message 'username is short' is displayed !

The error can be reproduced , by logging in and updating the user

[2017-03-02 19:01] aka-jain opened #763 "Replication of Google Analytics code."
Google analytics code is used in index as well as in base. @spyshiv I think only base can work. Thoughts?

[2017-03-02 19:29] jainarunarunjain opened #764 "Add footer in our team view."
@spyshiv @aka-jain Can i work on this.

[2017-03-02 19:30] spyshiv commented on #764
Sure. Assigning this to you

[2017-03-02 19:35] aka-jain commented on #762
@Curious72 sure, assigning it to you.

[2017-03-02 19:46] aka-jain commented on #755
Fixed with #757

[2017-03-02 19:46] #755 closed

[2017-03-02 20:14] aka-jain opened #765 "Remove debugging statements from directive."

[2017-03-02 20:31] anweshknayak opened #766 "Integrating OAuth with EvalAI"
Logging in using OAuth/OAuth2(Github, facebook)

[2017-03-02 21:11] anweshknayak opened #768 "Discussion Forum for EvalAI"
Ref : https://www.kaggle.com/discussion

[2017-03-02 21:20] aka-jain commented on #768
I think this is already in our V2 plan. @dexter1691 @deshraj what do you think?

[2017-03-02 21:45] anweshknayak opened #770 "Adding button to scroll-up(top) in "Show All Challenges" view"
Ref : https://material.angularjs.org/latest/ .
A button at the right-bottom corner which will smooth scroll up.

[2017-03-02 21:55] aka-jain commented on #770
Good One. We can work on this.

[2017-03-02 22:04] aka-jain commented on #693
Fixed with #751. Closing this.

[2017-03-02 22:04] #693 closed

[2017-03-02 22:08] aka-jain opened #772 "Redesign Login page."
Redesign login page same as we did for the about us page. Try to reuse the code.

[2017-03-02 22:09] aka-jain opened #773 "Redesign Signup Page."
Depends on #772.

[2017-03-02 23:47] deshraj commented on #768
Yeah, we are planning to release this feature in the version 2 of this project. Closing this for now.

[2017-03-02 23:47] #768 closed

[2017-03-03 06:07] AnshulBasia opened #774 "Readme errors for setting up evalAi on system."
4th point -> Use your linux system username and password for fields USER and PASSWORD in dev.py file.
It created a lot of misunderstanding.

[2017-03-03 07:43] Ram81 commented on #772
@aka-jain can you assign this to me?

[2017-03-03 07:53] Ram81 commented on #765
@aka-jain can I do this?

[2017-03-03 10:21] Curious72 commented on #766
@deshraj @spyshiv @aka-jain Is this issue open ? Can i work on this ?

[2017-03-03 10:30] anweshknayak commented on #766
@Curious72 I just added this if it's good enough for an idea. @deshraj is this the right place to add ideas ?

[2017-03-03 11:01] Curious72 opened #775 "New password cannot be same as the old password"
Currently , a user can change the password and keep the new password same as the old one which should not be the case.
@deshraj  @spyshiv @aka-jain can i work on this issue ?

[2017-03-03 11:06] TroJan commented on #766
@anweshknayak : thanks for sharing this.

@anweshknayak , @Curious72 : this is good to have feature. But as of now we are on a strict timeline, so we will take this when v2 is planned.

Closing this for now, Will open in v2(if required)

[2017-03-03 11:06] #766 closed

[2017-03-03 15:31] jainarunarunjain opened #778 "Change Position of rocket image in landing.scss file."
@spyshiv @aka-jain Can i work on this.

[2017-03-03 15:34] jainarunarunjain commented on #742
@deshraj @spyshiv @aka-jain we should close this. Fixed in #753

[2017-03-03 16:10] RishabhJain2018 commented on #758
@spyshiv The default timeout is 5 sec. What if we reduce it to 2 sec? What are your views about it?

[2017-03-03 17:36] RishabhJain2018 opened #779 "Display Initial data in update profile card."
For now, when a user opens the update profile view, then he sees blank fields.
What I was thinking that he must see the previous `username`, `first_name`, `last_name` in the card & it must be editable, so that the user can change it.
@deshraj @spyshiv @aka-jain what are your thoughts about it?

[2017-03-03 17:40] RishabhJain2018 commented on #774
@AnshulBasia I think @TroJan have updated the setup guidelines. Please see [this](https://github.com/Cloud-CV/EvalAI/blob/master/docs/setup.md) link. :-)

[2017-03-03 18:25] aka-jain commented on #779
Yes, fields should be present there.

[2017-03-03 18:26] aka-jain commented on #778
Sure.

[2017-03-03 18:26] aka-jain commented on #775
Nice catch, assigning it to you.

[2017-03-03 18:27] aka-jain commented on #772
Do you have any pending tasks?

[2017-03-03 18:28] aka-jain commented on #765
@Ram81 do tasks one by one please.

[2017-03-03 18:28] RishabhJain2018 commented on #779
@aka-jain Can I work on this?

[2017-03-03 18:41] jainarunarunjain commented on #764
@spyshiv we should close this. Fixed in #777

[2017-03-03 19:24] spyshiv commented on #764
Thanks... Closing this.

[2017-03-03 19:24] #764 closed

[2017-03-03 19:25] spyshiv commented on #779
Sure... Assigning this to you.

[2017-03-03 20:02] chan24 commented on #772
@aka-jain Hey akash! I think I can fix this. Can u assign this task to me?

[2017-03-03 20:12] aka-jain commented on #772
@Ram81 need to know your status.

[2017-03-03 20:15] aka-jain opened #781 "Integrate testing to client side."
@spyshiv let's start working on it.

[2017-03-03 23:34] spyshiv commented on #781
Sure... 👍

[2017-03-03 23:48] deshraj commented on #758
Ummm....I think we should make it to 3 seconds.

[2017-03-04 03:02] AnshulBasia commented on #774
@RishabhJain2018 Thanks  a lot. It'd be better if readme is also up to date. :)

[2017-03-04 03:02] #774 closed

[2017-03-04 04:09] TroJan opened #782 "Make fetching pull request locally easy"
This involves writing a bash script which will help reviewer to locally fetch a pull request and test it thoroughly on its local machine.

For reference you can consider github [checking out pull request](https://help.github.com/articles/checking-out-pull-requests-locally/#modifying-an-inactive-pull-request-locally) documentation

Details about the script:

**Path**: scripts/tools (create this fol

[2017-03-04 04:11] gauthamzz commented on #782
can i try this ?

[2017-03-04 04:18] TroJan commented on #782
@gauthamzz : sure assigning this to you :)

[2017-03-04 04:23] TroJan opened #783 "Move connection params out of worker to settings"
We are using RabbitMQ to publish messages for submission and execute them. RabbitMQ needs some connection parameters like host name, exchange name, queue name, etc.

To consume message from the queue, a worker is written. This workers lives at `scripts/workers/submission_worker.py`.

Presently the connection as well as exchange parameters are hardcoded in that file. Ideally they should be present

[2017-03-04 05:49] TroJan opened #785 "Remove submission app"
Submission app was created keeping this in mind that it will be a single place for all submission related models. As of now, we are only concerned with `Submission` model in `jobs` app. Hence this app is not required.

This issue involves deleting the app completely.

[2017-03-04 06:32] mayank-agarwal-96 commented on #783
Can I work on this issue?

[2017-03-04 06:39] TroJan commented on #783
@mayank-agarwal-96 : sure. assigning it to you.

[2017-03-04 06:48] Curious72 commented on #785
@TroJan can i do this task?

[2017-03-04 07:11] AnshulBasia commented on #785
What about file 'admin.py' in jobs..?

[2017-03-04 07:12] Ram81 commented on #772
@aka-jain you can assign this to @chan24 as I have exams this week I will not be able to do it quickly!

[2017-03-04 07:21] mayank-agarwal-96 commented on #783
Should I make the changes in 'settings.dev' or 'settings.common'? The default settings in submission_worker.py is 'settings.dev'.

[2017-03-04 09:54] jainarunarunjain commented on #778
Fixed in #780

[2017-03-04 09:58] Curious72 opened #788 "Dropdown for emails of other users in team invite popup ."
Currently the invite for team involves a popup with an input field for email address . If the user is not sure about the email address of the person he/she wants to invite , they will not be able to send the invite . To solve this issue , there should be a dropdown to show the email ids along with username , of users with emails matching with the user's query.

@deshraj @aka-jain @spyshiv What do

[2017-03-04 10:48] jainarunarunjain opened #789 "Correct the toaster message."
Add space in send invite toaster message in My Host Team.
@aka-jain @spyshiv Can i work on this.

[2017-03-04 13:22] aka-jain commented on #789
@jainarunarunjain Please attach a screenshot of the bug.

[2017-03-04 13:24] aka-jain commented on #788
@deshraj I think that should be come in our V2, however it will be a critical task. Thoughts?

[2017-03-04 13:33] aka-jain commented on #778
Closing it. Fixed with #780

[2017-03-04 13:33] #778 closed

[2017-03-04 14:37] jainarunarunjain commented on #789
![screenshot from 2017-03-04 20-04-42](https://cloud.githubusercontent.com/assets/16155501/23579562/1b6d769c-0116-11e7-9811-4be933dde159.png)
There should be a space.

[2017-03-04 14:51] singhpratyush commented on #789
![screenshot from 2017-03-04 20-19-53](https://cloud.githubusercontent.com/assets/10860278/23579678/0c57c2e6-0118-11e7-87d0-c0ac21d03b93.png)
Well I don't see the issue. That `c` in lowercase looks weird though.

[2017-03-04 14:55] jainarunarunjain commented on #789
@singhpratyush Please check it once because i think you are in My Participant Team and the bug is in My Host Team

[2017-03-04 14:59] singhpratyush commented on #789
Oops, my fault. It is there in the `My Host Team` view.

[2017-03-04 15:01] aka-jain commented on #789
@jainarunarunjain Make this message "Invitation failed. Please try again"

[2017-03-04 15:01] jainarunarunjain commented on #789
@aka-jain Sure.

[2017-03-04 15:09] #737 closed

[2017-03-04 15:12] aka-jain commented on #772
@chan24 You can pick this up. Let me know if you are ready.

[2017-03-04 15:12] aka-jain commented on #789
Oh my bad, just give a space there. I misunderstood something.

[2017-03-04 15:36] Ram81 commented on #773
@aka-jain can I take this up?

[2017-03-04 15:39] aka-jain commented on #773
@Ram81 why you said no to login page design? This issue is based on that so lets that be completed first.

[2017-03-04 15:47] Ram81 commented on #773
@aka-jain sorry my bad

[2017-03-04 16:02] Ram81 opened #792 "Give user rating based on his performance in contests"
@aka-jain @deshraj @spyshiv does it sound good?

[2017-03-04 16:05] Ram81 opened #793 "Show the users skill in his profile"
based on the contests submission a user has made in particular language we should show the skill level of user in the language in profile as we can see on hackerearth. @aka-jain @deshraj @spyshiv  what about this feature?

[2017-03-04 16:12] aka-jain commented on #793
We have this feature in our mind already but will start implementing in V2. Closing it for now.
@deshraj I think we should start discussing about additional features on Gitter, issue page is not looking a good option. Thoughts?

[2017-03-04 16:12] #793 closed

[2017-03-04 17:37] deshraj commented on #788
I don't think we would want to show the email ids of other participants. So, we would rather show their usernames and their First and Last name in that place. Accordingly, the backend API will change.
Let me know @Curious72 if you are interested in working on this issue. :)

[2017-03-04 18:33] jainarunarunjain opened #795 "Link Contact-us view with footer."
@spyshiv @aka-jain Can i work on this.

[2017-03-04 18:42] spyshiv commented on #795
sure. Assigning this to you?

[2017-03-04 18:44] spyshiv commented on #792
@Ram81 : Can you elaborate it ?? How will you approach to implement this feature?

[2017-03-04 18:48] spyshiv commented on #742
cool. :+1:
Closing this

[2017-03-04 18:48] #742 closed

[2017-03-04 18:52] RishabhJain2018 commented on #758
@deshraj Okay sure.

[2017-03-04 19:50] spyshiv commented on #781
@aka-jain : So first of all i am targeting unit test for these components.
- [ ] controllers,
- [ ] directives
- [ ] filters

I am integrating this with `gulp` so that in future we can also prevent git task (i.e `git commit` , `git push`) until the unit test return success.
Any other thoughts?

[2017-03-04 19:51] aka-jain commented on #781
Cool 👍

[2017-03-04 19:56] RishabhJain2018 commented on #781
@deshraj @aka-jain @spyshiv I have done a bit of research on the packages to be used for testing in angular. [Here](https://goo.gl/RUkiCh) is a list of them. I think it will be helpful to select the package for unit testing.

[2017-03-04 20:00] spyshiv commented on #781
@RishabhJain2018: Thanks for analytical support. It's really helpful. :+1:

[2017-03-04 20:00] aka-jain commented on #781
That's great @RishabJain2018. We are going with Mocha. @spyshiv any thoughts?

[2017-03-04 20:02] spyshiv commented on #781
Let me compare the features between these tools/frameworks. Will let you know soon.

[2017-03-04 20:06] #758 closed

[2017-03-04 20:19] RishabhJain2018 commented on #781
@spyshiv If there is a need of any assistance of mine, then I would love to help. :-)

[2017-03-04 20:25] spyshiv commented on #690
@RishabhJain2018 : Do you want to work on this issue? Let me know if you are interested.

[2017-03-04 20:26] RishabhJain2018 commented on #690
@spyshiv yeah sure.

[2017-03-04 20:26] spyshiv commented on #781
great. I will let you know.

[2017-03-04 20:30] spyshiv commented on #690
I am assuming that you are familiar with the tasks `lint` and `watch`. So what you have to do is whenever any js file is changed you have to make run `gulp lint`.
Let me know if you stuck somewhere.

[2017-03-04 21:42] mayank-agarwal-96 opened #798 "Facebook icon present only on dashboard and not on other pages."
Facebook icon is present on Dashboard but missing on Home, About us and Team.

[2017-03-04 23:11] spyshiv commented on #795
Closing this.

[2017-03-04 23:11] #795 closed

[2017-03-05 04:49] Curious72 commented on #788
@deshraj Sure i would really like to work on this :)

[2017-03-05 06:30] yadavankit opened #799 "Django Profiling"
There isn't any provision for reviewing the following -

- [ ] Intercept and store `Requests`

- [ ] How many `Queries` are used per page

- [ ] How much time is spent by a `Request` on `Django`, `Queries` etc.

- [ ] How heavy our pages are

[2017-03-05 06:33] yadavankit commented on #799
@deshraj @TroJan your thoughts?

[2017-03-05 07:30] #783 closed

[2017-03-05 07:41] TroJan commented on #799
@yadavankit : I appreciate your thought for this. Just that I and @deshraj are a little busy with many other things, So if possible you can take a lead and lets us know what APIS, pages are causing bottleneck. This will involve you doing a detailed analysis of things. Analysis as you pointed out will include queries run, time taken for a request and many other paramteres.

You can use [django-debu

[2017-03-05 07:56] RishabhJain2018 commented on #762
@aka-jain I think we should close this?

[2017-03-05 10:30] Ram81 commented on #792
For each contest user participated in we will give user rating based on his rank in the particular contest(it will be relative & will involve some math) then add this rating to his current rating to obtain his average rating & thus we can show his progress by change in his rating. does it sound good? @spyshiv

[2017-03-05 11:57] spyshiv commented on #765
Fixed in PR #791
Closing this...

[2017-03-05 11:57] #765 closed

[2017-03-05 12:05] spyshiv commented on #763
@aka-jain : This is not a replica since base file is not being served anywhere. When `gulp inject` run then path of static files are injected into `base.html` and then it duplicated as `index.html` . So basically `index.html` is formed using `base.html`.
PS: `index.html` is in `.gitignore` also.

Let me know if you wanted to say something else.

[2017-03-05 12:06] spyshiv commented on #789
this is fixed in #794
Closing this...

[2017-03-05 12:06] #789 closed

[2017-03-05 15:24] Ram81 commented on #563
@deshraj @aka-jain  you can close this. Fixed in #741

[2017-03-05 16:05] yadavankit commented on #799
@TroJan sounds good :)

[2017-03-05 17:14] RishabhJain2018 commented on #690
@spyshiv What we want to achieve after merging these two tasks ? What should be the outcome?

[2017-03-05 17:19] chan24 commented on #772
@aka-jain Thanks! I will work on it. Any hints?

[2017-03-05 17:23] aka-jain commented on #772
Sure, please try to finish it ASAP. For design just take reference from about us page. Left column should contain form and at right we have the rocket container. Getting?

[2017-03-05 17:35] spyshiv commented on #552
@anweshknayak : what is the status of this issue. If you are too busy in doing other issues then let me know so that I can assign this to someone else

[2017-03-05 17:41] anweshknayak commented on #552
@spyshiv I won't be able to work on issues for a few days. Please assign to someone else. :)

[2017-03-05 19:48] #763 closed

[2017-03-05 20:24] mayank-agarwal-96 commented on #798
@TroJan This is just a minor thing I noticed. Can I fix this?

[2017-03-05 20:29] deshraj commented on #798
It would be great if you can create a single view for this and use it in all the other views. :)

[2017-03-05 20:30] mayank-agarwal-96 commented on #798
@deshraj Sure I will give it a shot :) Thanks

[2017-03-05 20:41] aka-jain commented on #798
I think you just need to remove Facebook icon from dashboard view. As we don't have Facebook links for now. @deshraj thoughts?

[2017-03-05 20:43] mayank-agarwal-96 commented on #798
@aka-jain I think any of them will work as the goal is to create a single view and use it.

[2017-03-05 20:51] aka-jain commented on #798
Are you talking about Facebook in footer?

[2017-03-05 20:53] mayank-agarwal-96 commented on #798
@aka-jain Yes, I mean we can choose to keep it or not to keep it as the primary objective is to use a single view and use it everywhere.

[2017-03-05 21:00] aka-jain commented on #798
Agree with you @mayank-agarwal-96 , but dashboard and other pages footers are little different in styles. Basically we are using flex to dashoard footer and not in other pages that's why we have two different footer.
So just remove that facebook icon from the dashboard footer.

[2017-03-05 21:03] mayank-agarwal-96 commented on #798
@aka-jain Oh , I didn't know about it! Then I will just remove the icon from the Dashboard footer.

[2017-03-05 21:03] aka-jain commented on #690
@RishabhJain2018 Just going through your PR, yes the code is right but we have to do some additional changes too. Like server should not run until you solve all the errors of lint. So integrate lint with watch such that if we get any error than server should stop. Getting?
@spyshiv want to add something else?

[2017-03-05 21:10] aka-jain commented on #792
@Ram81 but rank is enough to show the capability of a user. Why we need rating or what will be the plus point for adding rating? Yes we can show that in how many challenges he has participated with average rank. But I don't think that user rating will be useful in any way.
Let's take other thoughts too.

[2017-03-06 02:54] chan24 commented on #772
Yeah cool..On it!

[2017-03-06 09:21] RishabhJain2018 commented on #690
@aka-jain Yeah I got this point. :+1:  @spyshiv Please tell anything else that should be added ? I will update the PR accordingly.

[2017-03-06 09:24] aka-jain commented on #744
@gauthamzz are you still on it?

[2017-03-06 09:27] aka-jain opened #804 "Fix footer alignment in T&C page."

[2017-03-06 09:34] aka-jain commented on #770
This issue is open. let me know if anyone interested.

[2017-03-06 09:35] gauthamzz commented on #744
@aka-jain  i am i need one more day , i have an exam tmmrw.then im free .Is that fine ?

[2017-03-06 09:35] aka-jain commented on #300
Anyone interested to solve this issue? Let me know.

[2017-03-06 10:02] RishabhJain2018 commented on #770
@aka-jain Can I work on this?

[2017-03-06 10:03] aka-jain commented on #770
@RishabhJain2018 Are you working on some other issue I think, isn't it?

[2017-03-06 10:07] RishabhJain2018 commented on #770
@aka-jain Yeah , I was working on this #690 issue but the PR is under discussion with @spyshiv . So, currently I am free. So, I thought to pick it up.

[2017-03-06 10:08] aka-jain commented on #770
Start working on #690. I have already discussed that with @spyshiv.

[2017-03-06 10:08] RishabhJain2018 commented on #770
@aka-jain okay sure. :+1:

[2017-03-06 11:00] jainarunarunjain commented on #804
@aka-jain Can i work on this.

[2017-03-06 11:21] spyshiv commented on #630
@jiayibupt : Are you working on this? Please let me know so that i can assign this to you.

[2017-03-06 11:22] spyshiv commented on #804
@jainarunarunjain : Assigning this to you.

[2017-03-06 12:22] spyshiv opened #805 "Frontend: Remove lint errors and clean the code"
Steps to follow:

1. Run `gulp lint` and see the errors in the terminal
2. Remove all the warnings and errors.
3. `jshint` has been removed from linting purpose so if you see any comment named `jshint` then remove it.
4. if you see warning `Unexpected console statement` then remove the console from the js file. And if console is important to be written then refer this [link](http://eslint.org/docs

[2017-03-06 12:58] AnshulBasia commented on #805
#806

gulp lint is not throwing any errors. All comments containing jshint have been removed.
![qw](https://cloud.githubusercontent.com/assets/12856392/23610905/9d1d3d00-029a-11e7-88cb-2dbf63ca9d65.png)

[2017-03-06 13:22] mayank-agarwal-96 commented on #785
@TroJan Can I submit a PR for this? There is no activity on the last one from almost 2 days.

[2017-03-06 13:35] spyshiv commented on #805
@AnshulBasia : Before doing anything regarding this issue, You should have asked any mentors (including me) to assign this issue to you. But now I can't assign this to you since it's critical and might be a blocker for frontend development. Please look for another issues.
Thanks.

[2017-03-06 14:18] Ram81 commented on #792
@aka-jain when I do competitive programming after each contest when I see change in rating then I get encouraged about doing it more in order to improve that's why I thought this feature would help us to get more user try using our platform so that they can test there skills.

[2017-03-06 14:56] jainarunarunjain commented on #804
@aka-jain @spyshiv There is nothing to fix, Everything is ok.
![screenshot from 2017-03-06 20-19-05](https://cloud.githubusercontent.com/assets/16155501/23615018/0cdba68a-02ab-11e7-916c-93137a04054b.png)

[2017-03-06 15:10] AnshulBasia commented on #805
@spyshiv  It's alright. Although, I am willing to do the same changes to updated master, if you suggest so. Thanks for your time.

[2017-03-06 16:02] anweshknayak commented on #770
@RishabhJain2018 we already got one plugin for scroll https://github.com/Cloud-CV/EvalAI/blob/master/bower.json#L26. You can use this one for the issue.

[2017-03-06 16:05] spyshiv commented on #563
Closing this

[2017-03-06 16:05] #563 closed

[2017-03-06 16:55] aka-jain commented on #804
Sorry, my bad.

[2017-03-06 16:55] #804 closed

[2017-03-06 16:55] #798 closed

[2017-03-06 17:36] jainarunarunjain commented on #805
@spyshiv Is anyone working on this or shall i try.

[2017-03-06 18:48] aka-jain opened #810 "Improved password change feature view."
Steps to do:
1. After successfully password change, show a modal which will asks user to "stay" or "login again".
2. If user selects "Stay" then do nothing if user clicks "Login again" then make user log out and open login page view.

@spyshiv any thoughts?

[2017-03-06 18:53] aka-jain commented on #744
Let's free this issue till then. Let me know whenever you get free. Will assign it to you again if no one shows interest in it.

[2017-03-06 19:09] spyshiv commented on #805
Sure @jainarunarunjain . Please try to finish it ASAP....
Assigning to you...

[2017-03-06 19:11] mayank-agarwal-96 commented on #810
I want to work on this.

[2017-03-06 19:16] spyshiv commented on #744
@anweshknayak : can you fix this ?? Let me know if you are interested.

[2017-03-06 19:18] spyshiv commented on #810
@aka-jain : nice idea. 👍

[2017-03-06 19:19] aka-jain commented on #810
Great. @mayank-agarwal-96 assigning it to you. Please do it ASAP :)

[2017-03-06 19:25] aka-jain opened #811 "Write a sass mixin to provide crossbrowser support to keyframes."
Currently we are using animation with only default keyframes. Need to make a mixin for these keyframes such that it covers atleast four browsers namely Chrome, Firefox, Opera, Safari.
For any help check out sass mixins for keyframes http://sass-lang.com/guide.

p.s example out rocket animation in landing page.

[2017-03-06 20:55] RishabhJain2018 commented on #690
@aka-jain @spyshiv Reopen this issue as some task is still left on this issue . Please refer to above conversation.

[2017-03-06 22:21] yadavankit commented on #799
@TroJan I researched a bit about the approach I am gonna take and IMHO, we should use [opbeat](https://opbeat.com/) for the aforesaid tasks. Thoughts?

[2017-03-06 23:19] anweshknayak commented on #744
@spyshiv Sure. I am interested.

[2017-03-06 23:28] anweshknayak commented on #811
This we need to do? Just curious.

Ref : http://stackoverflow.com/a/20617786/4037592

[2017-03-07 00:01] spyshiv commented on #744
@anweshknayak: Let see how quick you are.... Assigning this to you.

[2017-03-07 00:43] spyshiv commented on #690
I didn't close this issue intentionally it is done automatically. :smile:
Reopening again.
@aka-jain @RishabhJain2018 : For the reference please have a look at comment in `gulpfile.js` line 233.
PS: Since it should not be a blocker so once the linting errors and warnings are fixed (issue #805) then start doing work on this.

[2017-03-07 02:01] spyshiv commented on #762
Closing this.

[2017-03-07 02:01] #762 closed

[2017-03-07 07:24] aka-jain commented on #811
@anweshknayak yes but with mixin.

[2017-03-07 09:03] Ram81 commented on #773
@aka-jain I can do this quickly if you allow me as you said the description of design of login page in #772? so should I do it?

[2017-03-07 11:14] #744 closed

[2017-03-07 11:32] anweshknayak commented on #811
@aka-jain can I try this? I will try to do it asap.

[2017-03-07 11:35] aka-jain commented on #811
Sure @anweshknayak, go ahead.

[2017-03-07 11:36] aka-jain opened #815 "Redesign auth view like we have other pages."
Redesign auth views, namely:
Reset Password
Email Confirmation

@deshraj add other auth views too if I left any.

[2017-03-07 11:37] aka-jain commented on #773
@Ram81 Try this first #815

[2017-03-07 11:38] aka-jain commented on #772
@chan24 Let #815 be completed first. Then we assign this task to you.

[2017-03-07 11:53] Ram81 commented on #815
@aka-jain can I take this one?

[2017-03-07 11:53] Ram81 commented on #773
@aka-jain sure

[2017-03-07 13:35] aka-jain commented on #815
Sure @Ram81.

[2017-03-07 14:27] mayank-agarwal-96 commented on #810
@aka-jain I am facing problems while I am trying to change password. When I tried changing password, it said "something went wrong" and there were warnings in Django server.
Also a new issue I faced was, suppose my old password is "12345678" and I enter "123456789" in both old password and new password field, it says "Old password cannot be same as New Password" while my old password was never "12

[2017-03-07 14:30] aka-jain commented on #810
What are the errors?
Yes, I know that old password field is not matching correctly. Will open a separate issue for that.

[2017-03-07 14:36] mayank-agarwal-96 commented on #810
Now the feature worked fine. I think the errors are because of some response from the API. When I tried a password which was similar to my old password (only one char different) , it showed "Something went wrong" but when I chose an entirely fresh password, it worked fine.

[2017-03-07 15:02] #805 closed

[2017-03-07 15:40] anweshknayak commented on #478
@aka-jain @deshraj close this ?

[2017-03-07 18:59] RishabhJain2018 commented on #690
@aka-jain @spyshiv  By this ` So integrate lint with watch such that if we get any error than server should stop`, you want to say that gulp watch task should break when any lint error is present ??

[2017-03-08 09:23] aka-jain commented on #811
@anweshknayak status? Let me know if you are busy with some other issue.

[2017-03-08 09:25] aka-jain commented on #792
@spyshiv @deshraj Need your thoughts here.

[2017-03-08 09:37] anweshknayak commented on #811
@aka-jain I will not be able to work on issues till tomorrow.  Busy with college stuff.

[2017-03-08 09:41] aka-jain commented on #811
Okay, please inform us in case if you are unable to do any task.
I'm making this issue free till then.

[2017-03-08 09:41] anweshknayak commented on #811
@aka-jain sure :)

[2017-03-08 17:33] spyshiv commented on #690
@RishabhJain2018
Keep 'gulp watch' always active.
Order of running tasks
1. Watch 2. Lint 3. Connect
- `Watch` should always be running
- If `Lint` gives an error then break the `connect` (should stop the server)
- If `Lint` is fine then run `connect`
Getting??
Let me know if you have any doubt.

[2017-03-09 08:12] RishabhJain2018 commented on #690
@spyshiv Okay sure.

[2017-03-09 08:39] RishabhJain2018 opened #819 "Loader is not disappearing."
When the user logs in then the loader is continuously running on the dashboard.

**Steps to reproduce:**
1. Go to Login page, & fill username and password.
2. After logging in, go to `Dashboard`.
3. On the dashboard , you will still see `Loading` with the running loader.

[2017-03-09 08:58] deshraj commented on #761
@divyanshu1302 the time is so early for this feature. We will work on this feature in the near future but not now. :)

Closing for now.

[2017-03-09 08:58] #761 closed

[2017-03-09 18:18] aka-jain commented on #811
@Ram81 Can you do this?

[2017-03-09 20:13] aka-jain opened #821 "Reopening eslint and code cleaned issue."
@jainarunarunjain you have to do this again. This was throwing some critical errors to our prod. Let me know if you need any help.

[2017-03-09 20:15] jainarunarunjain commented on #821
@aka-jain my bad , by mistake i removed some important code, will fix this ASAP.

[2017-03-10 09:58] aka-jain commented on #819
Fixed with #820

[2017-03-10 09:58] #819 closed

[2017-03-11 00:28] deshraj opened #824 "Footer not fixed in Join-Us Page"
Please see the screenshot below for reference:
<img width="1440" alt="screen shot 2017-03-10 at 7 27 34 pm" src="https://cloud.githubusercontent.com/assets/2945708/23818264/a90f7bf2-05c7-11e7-93c5-13b4a31f1399.png">

[2017-03-11 02:30] #695 closed

[2017-03-11 04:30] Ram81 commented on #824
@deshraj can I take this one?

[2017-03-11 04:36] deshraj commented on #824
Sure. :)

[2017-03-11 06:36] TroJan opened #826 "Add field named method_name in Submission model"
_What ?_

Add a field named `method_name` in `Submission` model of `jobs` app. The field should be a CharField with maximum length as 1000. The field will be nullable.

_Why ?_

So that a user or challenge host can track which method(like KNN, etc) is being used to make a submission.
It is optional because many a times no such definite name of function need not be present.

_How ?_

This issue wil

[2017-03-11 06:38] TroJan commented on #785
@AnshulBasia : any update here ?

[2017-03-11 06:51] RishabhJain2018 commented on #826
@TroJan Can I work on this?

[2017-03-11 07:02] TroJan commented on #782
@gauthamzz : thanks for the fix. :)

[2017-03-11 07:02] #782 closed

[2017-03-11 07:08] TroJan commented on #826
@RishabhJain2018 : sure :)

[2017-03-11 07:23] #826 closed

[2017-03-12 10:27] divyanshu1302 commented on #630
Can I try for this issue, if it is free now ?

[2017-03-14 11:32] TroJan commented on #785
@AnshulBasia : thanks for the fix. Merged in #832

[2017-03-14 11:32] #785 closed

[2017-03-14 16:37] Ram81 commented on #792
@deshraj @aka-jain @spyshiv we can use such a formula for calculating the rating of a user
https://www.codechef.com/ratings

[2017-03-14 23:58] deshraj commented on #788
@Curious72 any update on this? Please let us know if you are busy with something else. Anyone else can handle this in that case.

[2017-03-15 06:05] TroJan opened #835 "Change binding key for submission worker"
__Problem__

Presently submission worker creates an exclusive queue and binds on that queue with a key of `challenge.add.*`.

__Why__ ?

The key needs to be changed because we need to add support for editing of challenge file also. In the future we will bind on key `challenge.*.*` and then add a check in the code to take action accordingly

__Impact__ ?

It will extend submission worker to add sup

[2017-03-15 06:26] RishabhJain2018 commented on #835
@TroJan Can I work on this?

[2017-03-15 17:31] mayank-agarwal-96 opened #837 ""New password can't be same as old password" displayed in password change view even when old password inserted is wrong."
@deshraj @aka-jain @TroJan What do you think about this?
This should not be a front end validation. Rather such errors and warnings should be part of API responses.

[2017-03-15 18:23] chan24 commented on #788
@deshraj can you assign me this issue?

[2017-03-15 18:30] Ram81 opened #838 "Footer not fixed in our team view & contact us view"
![contact](https://cloud.githubusercontent.com/assets/16323427/23964639/1e9cdf06-09db-11e7-9c54-f4471cdf9ce4.png)

@aka-jain can I fix this?

[2017-03-15 18:36] Ram81 commented on #838
![oteam](https://cloud.githubusercontent.com/assets/16323427/23964973/6f697984-09dc-11e7-9f17-1bf815723512.png)

[2017-03-16 05:05] #835 closed

[2017-03-16 05:05] TroJan commented on #835
@RishabhJain2018 : thanks for the fix. :)

[2017-03-16 05:06] RishabhJain2018 commented on #835
@TroJan Welcome ! :)

[2017-03-16 05:10] Curious72 commented on #788
@deshraj I am working on it !

[2017-03-16 05:11] taranjeet opened #839 "Log change in Challenge and Challenge Phase model when file fields are updated"
__Problem__

We need a way to figure out if the `evaluation_script`field value is changed for Challenge Model or not. Same goes for `test_annotation` field in ChallengePhase Model.

__Please be more clear__ ?

When ever a model is saved, its saved function is called. So this task involves figuring out a way in save model to detect if the model is updated or added. If the model is updated, then fur

[2017-03-16 05:16] RishabhJain2018 commented on #839
@TroJan Can I work on this?

[2017-03-16 05:47] TroJan commented on #839
@RishabhJain2018 : sure

[2017-03-16 05:54] taranjeet opened #840 "Add support in submission worker to update file field changes for Challenge and Challenge Phase"
__Problem__

If the Challenge Host updates any of `evaluation_script` or `test_annotation` file, then there is no way to propagate that change to the worker.

__Please be more clear__ ?

Presently the submission worker when starts fetches all the active challenges and loads `evaluation_script` for each challenge. It also fetches active challenge phase for each challenge and loads `test_annotation`

[2017-03-16 06:04] taranjeet opened #841 "Publish message whenever file field of Challenge and Challenge Phase changes"
__Problem__

We need to propagate changes related to `test_annotation` and `evaluation_script` to the submission worker. The support for handling the change already in the worker is being taken care of in [Issue 840](https://github.com/Cloud-CV/EvalAI/issues/840). We need to add support for publishing message when ever any such change happens.

__Please be more clear__ ?

When ever `evaluation_scr

[2017-03-16 06:08] taranjeet opened #842 "Add support to reload worker whenever Challenge or Challenge Phase file changes"
Description: The worker when starts loads all the active challenges and challenge phase. It fetches `evaluation_script` for Challenge and `test_annotation` for Challenge Phase and stores them on disk.

Now if the Challenge Host updates any of these files, then should be reflected in the worker also.

We need to add support for this

It is a big issue, Hence it will involve many sub-issues

- [ ] L

[2017-03-16 06:17] anweshknayak commented on #770
@aka-jain is anyone doing this ? @RishabhJain2018 are you? I can do this one.

[2017-03-16 08:45] gauthamzz commented on #841
can i try ?

[2017-03-16 09:23] TroJan commented on #840
@mayank-agarwal-96 : sure :)

[2017-03-16 09:24] TroJan commented on #841
@gauthamzz : sure :)

[2017-03-17 08:01] RishabhJain2018 commented on #839
@TroJan I googled about the above task and found that [signals] (https://docs.djangoproject.com/en/1.10/topics/signals/) are a suitable way to implement it. Please see these links ([link1](http://stackoverflow.com/a/1197708) [link2](http://stackoverflow.com/questions/8119570/a-correct-case-to-use-django-signals)) link for reference.
Moreover, I also found a django-app [django-model-changes](https:

[2017-03-17 19:15] #821 closed

[2017-03-18 04:38] spyshiv commented on #690
@RishabhJain2018 : `lint` errors are removed. Now you can start work on this issue with additional feature as discussed above.

[2017-03-18 04:49] RishabhJain2018 commented on #690
@spyshiv okay sure.

[2017-03-18 13:01] AnshulBasia opened #844 "Email Confirmation"
Currently for the email confirmation, user doesn't get an email but a link of the confirmation on the terminal.

[2017-03-18 13:03] AnshulBasia commented on #844
@deshraj @TroJan Can I write a python script to send a confirmation email and then integrate it. Your feedback will be highly appreciated.

[2017-03-19 03:05] TroJan commented on #844
@AnshulBasia : hey, the reason for the mail being printed on your terminal is the below line in your dev settings(`settings/dev.py`)

[code]

So, Idea here is Django already provides a backend of its own which we can use in development environment to check the content of the mail(without actually sending the mail using any credentials). In the production environment, we have put in the required cr

[2017-03-19 03:09] TroJan commented on #839
@RishabhJain2018 : yeah we will be using signals since we need this functionality for multiple models(presently _Challenge_ and _ChallengePhase_). I will prefer that instead of using `django-model-changes` we write our own code, because we do not need to track the history of change(as of now).

[2017-03-19 03:09] TroJan commented on #840
@mayank-agarwal-96 : Let me know if you are struck somewhere. Will be happy to help :)

[2017-03-19 03:10] TroJan commented on #841
@gauthamzz : Let me know if you are struck somewhere. We can discuss it over here. :)

[2017-03-19 06:14] mayank-agarwal-96 commented on #840
@TroJan : sure :) I am currently reading about RabbitMQ, as I am not experienced with it. I will ask if I get stuck.

[2017-03-19 09:30] RishabhJain2018 commented on #839
@TroJan so, I am proceeding with signals.

[2017-03-19 10:07] gauthamzz commented on #841
I'm still reading, new to this, will get this done fast .I hope it's fine. 😊

[2017-03-19 11:17] anweshknayak opened #847 "Fade Effects on route change"
@aka-jain @spyshiv is it good ?

[2017-03-19 11:18] aka-jain commented on #847
Not getting. Please elaborate!

[2017-03-19 11:50] anweshknayak commented on #847
@aka-jain Like this one (https://tympanus.net/Tutorials/CSS3ContentTabs/)

[2017-03-19 13:19] aka-jain commented on #847
Yes we can, but these are not tabs basically these are routes. So I'm giving upon you to find the solution for this.

[2017-03-19 13:21] anweshknayak commented on #847
Ohh sure @aka-jain  :smiley:

[2017-03-19 13:27] anweshknayak commented on #847
@aka-jain found something here http://jasonwatmore.com/post/2016/01/20/angular-nganimate-tutorial-with-ui-router

[2017-03-19 19:38] deshraj opened #848 "Add nullable attribute to the Team Model"
Following changes are required in the Team model:

- [ ] Convert the URLFields to CharField with URL

- [ ] Change the fields `email`, `github_url`, `linkedin_url`, `personal_website` to nullable fields

[2017-03-19 19:39] RishabhJain2018 commented on #848
@deshraj Can I work on this?

[2017-03-19 19:41] deshraj opened #849 "Replace text in 'Our Team' view"
Change the text shown on the card of `Our-Team` view from `My Profile` to `Personal Website`

[2017-03-19 19:48] deshraj opened #850 "Create an API Endpoint to show all the submissions to Challenge Host for a particular Challenge"
### Objective

The aim is to create an API endpoint which fetches all the submissions of a Challenge and and returns as a JSON Response.

### Constraints:
- URL: `/api/challenges/<challenge_pk>/submissions/`
- Only the Challenge Host of that particular challenge can access this information.
- Request Method: `GET`
- Response on success: `200`
- Response on not allowed: `406`
- Pagination: `YES`

#

[2017-03-19 19:49] deshraj commented on #848
Yeah sure. Go ahead. :)

[2017-03-19 19:56] deshraj opened #851 "Create view to show all the submissions of a Challenge to Challenge Hosts"
### Objective

Create a view that will show all the submissions to a Challenge. The link should be shown as a different tab in the Challenge View to Challenge Hosts of that Challenge.
*Note:* This can be only seen by the Challenge Host of a Particular challenge.

### Reference

It would be very similar to the `My Submissions` view of a challenge. Please let us know if you need help with this.

###

[2017-03-19 20:13] RishabhJain2018 commented on #848
@deshraj Can we use `[slugfield](https://docs.djangoproject.com/en/1.8/ref/models/fields/#slugfield)` for this?

[2017-03-19 20:20] #779 closed

[2017-03-19 20:22] deshraj commented on #848
No, can you please change them with `CharField` ?

[2017-03-19 20:34] RishabhJain2018 commented on #848
@deshraj okay sure.

[2017-03-19 21:34] deshraj opened #853 "Contact Us form not working properly"
The Contact Form is not working properly. Please check the console logs and fix it accordingly.

[2017-03-19 21:35] #848 closed

[2017-03-19 21:44] deshraj opened #854 "Setup Sphinx Documentation"
All the documentation of EvalAI resides in `/docs` folder in the project repository. We would like to setup sphinx documentation at `/docs` for this project. Since we use the `.md` extension file format, so it would be easy to set it up.

For more details, please see https://daler.github.io/sphinxdoc-test/includeme.html

[2017-03-19 21:58] deshraj commented on #788
@Curious72 please keep me posted with this issue.

[2017-03-19 22:11] RishabhJain2018 commented on #853
@deshraj Can I work on this?

[2017-03-19 22:53] RishabhJain2018 commented on #853
@deshraj I think we should also modify this api to also return the `name` and `email` of the user on the `GET` request as it will be handy for the user not to fill the name & email in the contact form once he is logged in.
Moreover, we are also taking the `name` and `email` of the user from the database only , if he is logged in. Please refer [here](https://github.com/Cloud-CV/EvalAI/blob/master/a

[2017-03-20 01:52] deshraj opened #857 "Create a template view to show after successful email verification during Signup"
### Description

When a user registers on EvalAI, he receives an email that contains a unique link to confirm his email id. Whenever he clicks on the link, he should be shown a static page similar to this http://api.evalai.cloudcv.org/api/auth/registration/account-confirm-email/MTc:1cpmQ6:0_PqK9K-JJuKYxC3aSY2Bjt3OLU/

### Todo

1. Override the URL Patterns for the URL  `/api/auth/registration/acco

[2017-03-20 02:32] deshraj opened #858 "Update Privacy and Terms Page"
Currently the Privacy and Terms page contains fake data. We would want to update it with the information at this link: https://github.com/Cloud-CV/EvalAI/wiki/Privacy-and-Terms

[2017-03-20 04:32] Ram81 commented on #858
@deshraj can I take this one?

[2017-03-20 04:33] Ram81 commented on #851
@deshraj  can you share the design of this page or should I try one that will match our current design?

[2017-03-20 09:06] yadavankit commented on #850
@deshraj can I work on this one?

[2017-03-20 12:18] deshraj commented on #858
Yeah sure.

[2017-03-20 13:32] mayank-agarwal-96 commented on #840
@TroJan I was reading this [pull request](https://github.com/Cloud-CV/EvalAI/pull/833/files) created by you for documentation about workers. I noticed that all the evaluation scripts are loaded in a dictionary before a worker fully starts. So whenever a challenge.edit.*  is published, we need to update the `EVALUATION_SCRIPTS` dictionary? Also what needs to be done about previously evaluated submi

[2017-03-20 13:42] mayank-agarwal-96 commented on #857
Can I work on this?

[2017-03-20 14:37] deshraj commented on #857
@mayank-agarwal-96 sure.

[2017-03-20 18:32] mayank-agarwal-96 commented on #857
@deshraj Right now ConfirmEmailView ( which is an APIView ) is called on this url. So do I need to change this with a TemplateView?

[2017-03-20 18:36] #849 closed

[2017-03-20 18:41] deshraj commented on #857
Yeah, please do that and delete the APIView in the views file.

[2017-03-20 18:46] mayank-agarwal-96 commented on #857
@deshraj Ok, thank you :)

[2017-03-20 19:32] aka-jain commented on #847
@anweshknayak go ahead and do this task!

[2017-03-20 19:42] deshraj commented on #853
I think we should just fill the name and email address already in the contact form if the user is already logged in.

[2017-03-20 19:49] AliRaza3997 commented on #858
I have done this. Kindly check the pull request.

[2017-03-20 19:50] AliRaza3997 commented on #858
@deshraj I have done this. Kindly check the pull request.

[2017-03-20 20:17] RishabhJain2018 commented on #853
@deshraj Yeah. For that we need to modify the api. I think a separate issue will be good for this. What do you say?

[2017-03-20 22:07] deshraj commented on #853
Sounds good to me.

[2017-03-20 22:34] deshraj commented on #858
@AliRaza3997 Thanks for submitting the Pull request. I would suggest that please donot work on any issue on which someone else is working on. I am accepting this since you are new. Please keep this in mind in future. :)

@Ram81 Please don't start working on this feature. Sorry for the inconvenience.

[2017-03-21 05:11] AliRaza3997 commented on #858
Sorry for the inconvenience. Didn't see any assignment when I started working on it. I would keep this in mind the next time and ask first. Thanks.

[2017-03-21 05:13] AliRaza3997 commented on #850
@deshraj can I work on this?

[2017-03-21 13:17] deshraj commented on #850
@yadavankit Yeah, you can work on this. :)

[2017-03-21 13:52] AliRaza3997 commented on #300
I would like to work on this. Can I?

[2017-03-21 14:12] deshraj commented on #300
Sure @AliRaza3997 :)

[2017-03-21 14:24] mayank-agarwal-96 commented on #857
@deshraj I am stuck on finding a good way to reuse css and images in the frontend directory for the email confirmation template. Will adding it to static help?

[2017-03-21 14:25] deshraj commented on #857
@mayank-agarwal-96 Since both the frontend and backend are independent of each other, so it would be a good idea to not reuse the static files. Can you please create different static files for the backend?

[2017-03-21 14:27] mayank-agarwal-96 commented on #857
@deshraj Ok sure, it would also be easier to create new static files.

[2017-03-21 19:04] deshraj commented on #850
@yadavankit Please don't start working on this if you haven't started yet. I would like to do it myself since we need this feature ASAP. Sorry for the last minute information.

[2017-03-21 19:15] yadavankit commented on #850
@deshraj I saw this just now, had to run some errands. No issues :)

[2017-03-21 19:16] deshraj commented on #850
Cool, thanks for coordinating. :)

[2017-03-22 03:37] #838 closed

[2017-03-22 03:38] Ram81 commented on #838
Fixed in #843

[2017-03-22 03:38] Ram81 commented on #824
@deshraj  you can close this.

[2017-03-22 07:21] #824 closed

[2017-03-22 07:22] aka-jain commented on #824
Fixed with #830

[2017-03-22 07:36] AnshulBasia commented on #854
Any clue with the error:
'''
make html
make: *** No rule to make target 'html'.  Stop.
'''

[2017-03-22 14:31] AnshulBasia commented on #854
![make_latex](https://cloud.githubusercontent.com/assets/12856392/24202908/3ddae5de-0f3a-11e7-8ac3-a971208e4472.png)
@deshraj  make HTML was successful but please check this error in make  latexpdf.

[2017-03-22 21:32] deshraj commented on #854
@AnshulBasia we dont need the `make latexpdf`. We just need to build the html files.

[2017-03-22 23:50] deshraj commented on #810
Sorry, I didn't keep track of this issue. We should control this at the backend side and not at the client side. Closing this issue and the respective Pull Request.

[2017-03-22 23:50] #810 closed

[2017-03-23 01:00] deshraj opened #863 "Disable change of 'username' on client side on Update Profile View"
A user should not be able to change his username once he has created his account.

### TODO

Disable the username field in the `Update Profile` view to make sure a user cannot modify his username.

[2017-03-23 01:03] deshraj opened #864 "Restrict the update profile API Endpoint from updating username"
Currently, django-rest-auth provides the functionality to update the username with the update profile API Endpoint. We want to restrict this since we don't want a user to update his username once he has created his account.

For more details about the API endpoint, look at http://django-rest-auth.readthedocs.io/en/latest/api_endpoints.html#basic

[2017-03-23 01:03] deshraj commented on #864
Related to #863

[2017-03-23 01:18] #858 closed

[2017-03-23 01:36] deshraj opened #866 "Add Installation Guide for different Platforms"
We would like to add different markdown files for setting up IDE on different Platforms such as

- [x] Ubuntu
- [x] Fedora
- [ ] OS X
- [ ] Windows

[2017-03-23 05:17] mayank-agarwal-96 commented on #863
Can I work on this?

[2017-03-23 05:18] deshraj commented on #863
Sure.

[2017-03-23 05:46] TroJan commented on #839
@RishabhJain2018 : the message will be printed in the catched signal. This message is kind of a logging statement telling what was the change. So it will be placed where the change is actually being detected.

[2017-03-23 05:55] TroJan commented on #840
@mayank-agarwal-96 : Yeah whenever a message for `challenge.edit.*` is published, you need to update `EVALUATION_SCRIPTS` dictionary. If you clearly see the structure of the dictionary, it uses challenge id as its keys. Challenge id has to be available in the message and then you can dynamically import the module and then reload the module in `EVALUATION_SCRIPTS`.

As of now, we are going with the

[2017-03-23 05:56] TroJan commented on #841
@gauthamzz : Any update on this, You can actually ask here if you are struck somewhere.

[2017-03-23 05:59] TroJan commented on #866
Concerned file for this is [setup.md](https://github.com/Cloud-CV/EvalAI/blob/master/docs/setup.md). For ubuntu the instructions are present, but one can actually update them if something is missing.

Also please update the markdown error in the same file(generally headings). Like

###Step 1: Install prerequisites  ---> ### Step 1: Install prerequisites

(A space needs to added after the hash seri

[2017-03-23 12:07] ishapotnis1 commented on #863
@deshraj If this issue is still open I would like to try it.

[2017-03-23 19:36] yadavankit commented on #864
@deshraj can I take it up?

[2017-03-23 19:51] aka-jain commented on #847
@anweshknayak progress?

[2017-03-23 19:52] aka-jain commented on #792
@deshraj what do you think about this feature. Shall we close this or move with it?

[2017-03-23 19:54] deshraj commented on #792
This feature is something that we should definitely keep but this is not in the current roadmap. I will look into this and add it in the roadmap for the near future.

@Ram81 Thanks for suggesting this feature. :)

[2017-03-23 19:54] #792 closed

[2017-03-23 19:56] deshraj commented on #864
@yadavankit Sure. :)

[2017-03-24 03:45] Ram81 commented on #792
Thanks @deshraj and @aka-jain

[2017-03-24 03:51] deshraj commented on #863
@ishapotnis1 I think @mayank-agarwal-96 is already working on this. Feel free to look for other issues.

[2017-03-24 06:16] ishapotnis1 commented on #770
Hi.. @anweshknayak are you done with this issue?

[2017-03-24 07:14] anweshknayak commented on #847
@aka-jain you can make this issue free for others. :) I haven't started working on this yet

[2017-03-24 07:16] anweshknayak commented on #770
@ishapotnis1 No I haven't done. Feel free to take this up. @aka-jain

[2017-03-25 06:25] kakshay21 commented on #866
@deshraj @TroJan  On it

[2017-03-26 13:01] mayank-agarwal-96 commented on #863
@deshraj Shall I make the input field disabled or completely remove the username field? When I am disabling the field, the animation for "Username" also stops working leading to something like this:
![screenshot from 2017-03-26 18-28-14](https://cloud.githubusercontent.com/assets/11095642/24331450/690c7cf2-1252-11e7-8981-f89e9171942f.png)

[2017-03-26 14:31] TroJan commented on #840
@mayank-agarwal-96 : is this in progress? If you are struck somewhere you can ask it here!

[2017-03-26 14:32] TroJan commented on #841
@gauthamzz : any progress on this?

[2017-03-26 16:18] gauthamzz commented on #841
@TroJan i been trying, but this is kinda very new . Could you help out?

[2017-03-26 16:29] TroJan commented on #841
@gauthamzz : yeah tell me where are you struck?

[2017-03-26 18:37] mayank-agarwal-96 commented on #840
Yes I am still trying to fix this one. I just wasn't able to dedicate proper time. I'll keep posting if I feel stuck.

[2017-03-26 19:11] deshraj commented on #863
I think you can convert the username `field` from a form-field to a `<p>` tag or something similar depending on which will look good.

[2017-03-26 21:45] deshraj commented on #731
@anweshknayak any updates on this?

[2017-03-26 21:45] #775 closed

[2017-03-27 01:53] deshraj commented on #799
@yadavankit closing this for now since this is not on roadmap for now. Will reopen it once we start working on this. Thanks for suggesting this feature. :)

[2017-03-27 01:53] #799 closed

[2017-03-27 01:54] deshraj commented on #300
@AliRaza3997 any progress on this?

[2017-03-27 01:55] deshraj commented on #462
@aka-jain @anweshknayak Is this resolved? If yes, please add a reference to the PR.

[2017-03-27 01:55] deshraj commented on #478
@anweshknayak Sorry, I missed this one. closing it now.

[2017-03-27 01:55] #478 closed

[2017-03-27 03:00] deshraj opened #878 "Use Decorator to check permission in Disable Challenge API"
Currently for the disable challenge API, there is an explicit condition added to check if the user is creator of the challenge or not (https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L160). This has to be removed and the `isChallengeCreator` decorator has to be added to this view.

The decorator can be found here https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenge

[2017-03-27 03:04] deshraj opened #879 "Use IsChallengeCreator decorator in Challenge Phase detail API Endpoint"
Currently, the check for if the requesting user is Creator of Challenge or not is missing from the `challenge_phase_detail` API View. We would like to add the `IsChallengeCreator` decorator (https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/permissions.py#L6) to this endpoint.

Also, please add test cases after making the above changes.

[2017-03-27 03:29] varunagrawal commented on #878
I'll work on this. Should I assign this to myself for easier management?

[2017-03-27 03:30] deshraj commented on #878
Yeah, please go ahead. I cannot assign you right now since you are not a contributor yet. I will add you once you have made small contributions. :)

Please let me know if you need some help.

[2017-03-27 03:47] varunagrawal commented on #878
Woops. Seems like someone forgot to commit the 0004 migration file in the `jobs` app. I am getting a dependency error when running the Django migration.

[2017-03-27 03:48] deshraj commented on #878
@varunagrawal can you please paste the screenshot of the same?

[2017-03-27 03:52] varunagrawal commented on #878
Sure thing. Here you go:
![evalai_migration](https://cloud.githubusercontent.com/assets/975964/24340295/054d2798-127f-11e7-9901-42e7dc52fe09.png)

I see the problem. If you look at `challenges/migrations/0019_added_leaderboard_data_table.py`, it references a migration `('jobs', '0004_submission_output'),` as a dependency which does not exist in the repo.
@deshraj your commit from 2 months ago crea

[2017-03-27 03:59] varunagrawal commented on #878
Also, quick question: You've referenced the "decorator" in the issue as [this](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/permissions.py#L6), so I am assuming the idea here is to add an actual decorator function that behaves in the same way as the `has_permission` method?

[2017-03-27 04:02] deshraj commented on #878
Yeah, the idea is same as you mentioned. But, you might want to test this on your local system after making the changes. :)

[2017-03-27 04:03] deshraj commented on #878
I tried to reproduce the error on my local machine by cloning the repository again but I didn't get the error. Can you please share the OS and share the screenshot of the full error log?

[2017-03-27 04:08] varunagrawal commented on #878
That's super strange. I don't see the migration file `0004_submission_output.py` in the `jobs` directory at all. Check out the screenshot below:

![evalai_jobs](https://cloud.githubusercontent.com/assets/975964/24340578/5c04a640-1281-11e7-940c-efd37ab301ef.png)

I'm pasting the error message below. I'm on Ubuntu 16.04.

[code]

[2017-03-27 04:19] deshraj commented on #878
@varunagrawal I think this is most probably due to different version of Postgres. We have merged the migrations a while back and hence the dependency on `0004_submission_output.py` should not appear again.

I am using `psql (PostgreSQL) 9.6.1` and it is working fine on my machine.

[2017-03-27 04:24] varunagrawal commented on #878
I'm on 9.6.2. I don't think a revision version change should have this much of an effect.

Also, https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/migrations/0019_added_leaderboard_data_table.py#L13 still points to the missing migration file. I am not sure I understand what you mean by merged the migrations.

[2017-03-27 04:56] deshraj commented on #878
I get that the migration is dependent on a previous migration that is now merged into a single migration. For reference, see this https://github.com/Cloud-CV/EvalAI/commit/bd17b39936990513fc758b5bf40e9063a06ae2ba.

To solve this problem on your machine, you might want to delete all the migrations of the `challenges` app and then it should work fine.

Let me know if that doesn't work.

[2017-03-27 13:56] varunagrawal commented on #878
Ahh I see. The fix is super simple then. I can simply replace the `0004_submission_output` migration dependency with `0001_squashed_0005_upload_unique_random_filename`.

And indeed it works! I'll add it to my PR.

[2017-03-27 14:17] varunagrawal commented on #878
Question related to the task at hand:
In my decorator, I need to get the ID of the challenge creator which requires querying the DB for the challenge. Then again in the wrapped function there is the same DB query, and thus repetition of code. Is that fine or would you prefer something more elegant?

[2017-03-27 22:28] varunagrawal commented on #878
Alright. I seem to be done, but another stumbling block in terms of testing. When I try to host a new challenge, I get  a message saying that the feature does not exist. Should I just go ahead and create a challenge from the django console?
Sorry if this is a noob question.

[2017-03-27 22:32] deshraj commented on #878
Great. :)

For creating a challenge, you can create a challenge from Django admin, That would be much easier than using the django console. Else if you are interested in using the code, then feel free to look at the existing test setup for creating a challenge at this link https://github.com/Cloud-CV/EvalAI/blob/master/tests/unit/challenges/test_views.py#L24.

I am working on the challenge creatio

[2017-03-28 06:29] deshraj opened #886 "Add Affiliation in Update Profile View"
Currently the user cannot set his affiliation to any organization. We would like to add the Affiliation to Update Profile view.

[2017-03-28 09:37] AnshulBasia commented on #854
@deshraj Please let me know if there's any issue..?

[2017-03-28 09:40] AnshulBasia commented on #879
Can I work on this..?

[2017-03-28 14:12] DaivikDave commented on #886
i want to work on it.

[2017-03-29 01:02] deshraj commented on #886
Sure, go ahead. :)

[2017-03-29 01:03] #878 closed

[2017-03-29 01:09] deshraj commented on #879
@AnshulBasia Sure. :)

[2017-03-29 01:28] deshraj opened #889 "Change 'visible' field in Team model"
Currently the `visible` field is set to `True` as default in the Team model. We would like to set it to False.

The line to be changed is https://github.com/Cloud-CV/EvalAI/blob/master/apps/web/models.py#L38

[2017-03-29 01:34] deshraj opened #890 "Add API Endpoint to add contributors in Team list"
### Objective

Build API Endpoint for adding new contributors to the Team Page

Method: `POST`
Endpoint: `/api/web/team`
Fields to accept: `Name`, `Email`, `Headshot`, `github_url`, `linkedin_url`, `personal_website`, `background_image`, `team_type='Contributor'`

Dependent on #889

[2017-03-29 01:35] deshraj opened #891 "Create a View to add contributors to Team Page"
Dependent on #889 and #890

[2017-03-29 03:28] Ram81 commented on #889
@deshraj can I do this?

[2017-03-29 03:28] deshraj commented on #889
Yep Sure.

[2017-03-29 03:54] DaivikDave commented on #886
@deshraj  is there a file or an issue that explains the code structure of the site. I'm having touble  in figuring out  which file to look at .

[2017-03-29 04:05] deshraj commented on #886
@DaivikDave you have to make changes in the file https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/views/web/update-profile.html and to its controller that is here https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/js/controllers/updateProfileCtrl.js

[2017-03-29 04:06] deshraj commented on #886
You will become familiar with the codebase as you start play around with it on your local machine.

[2017-03-29 04:09] DaivikDave commented on #886
Yeah i viewed some python scripts and will work university affiliation and
some more issues. Can i mail you if i have some doubts?

On Wed, 29 Mar 2017 at 9:36 AM, Deshraj Yadav <notifications@github.com>
wrote:

[2017-03-29 04:12] deshraj commented on #886
It would be great if you can comment here on the respective issues/PRs. We can also talk on gitter. There other contributors can also help you in making contribution to the project. You can also mail me. :)

[2017-03-29 07:29] anweshknayak commented on #731
@deshraj I didn't get time to fix this yet. Meanwhile please make this feel for others to solve.

[2017-03-29 20:01] Shashi456 commented on #879
@deshraj  can you tell me what exactly do we do after the check?

[2017-03-29 20:04] deshraj commented on #879
@Shashi456 I think @AnshulBasia is already working on this. Feel free to pick any other unassigned issue. :)

[2017-03-29 20:13] Shashi456 commented on #879
@deshraj what about #863

[2017-03-29 20:24] Shashi456 commented on #863
Instead of disabling the field i made it readonly , so now the issue of the animation not working would not arise , does that sound good enough
?

[2017-03-30 05:15] spyshiv commented on #863
@mayank-agarwal-96  @Shashi456 : FYI, Add `class="active"` to `label` to see focus effect on `username`.

[2017-03-30 06:08] deshraj commented on #731
Thanks for informing Anwesh. :)

[2017-03-30 06:16] spyshiv commented on #863
Fixed in #894.
Closing this.

[2017-03-30 06:16] #863 closed

[2017-03-30 08:25] spyshiv commented on #371
@aka-jain : I am on it.

[2017-03-30 08:26] aka-jain commented on #371
Okay 👍

[2017-03-30 11:10] DaivikDave commented on #886
i have added university affiliation in html ,updateprofile.js, profile.html  but its not getting  updated.Also the university data is not fetched when i refresh the updateprofile.html.Is there a controller for profile.html? @deshraj @TroJan  @spyshiv

[2017-03-30 13:24] artkorenev commented on #890
I want to take this one.

Could you please share permissions that are needed for this method?

Thanks

[2017-03-30 17:06] deshraj commented on #890
There are no permissions associated with this API Endpoint. Anyone can access this.

[2017-03-30 18:03] deshraj commented on #371
Fixed in #896. Thanks @spyshiv :)

[2017-03-30 18:03] #371 closed

[2017-03-30 18:57] deshraj opened #898 "Create an API Endpoint to Update the Submission made by a user"
The field `is_public` can be only modified by the user once he has done submission. This is to control the visibility of the submission made whether a particular user wants to show an entry on the leaderboard or not.

[2017-03-31 01:03] artkorenev commented on #891
@deshraj  I would take this one if you don't mind

[2017-03-31 01:03] deshraj commented on #891
Sure. :)

[2017-03-31 03:35] spyshiv commented on #371
Cool :)

[2017-03-31 07:33] AliRaza3997 commented on #300
@deshraj I won't be able to work on this for the next week. You can assign it to someone else. Sorry, for the inconvenience.

[2017-03-31 08:01] artkorenev commented on #891
Could you please clarify, you want to have a view on the page **SERVER/team**?
Thanks

[2017-04-03 03:28] TroJan commented on #839
@RishabhJain2018 : any updates here?

[2017-04-03 03:29] TroJan commented on #840
@mayank-agarwal-96 : any update ?

[2017-04-03 03:29] TroJan commented on #841
@gauthamzz : any update on this?

[2017-04-03 11:21] prasadwajekar commented on #664
i would like to work on it...

[2017-04-03 11:32] gauthamzz commented on #841
sorry ,i kind of got busy in exams and stuff ,hope it was okay

[2017-04-04 07:38] deshraj commented on #898
Fixed with #904

[2017-04-04 07:38] #898 closed

[2017-04-04 07:39] deshraj commented on #891
@artkorenev I didn't get your question here. Could you please elaborate more here?

[2017-04-04 07:40] deshraj commented on #889
Fixed with #892

[2017-04-04 07:40] #889 closed

[2017-04-04 07:41] deshraj commented on #890
Fixed with #899

[2017-04-04 07:41] #890 closed

[2017-04-04 10:44] artkorenev commented on #891
Sorry, I wanted to clarify whether I should provide a view to this page https://evalai.cloudcv.org/team?

[2017-04-05 00:05] varunagrawal commented on #891
@artkorenev I may be incorrect and @deshraj could provide more details, but having this view in the Admin panel makes more sense since this is primarily for the maintainers to update.

[2017-04-05 00:09] varunagrawal commented on #886
@DaivikDave I would recommend opening a PR on your current work. That way we can take a look at your code and help direct you better. :)

[2017-04-05 02:47] deshraj commented on #891
@varunagrawal we wanted to keep it client side so that the contributors can fill the form themselves and then we can approve it at the backend. Please let me know if you have a better idea in mind. Welcome for new suggestions. :)

[2017-04-05 03:09] varunagrawal commented on #891
Wouldn't it be cool if we could just use the Github API?
[This](https://developer.github.com/v3/repos/#list-contributors) page tells us how to retrieve the list of contributors directly from the repo.

[2017-04-05 03:33] deshraj commented on #891
@varunagrawal this sounds like a good idea but then we won't be able to update the personal website URL, LinkedIn URL, background headshot for the contributors.

[2017-04-05 04:12] varunagrawal commented on #891
So here's an idea:
1. Set up Github webhook to fire whenever a PR is merged.
2. The webhook triggers an endpoint to query Github API for new contributors.
3. New contributors are added to the DB using their email from Github. If they have an account already, then continue, else send an email to the user saying they have been added as a contributor and they need to click a link to confirm their acc

[2017-04-05 11:04] deshraj commented on #891
This solution sounds perfect but might be an overkill to write code for this particular feature and not worth it. We could look for other Open Source Projects and see how they do it.

One way is to create `CONTRIBUTORS.md` (most popular way of doing this). We might just parse it using a python script and add new contributors to the database accordingly.

@TroJan do you have thoughts for this?

[2017-04-05 11:58] RishabhJain2018 commented on #839
@TroJan I apologise for the delay..I will finish this asap.

[2017-04-05 17:37] varunagrawal commented on #891
@deshraj yeah it may be overkill for the simplicity of this feature. I was gunning for a fully automated process that required no work from us in the future. :blush:

[2017-04-05 17:40] varunagrawal commented on #879
@AnshulBasia any updates on this? If you're busy, I can take it forward.

[2017-04-06 02:08] deshraj opened #914 "Show number of remaining submissions on Submission Page"
### USE CASE

Whenever a user tries to make a submission to a particular phase, then we should show these details:
- Number of submissions he can do for that particular day
- Number of overall remaining submissions he can do in total

### TODO

- [ ] Add support of query params where the keys can be `date`(date in particular format DD-MM-YYYY comes here)
- [ ] On Challenge Submission view, calcula

[2017-04-06 05:54] AnshulBasia commented on #879
@varunagrawal Sorry,I am done but testing is yet to be done. I got stuck with my assignments. Please take it forward. Thanks.

[2017-04-06 09:48] #462 closed

[2017-04-06 14:55] deshraj opened #917 "Add unique property to DatasetSplit codename"
Currently, there can be multiple dataset splits with the same codename and it leads to the exception of `MultiplObjectsReturned` in submission worker.

### TODO
Add the unique property to `codename`  field in DatasetSplit model.

[2017-04-06 16:38] TroJan commented on #891
@deshraj : i think github approach would be an overkill right now. However I really appreciate your efforts @varunagrawal

[2017-04-06 17:56] mayank-agarwal-96 commented on #840
@TroJan As of now, I am not able to work on the issue because of time constraints. Please reassign if someone wants to take this up. Sorry for the delay.

[2017-04-06 22:55] deshraj commented on #891
Cool. @artkorenev so can you please create a view similar to the `contact us` view?

[2017-04-07 02:59] varunagrawal commented on #879
Sure thing mate @AnshulBasia. Thanks for letting us know. :)

[2017-04-07 05:16] artkorenev commented on #891
@deshraj sure

[2017-04-07 19:25] RishabhJain2018 commented on #853
@deshraj Please check it once , I think it is not fixed.

[2017-04-07 19:43] varunagrawal commented on #731
@deshraj I'd like to get more experience with the frontend of EvalAI. Can you please assign this bug to me?

[2017-04-08 01:23] deshraj commented on #853
@RishabhJain2018 Thanks for pointing out. Reopening it now.

[2017-04-08 05:47] mayank-agarwal-96 commented on #917
@deshraj I want to take this up.

[2017-04-08 06:08] deshraj commented on #917
Yeah sure. Assigning it to you. :)

[2017-04-08 20:12] #690 closed

[2017-04-09 15:46] RishabhJain2018 opened #920 "Blog link not working in footer."
In the footer `Blog` is not hyperlinked.

[2017-04-09 15:55] varunagrawal commented on #920
@RishabhJain2018 can you please provide detail about what the blog link should be? I don't see any URL setup for the blog in the code so I am guessing the blog will be hosted separately?

[2017-04-09 16:03] RishabhJain2018 commented on #920
@varunagrawal I think @deshraj or @dexter1691  can better answer this query. Actually I found it not working, so I opened up a issue so that we should not forget it in future. Let's wait for their answer.

[2017-04-09 20:53] RishabhJain2018 opened #921 "Modify contact_us api to fetch name and email, if the user is logged in."
This issue is related to #853 as discussed with @deshraj .

[2017-04-10 07:52] deshraj commented on #920
Thanks @RishabhJain2018 for opening this issue. We will host the blog separately using Github Pages. We haven't started working on the theme selection for the blog. We will start working on this soon.

[2017-04-10 08:45] deshraj commented on #921
Thanks for opening this @RishabhJain2018 :)

[2017-04-10 10:47] #857 closed

[2017-04-10 19:20] RishabhJain2018 opened #925 "Add default field in test_annotation field of ChallengePhase model."
Please add `default=False` in the test_annotation field of ChallengePhase model.

[2017-04-10 19:28] deshraj commented on #925
Assigning it to you. :)

[2017-04-10 19:38] #925 closed

[2017-04-12 12:31] deshraj commented on #917
Fixed in #927

[2017-04-12 12:31] #917 closed

[2017-04-12 12:32] deshraj commented on #891
@artkorenev are you still working on this? Please let me know so that I can assign it to someone else if you are not working on this issue.

[2017-04-12 15:48] artkorenev commented on #891
@deshraj sorry for the delay. Yeah, I am working on it. I have been a little bit overwhelmed with side activities for a couple of days.

[2017-04-12 15:55] yogeshdarji99 opened #931 "Permission Denied - Unable to create or select a team"
I signed up and also verified my email twice, but when I click on Show all challenges --> View Details, i get this error everytime
<img width="1412" alt="screen shot 2017-04-12 at 10 48 11 am" src="https://cloud.githubusercontent.com/assets/11489650/24967031/5e32e41e-1f6e-11e7-9bfb-39a0eb5ba8e1.png">

Is it a known issue?

[2017-04-12 15:57] deshraj commented on #931
@yogeshdarji99 this is not an issue. Can you please check `Email Address` model on django admin and see if the email is verified actually or not?

[2017-04-12 15:58] deshraj commented on #891
No issues. Please keep me posted if something comes up. :)

[2017-04-12 20:06] RishabhJain2018 commented on #914
@deshraj Can I work on this ?

[2017-04-12 20:06] deshraj commented on #914
Sure.

[2017-04-13 18:56] yadavankit commented on #706
Fixed in #756

[2017-04-13 18:56] #706 closed

[2017-04-16 11:19] aka-jain opened #937 "Server is not running on gulp:dev runserver"
Due to breaking lint injection, lint is not working properly on calling gulp:devrunserver.

Call lint on starting of watch task too. It is working when it detects any file change so make it for first call too.

[2017-04-16 11:23] aka-jain commented on #937
@RishabhJain2018 Next time try to check all the possible cases please!

[2017-04-16 17:25] RishabhJain2018 commented on #937
@aka-jain yeah sure. I apologise for it.

[2017-04-16 17:33] varunagrawal commented on #931
@yogeshdarji99 when you created your account using the `dev.py` settings, the email verification link is output to your terminal. You need to copy and paste that link in your browser to allow EvalAI to confirm your account.

[2017-04-16 17:36] varunagrawal opened #939 "Issue and Pull Request Templates"
It would be super useful to have an Issue and a Pull Request template as described [here](https://github.com/blog/2111-issue-and-pull-request-templates).

This would allow better management of submitted issues and PRs by the maintainers by maintaining consistency from contributors.

### Plan
- [ ] Discuss the correct format for the various templates.
- [ ] Create a `.github` directory.
- [ ] Creat

[2017-04-18 11:42] mayank-agarwal-96 commented on #864
@deshraj @yadavankit Is anyone still working on this or can I take this one?

[2017-04-18 14:22] deshraj commented on #864
@mayank-agarwal-96 Yeah, you can work on it. :)

[2017-04-18 18:23] yadavankit commented on #864
@deshraj ohh, I just forgot this issue... my bad 😅  @mayank-agarwal-96 yeah go on bro...you can take this up :)

[2017-04-18 21:29] deshraj commented on #931
Fixed in #940

[2017-04-18 21:29] #931 closed

[2017-04-20 04:16] varunagrawal commented on #937
@aka-jain did you identify the problem? If yes, can you please share? This is blocking testing for #913.

[2017-04-20 04:18] deshraj commented on #937
This is resolved in #938. Closing this now.

[2017-04-20 04:18] #937 closed

[2017-04-22 22:02] #939 closed

[2017-04-22 22:07] deshraj opened #948 "Teams: A user can participate in a Challenge through multiple teams"
### Observed behaviour

#### Steps to reproduce
1. User X participated in Challenge C with team T1
2. User Y created a team T2
3. User Y invited User X to team T2
4. User Y can participate in challenge C with team T2

### Expected behavior
Step 4 should not be allowed since user X has already participated in the challenge with Team T1. And hence user Y should be asked to choose a new team to parti

[2017-04-23 00:51] #948 closed

[2017-04-23 01:53] deshraj opened #950 "RabbitMQ: Connection closed problem"
### Issue encountered
[code]

### Cause

It seems like whenever a job is published to the RabbitMQ exchange, then the connection is not closed and it leads to timeout after some time. Note: The issue can be somewhere else also.

[2017-04-23 09:38] deshraj opened #956 "Allow console statements in development enviornment"
### Current Behaviour

The `lint` task throws an error if we add console statements in the developement environment but it should be ideally allowed. See screenshot below for more details.

![screen shot 2017-04-23 at 5 37 31 am](https://cloud.githubusercontent.com/assets/2945708/25312446/fce36c0c-27e6-11e7-8e7a-78187b6ff02a.png)

### Expected Behaviour

Allow the console statements in the develop

[2017-04-23 21:27] deshraj opened #957 "Tests: Inconsistency in unittests for URL Patterns"
### Issue

The tests for URL Patterns are inconsistent. For reference, see this https://github.com/Cloud-CV/EvalAI/blob/master/tests/unit/challenges/test_urls.py#L68

There is no `challenge_phase` being created in the test and challenge_pk is passed in the URL instead of `challenge_phase_pk`.

### How to fix

1. Create a challenge_phase for the challenge created in the tests.
2. Pass the `challeng

[2017-04-24 05:33] RishabhJain2018 commented on #957
@deshraj I also noticed that the urls are not tested in a manner that they connect to correct view.
For Reference please see http://stackoverflow.com/questions/18987051/how-do-i-unit-test-django-urls
I think we should also add this. What do you say ?

[2017-04-24 07:55] deshraj commented on #957
Yeah I agree. We have not covered the tests where we check if the particular URL pattern matches with the particular view. Please let me know if you want to take lead on this.

[2017-04-24 07:56] deshraj commented on #957
But I think it would be great if you can finish the currently assigned issues first before jumping on this one.

[2017-04-24 08:49] RishabhJain2018 commented on #957
@deshraj Yeah, I would like to work on this but after completing all the assigned issues. :+1:

[2017-04-24 09:39] deshraj commented on #957
Sounds good.

[2017-04-24 09:50] TroJan commented on #950
Problem was probably at RabbitMq's end. This [question](http://stackoverflow.com/questions/37321089/rabbitmq-pika-exceptions-connectionclosed) helped a lot in digging.

As of now I have set the heartbeat to zero on server. This can be a permanent fix but waiting to find some better solution

[2017-04-25 21:50] varunagrawal commented on #879
@deshraj please assign this to me.

[2017-04-25 23:17] deshraj commented on #879
Sure.

[2017-04-26 11:49] aka-jain commented on #853
@RishabhJain2018 Is it done?

[2017-04-26 17:18] RishabhJain2018 commented on #853
@aka-jain No, Actually I need to change the API accordingly, I will fix it asap.

[2017-04-26 19:18] aka-jain commented on #853
Sure 👍

[2017-04-27 01:31] #950 closed

[2017-05-01 09:31] aayusharora opened #982 "Unnecessary Information on First Load"
#### While loading the website `without login` for the first time, some content appears for 2-3 ms which get disappear after the animations are introduced.

### Steps to reproduce
- Go to https://evalai.cloudcv.org/
- Refresh the page and see the top right corner.
OS : `Ubuntu 14.04`
Browser: `Chrome Version 57.0.2987.133 (64-bit)`
### `Bug`
![45](https://cloud.githubusercontent.com/assets/1219471

[2017-05-01 09:33] deshraj commented on #982
@aayusharora welcome!!!! Thanks for opening the issue. It would be really great if you can suggest a fix for the same. :)

[2017-05-01 09:36] aka-jain commented on #982
Yeap, we have to replace ng-hide/ng-show with ng-if here. Forgot to make it correct. Thanks @aayusharora  for pointing this out. Would you like to work on this?

[2017-05-01 09:40] aka-jain commented on #781
@spyshiv I think testing integration has been done, so lets make a seperate issue for writing different tests cases. Thoughts?

[2017-05-01 15:41] aayusharora commented on #982
Sure @aka-jain Will it be fine to send a PR in 2-3 days. I am stuck in exams.
Thanks :)

[2017-05-01 18:41] aka-jain commented on #982
Yeah, sure @aayusharora. Do it whenever you get time.

[2017-05-01 23:34] yadavankit commented on #840
@TroJan  @mayank-agarwal-96 is this taken?

[2017-05-01 23:35] deshraj commented on #840
@yadavankit I think @mayank-agarwal-96 is busy with his exams. So, if you are interested, then let me know. I can assign you the issue.

[2017-05-01 23:37] yadavankit commented on #840
@deshraj yeah sure, am interested in doing this one :)

[2017-05-01 23:37] deshraj commented on #840
Assigning it to you. :)

[2017-05-03 11:40] spyshiv commented on #811
@aka-jain : I am assigning this to myself.

[2017-05-03 16:46] aka-jain commented on #811
Sure @spyshiv

[2017-05-03 17:22] aka-jain opened #984 "Submission is not working properly after making team for the first time"
Cause: Id is going as null for first time, have to make it correct.

[2017-05-03 17:27] aka-jain opened #985 "Add profile page link to "Hi user" on landing page"
After login add profile link for a particular user to "Hi user" on header of landing page.

[2017-05-03 18:25] aka-jain opened #986 "Protect submission URL for non participated user."
Go to http://localhost:8888/web/challenges/challenge-page/2/submission without having any participated team, the page redirects to submission page with blank view.

**What to do?**
Show message and participation button to participate first on blank area.

@deshraj any suggestion for this?

[2017-05-04 20:06] aayusharora opened #989 "UX Improvements for Mobiles"
- [ ]  No way to logout on small screens.
- [x]  Animations on small screens create UX problems as they are not responsive [ Suggestion needed ]
- [ ]  Absence of Information => No Participate button in Mobile View
- [x]  Breaked Layout on Mobiles
## Observed Behaviour
![galaxys5](https://cloud.githubusercontent.com/assets/12194719/25721719/25646842-312f-11e7-971e-d2e64d30fd88.png)
![67](https://c

[2017-05-04 20:12] aka-jain commented on #989
Yes @aayusharora, the app is not responsive at this time. I will start working on mobile design soon. Will let you know when I finish up with the design.

Also, I agree with your points and will keep in mind. Thanks.

[2017-05-05 19:55] aayusharora commented on #982
Solves the issue here https://github.com/Cloud-CV/EvalAI/pull/988 @aka-jain @deshraj.

[2017-05-06 12:46] deshraj commented on #986
Agree. This sounds like a good solution.

[2017-05-06 12:48] #984 closed

[2017-05-06 20:58] aayusharora opened #990 "Removing Redundancy Using Custom Services"
There are some places in the Frontend Structure where the controllers and a single service are handling the Requests/Response, Loaders etc.
- Custom Services can be the best approach as any controller can use it, making the code cleaner and
   usable.
#### One of the sample case of redundancy: ( Continuing from gitter discussion)
## Redundancy in the code can be removed:
[File1](https://github.com

[2017-05-06 22:11] aka-jain commented on #990
@aayusharora We are alredy using services for requests and responses, have a look again please.
Also try to open seperate issue for removing particular redundancy.

Would you like to work on loader redundancy?

[2017-05-06 22:45] aayusharora commented on #990
@aka-jain IMHO, Generally a service in Angular service defined the purpose for which it is used. Here, the utility service contains all the functions, though it will work but will not be maintainable when codebase becomes large.
I would like to suggest breaking them into multiple services. I will create a separate issue to track this in detail.
Yes, I will be working for loader redundancy. :)
Than

[2017-05-06 22:55] aka-jain commented on #990
I agree and got your point, let's open a separate issue for that.
Assigning loader task to you for now.

[2017-05-06 22:57] aka-jain opened #991 "Proper commenting in codebase."
@spyshiv we have to set standard comments in each file so that it will be easy for others to understand the codebase. Thoughts?

Let me know, so that we can start it with code refactor.

[2017-05-06 22:59] aka-jain opened #992 "Implement promises for code enhancement."
@spyshiv let's do this ASAP.

[2017-05-06 23:01] aka-jain opened #993 "Remove Unused CSS"
Implementing this with a gulp plugin will be a good option. @spyshiv let me know if you would like to suggest any plugin which can help us to set the proper CSS styles.

[2017-05-06 23:12] aayusharora commented on #993
Hi, @aka-jain
We can use this https://www.npmjs.com/package/css-purge to detect redundant CSS. Thanks :)

[2017-05-06 23:13] aayusharora commented on #992
@aka-jain Can you please describe this more? Where are we going to replace callbacks with promises?
Well, I can also provide some inputs.
Thanks.

[2017-05-06 23:18] aka-jain commented on #993
@aayusharora do you know any gulp module for CSS refactoring?

[2017-05-06 23:22] aka-jain commented on #992
@aayusharora wherever possible.
Basically @spyshiv and I is discussing first for the usage of promises. Will let you know once we start it.

[2017-05-07 03:05] spyshiv commented on #993
@aayusharora : css-purge is only for removing css duplications so we are not gonna use that.
We are using `purifycss`. It's quite interesting.
Source: [purifycss](https://github.com/purifycss/purifycss)

[2017-05-07 04:18] anweshknayak commented on #986
@aka-jain can I do this one ?

[2017-05-07 04:31] spyshiv commented on #991
@aka-jain : it's great initiative. 👍
Let's do discussion somewhere else (I.e. share a Google doc) after then we'll update the wiki as well.

[2017-05-07 07:28] aka-jain commented on #991
Great 👍

[2017-05-07 07:58] jainarunarunjain commented on #985
@aka-jain @deshraj Can i try this.

[2017-05-07 08:38] aka-jain commented on #985
Yeah sure @jainarunarunjain. Assigning it to you.

[2017-05-07 08:57] aka-jain commented on #986
Sure @anweshknayak, go ahead. Assigning it to you.

[2017-05-07 10:40] #985 closed

[2017-05-07 11:28] #982 closed

[2017-05-07 17:20] isht3 commented on #991
@aka-jain Is this issue available for people not doing GSoC? As I think that this would be a great opportunity for me to get familiar with the codebase.

[2017-05-07 17:44] aka-jain commented on #991
Thanks for showing interest @isht3, and yes you are free to work on any issue. Will let you now once we decide the proper rules for commenting.

[2017-05-07 18:29] isht3 commented on #991
Thanks, @aka-jain .

[2017-05-08 09:56] aka-jain opened #996 "Redesign Login and SignUp pages."
Redesign login and signup pages according to new UI.

[2017-05-08 09:58] deshraj commented on #773
Part of #996. Closing this one.

[2017-05-08 09:58] #773 closed

[2017-05-08 09:58] deshraj commented on #772
Part of #996. Closing this one.

[2017-05-08 09:58] #772 closed

[2017-05-08 10:00] deshraj commented on #815
@aka-jain is it different from #996?

[2017-05-08 10:00] aka-jain commented on #847
This feature isn't much needed, so closing it for now.

[2017-05-08 10:00] #847 closed

[2017-05-08 10:05] aka-jain commented on #815
@deshraj description updated!

[2017-05-08 10:07] aka-jain commented on #770
Anyone up on this issue?

[2017-05-08 18:58] aayusharora commented on #993
Hi there @spyshiv @aka-jain Please correct the issue title to "Removing Unused CSS". I suggest purging because the issue talks about the redundancy.

[2017-05-08 19:00] deshraj commented on #993
Agree @aayusharora. Updated the title. :)

[2017-05-11 08:15] aka-jain opened #998 "Modular Gulp file"
Need to make modular files for each task of gulp so that it will be easy for everyone to go through the task easily.

@spyshiv thoughts?

[2017-05-11 08:21] aka-jain commented on #998
Closing this issue for now, have to do some research on it.

[2017-05-11 08:21] #998 closed

[2017-05-11 08:40] aka-jain commented on #993
Closing this.
Fixed with #994 ,

[2017-05-11 08:40] #993 closed

[2017-05-11 21:59] aka-jain commented on #990
@aayusharora any progress on this?

[2017-05-13 15:15] TroJan opened #1000 "Replace %s with string format {} across all str functions of models"
This is a pretty simple task. Some part of the code base contains `%s` function(used for string formatting). It involves replacing all the occurrences of such `%s` with string format function `{}` everywhere in models of each app.

For example one such case can be found in `challenges/models.py`, __LeaderBoard__ model.
The function right now looks like
[code]

After replacing `%s` with string form

[2017-05-13 15:58] aayusharora commented on #990
Hey, @aka-jain I was stuck in the exams. I am on this.

[2017-05-13 16:15] isht3 commented on #1000
I would be happy to help! Is anyone working on this?

[2017-05-13 16:15] deshraj commented on #1000
No, I don't think so. Please go ahead. :)

[2017-05-13 16:16] isht3 commented on #1000
Okay, on it. Why are we doing it? Is the latter method more efficient than the other?

[2017-05-13 16:18] deshraj commented on #1000
For more reference, please see this http://stackoverflow.com/questions/5082452/python-string-formatting-vs-format

[2017-05-13 16:20] isht3 commented on #1000
Understood. Thanks. :+1:

[2017-05-13 17:17] #1000 closed

[2017-05-13 17:23] TroJan opened #1002 "Add test cases for model string functions where ever missing."
Each model has a `__unicode__` function. This function is present in many of the models.

Presently test cases are missing for some model's `unicode` functions. This task addresses the same issue.

It first involves figuring out a list of all the models where its `__unicode__` function is present and its corresponding test case is not written. Then multiple PR can be raised per app which adds the

[2017-05-13 21:13] aayusharora commented on #990
@aka-jain Solved here #1003

[2017-05-14 02:40] deshraj opened #1004 "Remove unused images from frontend directory"
There are a lot of images that are not being used at all and are there in the repository. Can we please get rid of those images?

[2017-05-14 09:45] aka-jain commented on #1004
Sure @deshraj, will do it.

[2017-05-14 13:59] TroJan commented on #1002
@isht3 :  Are you willing to work on this ? This will give you a fair idea of how the models are organised and placed in apps.

[2017-05-14 14:02] taranjeet opened #1005 "Write integration tests for submission worker"
Submission worker: Runs as a individual python process, has dependency on RabbitMQ and the main app server.

### How ??

I was thinking of starting submission worker via subprocess and then killing it later on via `process.kill`. This way the worker will start listening on queue and then we can publish a message which will be acted upon by the worker.

Also the only way to check if the submission

[2017-05-14 14:08] taranjeet opened #1006 "Enhance EvalAI Wiki"
Right now our documentation is not so enhanced and verbose, due to which process likes Developer Onboarding and Dev Environment Setup is not easy.

We need to enrich it. This issue will actually list down the heading and brief description of what the pages should be about.

[2017-05-14 16:48] isht3 commented on #1006
Doc for setting up and running the testing suite is needed, right? Can I work on that?

[2017-05-14 17:22] TroJan commented on #1006
@isht3 : Thanks for the help, just that presently I and @deshraj are exactly not clear of what all docs we need. I have opened this issue, so that we can have discussion over here and also everyone can give in their suggestions.

Once we finalise, what all basic documentation we need, then we may ask our awesome contributors(like you) to help us out.

You can work on some other issue like #1002 .

[2017-05-14 17:32] isht3 commented on #1002
@TroJan I would love to!

[2017-05-14 17:32] isht3 commented on #1006
@TroJan Sounds good. :+1:

[2017-05-14 17:37] TroJan commented on #1002
@isht3 : Sure, go ahead. Let me know if you need any help

[2017-05-14 17:55] isht3 commented on #1002
@TroJan A PR for each app would suffice, right?

[2017-05-14 18:17] isht3 commented on #1002
If we haven't declared a `__str__()` method in the class, then how does `self.challenge.__str__()` work?

[2017-05-14 18:22] TroJan commented on #1002
@isht3 : yeah a PR for each app would do.

So there are three functions namely `str`, `unicode` and `repr`. First str is looked(infact str is the first choice for python 3), then `unicode`(in python 2 this is the first choice) and then `repr`.

So in our case when `__str__` is called, python fallbacks to pickup `unicode`.

I hope this clears your doubt

[2017-05-14 18:50] isht3 commented on #1002
Thanks, now its cleared! :+1:

[2017-05-14 19:09] aka-jain commented on #996
Fixed with #999

[2017-05-14 19:09] #996 closed

[2017-05-18 18:12] TroJan commented on #1005
@deshraj : let me know if you have any development here ?

[2017-05-18 18:28] deshraj commented on #1005
@TroJan sorry I have been busy with working on other stuff and hence didn't get time to work on this one. I am afraid that I won't be able to work on this for next 3 days. I will let you know once I have something.

[2017-05-19 06:14] deshraj opened #1009 "Change path of storage of Evaluation Scripts"
## Current behaviour

Currently, the evaluation scripts are stored in the `submission_files` directory which should not happen ideally.

## Solution
Modify the `RandomFile()` method such that the evaluation scripts should be uploaded in the `evaluation_scripts` directory instead of the `submission_files` directory.

[2017-05-19 06:15] deshraj commented on #920
Closing this one since currently we have removed the blog link from the webapp.

[2017-05-19 06:15] #920 closed

[2017-05-19 06:19] deshraj commented on #668
@aka-jain did we find a solution for this problem?

[2017-05-19 06:22] deshraj commented on #731
Already fixed. Closing it.

[2017-05-19 06:22] #731 closed

[2017-05-19 06:23] deshraj commented on #788
Update: we don't want to expose the email id of the users and hence this feature is not a valid feature to have. Closing this one.

[2017-05-19 06:23] #788 closed

[2017-05-19 06:24] deshraj commented on #815
Fixed in #999. Closing it.

[2017-05-19 06:24] #815 closed

[2017-05-19 22:11] deshraj opened #1010 "Notification toasts misplaced on the auth pages"
On the new Signup and login page, the notification toast is misaligned and is not shown at the correct position.

[2017-05-20 08:07] aka-jain opened #1011 "Auth form input field sizes are contracted."
Auth pages like login, signup etc have contracted input field. Need to expand them.

[2017-05-20 09:15] aka-jain opened #1012 "Group all auth related files into single folder named as Auth"
Pages that are part of Auth view should be grouped into a single folder under 'web' folder and named as 'auth'.

[2017-05-21 04:17] TroJan commented on #1009
@deshraj : Why is this required ?

[2017-05-21 04:27] TroJan commented on #1002
@isht3 : Can you list down all the apps where these changes are required. challenges app is done.

[2017-05-21 17:27] isht3 commented on #1002
@TroJan In `Challenges`, `Leaderboard` model is to be completed, I found that a little hard because a lot of things like `Submission` and other classes had to be set up to test that data, and I'm working on it now.

On `Accounts`, there's this one small issue which is bothering me, while setting up `ProfileTestCase` and running the tests, this piece of code,
[code]

throws the following error.
[co

[2017-05-22 19:57] deshraj commented on #1009
The `RandomFile()` definition sets the path of the uploaded file to be `submission_files/blah` and hence the evaluation scripts being uploaded are also stored in the submission_files. I hope I am clear now.

[2017-05-24 04:05] TroJan commented on #1002
I didn't get your point of setting up classes. If you want to load your database with some values, we have a management command which does that job. You can invoke it by
[code]

Regarding error, you are trying to create Profile object for a user whose Profile object already exists. Remember that profile object is a one to one mapping to user model, hence the unique constraint is throwing that erro

[2017-05-25 03:24] #990 closed

[2017-05-26 00:22] deshraj opened #1019 "Change the default remote for reviewing pull requests"
Currently, the default remote is set to `upstream` for reviewing pull requests. We would ideally want to set it to `origin` by default since this is mainly used by the project maintainers.

[2017-05-26 23:05] aka-jain commented on #1012
Fixed with #1014

[2017-05-26 23:05] #1012 closed

[2017-05-28 18:48] TroJan commented on #1006
Docs that should be added

* evalai architectural overview
* glossary of terms like challenges, phases,splits
* directory structure explained
* our roadmap
* a code style guideline
* using evalai for production
* documenting architecture decisions

### evalai architectural overview

- a component wise diagram showing all the tech that we use
    - to mention Django, nginx, gunicorn/uwsgi, rabbitmq

[2017-05-29 15:15] deshraj opened #1022 "Change LICENSE from GPL to BSD"
GPL license restricts the use of EvalAI in a lot of ways. We would like to change the license to BSD and make it available for private companies to use it for hosting their internal challenges.

[2017-05-29 15:37] #1022 closed

[2017-05-31 18:14] TroJan commented on #1019
@deshraj : this is done I suppose. Can we close it ?

[2017-05-31 18:15] TroJan commented on #1005
@deshraj @dexter1691 : let me know your thoughts please :)

[2017-05-31 18:20] TroJan commented on #1006
@deshraj : will really appreciate your input here.

[2017-06-01 04:08] deshraj commented on #1019
Sure. Fixed in #1020

[2017-06-01 04:08] #1019 closed

[2017-06-01 04:36] deshraj commented on #1005
I am not sure how this should be done exactly. I need some more time. Also, @RishabhJain2018 @TroJan please suggest if you have other thoughts about how to do this?

[2017-06-01 10:24] spyshiv commented on #956
Fixed in #983.

[2017-06-01 10:24] #956 closed

[2017-06-03 18:26] #921 closed

[2017-06-04 06:07] TroJan commented on #1006
@dexter1691 : Can you have a look here and suggest what else should be added in our documentation ?

@deshraj : will appreciate your inputs too :)

[2017-06-04 06:10] TroJan commented on #300
@aka-jain : is this still required ?

[2017-06-04 06:10] TroJan commented on #480
@dexter1691 @deshraj : is this done ?

[2017-06-04 06:11] TroJan commented on #552
@RishabhJain2018 : can you take this up ?

[2017-06-04 06:13] RishabhJain2018 commented on #552
@TroJan Yeah sure. Currently I am on #850 . I will take this up asap.

[2017-06-04 07:03] deshraj commented on #480
No, not yet. But this is not the priority as of now.

[2017-06-04 08:50] isht3 commented on #1002
@TroJan This can be closed, yeah? Ill see if there's some other thing I can work on. By the way is there any prospect that I can intern for CloudCV?

[2017-06-04 10:15] TroJan commented on #1002
@isht3 : thanks for the fix. You are doing good. I will get back to you in a day regarding the intern prospect.

[2017-06-04 10:15] #1002 closed

[2017-06-04 10:30] isht3 commented on #1002
@TroJan Okay, thanks for considering. :)

[2017-06-05 17:12] isht3 commented on #1006
@TroJan Is this going to be hosted as static pages or like what we have right now?

[2017-06-05 17:14] isht3 commented on #957
@RishabhJain2018 Are you planning on working on this? I'll be happy to take over if you have some other things to work on.

[2017-06-05 17:17] RishabhJain2018 commented on #957
@isht3 Yeah sure, you can take this up.

[2017-06-06 14:27] noelsebu commented on #1006
Hey, i would like to help with your docs. I am a content writer and a computer science student.

[2017-06-06 17:04] vedantrathore commented on #1010
@deshraj I would like to work on this, could you please explain a bit more on what the issue is?

[2017-06-06 18:24] deshraj commented on #1010
@vedantrathore it seems like this has already been fixed by @aka-jain. Please feel free to take up any other issue. :)

[2017-06-06 18:24] #1010 closed

[2017-06-07 15:36] isht3 commented on #957
@RishabhJain2018 are we doing it the method you mentioned in the SOF answer?

[2017-06-07 15:47] RishabhJain2018 commented on #957
@isht3  I think so , but I would like to ask @deshraj @taranjeet for their views over this.

[2017-06-08 09:07] RishabhJain2018 opened #1033 "Add models for creating challenge using zip file."
The models must be defined in `apps/challenges/models.py`.

**Fields:**
- user: ForeignKey to User
- challenge : OneToOneField to Challenge
- zip_configuration: FileField
- is_created: Boolean field
- stdout_file: Filefield
- stderr_file: Filefield

[2017-06-10 15:50] taranjeet commented on #957
@isht3 : as @deshraj said, first we would like to complete this issue. We will open another issue where in we will cover the said thing in SO answer.

Can you take this up quickly and get it released in master?

[2017-06-11 20:38] RishabhJain2018 opened #1036 "Add serializers for creating challenge using zip file."

[2017-06-11 21:04] #1033 closed

[2017-06-11 22:21] rishabhja commented on #992
Can I help in this?

[2017-06-12 12:11] RishabhJain2018 opened #1038 "Add API endpoint to create challenge by uploading zip file."
endpoint: `/challenges/zip/$`
method: `POST`
success: `200/OK`
failure: `400/bad request` or `406/not acceptable`

Input: The user must upload a zip file containing the `.yaml` file which describes the challenge configuration. The zip folder will also contain other necessary files which are required to create a challenge.

Output: Upon requesting at this endpoint , a challenge must be created by t

[2017-06-12 16:25] aka-jain commented on #992
@rishabhja thanks for showing your interest but we haven't decided the code structure for promises yet, so can't start right now.
Will let you know once we finalize the structure for the same.

[2017-06-13 09:51] isht3 commented on #957
@taranjeet Sorry, I might've missed this notif. Ill get right on it. :+1:

[2017-06-13 13:05] RishabhJain2018 opened #1041 "RandomFileName class returns incorrect path when id is not provided."
**Bug:** The `RandomFileName` class in [base.utils](https://github.com/Cloud-CV/EvalAI/blob/master/apps/base/utils.py#L22) returns incorrect path when `id` is not provided in the path.

**Fix:** The condition on the [line 28](https://github.com/Cloud-CV/EvalAI/blob/master/apps/base/utils.py#L28) needs to be changed to `or` from `and` as `instance.pk` will always be available for upon saving a mode

[2017-06-13 16:26] aka-jain commented on #630
@RishabhJain2018 have a look at this issue. Let me know whenever you get started working on it.

[2017-06-13 16:36] #957 closed

[2017-06-13 20:21] RishabhJain2018 commented on #630
@aka-jain yeah sure. Currently, I am working on the feature of creating challenge using zip. I will put it in my to do list.

[2017-06-14 00:55] taranjeet commented on #1041
Can you please explain this in more detail along with an example of where it is failing?

As per my understanding `and` perfectly makes sense as the string should be substituted with the value of `instance.id` if it exists. Still I want to know where am I missing?

[2017-06-14 14:54] RishabhJain2018 commented on #1041
@taranjeet Yes you are correct `and` makes sense here.I understood it incorrectly.Moreover, it is failing when we are calling the class like `RandonFileName("evaluation_script")` without giving the `id` & hence due to hard-coded [path](https://github.com/Cloud-CV/EvalAI/blob/master/apps/base/utils.py#L31) all the files are getting saved in `submission_files/something`.
I think we should simply che

[2017-06-15 03:17] #853 closed

[2017-06-15 11:26] spyshiv opened #1044 "Change color schemes for popup notifications"
Default colors for popup notification doesn't looks good and also not matching with our theme colors. We need different colors for popup notification.
@aka-jain : Assigning this to you. You have to share color codes only. Please choose colors according to notification category that's are given below
1. Success
2. Warning
3. Error
4. Info
also provide need four icons for the same.

[2017-06-15 11:40] aka-jain commented on #1044
Yeap, we have to redesign the whole notification system. I'm on it 👍

[2017-06-15 12:02] spyshiv commented on #1044
cool. Let me know if you need helping hands. :grin:

[2017-06-15 15:13] isht3 commented on #864
Hi, I'm a bit new to restful services using django, and I guess that with a bit of learning I could solve this issue, where would be the best place to start using rest for evalai?

[2017-06-15 18:48] aka-jain commented on #300
Yes @taranjeet , We have to implement this on All Challenges Pages.

[2017-06-15 21:17] yadavankit commented on #864
Hey @isht3 [Djnago REST Documentation](http://www.django-rest-framework.org/) would be a good place to start learning about how REST is implemented in EvalAI.

[2017-06-16 10:11] RishabhJain2018 opened #1046 "Change the email verified template."
**Issue:**: The current `email verified` template is according to the old theme.
**Fix**: We need to modify it according to the new theme that we are using it now.
Old Template
![shot](https://user-images.githubusercontent.com/12206047/30498958-53c6c5d0-9a76-11e7-9bc6-d17d289fbc3e.png)

[2017-06-18 08:04] RishabhJain2018 opened #1049 "Create UI for creating challenge using zip file."

[2017-06-18 17:53] RishabhJain2018 opened #1051 "Create UI for showing all submissions to challenge host."

[2017-06-20 14:40] RishabhJain2018 opened #1052 "Create UI for showing the remaining submissions."
The UI should show the total number of remaining submissions for the challenge as well as for a particular day to the participants. Moreover, if the participant has exhausted the day's limit then a countdown clock must be displayed showing the remaining time for the next submissions.

[2017-06-22 06:52] RishabhJain2018 opened #1053 "Add django import/export."
Add django-import-export to the `host`, `participants`, `jobs`, `challenges` app for easily exporting data.

[2017-06-22 12:29] #1053 closed

[2017-06-22 15:51] #839 closed

[2017-06-22 21:03] farziengineer commented on #840
@taranjeet @deshraj . Hello, can this issue be assigned to me. I have read the docs regarding the worker, and it has made some sense. I'll try to clear it within 4-5 days and come up with a working solution.
Thanks

[2017-06-23 14:04] farziengineer commented on #840
@taranjeet @deshraj . I have read the docs and have drawn some conclusions, please rectify if I'm wrong.
1. `apps/jobs/sender.py` behaves as the `sender/producer` for the `RabbitMQ` broker which the API calls.
2. the `main` function in `submission_worker.py` behaves as the `receiver/consumer`.
3. In the docs it is mentioned that `submission_worker.py` works as a daemon. Does this mean it runs cont

[2017-06-23 17:11] taranjeet commented on #840
yeah on production environment, we run it as daemon process. On development environment, we simply run it as a python process.

Regarding the `challenge.add.*` and `challenge.edit.*`, you will need to write a small script yourself, that creates a connection and then publishes a message. This part is actually missing. We are planning to write test case for it, so that it can be completed and tested

[2017-06-23 18:24] farziengineer commented on #840
@taranjeet @deshraj Okay I've a solution (just a prototype). I'll create a script similar to `jobs/sender.py` which will have two functions `challenge_add_publish_message` and `challenge_edit_publish_message`. Since, currently there is no view to invoke these functions, they'll be invoked using command line arguments and they will route the message to the `add_challenge_queue` . Is this the right

[2017-06-23 20:36] #914 closed

[2017-06-23 21:09] #1036 closed

[2017-06-23 23:26] yadavankit commented on #840
@farziengineer yeah, am too following kinda same approach to cater this issue, a better way to invoke the message publishing functions for now would be using `post_save``signal` from `Challenge` with `created` as `False`. This would invoke the message publishing function whenever `Challenge` details are changed. I will be adding a WIP PR asap

[2017-06-24 18:02] farziengineer commented on #840
@yadavankit Sure :+1:

[2017-06-26 08:44] aayusharora commented on #1049
Will you please  provide a mockup for this first.

[2017-06-26 08:56] RishabhJain2018 commented on #1049
@aayusharora Please check the PR #1048 , I have shared the screenshot there.

[2017-07-01 05:50] deshraj opened #1070 "Change the pagination limit in leaderboard"
Currently, in the VQA challenge, only 10 entries are visible on the leaderboard and there is no pagination on the client side. To show all the entries of the leaderboard, there are two ways to do that:
1. Add a pagination on the client side
2. Show all the entries on a single page (involves adding a new Pagination Class)

The second approach is a better way since then others will be able to compar

[2017-07-01 07:39] RishabhJain2018 commented on #1070
@deshraj Can we add the support for filtering the results on the basis of `participant team` as it will help the participants to be more specific and the overhead of searching team members manually will get reduced. Moreover, for showing all the results we can use pagination. What are your views about it ?

[2017-07-01 07:49] deshraj commented on #1070
@RishabhJain2018 we can surely do that but this issue addresses a different problem. Please feel free to open a new issue.

[2017-07-01 15:54] #1070 closed

[2017-07-04 06:05] isht3 commented on #864
@taranjeet @yadavankit I'm currently in the process of learning django REST, I'd like to inform that I'll be back for bigger contributions to CloudCV after I'm done with a personal project of mine.

[2017-07-04 07:25] deshraj commented on #864
@isht3 Sounds good. Thanks for informing. :)

[2017-07-07 13:40] deshraj opened #1080 "Add the functionality to disable the Challenge"
### Objective

A challenge host should be able to delete the challenge using the UI. At the backend, set the flag `is_disabled` whenever a challenge host submits a request to delete the challenge.

[2017-07-07 17:19] #850 closed

[2017-07-08 11:42] RishabhJain2018 opened #1081 "A challenge should not be published directly when challenge host creates it."
Once the `challenge_host `creates a challenge then it should not be published directly. **The administrator must approve the challenge before it is published.**

**Solution:** Add a query parameter `approved_by_admin=True` in `get_all_challenges` api.

[2017-07-11 05:37] rishabhja commented on #1080
Can i contribute to this?

[2017-07-11 06:22] RishabhJain2018 commented on #1080
@rishabhja yes sure. Go ahead.

[2017-07-11 06:40] rishabhja commented on #1080
Can you assign the issue to me?

[2017-07-11 07:10] taranjeet commented on #1080
@deshraj: I would prefer that you call this issue as "Add functionality to disable a Challenge" since at the backend you are disabling the challenge. It does not make sense to introduce an inconsistency in actions at backend and frontend.

[2017-07-11 21:33] #1081 closed

[2017-07-12 05:58] RishabhJain2018 opened #1086 "Add Challenge Phase list serializer."
This serializer is used to take input as a list of objects and then create the objects in the `challenge phase` table.

[2017-07-12 06:01] RishabhJain2018 opened #1087 "Add APIs for challenge creation using UI."
The API's include:
1. API for creating challenge.
2. API for creating leader board.
3. API for creating challenge phase.
4. API for creating dataset split.
5. API for creating challenge phase split.

Please add tests for the same.

[2017-07-12 21:29] #1038 closed

[2017-07-12 21:52] #1049 closed

[2017-07-12 22:13] #1009 closed

[2017-07-12 22:13] #1041 closed

[2017-07-13 17:20] rishabhja commented on #1080
Where is the disable button to be shown?

[2017-07-13 17:24] deshraj commented on #1080
The disable button should be shown right below the challenge description in a card where if the challenge host clicks on that button then a dialog box opens that asks the challenge host to enter the challenge name and then press submit in that dialog box. Does that sound good @rishabhja ?

[2017-07-13 17:26] rishabhja commented on #1080
Why do i need to ask for the challenge name if he is pressing the disable button on a specific challenge?

[2017-07-13 17:27] deshraj commented on #1080
We are doing this to make sure that the challenge host is not pressing the button by mistake.

[2017-07-13 17:27] rishabhja commented on #1080
M

[2017-07-13 17:28] deshraj commented on #1080
We have thought about both the approaches earlier and we wanted to go with this approach similar to what Github follows. :)

[2017-07-13 17:29] rishabhja commented on #1080
okay, sure

[2017-07-13 17:29] deshraj commented on #1080
Cool. @rishabhja please let us know if you have other doubts about this.

[2017-07-15 18:25] rishabhja commented on #1080
Disabling the challenge doesnt hide it. Is it expected?

[2017-07-15 19:07] rishabhja commented on #1080
Can you give me access to push?

[2017-07-15 19:42] RishabhJain2018 commented on #1080
@rishabhja yes, disabling a challenge must hide it from the list of all challenges.
Moreover, please create a pull request with the changes that you have done.

[2017-07-15 19:48] rishabhja commented on #1080
I am not able to push my branch. So, how will i create a PR?

[2017-07-15 19:52] RishabhJain2018 commented on #1080
For creating a PR, please fork the repository then you can push your local branch to your origin and then create a PR from there. Please ask if something is not clear. Please refer here for more details https://help.github.com/articles/creating-a-pull-request-from-a-fork/

[2017-07-16 21:39] deshraj opened #1095 "Add ReadTheDocs badge and link in the README"
Link: http://evalai.readthedocs.io/en/latest/

[2017-07-17 22:18] deshraj opened #1097 "ValueError on deploying to staging server"
Following is the error log when tried to run `python manage.py makemigrations` command using auto-deploy script.

[code]

[2017-07-17 22:36] deshraj commented on #1097
Sorry, my bad. The migration files are already created during the development and I just needed to run the migrate command. Working perfectly now.

[2017-07-17 22:36] #1097 closed

[2017-07-22 12:13] RishabhJain2018 opened #1101 "Add models to store challenge phase description file."

[2017-07-22 17:08] RishabhJain2018 opened #1103 "Add ImportExportTimeStampedAdmin class to all apps admin."

[2017-07-22 22:14] #1095 closed

[2017-07-22 22:34] #1051 closed

[2017-07-24 00:12] deshraj opened #1107 "Improve the check for if the user is a host of a challenge"
Currently, at https://github.com/Cloud-CV/EvalAI/blob/master/apps/hosts/utils.py#L12 we only check if the user has created the challegne and based on that we allow the challenge host to see all the submissions (for example, see this https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L703). We would want to change it so that anyone who is a part of the challenge host team is al

[2017-07-24 09:14] RishabhJain2018 commented on #1107
@deshraj What if we have an API that takes user and challenge_pk as input and gives the result  as true or false stating whether the user is challenge  host or not. What do you say?

[2017-07-24 12:16] taranjeet commented on #1107
@RishabhJain2018 : Even if we create api, this does not solve our purpose here. At the end, for this issue, you will be calling a function only and not making an internal request to check if user is challenge host or not.

[2017-07-26 14:28] RishabhJain2018 opened #1108 "Typo fix in participant.html"
Please change from `Create Participaant Team` to `Create Participant Team` in [participant.html](https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/views/web/challenge/participate.html#L79)

[2017-07-28 18:30] #1107 closed

[2017-07-28 18:32] deshraj opened #1109 "Add support for exporting all the submissions in csv format"

[2017-07-29 13:21] RishabhJain2018 commented on #1109
@deshraj I think we will need `Team Name,` `Challenge Phase`,` Status`, `Created By`, `Execution Time`, `Submission Number`, `Submitted At `fields for the csv file. Please tell if we need anything else ?

[2017-07-30 19:06] aayusharora opened #1111 "Update dependencies"
- Lot of python dependencies seems outdated'
Please check https://requires.io/github/Cloud-CV/EvalAI/requirements/?branch=master

[2017-07-30 19:27] aayusharora opened #1112 "Not able to click on any button in Chrome"
- This issue is related to a specific version of Chrome.

## Steps to Reproduce
-  Setup project in Chrome ( Mac OS X )
- Chrome Version 59.0.3071.115 (Official Build) (64-bit)
- Buttons are non-clickable.

**Note: The website works correctly in Safari**

[2017-07-30 19:37] aka-jain commented on #1112
@aayusharora Can you capture a short video for this please ?

[2017-07-31 08:35] aayusharora commented on #1112
Yes @aka-jain, please check https://drive.google.com/file/d/0BylUgB3l8Lc6VlhBWUNFMXlGQ3M/view?usp=sharing

[2017-08-01 06:59] deshraj opened #1113 "RabbitMQ Worker Forced Shutdown"
## Error Log

[code]

[2017-08-02 00:16] deshraj opened #1114 "Add documentation for preparing the evaluation script"
Currently, the documentation for preparing evaluation script for different kind of challenges (X number of phases and y number of dataset splits) is missing.

## Deliverables

1. Write documentation about creating simple evaluation script from scratch for a simple challenge of string comparison (see https://github.com/Cloud-CV/EvalAI/blob/master/examples/example1/string_matching.zip for more detai

[2017-08-02 00:18] deshraj commented on #1111
@aayusharora, thanks for opening this issue. 👍

[2017-08-02 00:20] deshraj commented on #1111
If anyone is willing to work on this issue, please take care of the following features:

1. Make sure that nothing is breaking after updating the package
2. Look for the improvements that have been done in the library so that things don't get mess up once merged
3. Please provide the link to the library's latest version and list the latest features added to that version

[2017-08-02 00:49] #1052 closed

[2017-08-02 01:09] #1103 closed

[2017-08-02 07:50] spyshiv commented on #1112
@aayusharora: Any error in console while clicking on a button??

[2017-08-03 22:32] #1108 closed

[2017-08-04 20:08] aayusharora opened #1116 "Separate Configuration file for API Endpoints"
All the endpoints used in the project are written inside the files.
### Problems
- This addresses two major issues
    - Code quality is affected due to the redundancy of same API endpoints
    - Code Readability
### Proposed Approach
 - Make a single config.js file containing all End points
 - Call All Endpoints from this Config file.

@spyshiv @deshraj @aka-jain Please suggest if you have some b

[2017-08-04 20:32] aayusharora commented on #1112
@spyshiv Hi, the buttons are working fine now. But I can see the error.
![main](https://user-images.githubusercontent.com/12194719/28985861-2e2b5350-7982-11e7-9535-b97232625c80.png)

[2017-08-04 20:46] the-dagger opened #1117 "Syntax error while compiling scss"
<img width="1437" alt="screen shot 2017-08-05 at 2 15 40 am" src="https://user-images.githubusercontent.com/6565270/28986325-1c4fd37a-7984-11e7-826b-e96152e8069a.png">

[2017-08-04 20:47] aayusharora commented on #1117
Welcome @the-dagger. I think this happens after the last merge.
Do you want to work on this ?

[2017-08-04 20:48] the-dagger commented on #1117
Sure, would love to 🙂

[2017-08-04 20:49] RishabhJain2018 commented on #1117
@the-dagger Please take help from this commit https://github.com/Cloud-CV/EvalAI/pull/1110/commits/3fab1a8ca96f2e6a4dd4ed9a53d8ca23d91566aa.

[2017-08-04 22:33] #1109 closed

[2017-08-04 22:35] RishabhJain2018 opened #1119 "Url fix for the remaining submissions url."
Fix: Please change the url in the [line](https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/js/controllers/challengeCtrl.js#L912) from
`"jobs/"+ vm.challengeId + "/phases/"+ vm.phaseId + "/remaining-submissions/";` to
`"jobs/"+ vm.challengeId + "/phases/"+ vm.phaseId + "/remaining_submissions/";`

[2017-08-04 22:35] deshraj commented on #1112
@aayusharora: also please check the cache issues on your browser.

[2017-08-05 07:44] #1117 closed

[2017-08-05 07:48] #1119 closed

[2017-08-05 08:07] the-dagger opened #1121 "UI issues on signup/login page"
I found some UI/UX related issues in the signup page.

- [x] Upon updating profile, the notification displayed has a minor UI issue.
<img width="685" alt="screen shot 2017-08-05 at 1 35 22 pm" src="https://user-images.githubusercontent.com/6565270/28994093-2174d896-79e3-11e7-9cf1-df9c0374a33c.png">

Ideally the exclamation mark should come in the same line as the update message.

- [x] Same issue

[2017-08-05 08:08] the-dagger commented on #1111
@deshraj I would like to work on this issue, could you please assign me to it?

[2017-08-05 08:59] aayusharora opened #1122 "Error on Console `Cannot read property 'description' of undefined`"
The error appears on the Home page Console, after running the project.

`There should be handling of description variable on client side`

[2017-08-05 18:04] RishabhJain2018 opened #1123 "Add EvalAI logo and favicon."

[2017-08-05 21:02] the-dagger commented on #1004
@deshraj @aka-jain mind if I take this up?

[2017-08-06 12:21] the-dagger commented on #1112
Can confirm this.
Happens when you open the console and try to click anything on the page.
I believe this is issue related to the responsiveness of the website.

Please check the screen record linked below.
[https://youtu.be/hzQtf68QDfw](https://youtu.be/hzQtf68QDfw)

[2017-08-06 13:14] RishabhJain2018 opened #1128 "Add automatic reloading of rabbitmq worker from django admin."

[2017-08-06 18:27] RishabhJain2018 opened #1130 "Add FAQ section in the docs"
@deshraj @taranjeet I was going through some of the docs in the past few days, so I found that we can have a section for `Frequently Asked Questions` in our docs which can contain the solutions to the doubts asked by the new contributors on our gitter channel. What are your views about it.

[2017-08-06 19:00] RishabhJain2018 commented on #1113
@deshraj I think this means that RabbitMQ was told to shut down (by a human or another program).
In order to solve it we need to add a shutdown listener which will reconnect it upon any failure or shutdown. Should I go ahead with this approach?

[2017-08-06 19:09] RishabhJain2018 commented on #854
@deshraj I think we should close this.

[2017-08-07 05:03] the-dagger commented on #1130
@RishabhJain2018 Good idea.
Plus there were some issues with the readme as well, I noticed some commands which aren't necessarily needed for setting up the project.

[2017-08-07 05:06] the-dagger commented on #1044
@aka-jain I think using materialized toast would be a better idea as compared to the current toast we are using.

https://material.angularjs.org/latest/demo/toast

The current toast is quite buggy and lacks a lot of customization.

[2017-08-07 05:17] deshraj commented on #1044
I think we wanted to shift to the materializecss toasts. @aka-jain can you please confirm this?

[2017-08-07 05:18] deshraj commented on #1130
@RishabhJain2018 this sounds like a great idea. @RishabhJain2018 / @the-dagger please feel free to take lead on adding this to the docs section.

[2017-08-07 05:21] deshraj commented on #1112
Yeah, I tried on my latest chrome and it seems to be not working on my mobile phone.

[2017-08-07 05:34] the-dagger commented on #1130
Thanks, will proceed with it :)

On Monday, August 7, 2017, Deshraj Yadav <notifications@github.com> wrote:

--
Best,
Harshit Dwivedi

[2017-08-07 05:38] RishabhJain2018 commented on #1130
@the-dagger Can you please list down the commands in the `readme` that are not necessary for setting up the project.

[2017-08-07 05:42] the-dagger commented on #1130
Also, the logo in readme isn't loading properly in mobile view of the website.
It loads well in desktop view.

![screenshot_20170807-110817](https://user-images.githubusercontent.com/6565270/29013444-d38494b2-7b60-11e7-9894-622c34f409cd.jpg)

I think that we should be using direct raw links for the image files so that it works on both mobile and desktop view.

[2017-08-07 05:44] the-dagger commented on #1130
@RishabhJain2018 For example, while creating virtual env, you need to navigate to the upper directory using `cd ..` before executing `pip install -r requirements/dev.txt`

This isn't listed in the readme.
Plus you need to start the Postgres server before running the backend, that isn't mentioned either.

P.S. to rephrase my original comment, we have some missing commands. 😅

[2017-08-07 05:47] taranjeet commented on #1130
I think @the-dagger is perfect for this. Since he is new to the codebase, going through the doc will actually help him in getting a better understanding of the project.

[2017-08-07 06:06] RishabhJain2018 commented on #1130
@the-dagger You can create the `virtualenv` in the project's directory also. So, I think these steps are correct. Moreover, we can mention about the `postgres` server. @deshraj @taranjeet  What do you say ?

[2017-08-07 06:30] the-dagger commented on #1130
@RishabhJain2018 yes, that's correct.
But the Readme asks the user to navigate to `evalai` directory before creating a virtual environment.
If you can create a virtual environment in the project directory, then we should remove this.

[2017-08-07 08:39] aayusharora commented on #1130
### Problems in the Readme:
       - [ ] There is no file dev.txt available inside the virtual env, which we create inside going to `evalai` folder. Hence, we should mention `cd..` command before running `pip install`
       - [ ]  There is no mention of any Python version.
       - [ ] The command `sudo -i -u (username)` fails for anyone who setup the project as there is no mention what does `use

[2017-08-07 09:08] aayusharora commented on #1112
I have tried and figure out some points
 - The issue is related to `animations`
 - The CSS3 animations introduce a `painting` layer on the screen which does not allow any clicks.
 - On mobile, as the page is not responsive, this `painting` layer go above the buttons which seems to be the major cause.
- To check this, remove all animations from CSS and run the project again.
 - Still, I am not able

[2017-08-07 09:15] aayusharora commented on #1111
@the-dagger Please go ahead.

[2017-08-07 09:41] taranjeet commented on #1130
First let us be very clear on what our directory structure is. I am calling the root folder as the folder where you can find `manage.py` file. For more clarity, this is root folder

[code]

Just clarifying here

No such file needs to be present in virtual env folder. Also if you carefully follow instructions in the readme, you can see that we are cloning `EvalAI` in a folder named `evalai`. Hence

[2017-08-07 10:24] aayusharora commented on #1130
@taranjeet Thanks for this.
`No such file needs to be present in virtual env folder. Also if you carefully follow instructions in the readme, you can see that we are cloning EvalAI in a folder named evalai. Hence the cd evalai is a one time step which means that doing that you enter the project root directory.`

After cloning, we get the folder EvalAI not `evalai`. The folder `evalai` is present i

[2017-08-07 10:34] aayusharora opened #1131 "Sending Email locally"
- While Creating a challenge locally, I get notified as `Please Verify your email` while the email has not been sent.

## What is expected?

- Email configurations changes for `dev.py` should be mentioned in Readme.md.
- Also, `RESEND EMAIL` feature should be there, in case the user does not get an email.

[2017-08-07 11:21] taranjeet commented on #1130
You are missing `evalai` in the clone command

Please find the complete command here

[code]

[2017-08-07 12:52] spyshiv commented on #1122
@aayusharora : Are you working on this issue? Assign me if you are busy with other issues.

[2017-08-07 16:27] aayusharora opened #1132 "Fix Notification Message Styling"
- [ ] Fix notification on sign up
<img width="414" alt="screen shot 2017-08-06 at 6 24 33 pm" src="https://user-images.githubusercontent.com/6565270/29003583-d7236dbc-7ad6-11e7-8c7c-567ea83b2a12.png">

- [ ] Fixed notification on profile update

[2017-08-07 18:22] aayusharora opened #1134 "EVALAI Performance Metrics"
As the client code base is increasing, we need to focus more on Performance Issues along with additional features, each animation, each `div span` adds to the performance of the page. Hence, to drive more users and to provide the app functionalities on slower connections, we should `measure` the performance and improve it time to time.

I have generated only Homepage Metrics, will add more when we

[2017-08-07 18:53] aayusharora commented on #1122
Ok, Go ahead @spyshiv !!

[2017-08-07 20:04] the-dagger opened #1135 "Indefinite progress bar on logging out"
Once you log out, the progressbar is displayed indefinitely and the user is unable to click anywhere on the screen.

Video Capture :

https://drive.google.com/open?id=0B6OtIpAL6oa6ZWNoTTY0M0NocVU

Browsers : Safari and Chrome

[2017-08-07 20:06] aayusharora commented on #1135
I have seen this but forgot to report. Do you like to work on this @the-dagger ?

[2017-08-07 20:07] the-dagger commented on #1135
Sure. 👍

[2017-08-07 20:43] deshraj commented on #1134
Thanks @aayusharora. @aka-jain and I had a discussion about some of the points sometime back but we didn't take any action on this since this wasn't the priority. This looks like an exhaustive list of bugs that we definitely want to fix. :) Feel free to take lead on this if you are interested in solving this.

[2017-08-07 20:45] aayusharora commented on #1134
Thanks. Will try to do my best @deshraj

[2017-08-08 07:37] aayusharora commented on #1130
Thanks @taranjeet Got this now.

[2017-08-08 09:37] deshraj opened #1138 "Add list of Research Organizations on landing page"
Add the following organizations on the landing page:

- Facebook AI Research
- Georgia Tech
- Virginia Tech

[2017-08-08 23:22] deshraj opened #1139 "Disable the Challenge Phase buttons which are inactive while making submissions"
## Observed Behaviour
Currently, if a challenge phase is inactive then also a participant can select the phase to make submissions.

See screenshot for example:
<img width="1440" alt="screen shot 2017-08-08 at 7 21 16 pm" src="https://user-images.githubusercontent.com/2945708/29098709-ca4c67a8-7c6e-11e7-8729-73122eb9982e.png">

## Expected Behaviour

The challenge phases that are not active now sh

[2017-08-09 04:34] #1132 closed

[2017-08-09 07:18] RishabhJain2018 opened #1140 "Export my submissions table as csv for a participant."
Expected output: The challenge participant must export the my-submissions table as a ` csv` based on the challenge phase.

[2017-08-09 07:19] RishabhJain2018 opened #1141 "Add support for filtering challenges on the basis of challenge phase for host."
**Current Behaviour**: The filtering of submissions under the `View All Submissions` tab for a challenge host is on the basis of `challenge_pk` only. The results are same even if challenge host selects any `challenge_phase`.
**Expected Behaviour**: We want to filter the submissions on the basis of the both `challenge_pk` and `challenge_phase` corresponding to that challenge, so that the result set

[2017-08-09 09:32] deshraj opened #1143 "Add approved by admin check in seed script"
## Observed Behaviour

Currently, when the seed script is ran, then the challenges are created but they are not shown on the client side since the `approved_by_admin` atribute for those challenges is False by default.

## Objective

Set `approved_by_admin=True` for the dummy challenges in the seed script so that they can be viewed on the client side.

[2017-08-09 09:37] the-dagger commented on #1143
@deshraj can I work on this?

[2017-08-09 09:37] deshraj commented on #1143
Sure, go ahead.

[2017-08-09 10:20] #1143 closed

[2017-08-09 10:23] deshraj commented on #1006
Closing this since we have already setup the sphinx documentation.

[2017-08-09 10:23] #1006 closed

[2017-08-09 10:27] deshraj commented on #664
Closing this since this feature is not in priority for this quarter.

[2017-08-09 10:27] #664 closed

[2017-08-09 10:28] deshraj commented on #1004
Sure @the-dagger.

[2017-08-09 10:30] RishabhJain2018 opened #1146 "Add link for challenge creation using zip file examples in read the docs."
Add the link for https://github.com/Cloud-CV/EvalAI-Examples repository in evalai docs under the section https://evalai.readthedocs.io/en/latest/challenge_creation.html#challenge-creation-using-zip-configuration

[2017-08-09 10:59] #1122 closed

[2017-08-09 14:32] HargovindArora opened #1147 "Mention the version of python used in the project in the README file."
Mention the version of python used in the project in the README file.

[2017-08-09 16:02] isht3 commented on #1087
@RishabhJain2018 How is this coming through? Can I help?

[2017-08-09 16:20] RishabhJain2018 commented on #1087
@isht3 I am working on this feature. Please feel free to take up any other unassigned issue. :)

[2017-08-09 16:32] RishabhJain2018 commented on #1147
Good catch @HargovindArora :+1: .If you are interested in working on this issue then let me know, I will assign it to you. :)
Moreover, the instructions above are for opening the issue, you can remove them after reading and then open a issue by following these instructions.

[2017-08-09 17:15] isht3 commented on #1087
@RishabhJain2018 Okay, cool! :D

[2017-08-09 17:24] HargovindArora commented on #1147
@RishabhJain2018 Yes please, I would like to do it.

[2017-08-09 17:26] RishabhJain2018 commented on #1147
@HargovindArora Go ahead :)

[2017-08-09 21:43] RishabhJain2018 opened #1150 "Add a serializer for challenge phase creation."
Create a serializer for challenge phase creation which has `test_annotation` field in it.

[2017-08-09 22:01] RishabhJain2018 opened #1151 "Add API for showing the last submission time."
Expected:

- [x] To get the last submission time in a challenge.

- [x] To get the last submission time in a challenge phase.

- [x] To get the last submission time by a participant team in a challenge phase.

- [x] To get the last submission time by a user in a challenge phase.

@deshraj @taranjeet Please add if I have missed anything.

[2017-08-10 00:49] RishabhJain2018 opened #1153 "Add a serializer for challenge phase creation."
**Issue:** The` get` and `post` request for challenge phase are validating from the same serializer which exposes the `test_annotation` field.
**Solution:** Create a new serializer for post request in `challenges/serializers.py` with all the fields.

[2017-08-10 01:34] deshraj opened #1155 "Remove pagination from challenge phase split list API"
## Observed behavior

The Challenge Phase Split list API endpoint currently returns the challenge phase splits in a paginated manner. But while showing the leaderboard, we need the list of all the challenge phase splits requesting once.

## Objective

Remove the pagination from this API (https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L357).

[2017-08-10 06:40] deshraj opened #1156 "Show challenge 'submission guidelines' on the evaluation page of Challenge"
## Observed Behaviour

Currently, we are storing the `submission guidelines` field for a challenge in the database but we are not displaying on the challenge page.

## Objective

The objective is to show the `submission guidelines` on the Evaluation tab of a challenge on EvalAI.

[2017-08-10 13:13] RishabhJain2018 opened #1157 "Change the email confirmation template according to current UI."
## Current Behaviour
![email](https://user-images.githubusercontent.com/12206047/29171837-7cab1c2c-7dfb-11e7-9778-93876e6ae87b.jpg)
The Email confirmation template is according to old UI.

## Expected Behaviour
The email confirmation template should be according to the current UI.

[2017-08-10 13:20] RishabhJain2018 commented on #1150
@deshraj This is same as #1153 . so I am closing this one.

[2017-08-10 13:20] #1150 closed

[2017-08-10 18:07] isht3 commented on #842
@taranjeet Can I take this up?

[2017-08-10 18:29] isht3 commented on #991
@aka-jain Any updates?

[2017-08-11 05:44] RishabhJain2018 opened #1159 "Add model property for challenge phase submissions analysis."
**Expected APIs**:

- [x] To get total submissions count on a challenge phase.

- [x] To get total teams count submitted to a challenge phase.

[2017-08-11 06:01] RishabhJain2018 opened #1161 "Add approved_by_admin check in submission worker script."
**Need:** Since we need to only publish those challenges that are approved by admin, so it is also necessary that `submission_worker` should load only admin approved challenges.

**Solution:** Make the query parameters [here](https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/submission_worker.py#L215) as
`q_params = {'published': True, 'approved_by_admin': True}`

[2017-08-11 06:52] the-dagger commented on #1141
@RishabhJain2018 Could you outline a bit more on what is needed in this issue?

[2017-08-11 07:15] the-dagger opened #1164 "Provided samples not working"
On creating a challenge using the provided [test_zip_file.zip](https://github.com/Cloud-CV/EvalAI/blob/master/examples/example1/test_zip_file.zip) , the following error is thrown.

<img width="344" alt="screen shot 2017-08-11 at 12 45 16 pm" src="https://user-images.githubusercontent.com/6565270/29204149-f7399332-7e92-11e7-8e9b-1099f020ca48.png">

Looks like the samples are outdated and need to be

[2017-08-11 07:20] RishabhJain2018 commented on #1164
@the-dagger Thanks for pointing this issue.
If you want to test this feature then you can use https://github.com/Cloud-CV/EvalAI-Examples repository.

[2017-08-11 07:22] #1164 closed

[2017-08-11 07:23] the-dagger commented on #1164
Sure, thanks!
So should we link this repo in our Readme and delete the existing samples from the project folder?

[2017-08-11 07:25] RishabhJain2018 commented on #1164
Yes, Please refer to issue #1146 and I am creating a new issue for deleting the outdated samples.

[2017-08-11 07:25] the-dagger commented on #1164
👍

[2017-08-11 07:32] #1161 closed

[2017-08-11 07:38] deshraj commented on #991
Ummm....I think this cannot be an issue. Instead, we all should keep in mind that we should add comments in the code base whenever we are writing any piece of code.

[2017-08-11 07:38] #991 closed

[2017-08-11 07:41] RishabhJain2018 opened #1165 "Remove unnecessary files from examples folder."
Remove the folder `test_zip_file` and `test_zip_file.zip` from the `EvalAI/examples/example1` folder.

[2017-08-11 07:41] #1147 closed

[2017-08-11 07:46] #1140 closed

[2017-08-11 11:08] #1123 closed

[2017-08-12 09:36] HargovindArora commented on #1165
@RishabhJain2018 I would like to work on it.

[2017-08-12 09:37] RishabhJain2018 commented on #1165
@HargovindArora sure. assigning it to you.

[2017-08-12 12:55] RishabhJain2018 opened #1170 "Add models to star a challenge"
**Deliverable**:

- [x] Add a model in `apps/challenges/model.py` for starring a challenge.

**Attributes:**
1. `user` - Foreign key to `User` model
2. `challenge` - Foreign key to `Challenge` model.

- [x] Add the migration file.

- [x] Register the model in django-admin.

[2017-08-12 13:15] RishabhJain2018 commented on #1165
closed #1165 via #1169 .

[2017-08-12 13:15] #1165 closed

[2017-08-12 16:35] isht3 commented on #841
@taranjeet Can I take over?

[2017-08-12 17:26] taranjeet commented on #841
@isht3 : yeah please. :)

[2017-08-13 09:01] RishabhJain2018 opened #1173 "Add UI for showing submissions count for a participant team."
**Expected:**
Add UI for showing the submissions count by a participant team in that phase.

[2017-08-13 19:42] deshraj opened #1175 "Remove Stderr file for the successful submissions"
## Observed behavior

Currently when there is a successful submission, then also a `stderr_file` is created for that submission which leads to the creation of a blank file that is of no use and adds a small overhead in processing the successful submissions.

## Expected behavior

When there is a successful submission, then `stderr_file` field should be set None instead of creating a blank file.

[2017-08-14 05:06] #1138 closed

[2017-08-14 06:27] the-dagger commented on #1175
@deshraj Can I work on this?
Thanks!

[2017-08-14 06:40] the-dagger commented on #1175
@RishabhJain2018 @deshraj Is there any zip which I can use to mock a successful and failed submission?

[2017-08-14 16:36] taranjeet commented on #1175
I guess when running the seed command, a challenge will be loaded. This challenge contains an evaluation script which will compare a user annotation file(yours) to have integers from 1-10. You can use this to mock a successful submission. Make sure that your rabbitmq is running.

To mock failed submission, presently we don't have any such evaluation script which will throw an error. What you can d

[2017-08-14 17:17] taranjeet commented on #1155
@deshraj : Can we instead of removing pagination, take a query parameter like noPage or some better name, which if presents, causes the api to return complete result set instead of pagination?

[2017-08-14 18:04] RishabhJain2018 opened #1176 "Add feature to update submission metadata."
**Current Behaviour:** There is no feature to update the submission meta once a submission is done by the participant.
**Expected Behaviour:**
The Participant should be able to update:

- [x] Method Name

- [x] Method Description

- [x] Project Url

- [x] Publication Url

[2017-08-15 04:00] #1170 closed

[2017-08-15 04:12] #1153 closed

[2017-08-15 16:54] RishabhJain2018 opened #1178 "Modify code in jobs app"
**Current Behaviour:** The code in the function `change_submission_data_and_visibility` was according to the old convention and test cases are also missing.

**Expected Behaviour:** Modify the code to follow the new convention and also add the test cases.

[2017-08-16 05:14] RishabhJain2018 opened #1180 "Update when made public timestamp."
**Current behaviour:** Currently we are not updating `when_made_public` timestamp when a user makes his submission public.
**Expected behaviour:** When a user makes his submission public then update this timestamp.
The timestamp must be in` UTC`.

**Dependency:** Dependent on the PR #1179

[2017-08-16 05:19] RishabhJain2018 opened #1181 "Add Team members column to exported csv file."
**Current behaviour:** There is no column for participant team members in the exported `csv` file.
**Expected behaviour:** Add a column for `participant team members` in the `csv` file.

[2017-08-16 12:19] RishabhJain2018 opened #1183 "Add API to star a challenge."

[2017-08-16 20:22] HargovindArora commented on #1146
@RishabhJain2018 can i proceed for this?

[2017-08-16 20:23] RishabhJain2018 commented on #1146
Go ahead :)

[2017-08-16 20:24] HargovindArora commented on #1146
@RishabhJain2018 Working on it!

[2017-08-17 20:58] deshraj opened #1186 "Change the message on Challenge Creation"
Currently, the error message on missing test annotation file for a phase shows the following error:
<img width="1440" alt="screen shot 2017-08-17 at 4 55 26 pm" src="https://user-images.githubusercontent.com/2945708/29433427-107e80a8-836d-11e7-9511-d98fc2e11c1c.png">

We want to change it to

[code]

[2017-08-17 21:14] deshraj opened #1187 "Console error after seeing the time remaining for the next submission"
## Observed behaviour

Currently, if one has exhausted the limit to do submissions to a particular phase and he clicks on the phase radio button, then he can see the following console error:

<img width="1440" alt="screen shot 2017-08-17 at 5 13 17 pm" src="https://user-images.githubusercontent.com/2945708/29434064-8bd61f0c-836f-11e7-9e22-d3966d2a6694.png">

[2017-08-17 21:29] deshraj opened #1188 "Hide `Participate` tab for a Challenge Host"
Currently, a challenge host can see the `Participate` tab on the UI which is kinda confusing for the challenge host. We would ideally want to hide that tab from the challenge host.

[2017-08-18 04:17] deshraj opened #1189 "Evaluation Script extraction not working properly for Zip Challenge Creation"
## Current Behaviour

When someone tries to upload a challenge on EvalAI, the evaluation script extraction code is buggy and whenever someone tries to make submission, then it shows the following error for each of the submission:

[code]

## What is the error??

From what I experimented, it seems like when the `evaluation_script.zip` extraction is done at the backend, then while unzipping, there i

[2017-08-18 04:20] taranjeet commented on #1189
I think you are uploading a zip file which has no `__init__.py` file (it is not a valid python module).

Can you check ?

@deshraj

[2017-08-18 04:22] deshraj opened #1190 "Add support for different versions of same packages for different Challenges"
## Problem

The current challenges on EvalAI use the same version of the libraries like `numpy`, `scipy`, `matplotlib` etc. But this needs to be changed since different challenges will want different version of the same libraries.

Possible solutions that I can think of are:

- Different submission workers for each challenge
- Run the submission worker in different docker containers

Discussion/su

[2017-08-18 04:24] deshraj commented on #1189
@taranjeet: I checked and verified that it is not the case. I checked the `/tmp` directory created and it is unzipping the `evaluation_script` in the directory which it should not do ideally.

[2017-08-18 06:03] deshraj opened #1191 "Add docs precompiled libraries in challenge evaluation scripts"
Some of the challenge evaluation scripts use precompiled libraries such as MSCOCO (https://github.com/pdollar/coco/). We want to add a section in the documentation where the challenge hosts should be guided to compile those libraries against `Ubuntu 14.04` ONLY since all the EvalAI servers use `Ubuntu 14.04` so it might not work with libraries that are compiled against OSx or Windows.

[2017-08-19 07:42] isht3 commented on #841
@taranjeet Where should I start to get a deeper insight to the problem?

[2017-08-19 08:17] isht3 commented on #841
@taranjeet I've started working on this. I will soon let you know about the progress.

[2017-08-20 06:55] #1178 closed

[2017-08-20 17:37] #1146 closed

[2017-08-20 17:42] #1121 closed

[2017-08-20 22:00] #1156 closed

[2017-08-21 17:43] #1187 closed

[2017-08-21 19:04] #1173 closed

[2017-08-21 19:13] #1181 closed

[2017-08-21 19:50] #1176 closed

[2017-08-21 20:43] RishabhJain2018 commented on #1180
@deshraj I think we should update `when_made_public` field only when `is_public` field in `Submissions` model is true. OR should we update it every time when a user toggles the `is_public` field. What do you say?

[2017-08-21 22:00] deshraj commented on #1180
Yeah every  time, when the participant makes it true, we should update the datetime. Does that make sense?

[2017-08-21 22:02] RishabhJain2018 opened #1197 "Add Mapillary logo in the section Who uses EvalAI."
**Expected:** The mapillary [logo](https://d3rqg5ndc8pbid.cloudfront.net/original/1X/77b14c662df42f71f8a7f0775d1873f686a58788.png) must be added with this [link](https://www.mapillary.com/).

[2017-08-22 05:59] RishabhJain2018 commented on #1180
yes, it does.

[2017-08-22 06:22] RishabhJain2018 commented on #668
@deshraj @aka-jain Does this issue still exists in `My Submissions` view ?

[2017-08-22 06:24] RishabhJain2018 commented on #781
@deshraj @spyshiv We should have different issues for different test cases for controllers. What do you say?

[2017-08-22 06:26] RishabhJain2018 commented on #851
@deshraj Since we have this feature. We should close this now.

[2017-08-22 06:29] RishabhJain2018 commented on #854
@deshraj Since we have docs setup from PR #1090. So, I closing this one.

[2017-08-22 06:29] #854 closed

[2017-08-22 06:40] RishabhJain2018 commented on #1135
@the-dagger Any update on this ?

[2017-08-22 07:01] the-dagger commented on #1135
@RishabhJain2018 Wasn't able to work on it, will take a look tonight.

[2017-08-22 07:52] the-dagger opened #1201 "Unable to run rabbitmq worker"
Upon trying to run the rabbitmq worker, an error is thrown.

[code]

The reason for this error is that the dev server is running on port  `8000` whereas rabbitmq is listening for changes on `5672`.

[2017-08-22 07:55] RishabhJain2018 commented on #1135
Okay sure, no problem. :+1:

[2017-08-22 07:57] taranjeet commented on #1201
Rabbit mq runs listens on port 5672. Worker is a normal python script which does not runs or binds on any port.

You are actually a bit confused here.Worker when starts tries to make connection with the app(running on port 8000 generally) and rabbit mq (runs on port 5672). I guess you need to install rabbit mq.

@the-dagger

[2017-08-22 08:02] the-dagger commented on #1201
@taranjeet Oh I see.
Thanks for the detailed explanation, I'll try to read up a bit on rabbitmq and retry this. 👍

[2017-08-22 08:02] aayusharora commented on #1201
This can be closed I guess :) @the-dagger please reopen if it does not work for you.

[2017-08-22 08:02] #1201 closed

[2017-08-22 08:18] #1197 closed

[2017-08-22 13:34] isht3 commented on #841
@taranjeet how do I confirm my email in development? I was trying to mimic the process of submitting a task to produce the issue. Do I have to do it through the API's?

[2017-08-22 14:30] RishabhJain2018 commented on #841
@isht3 You can confirm it using django admin.

[2017-08-22 23:58] RishabhJain2018 opened #1202 "Add UI for starring and unstarring a challenge."
**Expected behaviour:** Add a button in challenge page for `starring` and `unstarring` a challenge with count.

[2017-08-23 04:44] isht3 commented on #841
@RishabhJain2018 Okay, cool!

[2017-08-24 06:22] RishabhJain2018 commented on #1086
Closing this as we have already added all the required serializers.

[2017-08-24 06:22] #1086 closed

[2017-08-24 06:25] isht3 commented on #841
Hi, @taranjeet and @RishabhJain2018 I've looked into this issue and gone through how submissions and challenges work. I have gotten a good idea of how everything fits together now.
Now, from my understanding only two things need to be done,

* Change the content of print statement in Challenge model.
* Publish a message to the RabbitMQ exchange through `jobs/sender.py` whenever there is an update

[2017-08-24 10:56] #1183 closed

[2017-08-24 19:03] #1186 closed

[2017-08-24 19:08] #1159 closed

[2017-08-24 19:31] #1202 closed

[2017-08-24 20:53] #1155 closed

[2017-08-24 21:46] RishabhJain2018 opened #1205 "Fix leaderboard challenge phase split dropdown list."

[2017-08-24 21:51] #1205 closed

[2017-08-25 18:23] RishabhJain2018 opened #1208 "Add Analytics Dashboard."

[2017-08-25 23:25] #1151 closed

[2017-08-25 23:34] #1208 closed

[2017-08-25 23:44] RishabhJain2018 opened #1209 "Add indexing in database."

[2017-08-25 23:58] RishabhJain2018 opened #1210 "Show only approved by admin challenges in analytics dashboard."
Show the challenges `approved_by_admin` and `published` in **Challenges Analytics Home**.

[2017-08-26 00:16] #1210 closed

[2017-08-26 19:51] aayusharora opened #1212 "No email recieved on forget password"
After clicking forget password button, no email is received to reset the password.

[2017-08-27 05:01] aayusharora opened #1214 "Writing Proper SCSS files"
The current ` .SCSS ` is not modular, and contain a lot of redundant code.
We can remove all the redundancy by designing some mixins

- Mixins for
     - Margin, padding, position, display, keyframes
- Gradients for Extending the classes
- Breaking the code in different files to introduce Modularity

[2017-08-27 20:29] HargovindArora opened #1216 "Add ^ & $ in regex of urls for proper matching"
' `^` ' sign should be introduced in the regular expressions of the url's, mentioned in the url files so that our search is always matched up correctly.

For example:
If we have not added the initial caret character (i.e., 'hello/$'), Django would match any URL that ends with hello/, such as /my/site/hello/.
Also it will be more syntactically correct.

[2017-08-28 11:32] isht3 commented on #841
@RishabhJain2018

[code]
This talks about an print statement in the Issue 839 that I should change, but I can't find any such statement. Is it referring to the logger statement?

[2017-08-28 12:21] xamfy commented on #1135
I want to try please guide.

[2017-08-28 16:50] xamfy commented on #1212
It's working

[2017-08-28 17:00] xamfy commented on #1046
I want to take this issue please guide

[2017-08-28 18:53] Bala1718 commented on #1212
Can I work on it?

[2017-08-28 18:57] Bala1718 commented on #1044
@deshraj can I work on this?

[2017-08-29 07:01] aayusharora commented on #1212
Yes sure :)

[2017-08-29 18:03] RishabhJain2018 opened #1218 "Fix dropdown of leaderboard in featured challenge."

[2017-08-29 18:10] #1218 closed

[2017-08-29 18:20] aayusharora opened #1220 "Service for defining Parameter Object"
In the current code,  there is extreme `redundancy` for writing paremeter object and then using utilities service to do an `AJAX` REQUEST.

#### Proposed flow:
Make a service that can generate a parameter object when it is called from Controller functions.

[2017-08-30 15:47] #851 closed

[2017-08-30 16:07] xamfy commented on #1157
I want to work on this.

[2017-08-30 16:32] the-dagger commented on #1157
Sure, go ahead!

[2017-08-30 16:35] xamfy commented on #1157
Where can I refer the current UI.

[2017-08-30 16:37] the-dagger commented on #1157
Try signing up and clicking the email you receive in your inbox.
That should take you to the UI.

[2017-08-30 16:48] RishabhJain2018 commented on #1157
Also please set up these values in your dev.py file
`EMAIL_HOST`
`EMAIL_HOST_PASSWORD`
`EMAIL_HOST_USER`
`EMAIL_PORT`
`EMAIL_USE_TLS`

[2017-08-30 16:50] aayusharora commented on #1157
@RishabhJain2018 can you help with this https://github.com/Cloud-CV/EvalAI/issues/1131

[2017-08-30 16:51] RishabhJain2018 commented on #1157
@aayusharora Yes sure. I will fix that by tonight. :+1:

[2017-08-30 16:54] xamfy commented on #1157
python -m smtpd -n -c DebuggingServer localhost:1025
this can be used

[2017-08-30 17:01] xamfy commented on #1131
also when signing up the text "Setting up your details" shows up in white color which is not visible

[2017-08-30 21:58] RishabhJain2018 commented on #1212
@aayusharora During the `Debug=True` mode in django, the email is printed on console. Hence, the feature is working in production.
So, I am closing this. :)

[2017-08-30 21:58] #1212 closed

[2017-09-02 07:40] isht3 commented on #1216
@HargovindArora Can I take this up?

[2017-09-02 08:07] HargovindArora commented on #1216
Hey, @isht3 I was interested to do this on my own and also it will give me some experience of the code base. Would you mind if I take this? :)

[2017-09-02 09:20] isht3 commented on #1216
@HargovindArora Shoot, I just did a PR on this. Wait, Let's split this, I'll do this for the urls in `analytics`, `accounts` and `challenges`. You do this for the other apps, cool?

[2017-09-02 09:21] isht3 commented on #1216
@HargovindArora Haha, cool! I'll close my PR. :)

[2017-09-02 09:49] isht3 commented on #1141
Can I take this up? :)

[2017-09-05 06:08] deshraj commented on #1141
@isht3: yeah sure. Assigning it to you.

[2017-09-05 06:10] deshraj commented on #1141
@isht3: please accept the invitation as a contributor to CloudCV so that I can assign this issue.

[2017-09-05 08:24] isht3 commented on #1141
@deshraj Thank you very much!

[2017-09-05 11:09] isht3 commented on #1141
@RishabhJain2018 Hi, could you provide a small description about this issue?

[2017-09-05 18:20] RishabhJain2018 commented on #1141
@isht3 I have updated the description of the issue. Please take a look and let me know if you have further queries!

[2017-09-06 14:11] isht3 commented on #1141
@RishabhJain2018 Thank for the clear-cut description, got it done in a giffy!

[2017-09-06 14:12] isht3 commented on #1141
@RishabhJain2018 Thanks for the clear-cut description, got it done in a giffy!

[2017-09-06 22:15] deshraj opened #1225 "Add new requirements for AI challenges"
We would like to add some of the new requirements for the upcoming challenges in the requirements/common.txt

[code]

[2017-09-06 22:18] deshraj opened #1226 "Change message after the challenge creation"
Currently, when a challenge is being created using the zip file feature, then the user is shown something like this:

<img width="1440" alt="screen shot 2017-09-06 at 6 10 21 pm" src="https://user-images.githubusercontent.com/2945708/30137037-8cb1bb64-932f-11e7-89dd-7cde192b5baf.png">

We would like to change the message to "Challenge <challenge name> has been created successfully and sent for rev