[2016-11-09 11:26] deshraj opened #23 "Set configurations to store media files on S3"

[2016-11-09 20:14] RishabhJain2018 commented on #23
@deshraj Can I work on this issue?

[2016-11-11 17:48] deshraj commented on #23
Fixed in #24. Closing it.

[2016-11-11 17:48] #23 closed

[2016-11-12 12:07] deshraj opened #28 "Setup logging in django"
For more information, see this https://docs.djangoproject.com/en/1.10/topics/logging/

[2016-11-12 13:29] TroJan commented on #28
I can work on this

[2016-11-12 13:30] deshraj commented on #28
Great. :-)

[2016-11-13 10:36] deshraj opened #34 "Create endpoint for creating a Team"
Details about the endpoint:
- Url: /api/teams/
- Header: Authorization: Token <token>
- Method: POST
- Response:
  - status: HTTP_201_CREATED

For more details, feel free to discuss on thread or gitter channel https://gitter.im/Cloud-CV/EvalAI

[2016-11-13 10:37] deshraj opened #35 "Create endpoint to get all the teams"
Details about the endpoint:
- Url: /api/teams/challenge/<challenge_id>
- Header: Authorization: Token <token>
- Method: GET
- Response:
  - status: HTTP_200_OK

Also, please add the pagination for the same.

For more details, feel free to discuss on thread or gitter channel https://gitter.im/Cloud-CV/EvalAI

[2016-11-13 10:46] deshraj opened #36 "Create endpoint to update the team details"
Details about the endpoint:
- Url: /api/teams/<team_id>/
- Header: Authorization: Token <token>
- Method: PUT/PATCH
- Response:
  - status on success: HTTP_200_OK
  - status on exception:  HTTP_406_NOT_ACCEPTABLE
  - status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

For more details, feel free to discuss on thread or gitter channel https://gitter.im/Cloud-CV/EvalAI

[2016-11-13 10:48] deshraj opened #37 "Create endpoint to delete a team"
Details about the endpoint:
- Url: /api/teams/<team_id>/
- Header: Authorization: Token <token>
- Method: DELETE
- Response:
  - status on success: HTTP_200_OK
  - status on exception:  HTTP_406_NOT_ACCEPTABLE
  - status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

For more details, feel free to discuss on thread or gitter channel https://gitter.im/Cloud-CV/EvalAI

[2016-11-13 10:49] deshraj opened #38 "Create endpoint to get details about a particular team"
Details about the endpoint:
- Url: /api/teams/<team_id>/
- Header: Authorization: Token <token>
- Method: GET
- Response:
  - status on success: HTTP_200_OK
  - status on exception:  HTTP_406_NOT_ACCEPTABLE
  - status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

For more details, feel free to discuss on thread or gitter channel https://gitter.im/Cloud-CV/EvalAI

[2016-11-13 10:57] deshraj opened #39 "Create endpoint for creating a new Challenge"
Details about the endpoint:
- Url: /api/challenges/
- Header: Authorization: Token <token>
- Method: POST
- Response:
  - status on success: HTTP_201_CREATED
  - status on exception:  HTTP_406_NOT_ACCEPTABLE
  - status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

For more details, feel free to discuss on thread or gitter channel https://gitter.im/Cloud-CV/EvalAI

[2016-11-13 10:59] deshraj opened #40 "Create endpoint to get list of all the challenges"
Details about the endpoint:
- Url: /api/challenges/
- Header: None
- Method: GET
- Response:
  - status on success: HTTP_200_OK
  - status on exception:  HTTP_406_NOT_ACCEPTABLE
  - status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

For more details, feel free to discuss on thread or gitter channel https://gitter.im/Cloud-CV/EvalAI

[2016-11-13 11:00] deshraj opened #41 "Create endpoint for updating the challenge"
Details about the endpoint:
- Url: /api/challenges/<challenge_id>/
- Header: Authorization: Token <token>
- Method: PUT/PATCH
- Response:
  - status on success: HTTP_200_OK
  - status on exception:  HTTP_406_NOT_ACCEPTABLE
  - status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

For more details, feel free to discuss on thread or gitter channel https://gitter.im/Cloud-CV/EvalAI

[2016-11-13 11:02] deshraj opened #42 "Create endpoint for deleting a challenge"
Details about the endpoint:
- Url: /api/challenges/<challenge_id>/
- Header: Authorization: Token <token>
- Method: DELETE
- Response:
  - status on success: HTTP_200_OK
  - status on exception:  HTTP_406_NOT_ACCEPTABLE
  - status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

For more details, feel free to discuss on thread or gitter channel https://gitter.im/Cloud-CV/EvalAI

[2016-11-13 12:32] deshraj opened #43 "Setup token based authentication in DRF"

[2016-11-14 21:06] deshraj commented on #43
Already taken care of. Closing it now.

[2016-11-14 21:06] #43 closed

[2016-11-14 22:01] aka-jain opened #56 "Add new Gulp task to build static files for prod."
Currently, Gulp is performing all tasks related to development. Need to make a new task so that it can minify all angular related and other static files (like CSS, Javascript) for production.

Task should minify all the files and can also do concatenation wherever needed.

[2016-11-19 06:35] TroJan opened #66 "Create a new app named as `base`"
This app will contain all the models which will be used accross the project. Also it will be the placeholder for many mixins.

This app will not have an entry in urls as this will be the placeholder for many functions, mixins and views(using as a package)

[2016-11-19 06:37] TroJan opened #67 "Move TimeStampedModel out of accounts app to base app"
This will involve updating the import statements also.

For eg, import statements like
`from accounts.models import TimeStampedModel`

to something like

`from base.models import TimeStampedModel`

[2016-11-19 06:41] TroJan opened #68 "Create a ModelAdmin class in base app to exclude created and modified fields"
The admin class should live in base apps. It will be derived from ModelAdmin class and will use [exclude](https://docs.djangoproject.com/en/1.10/ref/contrib/admin/#django.contrib.admin.ModelAdmin.exclude) to exclude `created` and `modified` fields.

This is so that anyone adding an object from the admin panel should not be shown in these fields as these are handled internally by Django before savi

[2016-11-19 06:42] deshraj commented on #37
Fixed in #65

[2016-11-19 06:42] #37 closed

[2016-11-19 06:42] deshraj commented on #36
Fixed in #64

[2016-11-19 06:42] #36 closed

[2016-11-19 06:43] deshraj commented on #35
Fixed in #60

[2016-11-19 06:43] #35 closed

[2016-11-19 06:44] deshraj commented on #38
Fixed in #63

[2016-11-19 06:44] #38 closed

[2016-11-19 06:44] deshraj commented on #34
Fixed in #62

[2016-11-19 06:47] deshraj commented on #34
Reopening since status is not defined properly.

[2016-11-19 06:49] TroJan opened #69 "Setup ModelAdmin class for each model in Team app"
This class should be derived from TimeStampedAdmin of base app.

Notable attributes should be
* list_display
* search_fields
* list_filter

Note that this issue depends on [#68](https://github.com/Cloud-CV/EvalAI/issues/68) which involves the creation of `TimeStampedAdmin` class.

[2016-11-19 06:59] TroJan opened #70 "Setup ModelAdmin class for each model in Host app"
This class should be derived from a TimeStampedAdmin of base app.

Notable attributes should be
* list_display
* search_fields
* list_filter

Note that this issue depends on [Issue 68](https://github.com/Cloud-CV/EvalAI/issues/68) which involves the creation of `TimeStampedAdmin` class.

[2016-11-19 06:59] TroJan opened #71 "Setup ModelAdmin class for each model in Participant app"
This class should be derived from a TimeStampedAdmin of base app.

Notable attributes should be
* list_display
* search_fields
* list_filter

Note that this issue depends on [Issue 68](https://github.com/Cloud-CV/EvalAI/issues/68) which involves the creation of `TimeStampedAdmin` class.

[2016-11-19 07:00] TroJan opened #72 "Setup ModelAdmin class for each model in Challenge app"
This class should be derived from a TimeStampedAdmin of base app.

Notable attributes should be
* list_display
* search_fields
* list_filter

Note that this issue depends on [Issue 68](https://github.com/Cloud-CV/EvalAI/issues/68) which involves the creation of `TimeStampedAdmin` class.

[2016-11-19 07:07] deshraj opened #73 "Integrate Django REST Swagger for API docs"
For reference, see this: https://django-rest-swagger.readthedocs.io/en/latest/

[2016-11-19 08:12] RishabhJain2018 commented on #73
@deshraj Can I fix this??

[2016-11-19 08:22] deshraj commented on #73
Sure, go ahead. :-)

[2016-11-19 08:48] aka-jain opened #74 "Improve Gulp Watch task to handle remove, delete, and errors in files."
Need to update watch task of gulp  so that it can easily get files update like delete and add.

[2016-11-19 08:53] aka-jain opened #75 "Add content to home page"
Need to complete the Homepage:

Main content that will come:
1. Top 5 challenges
2. Intro to EvalAI
3. How it works

[2016-11-19 08:58] TroJan opened #76 "Rename model ChallengeHostTeams to ChallengeHostTeam"
model name should be singular.

[2016-11-19 09:08] TroJan opened #78 "Remove challenge field from ChallengeHostTeam model"
Challenge model has FK on ChallengeHostTeam as `creator` field.

ChallengeHostTeam model has FK on Challenge model as `challenge` field.

Ideally the foreign key(FK) should be on Challenge because a single team will be creating numerous challenges, not the other way around.

[2016-11-19 09:13] TroJan commented on #78
Fixed in #79

[2016-11-19 09:13] #78 closed

[2016-11-19 09:16] TroJan opened #80 "Update status and permission fields in ChallengeHost model"
Ideally `status` and `permissions` should be CharField instead of being foreign key fields to respective models. Reason for this being that at a time a particular challenge host will have a single status. So foreign key actually makes no sense here.

`ChallengeHostPermission` and `ChallengeHostStatus` should be removed.

Also while updating, make sure that string in each options(for status and per

[2016-11-19 09:51] TroJan opened #83 "Add created_by in ChallengeHostTeam"
With the existing design, it is actually very different to fetch ChallengeHostTeam objects of a particular user. One of the hacks that can be used to solve this are
* fetch challenge host object of current user with permission level as admin and then query by it(select_related) to ChallengeHostTeam. But this is very much for a simple use case.

Adding this column will help us deal with the use cas

[2016-11-19 09:52] TroJan commented on #80
Fixed in #82

[2016-11-19 09:52] #80 closed

[2016-11-19 09:55] aka-jain opened #84 "Scroll to details section on home page."
There is an option to scroll up to second section in  Landing page by clicking on "Get Insight". Need to implement smooth scroll which will scroll the page with in limit of atmax 2ms.

In case of query, leave your comment here.

[2016-11-19 10:13] TroJan commented on #83
Fixed via #85

[2016-11-19 10:13] #83 closed

[2016-11-19 10:46] TroJan opened #86 "Rename created and modified to created_at and modified_at"
This actually makes it more clear, that we are talking about time. Concerned model is TimeStampedModel.

[2016-11-19 13:52] TroJan opened #91 "Add url names in team apps"
Right now the urls defined in team apps have no names. Naming a url actually gives the flexibility of changing the uri very easily if everywhere urls are referred by url tags.

[2016-11-19 20:09] TroJan commented on #66
Fixed via #89

[2016-11-19 20:09] #66 closed

[2016-11-19 21:03] RishabhJain2018 commented on #73
@deshraj Which version are we going to use ?

[2016-11-19 22:05] deshraj commented on #73
Since we are using django 1.10 so the latest version that is compatible with it will work.

[2016-11-20 07:25] RishabhJain2018 commented on #73
okk.

[2016-11-20 08:24] TroJan opened #95 "Create end point to get all the challenge host team"
Details about the endpoint:

Url: /api/hosts/challenge_host_team
Header: Authorization: Token
Method: GET
status: HTTP_200_OK

Support for pagination should be there.

[2016-11-20 08:44] #34 closed

[2016-11-20 08:48] TroJan opened #96 "Create endpoint for creating a ChallengeHostTeam"
Details about the endpoint:

Url: /api/hosts/challenge_host_team
Header: Authorization: Token
Method: POST
Response:
status: HTTP_201_CREATED

[2016-11-20 08:49] TroJan opened #97 "Create endpoint to update a particular ChallengeHostTeam details"
Details about the endpoint:

Url: /api/hosts/challenge_host_team/<challenge_host_team_id>/
Header: Authorization: Token
Method: PUT/PATCH
Response:
status on success: HTTP_200_OK
status on exception: HTTP_406_NOT_ACCEPTABLE
status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

[2016-11-20 08:49] TroJan opened #98 "Create endpoint to delete a ChallengeHostTeam"
Details about the endpoint:

Url: /api/hosts/challenge_host_team/<challenge_host_team_id>/
Header: Authorization: Token
Method: DELETE
Response:
status on success: HTTP_200_OK
status on exception: HTTP_406_NOT_ACCEPTABLE
status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

[2016-11-20 09:30] gauthamzz commented on #72
can i try this ?

[2016-11-20 10:23] TroJan commented on #72
@gauthamzz : yeah sure, but if you dont mind can you give #68 a try. This is because TimeStampedAdmin class does not exist as of now and we need it here.

[2016-11-20 17:59] TroJan commented on #91
Fixed via #92

[2016-11-20 17:59] #91 closed

[2016-11-20 17:59] TroJan commented on #86
Fixed in #88

[2016-11-20 17:59] #86 closed

[2016-11-20 18:03] TroJan opened #100 "Create end point to get all the challenge host of a particular challenge host team"
Create end point to get all the challenge host of a particular challenge host team

Details about the endpoint:

Url: /api/hosts/challenge_host_team/<challenge_host_team_id>/challenge_host
Header: Authorization: Token
Method: GET
Response:
status: HTTP_200_OK

Support for pagination should be there.

[2016-11-20 18:04] TroJan opened #101 "Create endpoint for creating a ChallengeHost"
Details about the endpoint:

Url: /api/hosts/challenge_host_team/<challenge_host_team_id>/challenge_host
Header: Authorization: Token
Method: POST
Response:
status: HTTP_201_CREATED

[2016-11-20 18:04] TroJan opened #102 "Create endpoint to update a particular ChallengeHost details"
Details about the endpoint:

Url: /api/hosts/challenge_host_team/<challenge_host_team_id>/challenge_host/<challenge_host_id>
Header: Authorization: Token
Method: PUT/PATCH
Response:
status on success: HTTP_200_OK
status on exception: HTTP_406_NOT_ACCEPTABLE
status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

[2016-11-20 18:04] TroJan opened #103 "Create endpoint to delete a ChallengeHost"
Details about the endpoint:

Url: /api/hosts/challenge_host_team/<challenge_host_team_id>/challenge_host/<challenge_host_id>
Header: Authorization: Token
Method: DELETE
Response:
status on success: HTTP_200_OK
status on exception: HTTP_406_NOT_ACCEPTABLE
status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

[2016-11-20 18:13] TroJan commented on #95
Fixed in #94

[2016-11-20 18:13] #95 closed

[2016-11-20 18:14] TroJan commented on #96
Merged in #99

[2016-11-20 18:14] #96 closed

[2016-11-20 18:16] TroJan opened #104 "Create endpoint to get details about a particular ChallengeHostTeam"
Details about the endpoint:

Url: /api/hosts/challenge_host_team/<challenge_host_team_id>/
Header: Authorization: Token
Method: GET
Response:
status on success: HTTP_200_OK
status on exception: HTTP_406_NOT_ACCEPTABLE
status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

[2016-11-20 18:21] TroJan opened #106 "Create endpoint to get details about a particular ChallengeHost"
Details about the endpoint:

Url: /api/hosts/challenge_host_team/<challenge_host_team_id>/challenge_host/<challenge_host_id>
Header: Authorization: Token
Method: GET
Response:
status on success: HTTP_200_OK
status on exception: HTTP_406_NOT_ACCEPTABLE
status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

[2016-11-20 18:30] TroJan commented on #104
Merged via #105

[2016-11-20 18:30] #104 closed

[2016-11-20 19:06] TroJan commented on #97
Merged in #108

[2016-11-20 19:06] #97 closed

[2016-11-20 19:26] TroJan commented on #98
Merged via #109

[2016-11-20 19:26] #98 closed

[2016-11-20 19:31] TroJan opened #111 "Fix choices option for status and permission field of ChallengeHost model."
choices are status and permissions are presently swapped. This needs to be updated.

[2016-11-20 19:33] TroJan opened #112 "Rewrite TeamSerializer to contain context logic"
Ideally `TeamChallengeSerializer` and `TeamSerializer` should be a single serializer.

One such example for reference can be `ChallengeHostTeamSerializer` in `apps/hosts/serializers.py`

[2016-11-20 19:39] TroJan commented on #100
Fixed via #110

[2016-11-20 19:40] #100 closed

[2016-11-20 19:46] TroJan commented on #101
Merged via #113

[2016-11-20 19:46] #101 closed

[2016-11-21 08:05] aka-jain opened #118 "Add Forgot password feature"
Need to add a Password Change (forgotten password) feature. Refer API docs for change password endpoints

[2016-11-21 15:29] TroJan commented on #106
Merged via #114

[2016-11-21 15:29] #106 closed

[2016-11-21 15:33] TroJan commented on #103
Merged via #117

[2016-11-21 15:33] #103 closed

[2016-11-21 15:34] TroJan commented on #102
Fixed in #116

[2016-11-21 15:34] #102 closed

[2016-11-22 01:20] TroJan commented on #111
Fixed via #119

[2016-11-22 01:20] #111 closed

[2016-11-22 01:20] TroJan commented on #67
Fixed via #120

[2016-11-22 01:20] #67 closed

[2016-11-22 01:59] TroJan commented on #40
Fixed via #122

[2016-11-22 01:59] #40 closed

[2016-11-22 02:11] TroJan opened #124 "Create endpoint to get details about a particular Challenge"
Details about the endpoint:

Url: /api/challenges/challenge_host_team/<challenge_host_team_id>/challenge/<challenge_id>
Header: Authorization: Token
Method: GET
Response:
status on success: HTTP_200_OK
status on exception: HTTP_406_NOT_ACCEPTABLE
status on Unauthorized access: HTTP_203_NON_AUTHORITATIVE_INFORMATION

[2016-11-22 02:17] TroJan commented on #124
Merged in #125

[2016-11-22 02:17] #124 closed

[2016-11-22 02:18] TroJan commented on #39
Fixed in #123

[2016-11-22 02:18] #39 closed

[2016-11-22 02:35] TroJan commented on #41
Fixed in #126

[2016-11-22 02:35] #41 closed

[2016-11-22 02:36] TroJan commented on #42
Fixed via #127

[2016-11-22 02:36] #42 closed

[2016-11-22 02:48] TroJan commented on #112
Fixed in #128

[2016-11-22 02:48] #112 closed

[2016-11-22 11:55] gauthamzz commented on #72
Can you give me an idea how to do #68 i haven't made any model admin till now.

[2016-11-22 12:01] gauthamzz commented on #72
Can you give me an idea how to solve #68

[2016-11-22 18:51] TroJan commented on #72
@gauthamzz : as of now you can start by just writing a [modelAdmin](https://docs.djangoproject.com/en/1.10/ref/contrib/admin/#django.contrib.admin.ModelAdmin) class.  This class will register the model on django admin site.

There are certain attributes for this class, which defines how can you search on this model, what filters will be available and so on. We are only concerned with three attribu

[2016-11-23 05:42] RishabhJain2018 commented on #68
@deshraj @TroJan Can I work on this?

[2016-11-23 05:58] RishabhJain2018 commented on #69
@deshraj @TroJan Can I work on this??

[2016-11-23 09:16] deshraj commented on #68
Fixed in #132

[2016-11-23 09:16] #68 closed

[2016-11-23 13:52] jainarunarunjain commented on #72
can i try this?

[2016-11-23 17:52] gauthamzz commented on #72
i am almost done with this , try other part

[2016-11-23 18:02] jainarunarunjain commented on #72
Sure

[2016-11-23 20:07] RishabhJain2018 commented on #71
@TroJan @deshraj Can I work on this?

[2016-11-23 21:05] neeraj12121 opened #135 "Broken link in readme.md"
There is a link in [readme.md](https://github.com/Cloud-CV/EvalAI/blob/master/README.md)  line 84 to https://github.com/Cloud-CV/EvalAI/blob/development/CONTRIBUTING.md

[2016-11-23 21:09] #73 closed

[2016-11-23 22:14] deshraj commented on #135
Thanks @neeraj12121 for reporting this. Actually, the correct link is https://github.com/Cloud-CV/EvalAI/blob/master/CONTRIBUTING.md

If you want to fix it, then go ahead. :-)

[2016-11-23 22:18] neeraj12121 commented on #135
@deshraj yeah sure

[2016-11-23 23:12] deshraj opened #138 "Typo in README"
The line `That's it, Now to connect to dev server at http://127.0.0.1:8000` needs to be replaced with `That's it, Now to connect to dev server at http://127.0.0.1:8888`

[2016-11-23 23:20] gauthamzz commented on #138
it runs on port 8000 by default right

[2016-11-24 06:36] gauthamzz commented on #118
Can I try?

[2016-11-24 06:47] aka-jain commented on #118
@gauthamzz Sure, go ahead. Let me know if you get any problem.

[2016-11-24 06:59] aka-jain opened #140 "Add Footer module on homepage"
For now just add Some Social sharing Icons and some dummy links like about us, contact us etc.

[2016-11-24 07:07] aka-jain commented on #118
@gauthamzz just to make you hands on, can you try issue #140? This is just to make you familiar with the client side code

[2016-11-24 07:55] #135 closed

[2016-11-24 17:19] aka-jain opened #141 "Add autofocus to login and signup page input box."
Autofocus username field in login and signup page.

[2016-11-24 17:25] aka-jain opened #142 "Remove Remember Me option from login form."
Remove the Remember Me option and shift the Login button in place of it.

[2016-11-27 06:52] deshraj opened #146 "SMTP server not working for sending mails"
When a user registers, then a mail needs to be sent to the user's email id.

The current error is:

[code]

[2016-11-27 07:16] RishabhJain2018 commented on #146
@deshraj Can I fix this?

[2016-11-27 07:17] deshraj commented on #146
Sure. Assigning it to you. :-)

[2016-11-27 09:08] TroJan opened #147 "Add support for taking status as query parameter in challenge host team api"
While creating a challenge, first we need to check if ChallengeHostTeam with status as `Self` or `Accepted` exists or not.

[2016-11-27 09:17] TroJan commented on #147
Fixed via #148

[2016-11-27 09:17] #147 closed

[2016-11-27 09:40] aka-jain commented on #146
@deshraj : but email field is not mandatory to fill during registration time, so do we still need it and also is there any type of email verification?

[2016-11-27 09:42] deshraj commented on #146
Oh, I didn't realize this. We can make it mandatory just setting a variable in settings. Will add it.

Thanks for pointing this. :-)

[2016-11-27 09:44] TroJan opened #151 "Update ChallengeHost Serializer to return username instead of user id."
While creating a challenge, a user will be shown list of challenge host team where usernames should be shown instead of user id.

[2016-11-27 09:46] deshraj opened #152 "Set email mandatory while the user is registering"
Setting `ACCOUNT_EMAIL_REQUIRED = True` in `settings/common.py` will do the job.

[2016-11-27 09:47] aka-jain commented on #146
Also, do we need email verification after sign up?

[2016-11-27 09:48] deshraj commented on #146
Yes, we do.

[2016-11-27 09:51] gauthamzz commented on #138
a new pr is made #154

[2016-11-27 09:53] TroJan commented on #151
fixed in #153

[2016-11-27 09:53] #151 closed

[2016-11-27 11:09] TroJan opened #155 "Create a endpoint for challenge host and team creation"
When creating a challenge, a challenge host teams needs to exist.  This route will do the following
* Create a new challenge host team
* use this challenge host team to create a new challenge host with status as `Self` and permissions as `Admin`.

This will return `HTTP_201_CREATED` if everything is successfully created, else `HTTP_400_BAD_REQUEST`

[2016-11-27 11:14] jainarunarunjain commented on #152
@deshraj : Can I fix this?

[2016-11-27 11:15] deshraj commented on #152
Yeah sure. Go ahead. :-)

[2016-11-27 11:22] TroJan commented on #155
Fixed in #156

[2016-11-27 11:22] #155 closed

[2016-11-27 12:54] aka-jain opened #158 "Alter Chrome autofill input Backgorund color to transparent for all input fields."
All changes related to this issue should be done in base.scss file.

[2016-11-27 16:18] TroJan opened #159 "Setup test cases for hosts app model."

[2016-11-27 17:14] gauthamzz commented on #138
close this ?

[2016-11-28 00:40] anweshknayak commented on #141
This has already been fixed I think ?

[2016-11-28 02:57] aka-jain commented on #141
No, it is not fixed. Can you check it once again please.

[2016-11-28 09:40] deshraj opened #164 "Integrate django rest swagger for all the apps"

[2016-11-28 09:43] deshraj commented on #138
Sure. Thanks @gauthamzz :-)

[2016-11-28 09:43] #138 closed

[2016-11-28 12:17] anweshknayak commented on #141
I have one doubt. The autofocus thing shall it lighten the whole input area(username) ? as in already there is one functionality which gives a yellowish indication bar below in the input area .

[2016-11-28 12:31] aka-jain commented on #141
By Autofocus I mean to say that whenever user comes to login or signup page then first input field of form gets highlighted automatically. For this you only have to include autofocus in input tag. Give it a try :)

[2016-11-28 14:57] #142 closed

[2016-11-28 15:03] anweshknayak commented on #84
Where shall I add the script ? Shall I create a separate script file under /src/controllers or create a custom separate function in any of the scripts present in  /src/controllers ?

[2016-11-28 15:04] aka-jain commented on #84
Can you make a directive for this?

[2016-11-28 15:27] anweshknayak commented on #84
https://github.com/oblador/angular-scroll/ Can I add these instead in the dependecies file of bower ? and use it.

[2016-11-28 15:31] aka-jain commented on #84
Sure, you can use it.

[2016-11-28 15:53] aka-jain commented on #158
Closing this issue.

[2016-11-28 15:53] #158 closed

[2016-11-28 16:56] aka-jain opened #168 "Make a separate directive for Autofocus to input fields."
@anweshknayak : can you do this?

[2016-11-28 16:59] aka-jain commented on #141
@anweshknayak : In case you are trying to solve this issue, then please refer #168

[2016-11-28 17:05] aka-jain commented on #141
New issue open related to this at #168
This issue fixed in #166

[2016-11-28 17:05] #141 closed

[2016-11-28 17:37] deshraj opened #169 "Setup a MapReduce job for the submission to a particular challenge"

[2016-11-28 17:46] anweshknayak commented on #84
/frontend/bower_components. The script files here , can you tell where this are imported so that they are being used in the actual code ?

[2016-11-28 17:49] aka-jain commented on #118
@gauthamzz : Let me know if you are still working on it?

[2016-11-28 17:49] anweshknayak commented on #168
Sure.

[2016-11-28 19:34] aka-jain commented on #84
For your information, to add external files, add their file path in app.script.json in case of JS and app.styles.json in case of CSS. And run gulp dev which will build vendor.js and vendor.css. Then you don't need to add their paths in index file externally.
Let me know in case of query.

[2016-11-28 19:57] anweshknayak commented on #84
after installing the library and setting the path. do I need to manually import the directive in the landing.html file by adding ng-model and ng-app or it directly imports the function from the path provided ?

[2016-11-28 20:31] aka-jain commented on #84
For adding any dependency use **app.js** file, and in case you want to write a directive then write it in **directive.js** file. No need to add paths manually.

[2016-11-29 01:17] anweshknayak commented on #28
is someone working on this ?

[2016-11-29 01:20] TroJan commented on #28
@anweshknayak : the work is already done, just forget to get it into master.

[2016-11-29 05:15] gauthamzz commented on #118
sorry i had a quick hectic week in college. i wont be able to do anything for next four days

[2016-11-29 05:19] aka-jain commented on #118
Sure, no problem.

[2016-11-29 09:36] #84 closed

[2016-11-29 10:41] jainarunarunjain commented on #140
@aka-jain  Can I try this?

[2016-11-29 10:54] deshraj commented on #140
@jainarunarunjain Sure. Go ahead. :-)

[2016-11-29 10:55] anweshknayak commented on #74
update task like what ? can you give me a headstart.

[2016-11-29 11:17] aka-jain commented on #74
If you add a new file or delete any existing file or if your JavaScript throws error then gulp watch task breaks. Need to fix it, there is a gulp dependency available which handle all JS errors, addition and deletion. You have to rewrite the gulp watch task so that it can easily handle all these changes. I hope you got my point.

[2016-11-29 11:20] aka-jain commented on #56
Done with #145.
Closing this issue.

[2016-11-29 11:20] #56 closed

[2016-11-29 11:29] aka-jain commented on #140
Sure @jainarunarunjain , and let me know if you find any difficulty regarding directory structure.

[2016-11-29 11:29] deshraj opened #174 "Set object level permissions to update a challenge"
Set object level permissions so that the user who is creator of the challenge can only edit/delete the challenge.

For reference, see this http://www.django-rest-framework.org/api-guide/permissions/#object-level-permissions

[2016-11-29 11:34] aka-jain opened #175 "Hide sidebar in Dashboard for mobile view."
Hide sidebar in dashboard view and make a hamburger icon or mobile menu icon to show that sidebar. Refer mobile view of landing page.

[2016-11-29 11:42] jainarunarunjain commented on #140
@aka-jain should i make a module or not?

[2016-11-29 12:06] aka-jain opened #176 "Add cloudcv logo in header"
Need to add the cloudcv logo just above the link www.cloudcv.org. Download logo fromthe official site www.cloudcv.org

[2016-11-29 13:39] deshraj commented on #176
To make life easier, the logo can be found here http://deshraj.github.io/static/img/cloudcv.png

[2016-11-29 13:45] aka-jain commented on #140
Yes, please make a different module for footer so that it can be easily used in another pages.

[2016-11-29 17:39] jainarunarunjain opened #179 "CORS error while using django server with frontend server."
![screenshot 110](https://cloud.githubusercontent.com/assets/16155501/20721362/65df055a-b617-11e6-84b5-9021184e8eee.png)
CORS error is coming while accessing django server from localhost.

[2016-11-29 17:41] deshraj commented on #179
Thanks @jainarunarunjain for reporting this. I will check and get back to you soon.

[2016-11-29 17:51] deshraj commented on #179
Fixed in #180. Closing it now.

[2016-11-29 17:51] #179 closed

[2016-11-29 20:10] RishabhJain2018 commented on #146
@deshraj Which EMAIL_HOST we will be using?

[2016-11-29 22:08] RishabhJain2018 commented on #174
I think we need to write again the `challenge_detail` view of the challenges app using the class based views. As for function based views we can't implement the object level permissions. For reference please check [this](https://github.com/tomchristie/django-rest-framework/issues/1697) link.

[2016-11-30 06:08] deshraj commented on #152
Fixed in #157

[2016-11-30 06:08] #152 closed

[2016-11-30 06:08] deshraj commented on #164
Replaced swagger with DRFDocs. Closing it now.

[2016-11-30 06:08] #164 closed

[2016-11-30 06:09] deshraj commented on #146
@RishabhJain2018 can you just test it on your local machine using any email host such as `smtp.gmail.com`. We will change it once we are sure that it is working.

[2016-11-30 06:29] deshraj commented on #174
No, I don't think so. We can do it easily for FBV.

I realized that I posted the wrong reference link. Please see this http://www.django-rest-framework.org/api-guide/permissions/#custom-permissions

[2016-11-30 07:11] TroJan opened #182 "Setup test cases for challenge app"

[2016-11-30 14:09] deshraj commented on #182
Fixed in #183. Closing now.

[2016-11-30 14:09] #182 closed

[2016-11-30 15:28] deshraj opened #186 "Delete Teams app and move the models and views to Participants and Hosts app"

[2016-11-30 16:05] jainarunarunjain commented on #186
@deshraj Can i try this

[2016-11-30 16:09] deshraj commented on #186
Sorry @jainarunarunjain, @TroJan is already working on this.

[2016-11-30 16:13] jainarunarunjain commented on #186
@deshraj ok, no problem

[2016-11-30 16:42] TroJan commented on #186
Reason for deleting this app ::
This app contains models `Team` and `TeamMembers` that are more generic. `Team` and `TeamMembers` as entity belongs to both challenge and participant. For Challenge, `ChallengeHost` and `ChallengeHostTeam` already exists. Hence these models can be successfully merged into Participant app

[2016-11-30 16:49] deshraj commented on #186
Resolved in #188

[2016-12-01 05:14] aka-jain commented on #140
Fixed in #189.
Closing now.

[2016-12-01 05:14] #140 closed

[2016-12-01 13:19] anweshknayak commented on #74
https://www.npmjs.com/package/gulp-watch This should help I think ?

[2016-12-01 13:33] #186 closed

[2016-12-01 13:33] deshraj commented on #159
@TroJan is this done? Can we close it?

[2016-12-01 13:34] deshraj commented on #146
Resolved in #184 . Closing it.

[2016-12-01 13:34] #146 closed

[2016-12-01 14:47] anweshknayak commented on #74
http://stackoverflow.com/a/34346524 this solves the issue I guess ?

[2016-12-01 18:10] TroJan opened #190 "Add created_by in ParticipantTeam model"
So that cases like get all participant_team by particular user can be easily solved. This otherwise would involve very complex joins

[2016-12-01 18:12] TroJan opened #191 "Remove challenge in Participant model"
Why?

because if we clearly observe the database design, Participant is tied to ParticipantTeamMember which contains Challenge. Hence keeping challenge in Participant would be kind of redundancy.

[2016-12-01 18:15] TroJan opened #192 "Update status field of ParticipantStatus to contain choices"
Presently the status column is simple a charfield. It should contain choice field to facilitate addition of data from admin panel.

For better clarity
[code]

[2016-12-01 19:30] deshraj opened #193 "Integrate django-spaghetti-and-meatballs to visualize database schema"
@RishabhJain2018 would you like to work on this?

For reference: https://github.com/LegoStormtroopr/django-spaghetti-and-meatballs

[2016-12-01 19:38] deshraj commented on #191
Fixed in #194

[2016-12-01 19:38] #191 closed

[2016-12-01 19:54] RishabhJain2018 commented on #193
@deshraj yeah sure.

[2016-12-01 19:54] deshraj commented on #193
Awesome. :-)

[2016-12-01 20:17] anweshknayak commented on #168
where shall I place the file ? extend the module in directives/directives.js ?

[2016-12-02 06:13] aka-jain commented on #168
Append all your code in directive.js file in a separate function. Don't make a separate file for it.

[2016-12-02 07:00] jainarunarunjain commented on #176
@aka-jain @deshraj can you provide this logo without background

[2016-12-02 07:08] aka-jain commented on #176
Sure, I'll make that one. Will let you know when finished with it.

[2016-12-02 08:32] aka-jain commented on #74
@anweshknayak addition and deletion are working now. It was an older version problem.
But watch task is not handling JS errors. It breaks down when JS file throws error. Can you plesae verify and try to solve this only.
Take reference form this link and you can use Plumber plugin for this too. https://cameronspear.com/blog/how-to-handle-gulp-watch-errors-with-plumber/

[2016-12-02 08:40] aka-jain commented on #176
![cloudcv](https://cloud.githubusercontent.com/assets/11537940/20827532/ba8c0a70-b898-11e6-8e39-442b9a913741.png)
@jainarunarunjain I hope this logo works fine. Let me know if you have any query.

[2016-12-02 09:51] deshraj opened #197 "Add functionality for token expiration at the backend"
DRF does not support expiration of the tokens in token based authentication. We can do that using the third party package https://github.com/JamesRitchie/django-rest-framework-expiring-tokens

[2016-12-02 09:53] deshraj opened #198 "Add a decorator to check if the user has confirmed the email address or not"
For most of the endpoints, we need to add a permission decorator that checks if the user has verified his email address or not. If not, then return json object that says "Please verify your account first".

[2016-12-02 10:39] deshraj opened #199 "Add django-autofixture for loading test data for development environment"
For reference, see this https://github.com/gregmuellegger/django-autofixture

[2016-12-02 10:41] deshraj opened #200 "Remove docker directory"
We are not planning to use docker in the near future, so lets remove the `docker` directory and its dependencies.

[2016-12-02 11:35] deshraj commented on #193
Fixed in #196

[2016-12-02 11:35] #193 closed

[2016-12-02 14:40] TroJan commented on #190
To keep master stable and not break migrations, a default null value should be added for all the existing rows. May be in futures, when we are rebasing migrations, then we can drop this null value clause on `created_by` in `ParticipantTeam` model.

@deshraj : FYI

[2016-12-02 16:02] TroJan opened #206 "Rewrite Participant Team api to remove dependency of challenge"
As of [b02d43](https://github.com/Cloud-CV/EvalAI/tree/b02d433b21e34a4c39985c6e490614d02435cfce), Participant model has foreign key to challenge. This means that to create entry for participant a challenge should exists. This could have been handled by making challenge a nullable foreign key, but this is not the way to do it.

Proposed solution involves a many to many key in challenge to participa

[2016-12-02 18:19] itaditya commented on #175
Hello @aka-jain Sir , I am trying to resolve #175 issue now

[2016-12-02 18:20] aka-jain commented on #175
Sure, go ahead.

[2016-12-02 18:36] TroJan opened #209 "Create api to map a participant team with challenge."
This is a big change. This will involve the following

* create a many to many mapping between __Challenge__ and __ParticipantTeam__. key can exist in either model, but we will be keeping it in Challenge model, because queries like _list all teams that have participated or are participating in a challenge_ will be more common and frequent than _get all challenges in which a team has participated o

[2016-12-02 21:12] anweshknayak commented on #198
@deshraj can you assign this to me?

[2016-12-02 21:12] deshraj commented on #198
Yeah, you can work on it. :-)

[2016-12-02 21:21] #200 closed

[2016-12-02 21:23] deshraj commented on #190
Fixed in #210

[2016-12-02 21:23] #190 closed

[2016-12-02 21:23] deshraj commented on #176
Fixed in #202

[2016-12-02 21:23] #176 closed

[2016-12-02 21:37] deshraj commented on #206
Fixed in #207

[2016-12-02 21:37] #206 closed

[2016-12-02 21:37] deshraj commented on #209
Fixed in #210

[2016-12-02 21:37] #209 closed

[2016-12-03 09:38] TroJan opened #216 "Update status field of Participant model to be a charfield"
Presently status is a foreign key to model __ParticipantStatus__ where we are adding only 5 values. If __ParticipantStatus__ had only status as primary key, then it would have made sense as then status can have N number of values like
[code]

But with current design we are sure, that status will have 5 choices as of now. Hence converting it to a charfield with choices as options makes more sense

[2016-12-03 09:43] deshraj commented on #168
Fixed in #212

[2016-12-03 09:43] #168 closed

[2016-12-03 09:45] deshraj commented on #197
Fixed in #215

[2016-12-03 09:45] #197 closed

[2016-12-03 09:46] TroJan opened #218 "Remove ParticipantTeamMember and add team as Foreign key in Participant Model"
__ParticipantTeamMember__ contains participant and team as foreign key to respective models. But this model is not required. Foreign key to team can be kept in __Participant__ model and then it will map a team member to a team. This model is increasing data redundancy and hence a overhead of maintaining duplicated data.

Also while considering the new design, we considered some scenarios(queries a

[2016-12-03 09:47] #159 closed

[2016-12-03 09:50] TroJan opened #219 "Create Participant object when saving Participant Team object"
In flow of creating a ParticipantTeam, when a use enters a team name its __ParticipantTeam__ and __Participant__ object should be created

Presently the api to create a new participant team only supports creation of ParticipantTeam.

So add a block in the api which creates a new __Participant__ object also.

[2016-12-03 09:52] TroJan commented on #192
this issue is not needed as #216 is covering it.

[2016-12-03 09:52] #192 closed

[2016-12-03 09:53] TroJan commented on #28
where is this stuck? @deshraj

[2016-12-03 09:54] TroJan commented on #216
merged in #217

[2016-12-03 09:54] #216 closed

[2016-12-03 10:07] TroJan commented on #218
Merge in #220

[2016-12-03 10:07] #218 closed

[2016-12-03 14:34] TroJan commented on #219
merged in #221

[2016-12-03 14:34] #219 closed

[2016-12-03 14:42] TroJan opened #222 "Add api to invite participant to a team"
A user can invite a participant to a team. For v1, we have decided the following thing

* User to be invited has already signed up on the platform
* As soon as a invite is sent, corresponding to the email, a participant object will be created with status as _Accepted_. This will be changed in v2.

[2016-12-03 15:41] TroJan commented on #222
fixed in #223

[2016-12-03 15:41] #222 closed

[2016-12-03 16:09] deshraj commented on #28
Fixed in #33

[2016-12-03 16:09] #28 closed

[2016-12-03 16:09] deshraj commented on #199
Fixed in #212

[2016-12-03 16:09] #199 closed

[2016-12-03 16:11] deshraj commented on #72
Fixed in #149

[2016-12-03 16:11] #72 closed

[2016-12-03 16:11] deshraj commented on #69
Fixed in #170

[2016-12-03 16:11] #69 closed

[2016-12-03 16:11] deshraj commented on #70
Fixed in #150

[2016-12-03 16:11] #70 closed

[2016-12-03 16:12] deshraj commented on #71
Fixed in #170

[2016-12-03 16:12] #71 closed

[2016-12-03 16:17] deshraj opened #224 "Add team in ParticipantAdmin class in Participant app"

[2016-12-03 16:53] gauthamzz commented on #224
isnt this already solved ? #220

[2016-12-03 17:02] deshraj commented on #224
@gauthamzz My bad. Actually we want to add `team` in the ParticipantAdmin model. Updating the issue title.

[2016-12-03 17:04] deshraj commented on #224
`team` should be present in `list_display`, `search_fields` and `list_filter`.

[2016-12-03 17:43] jainarunarunjain commented on #224
@deshraj Is anyone working on it

[2016-12-03 17:44] deshraj commented on #224
I don't think so. If you want, you can work on this.

[2016-12-03 17:45] jainarunarunjain commented on #224
@deshraj Sure

[2016-12-04 10:29] TroJan opened #232 "Create a user profile model"
The model should live in `accounts` app and have the following fields

* contact_number - CharField(10)
* affiliation - CharField(512)
* receive_participated_challenge_updates - BooleanField(default=False)
* recieve_newsletter - BooleanField(default=False)

also catch post_save on _User_ model to create a _Profile_ instance.

[2016-12-04 11:37] TroJan opened #234 "Create api to disable logged in user"
Api should live in `accounts` app and have a url pattern like `/api/accounts/user/disable`. Api will work only for POST call and set `is_active` flag to False. api should logout the current user.

[2016-12-04 12:51] TroJan opened #236 "Add api to disable a particular challenge"
Api should live in challenge app. For adding this api, a field `is_disabled` needs to be present in _Challenge_ model.

Logic behind the api will be to fetch `creator` from `challenge` object and then check if the current user is challenge_host_team creator or not. This is for v1, may change in v2(where we may add clause something related to status or permissions).

Test and migrations should also

[2016-12-04 13:59] #74 closed

[2016-12-04 16:41] #236 closed

[2016-12-04 16:45] TroJan commented on #234
merged in #235

[2016-12-04 16:45] #234 closed

[2016-12-04 16:47] TroJan commented on #232
merged in #233

[2016-12-04 16:47] #232 closed

[2016-12-04 18:09] deshraj opened #238 "Add username field in response of participant_team_list view"
We also want to send `username` field to the client side so that the Team admin username is visible on the dashboard.

[2016-12-04 18:21] #175 closed

[2016-12-04 23:35] anweshknayak commented on #118
is anybody doing this ?

[2016-12-05 04:58] aka-jain commented on #118
@anweshknayak I don't think so. You go ahead and try it.

[2016-12-05 10:31] aka-jain opened #241 "Overflow of link box from header."
Background of links (Home, www.cloudcv.org) are overflowing from header container in Dashboard view.

[2016-12-05 20:06] anweshknayak commented on #118
can you provide some hint ?

[2016-12-05 20:29] aka-jain commented on #118
@anweshknayak : you have to make a nested view for Forgotten Password in auth view (like we have login and signup). Refer http://localhost:8000/docs/ on your local machine for API endpoints. Use design same as of Login page. Steps are:
1. Make an email input field to send password reset link.
2. After confirmation reset password with new password, confirm password, token, and Unique ID.

@deshraj

[2016-12-05 21:08] anweshknayak commented on #198
if anyone wants to work on this feel free to do. I have my semester exams going on.

[2016-12-05 21:13] deshraj commented on #198
Thanks @anweshknayak for letting us know. All the best for your semester exams. :-)

[2016-12-05 21:26] aka-jain opened #243 "Change color of radio buttons to EvalAI's primary color (Dark Gray)"
Change color of radio buttons in Create Team page.
Refer variable.scss file for color themes. Use $dark-gray for the radio button. Currently it is of green color and needs to be changed.

[2016-12-06 12:02] aka-jain commented on #118
@anweshknayak : Please don't try this issue, we have an urgent requirement of this feature that's why I'm assigning this to myself.

[2016-12-06 12:32] anweshknayak commented on #118
@aka-jain sure. anyway I have semester exams going on too :P

[2016-12-06 15:24] RishabhJain2018 commented on #224
@deshraj I think team is already there in the ParticipantAdmin class. What do you say?

[2016-12-06 15:53] deshraj commented on #224
Yup. Thanks for pointing @RishabhJain2018 . Forgot to close this one.

Fixed in #226. Closing it now.

[2016-12-06 15:53] #224 closed

[2016-12-07 15:30] deshraj opened #247 "Set DrfDocs to be only available on development server only"
See this: https://github.com/Cloud-CV/EvalAI/blob/master/evalai/urls.py#L24 . This URL pattern should be only available in the development environment.

[2016-12-07 16:27] RishabhJain2018 commented on #247
@deshraj I will fix this.

[2016-12-07 19:18] jainarunarunjain commented on #243
@aka-jain Can i work on this?

[2016-12-07 19:22] aka-jain commented on #243
@jainarunarunjain sure.

[2016-12-07 19:50] aka-jain commented on #243
Closing and fixed with #248

[2016-12-07 19:50] #243 closed

[2016-12-07 22:34] aka-jain opened #249 "Sidebar on Dashboard view is not working properly for Mobile view."
Currently sidebar is collapsing at ~640px but it should be collapsed at screensize<992 px.

[2016-12-07 22:37] aka-jain opened #250 "Mobile view header for Dashboard is not working properly."
Header of Dashboard view doesn't seem to be responsive. Need to fix that.

[2016-12-07 22:43] aka-jain opened #251 "Edit Host Competition button on home page"
In home page there is a button for Host Competition. We have to replace it with "View Challenge" button and redirect it to challenge page (url : /web/challenge-page/overview)

[2016-12-08 14:46] TroJan opened #252 "Apply checks on map participant team to challenge api to maintain data integrity"
Api `add_participant_team_to_challenge` maps a particular challenge with a participant team. At db level, this case is already handled by enforcing uniqueness of challenge_id, participant_team_id.

The same check needs to be handled in the view also. For the first time respond when creating the mapping, respond with `HTTP_201_CREATED`. From next time, respond with `HTTP_200_OK` and response contai

[2016-12-08 14:50] gauthamzz commented on #252
Can I try this, if it's unassigned

[2016-12-08 14:52] TroJan commented on #252
i am already on it.

[2016-12-09 12:02] anweshknayak commented on #251
Im on it.

[2016-12-09 16:01] RishabhJain2018 commented on #247
@deshra The PR is merged . I think we should close this.

[2016-12-09 16:02] RishabhJain2018 commented on #174
@deshraj ThePR is merged. I think we should close this.

[2016-12-09 16:25] deshraj commented on #198
Fixed in #245

[2016-12-09 16:25] #198 closed

[2016-12-09 16:26] deshraj commented on #174
Thanks @RishabhJain2018 for working on this.

Fixed in #231

[2016-12-09 16:26] #174 closed

[2016-12-09 16:27] deshraj commented on #247
Fixed in #254. Closing it.

[2016-12-09 16:27] #247 closed

[2016-12-10 07:01] TroJan commented on #252
One more such case of check can be

When a challenge host is mapping his participant team to a challenge created by him only. Consider a case where there are three persons named __A__, __B__ and __C__.

__A__ - creates a _ChallengeHostTeam_ and then along with __B__ creates a _Challenge_ named __C1__. So __A__ and __B__ are both _ChallengeHost_ for _Challenge_ __C1__.

Now __B__ along with __C__ c

[2016-12-10 07:06] TroJan commented on #252
In the future, we can add a `simulation mode` where in a ChallengeHost can participate in his own challenge in simulation mode, so that he can check the whole functionality and other details pertaining to his challenge.

Simulation mode actually needs some more thought. definitely a big NO for v1. @deshraj

[2016-12-10 07:56] TroJan opened #256 "Invite user to participant team api should be idempotent."
`invite_participant_to_team` creates a Participant object. If this api is called N number of times for a single email id, N participant objects will be created.

Later on this api will involve sending a mail to the concerned participant, which implies that this can be called N number of times(email not received due to network failure or some error).

So ideal behaviour for this api should be creat

[2016-12-10 11:34] anweshknayak commented on #251
@aka-jain this feature is applicable for both the users who are logged in and who are not.

[2016-12-10 12:08] aka-jain commented on #251
Just add URL of challenge page, it will automatically handle authentication.
p.s Only logged in user can visit this page.

[2016-12-10 16:31] deshraj commented on #256
Yeah, cool. Sounds like a plan. :+1:

[2016-12-11 08:50] aka-jain opened #257 "Increase the z-index of Profile Page sidebar"

[2016-12-11 08:55] aka-jain opened #258 "Add footer to all inside pages (dashboard view)"

[2016-12-14 03:44] gauthamzz commented on #256
is this assigned ? @TroJan

[2016-12-14 06:50] TroJan commented on #256
@gauthamzz : yeah you can work on it. thanks :)

[2016-12-14 20:42] RishabhJain2018 commented on #238
@deshraj I think this is done in #239. We should close this.

[2016-12-14 20:43] deshraj commented on #238
Thanks @RishabhJain2018 for pointing out.

Fixed in #239. Closing it.

[2016-12-14 20:43] #238 closed

[2016-12-15 16:21] TroJan commented on #252
How are we solving the case "Prevent a challenge host from participating in its own challenge"

From the given challenge id, find its creator i.e. ChallengeHostTeam object. From ChallengeHostTeam, we can get ChallengeHost and eventually user ids from it. Consider this as set __A__.

For participant, we can get user ids from participant through participant team object. Consider this as set __B__.

[2016-12-15 16:31] TroJan commented on #252
One more case of check can be

Host cannot be invited to teams which are participating to his own challenge

Inviting a member to a team can happen in following cases

- One when the team has not registered to participate in the challenge

    For this case we should not disallow anyone from being invited since there is no guarantee that this team will participate in a challenge which has been cre

[2016-12-16 14:59] anweshknayak commented on #257
Increase how much ? @aka-jain

[2016-12-16 15:04] aka-jain commented on #257
Can you set it by yourself, so that everything will work fine?

[2016-12-17 02:40] gauthamzz commented on #256
1. Im facing some issue testing the module. im getting an error  ` "detail": "Authentication credentials were not provided." ` when using the http://127.0.0.1:8000/api/participants/participant_team
2. the url should be changed to api/participants/ participant_team/(?P<participant_team_pk>[0-9]+)/invite/(?P<participant_pk>[0-9]+)$ [name='invite_participant_to_team'] as we need both team id and part

[2016-12-17 10:59] deshraj opened #260 "Fix toggle problem between login and signup tabs on UI"
Here is the way to replicate the bug:

1. Go to the login page
2. Enter some details
3. Click on the signup button above the form
4. Enter details on the signup page
5. Switch back to the login page by clicking the login button above the form

You will get to see that the password field's label should go up as I switch but it does not behave like that. So, we need to fix this.

Let me know if this

[2016-12-17 13:56] TroJan commented on #256
@gauthamzz : Lets solve your issue step by step. Taking Step 1 into consideration

If you see the error message, it indicates that you are trying to access an api without providing authentication credentials. So lets us first see from where this message is coming from

If you see [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/participants/views.py#L92), then it says `TokenAuthenticatio

[2016-12-17 23:23] anweshknayak commented on #260
So one thing. as you see the input email field in sign up page gets cleared when you switch back and forth.Rest the issue persists as said.  So can we just not store the field input variables when we switch ?

[2016-12-17 23:25] deshraj commented on #260
Yeah, we need to store all the fields including the email field.

[2016-12-18 09:24] deshraj opened #264 "Remove tests.py from all the django apps"
We have all the unit and integration tests in `tests/` directory. Hence, don't need the `tests.py` file in all django apps.

[2016-12-18 10:21] souravsingh commented on #264
@deshraj I would like to take a stab at the issue.

[2016-12-18 10:22] deshraj commented on #264
Sure, go ahead. :-)

[2016-12-18 10:46] TroJan commented on #264
@souravsingh : it will be great if you remove `tests/test_dummy.py` :)

[2016-12-18 10:57] aka-jain commented on #260
@anweshknayak : You have to add material script for this. Please make a directive and add $.material.options.autofill = true in directive and add it to login and signup page.
Let if know it you need more help.

[2016-12-18 13:48] #264 closed

[2016-12-18 15:12] aka-jain commented on #260
@anweshknayak : I hope you haven't solved this issue, actually I've solved it because we have an urgent requirements of this. Please work on other issues :)
@deshraj :  Closing this issue, fixed with PR #268 .

[2016-12-18 15:12] #260 closed

[2016-12-18 15:13] aka-jain commented on #257
@anweshknayak : Are you still working on this?

[2016-12-18 17:31] anweshknayak commented on #257
@aka-jain sure you can take it. I will be engaged for 2-3 days or more.

[2016-12-18 19:53] aka-jain commented on #251
Closing this issue, need some discussion.

[2016-12-18 19:53] #251 closed

[2016-12-18 20:24] gauthamzz commented on #256
Thanks I finished the first step. I was thinking since we need to take the email of the participant also.so after we create a participant object (for this we need to take participant pk from urls.py) .Am I going on the wrong track ?

[2016-12-19 17:45] TroJan commented on #256
@gauthamzz : great for the first part.
Let me explain why we dont need participant id.

We are inviting user by email. If you see the serializer [code](https://github.com/Cloud-CV/EvalAI/blob/master/apps/participants/serializers.py#L46) we are creating participant object there only. The created participated object has its status as `Accepted`. Later on we plan to add verification here.

What you a

[2016-12-21 03:04] deshraj opened #273 "Add Expiring Token Authentication to all the backend views"

[2016-12-21 03:07] gauthamzz commented on #273
Can I try this ?

[2016-12-21 03:57] deshraj commented on #273
Fixed in #272

[2016-12-21 03:57] #273 closed

[2016-12-21 06:41] RishabhJain2018 commented on #241
@aka-jain Can I work on this?

[2016-12-21 06:41] RishabhJain2018 commented on #249
@aka-jain can I fix this?

[2016-12-21 06:42] RishabhJain2018 commented on #252
@TroJan Is someone working on this??

[2016-12-21 06:49] aka-jain commented on #241
@RishabhJain2018 : Sure, go ahead :)

[2016-12-21 06:50] aka-jain commented on #249
@RishabhJain2018 : Sure.

[2016-12-21 06:52] aka-jain commented on #118
@deshraj : You can work on this, let me know if you need any help :)

[2016-12-21 06:52] deshraj commented on #118
Sure, will do.

[2016-12-21 12:15] gauthamzz commented on #256
Close this ?

[2016-12-22 06:51] gauthamzz opened #275 "Requirements broken"
This error was being thrown
` File "/usr/lib/python2.7/importlib/__init__.py", line 37, in import_module
    __import__(name)
ImportError: No module named storages `

fixed by `pip install django-storages` Should this be added to requirements ?

[2016-12-22 08:37] deshraj commented on #275
@gauthamzz I think you tried to run with the production config file, that's why you encountered this error. Can you tell me the command which threw this error?

[2016-12-22 08:49] gauthamzz commented on #275
python manage.py runserver
It was working fine earlier.

[2016-12-22 08:51] deshraj commented on #275
It would have worked earlier but as we are making changes, it will break since the default settings is `settings.prod`. So, you will have to run the command `python manage.py runserver --settings=settings.dev`.

[2016-12-22 09:17] gauthamzz commented on #275
Okay . Thanks

[2016-12-22 09:17] #275 closed

[2016-12-22 14:34] deshraj opened #277 "Make Browsable API endpoint to be served in development environment only"
We want the browsable API urlpattern https://github.com/Cloud-CV/EvalAI/blob/master/evalai/urls.py#L45 to be only served in the development environment.

[2016-12-22 15:22] gauthamzz commented on #277
can i try this?

[2016-12-22 15:23] deshraj commented on #277
@gauthamzz Sure, go ahead.

[2016-12-23 07:21] deshraj commented on #277
Fixed in #278

[2016-12-23 07:21] #277 closed

[2016-12-23 07:24] deshraj opened #280 "Create a custom 500 and 404 error page in for django"
For reference, see this http://stackoverflow.com/questions/17662928/django-creating-a-custom-500-404-error-page

[2016-12-23 08:03] anweshknayak commented on #280
@deshraj Im working on this.

[2016-12-23 08:06] deshraj commented on #280
Sure, go ahead. Please ask before working on any issue otherwise it would be a duplicate effort.

[2016-12-23 08:21] anweshknayak commented on #280
@deshraj sure :)

[2016-12-23 08:50] anweshknayak commented on #280
@deshraj this custom error page for every app?

[2016-12-23 08:51] anweshknayak commented on #257
@aka-jain can I work on it ?

[2016-12-23 08:51] deshraj commented on #280
No, there will be a single 404 and 500 error page. Please see the reference link that I shared.

[2016-12-23 09:16] aka-jain commented on #257
@anweshknayak : Sorry to not update it, this issue has been solved with PR #279.
@deshraj : Closing it.

[2016-12-23 09:16] #257 closed

[2016-12-23 09:30] deshraj commented on #256
Closing #271

[2016-12-23 09:30] #256 closed

[2016-12-24 20:06] TroJan opened #288 "Create Apis for Test Environment model"
Following apis should be created
* get list of all test environments for a particular challenge
* create a new test environment
* get details about a particular test environment
* update(partial also) a particular test environment
* delete specific test environment

[2016-12-24 20:09] TroJan commented on #252
Host cannot be invited to teams which are participating to his own challenge

This check is dropped due to lack of required data in the concerned api. While inviting a participant to a team, the only thing that is known at that time is team id and email id of the user being invited. There is no challenge id used. Hence at time of inviting a user, it is actually not clear that this team will partic

[2016-12-24 20:09] #252 closed

[2016-12-25 09:27] RishabhJain2018 commented on #249
@aka-jain @deshraj I think this issue is soved. Please refer https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/css/modules/web.scss#L24 and https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/css/modules/variables.scss#L45

[2016-12-25 09:30] aka-jain commented on #249
@RishabhJain2018 : Nope, sidebar is not getting collapse at 992px, only container is expanding.  Have a look at sidebar.

[2016-12-25 09:44] RishabhJain2018 commented on #249
okk sure.

[2016-12-25 14:45] aka-jain opened #290 "Create 404 page for Client side."
Just add a content for 404 and a link for home page of Evalai.

[2016-12-25 14:46] RishabhJain2018 commented on #290
@aka-jain I will fix it.

[2016-12-25 14:50] aka-jain commented on #290
@RishabhJain2018 : Please ask before started working on any issue, it'll be god for managing tasks :)

[2016-12-25 14:51] RishabhJain2018 commented on #290
@aka-jain sure.

[2016-12-25 14:52] aka-jain commented on #249
@RishabhJain2018 : I think you are working on 404 page. So let's make this issue free for other users. You can take it back after solving issue #290
I hope it'll be Ok for you :)

[2016-12-25 15:01] RishabhJain2018 commented on #249
@aka-jain yeah sure. no problem.

[2016-12-25 15:09] anweshknayak commented on #249
@aka-jain can I work ?

[2016-12-25 15:10] aka-jain commented on #249
@anweshknayak : sure go ahead.

[2016-12-25 16:42] gauthamzz commented on #169
Is there by any chance open ?

[2016-12-26 11:51] deshraj commented on #169
@gauthamzz I am working on will take time. Please check other issues. :-)

[2016-12-26 19:39] deshraj opened #297 "Setup Throttling in drf backend"

[2016-12-26 20:59] aka-jain opened #300 "Add pagination to challenge List page"
Need to add pagination for each challenge list (Past, Ongoing & Future) on challenge page.

For pagination use load more, clicking on which gets next list of data.

Let me know if anyone finds it difficult :)

[2016-12-27 15:35] deshraj commented on #297
@RishabhJain2018 you showed interest in working on this. Are you still interested in working on this issue?

[2016-12-27 16:07] RishabhJain2018 commented on #297
@deshraj Yeah sure.

[2016-12-27 17:08] #241 closed

[2016-12-27 17:12] aka-jain commented on #258
Sure @ram81 go ahead

[2016-12-28 01:58] RishabhJain2018 commented on #297
@deshraj Please provide with some details and references on how to proceed with it.

[2016-12-28 07:01] dexter1691 commented on #297
@RishabhJain2018:
[This resource](http://www.django-rest-framework.org/api-guide/throttling/#example) seems to be a good starting point to setup throttling.

The motivation to setup throttling is to prevent the server from being over-burdened by certain API calls that might be resource intensive. Like the submission related endpoints.  A concrete example might be that we want to throttle the numbe

[2016-12-28 10:50] TroJan opened #302 "Add a field max_submissions_per_day and max_submissions in ChallengePhase model"
Both the fields should be positive integer field with default value of 100K. 100K here means number of submissions are unlimited.

Adding these fields will involve creating a migration. Also please create a named migration.

[2016-12-28 11:19] TroJan opened #303 "Rename TestEnvironment model to ChallengePhase model"
This will involve updating references in places liks api(views, urls), model, serializers and test case.
Also a named migration should be created for this.

Why this model name change ?

Because pyflakes is generating the following warning.
[code]

Reason for this warning is pyflakes looks for class or functions starting with `Test*` and here by chance model name is `TestEnvironment`.

[2016-12-28 11:33] RishabhJain2018 commented on #297
@dexter1691 Thank you for the resource.

yeah. It would be okay not to throttle the leaderboard. Moreover, I also want to ask about the throttling on login attempts, Do we also need to throttle that with a time limit ?

[2016-12-28 11:51] TroJan commented on #303
Merged via #304

[2016-12-28 11:51] #303 closed

[2016-12-28 15:33] RishabhJain2018 commented on #297
@deshraj @dexter1691 I also found a open source load testing tool http://locust.io/ . Please have a look. May be it would help us in some way.

[2016-12-28 16:13] gauthamzz commented on #302
Can I try if unassigned?

[2016-12-28 17:12] TroJan commented on #302
Yeah sure :)

[2016-12-28 18:49] TroJan opened #307 "Create Submission model in jobs app"
This model will be used to track submission corresponding to a phase.

[2016-12-29 13:12] anweshknayak commented on #300
is the static data for pagination already there ? I see nothing.

[2016-12-29 14:37] aka-jain commented on #300
@anweshnayak sure go ahead.
 You can create challenges by using django admin for now.
And yes, you have to include the pagination in same view.
Also for pagination use load more instead of page numbers.

[2016-12-29 15:00] anweshknayak commented on #250
can I fix this too ?

[2016-12-29 15:05] anweshknayak commented on #250
sorry for asking this late. I solved this issue. can you review ?

[2016-12-29 17:17] Ram81 commented on #258
@aka-jain  as you said to include the footer template I've done that,but because of sidebar footer needs to be adjusted so can I go for that?

[2016-12-31 18:02] RishabhJain2018 commented on #297
@deshraj I think we should close this issue now?

[2016-12-31 22:46] deshraj commented on #297
Yup.

[2016-12-31 22:46] #297 closed

[2017-01-01 06:58] gauthamzz commented on #302
Close this ?

[2017-01-01 07:04] TroJan commented on #302
@gauthamzz : sure. Thanks for the help :)

[2017-01-01 07:04] #302 closed

[2017-01-01 09:25] RishabhJain2018 commented on #280
@deshraj Is someone still working on this issue??

[2017-01-01 16:11] anweshknayak commented on #280
Yes. Code is almost done. Tests needs to be added

[2017-01-02 01:15] dexter1691 commented on #288
@TroJan - This issue is resolved completely?
Please feel free to close this issue if it's complete.

[2017-01-02 13:47] Ram81 commented on #75
I want to take this one @aka-jain, when done with design let me know?

[2017-01-02 16:12] deshraj commented on #307
Fixed in #308

[2017-01-02 16:12] #307 closed

[2017-01-02 16:13] TroJan commented on #288
For reference, Test Environment model is now ChallengePhase

[2017-01-02 16:13] #288 closed

[2017-01-02 17:27] anweshknayak commented on #280
@RishabhJain2018 let me know if you can help with the tests. you can see the closed PR. @deshraj can we split this ?

[2017-01-02 17:30] deshraj commented on #280
Yeah sure. That sounds like a collaborative effort. :-)

[2017-01-02 17:34] RishabhJain2018 commented on #280
@anweshknayak yeah sure, I will help you with the tests. :+1:

[2017-01-02 17:46] aka-jain commented on #290
@RishabhJain2018 : are you still working on it. Let me know please, so that others can work on this.

[2017-01-02 17:58] TroJan opened #318 "Setup RabbitMQ Worker for Job Submission"
A python worker(as of now) to get submission from queue, execute it with the evaluation script of the challenge(challenge id will be passed in the message) and do further tasks like sending mail, saving stdout and stderr outputs.

When a user makes a submission for a challenge, then a api to save his submission detail(like time at which the submission is made, participant team id, etc) will be req

[2017-01-02 17:58] TroJan commented on #318
Approach 1:

when the worker starts for the first time, fetch all the active challenges and its corresponding uploaded evaluation script. Dynamically require this evaluation script in a global variable named `EVALUATION_SCRIPTS`. So whenever any request comes for submission, the worker will fetch challenge id from that message and then simply call

EVALUATION_SCRIPTS[challenge_id].main(args)

This

[2017-01-02 17:59] TroJan commented on #318
Approach 2:

Worker only listens on a single key `submission.*.*`. Upon receiving a message of this type, it extracts the challenge id from the message, then queries the db to url of the evaluation script. Fetches script from there and then use subprocess to call the script.

__Problem__

For each submission need to query database, query can be definitely cached, but still a headache.

[2017-01-02 17:59] TroJan commented on #318
@deshraj @dexter1691 : your input please

[2017-01-02 20:15] RishabhJain2018 commented on #290
@aka-jain Yeah I am working on the issue. I apologize for the delay.

[2017-01-02 20:53] anweshknayak commented on #280
@aka-jain #290 related to this ?

[2017-01-02 20:54] aka-jain commented on #280
No @anweshnayak , It's on backend side.

[2017-01-02 20:58] aka-jain opened #319 "Redesign 404 page for Clientside."
Need to redesign a 404 page as shown in the given attachment.
In case of any help or requirement, let me know.
(use evalai.cloudcv.org as a link to redirect user to homepage)
![eval-404](https://cloud.githubusercontent.com/assets/11537940/21596089/36beb6e8-d15c-11e6-9c44-095a7a6c050a.png)

[2017-01-02 21:02] aka-jain commented on #319
Suggestions are also welcome related to design.
One can also use some AI related image or robot image in place of owl because our platform is based on AI and it will be good if we go for the same (evalAi) :D :)
(make sure that image shouldn't contain any copyright issue)

[2017-01-03 17:31] Ram81 commented on #319
@aka-jain Can You assign this to me ?

[2017-01-03 17:50] aka-jain commented on #319
@Ram81 : let PR #314 be merged, then you can start working on this.

[2017-01-03 19:42] anweshknayak commented on #300
@aka-jain ne doubt regarding the pagination. As the attributes from the django-admin is not showing up in the challenge-list.html ? So how shall I proceed with it ?

[2017-01-03 19:45] aka-jain commented on #300
Sorry, I'm not getting your point @anweshknayak.

[2017-01-03 19:56] anweshknayak commented on #300
After I created challenges in django-admin. The html file should render all that created in django-admin as per the html file ? But it isn't ?

[2017-01-03 19:57] aka-jain commented on #300
Yup, then what is coming there?

[2017-01-03 20:02] anweshknayak commented on #300
![123](https://cloud.githubusercontent.com/assets/8139783/21621131/ab642dc2-d21d-11e6-95fe-2dfaa3bd630c.jpg)

nothing

[2017-01-03 20:03] aka-jain commented on #300
Check console log.

[2017-01-03 20:06] anweshknayak commented on #300
ERROR "GET /api/challenges/present HTTP/1.1" 500 21876
[2017-01-03 20:04:58] ERROR "GET /api/challenges/present HTTP/1.1" 500 21876
[2017-01-03 20:04:58] ERROR "GET /api/auth/user/ HTTP/1.1" 500 21844
[2017-01-03 20:04:58] ERROR "GET /api/auth/user/ HTTP/1.1" 500 21844
[2017-01-03 20:05:00] ERROR "GET /api/auth/user/ HTTP/1.1" 500 21844
[2017-01-03 20:05:00] ERROR "GET /api/auth/user/ HTTP/1.1" 50

[2017-01-03 20:06] aka-jain commented on #319
@Ram81: You can work on this now. Please be ready with the updated code

[2017-01-03 20:07] aka-jain commented on #300
Are you logged in? I think your token has been expired. So try to open it in incognito.

[2017-01-03 20:09] aka-jain commented on #290
Done with PR #314 .
Closing it.

[2017-01-03 20:09] #290 closed

[2017-01-03 20:13] anweshknayak commented on #300
Yes im logged in. Tried in incognito not working. It is an issue from my end ?

[2017-01-03 20:16] deshraj commented on #300
@anweshknayak can you try with this url localhost:8000/api/auth/user and try entering details there? Let me know what the response is.

[2017-01-03 20:21] anweshknayak commented on #300
HTTP 401 Unauthorized
Allow: GET, PUT, PATCH, HEAD, OPTIONS
Content-Type: application/json
Vary: Accept
WWW-Authenticate: Token

{
    "detail": "Authentication credentials were not provided."
}

[2017-01-03 20:25] deshraj commented on #300
Can you copy the token from django admin and then set it as authorization header in the API call that you are making. You can make API calls using the django docs that we have integrated with the project. Link for django docs to test the live API: http://localghost:8000/docs

[2017-01-03 21:15] anweshknayak commented on #300
![screenshot from 2017-01-04 02 44 11](https://cloud.githubusercontent.com/assets/8139783/21623311/c5ab6970-d227-11e6-80e0-521567f54e54.png)

[2017-01-03 21:15] deshraj commented on #300
@anweshknayak Please set authorization header as `Token <token_id>`. Then it will work.

[2017-01-03 21:30] deshraj opened #324 "Change `created_by` field from integer to username in `api/hosts/challenge_host_team/` API endpoint"

[2017-01-03 21:42] gauthamzz commented on #324
can i try?

[2017-01-03 21:45] deshraj commented on #324
Sure. Go ahead.

[2017-01-03 22:08] deshraj opened #325 "Add a check for ChallengeHostTeam Ownership in Challenge Creation API"
In challenge creation API (https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L28), we should add a check if the `<challenge_host_team_pk>` belongs to the user making the request.

[2017-01-03 22:12] gauthamzz commented on #325
I think it's related to #324 . So is it okay if I try both

[2017-01-03 22:13] deshraj commented on #325
Both are independent but if you are willing to solve both of these then you are good to go.

[2017-01-03 22:13] deshraj commented on #325
Also, please make sure that you open two different PRs for both of these issues.

[2017-01-03 22:13] gauthamzz commented on #325
Okay . I'll try .

[2017-01-04 00:11] deshraj opened #327 "Add Docstring to all the API Endpoints"

[2017-01-04 04:03] deshraj opened #328 "Fix distorted header in all pages in dashboard"

[2017-01-04 05:10] anweshknayak commented on #328
related to #250? @aka-jain?

[2017-01-04 05:13] aka-jain commented on #328
@anweshknayak : It is not related to #250. I don't know but somehow due to some wrong styles our header is not working properly. Also #250 is related (mobile/talet view).

[2017-01-04 11:01] RishabhJain2018 commented on #280
@deshraj For adding tests, Can I create a file on this path `tests/unit/evalai/test_urls.py`.

[2017-01-04 11:40] itaditya commented on #300
For the front end pagination load more button  ,this [link](http://jsfiddle.net/api/post/library/pure/) can help.

[2017-01-04 12:47] gauthamzz commented on #325
can you help me with something when i try
`curl -X  POST -H "Authorization: Token id" "http://localhost:8000/api/challenges/challenge_host_team/1/challenge" `
i get this error message. I was not getting earlier.

`<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<

[2017-01-04 16:34] deshraj commented on #280
@RishabhJain2018 please use this file `tests/unit/evalai/test_views.py` for test or create one if does not exist.

[2017-01-04 16:35] deshraj commented on #280
@RishabhJain2018 We will remove the URL later. Not related to this PR. Also, we might use it somewhere in future.

[2017-01-04 16:37] deshraj commented on #325
@gauthamzz seeing the line `URL: POST http://localhost/api/challenges/challenge_host_team/1/challenge` , it looks like you are not adding the port and there is no web app running on port 80 and hence it gives you a timeout error.

[2017-01-04 16:48] gauthamzz commented on #325
How do i fix it ? any ideas ?

[2017-01-04 16:52] RishabhJain2018 commented on #280
@deshraj ok.

[2017-01-04 18:08] aka-jain commented on #319
@Ram81 : PFA of image of OWL.
![owl](https://cloud.githubusercontent.com/assets/11537940/21653385/d29e1646-d2d6-11e6-92ee-5954fd0ee795.png)

[2017-01-04 18:22] Ram81 commented on #319
@aka-jain  I will add it. :+1:

[2017-01-04 22:28] deshraj opened #331 "gulp watch command failing when trying to run gulp dev again and again"
See the error below. Let me know if anyone else is facing this issue.
[code]

[2017-01-04 22:30] RishabhJain2018 commented on #331
@deshraj Please check that `sass` is installed or not?? Also look for the `ruby` version.

[2017-01-05 05:41] RishabhJain2018 opened #333 "Add tests for testing urls in accounts app."
The tests file must be located at `tests/unit/accounts/test_urls.py`. Create one, if it doesn't exists.
For reference please use http://stackoverflow.com/questions/18987051/how-do-i-unit-test-django-urls

[2017-01-05 06:30] deshraj opened #334 "Font-awesome css not loading"

[2017-01-05 07:58] deshraj opened #336 "Create an API for deleting a user from a Participant Team"
API endpoint: `/api/participants/<participant_team_id>/`
Method: `DELETE`

A user can request this API to remove himself from the participant team. You can get the user from `request.user`.

Please comment here for more details. Also, check other APIs to delete.

[2017-01-05 07:58] RishabhJain2018 opened #337 "Add tests for testing urls in challenges app."
The tests file must be located at tests/unit/challenges/test_urls.py. Create one, if it doesn't exists.
For reference please use http://stackoverflow.com/questions/18987051/how-do-i-unit-test-django-urls

[2017-01-05 07:59] deshraj opened #338 "Create an API endpoint for deleting a User from a Host Team"
API endpoint: `/api/hosts/<hosts_team_id>/`
Method: `DELETE`

A user can request this API to remove himself from the host team. You can get the user from `request.user`.

Please comment here for more details. Also, check other APIs to delete.

[2017-01-05 08:00] deshraj commented on #336
Sure, go ahead. Let me know if you need help.

[2017-01-05 08:01] RishabhJain2018 opened #339 "Add tests for testing urls in hosts app."
The tests file must be located at tests/unit/hosts/test_urls.py. Create one, if it doesn't exists.
For reference please use http://stackoverflow.com/questions/18987051/how-do-i-unit-test-django-urls

[2017-01-05 08:02] RishabhJain2018 opened #340 "Add tests for testing urls in participants app."
The tests file must be located at tests/unit/participants/test_urls.py. Create one, if it doesn't exists.
For reference please use http://stackoverflow.com/questions/18987051/how-do-i-unit-test-django-urls.

[2017-01-05 08:07] RishabhJain2018 opened #341 "Add tests for testing urls in project directory."
The tests file must be located at tests/unit/evalai/test_urls.py. Create one, if it doesn't exists.
For reference please use http://stackoverflow.com/questions/18987051/how-do-i-unit-test-django-urls.

[2017-01-05 08:07] deshraj commented on #338
@RishabhJain2018 I have assigned this also since this is very similar to #336

[2017-01-05 08:09] RishabhJain2018 commented on #338
okk sure.

[2017-01-05 09:20] deshraj commented on #341
Thanks @RishabhJain2018 for opening this issue. This is a really great step in setting TDD.

[2017-01-05 23:10] deshraj opened #346 "Create an API endpoint to get all the challenges participated by the user"
URL: `/api/challenges/get_all_challenges_participated_by_user/`
Method: GET

[2017-01-05 23:11] RishabhJain2018 commented on #346
@deshraj Can I work on this?

[2017-01-05 23:11] deshraj opened #347 "Create an API endpoint to get all the challenges hosted by the user"
URL: /api/challenges/get_all_challenges_hosted_by_user/
Method: GET

[2017-01-05 23:12] deshraj commented on #346
Sure, let me know if you need some help.

[2017-01-05 23:13] RishabhJain2018 commented on #346
okk.

[2017-01-05 23:16] deshraj commented on #324
@gauthamzz are you working on it? If yes, can you please do it quicker since we need to fix it soon.

[2017-01-06 05:51] #338 closed

[2017-01-06 05:51] #336 closed

[2017-01-06 09:48] anweshknayak commented on #333
@deshraj @RishabhJain2018 anyone working on this ?

[2017-01-06 11:31] gauthamzz commented on #324
@deshraj I'm trying but something is wrong with testing it . cos of proxy . ill try to do it fast

[2017-01-06 14:13] RishabhJain2018 commented on #347
@deshraj Can I work on this ?

[2017-01-06 14:27] RishabhJain2018 commented on #333
@anweshknayak No, I don't think so. If you want to work then please ask **deshraj** to assign it to you.

[2017-01-06 21:53] deshraj commented on #333
@anweshknayak You can work on it. Assigning it to you. :-)

[2017-01-06 21:53] deshraj commented on #347
Sure. Assigning it to you.

[2017-01-06 21:55] deshraj commented on #324
Oh wait, I know this error. We recently integrated memcache backend with the codebase so you hace to include those settings. Please re-copy the dev.sample.py to dev.py since there are new changes in there.

[2017-01-07 00:36] deshraj opened #352 "Integrate Eslint with the frontend code"

[2017-01-07 00:36] deshraj commented on #352
For reference, see this http://eslint.org/docs/user-guide/configuring

[2017-01-07 04:57] RishabhJain2018 commented on #352
@deshraj Can I work on this??

[2017-01-07 08:19] anweshknayak commented on #337
@deshraj can I work on this ?

[2017-01-07 08:20] anweshknayak commented on #341
@deshraj  can I work on this ?

[2017-01-07 10:04] RishabhJain2018 commented on #352
@deshraj should I create the configuration file at `EvalAI/.eslintrc.json` this location?

[2017-01-07 10:09] aka-jain commented on #352
@RishabhJain2018 : Do some research and find the best way to integrate Eslint by your own.

[2017-01-07 10:10] RishabhJain2018 commented on #352
@aka-jain okk sure.

[2017-01-07 14:58] parismita commented on #339
Hey I am new here. Shall i try this? what exactly do i have to do ?

[2017-01-07 15:47] parismita opened #357 "settings/dev.sample.py changed but not updated in Readme.md"
no USER and PASSWORD field in dev.sample.py as written in Readme

[2017-01-07 15:49] gauthamzz commented on #324
Its working now . Can you give me a hint how to solve this ?

[2017-01-07 15:51] gauthamzz commented on #357
just add

'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'evalai',
        'USER': 'your username',
        'PASSWORD': 'your password',
        'HOST': 'localhost',
        'PORT': '5432',
    }

[2017-01-07 15:54] anweshknayak commented on #331
@aka-jain facing the same error . any fix ?

[2017-01-07 16:35] Ram81 commented on #341
@deshraj  can you assign this to me?

[2017-01-07 16:36] aka-jain commented on #331
@deshraj : thanks to mention this bug. Anyone intereseted to solve this issue?

Basically, this is due to delete task of gulp which is deleting files while watch task correspondingly check for those  files which doesn't exist as gulp dev also runs del task. So need to handle watch task.

Please go through this link to solve this issue.
http://stackoverflow.com/questions/35733090/gulp-watch-delete-

[2017-01-07 16:38] anweshknayak commented on #331
@aka-jain since this is creating problem for me. Can I fix this ?

[2017-01-07 16:50] aka-jain commented on #331
@anweshknayak : sure, go ahead.

[2017-01-07 16:52] aka-jain commented on #331
@deshraj , @anweshknayak: one important thing don't run dev again and again, it is only made to run once when you start developement and left everything on watch task.

[2017-01-07 18:36] deshraj commented on #324
Can you tell me that what was the issue?

[2017-01-07 18:40] gauthamzz commented on #324
the created by field was returning user id instead of username

[2017-01-07 18:43] gauthamzz commented on #324
the created by field was returning user id instead of username @deshraj .
{"count":5,"next":null,"previous":null,"results":[{"id":1,"team_name":"Gautham","created_by":1},{"id":4,"team_name":"gfffff","created_by":1},{"id":5,"team_name":"dhggggggggg","created_by":1},{"id":6,"team_name":"sssssssssssssssss","created_by":1},{"id":7,"team_name":"adssssssssssss","created_by":1}]}%

needed to be changed t

[2017-01-07 18:48] gauthamzz commented on #324
This was how it was supposed to look

'default': {
'ENGINE': 'django.db.backends.postgresql_psycopg2',
'NAME': 'evalai',
'USER': 'your username',
'PASSWORD': 'your password',
'HOST': 'localhost',
'PORT': '5432',
}

but the field password is not there and field NAME is not equal to EVALAI @deshraj

[2017-01-07 20:12] deshraj commented on #357
Sorry, my bad. Thanks @parismita for opening this issue. Do you want to take lead on this and fix it?

[2017-01-07 20:26] parismita commented on #357
yeah

[2017-01-07 20:40] deshraj opened #362 "Add a timeout field in Submission model"
Add a new field `timeout` in `Submission` model in jobs app. Set the default to `300 seconds`.

[2017-01-07 20:41] deshraj opened #363 "Set django cache backend for the development environment"
Currently, we are using memcached for caching in the development environment also. We should change it to default django cache backend.

Let me know if you have questions.

[2017-01-07 20:41] anweshknayak commented on #362
@deshraj can I work on this?

[2017-01-07 20:44] deshraj opened #364 "Create is_public field in Phase model"
We would like to add a new field `is_public` in phase model to check if the particular phase is set active by the host team or not. Set the default value to `False`.

[2017-01-07 20:44] deshraj commented on #362
Sure, assigning it to you.

[2017-01-07 20:51] gauthamzz commented on #364
Can you assign this to me , do we need a named migration after this ?

[2017-01-07 20:52] RishabhJain2018 commented on #363
@deshraj Can I work on this?

[2017-01-07 20:53] deshraj commented on #364
@gauthamzz I am glad to see such enthusiasm but can you please finish other issues before I assign you any new ?

[2017-01-07 20:54] deshraj commented on #363
Sure. Assigning it to you. :-)

[2017-01-07 21:16] RishabhJain2018 commented on #363
@deshraj For a suggestion, can we use [this](https://docs.djangoproject.com/en/1.10/topics/cache/#dummy-caching-for-development) cache backend for development ?

[2017-01-07 21:19] deshraj commented on #363
Sounds good to me.

[2017-01-07 21:36] deshraj commented on #357
You should change the `dev.sample.py`

[2017-01-07 21:51] deshraj commented on #357
Fixed.

[2017-01-07 21:51] #357 closed

[2017-01-07 21:53] deshraj commented on #339
Yeah @parismita, it will be a good start for you. Let me know if you need some help.

[2017-01-07 22:00] deshraj opened #368 "Move uWSGI to prod requirements file"
Move this https://github.com/Cloud-CV/EvalAI/blob/master/requirements/common.txt#L13 to `requirements/prod.txt`

[2017-01-07 22:02] RishabhJain2018 commented on #368
@deshraj Can I work on this?

[2017-01-07 22:05] deshraj commented on #368
Sure.

[2017-01-07 22:07] deshraj commented on #363
Fixed.

[2017-01-07 22:07] #363 closed

[2017-01-07 22:07] deshraj commented on #352
Assignin to @aka-jain now.

[2017-01-07 23:35] anweshknayak commented on #362
any hint for this ?

[2017-01-07 23:43] anweshknayak commented on #333
@RishabhJain2018 as you said django-allauth is already a tested. close this ?

[2017-01-08 01:05] deshraj commented on #333
@anweshknayak there is one url in accounts app that needs to be tested. Please see this https://github.com/Cloud-CV/EvalAI/blob/master/apps/accounts/urls.py#L7

[2017-01-08 01:07] deshraj commented on #362
Anwesh, see this https://docs.djangoproject.com/en/1.10/ref/models/fields/#timefield

[2017-01-08 01:08] deshraj commented on #368
Fixed.

[2017-01-08 01:08] #368 closed

[2017-01-08 02:09] deshraj commented on #331
@aka-jain @anweshknayak I am still facing the same error. Please see the log below:

[code]

[2017-01-08 02:15] anweshknayak commented on #258
close this ?

[2017-01-08 02:19] aka-jain commented on #331
@anweshknayak : please look at it once again? Maybe the path thing makes it wrong

[2017-01-08 02:21] aka-jain commented on #258
Thanks @anweshknayak .
Closing issue with reference PR at #315

[2017-01-08 02:21] #258 closed

[2017-01-08 03:54] aka-jain opened #371 "Expand team to show team members"
In team view, there is an option to show members of team. Need to implement it such that clicking on card expand with its team member also add toggle functionality to cards.

Let me know in case of any query .

[2017-01-08 04:02] aka-jain opened #372 "Show count in Dashbboard view cards"
Add count to all mentioned cards in Dashboard.
Example: for card participated challenges show number of participated challenges of user just above the text written and over the image.

[2017-01-08 04:20] Ram81 commented on #364
@deshraj can you assign this one to me?

[2017-01-08 04:23] Ram81 commented on #372
@aka-jain can you assign this to me?

[2017-01-08 04:24] aka-jain commented on #372
@Ram81 : Sure, go ahead.

[2017-01-08 04:25] Ram81 commented on #371
@aka-jain  can you assign this to me?

[2017-01-08 04:27] Ram81 commented on #372
any hints?

[2017-01-08 05:06] deshraj commented on #371
@Ram81 please try to do one issue at a time. Otherwise it blocks the overall development. We have enugh number of issues for you to solve. :-)

[2017-01-08 05:10] aka-jain commented on #372
Go thorugh the API doc first at /docs on your django server. From that, you can get the API's that will be needed here to call count of each card. If count field doesn't exist then you can use length to find count of an Object.
Got it?
You can take help related to API calls from other controllers. In case you want to know more about API services in angular then let me know, happy to help you :)

@

[2017-01-08 05:16] deshraj opened #374 "Modify the distance of the footer from the top of the screen"
The footer on the dashboard should start from the height equal to the height of the screen. Please let us know if you have doubts.

[2017-01-08 05:17] deshraj commented on #371
This issue will apply for both the participant team view and the challenge host team view.

[2017-01-08 05:18] deshraj commented on #372
@Ram81 if you have started working on this, then can you please check the /docs and let me know if you can find the relevant API endpoints.

[2017-01-08 05:25] anweshknayak commented on #331
Yes something to do with the base path. Will fix it.

[2017-01-08 05:42] Ram81 commented on #371
@deshraj  I will do this one now.
any hints for this one?

[2017-01-08 05:49] aka-jain commented on #371
@Ram81: I think you should do #372 first, it will be helpful for you to give an overview of whole system.
If you still want to do this then let me know please. I'll make #372 free for others.

[2017-01-08 05:50] gauthamzz commented on #324
close this ?

[2017-01-08 05:51] deshraj commented on #324
Thanks @gauthamzz  :-)

[2017-01-08 05:51] #324 closed

[2017-01-08 05:55] Ram81 commented on #371
@aka-jain Okay as you say I will try #372 first

[2017-01-08 06:08] Ram81 commented on #372
@deshraj  I'll see & let you know if any doubts!

[2017-01-08 06:26] jainarunarunjain opened #375 "Blank screen is coming while running django server"
![image](https://cloud.githubusercontent.com/assets/16155501/21747806/a3188e16-d528-11e6-8071-170111bd8aca.png)

localhost:8000 is blank and django server is throwing warnings.

[2017-01-08 06:39] anweshknayak commented on #375
update repo. and remember to pip install the requirement files too.

[2017-01-08 07:00] jainarunarunjain commented on #375
@anweshknayak Still not working

[2017-01-08 07:13] parismita commented on #339
@deshraj  I am having a ImportError: Failed to import test module: for all tests. I have updated openssl, npm,node.js and curl still the problem persist.

[2017-01-08 07:14] deshraj commented on #339
Can you please send the screenshot?

[2017-01-08 07:19] parismita commented on #339
![screenshot from 2017-01-08 12 48 49](https://cloud.githubusercontent.com/assets/17319560/21748075/d3c79ec6-d5a0-11e6-8e0e-c004e845d5c9.png)
same error for all tests

[2017-01-08 07:41] deshraj commented on #339
Can you try installing the python packages in a virtual environment. I think you are facing the error since you are not running tests in virtual environment. Please try and let me know if that doesn't work.

[2017-01-08 07:42] anweshknayak commented on #375
update the bower components too

[2017-01-08 07:42] anweshknayak commented on #375
and there were some recent changes in README have a look

[2017-01-08 07:45] parismita commented on #374
yeah its working now

[2017-01-08 07:45] parismita commented on #339
its working now

[2017-01-08 07:45] deshraj commented on #339
Awesome :-)

[2017-01-08 07:55] TroJan opened #377 "Update folder name everywhere to follow snake_case convention"
Lets maintain a uniform naming convention standard for deciding folder names. Folder name should be in plural(wherever possible) and name should be in snake_case convention. Possible places where this change will be done is in `upload_to` function of many models. Also please add a named migration for it.

[2017-01-08 08:05] TroJan commented on #377
Fixed in #378

[2017-01-08 08:05] #377 closed

[2017-01-08 08:22] anweshknayak commented on #362
@deshraj I have one doubt. You mentioned timeout? I couldn't actually get how to proceed with this. TimeField as it says in docs time( represented in Python by a datetime.time instance ) How about setting default to 300s ?

[2017-01-08 08:31] deshraj commented on #362
See this https://docs.python.org/2/library/datetime.html#datetime.timedelta.total_seconds. This might help.

For eg. you can create a 300 secs datetime object using following code:
[code]

[2017-01-08 08:32] RishabhJain2018 commented on #346
@deshraj As discussed with **TroJan** in #349 , please asssign this to TroJan.

[2017-01-08 08:33] RishabhJain2018 commented on #347
@deshraj As discussed with **TroJan** in #350 , please assign this to TroJan.

[2017-01-08 08:35] RishabhJain2018 commented on #374
@deshraj Can I work on this ?

[2017-01-08 08:35] deshraj commented on #374
Sure. Assigning it to you.

[2017-01-08 08:36] deshraj commented on #375
@jainarunarunjain is the issue resolved or not?

[2017-01-08 08:38] jainarunarunjain commented on #375
i had already done this but nothing happened

[2017-01-08 08:40] deshraj commented on #375
Can you make request to any API endpoint?

[2017-01-08 08:53] jainarunarunjain commented on #375
@deshraj yes, api request is working

[2017-01-08 09:35] Ram81 commented on #372
@deshraj  for create challenge card I have to use API Endpoint from challenges App,am I right?

[2017-01-08 10:40] anweshknayak commented on #340
@deshraj as I have finished all of you assigned. can I work on this ?

[2017-01-08 10:43] deshraj commented on #340
Sure, go ahead.

[2017-01-08 10:54] TroJan commented on #362
@deshraj : what if we create this as a positive integer field with default value of 300 ? Also can we please keep the name as execution_time_limit. This is actually self explanatory.

[2017-01-08 11:01] parismita commented on #337
@deshraj  shall i try this too....its similar

[2017-01-08 11:24] deshraj commented on #337
Sure. Assigning it to you. :-)

[2017-01-08 11:38] dexter1691 commented on #352
@RishabhJain2018: This resource might be very useful: https://github.com/airbnb/javascript
It's the gold standard guidelines used by a lot of javascript repositories.

[2017-01-08 12:11] dexter1691 commented on #169
Being handled separately in VQA-Evaluation repository

[2017-01-08 12:11] #169 closed

[2017-01-08 12:13] dexter1691 commented on #331
@anweshknayak: Assigning it to you. To better analyze work-loads.

[2017-01-08 12:16] anweshknayak commented on #331
@dexter1691 I have already fixed this . #379

[2017-01-08 12:17] deshraj commented on #331
Closing it. :-)

[2017-01-08 12:17] #331 closed

[2017-01-08 12:18] deshraj commented on #280
Looks like this is causing issue. @jainarunarunjain is working on it. Let me know @jainarunarunjain if you want some context about the bug.

[2017-01-08 12:20] dexter1691 commented on #250
@deshraj : Actually, I am not sure - Is this fixed now?

[2017-01-08 12:21] dexter1691 commented on #300
@anweshknayak : Any progress on this?

[2017-01-08 12:22] deshraj commented on #250
@aka-jain is keeping track of this issue. Lets keep it open and let Akash make a decision on this.

[2017-01-08 12:22] anweshknayak commented on #300
@dexter1691 yes pagination is almost done. A few tweaks to the button(next,previous) is required. Will fix it soon :)

[2017-01-08 14:24] Ram81 commented on #372
@deshraj @aka-jain for create challenge card I have to use API Endpoint from challenges App,am I right?

[2017-01-08 18:59] parismita commented on #337
@deshraj I am not able to get what challenge_time is and where is it declared....can u please tell we what is to be done there
last url test which is commented in the pull request

[2017-01-08 19:14] parismita commented on #341
Shall i try this after completion of test of challenge urls?
What exactly is to be done here ?

[2017-01-08 20:42] shivanXI commented on #75
I am also interested in this one @aka-jain , if the design is ready can you assign it to me to do it ?

[2017-01-08 20:49] aka-jain commented on #75
@shivanXI : Sure, will do it.

[2017-01-08 21:55] aka-jain commented on #352
@dexter1691 : Airbnb guidelines are really awesome but we are already using John Papa Guidelines for our Javascript (Angular1), also currently we are not working on ES6 version which is highly recommendable for production now a days so I think at this point this repo may not be useful for us as many guidlines are related to ES6. But to make code quality good, John Papa guidelines are also fair eno

[2017-01-08 22:51] deshraj commented on #364
Fixed in #373.

[2017-01-08 22:51] #364 closed

[2017-01-08 22:55] deshraj commented on #341
I think this a duplicate issue. The issues are opened with respect to all the apps. Closing it now.

[2017-01-08 22:56] deshraj commented on #339
Fixed in #380

[2017-01-08 22:56] #339 closed

[2017-01-08 23:22] deshraj opened #387 "Create the job submission API"

[2017-01-09 00:37] deshraj opened #388 "Remove test_annotation field from ChallengePhase serializer"
We should remove the field `test_annotation` from all the APIs related to Challenge Phase since this data has to be only accessed by the Challenge Organizer.

[2017-01-09 09:38] RishabhJain2018 opened #390 "Increase the code quality in landscape."
@deshraj I found the code quality is low in landscape.io . Please refer to this [link](https://landscape.io/github/Cloud-CV/EvalAI/547/messages/smell).

Can I work on this to fix this??

[2017-01-09 09:39] deshraj commented on #390
Oh this looks like a good initiative. Do you want to work on this? I was going to open an issue for the same.

[2017-01-09 10:10] aka-jain commented on #319
Closing it, fix with #359

[2017-01-09 10:10] #319 closed

[2017-01-09 10:23] RishabhJain2018 commented on #390
@deshraj yeah sure.

[2017-01-09 12:28] RishabhJain2018 commented on #341
@deshraj No, this issue is with respect to this [file](https://github.com/Cloud-CV/EvalAI/blob/master/evalai/urls.py). I think there are two-three urls for which tests are to be written, so we should reopen this issue. What do you say?

[2017-01-09 17:29] Ram81 commented on #333
@RishabhJain2018  @deshraj  is this issue open? can you assign this to me?

[2017-01-09 17:32] Ram81 commented on #388
@deshraj  can I try this one?

[2017-01-10 03:44] #340 closed

[2017-01-10 03:53] #333 closed

[2017-01-10 09:46] souravsingh commented on #327
@deshraj I would like to work on the issue.

[2017-01-10 09:48] deshraj commented on #327
@souravsingh Sorry, this one is already assigned to @TroJan. Feel free to pick any unassigned issue. :-)

[2017-01-10 09:49] souravsingh commented on #390
@deshraj I am interested in working on the issue if no one else is working

[2017-01-10 09:53] deshraj commented on #390
@souravsingh: Sorry, @RishabhJain2018 is already working on this.

[2017-01-10 10:01] TroJan commented on #327
@souravsingh : you can work on this, I am little busy with other issues.
@deshraj : please re assign it.

[2017-01-10 10:01] deshraj commented on #327
Oh Ok. @souravsingh If you are interested then you can work on this issue. :-)

[2017-01-10 10:22] deshraj commented on #325
@souravsingh This one is already fixed. The PR is under review.

[2017-01-10 10:36] anweshknayak opened #399 "pip install -r requirements/dev.txt breaks"
Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-YodbBn/twisted/

[2017-01-10 10:38] anweshknayak commented on #399
Faced this while running a fresh install on different Ubuntu 14.04 PC.

[2017-01-10 10:38] deshraj commented on #399
Can you please post a screenshot ?

[2017-01-10 10:40] anweshknayak commented on #399
![screenshot from 2017-01-10 16 10 02](https://cloud.githubusercontent.com/assets/8139783/21803243/3d5d3210-d74f-11e6-8841-935588f4a09a.png)

[2017-01-10 10:54] RishabhJain2018 commented on #399
@anweshknayak Please try this [link](http://stackoverflow.com/questions/35991403/python-pip-install-gives-command-python-setup-py-egg-info-failed-with-error-c). May be the setuptools are not upgraded.

[2017-01-10 11:03] anweshknayak commented on #399
Tried that too before. Doesn't work

[2017-01-10 19:12] anweshknayak commented on #362
@deshraj it is done should be closed

[2017-01-10 20:26] TroJan commented on #362
Merged in #391 . thanks @anweshknayak :)

[2017-01-10 20:26] #362 closed

[2017-01-10 21:24] deshraj commented on #399
@anweshknayak please update the python version to solve this problem.

[2017-01-10 23:49] deshraj opened #404 "Add approved_by_admin field in Challenge Model"

[2017-01-11 03:31] deshraj opened #406 "Add a new status option in Submission model"
For reference, see this https://github.com/Cloud-CV/EvalAI/blob/master/apps/jobs/models.py#L25

We want to add a new status option with name `SUBMITTING = "submitting"`

[2017-01-11 03:36] Ram81 commented on #406
@deshraj  as I am not working on any issue currently can I work on this?

[2017-01-11 03:37] deshraj commented on #406
Sure, go ahead. Assigning it to you. :-)

[2017-01-11 03:40] Ram81 commented on #406
@deshraj  I just have to add the option name submitting & add it in status_Options in the Submission model ,am I right ? or do I have to change any other code?

[2017-01-11 03:41] deshraj commented on #406
You would also need to add an entry similar to this https://github.com/Cloud-CV/EvalAI/blob/master/apps/jobs/models.py#L32

[2017-01-11 03:42] Ram81 commented on #406
Okay Understood @deshraj will do it & let you know?

[2017-01-11 03:42] deshraj commented on #406
Sounds good.

[2017-01-11 03:50] Ram81 commented on #406
@deshraj  sorry for this I will just remove directive.js from it !

[2017-01-11 04:42] #404 closed

[2017-01-11 04:45] TroJan commented on #406
@deshraj : please make sure that migrations(named please) are also there in the PR.

[2017-01-11 04:46] deshraj commented on #406
Sure, will take of it.

[2017-01-11 05:35] TroJan commented on #406
@Ram81 : thanks for the quick fix :)

[2017-01-11 05:35] #406 closed

[2017-01-11 12:39] deshraj commented on #341
Oh just realized that. Reopening it.

[2017-01-11 13:13] RishabhJain2018 commented on #390
@deshraj I think we should close this?

[2017-01-11 13:13] deshraj commented on #390
Thanks. :-)

[2017-01-11 13:13] #390 closed

[2017-01-11 13:14] deshraj commented on #399
I think the issue is solved now. Closing it. Please feel free to reopen if you are still facing this problem.

[2017-01-11 13:14] #399 closed

[2017-01-11 14:36] parismita commented on #341
i'll do this

[2017-01-11 16:43] parismita commented on #388
is anyone doing this??

[2017-01-11 16:51] Ram81 commented on #388
yeah I want to work on this one!

[2017-01-11 19:41] parismita commented on #388
yooo...no issue...i was just asking

[2017-01-12 05:02] Ram81 commented on #388
yeah its fine

[2017-01-12 08:54] deshraj commented on #374
Fixed in #420

[2017-01-12 08:54] #374 closed

[2017-01-12 12:28] deshraj opened #421 "Create API endpoint to get all the submissions made by user for a challenge phase"

[2017-01-12 12:30] RishabhJain2018 commented on #421
@deshraj Can I work on this?

[2017-01-12 12:31] deshraj commented on #421
Yeah Sure. Assigning it to you.

[2017-01-12 12:31] deshraj commented on #421
Let me know if you need some help.

[2017-01-12 12:32] RishabhJain2018 commented on #421
ok.

[2017-01-12 13:24] gauthamzz commented on #325
Close this ? @deshraj

[2017-01-12 13:25] deshraj commented on #325
Yup sure. Thanks for your help in solving this issue. :-)

[2017-01-12 13:25] #325 closed

[2017-01-12 21:33] aka-jain commented on #75
@spyshiv : assigning this to you.

[2017-01-12 21:36] aka-jain commented on #300
@anweshknayak : sorry to inform you late, but why you are using prev and next button here? We hae to show only load more button. Do you need any help?

[2017-01-12 21:40] aka-jain commented on #250
@spyshiv : do you want to work on this?

[2017-01-12 21:41] aka-jain commented on #118
@spyshiv : assigning this to you.

[2017-01-12 23:51] jayantsa commented on #371
@aka-jain can I work on this?

[2017-01-13 01:20] deshraj commented on #388
Assigning to @Ram81 :-)

[2017-01-13 03:50] anweshknayak commented on #300
@aka-jain That was before when I was using plug - in. I thought that would be better to include prev and next. I will let you know in case of help :) I am working on it.

[2017-01-13 04:27] deshraj opened #424 "Clear input field after creating a Participant Team"
On the `My Participant Team` view, once the user creates a participant team, then the input field should become empty.

Please see the screenshot below for more information.
<img width="1439" alt="screen shot 2017-01-12 at 11 27 17 pm" src="https://cloud.githubusercontent.com/assets/2945708/21918384/b2cde00a-d91e-11e6-977e-942fb0d38886.png">

[2017-01-13 04:31] deshraj opened #425 "Clear input field after creating a Host Team"
On the 'My Hosts Team' view, once the user creates a host team, then the input field should become empty.

Please see the screenshot below for more information.
<img width="1440" alt="screen shot 2017-01-12 at 11 29 55 pm" src="https://cloud.githubusercontent.com/assets/2945708/21918420/28f82b3c-d91f-11e6-9892-d5cd55a99714.png">

[2017-01-13 05:28] anweshknayak commented on #425
@deshraj can I work on this ?

[2017-01-13 05:28] Ram81 commented on #388
@deshraj  I've removed ' test_annotation ' field from ChallengePhaseSerializer's meta class is there any other dependency I should look for?

[2017-01-13 05:29] deshraj commented on #388
Can you please write test for the same and check if this field is returned or not in response from the APIs?

[2017-01-13 05:30] Ram81 commented on #388
Sure will do that :+1:

[2017-01-13 05:32] deshraj commented on #425
@anweshknayak looks like you are already working on #300. Please try to finish that first.

[2017-01-13 05:40] deshraj opened #426 "Remove the radio button from the My Participant Team View"
See the line: https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/views/web/teams.html#L20

We need to remove the radio buttons and replace them by https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/views/web/challenge-host-teams.html#L19

Let me know if you have concerns.

[2017-01-13 05:45] Ram81 commented on #388
@deshraj Do I have remove other tests from CreateChallengePhaseTest & UpdateChallengePhaseTest  as we removed field from Serializer?

[2017-01-13 05:48] deshraj commented on #388
@Ram81 No, you don't need to remove the tests. Just make changes to the existing tests to check if the `test_annotation` field is present or not in all those APIs. Does that make sense?

[2017-01-13 05:51] Ram81 commented on #388
I've to just revert the tests i.e if field is not present  ok response will be there else a basd request,am I right?

[2017-01-13 05:52] deshraj commented on #388
I think it would be a good idea to create a PR and then I can suggest the changes.

[2017-01-13 05:53] Ram81 commented on #388
@deshraj Okay will do & let you know

[2017-01-13 07:01] RishabhJain2018 commented on #421
@deshraj In **[this](https://github.com/Cloud-CV/EvalAI/blob/master/apps/jobs/views.py#L27)** function, shouldn't we check the flag value for `approved_by_admin` field [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/models.py#L34) for submitting to a challenge ?

[2017-01-13 08:35] gauthamzz commented on #426
I would like to try this, but i get errors thrown when installing frontend :disappointed:
`npm install
npm WARN evalai@1.0.0 No repository field.`

[2017-01-13 08:38] aka-jain commented on #426
@gauthamzz : That's not the error, your client side should work fine. Moreover have you read Readme again, it has been updated. Also try to run gulp dev and see if errors are coming or not.

[2017-01-13 09:03] deshraj commented on #421
Yeah, great thought. We will add a decorator for the same in another PR. I am keeping a note of the same.

[2017-01-13 09:05] RishabhJain2018 commented on #421
So, Can I submit the PR without adding this decorator?

[2017-01-13 09:05] deshraj commented on #421
Sure, go ahead.

[2017-01-13 10:00] parismita commented on #424
@deshraj  Shall i try this?

[2017-01-13 10:01] deshraj commented on #424
Yup sure. Assigning it to you.

[2017-01-13 10:06] deshraj opened #428 "Instance is None while saving the file in Submission Model"
In Submission model, when the model is saved then the path where the `input_file` is saved is `submission_files/submission_None/` but ideally the `None` should be replaced with the id of the submission.

[2017-01-13 10:48] parismita commented on #424
@deshraj after creating new team why does it automatically redirects to challenge-page.html??

[2017-01-13 10:50] deshraj commented on #424
Actaully, the files are not refreshed since you last pulled the code from master branch. Please run `gulp dev` in the root directory of the project and it should work fine.

[2017-01-13 12:26] spyshiv commented on #118
@aka-jain : Cool. I am working on it.

[2017-01-13 13:24] Ram81 commented on #388
@deshraj do I have to just add a test in GetChallengePhaseTest class in test_view.py or some other ones too or am I doing it totally wrong, please guide?

[2017-01-13 13:28] parismita commented on #424
@deshraj if the PR is fine then i can try #425

[2017-01-13 13:33] deshraj commented on #424
@parismita I would like to make @aka-jain call on this. @aka-jain can you please review the PR?

[2017-01-13 13:57] deshraj commented on #388
Yeah, you are correct.

[2017-01-13 13:59] RishabhJain2018 commented on #387
@deshraj I think we should close this?

[2017-01-13 14:00] deshraj commented on #387
Fixed in #396. Closing it.

[2017-01-13 14:00] #387 closed

[2017-01-13 14:03] Ram81 commented on #388
@deshraj so there I've to remove test_annotations field from 'expected[]' ,right?

[2017-01-13 14:05] deshraj commented on #388
Yup. You might also need to add one or more test cases. Can you open a PR once you are done with the changes and then we can see what other changes do we need to make?

[2017-01-13 14:05] Ram81 commented on #388
Okay for now I will remove the field & generate a PR & then you suggest changes !

[2017-01-13 14:25] RishabhJain2018 commented on #371
@aka-jain @deshraj Is someone working on this issue ??

[2017-01-13 15:16] aka-jain commented on #371
@rishab please work on any other issue, I'm assigning it to @jayantsa.
@jayantsa please go ahead, and let me know if you need any help

[2017-01-13 15:18] RishabhJain2018 commented on #371
@aka-jain okk sure :-)

[2017-01-13 20:00] aka-jain opened #432 "New Design Buttons Elements"
Please check attached file for new design button (host challenge button in design). Need to design a global component for button which can be use anywhere with common class name.
Points need to be focus:
1. Button color,
2. Button Border-radius,
3. Button back shadow and shadow color,
4. Button text color and font-weight.
5. Class name should be unique,
6. Write a sass in sepearate file. Don't put

[2017-01-13 20:29] RishabhJain2018 commented on #432
@aka-jain Can I work on this?

[2017-01-13 20:33] aka-jain opened #433 "Update variable.scss file for new UI"
Change the variables file of scss with new color codes as mentioned below:
1. Gradient : blue= #323d8a, purple= #af34d3
2. Dark blue (Primary color): dark blue = #382373
3. Light gray (secondary colors) : light gray = #9d9d9d
4. dark gray (secondary colors): dark gray = #4d4d4d

**Note: Please make PR to new-ui branch instead of master branch. The changes will be later merged into master.**
Please

[2017-01-13 20:37] aka-jain commented on #432
@RishabhJain2018 : Do #432 first, it will be helpful to set colors easily here.

[2017-01-13 20:38] RishabhJain2018 commented on #432
Okk sure.

[2017-01-13 20:57] spyshiv commented on #75
@aka-jain: As we will work on new ui so we will get back to this issue later.

[2017-01-13 21:39] deshraj commented on #421
Fixed in #427. Closing it.

[2017-01-13 21:39] #421 closed

[2017-01-13 21:41] jayantsa commented on #371
@aka-jain Is there any API endpoint that returns participants based on team name

[2017-01-13 21:43] RishabhJain2018 opened #436 "Decorator to check that Challenges are approved by admin or not."
Add a decorator to check whether a challenge is being `approved_by_admin` or not. Also add the test cases regarding the same.

@deshraj Can I work on this ?

[2017-01-13 21:44] aka-jain commented on #371
@deshraj : can you help @jayantsa  here?

[2017-01-13 21:44] deshraj commented on #436
Looks like you have a good insight about the APIs. Thanks for pointing this issue.

You can surely work on this. Assigning it to you. :-)

[2017-01-13 21:47] deshraj commented on #371
@jayantsa Please look at the http://localhost:8000/docs and you can find an API endpoint with url ` /api/participants/participant_team/<pk>` which gives you the details of a challenge based on the primary key of the team which is `<pk>` here. For eg. for a challenge with primary key `1`, the url will be ` /api/participants/participant_team/1`.

Please let me know if you have more queries.

[2017-01-13 21:48] deshraj commented on #433
Fixed in #435. Closing it.

[2017-01-13 21:48] #433 closed

[2017-01-13 21:48] aka-jain commented on #432
@RishabhJain2018 : Now you can work on this.

[2017-01-13 22:49] jayantsa commented on #371
@deshraj  This API returns > **Object { id: 1, team_name: "team2", created_by: "jayant" }**  but inorder to show Team members in particular team we should return **Object { count: 3, next: null, previous: null, results: Array[3] }** where array contains all the Participants from participant db havind team_name="team2". Am i right ?

[2017-01-13 23:56] Rishav09 commented on #426
hi,I want to work on this issue,

[2017-01-14 00:16] spyshiv commented on #426
@Rishav09 - Sure! Go ahead.

[2017-01-14 02:00] TroJan commented on #341
Fixed in #419 .

[2017-01-14 02:00] #341 closed

[2017-01-14 06:28] #337 closed

[2017-01-14 08:36] Ram81 commented on #388
@deshraj  what about tests you wanted me to write?

[2017-01-14 08:47] Ram81 commented on #372
@aka-jain  are the API's ready for this issue,so that I can start to work on it?

[2017-01-14 08:49] deshraj commented on #372
@Ram81 we are not ready with this. Once we have the APIs ready for this, I will let you know.

[2017-01-14 11:38] spyshiv commented on #250
this issue is fixed. @aka-jain : please close this issue.

[2017-01-14 11:40] deshraj commented on #250
Fixed in #434. Closing it.

[2017-01-14 11:40] #250 closed

[2017-01-14 13:36] deshraj commented on #425
Fixed in #430

[2017-01-14 13:36] #425 closed

[2017-01-14 13:36] deshraj commented on #424
Fixed in #429. Closing it.

[2017-01-14 13:36] #424 closed

[2017-01-14 14:06] parismita commented on #375
@jainarunarunjain do gulp dev and gulp connect and runservser simultaniously and goto localhost/8888.....there is the actual website..... i think localhost/8000 is just the backend part and the views r not directly linked to html thts wht it is so......not so sure abt it.......but the site is at localhost/8888 not localhost/8000 thts for sure

[2017-01-14 14:07] parismita commented on #375
@deshraj i dont think this is a bug, this is how it is i guess....(just guessing :-P )

[2017-01-14 14:09] deshraj commented on #375
No, you are right. I have discussed with @jainarunarunjain the same on Gitter. Thanks for your input @parismita :-) Glad that you are trying to help others.

[2017-01-14 14:35] Ram81 opened #439 "Profile Section is not fixed when page is scrolled"
When we open My Profile link from dashboard & try to scroll the position of profile section isn't fixed.

[2017-01-14 14:36] Ram81 commented on #439
@aka-jain I will work on this for now.

[2017-01-14 14:41] aka-jain commented on #439
@Ram81 : Sure.

[2017-01-14 14:41] Ram81 commented on #439
@aka-jain  should I make the profile section fixed like dashboard-sidebar when opened or some other change if you want?

[2017-01-14 14:46] aka-jain commented on #439
Yes, give it a fixed position for now, and integrate it with inner scroll in Porfile section.

[2017-01-14 14:49] Ram81 commented on #439
"integrate it with inner scroll in Porfile section." didn't quite get that?

[2017-01-14 15:14] deshraj commented on #388
Fixed in #431

[2017-01-14 15:14] #388 closed

[2017-01-14 15:15] deshraj opened #441 "Create view for making submission to a particular challenge phase"

[2017-01-14 16:15] spyshiv opened #442 "Frontend(Auth): Prevent unnecessary api calls"
- [x] Handle form's required field error on client side
- [x] check length of password (min. 8 characters) field before api call in login, signup etc.
- [x] in signup prevent api call if both passwords aren't same

Verify form's parameters as much as possible on the client side.  No need to send bad request on server.

[2017-01-14 16:51] RishabhJain2018 commented on #442
@spyshiv @aka-jain Can I work on this?

[2017-01-14 16:52] spyshiv commented on #442
Yeah sure. Go ahead.
assigning you

[2017-01-14 17:29] aka-jain commented on #439
@Ram81 : Make profile section scrollable in case when screen's height becomes less then the height of the content in Profile Bar.

[2017-01-14 17:32] aka-jain commented on #432
Fixed with #437

[2017-01-14 17:32] #432 closed

[2017-01-14 18:50] TroJan opened #444 "Replace pagination code from utility function paginated_queryset in participants app"
`paginated_queryset` is a function in `base utils.py`.

Idea is to remove paginator code with a function named `paginated_queryset`

[code]

For reference, look at PR #422

[2017-01-14 18:51] TroJan opened #445 "Replace pagination code from utility function paginated_queryset in hosts app"
`paginated_queryset` is a function in `base utils.py`.

Idea is to remove paginator code with a function named `paginated_queryset`

[code]

For reference, look at PR #422

[2017-01-14 18:52] anweshknayak commented on #444
can I work on this ?

[2017-01-14 18:54] deshraj commented on #444
@anweshknayak I think you are already working on #300. Please try to finish that first.

[2017-01-14 19:00] parismita commented on #444
shall i try this??

[2017-01-14 19:02] deshraj commented on #444
Sure. Assigning it to you.

[2017-01-14 19:20] jainarunarunjain commented on #445
@deshraj @TroJan  Can i work on this

[2017-01-14 19:21] deshraj commented on #445
Sure, go ahead. Assigning it to you.

[2017-01-14 19:33] deshraj commented on #118
Fixed in #446. Closing it.

[2017-01-14 19:33] #118 closed

[2017-01-14 19:36] parismita commented on #444
@deshraj please check

[2017-01-14 19:39] deshraj commented on #444
Great work @parismita. :-)

Fixed in #447. Closing it.

[2017-01-14 19:39] #444 closed

[2017-01-15 00:07] aka-jain commented on #300
This task is free. Anybody up for it?

[2017-01-15 04:17] TroJan commented on #445
Fixed in #450

[2017-01-15 04:17] #445 closed

[2017-01-15 04:18] TroJan opened #452 "Add a publisher to send submission message when submission is saved."

[2017-01-15 06:42] Ram81 commented on #439
@aka-jain  should I Integrate inner scroll to profile section in this issue or do you want me to close this issue & wait for next version of the issue?

[2017-01-15 07:01] TroJan opened #457 "Add support for getting all challenges in `get_all_challenge` api."
value of `challenge_time` can be either of `ALL`, `PAST`, `PRESET` or `FUTURE`.

[2017-01-15 07:39] deshraj commented on #457
Fixed in #458

[2017-01-15 07:39] #457 closed

[2017-01-15 09:48] aka-jain commented on #375
@deshraj : Making template path as frontend/dist is solving my problem. Is it a right way to solve this issue?

[2017-01-15 09:50] aka-jain opened #461 "Correct pagination count in team page."
Initially when we have less than 10 results on existing teams then its page count is shown as 0 but it should be 1.

[2017-01-15 09:53] aka-jain opened #462 "Pagination not working in teams view."
Need to solve it for both participant and host team view.

[2017-01-15 09:56] aka-jain commented on #371
Sorry @jayantsa to catching you late. @deshraj any idea about API response?

[2017-01-15 10:03] jainarunarunjain commented on #461
@aka-jain Can i work on this

[2017-01-15 10:08] parismita commented on #462
shall i try this??

[2017-01-15 10:55] aka-jain commented on #462
Sure, in team view there are buttons for next and previous which are not working. Logic is already there. You only have to check and make it correct.

[2017-01-15 10:56] aka-jain commented on #461
Refer to #462

[2017-01-15 11:05] Ram81 commented on #461
@aka-jain  can you assign this one to me?

[2017-01-15 11:05] jainarunarunjain commented on #300
@aka-jain Can i work on this

[2017-01-15 11:08] aka-jain commented on #462
One update, this is working fine when you reload the page. Basically when we create a team it appends to existing team at run time but it is not affecting pagination login, which works on every page reload.
Please correct this logic so that without reloading if we exceed limit of 10 then pagination buttons should get activated.

[2017-01-15 11:08] aka-jain commented on #461
Sure, go ahead. Assinging this to you.

[2017-01-15 11:12] aka-jain commented on #300
@jainarunarunjain : sure go ahead. let me know if you need any help.

[2017-01-15 11:15] Ram81 commented on #461
any details?

[2017-01-15 11:18] aka-jain commented on #461
Check existing teams card in team view, you can see the current page number 0 but it should be 1 if we have atleast 1 team in existing team. It gets 1 when you crossed limit of 10 teams.

[2017-01-15 11:25] Ram81 commented on #461
Okay will do that & let you know.

[2017-01-15 18:04] parismita commented on #462
@aka-jain vm.existTeam is not updating with click, thts why this is hapenning, nothing is updating in the js file....what is to be done now?

[2017-01-15 18:12] aka-jain commented on #462
@parismita : I think it gets updated with success function of create team not with click. Isn't it?

[2017-01-15 19:07] parismita commented on #462
@aka-jain but i did console.log() of response....it was not updating...if team is created then it should

[2017-01-16 05:02] dexter1691 opened #470 "Team name should be unique"
The participant team name should be unique ( or a primary key)! Right now two different users can create a team with the same name!!

We need to fix this in both participant teams and challenge teams.

[2017-01-16 05:07] dexter1691 opened #471 "Participant teams not showing up"
The participant teams to which the user has been invited does not show up if that user logs in.

For instance: User A creates a team ABC and invites User B
User B logs in, and goes to  the participant teams page.
User B does not see team ABC.

[2017-01-16 05:13] dexter1691 opened #472 "Create a notification if user enters incorrect email address while inviting participants"
If user A enters incorrect email address while inviting users to his / her participant team, then the user should be notified if the request failed.

The response is a 400, with the json as: {"email":["Enter a valid email address."]}
We should show a notification regarding this

The current behavior is that the add email address pops up goes away which means that the request was successful. Instea

[2017-01-16 05:16] dexter1691 opened #473 "Logout sometime fails due to invalid token"
Likely an issue with the authorization token expiring.

[2017-01-16 05:22] dexter1691 opened #474 "Adding same participant multiple times sends a 200 response"
Sending same participant multiple times should not send a response. Instead it should send an error response saying that the participant has already been added.

[2017-01-16 05:40] TroJan commented on #474
@dexter1691 : inviting a user to a team involves sending an email, this is the reason why it is giving 202 status code (if email is not delivered). But on the db part only one row will be created.

[2017-01-16 05:57] dexter1691 commented on #474
Interesting. But the status of the participant is set as accepted. It should probably be set as pending, no?

[2017-01-16 06:00] TroJan commented on #474
@dexter1691 : yeah , I and @deshraj decided that for v1, status will be `accepted` only.

[2017-01-16 07:18] jayantsa opened #476 "Create API endpoint to get all participants for a team"

[2017-01-16 08:19] Rishav09 commented on #470
I want to work on this,could you assign me

[2017-01-16 08:38] dexter1691 commented on #470
Thanks! This is a super critical issue so expecting rapid response on this.
You can work on this.

[2017-01-16 08:38] #471 closed

[2017-01-16 09:13] deshraj commented on #476
Thanks for opening this issue @jayantsa. I will wait for sometime and if someone doesn't pick this issue, then I will work on it myself.

[2017-01-16 09:14] jayantsa commented on #476
@deshraj can I work on this?

[2017-01-16 09:15] deshraj commented on #476
Oh great, that will be awesome. Assigning it to you. :-)

[2017-01-16 10:27] deshraj opened #477 "Add functionality of inviting users to Host Team"
A Host Team member can invite others in the same host team. A similar implementation can be found in the participant team view and the controller will be almost the same as of Participant Team View.

Let me know if you have doubts/concerns.

[2017-01-16 10:29] deshraj opened #478 "Add functionality to remove yourself from the Host Team"
The view and controller will be almost similar to that of Participant Team View.
Please see #348 for code.

[2017-01-16 10:39] Ram81 commented on #477
@deshraj  can you assign this to me?

[2017-01-16 10:42] deshraj commented on #477
Sure.

[2017-01-16 10:43] deshraj commented on #477
@Ram81 if you need help, then you can refer to https://github.com/Cloud-CV/EvalAI/pull/351/commits/786edf14afa092341c52ac5b46ff409c978699cd

[2017-01-16 11:35] anweshknayak commented on #478
@deshraj as Im not working on any other issue right now. Can I pick this up ?

[2017-01-16 11:37] deshraj commented on #478
Sure. :-)

[2017-01-16 12:26] Ram81 commented on #477
Okay @deshraj :+1:

[2017-01-16 12:28] dexter1691 commented on #318
@TroJan : this issue  is solved, right?
Should we close?

[2017-01-16 12:31] dexter1691 commented on #352
@aka-jain : This is done? Should we close?

[2017-01-16 14:13] RishabhJain2018 commented on #473
@dexter1691 @deshraj Can I work on this issue?

[2017-01-16 14:51] deshraj commented on #473
@RishabhJain2018, @spyshiv is already working on it. Can you pick any other issue?

[2017-01-16 15:26] dexter1691 opened #480 "Add number of concurrent request metric in metrics middleware"
We will need to use "Gauge" metric type: http://docs.datadoghq.com/guides/dogstatsd/#metrics

This will require increasing a shared counter "atomically". Check this for reference: http://stackoverflow.com/questions/2080660/python-multiprocessing-and-a-shared-counter

[2017-01-16 16:34] RishabhJain2018 commented on #473
@deshraj yeah sure.

[2017-01-16 16:40] RishabhJain2018 commented on #480
@dexter1691 @deshraj can I work on this issue?

[2017-01-16 16:54] RishabhJain2018 commented on #442
@spyshiv I think we should this?

[2017-01-16 16:57] aka-jain opened #482 "Create notification system for EvalAI"
Notificatins for all warnings, alert and messages.

[2017-01-16 18:03] spyshiv commented on #442
Can't close this now. Need to add this feature to reset password and change password too.

[2017-01-16 18:06] RishabhJain2018 commented on #442
@spyshiv okk. So, can I work on that ?

[2017-01-16 18:37] spyshiv opened #483 "Frontend(service): Add a service for basic operations like password verification etc."
Need to pass password matching feature as service since we have to use it in different controllers
as for now we have to use it in -
1. Signup (AuthCtrl)
2. Reset password (AuthCtrl)
3. Change password (ChangePwdCtrl)

@aka-jain : any suggestions ??

[2017-01-16 18:44] spyshiv commented on #442
As for now i am continuing this. Let me set some features then I will let you when you have to work on this

[2017-01-16 18:46] RishabhJain2018 commented on #442
okk sure. no problem. :-)

[2017-01-16 19:15] deshraj opened #485 "Add a check in Endpoint to check if challenge is active or not"
See this endpoint: https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L197
We need to add a check that is the challenge is active or not otherwise return a 404 response.

[2017-01-16 19:26] RishabhJain2018 commented on #485
@deshraj Can I work on this?

[2017-01-16 19:28] deshraj commented on #436
We are planning to include it in the near future after Version 1.0

Closing it for now.

[2017-01-16 19:28] #436 closed

[2017-01-16 19:29] deshraj commented on #485
Sure.

[2017-01-16 20:08] aka-jain commented on #352
@dexter1691 : Need to do some improvements on this. I'm working on it.

[2017-01-16 20:37] deshraj commented on #485
Fixed in #486

[2017-01-16 20:37] #485 closed

[2017-01-16 20:55] deshraj opened #488 "Fix Pagination in all the views"
This issue involves the following fixes:

- [ ] Check and fix pagination in Participant Team View

- [ ] Check and fix pagination in Host Team View

- [ ] Check and fix pagination in Challenge Participation view

[2017-01-16 20:56] deshraj commented on #461
Closing it since now it is a part of #488

[2017-01-16 20:56] #461 closed

[2017-01-16 20:56] spyshiv commented on #442
refer to #483
Closing this issue

[2017-01-16 20:56] #442 closed

[2017-01-16 21:00] deshraj commented on #476
@jayantsa Any update on this? Do you need some help? I am just pushing since we need this feature  ASAP.

[2017-01-16 21:01] deshraj commented on #371
Dependent on #476

[2017-01-16 21:02] deshraj commented on #75
Sounds good. Closing it for now.

[2017-01-16 21:02] #75 closed

[2017-01-16 21:03] deshraj commented on #470
@Rishav09 Let me know if you are stuck somewhere with this issue.

[2017-01-16 21:10] spyshiv commented on #483
this is done.
closing this

[2017-01-16 21:10] #483 closed

[2017-01-16 21:39] deshraj commented on #426
@Rishav09 any update on this?

[2017-01-16 21:47] Rishav09 commented on #426
Hi,I just fixed this and it got merged too.Sorry ,I didn't mentioned it here

[2017-01-16 21:52] deshraj commented on #426
Thanks for informing. :-)

[2017-01-16 21:52] #426 closed

[2017-01-16 23:12] deshraj opened #491 "Convert start_date and end_date of Challenge model to human readable format"

[2017-01-17 01:02] jayantsa commented on #476
@deshraj  I am working on this. I have created a pull request but some checks are not successful .Can you help?

[2017-01-17 03:53] dexter1691 commented on #480
@RishabhJain2018 : Sorry, but this will require access to Datadog credentials which only the core team members have for now. Please choose a different issue.

[2017-01-17 03:58] dexter1691 commented on #472
Closing this issue since it's being handled in #482

[2017-01-17 03:58] #472 closed

[2017-01-17 04:00] dexter1691 commented on #327
@souravsingh: Status update? Are you still working on this issue?

[2017-01-17 04:03] souravsingh commented on #327
@dexter1691 I am working on it

[2017-01-17 04:16] RishabhJain2018 commented on #480
@dexter1691 ok sure.

[2017-01-17 09:02] deshraj opened #494 "Add is_active field to ChallengePhase serializer"
Please see #484 for reference.

[2017-01-17 09:42] RishabhJain2018 commented on #494
@deshraj Can I work on this issue?

[2017-01-17 09:43] deshraj commented on #494
Sure.

[2017-01-17 15:51] manu-chroma commented on #491
hey @virajprabhu, are you working on this issue ?
if not, I'd like to take this one up. :smile:

[2017-01-17 15:59] virajprabhu commented on #491
@manu-chroma I'm nearly done with this. Can you pick up another one?

[2017-01-17 16:15] manu-chroma commented on #491
sure thanks!

[2017-01-17 16:20] RishabhJain2018 commented on #494
@deshraj I think we should also check [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L247) , if the challenge phase `is_active` or not ?

[2017-01-17 17:44] deshraj commented on #494
No, I don't think so. `is_active` in ChallengePhaseSerializer is just to give data to the client side so that it becomes easy to figure out if the challenge phase is active or not.

[2017-01-17 17:56] RishabhJain2018 commented on #494
@deshraj I think we should also check [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L271) , if the challenge phase `is_active` or not ?

[2017-01-17 18:05] aka-jain opened #501 "Problem with Auth messages"
Clicking on login button without filling any field is not showing any messages.
I think a message like "All fields are required" should also be shown there.

[2017-01-17 18:05] aka-jain commented on #501
@spyshiv @RishabhJain2018 : Can you look into this?

[2017-01-17 18:23] RishabhJain2018 commented on #501
@aka-jain yeah sure.

[2017-01-17 18:23] aka-jain commented on #501
@RishabhJain2018 : assigning this to you.

[2017-01-17 18:59] RishabhJain2018 commented on #494
@deshraj Please help with [this](https://travis-ci.org/Cloud-CV/EvalAI/builds/192783985#L953) error in tests.

[2017-01-17 19:18] deshraj commented on #494
It looks like your forgot to set the value of start_date or end_date.

[2017-01-17 19:21] RishabhJain2018 commented on #494
@deshraj  The value of `start_date` and `end_date` has already been set in the base class. Please refer to this [link](https://github.com/Cloud-CV/EvalAI/blob/master/tests/unit/challenges/test_views.py#L850).

[2017-01-17 20:18] anweshknayak commented on #488
@deshraj can I try one of the issue ?

[2017-01-17 21:32] anweshknayak commented on #300
@jainarunarunjain you still working on this ?

[2017-01-17 21:36] deshraj commented on #491
Fixed in #499

[2017-01-17 21:36] #491 closed

[2017-01-17 21:43] deshraj opened #509 "Change Job Submission API"
Currently while posting the data to create a submission, the `challenge_id` and `challenge_phase_id` is in URL but we want to make it part of the request body instead of being in the URL.

[2017-01-17 21:43] RishabhJain2018 commented on #509
@deshraj Can I work on this issue?

[2017-01-17 21:44] deshraj commented on #509
So Quick! Assigning it to you. :-)

[2017-01-17 21:45] deshraj commented on #494
Fixed in #502

[2017-01-17 21:45] #494 closed

[2017-01-17 22:42] #488 closed

[2017-01-17 22:59] deshraj commented on #509
@RishabhJain2018 please don't work on this. We need to do some more brainstorming.

[2017-01-17 22:59] RishabhJain2018 commented on #509
@deshraj okk sure.

[2017-01-17 23:10] deshraj opened #511 "Show the Backend error messages from submission API"
Currently we are showing the hard coded response when we get an error from the backend on submission. We want to show the exact backend error messages on the client side.

[2017-01-17 23:10] RishabhJain2018 commented on #511
@deshraj Can I work on this issue?

[2017-01-17 23:10] deshraj commented on #511
Sure sure. Assigning it to you. :-)

[2017-01-18 08:19] anweshknayak commented on #462
@aka-jain same as #488 right ?

[2017-01-18 09:37] aka-jain commented on #462
@anweshknayak : you can work on this. I think there is some error with this issue. Just try  and let me know if you find any error?

[2017-01-18 09:38] aka-jain commented on #462
@parismita : Thanks for the efforts, I'm assigning this to @anweshknayak for now.

[2017-01-18 09:58] anweshknayak commented on #462
sure @aka-jain

[2017-01-18 11:20] Ram81 commented on #477
@deshraj  is the api for inviting user to host team ready?

[2017-01-18 12:18] deshraj commented on #470
@Rishav09 are you still working on this?

[2017-01-18 12:38] Rishav09 commented on #470
Yes ,I had some issues with my database.I tried to add primary key to the team-name of <models.py-host> and <models.py-participants> but it is throwing an error <Unable to create or select a team.
{{perm.emailError}}>

[2017-01-18 13:04] deshraj commented on #470
you can just make it `unique=True` and remain the `id` attribute as the primary key.

[2017-01-18 13:05] deshraj commented on #509
It comes out that we have to make other endpoints for getting details of Job Submissions. So, closing it for now.

[2017-01-18 13:05] #509 closed

[2017-01-18 13:07] deshraj commented on #280
Forgot to close. Fixed now.

[2017-01-18 13:14] #439 closed

[2017-01-18 13:59] jainarunarunjain commented on #300
@anweshknayak sure, if you want then you can work on this.

[2017-01-18 14:01] anweshknayak commented on #300
@jainarunarunjain  yup sure thanks :)

[2017-01-18 15:02] jayantsa opened #515 "Add HostTeamDetail serializer to show host details"
@deshraj Can I work on this?

[2017-01-18 15:19] deshraj commented on #515
Sure go ahead. Sounds like a good initiative. I was going to open an issue for the same. :-)

[2017-01-18 17:27] jayantsa commented on #371
Also Dependent on #515

[2017-01-18 19:33] spyshiv commented on #473
This issue has been resolved. PR #519.
@dexter1691 please check once and close this.

[2017-01-18 19:41] deshraj commented on #515
Fixed in #518

[2017-01-18 20:21] jayantsa commented on #371
@aka-jain solved #476 and #515. Will work on this issue. Can we use bootstrap for making drop-down list??

[2017-01-18 20:22] deshraj commented on #371
@jayantsa we are planning to use materializecss throughout. So, it would be good if you can use materializecss for drop down list.

[2017-01-18 20:24] jayantsa commented on #371
@deshraj  ok sure.

[2017-01-18 21:24] deshraj opened #521 "UI Improvement: Show message on empty login and signup submission"
Currently when I submit the login or signup form with all fields empty, then I cannot see any error message on the frontend. We need to show some error message there.

[2017-01-18 21:25] RishabhJain2018 commented on #521
@deshraj Please refer to PR #510 for this error.

[2017-01-18 21:40] deshraj commented on #521
Oh! Thanks for pointing out. Closing it.

[2017-01-18 21:40] #521 closed

[2017-01-18 21:41] deshraj opened #522 "Change name of memcached location environment Variable"

[2017-01-18 21:42] deshraj commented on #522
We want to change the name of the environment variable from `LOCATION` to `MEMCACHED_LOCATION`

[2017-01-18 21:42] RishabhJain2018 commented on #522
@deshraj Can I work on this issue?

[2017-01-18 21:43] deshraj commented on #522
Sure, if you want to work on this, then please do it quickly. You need to make changes in `settings/common.py` and `settings/prod.py`

[2017-01-18 21:58] deshraj commented on #522
Fixed in #523

[2017-01-18 21:58] #522 closed

[2017-01-18 22:15] deshraj commented on #511
Fixed in #520

[2017-01-18 22:15] #511 closed

[2017-01-19 09:11] jayantsa commented on #515
@deshraj  Can you reopen this issue as I think we should also change the serializer in view that is returning the response in **hosts/challenge_host_team** so that we dont have to make api calls again and again as **hosts/challenge_host_team/<pk>** to show the details of host team on client side. Just have to change the Serializer from **ChallengeHostTeamSerializer** to **HostTeamDetailSerializer*

[2017-01-19 09:56] anweshknayak commented on #375
error still persists? Please reopen @dexter1691

[2017-01-19 19:03] jayantsa commented on #371
@deshraj  Please reopen #515 .Need to make small changes.

[2017-01-19 19:11] deshraj commented on #515
Yeah, Agree. Can you please open two different issues for hosts and participants app and make sure when you open a PR then these are two different Pull Requests?

[2017-01-19 19:11] deshraj commented on #515
Closing it again since this is going to be a new issue now.

[2017-01-19 19:11] #515 closed

[2017-01-19 19:19] jayantsa commented on #515
@deshraj ok will do that

[2017-01-19 19:21] jayantsa opened #527 "change the Serializer from ChallengeHostTeamSerializer to HostTeamDetailSerializer in challenge_host_team_list view"

[2017-01-19 19:22] jayantsa opened #528 "Change ParticipantTeamSerializer to ParticipantTeamDetailSerializer in participant_team_list view"

[2017-01-19 19:33] gauthamzz commented on #528
Can i try this ?

[2017-01-19 19:35] jayantsa commented on #528
@gauthamzz  Already done that . Was an issue to solve a previous one

[2017-01-19 21:21] deshraj commented on #528
Fixed in #529

[2017-01-19 21:21] #528 closed

[2017-01-19 21:21] deshraj commented on #527
Fixed in #530

[2017-01-19 21:21] #527 closed

[2017-01-19 21:41] deshraj commented on #501
Fixed in #510

[2017-01-19 21:41] #501 closed

[2017-01-19 21:53] jayantsa commented on #371
@deshraj  **Please assign this issue to some one else** because due to some reason won't be able to contribute for some time. **Solved #476, #515, #527, #528** that were required for this.
Now when call to **/api/participants/participant_team**  is made then within results we will have team details along with its members and same is the case when call to **/api/hosts/challenge_host_team/** is made

[2017-01-19 23:14] deshraj commented on #473
Working properly on staging. Closing it.

[2017-01-19 23:14] #473 closed

[2017-01-19 23:30] spyshiv opened #534 "Frontend (Gulp): Rewrite gulp task to bind 'connect' & 'watch' together."
Merge gulp 'connect' and 'watch' tasks together so that no need to open two terminal window.

[2017-01-20 10:17] anweshknayak commented on #399
refer this for solving (http://stackoverflow.com/questions/22938679/error-trying-to-install-postgres-for-python-psycopg2)

[2017-01-20 16:46] anweshknayak commented on #462
@aka-jain by any chance this maybe cache related issue is it ? and $state.reload() would this even help in the controller. I don't think just asking.

[2017-01-20 17:59] aka-jain commented on #462
@anweshknayak  Yes, there is nothing like cache thing issue. And don't use reload too. Let me know where you are exactly stucked?

[2017-01-20 18:22] deshraj commented on #534
Fixed in #535

[2017-01-20 18:22] #534 closed

[2017-01-20 18:44] anweshknayak commented on #462
@aka-jain pagination logic is all fine. can you give some hints?

[2017-01-20 19:06] parismita commented on #462
@aka-jain the updating is done after sucess function right?....then the sucess function not called after submit...possibly....even when i console logged only once i got 200 response

[2017-01-20 19:13] anweshknayak commented on #462
@parismita I think the pagination part is not being updated while creating new team. You pointed out the real issue I guess. Did you try using the loader func of pagination in create new team ?

[2017-01-20 19:20] aka-jain opened #536 "Improve gulp dev task."
Currently when we run gulp dev then it compresses all the files, but while using dev server it shouldn't do that. Have to write unique tasks for dev so that no compression occurs.
Task will be very simple, just redirect all the files from src to dist without any merging and compression.

@spyshiv thoughts?

[2017-01-20 19:41] spyshiv commented on #536
That's great idea. It'll save many seconds on development side. And then we can also use livereload (browser refresh) feature of `gulp-connect` on change in static files.
:+1:

[2017-01-20 19:42] aka-jain commented on #536
Yayy! Way to go :)

[2017-01-20 20:06] spyshiv opened #539 "Include google analytics.js library"
currently `ga` is not defined
Guide: https://developers.google.com/analytics/devguides/collection/analyticsjs/
Lib: https://www.google-analytics.com/analytics.js

@aka-jain : have a look

[2017-01-20 20:08] aka-jain commented on #539
Oh! my bad. Working on it.

[2017-01-20 20:22] aka-jain commented on #539
Solved with #540

[2017-01-20 20:22] #539 closed

[2017-01-20 20:27] aka-jain commented on #462
Thanks guys for helping.
I think there is some confusion related to this task. Let us handle this.

[2017-01-20 20:29] aka-jain commented on #375
@deshraj : Please have a look to this issue.

[2017-01-20 20:30] aka-jain commented on #300
@anweshknayak : are you still trying this?

[2017-01-20 23:44] deshraj commented on #474
Closing this since according to version 1, this is handled correctly.

[2017-01-20 23:44] #474 closed

[2017-01-20 23:45] deshraj commented on #470
Fixed in #543 and #544

[2017-01-20 23:45] #470 closed

[2017-01-20 23:46] deshraj commented on #441
Fixed in #492

[2017-01-20 23:46] #441 closed

[2017-01-20 23:47] deshraj commented on #375
Sure, It's already on my todo list. Will fix it soon.

[2017-01-20 23:49] deshraj commented on #346
FIxed in #503

[2017-01-20 23:49] #346 closed

[2017-01-20 23:50] deshraj commented on #371
Thanks for informing @jayantsa :-)

@aka-jain Assigning it to you.

[2017-01-20 23:51] deshraj commented on #347
Fixed in #503

[2017-01-20 23:51] #347 closed

[2017-01-21 02:21] spyshiv opened #546 "Frontend(Auth): Handle auth form errors with ng-message"
Modules to be affected
1. Login
2. Signup
3. Reset Password
4. Reset Password confirm

[2017-01-21 06:54] anweshknayak commented on #300
@aka-jain Is it dependent on the pagination thing ? I was waiting for that to be fixed first as it was throwing error.

[2017-01-21 09:23] parismita commented on #482
@aka-jain shall i try this?......notification as pop up or just error message is to be shown?

[2017-01-21 10:27] anweshknayak commented on #462
@aka-jain I have fixed this issue. Shall I put up a PR ?

[2017-01-21 10:36] aka-jain commented on #462
Sure @anweshknayak, please go ahead. I will check it :)

[2017-01-21 10:39] aka-jain commented on #482
@parismita This one is critical task, let us make the global module for the notification first then will break this system into smaller chunks. Then you can work on it.

[2017-01-21 10:44] parismita commented on #482
yooo....pl notify me when done

[2017-01-21 16:56] spyshiv commented on #546
Done in #547 .
Closing this.

[2017-01-21 16:56] #546 closed

[2017-01-21 17:16] spyshiv opened #552 "Frontend: Add validation before sending invite to other team members"
- [ ] Handle errors (email required & email valid ) with ng-messages as it is done in auth pages.
- [x] Show notification on invitation success after closing the modal of email invite (depend on issue #482 )

[2017-01-21 17:18] spyshiv commented on #482
@aka-jain : What is the current status of this issue?
Are you using any kind of lib. for showing notification?? or will it be done from scratch?

[2017-01-21 17:20] aka-jain commented on #482
We are going to build this from Scratch. Just make a directive for this which take messages as a value and return notification. Thoughts?
Any other suggestions from your side?

[2017-01-21 17:28] spyshiv commented on #482
@aka-jain: Doing from scratch will be very comfortable for everyone.  :+1:
and I think directive is the best solution. I am creating one for this purpose.

[2017-01-21 17:29] aka-jain commented on #482
Awesome @spyshiv  :)

[2017-01-22 02:05] deshraj opened #557 "Change placeholder when Inviting other users"
Currently the placeholder is set to `deshraj@cloudcv.org` . We need to change it to `foobar@cloudcv.org`

[2017-01-22 02:09] deshraj opened #558 "Navigation Link Changes"
We need to do following changes in the client side:

- [ ] Change password on Sidebar of Dashboard

- [ ] Add "Participate in Challenges" button next to the "Host Competition" button on main page

- [ ] Replace "Host Competition" with "Host Challenge" on Home Page

- [ ] Show © CloudCV 2016-2017  on footer

[2017-01-22 02:11] deshraj opened #559 "Show a default logo when there is no logo for a challenge"
When there is no logo for a particular challenge, then we need to show a default logo of EvalAI there.
@aka-jain can you give a sample logo that needs to be shown if the original logo is not ready yet?

[2017-01-22 02:15] deshraj opened #560 "Show a modal on clicking "Host Challenge" on the main page"
On the home page, when user clicks on "Host Challenge", then we need to show a modal saying the following content:

`Thanks for your interest in hosting a Challenge on EvalAI. We will release this feature soon!`

[2017-01-22 02:18] deshraj opened #561 "Create a ContactUs django model"
Create a django model `ContactUs` with the following fields:

- Name
- Email
- Message
- CreatedAt

Note: Use the TimeStampedModel from base app.
@TroJan do we need to store some more fields?

[2017-01-22 02:24] deshraj opened #562 "Create an API Endpoint for Submitting a Contact Message"
Dependent on #561

Details:

Method: `POST`
Data to post: `name`, `email`, `message`
URL: `/api/web/contact`
Returns 201 HTTP Response

[2017-01-22 02:27] deshraj opened #563 "Create a View for Contact Us Page"
Dependent on #561 #562

The view should enable the users to submit their queries with the following field names:

- Name
- Email Address
- Message

[2017-01-22 02:30] deshraj opened #564 "Create About Us page"
Create a route and view for About Us page and add dummy content to it.

[2017-01-22 02:32] deshraj opened #565 "Create a route and View for "Our Team" Page"
@aka-jain Can you please take lead and describe the details for this issue?

[2017-01-22 02:33] deshraj opened #566 "Create route and view for "Terms and Conditions" Page"
Add a dummy content for now that we can modify later.

[2017-01-22 02:35] deshraj opened #567 "Create a view for "Join our Team" Page"
In this view, the user will see the details about the project and links to our Github Page, Gitter Link and Mailing list link so that if he is interested in contributing, then he can navigate to these pages from EvalAI.

Let me know if you need more details. :-)

[2017-01-22 02:40] deshraj opened #568 "Show Github Stars and Forks on the footer"
We need to show the number of forks and stars on EvalAI on the footer.
Please contact @aka-jain for design details.

Please see https://developer.github.com/v3/repos/#get for reference.

[2017-01-22 03:52] Ram81 commented on #560
@deshraj  can you assign this to me?

[2017-01-22 04:35] parismita commented on #561
shall i try this??

[2017-01-22 04:56] anweshknayak commented on #560
https://www.bennadel.com/blog/2806-creating-a-simple-modal-system-in-angularjs.htm

[2017-01-22 05:31] RishabhJain2018 commented on #562
@deshraj Can I work on this?

[2017-01-22 05:32] RishabhJain2018 commented on #564
@deshraj Can I work on this?

[2017-01-22 05:39] Ram81 commented on #557
can I do this too @deshraj with #560?

[2017-01-22 08:26] aka-jain opened #571 "Create a dropdown to user name on Landing Page."
When user is logged in then show a down arrow button aside to user's name clicking on which display dropdown having 3 options:
1. Change Password (redirect to change password route)
2. Update Profile (redirect to update profile route)
3. Logout

Let us know in case of any query.

[2017-01-22 08:30] aka-jain commented on #560
@anweshknayak : Modal is already included in our Project. Please check invite team member feature, you can get an idea of it's working. Also for reference check angular material modals.
Thanks.

[2017-01-22 08:31] deshraj commented on #562
Sure.

[2017-01-22 08:31] deshraj commented on #564
Sure.

[2017-01-22 08:34] aka-jain commented on #560
BTW who is working on this issue?

[2017-01-22 08:38] deshraj commented on #571
@aka-jain I think I have mentioned these changes in #558. May be you can just go ahead and make changes in that issue. Feel free to close this. :-)

[2017-01-22 08:41] aka-jain commented on #571
@deshraj I think sepearate issue will be good for this feature as it is a combination of 3 features. Can we edit #558 so that it doesn't contain any task related to this issue.

[2017-01-22 08:41] Ram81 commented on #560
@aka-jain  I will do this one

[2017-01-22 08:42] deshraj commented on #571
Sure. Sounds good to me. Please feel free to edit that issue.

[2017-01-22 08:45] gauthamzz commented on #565
Could I try this

[2017-01-22 08:46] deshraj commented on #565
Sure

[2017-01-22 08:50] gauthamzz commented on #565
Details?

[2017-01-22 08:50] deshraj commented on #565
@aka-jain can you explain what all fields should we show on the page and how exactly?

[2017-01-22 08:53] missionary0 commented on #568
I would like to work on this

[2017-01-22 08:56] deshraj commented on #568
Sure. Let me know if you need some help. :-)

[2017-01-22 09:00] missionary0 commented on #568
Where can we chat privately?

[2017-01-22 09:01] aka-jain commented on #565
@gauthamzz : For now just make a route which directs to team page of EvalAI. Give it a name /team and make a  new html file for it. Will share the design with you soon.

[2017-01-22 09:01] deshraj commented on #568
@missionary0 It would be great if we can chat publicly on Gitter https://gitter.im/Cloud-CV/EvalAI

[2017-01-22 09:05] anweshknayak commented on #560
@aka-jain I already have some pending issue to work on. I will finish that before I pick up anything new.

[2017-01-22 09:09] aka-jain commented on #560
Sure @Ram81 Please do it :)

[2017-01-22 10:17] parismita commented on #563
shall i try this too?? we have to use serializer for submiting the form?

[2017-01-22 11:10] Ram81 commented on #559
@deshraj as I am done with my previous work can I do this too ?

[2017-01-22 12:24] aka-jain commented on #557
Closing it. Fix with #570

[2017-01-22 12:24] #557 closed

[2017-01-22 12:35] aka-jain opened #575 "Wrong message coming on Signup Page."
Follow these steps:
1. login with wrong crdentials.
2. Then move to signup page.
then there is a message at bottom of Signup form saying "Unable to log in with provided credentials."

Need to remove or empty that msg variable.

[2017-01-22 12:53] anweshknayak commented on #575
I can do this ?

[2017-01-22 12:55] aka-jain commented on #575
Sure, assiging it to you @anweshknayak .

[2017-01-22 12:57] anweshknayak commented on #575
Oops I can't test it.(blank screen) I forgot.  I have to search through the code.

[2017-01-22 13:30] Ram81 commented on #566
@deshraj : can you assign this to me?

[2017-01-22 13:34] aka-jain commented on #560
Merged with #573

[2017-01-22 13:34] #560 closed

[2017-01-22 14:57] deshraj commented on #566
Sure

[2017-01-22 14:59] deshraj commented on #563
Sure @parismita. Yup, you have to create a new serializer. :-)

[2017-01-22 15:01] deshraj commented on #462
@aka-jain @anweshknayak is this issue resolved?

[2017-01-22 15:26] anweshknayak commented on #462
fixed via #549

[2017-01-22 15:59] aka-jain commented on #462
@deshraj Only challenge participation team pagination is left. Let me complete that too then we can close this issue.

[2017-01-22 16:01] aka-jain commented on #575
@anweshknayak Is error persist at clientside or backened side. If it is client then can you please share the snapshot of console?

[2017-01-22 16:21] #561 closed

[2017-01-22 17:04] RishabhJain2018 commented on #562
@deshraj What message it should return on successful submission of form ? I have a suggestion for this like `Your message has been successfully recorded. We will contact you shortly.`

[2017-01-22 17:19] spyshiv commented on #575
@aka-jain : We need to refresh controller on route change. Since both signup and login share same controller (AuthCtrl) and same variables (vm.isFormError, vm.FormError) that's why this is happening.

[2017-01-22 17:42] RishabhJain2018 commented on #562
@deshraj I think we should use `AllowAny` permission class for the contact view.

[2017-01-22 17:56] deshraj commented on #562
Yeah Sure. All sounds good to me.

[2017-01-22 18:56] deshraj opened #579 "Remove ContactUs django App"
We don't want ContactUs App for storing the Contact. Just use the `web` django app. This will revert the #569.

#569 was merged by mistake.

[2017-01-22 19:04] aka-jain commented on #575
@spyshiv Or we can make that msg variable empty on clicking signup tab. Thoughts?

[2017-01-22 19:25] manu-chroma commented on #579
hey, I'd like to work on this one for my first PR on EvalAI

[2017-01-22 19:39] deshraj commented on #579
Hey Manu, I think Rishabh has already solved this issue. You can work on any other unassigned issue.

[2017-01-22 21:26] spyshiv commented on #575
:+1: that's better solution since this issue is not related to ng-messages.
@anweshknayak : Do it as @aka-jain suggested. (Resetting the variables)

[2017-01-22 21:27] RishabhJain2018 commented on #579
@deshraj I think we should close this?

[2017-01-22 21:29] deshraj commented on #579
Fixed in #578

[2017-01-22 21:29] #579 closed

[2017-01-22 21:29] spyshiv opened #582 "Frontend(change password): Integrate ng-messages in change password view"
It should be done as it is done in auth views(login, signup, reset password).

[2017-01-23 02:52] deshraj opened #584 "Missing dependency PyYaml for RabbitMQ Worker"
Add a requirement of `PyYaml-3.12` in `requirements/common.txt`

[2017-01-23 07:34] jainarunarunjain commented on #584
@deshraj Can i work on this

[2017-01-23 13:15] parismita commented on #563
completed with #562

[2017-01-23 13:52] Ram81 commented on #566
@deshraj any details?

[2017-01-23 15:14] anweshknayak commented on #582
@spyshiv can I do this ?

[2017-01-23 16:06] deshraj commented on #566
@Ram81 You can put dummy details in the Page and we will modify it later soon.

[2017-01-23 16:07] deshraj commented on #584
@jainarunarunjain sure.

[2017-01-23 16:26] spyshiv commented on #582
yes. `ng-message="required"` should be here since all three fields(old password, new_password1, new password2) are required.

content to write in required field respectively.
`"Old password is required".`
`"New password is required."`
`"Confirm new password is required."`

And don't forget to use password comparison feature as it is already done in `signup` and `reset password confirm` .

[2017-01-23 16:29] spyshiv commented on #582
@anweshknayak : Can't assign you right now since other issues are already assigned to you. please complete those issue first.

[2017-01-23 16:36] anweshknayak commented on #582
I can't . Im getting blank page after running gulp dep:runserver .

[2017-01-23 16:36] deshraj commented on #582
@anweshknayak can you paste the browser's console error?

[2017-01-23 16:39] anweshknayak commented on #582
http://pastebin.com/vMd9PfC7

[2017-01-23 16:40] deshraj commented on #582
Can you please share the screenshot of browser's console?

[2017-01-23 16:46] anweshknayak commented on #582
![screenshot from 2017-01-23 22 14 39](https://cloud.githubusercontent.com/assets/8139783/22213262/7cb18082-e1b9-11e6-98a3-198bf3f0f57c.png)

[2017-01-23 16:48] deshraj commented on #582
I can see that the url is `http://127.0.0.1:8000` which is the backend server. FYI, I didn't get time to fix #375. Will do that today.

Is this error is blocking you in some way?

[2017-01-23 17:12] RishabhJain2018 commented on #562
@deshraj I think we should close this?

[2017-01-23 17:17] spyshiv commented on #582
@deshraj : that should not block the frontend serve and rest apis. Same issue was with me but things were working fine.
@anweshknayak : you have to open `127.0.0.1:8888`. (remember port 8888 for frontend not 8000)

[2017-01-23 17:42] anweshknayak commented on #582
@deshraj @spyshiv actually both for the frontend(127.0.0.1:8888) and 127.0.0.1:8000 I am getting blank pages. Sorry for the confusion

[2017-01-23 21:54] anweshknayak opened #589 "angular-messages fetch error."
Console Error:
bower ECMDERR       Failed to execute "git ls-remote --tags --heads https://github.com/angular/bower-angular-messages.git", exit code of #128 fatal: unable to access 'https://github.com/angular/bower-angular-messages.git/': Could not resolve host: github.com

change to appropriate version number "1.5.10"  ? https://github.com/Cloud-CV/EvalAI/blob/master/bower.json#L21
@aka-jain @spy

[2017-01-23 22:02] #589 closed

[2017-01-23 22:02] anweshknayak commented on #589
proxy error. my bad.

[2017-01-24 08:01] anweshknayak commented on #478
fixed by #574 ?

[2017-01-24 08:20] anweshknayak commented on #552
@spyshiv shall I try the first one ? I just made a PR which used ng-messages.

[2017-01-24 09:11] deshraj commented on #318
The first version of worker is ready. Closing it now.

[2017-01-24 09:11] #318 closed

[2017-01-24 10:56] In-vincible commented on #582
@spyshiv @deshraj @anweshknayak is this issue open to work on?

[2017-01-24 11:45] anweshknayak commented on #582
@In-vincible please choose some other issue. I have already put up a PR. as you see above.

[2017-01-24 13:02] Ram81 commented on #565
@aka-jain  sorry for this I mistakenly named commit the issue of this number!

[2017-01-24 19:07] RishabhJain2018 commented on #584
@deshraj I think we should close this?

[2017-01-24 19:08] RishabhJain2018 commented on #571
@aka-jain @deshraj Can I work on this?

[2017-01-24 19:17] #584 closed

[2017-01-24 19:25] aka-jain commented on #568
@missionary0 Any update regarding this issue?

[2017-01-24 19:25] RishabhJain2018 commented on #562
@deshraj I think we should close this?

[2017-01-24 19:28] #562 closed

[2017-01-25 00:49] #564 closed

[2017-01-25 00:50] deshraj commented on #372
We are not planning to show the current cards on the dashboard. It will be replaced by a news feed. hence closing this issue.

[2017-01-25 00:50] #372 closed

[2017-01-25 03:04] anweshknayak opened #599 "Frontend: Gulp watch task is breaking"
@aka-jain

[2017-01-25 03:45] spyshiv commented on #599
can you elaborate ?

[2017-01-25 04:38] spyshiv commented on #552
I have reviewed your PR #593 . First complete the changes then ask for this.
Till then this is issue is open for all.

[2017-01-25 07:00] aka-jain commented on #599
@anweshknayak  I think we don't have gulp watch task now. We have already merged all the tasks to a single task and named as gulp dev:runserver. Please check readme.

[2017-01-25 11:52] anweshknayak commented on #599
@aka-jain Yes Im aware of that. See this

 'vendorjs' errored after 342 ms
[17:21:47] Error: watch /home/anwesh/new/EvalAI/bower_components/angular-material/ ENOSPC
    at exports._errnoException (util.js:1022:11)
    at FSWatcher.start (fs.js:1429:19)
    at Object.fs.watch (fs.js:1456:11)
    at Gaze._watchDir (/home/anwesh/new/EvalAI/node_modules/gaze/lib/gaze.js:289:30)

[2017-01-25 11:59] anweshknayak commented on #599
http://stackoverflow.com/a/32600959

Solved.

[2017-01-25 11:59] #599 closed

[2017-01-25 12:37] itaditya commented on #568
@aka-jain if @missionary0 is not doing it , am I allowed to work on this issue ?

[2017-01-25 12:42] itaditya opened #600 "Add Inertia Scroll for rich UX"
@aka-jain , I think inertia scrolling [Demo](https://www.yourwebtech.info/demo/mobile-like-smooth-scrolling-for-website-using-jquery/) , can be a good enhancement for the project's UX. Can I make a contribution regarding this

[2017-01-25 12:48] aka-jain commented on #600
@itaditya Thanks for the suggestion, but soon we will start working on the New UI then we can implement inertia scroll but for now it isn't a great thing to add to project.

[2017-01-25 12:49] aka-jain commented on #568
I don't think that @missionary0  is active, so assigning this to you @itaditya. Please go ahead.

[2017-01-25 13:30] itaditya commented on #600
Ok Sir

[2017-01-25 13:30] #600 closed

[2017-01-25 13:40] itaditya commented on #568
Ok Sir

[2017-01-25 13:44] aka-jain commented on #568
@itaditya: dude don't call me sir 😛 😃

[2017-01-25 13:52] itaditya commented on #568
Ok :+1:

[2017-01-25 14:22] itaditya commented on #568
As we have to get the data from the github api , I need a controller for making that request, but currently , the footer.html is loaded directly via ng-include , should I make a directive instead and attach a controller there ?

[2017-01-25 14:30] deshraj commented on #571
Sure

[2017-01-25 14:36] gauthamzz commented on #567
i would like to work on this

[2017-01-25 14:37] deshraj commented on #567
Sure, go ahead.

[2017-01-25 15:23] gauthamzz commented on #565
@aka-jain i did as much as you asked , could you share the design or will that be another issue ?

[2017-01-25 15:29] gauthamzz opened #602 "Update readme for proxy setup"
for ones under proxy, we need to set up
1.  npm proxy so that npm install does't break [link](http://stackoverflow.com/questions/7559648/is-there-a-way-to-make-npm-install-the-command-to-work-behind-proxy/18346387#18346387).
2. for bower install we need to create .bowerrc with proxy inside it . This file should be added in .gitignore as well

[2017-01-25 15:57] deshraj commented on #602
Sorry @gauthamzz, we don't want to add a section for proxy setup in README. It would be good if you can add details here in the issue and then if anyone faces the same issue then he/she can see this issue. Closing it for now.

[2017-01-25 15:57] #602 closed

[2017-01-26 20:23] aka-jain commented on #566
Done with #597. Closing it.

[2017-01-26 20:23] #566 closed

[2017-01-26 20:39] #565 closed

[2017-01-26 20:39] aka-jain commented on #565
Done with #601

[2017-01-26 20:40] aka-jain commented on #567
@gauthamzz this is a sepearate issue for our team page. Will share the details soon with you. Till then you can work on other issues :)

[2017-01-26 21:07] gauthamzz commented on #558
i would like to work on this

[2017-01-26 21:08] deshraj commented on #558
Sure @gauthamzz :)

[2017-01-26 21:08] aka-jain commented on #558
@gauthamzz sure, assigning it you.

[2017-01-26 21:09] deshraj commented on #558
@gauthamzz I think I cannot assign this issue to you since you haven't accepted the invite for a Collaborator to EvalAI.

[2017-01-26 21:09] deshraj commented on #558
Let me know when you have accepted the invite.

[2017-01-26 21:28] gauthamzz commented on #558
i haven't gotten an invitation yet :confused:

[2017-01-26 22:55] gauthamzz commented on #558
@deshraj do you want update password like this ?
![screenshot from 2017-01-27 04-24-06](https://cloud.githubusercontent.com/assets/12110844/22353865/8eea4f72-e448-11e6-8bf0-48922cef9f05.png)

[2017-01-27 06:19] deshraj commented on #571
@RishabhJain2018 any updates on this?

[2017-01-27 07:42] anweshknayak opened #606 "Frontend: Pagination count show is wrong in Host Teams and Participant Teams view."
Eg : Page 5 of 3

[2017-01-27 07:45] anweshknayak opened #607 "Cannot remove teams from existing host team view"

[2017-01-27 07:45] #606 closed

[2017-01-27 11:40] gauthamzz commented on #559
I would like to try this

[2017-01-27 16:12] RishabhJain2018 commented on #571
@deshraj Yeah, the PR is almost ready. I will push it asap.

[2017-01-27 16:15] RishabhJain2018 commented on #571
@aka-jain @deshraj there is no route for update profile in `route.js`. I think we will need it in future. Should I open a issue for the same, what are your views about it?

[2017-01-27 18:36] anweshknayak commented on #552
@spyshiv this is to be done for verify-email view right ?

[2017-01-27 19:03] aka-jain commented on #607
Thanks @anweshknayak for pointing this out, actually we have some API problem. @deshraj please take care of it :P

[2017-01-28 14:53] Ram81 commented on #559
@deshraj anyone doing this issue?

[2017-01-28 15:13] RishabhJain2018 commented on #563
@deshraj I think we should close this?

[2017-01-28 18:39] deshraj commented on #559
Sure, go ahead. You can use the CloudCV logo to display when there in no logo for a particular challenge.

[2017-01-28 20:40] RishabhJain2018 commented on #552
@spyshiv  @aka-jain  Can I work on this?

[2017-01-28 20:47] RishabhJain2018 opened #609 "Add HTML/CSS/JS pretifier in the Readme."
Please add instruction for installing the `HTML/CSS/JS` pretifier in the` readme `file in order to pretify the frontend code.

[2017-01-28 20:49] spyshiv commented on #552
sure @RishabhJain2018, Assigning it to you.

[2017-01-28 20:59] spyshiv commented on #552
@anweshknayak : it is regarding email invitation on dashboard.

[2017-01-28 21:08] RishabhJain2018 commented on #609
@spyshiv @aka-jain Can I add this?

[2017-01-28 21:15] spyshiv commented on #609
Sure...Assigning this to you.

[2017-01-28 23:06] #609 closed

[2017-01-30 19:04] #571 closed

[2017-01-30 19:28] #582 closed

[2017-01-30 23:46] deshraj commented on #607
Sure. I am working on another issue as of now so might take time to fix this. Anyone wants to take this issue, then go ahead. :-)

[2017-01-31 00:01] deshraj opened #612 "Production Server: Fix Permission denied error '/tmp/logfile'"

[2017-01-31 00:17] gauthamzz commented on #607
@deshraj could i try ?

[2017-01-31 00:17] deshraj commented on #607
Sure.

[2017-01-31 07:02] deshraj opened #613 ""undefined" shown with error message displayed on password reset view"
Please see the error message in the screenshot. The response from the backend is correct.
<img width="1438" alt="screen shot 2017-01-31 at 2 01 16 am" src="https://cloud.githubusercontent.com/assets/2945708/22455255/4b44b1ea-e759-11e6-9a18-fcde3e5ffbd3.png">

[2017-01-31 08:53] #568 closed

[2017-01-31 09:30] deshraj commented on #375
Fixed in #615. Now, we have to make sure that the 500 and 404 page of django has its own static files and should not interfere with the angular files since both are independent.

[2017-01-31 09:30] #375 closed

[2017-01-31 09:37] deshraj commented on #280
Reopening this since now the 404 and 500 template would be on backend and won't be dependent on the frontend. @jainarunarunjain let me know if you are interested in working on this issue. I can guide you. :-)

[2017-01-31 09:44] deshraj commented on #249
@aka-jain is anyone working on this? Or we are planning to do this in `v2`. If yes, please add a label of `v2`

[2017-01-31 09:45] deshraj commented on #327
@souravsingh any updates on this? I think it has been really long time since you have been working on this. If you are not working on this, then please let me know so that I can assign it to someone else.

[2017-01-31 12:30] jainarunarunjain commented on #280
@deshraj Sure, I want to work on this.

[2017-01-31 12:30] deshraj commented on #280
Awesome. Let me know if you need any help. :-)

[2017-01-31 12:39] anweshknayak opened #616 "Fix toggle problem between Login and Forgot Account."
![errorpic](https://cloud.githubusercontent.com/assets/8139783/22465091/065f8d0c-e7e0-11e6-8f88-301ebb0ec456.png)

Steps to reproduce:

1. Go to Login Page
2. Enter some details
3. Click on the Forgotten account button below the form
4. Enter details in the Forgotten account page
5. Switch back to the login page

You will get to see that the username and password field label should go up as I swit

[2017-01-31 12:45] jainarunarunjain commented on #280
@deshraj please give me some details.

[2017-01-31 12:51] anweshknayak commented on #613
just curious. how to get to this view ?

[2017-01-31 17:13] souravsingh commented on #327
@deshraj I got caught up with some commitments. I will finish this up right away.

[2017-01-31 20:03] aka-jain commented on #616
Thanks @anweshknayak for pointing this out.

Anyone interested to solve this?

[2017-01-31 22:00] deshraj commented on #613
If you are on dev environment,
1. then go to forgot password link
2. enter the email address associated to your account
3. See the email content on your terminal
4. Copy the link and paste it on browser
5. Change the port in the link from `8000` -> `8888`
6. Type the new password very similar to the email address and then submit

This way, you can reproduce the error.

[2017-01-31 22:02] deshraj commented on #280
So, in `apps/web/templates` directory create two templates named `500.html` and `404.html` in which you can add basic html content that can be modified later. Also, you would need to create a custom 404 and 500 handler for the same as it was before.

[2017-02-01 09:30] Ram81 commented on #616
@aka-jain  can you assign this to me?

[2017-02-01 09:30] deshraj commented on #616
Sure.

[2017-02-01 22:13] anweshknayak commented on #613
@deshraj can I try ?

[2017-02-01 22:14] deshraj commented on #613
Sure.

[2017-02-02 08:03] In-vincible commented on #452
I want to work on this issue, please guide me how to proceed.

[2017-02-02 09:33] daas-ankur-shukla commented on #613
hi @deshraj can i take up this issue?

[2017-02-02 09:34] deshraj commented on #613
@daas-ankur-shukla, Sorry @anweshknayak is already working on this issue. Can you please pick up any unassigned issue :)

[2017-02-02 09:44] deshraj commented on #477
@Ram81 Sorry for replying late. I missed this thread somehow. Yes, the API is ready. Please check `/docs` again.

[2017-02-02 09:44] deshraj commented on #552
@RishabhJain2018 any update on this. This one is easier and should have been fixed by now.

[2017-02-02 09:47] deshraj commented on #536
@spyshiv @aka-jain is this one fixed?

[2017-02-02 09:48] deshraj commented on #482
@spyshiv lets get this done ASAP since most of the features are dependent on this.

[2017-02-02 09:50] deshraj commented on #478
@anweshknayak I don't think so. Since you are already working on other issue, so I am assigning @daas-ankur-shukla on this.

[2017-02-02 09:53] deshraj commented on #452
@In-vincible, @TroJan is already working on this issue and would be a good idea if you can pick some other issue. :-)

[2017-02-02 13:23] yadavankit commented on #575
am emptying the auth.FormError var on ng-click SignUp in signup.html, I guess this should do the trick, but no change in signup.html is being reflected on browser. Am I missing something?

[2017-02-03 11:21] anweshknayak commented on #478
@deshraj no actually there is a confusion. I already had a PR ready. But close that since some PR has already been merged.

[2017-02-03 12:00] deshraj commented on #478
@anweshknayak I get what you are saying. But looks like there is some issue at the backend. That's why @aka-jain removed the API support from the frontend. Can you please cross check the API on your own machine?

[2017-02-03 16:41] RishabhJain2018 commented on #552
@deshraj Actually last week, I was busy with some of my college work.I am really sorry for the delay. I will fix this asap.

[2017-02-04 05:59] spyshiv commented on #482
Work is in progress...will do it ASAP.

[2017-02-04 07:00] daas-ankur-shukla commented on #478
@deshraj i have got the environment ready on my machine but i am not able to recreate the issue. i am getting the following error while signing up

OPTIONS http://localhost:8000/api/auth/registration/ net::ERR_CONNECTION_REFUSED
(anonymous) @ vendor.js:112
p @ vendor.js:107
(anonymous) @ vendor.js:105
(anonymous) @ vendor.js:138
$eval @ vendor.js:152
$digest @ vendor.js:149
$apply @ vendor.js:153

[2017-02-04 08:58] daas-ankur-shukla commented on #478
sorry for the trivia. got it sorted

[2017-02-04 09:01] #558 closed

[2017-02-04 09:55] aka-jain commented on #613
@anweshknayak progress?

[2017-02-04 10:23] anweshknayak commented on #613
@aka-jain I have one doubt regarding this. What is to be placed there in place of undefined? EMAIL?

[2017-02-04 10:26] spyshiv opened #624 "Project Setup: Update Version of PostgresSQL in README"
Required PostgreSQL version 9.4 and above to run the latest migration.

[2017-02-04 10:26] deshraj commented on #624
Good catch @spyshiv :-)

[2017-02-04 10:27] RishabhJain2018 commented on #624
@spyshiv @deshraj  Can I fix this in Readme?

[2017-02-04 10:28] aka-jain commented on #613
Is that message coming from controller?

[2017-02-04 10:31] anweshknayak commented on #613
@aka-jain Yes.

[2017-02-04 10:32] RishabhJain2018 opened #625 "Add route for update profile in route.js."

[2017-02-04 10:32] deshraj commented on #624
Sure

[2017-02-04 11:06] #624 closed

[2017-02-04 11:13] aka-jain commented on #613
@anweshknayak Just remove it. No need to replace it with some other text.

[2017-02-04 13:28] anweshknayak commented on #625
can you elaborate please ? @RishabhJain2018

[2017-02-04 15:03] anweshknayak commented on #616
@Ram81 you on this ?

[2017-02-04 15:35] anweshknayak commented on #478
@aka-jain close this fixed by #574

[2017-02-04 18:31] daas-ankur-shukla commented on #478
so is it closed or still open?

[2017-02-04 18:37] aka-jain commented on #478
No @anweshknayak, this hasn't solved yet. Code is there for client side but there is some error from backened side. Are you working on any other issue?

[2017-02-04 18:39] anweshknayak commented on #478
@aka-jain related to #607 ? @gauthamzz is working on it.

[2017-02-04 18:45] aka-jain commented on #478
Yep, let solve him first. Then we will integrate the Client side code.

[2017-02-04 18:46] aka-jain commented on #607
@gauthamzz Progress?

[2017-02-04 18:47] aka-jain commented on #616
@anweshknayak When you titled an issue then don't write Frontend to the heading. Just add label tag of frontend or backened to the particular issue.

[2017-02-04 18:50] aka-jain commented on #478
@anweshknayak Are you working on any issue?

[2017-02-04 18:51] anweshknayak commented on #616
@aka-jain I don't think I got privileges to add labels yet.

[2017-02-04 18:52] anweshknayak commented on #478
@aka-jain No. Are there any new issues to work ?

[2017-02-04 18:53] aka-jain commented on #478
What about #575 ?

[2017-02-04 18:54] aka-jain commented on #575
@yadavankit Can you put up a PR for this?

[2017-02-04 18:54] aka-jain commented on #478
@daas-ankur-shukla Please check other issue to work on :)

[2017-02-04 18:55] anweshknayak commented on #575
#592 @aka-jain There were some issue I guess

[2017-02-04 18:57] aka-jain commented on #575
I have already mentioned that we have to do some changes. And I was in doudt regarding your code as some enhancement to quality needs to be done. That's why I closed that issue.

[2017-02-04 19:07] daas-ankur-shukla commented on #478
@aka-jain sure, but i am curious, weather #478 has been solved or not? and if yes, how? :)

[2017-02-04 21:37] gauthamzz commented on #607
@aka-jain i'm not sure where the bug is . still finding out . i dont think its frontend . I need some more time

[2017-02-04 21:41] aka-jain commented on #607
Yes @gauthamzz it is not from frontendside, actually API is not working properly. Please check accordingly.

[2017-02-05 06:19] spyshiv opened #630 "Auth: Need email verification mail resend feature."
Why??
Suppose user loses verification email without verifying the link. Then neither user will verify his account nor create a new account with same email address.

# Requirements
## Backend
- [ ] API endpoint to resend verification email (User token based)
@deshraj : Please take care of it.

## Frontend
I think there should be button/Link ("Resend Verification Email" ) inside rounded (dark red) p

[2017-02-05 10:23] yadavankit commented on #575
@aka-jain yeah sure 👍

[2017-02-05 14:42] deshraj commented on #280
fixed in #631

[2017-02-05 14:42] #280 closed

[2017-02-05 17:23] Ram81 commented on #616
Sorry for the delay was busy with some college stuff.

[2017-02-05 17:26] Ram81 commented on #477
@deshraj I've already added the URL for the API you are mentioning, in PR #512.

[2017-02-05 17:28] Ram81 commented on #559
@deshraj  you can close this one fixed in #611

[2017-02-05 18:41] yadavankit commented on #575
#633 @aka-jain

[2017-02-05 19:48] #613 closed

[2017-02-05 19:54] spyshiv commented on #552
@RishabhJain2018 : What is the current status regarding this issue?

[2017-02-05 20:37] RishabhJain2018 commented on #552
@spyshiv As discussed with you, I will fix this asap.

[2017-02-05 22:11] yadavankit commented on #607
#633 @deshraj please review this PR for this issue too

[2017-02-05 22:46] gauthamzz commented on #567
@aka-jain what about this ?

[2017-02-05 22:47] gauthamzz commented on #630
can i try this ?

[2017-02-06 04:07] yadavankit commented on #607
@deshraj the code already works fine as it removes the user from `ChallengeHost` but the team shows up because the User is still the owner of the team. One more thing, in Host Challenge page, user should be able to view all teams he is a part of (as of now, one can only view teams created by him). What do you say?

[2017-02-06 04:45] deshraj commented on #607
@yadavankit I think you should add a check where you check if the user is the owner of the Team and if he is the part of the team then delete the whole team since he is the owner of the team.

Good catch. Can you please open a issue for the same?

[2017-02-06 04:52] deshraj opened #635 "Create Team model in `web` django app"
The `Team` model will contain the following fields:

- name
- email
- headshot (ImageField)
- visible (BooleanField)
- github_url (URL)
- linkedIn_url (URL)
- personal_website (URL)
- type (CharField with choices (core_team, contributor))

Ping me for more details.

[2017-02-06 05:25] yadavankit commented on #607
@deshraj yeah sure 👍

[2017-02-06 05:36] yadavankit opened #637 "Hosts: User cannot see all of his Host Teams"
## CURRENT STATE -
`challenge-host-teams` page only shows teams `created_by` the user.

## ISSUE -
On `challenge-host-teams` page, user should be able to see all host teams he is a part of.

## RELATED ISSUE -
#607 Refer to this issue also.

[2017-02-06 05:39] yadavankit commented on #635
@deshraj on it

[2017-02-06 06:25] deshraj commented on #635
@yadavankit I am assigning this issue to you. But, please ask beforehand if you want to work on any issue since it could lead to duplicate effort.

[2017-02-06 06:32] yadavankit commented on #635
@deshraj yeah sure 😊 . Can you help me with the defaults for `Team` member variables?

[2017-02-06 06:41] deshraj commented on #635
Add default to `visible` field and set it as `True`. Rest all the fields are required by default. No need to put default for those fields.

[2017-02-06 07:07] deshraj commented on #637
To give more clarification about this issue, in the host team view, the user cannot see the teams of which he is a part of. He can only see the teams which he created. There are some minor changes in the checks that are done in the API.

[2017-02-06 08:29] yadavankit commented on #635
#638 please review :)

[2017-02-06 09:15] daas-ankur-shukla commented on #637
@deshraj can i take it up?

[2017-02-06 09:17] deshraj commented on #637
Sure. :-)

[2017-02-06 09:55] anweshknayak commented on #575
@yadavankit make sure if anyone has been assigned beforehand before picking up the issue. Effort goes into waste of either one.

[2017-02-06 11:36] deshraj commented on #635
Fixed in #638

[2017-02-06 11:36] #635 closed

[2017-02-06 13:38] Ram81 commented on #616
@deshraj please review!

[2017-02-06 18:28] daas-ankur-shukla commented on #637
while working on this i found out that when we invite another user through ```challenge-host-teams``` page. the model entry is by default ```ChallengeHost.ACCEPTED```. Should that be the case? Shoudn't the status by default be Not Accepted and then the invited user should be able to accept the invitation?

[2017-02-06 18:32] daas-ankur-shukla commented on #637
the possible reason for the issue is
Line 27 at ```challenge_host_team_list``` view in hosts app:

`challenge_host_teams = ChallengeHostTeam.objects.filter(created_by=request.user)`

the host teams retrieved in the query set are the ones "created_by" the user and not all.

Trying to resolve this :+1:

[2017-02-06 18:48] daas-ankur-shukla commented on #637
If somebody can explain me the purpose of `ChallengeHost` model and how it is in relation to `ChallengeHostTeam` model, it will be very helpful

[2017-02-06 18:51] daas-ankur-shukla opened #640 "Host: Status field of ChallengeHost model is initialized by Accepted"
**CURRENT STATE -**

The status field is initialized as ACCEPTED by the `invite_host_to_team` view in the host app.

**ISSUE -**

This should be PENDING by default and the invited user should have the option to accept or deny the invitation.

[2017-02-06 18:53] RishabhJain2018 commented on #637
@daas-ankur-shukla Please have a look at the dbschema after running your local server at `127.0.0.1:8000/dbschema/`.

[2017-02-06 19:03] daas-ankur-shukla commented on #637
@RishabhJain2018 thanks for your reply Rishabh. The description for ChallengeHostTeam says "Model representing the Host Team for a partiuclar challenge" but there is not such description available for ChallengeHost, even in the dbschema.

Silly but I thought would be helpful for new contributors like me.
What can be added as its description?

[2017-02-06 20:18] aka-jain commented on #575
Fixed with #636

[2017-02-06 20:18] #575 closed

[2017-02-06 20:19] aka-jain commented on #559
Fixed with #611

[2017-02-06 20:19] #559 closed

[2017-02-07 11:05] deshraj commented on #637
@daas-ankur-shukla it would be nice if you can think through this since we cannot document each business login in paragraphs. It might be a good idea if you can go through the models and the business logic written. That will give you a better sense of what is happening at the backend.

[2017-02-07 17:22] yadavankit commented on #630
@gauthamzz are you on #607 ?

[2017-02-07 21:42] deshraj opened #644 "Modify all the Filefields/Imagefields in the serializers to be hyperlinked"
Currently, when the serializers that return the imagefield/filefield links, then it is something like `/media/blah/blah.png` but ideally it should be the full URL with something like this  `http://localhost:8000/media/blah/blah.png`.

We want to modify the serializers returning the Image URLs or File URLs.

Please see http://stackoverflow.com/questions/23918619/django-rest-framework-and-filefield-

[2017-02-07 21:47] deshraj commented on #327
@souravsingh looks like you are busy and hence I am unassigning this issue.

[2017-02-07 21:50] yadavankit commented on #644
Okay. Am taking it up then @deshraj
Just to make it sure, all serializers are to be altered?

[2017-02-07 21:52] deshraj commented on #644
@yadavankit Sure, you can go ahead. Yep, all the serializers need to be altered which includes the imagefield/filefield. Also, please make sure that things don't break on the client side after making changes.

[2017-02-07 21:54] deshraj commented on #640
@daas-ankur-shukla I am glad that you have been playing well with the codebase.

I will share the details about this issue soon. It's not on the priority list as of now and hence you can focus on other issues.

[2017-02-07 22:15] souravsingh commented on #327
@deshraj I almost forgot the issue. I will send a WIP PR right away.

[2017-02-07 22:22] deshraj commented on #327
Oh Ok. Thanks for letting me know. :-)

[2017-02-07 22:23] souravsingh commented on #327
I apologize for keeping this pending

[2017-02-08 05:19] daas-ankur-shukla commented on #640
:+1:

[2017-02-08 06:24] spyshiv commented on #352
@aka-jain : Assigning this to me since you have other tasks to do.

[2017-02-08 06:26] aka-jain commented on #352
@spyshiv Sure.

[2017-02-08 11:04] utkbansal commented on #630
I'd like to work on this.

[2017-02-08 11:53] spyshiv commented on #536
@deshraj : This is done. Closing this

[2017-02-08 11:53] #536 closed

[2017-02-08 12:35] aka-jain commented on #352
@spyshiv Is it done with Gulp improvement?

[2017-02-08 12:50] spyshiv commented on #352
@aka-jain : Almost done. There is seperate branch `js_linting` for this purpose. Need minor improvements in it.
However checkout to that branch and run `gulp lint` to see the errors and warnings.

[2017-02-08 14:17] RishabhJain2018 opened #649 "Integrate the Update Profile API Endpoint with Client Side"
The `update profile` option in the left menu doesn't work. I think there is no API for fetching and updating the profile data.

@TroJan @deshraj What are your views about it?

[2017-02-08 14:20] deshraj commented on #649
@RishabhJain2018 I think we already have the API to get and update the user profile at this endpoint ` /api/auth/user/` with `GET` and `PUT` request respectively. We just need to integrate the endpoint to update the user profile with the client side.

[2017-02-08 14:24] RishabhJain2018 commented on #649
@deshraj Can I work on this?

[2017-02-08 19:12] aka-jain commented on #352
Fixed with #650

[2017-02-08 19:12] #352 closed

[2017-02-08 23:28] deshraj opened #652 "Enforce unique random file name for files being uploaded"
Currently, the files being uploaded are having simple name and we don't want them to serve to anyone who knows the pattern. Hence, we should store the files with name as uuid that will to secure it to some extent.

For reference, see this http://stackoverflow.com/questions/2673647/enforce-unique-upload-file-names-using-django?answertab=active#tab-top

[2017-02-08 23:35] deshraj opened #653 "Add setInterval to API calls to get realtime data"
Currently on leaderboard and my-submissions view, the user has to refresh the page again and again to check the progress of his submission. We want to use $setInterval (https://docs.angularjs.org/api/ng/service/$interval) so that after a delay of lets say `5 seconds`, it makes an API call to get the data and update the view accordingly.

Changes to be done in the following controllers:
- My Submis

[2017-02-09 00:54] deshraj opened #654 "Add a button of 'Create Participant Team' on Challenge Participation View"
On Challenge Participate View,

**Use-case 1**: when no participant team exists for a particular user, then we should show him a button `Create Participate Team` instead of `Participate` which will redirect the user to Participant Team view.

**Use-case 2**: When some participant team exists for a user, then show him both the buttons `Create Participate Team` and `Participate`.

Let me know if you

[2017-02-09 04:44] RishabhJain2018 commented on #652
@deshraj Can I work on this?

[2017-02-09 05:49] anweshknayak commented on #653
@deshraj can I take this up ?

[2017-02-09 06:10] Ram81 commented on #654
@deshraj can you assign this to me?

[2017-02-09 06:13] anweshknayak commented on #653
anyone working on this ?

[2017-02-09 06:16] spyshiv commented on #653
yes. I am working on this.

[2017-02-09 06:38] RishabhJain2018 opened #655 "Remove gulp lint warnings and errors."

[2017-02-09 07:00] aka-jain commented on #567
Assigning this to me.

[2017-02-09 07:02] aka-jain commented on #655
Steps to follow:
Run gulp dev:runserver or gulp lint
Errors will come up in Blue color, need to solve those errors as soon as possible.
p.s: errors are too simple like add missing semicolon, IIFE wrong definition etc.

[2017-02-09 07:03] aka-jain commented on #654
@deshraj Isn't it participate will also create a team? I mean do we have different API's for this feature?

[2017-02-09 07:05] aka-jain commented on #653
@spyshiv let me handle this, you continue work on notification System :)

[2017-02-09 07:06] aka-jain opened #656 "New Home Page for EvalAI"
New Design.
![bigger5](https://cloud.githubusercontent.com/assets/11537940/22772732/67d8b816-eec4-11e6-9274-414031b54ff8.png)

[2017-02-09 07:07] aka-jain commented on #656
Working on it.

[2017-02-09 07:07] spyshiv commented on #653
sure... @aka-jain

[2017-02-09 18:04] deshraj commented on #630
Sure, @utkbansal. You can work on this issue. :)

[2017-02-09 20:07] RishabhJain2018 commented on #652
@deshraj Can I also change the file name for [these](https://github.com/Cloud-CV/EvalAI/blob/master/apps/jobs/models.py#L69) models also.

[2017-02-09 20:12] RishabhJain2018 commented on #655
@aka-jain @spyshiv Can I work on this?

[2017-02-09 21:02] deshraj commented on #655
Sure @RishabhJain2018.

[2017-02-09 21:03] deshraj commented on #652
Yes @RishabhJain2018, that is also a part of the issue.

[2017-02-09 21:07] deshraj commented on #654
@aka-jain no, the Participate button won't create a team.
So, we have two options:
1. Lets add a button named `Create Participant Team` next to it and then redirect it to the `My Participant Team` view where the user can create a Team.
2. Add the create team view here where the user can create a team in this view only.

Let me know which approach sounds better according to UX point of view?

[2017-02-09 21:08] deshraj commented on #654
@Ram81 Lets wait for a while till we finalize the UX for this.

[2017-02-09 21:10] yadavankit commented on #644
@deshraj while working on this issue, I was testing the `POST` request **creating a submission** and that gave me `No exception method supplied` due to `ConnectionClosed` at the endpoint and hence, no response. So, for now, should I leave it as it is ?

[2017-02-09 21:12] deshraj commented on #644
@yadavankit the API is working properly. Its just that you have to start rabbitmq worker for that. I haven't added the instructions in README. I will update it soon. Please leave it as it is for now.

[2017-02-09 21:13] yadavankit commented on #644
@deshraj yeah, I got to know it should be running on port 5672 and I haven't set it yet.

[2017-02-09 21:31] daas-ankur-shukla commented on #656
looks nice :+1:

[2017-02-09 22:32] yadavankit commented on #644
@deshraj should we mention this as an issue to Update README for starting rabbitmq worker at 5672?

[2017-02-09 22:36] deshraj commented on #644
Sure. I can do that and will assign it to myself.

[2017-02-09 22:37] deshraj opened #659 "Add instructions to run RabbitMQ worker in README"

[2017-02-09 22:56] deshraj opened #661 "Add pagination to My Submission View"
Currently there is no Pagination for the my-submissions view. Please see the screenshot attached below.
![screencapture-localhost-8888-web-challenges-challenge-page-1-my-submission-1486681002023](https://cloud.githubusercontent.com/assets/2945708/22806669/3c403dbe-eef1-11e6-9374-261569df2cec.png)

[2017-02-10 00:26] deshraj commented on #644
Fixed in #662

[2017-02-10 00:26] #644 closed

[2017-02-10 05:37] anweshknayak commented on #661
@deshraj can I try ?

[2017-02-10 07:34] anweshknayak commented on #575
@aka-jain error still persists.
Go to : Login .
Next Click below : SignUp
Form error shows up.

Please check the PR. #663

[2017-02-10 07:53] aka-jain commented on #661
@anweshknayak assigning this to you.

[2017-02-10 08:34] anweshknayak commented on #575
@yadavankit there's no need. a functionality has been added in #632 which will do.

[2017-02-10 08:35] yadavankit commented on #575
@anweshknayak cool 👍

[2017-02-10 14:38] Ram81 commented on #654
@deshraj  Sure

[2017-02-10 14:39] Ram81 commented on #640
@deshraj  should I do this?

[2017-02-10 14:39] deshraj commented on #640
@Ram81 It is not the part of Version 1 of project. Please pick any other issue for now.

[2017-02-10 17:47] aka-jain commented on #661
@anweshknayak are you on this?

[2017-02-10 17:56] anweshknayak commented on #661
@aka-jain. Yes :)

[2017-02-10 18:19] aka-jain commented on #655
@RishabhJain2018 Let us know as soon as you finished recovering all the errors, we have to make a restrict entry for these errors in near future.

[2017-02-10 18:24] anweshknayak commented on #661
@aka-jain how to get to this view ?

[2017-02-10 18:43] aka-jain commented on #661
Create a challenge from django admin for present challenge. Then go to details of that challenge.

[2017-02-10 19:32] Arun-Jain opened #664 "Add News Feed in Dashboard"
This news feed will contain all the recent activities and questions regarding all challenges.
This helps user to get more information regarding various challenges.
@deshraj @aka-jain @spyshiv thoughts?

[2017-02-10 19:42] aka-jain commented on #664
Hmmm... nice idea @jainarunarunjain. @deshraj we can do this for v2, what say?

[2017-02-10 20:29] dexter1691 commented on #664
This is already part of v2 plan. We were thinking of having a permanent news feed in a column on the right hand side. Very similar to how facebook has it I guess.

Potential items to show on the newsfeed:
- If somebody sets state-of-the-art on a challenge the user has participated in
- A simple timer if the challenge is about to end
- If somebody other than you in your team submitted an entry to a

[2017-02-10 20:59] daas-ankur-shukla commented on #637
I have solved the issue apparently by modifying the `challenge_host_team_list` view in the hosts app and creating a new `MyHostTeamSerializer` for the same, but I am messing up somewhere. My code is creating a problem in inviting other people to the host team.
The post request from 'Send Invite' button returns a 406 http status code.
Can't figure out the reason for this as of now. Any help or sugg

[2017-02-10 21:04] daas-ankur-shukla commented on #637
`challenge_host_team_list` view:

[code]

`MyHostTeamSerializer`

[code]

[2017-02-11 05:20] jainarunarunjain commented on #664
Okay

[2017-02-11 07:38] RishabhJain2018 commented on #655
@aka-jain I will fix these asap.

[2017-02-11 07:42] aka-jain commented on #655
@RishabhJain2018 Are you working on any other issue?

[2017-02-11 07:46] RishabhJain2018 commented on #655
Actually I was working on issue that is dependent on notification system. So, Currently I am working on this one.

[2017-02-11 07:48] aka-jain commented on #655
Okay.

[2017-02-11 11:25] anweshknayak commented on #661
![as](https://cloud.githubusercontent.com/assets/8139783/22853374/ce9b2a54-f07a-11e6-95e3-c46429110d4f.png)

@aka-jain @deshraj is this okay ?

[2017-02-11 15:16] aka-jain commented on #661
Na... where is current page and total page count?

[2017-02-11 15:43] #655 closed

[2017-02-11 15:44] aka-jain commented on #655
Fixed with #665

[2017-02-12 09:59] aka-jain opened #668 "Solve blinking of data in my submission view."
Problem is mainly due to digest cycle of Angular. Need to apply and watch for the changes in scope of the challenge controller.

[2017-02-12 10:24] aka-jain opened #669 "Add favicon to EvalAI."
Choose any dummy icon for favicon.

[2017-02-12 10:49] jainarunarunjain commented on #669
@aka-jain Can I work on this?

[2017-02-12 10:53] aka-jain commented on #669
Sure @jainarunarunjain .

[2017-02-12 13:59] aka-jain commented on #669
Fixed with #670

[2017-02-12 13:59] #669 closed

[2017-02-12 18:36] anweshknayak commented on #668
@aka-jain can I try ?

[2017-02-12 18:37] aka-jain commented on #668
Have you done with the Pagination of submission view?

[2017-02-12 18:38] anweshknayak commented on #668
@aka-jain Yes check the PR.

[2017-02-13 07:08] #661 closed

[2017-02-13 10:12] anweshknayak commented on #668
@aka-jain any hint on how to solve the problem ? I understand the need of apply and watch. But to which scope variables to attach to ? Can you give me some pointers to go ahead with.

[2017-02-13 17:37] aka-jain commented on #668
I have to figure it out. So please do it by yourself. Let see if you can find something.

[2017-02-14 21:47] anweshknayak commented on #552
@spyshiv @RishabhJain2018 can I try ?

[2017-02-15 13:16] Ram81 commented on #654
is the UX ready @deshraj ?

[2017-02-15 19:12] aka-jain commented on #668
Assigning this to myself.

[2017-02-16 04:13] deshraj commented on #654
@Ram81 Can you add a view similar to the 'My Participant Team View' here so that user can select or create a team on the challenge view only. Also, it would be great if you can integrate with the API of creation. This should be simple since it has already been implemented in the 'My Participant Team View'. Do ask @aka-jain or me for more details.

[2017-02-16 04:13] deshraj commented on #653
Fixed.

[2017-02-16 04:13] #653 closed

[2017-02-16 04:14] deshraj commented on #652
@RishabhJain2018 Any updates on this?

[2017-02-16 04:16] deshraj commented on #637
@daas-ankur-shukla I think there is no need to create a new serializer for this task. Should be doable with the current existing serializers.

[2017-02-16 04:17] deshraj commented on #630
@utkbansal I am assuming you are still working on this. Please let us know if you are stuck somewhere. We would be happy to unblock you. :)