[2019-03-19 20:45] RishabhJain2018 commented on #2206
Sure @shiv6146

[2019-03-19 20:46] #2189 closed

[2019-03-19 21:08] shiv6146 commented on #2206
Meanwhile @RishabhJain2018 please go through #2205 whenever you find time :+1: Thanks!

[2019-03-20 08:51] KhalidRmb commented on #2188
@RishabhJain2018
There are 2 ways we can proceed:
1. Use a sandbox to create the YAML file (different for each test as keys will be different) & the final zip file (with other files chosen from the examples folder), and send it in the post request.
2. Use a mock of the API and test the specific functionality without using any additional YAML file. Thereby verifying that the backend works properly,

[2019-03-20 09:50] nadzma commented on #2202
@RishabhJain2018  Yes I followed all the steps in the official documentation but when I approve the challenge and restart the submission worker I have this error on the terminal :
worker_1  | ModuleNotFoundError: No module named 'challenge_data.challenge_2'
evalaibis_worker_1 exited with code 1

[2019-03-20 16:36] mahim23 commented on #2210
Hey @RishabhJain2018 , I was going through the repo trying to figure out how it works and the changes I need to make. So as I've understood, I need to
* give a provision for the "host" of the challenge in the UI to change the status of any submission (to *any* of the possible `STATUS_OPTIONS`?).
* provide an API endpoint in django to change the status and save it.

Did I miss anything? I've starte

[2019-03-20 17:05] nadzma commented on #2202
PS : I managed to fix the problem But every time I approve a new challenge and before restarting the worker I should execute  :

sudo pip uninstall requests
sudo pip install requests
sudo pip uninstall docopt
sudo pip install docopt

Could you help me to solve the problem definitely ?

[2019-03-20 17:46] RishabhJain2018 opened #2214 "Command not copied properly"
When a challenge is docker based then the command `evalai set_token <auth_token>` isn't copied properly. Basically, the token isn't copied.

<img width="1161" alt="Screenshot 2019-03-20 at 1 44 50 PM" src="https://user-images.githubusercontent.com/12206047/54706996-8ab51e00-4b16-11e9-9652-128e44c9789b.png">

[2019-03-20 17:48] Ayukha commented on #2214
Can I take this?

[2019-03-20 17:48] RishabhJain2018 commented on #2214
Sure! please fix this asap.

[2019-03-20 18:33] #2214 closed

[2019-03-20 18:56] RishabhJain2018 commented on #2202
hey, @nadzma Don't worry, we'll be able to fix it. Which challenge config are you using?

[2019-03-20 19:01] nadzma commented on #2202
Hey @RishabhJain2018  I am using the one given in EvalAI-Starters

[2019-03-20 20:00] yashdusing commented on #2209
@RishabhJain2018 So, the challenge host no longer has the access to the annotation file he/she previously submitted. So, the challenge host approaches the admin to fetch the submission annotation file to re-run it on the challenge ? Is that right or am I missing something ?

[2019-03-22 05:33] kurianbenoy commented on #2181
Can I work on this issue @RishabhJain2018 as there has been not much progress in few days?

[2019-03-22 05:39] RishabhJain2018 commented on #2202
I'm not sure what errors are you getting. Can you please post the screenshot here?>

[2019-03-22 05:41] RishabhJain2018 commented on #2181
I'm not sure if @Ayukha is still working on this? @Ayukha Can you please let us know the progress on this.

[2019-03-22 05:48] RishabhJain2018 opened #2219 "Add filtering package for and unit tests"
## Current Scenario
Since we require #2129 urgently, hence the unit tests are missing in it. Also, the standard way to do filtering is using [django-filters](https://github.com/carltongibson/django-filter).

## Expected Scenario

Modify the API to use django filters and write the unit tests.

## Deliverables
- [ ] Add django-filters package in requirements.
- [ ] Modify the API to use django-filte

[2019-03-22 05:53] sudharsana-kjl commented on #2219
Hey! can I work on this issue?

[2019-03-22 07:18] RishabhJain2018 commented on #2219
Hi @sudharsana-kjl Welcome to CloudCV! Sure, you can work on this.

[2019-03-22 07:20] RishabhJain2018 opened #2220 "Add support for displaying challenges in different languages"
## Current Scenario
We display all the content and the challenges in one language only i.e. English.

## Expected Scenario
The user should be able to choose the language in which the content should be displayed.

## Hint:
https://www.toptal.com/angular-js/internationalize-your-angularjs-app

[2019-03-22 07:24] #2137 closed

[2019-03-22 07:42] Sanji515 commented on #2220
@RishabhJain2018 Can I work on this?

[2019-03-22 07:44] RishabhJain2018 commented on #2220
sure! But you were working on some other issue, right?

[2019-03-22 07:45] RishabhJain2018 commented on #2209
I'm not sure why you're talking about annotation file here?

[2019-03-22 07:46] RishabhJain2018 commented on #2210
yeah, this seems to be correct.

[2019-03-22 07:51] RishabhJain2018 commented on #2208
@KhalidRmb Since you are working on #2188, I'm sorry you can't work on this. As a piece of advice please do make sure that you've opened up the PR for the issue you were working on and then pick another issue.

This issue is open for all to work on. :)

[2019-03-22 07:56] Sanji515 commented on #2220
@RishabhJain2018 ok thanks!

[2019-03-22 08:00] Sanji515 commented on #2207
@RishabhJain2018 I'm thinking to give `trix-toolbar` for some styling content of `body of the email` but currently the styling of `trix` is not upto the mark. So should I write my own `trix.css` or update the current one. If I update the current one, then where should I update it

[2019-03-22 08:13] mahim23 commented on #2210
@RishabhJain2018 So the closest API is `change_submission_data_and_visibility` which changes the submission data. But this API needs the user that requested it to be a participant of the team that made the submission. This is not the case in this feature/issue. So I've created a new API named `change_submission_status`. Is that fine?

[2019-03-22 10:49] sanchit-ahuja commented on #1995
Is this issue still open? @RishabhJain2018

[2019-03-22 11:29] sanchit-ahuja commented on #2188
Can I take this issue?

[2019-03-22 11:51] KhalidRmb commented on #2188
@sanchit-ahuja I'm working on this one. Will make a PR soon.

[2019-03-22 14:08] nadzma commented on #2202
Hey @RishabhJain2018  So after approving the challenge and restarting the worker I get this errors
<img width="1369" alt="Capture d’écran 2019-03-22 à 14 53 31" src="https://user-images.githubusercontent.com/33626402/54828368-54150a00-4cb4-11e9-86a4-6d8f0dfecbbf.png">

[2019-03-22 17:05] vkartik97 commented on #2208
Can I work on this issue?

[2019-03-22 17:15] RishabhJain2018 commented on #2208
Sure!

[2019-03-22 17:26] yashdusing commented on #2209
@RishabhJain2018 the file submitted by the participant which the challenge host wants to re-evaluate (re-run)

[2019-03-22 18:17] kurianbenoy commented on #2219
Can I be the next person on waiting list to work on this @RishabhJain2018 ?

[2019-03-22 18:27] Ayukha commented on #2181
I am working on it and will open a PR for it by tonight. @RishabhJain2018 @kurianbenoy

[2019-03-22 18:27] RishabhJain2018 commented on #2181
Thanks @Ayukha for update.

[2019-03-23 01:43] sudharsana-kjl commented on #2219
Hey @RishabhJain2018! Do you want to use django-filter to ```get_submissions_for_challenge``` API as discussed in #2129 or do you want to add this to other APIs as well?

[2019-03-23 02:10] RishabhJain2018 commented on #1866
Closing this issue, since this is solved by #2199

[2019-03-23 02:10] #1866 closed

[2019-03-23 13:29] kurianbenoy commented on #1740
Can I work on this issue @RishabhJain2018 ?

[2019-03-23 13:47] Ayukha commented on #1740
@kurianbenoy  There is already a PR opened for this issue which is yet to be reviewed.

[2019-03-23 15:50] yashdusing commented on #2209
@RishabhJain2018 How about the challenge host having a re-run submission button on the leaderboard itself ?
Also, should I use the existing run_submission function in the workers folder or write a function to get the existing files which might be saved onto the temp directory when worker is initiated ?

[2019-03-23 18:27] RishabhJain2018 commented on #2209
Hey, @yashdusing The file submitted by the participant is the `user_submission_file`. Please don't confuse it with `test_annotation_file`.

No, since the leaderboard doesn't list all the entries (as participants can make them private), I think it'd be ideal to have it under view all submissions tab.

No, please try to understand the architecture, how it works. You need to pass the submission messa

[2019-03-23 18:27] Ayukha commented on #2209
@yashdusing  I guess publishing the submission parameters to the submission Queue would do the work, a similar kind of approach that we used here.
https://github.com/Cloud-CV/EvalAI/blob/343089d6b246bd0d5815ad9bb7288a958195211a/apps/jobs/admin.py#L57-L70

[2019-03-23 18:28] RishabhJain2018 commented on #2209
Yes @Ayukha . Thanks for pointing to the code.

[2019-03-23 18:30] yashdusing commented on #2209
@RishabhJain2018 Thanks for clarifying. I was a little confused and thought I needed to make changes directly to worker.py 😅

[2019-03-23 18:34] yashdusing commented on #2209
@RishabhJain2018 could you please check my PRs since most of them are not reviewed. Also, my proposal as well

[2019-03-23 21:40] sarthak212 commented on #2220
@RishabhJain2018 Meanwhile Can I work on this.? If @Sanji515 is working on another issue.

[2019-03-24 03:41] kurianbenoy commented on #1740
The travis tests for your PR is failing. That's why it's not being reviewed. This is why I put a PR and I hope I can fix test failures in my PR soon.

[2019-03-24 07:26] RishabhJain2018 opened #2227 "Add unit tests for the new API's"
## Current Scenario
There are no unit tests for the APIs added in #2176 .

## Expected Scenario
Unit tests must be added for the new APIs

[2019-03-24 08:50] geekayush commented on #2227
I would liike to work on it @RishabhJain2018

[2019-03-24 09:52] kurianbenoy commented on #2227
Can I work on this issue @RishabhJain2018?

[2019-03-25 06:47] gautamjajoo opened #2232 "Add discussions tab and star button to featured challenge"
### Observed Behaviour
When a user visits a featured challenge on the homepage when he/she is not logined, the discussion tab and star button is not visible. (Ref : attached screenshot)

### Expected Behaviour
The discussion tab ans star button should be visible on the challenge page.

@RishabhJain2018 @deshraj

![featured_challenge](https://user-images.githubusercontent.com/24366008/54900060-ebb6

[2019-03-25 11:33] kurianbenoy commented on #2232
Can I work on this issue?

[2019-03-25 17:14] RishabhJain2018 commented on #2232
Sure @kurianbenoy !

[2019-03-25 17:25] gautamjajoo commented on #2232
@RishabhJain2018 Do we need to add star button also?

[2019-03-25 17:25] RishabhJain2018 commented on #2232
yep.

[2019-03-25 22:48] aakashrstg00 commented on #2220
Hello @RishabhJain2018
I would like to work on this issue if no one else is.

[2019-03-26 06:48] Ayukha commented on #1619
@RishabhJain2018 I have fixed this issue, can I open a PR for it?

[2019-03-26 07:14] galipremsagar commented on #1619
@Ayukha  Have a look at this article on which email clients support & restrict js execution on their end. Did you test it on Gmail only or even on other email clients?

[2019-03-26 07:43] shaunak-badani commented on #2123
@RishabhJain2018 could you please elaborate on what modifications you would like to the footer button, as I am unable to understand the exact issue? Some screenshots with what it is now vs what you would like would be great. Also, is this the tweet button you are referring to?
![eval-ai issue](https://user-images.githubusercontent.com/32260623/54979365-fd1b7780-4fc8-11e9-90f8-eed7096a07fa.jpg)

[2019-03-26 22:48] abhshkdz opened #2235 "Typo"
"Add other memebers to this Team" —> "Add other members to your team"

https://github.com/Cloud-CV/EvalAI/blob/343089d6b246bd0d5815ad9bb7288a958195211a/frontend/src/js/controllers/challengeHostTeamsCtrl.js#L393

[2019-03-27 00:36] RishabhJain2018 commented on #1619
Sure! @Ayukha.

[2019-03-27 01:04] kurianbenoy commented on #2123
Hello @shaunak-badani, yes that is tweet button. So on clicked that button a share button like this should come like this:
![Uploading 53038318-742d8f80-34a2-11e9-8197-346c5754160d.png…]()

Even I am doubtful on exact message to be shared using the tweet share button but I made a PR #2139 regarding that

[2019-03-27 03:10] deshraj opened #2238 "Update method to store queue name in Challenge model"
Currently, we store the queue name for each challenge using something like this:

[code]

Where the challenge title can be any string. But SQS does not allow special characters in the queue name and hence we should validate the queue name before storing it.

## Deliverables

- [ ] Write a utils function that generates a valid SQS queue name given a string as an input
- [ ] Use the function written

[2019-03-27 03:11] tawAsh1 commented on #2238
Can i work on this?

[2019-03-27 03:14] deshraj commented on #2238
@tawAsh1 Go ahead. :)

[2019-03-27 07:28] tawAsh1 opened #2240 "Fix potential vulnerabilities due to outdated requirements"
uWSGI 2.0.15 has a vulnerability.
CVE-2018-6758 CVSS 7.5
https://www.cvedetails.com/cve/CVE-2018-6758/

[2019-03-27 08:10] gautamjajoo opened #2241 "Allow unverified user to view the challenge"
### Observed Behaviour
If an unverified user tries to view a challenge page, he is not able to do so and is told to verify the email first.

### Expected Behaviour
The unverified user should be allowed to view the challenge page and if he visits the `Participate` tab , an error stating to verify email address should be shown.

@RishabhJain2018 @deshraj

[2019-03-27 08:43] #2235 closed

[2019-03-27 09:25] veritas9872 opened #2243 "Submission file cannot be unzipped"
### **Bug report**

Expected behavior: The submission should work.
Observed behavior: Submission status is "Failed" and the stderr file states only that "Submission file cannot be unzipped".

Operating system and browser: Ubuntu 16.04 Firefox and Windows 10 Chrome. I think that it is browser independent.

Issue: I am trying to submit a file to the fastMRI challenge but I always get the same "Submi

[2019-03-27 19:47] RishabhJain2018 commented on #2243
Hi @veritas9872 , The url that you're giving in the submission file doesn't download a zip file, instead it downloads the content of an html page.
To check it please use this command - `wget <url_from_the_file>`
I think this is causing the issue.

I'm closing this issue. Please feel free to reopen it if you still face the difficulty. Thanks!

[2019-03-27 19:47] #2243 closed

[2019-03-27 19:59] RishabhJain2018 commented on #2220
Hi @sarthak212 I think you can work on this since @Sanji515 is working on other issue.

[2019-03-27 20:00] RishabhJain2018 commented on #2220
@aakashrstg00 Welcome to CloudCV! I'll open some beginner level issues for you to get started.

[2019-03-27 20:24] aakashrstg00 commented on #2220
Thank you @RishabhJain2018

[2019-03-28 03:48] veritas9872 commented on #2243
Thank you for your help. I will fix my submission file.

[2019-03-28 05:01] sachinmukherjee commented on #2241
Can I work on this?

[2019-03-28 11:14] gautamjajoo opened #2248 "Prevent the user to edit the uploaded filename"
### Observed Behaviour
Currently a user is able to edit the uploaded file name during submission to a challenge or when uploading zip file to host a challenge.

### Expected Behaviour
DIsable user to edit the filename or enter any text in the field.

@RishabhJain2018 @deshraj

![Capture](https://user-images.githubusercontent.com/24366008/55153450-7ad1b580-5178-11e9-903e-eaa95c296345.JPG)

[2019-03-30 03:11] kurianbenoy commented on #2202
@nadzma its ok for evalai_worker_1 to fail like that. Just go to: `localhost:8888` and check if the EvalAI website is rendered.

If you want to make worker running(which is needed when submitting challenge entries). Go to another terminal and run the command: `docker-compose restart`. This usually works for me

[2019-03-30 18:48] thanos-pakou commented on #2248
Hello, can I work on this issue?

[2019-03-30 18:49] galipremsagar commented on #2248
Sure, @thanos-pakou

[2019-04-01 03:48] RishabhJain2018 opened #2250 "Add tests for API"
Add tests for the following APIs added in the PR #2249 .

1. get_challenge_phase_by_pk
2. get_challenge_phase_by_slug

[2019-04-01 07:55] kurianbenoy commented on #2250
Can I work on this issue, I will submit a PR for #2227 by today. After this I will work this also

[2019-04-01 07:56] yashdusing commented on #2250
@RishabhJain2018 Can I work on this ? I’ve finished all of my other tasks

[2019-04-01 08:05] kurianbenoy commented on #2250
You can work on it @yashdusing.

[2019-04-01 09:45] nadzma commented on #2202
@kurianbenoy  Thank you for your answer. Unfortunately I couldn't solve the problem
I did like this
1)Run the EvalAI dev setup using docker-compose up in the EvalAI folder where docker-compose.yml is present.
2)Check if all the 5 containers are running using docker ps
3)Create a challenge by logging in using host account using the EvalAI-Starters repository.
4)Approve the challenge using Django Ad

[2019-04-01 13:41] kurianbenoy commented on #2202
Please ensure you pull from upstream and run command `docker compose up --build` before running.

As your challenge is already approved, go to this page:
![image](https://user-images.githubusercontent.com/24592806/55331288-973f5c00-54b0-11e9-9e6b-8a43cf2a3807.png)

Then upload evaluation_script.zip as submission:
![Screenshot-2019-4-1 EvalAI Evaluating state of the art in AI](https://user-images.g

[2019-04-02 09:57] nadzma commented on #2202
I've followed all the steps . when I submit I get an other error on the terminal and the status is submitted and not finished
<img width="1334" alt="Capture d’écran 2019-04-02 à 11 55 23" src="https://user-images.githubusercontent.com/33626402/55393944-7d4c5a80-553e-11e9-90b0-24646ebd5e81.png">

[2019-04-02 13:44] nadzma opened #2254 "fix submission worker error : 'NoneType' object has no attribute 'get'"
@RishabhJain2018  Although the challenge is active and approved and the worker is restarted I have the error message after submitting.  ERROR Exception while receiving message from submission queue with error 'NoneType' object has no attribute 'get'

<img width="1334" alt="Capture d’écran 2019-04-02 à 11 55 23" src="https://user-images.githubusercontent.com/33626402/55407340-163e9e00-555e-11e9-8

[2019-04-03 01:43] ThongVoHien commented on #2250
@RishabhJain2018 Can I work on this too?

[2019-04-03 03:04] kurianbenoy commented on #2202
@RishabhJain2018 now the submission worker abruptly stops in development environment. Also why is there two workers: remote_worker and evalai_worker?

[2019-04-03 11:47] ThongVoHien commented on #2248
@galipremsagar Can I work on that issue too?

[2019-04-04 08:20] nadzma commented on #2202
@kurianbenoy   Do you have this error while submitting a solution ?

[2019-04-04 09:28] KhalidRmb commented on #2202
I think that the 2 workers have to do with the fact that the host should be able to evaluate the submission on a remote server of their own if they choose so (this will be different from the EC2 container of the submission worker on the same instance as of the other containers). It's a new feature I think.

[2019-04-04 10:03] christianabbet commented on #2254
I have the same problem here. I tired to look at the `submission_worker.py`. It seams that `PHASE_ANNOTATION_FILE_NAME_MAP` does not contain matching challenge_id/phase_id in the dictionary.

[2019-04-04 10:05] nadzma commented on #2254
@christianabbet  Did you manage to solve it ?

[2019-04-04 10:07] vkartik97 commented on #1825
Closing this as this issue deals with IaaS.

[2019-04-04 10:07] #1825 closed

[2019-04-04 10:08] christianabbet commented on #2254
Unfortunately no...
I will let you know if I find anything. Please let me know as well if you managed to solve the issue

[2019-04-04 10:13] nadzma commented on #2254
okey . This is a new bug . It used to work two weeks ago .

[2019-04-04 11:06] nadzma commented on #2254
@christianabbet  can we refer to someone from the cloud-cv team  to help us ?

[2019-04-04 16:53] kurianbenoy commented on #2254
Can you please say the steps to reproduce this issue @nadzma. I am not getting a similar error, also is it a duplicate of #2202. Can you be specific which challenge were you trying to create and for any doubts refer [docs ](https://evalai.readthedocs.io/en/latest/challenge_creation.html)

[2019-04-05 00:05] #1995 closed

[2019-04-05 00:06] RishabhJain2018 opened #2265 "Add unit tests"
@vkartik97 Please add the tests for newly added conditions here: https://github.com/Cloud-CV/EvalAI/pull/2076#discussion_r272406219

[2019-04-05 09:04] nadzma commented on #2254
@kurianbenoy  I am usinf the evalai starter challenge and I am using the latest version of evalai and I am referring to the docs to create a challenge ; But after restarting the worker and submitting a solution I got this error of Attribute Error 'NonType' object

[2019-04-05 11:58] KhalidRmb opened #2269 "django.setup() not required for Remote submission worker."
Currently, the remote worker doesn't use the Django app directly as the submission worker does, and only references the models through the public API.

And also the error: `django.core.exceptions.ImproperlyConfigured: Requested setting LOGGING_CONFIG, but settings are not configured. You must either define the environment variable DJANGO_SETTINGS_MODULE or call settings.configure() before accessin

[2019-04-05 12:36] sarthak212 commented on #2220
@RishabhJain2018 do I have to change the Name, Overview, Evaluation and Phase Content of
A challenge to Different Languages and What languages do I have to add.

[2019-04-06 11:54] PalashTanejaPro commented on #2207
Hey @RishabhJain2018, this issue hasn't been active since half a month and no PRs have been made. I wrote some sample code for this, can I open a PR?

[2019-04-07 13:20] kurianbenoy commented on #1821
Even I am facing the same issue in Firefox version 60

[2019-04-08 10:04] nadzma commented on #2254
@christianabbet  Hey did you manage to fix this bug ? I am tried several solution but unfortunately I couldn't fix it

[2019-04-08 14:50] christianabbet commented on #2254
@nadzma I went back to a previous commit. I think it was the easiest way to continue working on the project.

[2019-04-08 16:46] mtahafarooq opened #2274 "Challenge creation using configuration zip doesn't work"
- the expected behaviour
When the configuration zip is uploaded it says that the challenge is sent to admin for approval. When I approve it through django admin panel I expect to see in challenges list on frontend.

- the observed behaviour
But it doesn't show up in the challenges section, if I create a new one through django admin panel I am able to see it.
- steps to reproduce the problem
Select

[2019-04-09 08:26] nadzma commented on #2254
@christianabbet   which version is working well (especially the submission worker) ?

[2019-04-09 08:55] christianabbet commented on #2254
@nadzma I reverted to repo to the commit : https://github.com/Cloud-CV/EvalAI/commit/fff5f40a9ec0dab3fed6a429edea69b10c621ae6. The submission worker are working well for me

[2019-04-09 13:18] nadzma commented on #2254
@christianabbet   Unfortunately It doesn't work too

[2019-04-09 17:43] abhshkdz commented on #2181
Hey @Ayukha, any updates on this? As the label suggests, this is high priority. So if you currently do not have the cycles to push this out (which is perfectly fine), it would be good to let others take this on.

[2019-04-09 17:49] deshraj commented on #2274
@mtahafarooq can you please share which challenge configuration file you are trying to upload?

[2019-04-09 17:50] deshraj commented on #2269
Thanks for opening this issue. It's a really good catch @KhalidRmb. :)

[2019-04-09 17:51] RishabhJain2018 commented on #2254
@nadzma Let's discuss it on the Gitter channel tomorrow at the proposed time. I hope that'll resolve the issue.

[2019-04-09 17:51] RishabhJain2018 commented on #2254
Hence, I'm closing this.

[2019-04-09 17:51] #2254 closed

[2019-04-09 17:58] #2269 closed

[2019-04-15 19:09] RishabhJain2018 commented on #2181
I agree with @abhshkdz. @vkartik97 Do you have some time to implement this feature. We need it.

[2019-04-15 19:19] vkartik97 commented on #2181
@vkartik97
Sure!

[2019-04-15 19:19] vkartik97 commented on #2181
@RishabhJain2018
Sure!

[2019-04-15 19:20] RishabhJain2018 commented on #2181
Please try to implement it asap and feel free to ping me if you get stuck somewhere.

[2019-04-15 20:37] WinnersGoHome commented on #766
Is there any chance you can reopen this issue now?  Oauth support would be great.

[2019-04-17 21:07] RishabhJain2018 opened #2286 "Add new logos on homepage"
Some of the new organizations have started using EvalAI for hosting their challenge, hence we would like to mention them as our users on the homepage -

Here are logos to be added alphabetically -
1. [UIUC](https://i.ibb.co/S3WnN7z/UIUC.png)
2. [NanKai University](https://upload.wikimedia.org/wikipedia/en/thumb/a/a5/Nankai_University_logo.svg/1200px-Nankai_University_logo.svg.png)
3. [MIT](https:/

[2019-04-18 00:36] WillPaulRyan commented on #2286
@RishabhJain2018 I'm interested in helping

[2019-04-18 00:37] RishabhJain2018 commented on #2286
sure!

[2019-04-20 04:10] kurianbenoy opened #2289 "Travis Build is failing"
Travis build of EvalAI has been failing for some PR as its evident on following PR's:
- https://travis-ci.org/Cloud-CV/EvalAI/builds/522303739?utm_source=github_status&utm_medium=notification
- https://travis-ci.org/Cloud-CV/EvalAI/builds/521968318?utm_source=github_status&utm_medium=notification

It seems due to some incompatibilities with version

[2019-04-21 20:39] #2289 closed

[2019-04-23 19:15] WinnersGoHome opened #2291 "OAuth integration"
Has there been any more consideration to add OAuth support.  I saw issue [#766](https://github.com/Cloud-CV/EvalAI/issues/766) where the OAuth integration was tabled until a future release.  Now we're 2 years in the future and it would be nice to know if this can be reopened.

[2019-04-27 03:29] #2206 closed

[2019-04-27 11:40] HimanshuJanbandhu commented on #2286
Hi guys, I would like to contribute, can I take take this issue.

[2019-04-30 06:24] RishabhJain2018 opened #2295 "Add countdown timer for the challenges"
**Current Behaviour**:

There is no timer shown when the challenge deadline is approaching.

**Expected Behaviour**:

There should be a counter which will automatically appear one month before the challenge deadline.

Reference: #1769

[2019-04-30 06:25] RishabhJain2018 commented on #2295
@Sanji515 Would you like to work on this?

[2019-04-30 06:25] Sanji515 commented on #2295
@RishabhJain2018 Sure!

[2019-04-30 07:40] #2059 closed

[2019-04-30 07:52] RishabhJain2018 opened #2296 "Add Timezone while displaying time in challenges"
**Current Behaviour**

The challenge/challenge phase start and end date are shown without the timezone which sometimes confuses the user.

**Expected Behaviour**
The timezone should be visible on the UI.

For reference: #1766

[2019-05-01 07:16] #2248 closed

[2019-05-01 07:39] #2046 closed

[2019-05-01 08:09] #2060 closed

[2019-05-01 12:42] sarthak212 commented on #2296
@RishabhJain2018 Can i work on this.?

[2019-05-01 16:53] RishabhJain2018 commented on #2296
Sure @sarthak212

[2019-05-01 22:26] #2068 closed

[2019-05-02 01:04] #2047 closed

[2019-05-02 01:12] #1740 closed

[2019-05-02 20:40] rohitjha941 commented on #2291
@RishabhJain2018  I would like to work on integration. Can I work on this

[2019-05-02 20:42] RishabhJain2018 commented on #2291
Hi @rohitjha941, sure you can work on this.

[2019-05-03 00:34] #2001 closed

[2019-05-03 07:15] gautamjajoo opened #2302 "Broken link on documentation page"
### Observed Behaviour
There is a broken link of github repository on [documentation page](https://evalai.readthedocs.io/en/latest/challenge_creation.html#challenge-configuration-examples).

### Expected Behaviour
Fix the given link.

@RishabhJain2018 @galipremsagar

[2019-05-03 12:59] kurianbenoy commented on #2302
Can I take this issue?

On Fri, 3 May 2019, 12:45 p.m. Gautam Jajoo, <notifications@github.com>
wrote:

[2019-05-03 20:57] Sanji515 commented on #2295
@RishabhJain2018 Hey, I'm thinking of UI for countdown timer something similar to this please take a look at the screenshots.

![Screenshot (223)](https://user-images.githubusercontent.com/32524438/57164506-f4149600-6e11-11e9-9fb8-ac4c4631d96d.png)

**Or we can remove the background**

![Screenshot (224)](https://user-images.githubusercontent.com/32524438/57165179-fd066700-6e13-11e9-9ddd-148085f00

[2019-05-04 01:29] galipremsagar commented on #2295
2nd one looks better but Look into this: http://flipclockjs.com/faces/daily-counter
FlipClock looks nice and we can theme it accordingly to our UI color.

[2019-05-04 19:58] rohitjha941 commented on #2291
Hi, Currently I am starting with Github. What all services do you want me to use?

[2019-05-05 18:33] #1892 closed

[2019-05-06 00:22] #2181 closed

[2019-05-06 00:28] RishabhJain2018 opened #2305 "Modify the update submission API for handling error bars"
**Deliverables:**

1. Modify the update_submission  API to handle the error bars.

2. Update the comments in submission worker, and update_submission API so as to add the error bars.

3. Update the EvalAI-Starters repository to include the same evaluation script.

@vkartik97 Assigning this to you since you've worked on it's previous issue.

[2019-05-06 13:04] shawnahall71 commented on #2291
Hi - I work with @WinnersGoHome.  We're working to deploy this in an enterprise environment - ideally we would be able to authenticate against Azure Active Directory, which supports OpenID connect and OAuth 2.0 among other mechanisms.  At a minimum (if that's too complex to code), we need to integrate into our Active Directory environment using LDAP.

[2019-05-06 15:09] WinnersGoHome commented on #2291
I noticed that you already include the django-allauth module.  Azure AD uses the Microsoft provider in django-allauth.

[2019-05-06 17:47] rohitjha941 commented on #2291
Should I Shart with Azure Active Directory?

[2019-05-06 19:26] WinnersGoHome commented on #2291
That would be great!

[2019-05-07 03:33] rohitjha941 commented on #2291
Hi

I can see that we have Rest Auth and Django All Auth. Which one are we going to use?

[2019-05-10 11:21] rohitjha941 commented on #2291
I will be a bit late, I am busy completing formalities in my college

[2019-05-10 12:11] #2203 closed

[2019-05-10 20:09] Ayukha commented on #2111
@RishabhJain2018  This issue can be closed.

[2019-05-10 20:10] RishabhJain2018 commented on #2111
Thanks for pointing it @Ayukha.
Fixed by #2309 .

[2019-05-10 20:10] #2111 closed

[2019-05-12 06:08] #1603 closed

[2019-05-14 06:22] #2296 closed

[2019-05-14 06:51] RishabhJain2018 opened #2311 "Fix staging travis build"
**Description**:

The Travis build here(https://travis-ci.org/Cloud-CV/EvalAI/jobs/532140171#L5087) fails after the latest commit in master(https://github.com/Cloud-CV/EvalAI/commit/d9166ae8a20a1e4e35c851d99905223a91d7e0fb)

**Expected:**

Fix the Travis build

@sarthak212 Would you like to take this up since it fails after I merged your PR in master branch.

[2019-05-15 09:11] sarthak212 commented on #2311
@RishabhJain2018 Sure.

[2019-05-17 19:34] #2311 closed

[2019-05-17 22:58] #2172 closed

[2019-05-18 07:08] #1821 closed

[2019-05-19 13:18] nataliavramidou opened #2324 "Wrong input field when updating existing participant teams"
**Observed behavior**
When someone tries to edit an existing participant team' s name or url, the value passes also at the input fields (name, url) of the create new participant team form.
![issue](https://user-images.githubusercontent.com/15125284/57982730-0c132900-7a52-11e9-80e5-b6ada36ad912.png)

**Excpected behavior**
When editing existing participant team' s name or url, the only input fields

[2019-05-19 16:21] nataliavramidou opened #2329 "Can not submit changes when host edits challenge phases"
**Observed behavior**
When host tries to edit a challenge phase' s details, the submit button is not working
![issue](https://user-images.githubusercontent.com/15125284/57985059-0118c280-7a6b-11e9-9911-c85126384f3c.png)

[2019-05-19 22:36] #2329 closed

[2019-05-25 08:24] RishabhJain2018 opened #2341 "Fix potential vulnerabilities due to outdated requirements"
There are some outdated requirements which can open potential security threats. Hence we should update the vulnerable package versions as suggested by Github. Here is the list of upgrades to be done (as suggested by Github):

`djangorestframework>=3.9.1`

Please make sure to verify the validity and compatibility of suggestions with EvalAI codebase.

@vkartik97 Assigning this to you.

[2019-05-25 20:31] #2341 closed

[2019-05-27 18:15] RyanLHU opened #2347 "submission worker error : 'NoneType' object has no attribute 'get'"
When I upload an evaluation script, the system shows the following error messages at the server side
(I follow the instructions in https://evalai.readthedocs.io/en/latest/challenge_creation.html#challenge-configuration-examples to create the challenge)

I know this problem has been discussed in #2254. However, it is close but I cannot find any solution on this problem.

[2019-05-28 06:19] RyanLHU commented on #2347
I make it working for ONE challenge now

However, I have no idea to make it work for multiple challenges.

[2019-06-01 09:10] rohitjha941 commented on #2291
Hi, I am really sorry for the delay. I have completed GitHub integration.

![github](https://user-images.githubusercontent.com/33960527/58746382-32d25600-847b-11e9-946d-5524eabb309d.gif)

[2019-06-01 19:13] thoth291 commented on #2291
I wonder how much it will take to make it working for general purpose OAuth or, for example, integration with GitLab.

[2019-06-03 05:25] rohitjha941 commented on #2291
@thoth291 I will not take much time to integrate Gitlab. Just in case, Are you talking about self-hosted gitlab instance?

@RishabhJain2018  Can you please let me know what all services we are gonna use?

[2019-06-03 22:48] thoth291 commented on #2291
@rohitjha941 - yeah, I'm talking about self-hosted GitLab - that might make it easy-path for future integration with "kernels" hosted through in-house GitLab and other type of reproducibility...
Pure OAuth or OpenID is probably the way to move it forward - but I'm not familiar with auth protocols enough to judge what will be easier: create integration with GitLab or general purpose OAuth/OpenID...

[2019-06-10 08:42] rohitjha941 commented on #2291
@thoth291  Ok will work on gitlab integration.

[2019-06-11 14:03] shawnahall71 commented on #2291
@thoth291 - my understanding is that OpenID is an authentication provider, whereas OAuth2 is an authorization provider.  To confuse things, OpenID Connect provides OpenID authentication on top of OAuth2 for authorization.  https://spin.atomicobject.com/2016/05/30/openid-oauth-saml/

@rohitjha941 to be clear, what do you mean by Gitlab integration?  Does that mean using self-hosted Gitlab as a OAut

[2019-06-12 09:28] rohitjha941 commented on #2291
@shawnahall71 Yup my work is not specific to GitLab. I have already worked on GitHub using Django AllAuth.I would do the same for Gitlab. Also, any service provider mentioned [here](https://django-allauth.readthedocs.io/en/latest/providers.html) can be integrated easily.

[2019-06-15 09:33] #2110 closed

[2019-06-15 09:33] #1337 closed

[2019-06-15 09:33] #1777 closed

[2019-06-15 09:33] #2101 closed

[2019-06-15 09:33] #2151 closed

[2019-06-15 09:33] #1593 closed

[2019-06-15 09:33] #2160 closed

[2019-06-15 09:33] #2092 closed

[2019-06-15 09:33] #2143 closed

[2019-06-15 09:33] #2080 closed

[2019-06-15 09:33] #2088 closed

[2019-06-15 09:33] #2162 closed

[2019-06-15 09:33] #2178 closed

[2019-06-15 09:33] #2210 closed

[2019-06-15 09:33] #2188 closed

[2019-06-15 09:33] #2208 closed

[2019-06-15 09:33] #2219 closed

[2019-06-15 09:33] #2209 closed

[2019-06-15 09:33] #2227 closed

[2019-06-15 09:33] #2123 closed

[2019-06-15 09:33] #2240 closed

[2019-06-15 09:33] #2250 closed

[2019-06-15 09:33] #2265 closed

[2019-06-15 09:34] #2274 closed

[2019-06-15 10:32] #1784 closed

[2019-06-15 10:32] #1764 closed

[2019-06-15 10:32] #1802 closed

[2019-06-15 10:32] #1799 closed

[2019-06-15 10:32] #1602 closed

[2019-06-15 10:32] #1957 closed

[2019-06-15 10:32] #1965 closed

[2019-06-15 10:32] #1984 closed

[2019-06-15 10:32] #2006 closed

[2019-06-15 10:32] #552 closed

[2019-06-15 10:32] #2017 closed

[2019-06-15 10:33] #2021 closed

[2019-06-15 10:33] #2025 closed

[2019-06-15 10:33] #2041 closed

[2019-06-15 10:33] #2052 closed

[2019-06-15 10:33] #2022 closed

[2019-06-15 10:33] #1632 closed

[2019-06-15 10:33] #1913 closed

[2019-06-15 10:33] #2087 closed

[2019-06-15 10:33] #2079 closed

[2019-06-15 10:33] #2070 closed

[2019-06-15 10:33] #2107 closed

[2019-06-15 10:33] #1733 closed

[2019-06-15 10:33] #2055 closed

[2019-06-15 10:33] #2109 closed

[2019-06-15 10:33] #2023 closed

[2019-06-15 10:35] yashdusing commented on #1602
@rishabhjain2018 most of the PRs I made are now marked as stale but they were up for review

[2019-06-25 02:02] RishabhJain2018 commented on #1602
Hi @yashdusing, Don't worry about it. I'll surely get to this and the other PR's in early July. Thanks for your patience.

[2019-06-27 22:10] #2207 closed

[2019-07-03 11:39] fhalhani opened #2366 "Cannot submit results into a challenge"
- the expected behavior
A challenge was created following the steps provided in [EvalAI Documentation release 1.1.] link here https://buildmedia.readthedocs.org/media/pdf/evalai/latest/evalai.pdf
When logged as host, we should be able to submit into a challenge.

- the observed behavior
  1. I logged as host (also for the participant), when I clicked on the phase a warning came up as shown in the

[2019-07-03 13:20] RishabhJain2018 commented on #2366
Hi @fhalhani,
Thanks for reporting the issue. We've fixed this issue with this PR: https://github.com/Cloud-CV/EvalAI/pull/2367. Once this is merged then it should not cause further issues. Please feel free to reopen the issue if it doesn't get resolved.

Thanks, @vkartik97 for the quick fix.

[2019-07-03 13:27] #2366 closed

[2019-07-05 14:00] KhalidRmb opened #2371 "Add remaining integration tests for the worker"
(After Fargate deployment)
- test_extract_challenge_data_succesfully.
- test_run_submission_succesful
- test_load_challenge
Refer this commit: https://github.com/Cloud-CV/EvalAI/pull/2352/commits/493f7cdfcea8f37cd68ee8a6f6aa574ac9a015d9

[2019-07-05 15:08] KhalidRmb opened #2373 "Submission worker: Add successful_submission_flag==True condition before saving submission_output"
- **Expected behaviour**:
If the submission evaluation is not succesful then the submission output in the database should not be updated.
_Example_: if the challenge splits in the output and the database don't match, this line should not run: https://github.com/Cloud-CV/EvalAI/blob/34cf4572d6938a5f16a4d97b1e8434ee5bb49d75/scripts/workers/submission_worker.py#L513
- **Observed behaviour**:
The subm

[2019-07-06 10:10] fhalhani opened #2375 "submission error"
- the expected behavior:
when submitting a file to the challenge it should show the details of the submission
- the observed behavior
when a file is submitted to the challenge all submission details are non as shown below
![](https://drive.google.com/uc?export=view&id=1YtD6-ytled3_pFA3VIP1ynHmr_3z_M2E)
and the following error shows in terminal:
" worker_1  | [2019-07-06 10:06:45] ERROR Exception w

[2019-07-08 11:01] #2141 closed

[2019-07-09 13:20] #2302 closed

[2019-07-10 02:20] #2295 closed

[2019-07-10 08:33] RyanLHU commented on #2375
Try to restart your worker
sudo docker-compose restart worker and submit again

[2019-07-12 00:36] #2305 closed

[2019-07-13 19:14] RishabhJain2018 opened #2385 "Worker: Add tests for the main function"
Add tests for the main function here: https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/submission_worker.py#L658

[2019-07-13 19:28] #2375 closed

[2019-07-15 15:34] RishabhJain2018 opened #2387 "Update submission API results in 500 error"
**Issue:**

The update submission API results into the 500 error when the parameters passed aren't correct. Here is the error: https://sentry.io/share/issue/f8a2925b30604ba0b950abb04853d04d/

**Fix**
All the errors should be properly handled and the response should be displayed to the challenge host.

[2019-07-21 13:24] KhalidRmb opened #2400 "Update emailError key of localStorage on error in the dashboard controller."
### Bug
![Screenshot from 2019-07-21 18-52-13](https://user-images.githubusercontent.com/31621523/61591838-ee487880-abe8-11e9-9c06-99a6c1c1c60c.png)
**Expected** -> For an unverified user, the message displayed should be _"Please verify your email first!"_

**Current** -> The message is "_false_". It os only updated to the former if the user attempts to move to other pages in the menu. (Where loca

[2019-07-21 13:59] KhalidRmb commented on #2400
@Ram81 @RishabhJain2018 PTAL.

[2019-07-27 14:39] RishabhJain2018 commented on #2286
@Sanji515 Can you please add it in the current version as well as in EvalAI-ngx.

[2019-07-27 16:20] Sanji515 commented on #2286
@RishabhJain2018 Sure!

[2019-08-01 13:08] deshraj opened #2419 "ClientException: An error occurred (ClientException) when calling the CreateService operation: TaskDefinition not ..."
https://sentry.io/organizations/cloudcv/issues/1133979609/?referrer=github_plugin

[code]

[2019-08-01 13:09] #2419 closed

[2019-08-04 07:38] rohitjha941 commented on #2387
@RishabhJain2018  Can I work on this?

[2019-08-09 06:25] msubglb opened #2422 "how to access evalai webpage using ip address instead of localhost"
How to configure local evalAI server to access it using ip address? Currently, it seem to work only with localhost:8888.

Thanks

[2019-08-09 16:21] msubglb commented on #2422
actually it opens webspage, but when I enter the password nothing happens when opened on a different machine.

[2019-08-12 21:43] utkugenc commented on #2422
As a workaround, you can update `"API": "http://localhost:8000/api/"` to `"API": "http://YOUR_MACHINE_IP:8000/api/"` in the file `EvalAI/frontend/src/js/config.json`.

[2019-08-14 14:36] bimtauer opened #2426 "Attribute Error during submission: "no attribute 'evaluate'""
Hi there!
So I created a challenge, admin approved it, restarted the worker. When I make submissions they get shown as "Failed" and the Stderr reads:

[code]
I interpret that so that the evaluation script isn't even called in the first place, but to be sure, mine currently looks like this:

[code]

[2019-08-15 20:22] shawnahall71 commented on #2291
Hi @rohitjha941 - we have a new team member who is ready to try integrating EvalAI with Azure Active Directory, so I wanted to check in and see how the work was coming.

Also, I looked through the service provider list you posted above for django-allauth, and while there are a ton of providers I don't see Azure Active Directory (just Microsoft Graph).  However, I do see what appears to be code to

[2019-08-15 21:22] RishabhJain2018 commented on #2426
Hi @bimtauer, Can you please confirm that you're using the latest master branch? There was a bug related to it earlier but it is fixed now.

[2019-08-15 21:30] RishabhJain2018 commented on #2422
Hi @msubglb Can you please check two things -
1. Is the Django container running?
2. Please check the browser console for the error.

[2019-08-20 16:08] pushkalkatara commented on #2238
Hi,

Is this issue resolved?

[2019-08-20 16:40] Sanji515 commented on #2238
Hey @pushkalkatara , I think it is already been added [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/base/utils.py#L196). Hence this issue can be closed @RishabhJain2018 @deshraj

Feel free to take another issue @pushkalkatara

[2019-08-20 16:44] Sanji515 commented on #2238
@pushkalkatara but the tests still left for that function, so if you want then you can work on writing tests for it.

Thanks!

[2019-08-21 14:48] rohitjha941 commented on #2291
@shawnahall71  I have gone through documentation Azure Active Directory. Are you using OAuth/OpenID or SSO? Django All Auth does not have support for AAD.

[2019-08-21 16:11] shawnahall71 commented on #2291
To make sure we're on the same page, this is the list of Azure Active Directory SSO methods available that I've been referring to: https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/what-is-single-sign-on.  I haven't done an integration with our AAD before so I'm not 100% sure, but I believe we have the option of using either OpenID Connect / OAuth as well as SAML.

[2019-08-23 10:57] rohitjha941 commented on #2291
@shawnahall71  We can use OpenID Connect / OAuth

[2019-08-24 03:08] kurianbenoy commented on #2373
Can I work on this issue?

[2019-08-24 03:08] kurianbenoy commented on #2371
Can I work on this issue?

[2019-09-02 12:19] julianmukaj opened #2434 "Login does not work"
**- Expected behaviour**
 Able to login with default users
**- Observed behaviour**
 Login page does nothing
**- steps to reproduce the problem**
 Run steps on the guide then try a default login
**- which operating system**
 Running on Ubuntu Server

[2019-09-02 15:02] Suryansh5545 commented on #2434
Same problem here
**OS**-Windows 10 1903
Docker-19.03.1

[2019-09-02 21:44] bismitaguha commented on #2434
The login works fine on my system.
So could you post screenshots of the problem? @julianmukaj

[2019-09-02 21:46] bismitaguha commented on #1647
Is work on this issue done?
Or can I take up this issue?

[2019-09-04 12:48] julianmukaj commented on #2434
There is nothing to screenshot, the login button fires off but 'connection refused' error is returned on console on OPTIONS verb.

[2019-09-04 14:19] RishabhJain2018 commented on #2434
Hi @julianmukaj, From the screenshot, it looks like the `nodejs` container isn't build properly. Can you please try building and running it again.

[2019-09-05 07:43] hk1997 commented on #2122
Is this issue still open, I would love to work on this

[2019-09-05 17:06] ansuabraham opened #2437 "SyntaxError: Missing parentheses in call to 'print'"
I have built and run the Docker containers for eval AI. Submitting using the default challenge works for me and evaluation happens automatically. But when I upload a new sample challenge (from https://github.com/Cloud-CV/EvalAI/blob/master/examples/example1/test_zip_file.zip), I hit an issue where my submissions don't get evaluated. I approve the challenge as admin, followed by making the challeng

[2019-09-08 13:58] prakharrathi25 commented on #2067
@gautamjajoo Hi, I'm new to the CloudCV community and would love to get started with this issue. Has this been resolved already or is there room for improvement? :)

[2019-09-10 15:07] ansuabraham commented on #2437
@RishabhJain2018 @deshraj any comments?

[2019-09-10 15:14] RishabhJain2018 commented on #2437
Hi @ansuabraham, Thanks for pointing out the bug. We will fix it.
Moreover, please use [EvalAI-Starters](https://github.com/Cloud-CV/EvalAI-Starters) repository for creating a challenge.

[2019-09-10 18:15] ansuabraham commented on #2437
Thanks @RishabhJain2018. Realized that the test challenge was using has evaluation script using Python 2.7 causing this bug above. EvalAI-Starters works for my purpose.

[2019-09-10 23:11] RishabhJain2018 commented on #2437
Thanks for confirming it. Closing this issue.

[2019-09-10 23:11] #2437 closed

[2019-09-10 23:13] RishabhJain2018 opened #2439 "Upgrade challenge examples in EvalAI from Python2 to Python3"
**Issue:**

The challenge configuration examples here: https://github.com/Cloud-CV/EvalAI/tree/master/examples/example1 are written in Python2.

**Deliverables**

Update the examples from Python2 to Python3.

[2019-09-11 01:26] sachinmukherjee commented on #2439
Can I work on this

[2019-09-11 01:26] RishabhJain2018 commented on #2439
Sure!

[2019-09-13 17:41] MichCest opened #2440 "Integrate with EvalAI-ngx"
This may already be in the works but I couldn't find any information on it. We are trying to use EvalAI with https://github.com/Cloud-CV/EvalAI-ngx instead of the built in UI. This may be more of a question/request for help than an issue.

This is the Dockerfile we are using for the front end (pretty much just copied from the ngx project):
[code]
When I do a `docker-compose --build` I get this err

[2019-09-18 11:21] julianmukaj commented on #2434
I have tried 2 re-builds, same issue unfortunately.

[2019-09-18 18:26] RishabhJain2018 commented on #2434
@julianmukaj Which web browser are you using? (The login works perfectly fine in the current master branch and with chrome browser Version 77.0.3865.75 (Official Build) (64-bit))

[2019-09-18 18:31] RishabhJain2018 commented on #2434
Also, please paste the traceback of the error shown by the nodejs or django container.

[2019-09-18 19:12] Sanji515 opened #2443 "Add and update existing tests for challenge submission API"
Reference: #2409

- Some tests were removed in the above mentioned PR but we need those tests with some updation when we upload a file for challenge submission.

- Also need to add tests when we make submission using URL.

[2019-09-19 10:23] julianmukaj commented on #2434
I am on exact same version of chrome as you: Version 77.0.3865.75 (Official Build) (64-bit)

How can I change the base URL of the app? So instead of localhost it calls ##.## ?

I lost the logs but trying to get them up again.

[2019-09-23 22:13] pushkalkatara commented on #2439
Hi @sachinmukherjee Are you still working on this issue? If not, can i take it up?

[2019-09-23 22:38] pushkalkatara commented on #2238
@Sanji515 The tests were also written in the pull requests. Due to conflicts, it was not merged and the [PR](https://github.com/Cloud-CV/EvalAI/pull/2244/commits/f863e09d8c1a628209ee1b9e6c695133f2c2428f) was closed due to inactivity. Should I add the tests @deshraj?

[2019-09-23 22:45] RishabhJain2018 commented on #2238
Sure @pushkalkatara .

[2019-09-23 22:54] pushkalkatara commented on #2220
Hi @sarthak212. are you still working on this issue? or can I take it up?

[2019-09-23 23:00] pushkalkatara commented on #2116
Hi @RishabhJain2018 The [PR](https://github.com/Cloud-CV/EvalAI/pull/2120) was closed due to inactivity. There was an issue with the color progress bar + merge conflicts. Should I fix the same and make a new PR?

[2019-09-24 07:45] pushkalkatara commented on #2238
@RishabhJain2018 ive added the tests. please review #2450

[2019-09-25 15:39] julianmukaj commented on #2434
Possible to change the base URL or not?

[2019-09-25 22:05] RishabhJain2018 commented on #2434
yes, it is possible to change the base URL from this file: https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/js/config.json

[2019-09-28 06:53] generationXcode commented on #2286
Hi I would like to help in this issue

[2019-09-29 06:39] coldk91ght commented on #2443
@Sanji515 Can I take up this issue?

[2019-09-29 06:45] Sanji515 commented on #2443
Sure @coldk91ght

[2019-09-29 15:28] coldk91ght commented on #2443
@Sanji515 Ohkay. On it. 👍

[2019-09-30 12:34] coldk91ght commented on #2443
@Sanji515 Shall I make a separate class for submission post tests?  Also, can you please lead me to the input format for url uploads?

[2019-09-30 14:05] julianmukaj commented on #2434
![image](https://user-images.githubusercontent.com/25327531/65886165-c10c0980-e393-11e9-8092-c684c4cd4bde.png)

Tried again, no logs pop up when I attempt a login.

[2019-09-30 15:25] julianmukaj commented on #2434
I think the API is not running, hitting localhost:8000 returns nothing, are there any other requirements for running the Django app?

[2019-10-04 05:30] #2286 closed

[2019-10-04 10:17] julianmukaj commented on #2434
Any idea as to why the Django doesn't run?

[2019-10-07 11:31] eaniket commented on #2439
Hi @RishabhJain2018 I committed the changes and upgraded the code from python2 to python3.

[2019-10-07 21:00] RishabhJain2018 commented on #2434
Can you please check the logs for the docker container?

[2019-10-07 21:01] RishabhJain2018 commented on #2434
No there aren't any other requirements for running the application. `docker-compose up` should work for launching all the cantainers.

[2019-10-07 21:02] RishabhJain2018 commented on #2434
@Suryansh5545 Is your problem resolved?

[2019-10-08 07:38] QQ-88 commented on #1486
@RishabhJain2018 is this still open? If so I'd like to try it?

[2019-10-08 16:38] Suryansh5545 commented on #2434
i Tried on Windows multiple times. but then i tried it on ubuntu 18.04 LTS and it worked perfectly

[2019-10-08 18:51] RishabhJain2018 commented on #2434
Were you able to figure out the issue on Windows?

[2019-10-08 19:49] r4zorgeek commented on #2443
@Sanji515 Can I take this issue?

[2019-10-09 02:16] Suryansh5545 commented on #2434
Nope

[2019-10-10 09:39] Suryansh5545 commented on #2434
I am going to retry once more on windows today . Will update soon on situation

[2019-10-11 07:17] Suryansh5545 commented on #2434
Hey i rebuild and this time i got a log of db_1 when i try to login. i am attaching all logs related to db_1.
![evalai_db1_logimg](https://user-images.githubusercontent.com/34577232/66632020-2af2a180-ec25-11e9-9aa0-996ba22507ce.PNG)
![evalai_db1_logimg2](https://user-images.githubusercontent.com/34577232/66632021-2af2a180-ec25-11e9-803a-2f3a23d40f36.PNG)
![evalai_db1_logimg3](https://user-images.g

[2019-10-12 10:55] Suryansh5545 commented on #2434
Did you guys find out whats wrong with windows build

[2019-10-20 18:54] kumarrajan4264 commented on #2434
I want to work on this issue .Can i ??

[2019-10-21 07:00] RishabhJain2018 commented on #2434
Sure @kumarrajan4264, Please note that it is failing on Windows only.

[2019-10-21 08:59] julianmukaj commented on #2434
Urm no, I was running it on an Ubuntu 18.04 server. Issue happens on both.

[2019-10-24 10:23] coldk91ght opened #2467 "Discrepancy in status codes in views.py and test_views.py"
https://github.com/Cloud-CV/EvalAI/blob/f59eca2aa8ed8ecf01b340c972e4bde2915010a1/apps/jobs/views.py#L124-L125

The response returns ```status=status.HTTP_400_BAD_REQUEST``` for non-existing challenge.
In test_views.py (https://github.com/Cloud-CV/EvalAI/blob/master/tests/unit/challenges/test_views.py) , lines 369, 658, 1985, 2365, 2596, the code is
```self.assertEqual(response.status_code, status.

[2019-10-24 10:25] coldk91ght commented on #2467
@RishabhJain2018 Shall I correct this right away?

[2019-10-27 12:38] coldk91ght commented on #2467
Okay got it. I'm sorry.  I confused jobs/views.py challenges/test_views.py

[2019-10-27 12:38] coldk91ght commented on #2467
Okay got it. I'm sorry. I confused jobs/views.py challenges/test_views.py

[2019-10-27 12:38] #2467 closed

[2019-10-27 16:03] coldk91ght commented on #2443
I'm sorry for the delay. A close relative of mine had passed away and so I couldn't focus on the task. I have put some new tests. I need some help with the successful url tests and to make a sample input file url for testing. These are the updated tests for now: https://github.com/coldk91ght/EvalAI/commit/38480d99cedd377194fcf8d83e89add0b77750ff

[2019-10-30 23:47] pushkalkatara commented on #2387
Hi @RishabhJain2018 isn't this already implemented in the repo [here](https://github.com/Cloud-CV/EvalAI/blob/ca0351dda61be800b2ee50a2b9d4f41b913e8ea9/apps/jobs/views.py#L854) with [tests](https://github.com/Cloud-CV/EvalAI/blob/ca0351dda61be800b2ee50a2b9d4f41b913e8ea9/tests/unit/jobs/test_views.py#L2309). Is something else expected out of this issue?

[2019-10-31 16:32] pushkalkatara commented on #2220
@sarthak212 Are you still working on this issue? if not, @RishabhJain2018 Can i take this up?

[2019-11-03 21:15] pushkalkatara commented on #2440
Hi, @MichCest I recently set up the https://github.com/Cloud-CV/EvalAI-ngx, I didn't face such an error.

[2019-11-03 22:32] pushkalkatara commented on #2443
Hi @nikochiko These tests might help you out -  [test_submission_worker.py](https://github.com/Cloud-CV/EvalAI/blob/ca0351dda61be800b2ee50a2b9d4f41b913e8ea9/tests/integration/worker/test_submission_worker.py#L231)

[2019-11-04 13:38] cdancette opened #2469 "Error not displayed when filesize > 100 with url send"
When submitting a json file via the url, and the file has more than 100 characters, it fails silently, while answering that the upload was successful.

It would be better to answer with an explicit error message, like it is the case when uploading directly the file.

[2019-11-04 17:14] RishabhJain2018 commented on #2469
Thanks, @cdancette for pointing it.
@Sanji515 Can you please look into this?

[2019-11-04 17:15] RishabhJain2018 commented on #2443
Thanks, @pushkalkatara for the pointer.

[2019-11-04 17:16] RishabhJain2018 commented on #2443
@nikochiko Please open up the PR for it.

[2019-11-05 12:12] nikochiko commented on #2443
@pushkalkatara Thanks for the help.
Opening up PR now. Will add changes to it.

[2019-11-06 17:54] pushkalkatara commented on #2443
Hi @nikochiko . I think these two tests are also required which were removed - [status, file not submitted](https://github.com/Cloud-CV/EvalAI/pull/2409/files#diff-c6268b43fc26de9e08ed355975be069bL424) and [wrong form encoding](https://github.com/Cloud-CV/EvalAI/pull/2409/files#diff-c6268b43fc26de9e08ed355975be069bL445). @Sanji515 Can you comment on this?

[2019-11-06 18:14] Sanji515 commented on #2443
Yes, @nikochiko Those tests need to be added, they may need some updation. Thanks @pushkalkatara for pointing the missing tests

[2019-11-06 22:58] pushkalkatara commented on #2220
@RishabhJain2018 I have some experience with internalization. Do we need to generate static pages for each language or we need to do dynamic translation using an API?

[2019-11-06 23:02] RishabhJain2018 commented on #2220
I think the dynamic translation would be good to have.

[2019-11-07 00:00] pushkalkatara commented on #2220
For dynamic translation, I think we would require an API with a fixed number of calls like Google Translate or Yantdex translator. However, we would require to generate translation tables for each language. Maybe using these free calls to generate translation tables and storing for all the languages we want would be a good idea.

For each page.component.html file (all the static pages), we need to

[2019-11-07 02:54] nikochiko commented on #2443
@pushkalkatara , thanks for pointing. @Sanji515 , I'm working on it.

[2019-11-07 17:49] nikochiko commented on #2443
@pushkalkatara @Sanji515 I need some help with these new tests. I'm struggling with adding these tests without `KeyError` in the Travis CI build. Any pointers please?

[2019-11-07 19:39] Saloni-Tayal opened #2471 "update installation instruction in readme"
When I was setting up EvalAI on my system then for Building and running the Docker containers I had to give the command with admin priviledges(in both windows & ubuntu).
So ``` sudo  docker-compose up --build``` for ubuntu and running cmd with **Run as Administration** should be there.

Thanks!

[2019-11-08 08:28] nikochiko commented on #2443
@Sanji515 Done. Please review.

[2019-11-12 04:16] VishwaasHegde opened #2473 "The documentation page on 'challenge-creation-using-zip-configuration' does not exist"
[This](https://evalai.readthedocs.io/en/latest/challenge_creation.html#challenge-creation-using-zip-configuration) link to the documentation page on 'challenge-creation-using-zip-configuration' does not exist.
- the expected behaviour: To open the documentation
- the observed behaviour: Gives page not found error
- steps to reproduce the problem: Click on 'Host Competition' on the main page, and g

[2019-11-18 06:07] nikochiko commented on #2473
@VishwaasHegde , I think you are referring to this page: https://evalai.cloudcv.org/web/challenge-create
Also facing same issue here: https://github.com/Cloud-CV/EvalAI-Starters/blob/master/challenge_config.yaml
We can use this link instead: https://evalai.readthedocs.io/en/latest/configuration.html#challenge-configuration.
@RishabhJain2018 There are a few more similar issues with the docs pages.

[2019-11-19 18:48] asm582 opened #2475 "Does evalai push support adding different container registry?"
Hello,

Can you provide information on how can one add a different container registry to evalai cli?

Thanks!

[2019-11-19 20:15] RishabhJain2018 commented on #2475
Hi @asm582 ,
I didn't quite get your point.
What do you mean by different container registry? Do you mean to point to the docker hub?

[2019-11-19 22:13] asm582 commented on #2475
yes, how can I configure evalai-cli it to store containers in docker.io or quay.io

[2019-11-20 22:55] RishabhJain2018 commented on #2473
Thanks, @nikochiko for picking up on this issue and opening a PR.

[2019-11-23 18:44] vs74 opened #2478 "UI Design : Signup page displays your password is weak even though password field is empty"
**- the observed behaviour**
   When a user tries to sign up the web page, the first enters the password and then clears this field, the sign up page displays your password is weak
**- the expected behaviour**

   Ideally, it should only display that password is required

**- steps to reproduce the problem**

1. Go to SignUP page
2. First try to enter a random password
3. Clear this password field

[2019-11-23 19:15] vs74 opened #2479 "UI Design: Log in page - To remove redundancy of the password character limit"
**- the observed behaviour**
  Password field by default displays the character limit that minimum length of 8 is required.
**- the expected behaviour**
  According to good UI design, I think it would redundant to include the character limit, when it is actually dynamically updating this behaviour when the character limit is less than 8 and this calls for redundancy.
**- steps to reproduce the pro

[2019-11-24 06:30] vs74 opened #2484 "UI fades out for few seconds and then fades in"
**The Observed Behaviour**
**GIF**
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/31419210/69490542-b9f30a80-0eaf-11ea-8e35-a434d3476794.gif)

Here is a sample GIF wherein I tried to navigate between diff functionalists ( `AI Challenges`, `Hosted Challenge`s, `Create Challenge`). Notice when I click on `AI Challenges`, for a fraction of seconds the screen fades out and then it

[2019-11-24 07:34] aka-jain commented on #2484
Hi @vs74 this is not an effect, just a loading screen waiting for api to getting finished. I guess somehow, loader is not showing up here. We can work on that. See other pages where you can see loader as well as fadeout screen.

[2019-11-24 07:39] Saloni-Tayal opened #2485 "Two links serving same purpose on same webpage"
There is "All Challenges" two times on the same page.

- the expected behaviour
There is no need of having two ["All Challenges"](https://evalai.cloudcv.org/web/dashboard) on the same page as both are serving the same purpose.
I understand that it could have made some sense if we were watching it NOT on desktop view only but still it doesn't go so well(here) as there remain two links to same page

[2019-11-24 07:58] yashdusing commented on #2475
@RishabhJain2018 Could you please answer this ? I also have this doubt since most of the functionality which was added was for AWS. So does the CLI support other container registry hubs ?

[2019-11-24 08:01] yashdusing commented on #2373
@KhalidRmb Is anyone working on this ? I'd like to take this up

[2019-11-24 08:07] yashdusing commented on #2385
@RishabhJain2018 Could you please elaborate on what tests we want here ?

[2019-11-24 08:14] pushkalkatara opened #2486 "[Error Display] User logs in and email not verified."
- the expected behavior
Users should be asked to verify email first to start using EvalAI.
- the observed behavior
The message displayed is unable to create or select a team, and unknown comment as false as in the image
![unable](https://user-images.githubusercontent.com/21266230/69491814-5ae9c180-0ec0-11ea-80cf-1a6b68dbdb64.png)

- steps to reproduce the problem
1. Register a new account.
2. Logi

[2019-11-24 11:02] KhalidRmb commented on #2373
@yashdusing Sure.

[2019-11-24 12:05] bismitaguha commented on #2486
Can I work on this issue @pushkalkatara ?

[2019-11-24 12:24] vs74 commented on #2486
@pushkalkatara, is the problem observed on your local machine ? The reason I am asking is that user email and login are verified on the official website [here](https://evalai.cloudcv.org)

[2019-11-24 12:44] pushkalkatara commented on #2486
Yes i observed it on local host, in the terminal we get a link through which we can verify the account locally, but before that if user tries to login, the above error occurs.

[2019-11-24 12:45] pushkalkatara commented on #2486
@bismitaguha EvalAI maintainers can only assign the issues.

[2019-11-24 21:37] RishabhJain2018 opened #2487 "[Tests] Add tests for updating leaderboard data API"
Deliverables -
Add tests for the API added in this PR #2481

[2019-11-24 21:38] RishabhJain2018 opened #2488 "Add ArgoAI as one of our users"
Add the logo for [ArgoAI](https://www.argo.ai/) alphabetically in the users list.

[2019-11-24 21:52] Ayukha commented on #2487
@RishabhJain2018  Can I take this up?

[2019-11-24 21:53] RishabhJain2018 commented on #2487
Sure @Ayukha !

[2019-11-24 22:26] yashdusing commented on #2488
@RishabhJain2018 can I work on this?

[2019-11-24 22:26] RishabhJain2018 commented on #2488
sure!

[2019-11-25 04:42] nikochiko commented on #2473
@VishwaasHegde @RishabhJain2018 , I think we can close this issue.

[2019-11-25 05:12] VishwaasHegde commented on #2473
@nikochiko okay, Thank you :)

[2019-11-25 05:13] #2473 closed

[2019-11-25 08:07] iamdarshshah commented on #2488
@RishabhJain2018 Do we have to add the logo in the "Partner Organizations section"? Or In which specific section should I update this logo?

[2019-11-25 11:01] bismitaguha commented on #2486
@RishabhJain2018 can I work on this?

[2019-11-26 16:20] RishabhJain2018 commented on #2488
Hi @iamdarshshah, I think @yashdusing is working on it.

[2019-11-29 06:31] vkartik97 commented on #2475
Hi @asm582
Currently, EvalAI only supports AWS' ECR as container registry for challenge submissions, as the project is tightly coupled with AWS.
I hope this resolves your issue.

[2019-11-29 06:34] vkartik97 commented on #2479
@vs74 thanks for reporting this. If you are interested in fixing this issue, please let me know.

[2019-11-29 06:36] vs74 commented on #2479
@vkartik97, I would like to work on this. May I proceed ?

[2019-11-29 06:38] vkartik97 commented on #2479
Sure!

[2019-11-29 08:34] yashdusing commented on #2475
@vkartik97 is there any get started page for the AWS functionality, k8s code and GPU schedule that was implemented during GSOC? I’d like to understand what all was implemented to have an idea of the functionalities

[2019-11-30 21:18] RishabhJain2018 commented on #2488
@yashdusing Any updates on this one?

[2019-12-01 05:10] yashdusing commented on #2488
@RishabhJain2018 is it okay if I complete this by week end ?

[2019-12-01 06:48] RishabhJain2018 commented on #2488
sure, sounds good!

[2019-12-05 04:21] ArcSlayer121 commented on #2479
I would also like to work on this so can i get the source of this page?

[2019-12-05 08:28] vkartik97 commented on #2479
@ArcSlayer121
Currently, @vs74 has been assigned to this issue. Feel free to look for other issues!

[2019-12-08 07:42] tusharfc commented on #2478
@RishabhJain2018 can I work on this?

[2019-12-08 08:10] nikochiko opened #2500 "[Feature Request] How about we add a beginner dataset for users to get familiar with the interface?"
I have been using Kaggle from a long time. And I realized that as a beginner, the [Titanic dataset](https://www.kaggle.com/c/titanic) competition helped me become familiar with their interface. I am relatively new to EvalAI and maybe some sample dataset such as the Titanic along with Tutorial instructions would be cool to have.
Maybe having a tutorial on MNIST dataset will be simple and helpful. I

[2019-12-08 14:15] pushkalkatara commented on #2478
@tusharfc Already there is an open PR for the issue. https://github.com/Cloud-CV/EvalAI-ngx/pull/222

[2019-12-10 05:42] Akash16s commented on #2500
Yes, I think It will be great for newcomers

[2019-12-10 05:45] Akash16s commented on #2486
@RishabhJain2018 can I work on this issue

[2019-12-10 13:18] gautamjajoo commented on #2486
@pushkalkatara There was an issue https://github.com/Cloud-CV/EvalAI/issues/1337 and a PR https://github.com/Cloud-CV/EvalAI/pull/2152 for it and was closed due to inactivity

[2019-12-11 16:35] salonitayal opened #2503 "make challenge tabs stick under navbar"
- the expected behaviour

 As we scroll down the ongoing challenges, upcoming challenges secs etc. stick the top under the navbar. Same as navbar sticks the top of screen. This will help improve the overall experience on the page.

![Peek 2019-12-11 21-58](https://user-images.githubusercontent.com/47540976/70640226-a55d9300-1c61-11ea-940d-bb646e01ad0c.gif)

- the observed behaviour
As we scroll do

[2019-12-11 23:13] pushkalkatara commented on #2220
ref - https://github.com/Cloud-CV/EvalAI-ngx/pull/237

[2019-12-12 03:09] UPCLJ opened #2504 "how to verify my email"
when I enter the url:https://evalai.cloudcv.org/ and sign in my account.
There is a dialog box pops up:
Unable to create or select a team.
Please verify your email first!

[2019-12-12 12:21] ShubhamPandey28 commented on #2503
Can I take this issue?

[2019-12-12 12:25] Sanji515 commented on #2503
@Saloni-Tayal As you have reported this issue, would you like to build this feature?

[2019-12-12 12:41] nikochiko commented on #2504
@UPCLJ when you sign up, you will receive an email like this from `no-reply@cloudcv.org`:

[2019-12-12 12:50] Saloni-Tayal commented on #2503
@sanji515 yes I'd like to take this issue:)

[2019-12-12 12:53] Sanji515 commented on #2504
@nikochiko @UPCLJ I think this issue is the case if a user loses verification email without verifying the link then neither user will be able to verify his account nor create a new account with the same email address.

If I'm right then this is the duplicate of #2122

[2019-12-12 13:02] Sanji515 commented on #2503
@Saloni-Tayal Looking forward to your PR.

Please wait @ShubhamPandey28 Will open more issues soon :smiley:

[2019-12-12 13:17] nikochiko opened #2505 "Insecure requirement: uWSGI"
#### Description of the issue:
The version of uWSGI used by EvalAI (2.0.15) is insecure and should be updated to 2.0.18
See: https://requires.io/github/Cloud-CV/EvalAI/requirements/?branch=master
![uWSGI-insecure](https://user-images.githubusercontent.com/37668193/70715171-ba90fb00-1d0f-11ea-9977-8d873e7522d2.PNG)

#### How to resolve:
1. Update package on your branch
2. Make API changes if any
3.

[2019-12-12 14:30] veb7vmehra commented on #2505
Do I only need to update this particular library on mine branch and make a pull request to close this issue?
I am willing to contribute for this organization and also new here so just asking to confirm..

[2019-12-12 15:59] veb7vmehra commented on #2505
Do I only need to update this particular package on mine branch and make a pull request to close this issue?
I am willing to contribute for this organization and also new here so just asking to confirm..

[2019-12-12 16:06] veb7vmehra commented on #2500
Can I contribute for this issue by creating a tutorial or something?

[2019-12-12 16:41] nikochiko opened #2506 "[Docs] Documentation for making a submission"
Reference: https://evalai.readthedocs.io/en/latest

I wanted to find steps on how to make a submission, but I think it is not there in the docs (please correct me if I am missing something).
The [submissions section](https://evalai.readthedocs.io/en/latest/submission.html) only covers how the submission proceeds, it does not guide through the submission process.
I think there should be a documenta

[2019-12-12 18:01] nikochiko opened #2507 "[Feature Request] Sync accounts for EvalAI and EvalAI-forum"
Currently, if an account is created on [EvalAI](https://evalai.cloudcv.org), the same account cannot be used to login into [EvalAI-forum](https://evalai-forum.cloudcv.org).
I think it will be easier for users to have to create just one account and use it for both as both are part of one project.
Also as a note, the forum has functionality to accept registrations through GitHub and Google other tha

[2019-12-13 11:33] ataata107 commented on #2434
I faced the same issue while installing on windows.
It is because of the change of parsing when you download from github. Bash expects Linux line endings but it is being fed windows line endings.
Here is a quick solution
1) Go to the root folder of EvalAI
2) Type the following commands in bash (you can install bash in windows)
sudo apt-get install -y dos2unix
sudo find . -type f -exec dos2unix {}

[2019-12-13 22:55] ataata107 commented on #2507
I would like to work on to add the functionality to accept registrations through GitHub and google in EvalAI. Can I proceed?

[2019-12-14 02:01] johnwlambert commented on #1176
@RishabhJain2018 is it possible to add submission metadata that is viewable to the public? For example, if I make a submission to the Argoverse 3d Tracking leaderboard, can I add a reference to our corresponding publication?

The [KITTI leaderboard](http://www.cvlibs.net/datasets/kitti/eval_object.php?obj_benchmark=3d) has this functionality, for example, and also the [nuScenes object detection le

[2019-12-14 02:02] johnwlambert commented on #1176
Ideally there would be an "Expand" button and then more metadata about the publication would be visible.

[2019-12-14 07:25] nikochiko commented on #2507
@ataata107 I cannot assign the task. Please wait till the project maintainers decide whether this feature should be added or not and then they can assign it. :)

[2019-12-14 07:29] nikochiko commented on #2505
@veb7vmehra Please wait for one of the project maintainers to respond. Then they can decide if this is required and assign the task.
But this should be the basic steps:
1. Update package on your branch
2. Make API changes if any
3. Make a PR and fix Travis-CI failures
4. Test it and update the code if possible

[2019-12-14 10:52] ataata107 opened #2511 "[Security Update] Multiple login attempts"
There should be a feature to block the user if multiple login attempts are made in the same username.
Admin will have the rights to re-enable the account.
P.S :- I would like to work on this feature update if it seems suitable by the moderators.

[2019-12-14 13:49] Akash16s commented on #2488
Any updates on this issue?

[2019-12-15 18:30] nikochiko opened #2515 "[Feature Request] Add feature to see challenges which the user has participated in."
Currently, there is no way to get a list of all challenges in which the user has participated. (Except for using CLI which has that feature) It would be a good addition here as well.

[2019-12-15 18:37] nikochiko opened #2516 "Setting up developer environment fails: celery and worker throw errors, celery stops running"
As @masonlr pointed out on Gitter, the celery is throwing an error.
See: https://travis-ci.com/nikochiko/evalai-cli/jobs/267038723#L4381 line 4381, a similar error occurred while I tried to setup the server in a Travis VM.

OS: Ubuntu 16.04 Xenial

[2019-12-15 18:41] nikochiko commented on #2516
I think the cause is that Django wasn't up at localhost:8000 in time. @Ram81 pointed out that it could be because of an incorrect hostname for django due to the container name, but the hostname is defined explicitly in the [Dockerfile](https://github.com/Cloud-CV/EvalAI/blob/master/docker-compose.yml#L16). Maybe wait-for-it.sh is malfunctioning?

[2019-12-15 19:52] ataata107 commented on #2516
In https://travis-ci.com/nikochiko/evalai-cli/jobs/267038723#L4381 Line 4373 is the main cause of the issue. You can easily get rid of this issue if you provide your aws credentials(first 4 lines) in the [Docker Environment](../blob/master/docker/dev/docker.env).
Hope this helps :)

[2019-12-15 20:39] tusharfc commented on #2515
@RishabhJain2018  can I work on this?

[2019-12-16 09:38] pushkalkatara opened #2518 "Scroll doesn't work while editing phase details of hosted challenges."

[2019-12-16 11:11] nikochiko opened #2519 "Auth token cannot be renewed"
**Current Scenario:**
Once an auth token is generated, it cannot be renewed. So if my auth token is compromised, my account is permanently compromised.

**Expected Scenario:**
There should be an option to refresh auth token. This will generate a new auth token and associate it with that account to prevent an account from being compromised permanently.

P.S. If the maintainers say this feature shou

[2019-12-18 07:33] masonlr commented on #2516
@ataata107, are AWS credentials required even if the `pakohan/elasticmq` container is being used to replace SQS in development mode? When testing https://github.com/Cloud-CV/EvalAI-ngx, the containers run (and elasticmq works) without having to add personal AWS credentials. The default credentials in https://github.com/Cloud-CV/EvalAI-ngx/blob/master/docker/dev/docker.env work.

Could you please d

[2019-12-21 19:26] abhimnc commented on #2515
hi @nikochiko. I am a newbie here. I want to work on this. Please help me to figure out which part code should I look for working on this. Thanks!

[2019-12-22 20:10] #1705 closed

[2019-12-24 15:03] #2519 closed

[2019-12-25 20:31] nikochiko opened #2542 "[code] Improve code structure for `submission_worker.py` and `remote_submission_worker.py`."
#### Current:
The `submission_worker` and `remote_submission_worker` have a lot in common currently. Naturally, if a change happens in the future, code in both files will have to be edited.
In addition to that, many functions are almost the same with only a few additions.
Moreover, within each file, there is repetition of code, e.g.: the `download_and_extract_file` and `download_and_extract_zip_fi

[2019-12-25 21:03] nikochiko opened #2543 "[code] Create common methods for fetching environment variables"
#### Current:
The code for fetching environment variables is repeated in [`remote_submission_worker.py`](https://github.com/Cloud-CV/evalai/blob/master/scripts/workers/remote_submission_worker.py#L28-L31) and [`rl_submission_worker.py`](https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/rl_submission_worker.py#L26-L31).
So in the future, if additional environment variables are used, th

[2019-12-25 21:20] nikochiko opened #2544 "[code] Common method to create module level constants for worker files"
#### Currently:
The code to create module level constants like `CHALLENGE_DATA_DIR`, `SUBMISSION_DATA_DIR` is the same for both [`submission_worker.py`](https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/submission_worker.py#L56-L72) and [`remote_submission_worker.py`](https://github.com/Cloud-CV/evalai/blob/master/scripts/workers/remote_submission_worker.py#L33-L44).
It only differs i

[2019-12-26 10:34] ashadhaz commented on #2504
Is this issue still open? I would like to work on this @nikochiko

[2019-12-26 14:46] nikochiko opened #2546 "[docs, urgent] Update CrowdAI status"
The comparison table in the readme shows crowdAI, but according to this [blog post](https://www.crowdai.org/blogs/7), crowdAI has been shut down and replaced with a new closed-source platform AIcrowd.
Updates:
1. Change name CrowdAI -> AICrowd
2. Change open-source Yes -> No

[2019-12-26 15:34] nikochiko opened #2547 "[docs] Update FAQs which recommend (to-be) deprecated Python 2.7"
Links with the issue:
1. https://github.com/Cloud-CV/EvalAI/blob/master/docs/source/faq(developers).md#q-getting-the-following-error-while-running-python-managepy-seed :
    * Recommends using Python 2.7 as a solution
2. https://github.com/Cloud-CV/EvalAI/blob/master/docs/source/faq(developers).md#q-while-trying-to-install-npm-config-set-proxy-httpproxyport-on-ubuntu-i-get-the-following-error :

[2019-12-27 12:57] apoorvkhare07 commented on #2546
Hey @nikochiko
I would like to take up this issue.

[2019-12-27 13:21] nikochiko commented on #2546
@apoorvkhare07 I'm not a maintainer but I don't think they will mind for a doc update, so sure! :+1:

[2019-12-28 08:13] prakhargurunani commented on #2546
@nikochiko @apoorvkhare07
https://github.com/Cloud-CV/EvalAI-ngx/pull/245
This is for Eval AI Angular Frontend, not for CrowdAI :smiley:

[2019-12-28 08:16] nikochiko commented on #2546
@prakhargurunani Yes I know. But if you go through this issue carefully, the problem mentioned here is that the status of the organization CrowdAI in the comparison table is outdated. You have implemented the same outdated comparison table in your PR.

[2019-12-28 08:23] prakhargurunani commented on #2546
Ok @nikochiko
I will make the changes.

[2019-12-28 09:19] yashdusing commented on #2516
I guess celery doesn't support elasticmq yet so that might be what's causing the problem for dev env.
I'll try setting up a separate example to check if it is actually the case
Reference : https://github.com/celery/celery/issues/5406

[2019-12-28 23:44] Suryansh5545 opened #2553 "Header Buttons Not behaving as expected on Mobile view"
- the expected behaviour:-

The 3 Buttons Challenge,Docs & Forum should have either collapse with header or align in more proper way so user dont have problem viewing and the log out button should stick to the header
- the observed behaviour:-

All 4 Buttons mentioned above follow the view if user scroll down it would have been correct if aligned properly . But they will interrupt when user might

[2019-12-29 06:29] Sanji515 commented on #2553
@Suryansh5545 As you have reported this issue, would you like to work on it?

[2019-12-29 18:55] nikochiko opened #2557 "Add tests for new RL Worker files"
#### Scenario:
Recently, new files for RL workers have been added:
1. [rl_submission_worker.py](https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/rl_submission_worker.py)
2. [worker_util.py](https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/worker_util.py)

#### Solution
We will need new tests for these.

[2019-12-29 19:03] RishabhJain2018 commented on #2557
Thanks, @nikochiko for adding this and I'd suggest you to work on the utils first as `rl_submission_worker.py` might change since it is still under development.
Moreover, @vkartik97 will be there to help you since he has written this code during his GSoC 2019.

[2019-12-29 19:20] nikochiko commented on #2557
@RishabhJain2018 Thanks for updating me with the development status. I will start work on the utils part then. And, I am already in touch with @vkartik97 over this issue 😄.

[2019-12-29 19:20] RishabhJain2018 commented on #2557
Perfect!

[2019-12-29 20:18] Suryansh5545 commented on #2553
@Sanji515  Can I work on it?

[2019-12-30 08:05] gautamjajoo opened #2559 "Remove the common errors"
Remove the common errors which are not used from the [docs page](https://evalai.readthedocs.io/en/latest/faq(developers).html#common-errors-during-installation) now since we have shifted the setup from virtualvenv to docker.

[2019-12-30 08:07] gautamjajoo opened #2560 "Update the Contribution Guidelines on EvalAI-Docs"
Update the Contribution Guidelines on [EvalAI-Docs](https://evalai.readthedocs.io/en/latest/contribution.html) with the one present on Github.

[2019-12-30 09:44] Suryansh5545 commented on #2560
@gautamjajoo Can i work on it

[2019-12-30 09:57] Suryansh5545 commented on #2560
#2561

[2019-12-31 07:02] nikochiko commented on #2557
I think this is probably an error in the code: https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/worker_util.py#L58
The returned response will be `dict` object (see [`make_request`](https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/worker_util.py#L40)) and reference to `response.status_code` should raise an `AttributeError`.
Am I missing something?

[2019-12-31 07:06] nikochiko commented on #2557
For the fix, I was thinking we could add an extra argument:
[code]

[2019-12-31 09:28] vkartik97 commented on #2557
No, avoid using flags in open source codebases. Why? Maintaining code that makes use of flags is that the number of states grows quickly, and there are almost always unhandled states.

[2019-12-31 09:55] nikochiko commented on #2557
Oh I see. I will keep that in mind.
Then how about this:
We leave the `make_request` method untouched and make changes in the `delete_message_from_sqs_queue` function,
According to the views.py, the returned response contains this [message](https://github.com/Cloud-CV/EvalAI/blob/master/apps/jobs/views.py#L1209).

As this message can clarify if the task was successful, we can return the response d

[2019-12-31 19:33] daniel22373 commented on #2373
This issue was posted as a task on Google Code-In. I claimed the task, and it seems like this issue has not been resolved yet, so I'll start working on it. Is that fine?

[2020-01-01 05:28] nikochiko opened #2564 "Insecure requirement: Django version insecure"
#### Current:
The Django version currently in use for EvalAI (1.11.23) is now being marked as insecure by `requires.io`. While 1.11.23 was a security release and is much safer than its previous versions, it can still be a major trouble in the future as Django has ended support for all 1.x versions.
![django-insecure](https://user-images.githubusercontent.com/37668193/71638325-ac852900-2c82-11ea-9f

[2020-01-01 06:28] nikochiko commented on #2516
I think the issue has been resolved in one of the updates. I was able to successfully setup everything with the latest version.

[2020-01-01 07:25] dush-t commented on #2487
As this is still open, can I take this up?

[2020-01-01 09:36] amanex007 opened #2565 "Duplication of Code"
A lot of files have duplicated code.
Files and counts are as follows.
Count | Path
      1   | evalai/utils/challenges.pyDuplication
      1   | evalai/utils/teams.pyDuplication
    11   | tests/test_challenges.pyDuplication
     2    | tests/test_requests.pyDuplication
     2    | tests/test_teams.pyDuplication

Removing these duplicate codes and taking a look at them might help lessening the cod

[2020-01-01 09:37] #2565 closed

[2020-01-01 09:44] amanex007 opened #2566 "Remove duplicated code"
A lot of files have duplicated code.
Files and counts are as follows.

Count | Path

1 | apps/base/utils.py
1)https://github.com/Cloud-CV/EvalAI/blob/master/apps/base/utils.py#L16
   https://github.com/Cloud-CV/EvalAI/blob/master/apps/base/utils.py#L157
1 | apps/challenges/views.py
1)https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L277
   https://github.com/Cloud-CV/EvalAI/

[2020-01-01 09:58] pushkalkatara commented on #2566
@amanex007 please point the links too.

[2020-01-01 10:11] amanex007 commented on #2566
sure

[2020-01-01 10:21] amanex007 commented on #2566
done

[2020-01-02 18:24] nikochiko opened #2570 "Use a single library for HTTP requests in jobs/utils"
#### Current behavior:
In jobs/utils.py, two libraries (urllib and requests) are being used for the same purpose

#### Expected behavior:
Only one library (preferable `requests`) should be used.

[2020-01-03 17:11] hkmatsumoto opened #2574 "Improper error message"
**The observed behavior**:
When I input Japanese words into team name, the error message "This field is required" is shown.
![Screenshot from 2020-01-04 02-06-17](https://user-images.githubusercontent.com/57856193/71737568-5e953e80-2e97-11ea-87f9-22d276e3d0f1.png)

**The expected behavior**:
When unexpected letter (not limited to Japanese letter) is in input, the error message should be something

[2020-01-03 18:24] drepram commented on #2574
Can you try this out in EvalAI-ngx too?

[2020-01-03 19:01] takitsuse commented on #2574
Sure :smile_cat:

[2020-01-04 15:04] nikochiko opened #2578 "Improve documentation structure"
#### The current picture:
The structure for the readthedocs documentation for EvalAI (https://evalai.readthedocs.io/en/latest/) is a bit hard to follow, The titles of different section as seen in the panel on the left look like random topics where two unrelated or two similarly titled topics are placed next to each other.

#### The improvement:
As the documentation covers a wide variety of topics,

[2020-01-04 15:38] nikochiko opened #2580 "[docs] 2 partially inconsistent instances of contributing guidelines"
#### The issue:
* There are two different instances of contributing guidelines: https://github.com/Cloud-CV/EvalAI/blob/master/.github/CONTRIBUTING.md and https://github.com/Cloud-CV/EvalAI/blob/master/docs/source/contribution.rst
* It is confusing as it is hard to understand which is the more up-to-date one (from the commit history, both have been updated separately before the last commit).
* As

[2020-01-04 18:37] keskarshreesh commented on #2559
Hey @gautamjajoo can I take up this issue?

[2020-01-04 18:55] Suryansh5545 commented on #2580
@nikochiko There are two contribution guidelines because one is for github which support .md file only and other for readthedocs site which support .rst files only . So we can't have one. For both

[2020-01-04 18:55] Suryansh5545 commented on #2580
I think this issue can now be closed

[2020-01-04 18:57] Suryansh5545 commented on #2578
I have recently work on a .rst files and it is quite hard in it to organize it to look good .

[2020-01-04 18:57] Suryansh5545 commented on #2578
But I will try to work on it

[2020-01-04 19:09] nikochiko commented on #2580
@Suryansh5545 We have support for markdown files in Sphinx (see https://github.com/Cloud-CV/EvalAI/blob/master/docs/source/conf.py#L37) through CommonMarkParser, which is why all the other documents in docs/source directory are in markdown format.
(Sphinx is the one building the documentation, not readthedocs).
Moreover, simply that two services we use do not support similar filetype is not a reas

[2020-01-04 19:13] Suryansh5545 commented on #2580
Markdown doesn’t support a lot of the features of Sphinx, like inline markup and directives. However, it works for basic prose content. reStructuredText is the preferred format for technical documentation

[2020-01-04 19:14] Suryansh5545 commented on #2580
I think this answers it

[2020-01-04 19:15] Suryansh5545 commented on #2580
And making sync will be for now more difficult than perhaps updating both

[2020-01-05 06:30] Tanuj22 commented on #2574
@takitsuse Are you solving this or can I?

[2020-01-05 06:46] takitsuse commented on #2574
@Tanuj22 I'm not working on this, so go ahead :+1:

[2020-01-05 07:16] Suryansh5545 commented on #2559
@gautamjajoo Please take a look

[2020-01-05 07:19] nikochiko commented on #2580
@Suryansh5545 Yes, I agree with that, but I think markdown is still very usable. Almost all of our documentation is in markdown. So I think we can go with Markdown for consistency purposes. And I don't think the contributing file would need to contain any technical information.
So I think this is still a critical issue as both of the guidelines differ (I think one is even outdated and shows incorr

[2020-01-05 07:23] Suryansh5545 commented on #2580
We can give it a try

[2020-01-05 07:23] Suryansh5545 commented on #2578
@nikochiko Can i work on it?

[2020-01-05 12:12] Suryansh5545 commented on #2122
Can i work on it?

[2020-01-06 08:31] Suryansh5545 opened #2586 "[Frontend V2] Only one footer component"
**Current Scenario**
Currently We have two footer component one for Authenticated users and other for none authenticated . But both are almost identical. With very little different.
**Expected Scenario**
We can have the functionality of both in just one footer component this will reduce the work of editing both footer . if we have to change it .

Can i work on it?

[2020-01-06 09:49] Suryansh5545 commented on #2503
I think no one is working on this?

[2020-01-06 15:55] Suryansh5545 opened #2588 "Scroll up Button not showing up"
- **The expected behaviour**
In the challenge list the scroll up button should show up after going down a bit the page.
- **The observed behaviour**
The scroll up button doesn't show up at all even after reaching at the bottom
- steps to reproduce the problem
1.go to evalai.cloudcv.org/web/challenges/list
2. Scroll down

Can i work on it?

[2020-01-06 16:48] Suryansh5545 opened #2589 "Add Collapsible to Challenge list"
Currently When user visits the evalai challenge list page . He is bombarded with all the challenges the on going, up coming and past ones . This make it hard for user to navigate and search. Currently there are 48! challenges on evalai challenge list .

Expected Solution:
Add a Collapsible so the user can open and close the list he wants . like if he want to look for current challenge then we will

[2020-01-06 17:11] Suryansh5545 opened #2591 "Add a Search Bar In Challenge-List"
Currently the evalai challenge list have 48 challenges Which make it hard for user to search. While We can add a Collapsible to increase the navigability . We need to have a search bar so if user knows the name of challenge then he can search it and wouldn't require to search though all the challenges.

Can i Work on this?

[2020-01-07 06:37] yashdusing commented on #2516
#2593 solves this. This issue can be closed

[2020-01-07 16:44] lausinn commented on #2426
Hi @bimtauer, was there a solution for this?
I am getting the same error and am using the most recent branch.

[2020-01-08 14:52] nikochiko opened #2598 "Add a more detailed guide for new contributors"
Currently, there is no specific style guide defined for either of our codebases (EvalAI, EvalAI-ngx or EvalAI-CLI). There are some instructions within the [EvalAI documentation](https://evalai.readthedocs.io/en/latest/contribution.html#instructions-to-submit-code) about using PEP8 or airbnb style guide. But I think these are very preliminary and a more detailed guide can be written.
This can inclu

[2020-01-08 17:39] Suryansh5545 commented on #2515
@nikochiko Can i work on it

[2020-01-08 18:01] Tanuj22 commented on #2574
I was looking into this issue. Does creating a regex to allow only english letter sound good?

[2020-01-08 18:20] Tanuj22 opened #2599 "UI-issues in Mobile."
The Topbar options and and Logout botton are not showing as expected in Mobile View.

![Screenshot from 2020-01-08 23-38-38](https://user-images.githubusercontent.com/42486853/72004285-15ffcb80-3271-11ea-9536-54de3915f4a1.png)

Can i work on this?

[2020-01-08 22:38] takitsuse commented on #2574
Sounds good to me. What do you say @Sanji515?

[2020-01-09 02:47] Suryansh5545 commented on #2599
@Tanuj22 This is the duplicate of #2553 and there is a PR to close this #2563

[2020-01-09 08:19] Suryansh5545 commented on #2598
@nikochiko I think instead of writing we should use the standard guidelines which are followed by most

[2020-01-09 10:06] nikochiko commented on #2598
@Suryansh5545 Yes, you are right. We should use the standard general guidelines (such as PEP8, airbnb etc.). But, as I have stated above,

There are some things on which the [PEP8 guide](https://www.python.org/dev/peps/pep-0008/) and corresponding standards for other languages do not say anything. In such a case, it is a choice of the developers, but this could differ from person to person (for ex

[2020-01-09 10:12] Suryansh5545 commented on #2598
@nikochiko then first we have to see what is missing in pep8 and airbnb then make a report and submit it to core developers??

[2020-01-09 10:32] nikochiko commented on #2598
@Suryansh5545 It'd be great to have PEP8 detail everything for us. But PEP8 is only a styling guide. And even in styling, it cannot have specific opinions on some topics (for example, there is no reason why 4 spaces indentation is better than 2 spaces indentation). So it comes down to the decision of us as contributors. And as we all are working on a common project, it makes sense to follow one pr

[2020-01-09 10:40] Suryansh5545 commented on #2598
@nikochiko Thats what i am trying to say . We should create a documentation with both the style we use and the things that are missing like the naming conversion that you stated. But first we might need a report on what is to be included. What you say??

[2020-01-09 16:25] nikochiko commented on #2578
@Suryansh5545 Sure! But make sure you also talk to a mentor so that they verify that this change is needed and that your PR can be merged. I'll ping them in cc here.
cc: @RishabhJain2018 @Ram81 @vkartik97

[2020-01-09 16:53] Suryansh5545 opened #2602 "Dark Theme Option"
These days many big sites and app have dark theme and it is also good for eye in dark(i open evalai at night in dark and it is not eye friendly )
I have created a prototype with black and dark grey of homepage here are  images of it.
**Black in background  and dark grey in the rest**
![Selection_015](https://user-images.githubusercontent.com/34577232/72087341-4f4a4100-332e-11ea-8dae-44e74375b9e4.p

[2020-01-09 18:42] nikochiko commented on #2602
@Suryansh5545 Just throwing a personal opinion: the screenshots look really cool! :D

[2020-01-09 18:51] Suryansh5545 commented on #2602
@RishabhJain2018 @Sanji515 @Ram81 @KhalidRmb

[2020-01-10 13:23] #2599 closed

[2020-01-11 04:08] nikochiko opened #2607 "Add integration tests for remote_submission_worker"
Currently, only integration tests for submission_worker are present (reference: https://github.com/Cloud-CV/EvalAI/tree/master/tests/integration/worker). So I think integration tests for remote_submission_worker would be required as well.
Please let me know if the work on that is already underway or if we have planned to only have unit tests for that.

[2020-01-12 08:22] takitsuse opened #2609 "Unused argument in update_submission_data"
**Current**:
`update_submission_data` function is implemented [here](https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/worker_util.py#L88) and [there](https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/remote_submission_worker.py#L447), but none of them use `submission_pk` argument in their codes.

**Proposal**:
I think we should remove the unused argument.

P.S: I'd like

[2020-01-12 08:37] nikochiko commented on #2609
I noticed it too while writing tests for worker_util.py (https://github.com/Cloud-CV/EvalAI/pull/2576). I applied the fix in worker_util.py there but I think having a separate PR for this will be better as it has two occurences. :+1:

[2020-01-12 08:41] takitsuse commented on #2609
I agree. I'll create a new PR for this.

[2020-01-12 18:27] nikochiko opened #2613 "Analyze why maintainability estimate is low (D)"
As per `codeclimate.com` (which has been integrated with EvalAI and creates a maintainability sticker on the README), the maintainability of the code in EvalAI is `D`. This is a rough estimate of the maintainability (for example, the simplicity and cleanliness of the code). This can be improved by refactoring some parts of the code.
The codeclimate report is a bit stricter and some issues from tha

[2020-01-13 10:51] nikochiko commented on #2613
This is my report for the python side: https://github.com/nikochiko/EvalAI/blob/ImproveMaintainability/improve_maintainability.md

Please let me know if anything can be added. Work can be started one-by-one on each.

[2020-01-13 19:40] Suryansh5545 opened #2615 "Website crumbles if cookies are blocked"
**The expected Behaviour:-**
The Website should be accessible to the user even if he is blocking the cookies.
**The Observed Behaviour:-**
Everything in the header except the image disappear, buttons in footer stop working and year is not shown. The login is also not working. animations disappears and  the evalai image is no longer take back to homepage if clicked . the contact page if reached is

[2020-01-14 14:28] masonlr commented on #2516
Until #2593 has been merged, @nikochiko could you please re-open this issue?

[2020-01-14 14:37] masonlr commented on #2516
Also @nikochiko, thanks for the dramatiq changes!

[2020-01-14 15:17] Suryansh5545 commented on #1619
@RishabhJain2018 If this issue is still open can i work on it?

[2020-01-14 15:21] nikochiko commented on #2516
@masonlr I think that's right, I'll wait for it to be merged. :+1:

[2020-01-14 15:54] Suryansh5545 opened #2618 "Add a Cookie Consent"
Currently we don't show the user the cookies consent which might make us non compiling to the international regularities . We should have a cookies consent display below for new users

[2020-01-14 15:54] Suryansh5545 commented on #2618
Can i work on this?

[2020-01-14 16:53] daniel22373 commented on #2241
Hi, can I start working on this? @gautamjajoo

[2020-01-15 09:14] Suryansh5545 commented on #2615
In privacy policy we state that some features of website won't work.  But instead the whole site falls.

[2020-01-16 11:15] nsjcorps opened #2623 "EvalAI is not responsive"
# Current Behavior
The EvalAI mobile view looks like this now
![Screenshot_20200116-121134](https://user-images.githubusercontent.com/35180217/72520470-d3825400-3859-11ea-8f9f-8b21c3b0f665.png)

# Expected behavior
It should be responsive on mobile view

[2020-01-16 11:23] Suryansh5545 commented on #2623
@nsjcorps Are you talking about those forum, docs and log out button?

[2020-01-16 11:26] nsjcorps commented on #2623
Yes @Suryansh5545

[2020-01-16 11:30] Suryansh5545 commented on #2623
Actually there is a issue #2553 about it and a pr to close it #2563

[2020-01-16 11:33] nsjcorps commented on #2623
O alright. Thanks for the info @Suryansh5545

[2020-01-16 11:38] Suryansh5545 opened #2624 "Editing team name adds data to other fields"
- the expected behaviour:-
The data should not be automatically entered into the field creating a participant new team
- the observed behaviour:-
the data of user is automatically added to the field of creating a participant new team
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/34577232/72522034-af873880-3882-11ea-8ae3-19cc558f719a.gif)

- steps to reproduce the problem:-
1.

[2020-01-16 17:56] deshraj opened #2625 "Update paper link on landing page and README"
Currently the paper link in README and the landing page points to the arxiv version. Recently, the paper was accepted at AI Systems Workshop at SOSP 2019. We want to update the link and bibtext to that.

Here is the updated link: http://learningsys.org/sosp19/assets/papers/23_CameraReadySubmission_EvalAI_SOSP_2019%20(8)%20(1).pdf

[2020-01-17 17:29] Bhargavamacha commented on #1647
I would like to take the issue up if it's not done yet.

[2020-01-21 15:16] nikochiko opened #2636 "Add integration with Dependabot"
### The problem:
Updating dependencies is a repetitive need. However, it is not feasible for a person to keep an eye on all updates on dependencies. As a result, the outdated dependencies keep piling up. A need for a remediation on this was felt while working on this: https://github.com/Cloud-CV/EvalAI/pull/2627

### The solution:
The process of updating dependencies can be automated easily with b

[2020-01-21 16:24] #2475 closed

[2020-01-21 18:43] Tanuj22 commented on #2636
@nikochiko Can I work on it?

[2020-01-21 21:15] Suryansh5545 commented on #2636
@nikochiko if dependabot isn't integrated then how this pr was created https://github.com/Cloud-CV/EvalAI/pull/2466 i cant understand?

[2020-01-22 17:48] adrijshikhar commented on #2559
@keskarshreesh are you still on the issue?

[2020-01-22 17:49] adrijshikhar commented on #2560
@Suryansh5545 are you still on the issue?

[2020-01-22 17:52] adrijshikhar commented on #2503
@Saloni-Tayal are you still working on this?

[2020-01-22 17:53] Suryansh5545 commented on #2560
@adrijshikhar  There is already a pr open to close this issue

[2020-01-22 17:56] adrijshikhar commented on #2232
is this issue resolved?

[2020-01-22 17:56] Suryansh5545 commented on #2559
@adrijshikhar there is already a pr for this mentioned above

[2020-01-22 18:02] adrijshikhar commented on #2578
is this issue still open?

[2020-01-22 18:04] Suryansh5545 commented on #2578
@adrijshikhar the issue is open but as no maintainer have given any though about it might not be good to proceed

[2020-01-22 18:06] adrijshikhar commented on #2570
is this issue still open? i would like to work on this.

[2020-01-22 18:07] adrijshikhar commented on #2566
@amanex007 is this issue still open?
i would like to work on this.

[2020-01-22 18:10] nikochiko commented on #2570
There's a PR for it already. Please find another issue! :)

On Wed, Jan 22, 2020, 23:36 Adrij Shikhar <notifications@github.com> wrote:

[2020-01-22 18:10] adrijshikhar commented on #2547
@nikochiko is this issue still open?
i would like to work on this.

[2020-01-22 18:36] adrijshikhar commented on #2564
@nikochiko is this issue open?
i would like to work on this.

[2020-01-22 19:16] devanshbatra04 commented on #1347
Taking this up!

[2020-01-24 08:13] nikochiko commented on #2564
Yes, the issue is open!

But heads up, the maintainers haven't shared their opinions yet. And as it will be a big decision to bump django this is only a ["spike"](https://www.quora.com/What-is-a-spike-in-software-engineering) task for now.

[2020-01-24 08:31] nikochiko commented on #2636
@Suryansh5545 Nice catch :+1: I missed that PR. I think you are right, we do have integration with dependabot.
But I'll still keep this issue open as there are many outdated dependencies, and like the issue I mentioned above (PR #2627) it could cause unnecessary problems.

@Tanuj22 Only people with write access to the repo can configure dependabot iirc. Feel free to take up another issue tho! Happ

[2020-01-24 08:33] nikochiko commented on #2636
Also the PR you mentioned (#2466) is the only one opened by dependabot. Maybe the PRs are infrequent due to some configuration settings.

[2020-01-24 08:35] Suryansh5545 commented on #2636
@nikochiko , Yea I saw that myself. But there might be some reason developers have its frequency reduced.  They have integrated it well in cloudcv website repo.

[2020-01-24 08:38] Suryansh5545 commented on #2636
I think it might be bit annoying seeing many pr being created.  Also the dependabot bot didn't test for the changes in frontend I recently update some dependencies in my own repo for test and it deformed the frontend.

[2020-01-24 11:53] nikochiko commented on #2636
Yes I am aware that it might have been done deliberately.
But I still have the opinion that having a bot handle the dependencies (however annoying) will be a good addition overall.  I am hoping to have a discussion with the maintainers or the mentors in the know about the same. So that way we can discuss the issues and come to a definite conclusion.

We need to take feedback from a robust CI pipel

[2020-01-24 16:20] bosecodes commented on #2625
I'd like to work on this! @deshraj

[2020-01-24 16:22] RishabhJain2018 commented on #2625
Sure @bosecodes

[2020-01-25 18:05] Kajol-Kumari opened #2641 "Admin Dashboard don't give correct count of host and participant teams"
After adding 3 host teams and two participant teams:
- the expected behaviour:
The count should have been 3 for host team and 2 for participant team
- the observed behaviour: The count showed 2 for both of them

Screen record link:
https://drive.google.com/file/d/1mwk7XcQ8xQm6pwsx5uwBrVpWVtyTxGUh/view?usp=sharing

[2020-01-26 07:48] Suryansh5545 commented on #2641
Thank you @Kajol-Kumari for reporting this issue and as you have reported this would you like to work on it?

[2020-01-26 08:31] Kajol-Kumari commented on #2641
I would love to work on it @Suryansh5545

[2020-01-26 16:52] Kajol-Kumari opened #2646 "Redirecting to home page with limited access after sign up"
Current behaviour:
1. It redirected to the login page after clicking on the signup button.
2. A message which is not so meaningful is shown after the unverified user sign up.
3. Unverified user is not able to access his/her dashboard.

Expected Behaviour:
1. Unverified users should have basic access right of his/her dashboard.
2. It should have provided a meaningful message after login through a n

[2020-01-26 17:08] nikochiko commented on #2646
I think this is a duplicate of https://github.com/Cloud-CV/EvalAI/issues/1934

[2020-01-26 17:14] Kajol-Kumari commented on #2646
@nikochiko Yes the email part is same as #1934, i missed to look up on the other's issues.But what about feature part and second part of this issue?

[2020-01-26 17:20] nikochiko commented on #2646
Can you elaborate on why you think it will be better to redirect to the home page?

[2020-01-26 17:23] Kajol-Kumari commented on #2646
After signing up, user don't usually prefer to enter their details again. So it would have been if after signing up, user would have been directed to the home page showing a message telling them to verify their email Id.

[2020-01-26 18:35] Suryansh5545 commented on #2646
@nikochiko I think @Kajol-Kumari is saying right. it does make more sense to redirect to home page instead of showing a message with "false" on dashboard when user sign up and also we should redirect the user who log out to landing page or homepage . I have personally feels quite annoying when I am redirected to log in page just after log out.

[2020-01-27 07:00] nikochiko commented on #2646
@Kajol-Kumari Nice point! :100:
I think the philosophy behind redirecting to the login page is this:
-> We don't sign-in the user automatically after filling the details for sign up
-> So, if the user gets to the homepage first
-> he/she will have to go to the login page anyway in order to sign-in.

(Let me know if I am missing something).
So if I understand correctly, what you mean is to log in u

[2020-01-27 12:18] Kajol-Kumari commented on #2646
yes @nikochiko It would also be better if with limited functionality, a message will be attached to their dashboard telling them to verify their email ID in order to get the full access rights.

[2020-01-27 12:23] Suryansh5545 commented on #2646
@Kajol-Kumari @nikochiko I think the limited functionality aspect is already implemented in the form of the error message saying to verify the email .

[2020-01-27 12:37] Kajol-Kumari commented on #2646
@Suryansh5545 I am not sure whether i got your question or not but currently after someone do sign up and login without email verification.That person is not even able to access his/her dashboard.So by limited access i mean to  have access to one's dashboard only showing them the message to complete the verification process till they verify their email.

[2020-01-27 12:38] nikochiko commented on #2646
@Kajol-Kumari Great! Can you open another issue or change the title of this one accordingly then?
The issue mentioned in the title has been clarified `#1934`.
Also, could you please add a list of the additions you want to see? We could split the addition into multiple steps. That will make both the contribution and review easier. And also allow anyone new to know about the feature request and prov

[2020-01-27 12:42] nikochiko commented on #2646
@Suryansh5545 I meant limited functionality as in [allowing an unverified user to view challenge details](https://github.com/Cloud-CV/EvalAI/issues/2241).

[2020-01-27 13:27] Suryansh5545 commented on #2646
@nikochiko there is a pr for this ability and it was actually the task of GCI

[2020-01-27 13:32] Suryansh5545 commented on #2646
#2640

[2020-01-27 13:34] Suryansh5545 commented on #2646
@Kajol-Kumari so you want to show the dashboard with the please verify your email message?

[2020-01-27 14:01] Kajol-Kumari commented on #2646
@Suryansh5545 I want to show the normal dashboard with count of challenges and participants(will always be 0 for new user) and along with that, an attached message telling them to verify their email id to have full access i.e creating host,creating participant,creating challenges etc.

[2020-01-27 14:02] Suryansh5545 commented on #2646
Got it

[2020-01-27 14:02] Suryansh5545 commented on #2646
@Kajol-Kumari but perhaps I will suggest to get a maintainer advise on this issue

[2020-01-27 14:47] nikochiko commented on #2646
@Suryansh5545

I know, I was just giving an example. :)

[2020-01-27 15:18] Kajol-Kumari commented on #2646
@RishabhJain2018 please have a look at the suggestions.

[2020-01-28 18:57] RishabhJain2018 commented on #2426
Closing this as it is fixed.

[2020-01-28 18:57] #2426 closed

[2020-01-29 08:01] Kajol-Kumari commented on #2624
@Suryansh5545 Can i work on this,please?

[2020-01-29 08:15] Suryansh5545 commented on #2624
@Kajol-Kumari yea sure go for it:+1:

[2020-01-29 13:49] Kajol-Kumari opened #2648 "Participant can't remove their member if needed"
Current Behaviour:
If a participant add a member in his/her team by mistake,he/she will have to create a new team from scratch in  order to remove that particular member.

Feature Requested:
There should be a delete option(in the form of icon will be more suitable) after the name of each member of the team. It will make it easier for them to remove any of his/her member if needed.

[2020-02-01 12:36] Kajol-Kumari commented on #2648
can i work on this?

[2020-02-04 05:49] Suryansh5545 commented on #2602
Closing This as the feature is currently not required but can be revisited later

[2020-02-04 05:49] #2602 closed

[2020-02-05 14:31] #2488 closed

[2020-02-06 20:49] Abhi58 commented on #2618
Hi @Suryansh5545 @Sanji515 . This can be fixed by adding ngCookies module in the app.js. I would like to take up this issue. Please, let me know if the addition of cookie consent is needed. Thanks!

[2020-02-06 21:10] Abhi58 commented on #2566
Hi @amanex007 . I have removed the duplicate strings 'domains' in the views.py of both participants and challenges folders. But, the base/utils.py duplicates mentioned in the issue can not be removed. Since, the code you mentioned is a library which is used to import PageNumberPagination module which is used in multiple places in the code. Also, in the #L157, do you want me to get rid of the entir

[2020-02-06 22:44] msubglb opened #2654 "Hardware configuration"
Hi,

This question is related to hardware configuration. We would like to host a "Host Prediction upload based challenge" based internal challenge.  What kind of server capacity and HW configuration needed to host this challenge with 1000 team participants.

Thanks,
Mahesh

[2020-02-07 16:25] amanex007 commented on #2566
Ask @pushkalkatara  to review it, he has opened this issue and has more knowleadge and understanding about the issue.

[2020-02-07 21:02] Kajol-Kumari opened #2656 "Host team can't remove member"
Current Behaviour:
If a Host Team add a member in his/her team by mistake,he/she will have to create a new host team from scratch in order to remove that particular member.

Feature Requested:
There should be a delete option(in the form of icon will be more suitable) after the name of each member of the team. It will make it easier for the host to remove any of his/her member if needed.

Screensho

[2020-02-07 21:16] Kajol-Kumari opened #2657 "Pagination not working"
- Expected behaviour
After adding a particular number of host team(4-5),the next team should go too the next page.

- Observed behaviour
Even after adding 12 teams, all the teams are being displayed on the same page
- Steps to reproduce the problem
Go to Host team -> Add 5-6 team there.

GIF:
![ezgif com-video-to-gif (2)](https://user-images.githubusercontent.com/44888949/74066414-0a90f300-4a1d-11

[2020-02-07 21:45] Kajol-Kumari opened #2658 "Squash all commits into single commit in pull request"
Current Behaviour:
Each pull request contains many commits that makes it difficult for the reader.

Feature Requested:
Add squash feature in the Contribution guideline (https://github.com/Cloud-CV/EvalAI/blob/master/.github/CONTRIBUTING.md). This will help the contributors to squash all the commits in a single commit making the pull request much cleaner than now.

Steps to squash:
1. git rebase -i

[2020-02-07 22:03] Sanji515 commented on #2657
Thanks for the issue but if we lessen the enteries per page then the challenges won't be displayed on the challenge list page as we have not added pagination on the [challenge list page](https://cloudcv.slack.com/archives/C2P84STC6/p1581110162002900). And for adding pagination first we are thinking to add tabs (Ongoing, Upcoming and Past Challenges) on top of the page for displaying these challeng

[2020-02-08 06:03] Suryansh5545 commented on #2656
@Kajol-Kumari As this is similar to other issue can we just change the name of your other issue and include both of these and merge this delete member change in single pr.

[2020-02-08 06:09] Suryansh5545 commented on #2657
@Sanji515 Sir where are we talking to add these tabs

[2020-02-08 06:22] Kajol-Kumari commented on #2657
@Sanji515 sir, I will add the tabs first but can you please elaborate what and where should the feature added.

[2020-02-08 06:24] Kajol-Kumari commented on #2656
I was thinking of the same @Suryansh5545 but was not sure.Thanks for suggestion, i am adding it in the other issue and removing this one.

[2020-02-08 06:28] #2656 closed

[2020-02-08 06:43] Suryansh5545 commented on #2658
@Kajol-Kumari The suggestion is quite good . But we should also see the pros and cons http://www.davidchudzicki.com/posts/first-parent and after this if community finds it ok then we can add this as a mandatory or suggested way to keep pr nice and organized

[2020-02-08 08:33] Kajol-Kumari commented on #2658
@Suryansh5545 Most of the against points can be tackled by adding a note in the guideline i.e "Please squash only if you are done with all the work to done with that pr and has been reviewed by one of the mentor." And rest as the community decides after looking at the suggestions and docs.

[2020-02-08 10:21] Sanji515 commented on #2657
@Suryansh5545 @Kajol-Kumari We want to add tabs on the page where all the challenges are listed ([here](https://evalai.cloudcv.org/web/challenges/list)). Instead of showing `Ongoing`, `Upcoming` and `Past` challenges in one page we want to show them in different tabs. So basically there will be 3 tabs for Ongoing, Upcoming and Past Challenges.

And also we want to add this feature directly in [ngx

[2020-02-08 12:35] Suryansh5545 commented on #2657
@Sanji515 Sir like a collapsible for each tab ?

[2020-02-08 12:45] Suryansh5545 commented on #2658
@Kajol-Kumari Yea this can be done.

[2020-02-08 13:07] RishabhJain2018 commented on #2658
Thanks, @Kajol-Kumari for the issue and @Suryansh5545 for the suggestion. Can anyone of you please add this and open up a PR?

[2020-02-08 13:17] Kajol-Kumari commented on #2657
@Sanji515 If i am getting it correctly, the requirement is to have three tabs on the top of the challenge list page which will help the user to navigate to the particular page containing particular type of challenge(upcoming,past,ongoing). If this is so, then challenge list page will have to look somewhat like main Dashboard having three tabs each for creating of viewing particular type of challen

[2020-02-08 13:19] Kajol-Kumari commented on #2658
@RishabhJain2018 I would like to work on it.

[2020-02-08 13:24] Suryansh5545 commented on #2657
@Sanji515 A month ago I made a pr to add collapsible to all three tab upcoming, ongoing and past . So user can navigate easily.  So are we talking about adding that sort of thing? #2590

[2020-02-08 13:36] Sanji515 commented on #2657
No @Suryansh5545 , actually we are thinking to add tabs on the top instead of collapsible.

[2020-02-08 13:38] Suryansh5545 commented on #2657
@Sanji515 Ok, Sir got it also I am closing that old pr.

[2020-02-08 13:43] Sanji515 commented on #2657
Yes, correct! @Kajol-Kumari but we don't have tabs on the [dashboard page](https://evalai.cloudcv.org/web/dashboard).

[2020-02-08 14:32] Suryansh5545 commented on #2657
@Kajol-Kumari I think @Sanji515 sir is talking about this type of tab https://materializecss.com/tabs.html

[2020-02-08 14:49] Kajol-Kumari commented on #2657
Got it @Sanji515 and @Suryansh5545 thanks for that link. Can i start working on it?

[2020-02-08 14:51] Sanji515 commented on #2657
Sure @Kajol-Kumari

[2020-02-08 16:54] Abhi58 commented on #2566
Sure @amanex007 . Thanks!!

[2020-02-08 16:54] Abhi58 commented on #2566
@pushkalkatara Hi, could you please guide me through this?

[2020-02-08 17:55] #2625 closed

[2020-02-09 10:16] Suryansh5545 commented on #2657
@Sanji515 Sir , I was thinking maybe we can show some pagination below each challenge card containing small description. This might decrease the time the user takes to search for or decide.?

[2020-02-10 18:35] #2624 closed

[2020-02-10 18:42] Sanji515 commented on #2641
Nice catch @Kajol-Kumari Thanks for reporting this issue and opening PR.

[2020-02-10 19:07] #2641 closed

[2020-02-12 19:30] Kajol-Kumari opened #2664 "Host Deletion function performs no check for the type of Host"
#Bug

Expected behaviour:
Admin should not be allowed to delete himself.

Observed behaviour:
When Admin tries to remove himself, the whole team along with his members get removed.

Steps to reproduce the problem:
After writing controller function for deleting host.
Go to Host Team -> Create a new host team -> Add members to it -> Try deleting Admin

Operating System:
Ubuntu 18.04

Browser:
Google

[2020-02-12 19:45] Suryansh5545 commented on #2664
@Kajol-Kumari As you have added this new feature and you know what possibly went wrong would to like to fix it?

[2020-02-12 19:47] Suryansh5545 commented on #2664
@Kajol-Kumari The feature isn't merged yet so you can fix this bug in that and close this issue.

[2020-02-12 19:53] Kajol-Kumari commented on #2664
@Suryansh5545  The part of code i have given in reference is already merge. While working on deletion feature of host, i found that the codes for deletion is already written but it is not performing any check on the type of  user trying to delete a particular host.

[2020-02-12 19:55] Kajol-Kumari commented on #2664
I am working on it @Suryansh5545

[2020-02-13 10:33] Kajol-Kumari opened #2666 "Unclear Naming to variables"
Current Behaviour:
Many Variable names are unclear and creates confusion regarding their purpose.

Expected Behaviour:
Variable names should clearly describe its purpose.

References:
1. https://github.com/Cloud-CV/EvalAI/blob/master/frontend/tests/controllers-test/challengeHostTeamsCtrl.test.js#L418
Here, the test is written for delete function for hostTeam where Variable name "ParticipantId" is

[2020-02-13 16:12] aryanmediratta opened #2669 "Tests for 'encode_data' and 'decode_data' in apps/base/utils.py"
This is with reference to https://github.com/Cloud-CV/EvalAI/issues/2107 . Someone created this issue but it wasn't completed.
Secondly, I could not fine where these functions are being used. Still, I wrote unit tests for them to increase the coverage.

[2020-02-13 23:48] RishabhJain2018 opened #2670 "Create an API for getting the count of pending messages on in SQS Queue"
**Description:**
Currently, we have the APIs for fetching & deleting the messages from SQS Queue but the challenge host doesn't know the pending messages in the AWS SQS queue.

**Deliverables**:
- [ ] Add an API for returning the count of the pending messages in SQS Queue.
- [ ] Add relevant tests for the API.

**References:**
- https://stackoverflow.com/questions/11901273/how-to-get-messages-rece

[2020-02-14 02:15] RishabhJain2018 opened #2672 "Fix potential vulnerabilities due to outdated requirements"
There are some outdated requirements that can open potential security threats. Hence we should update the vulnerable package versions as suggested by Github. Here is the list of upgrades to be done (as suggested by Github):

Django>=1.11.28

There is a PR for it #2663 but please test and make sure to verify the validity and compatibility of suggestions with EvalAI current master branch.

[2020-02-14 03:24] Suryansh5545 commented on #2672
@RishabhJain2018 Sir , django 1.11 is going out of extended maintenance after April so shouldn't we move to 2.2 Lts version now.

[2020-02-14 03:38] RishabhJain2018 commented on #2672
Yes, the plan is to move towards Django 2 but that will require a significant amount of work in the codebase. Can you please try installing Django 2 and check what all changes we will need for it in the existing codebase.

[2020-02-14 03:44] yashdusing commented on #2670
Can I take this up ?

[2020-02-14 04:04] nikochiko commented on #2672
Similar issue: https://github.com/Cloud-CV/EvalAI/issues/2564

[2020-02-14 04:14] RishabhJain2018 commented on #2670
Sure @yashdusing.

[2020-02-14 04:15] RishabhJain2018 commented on #2672
Thanks for mentioning @nikochiko. I'm closing this one.

[2020-02-14 04:15] #2672 closed

[2020-02-14 04:18] RishabhJain2018 commented on #2564
@adrijshikhar Would you still like to work on it?

[2020-02-14 17:03] yashdusing commented on #2670
@RishabhJain2018 I have a doubt.
As far as I've understood from the reference link, you mean to get the ApproximateReceiveCount (number of times the message has been read up till now) for a particular message. Problem is the fetch messages API in jobs app fetches a bulk of message at once (queue.receive_messages()) and returns only one of the messages which leads to false counting. We can limit th

[2020-02-14 18:57] RishabhJain2018 commented on #2670
Sorry, I added the wrong reference link there. What we need is an API that will return the number of messages in the SQS queue at any time.

[2020-02-16 06:01] Ayukha opened #2676 "Redundant worker dependencies"
2 different versions of numpy have been installed in the Worker dockerfile
https://github.com/Cloud-CV/EvalAI/blob/810322c6adb01d42d318105bfc7981dfc8c3e06b/requirements/worker.txt#L3
https://github.com/Cloud-CV/EvalAI/blob/810322c6adb01d42d318105bfc7981dfc8c3e06b/docker/dev/worker/Dockerfile#L14

Also, all the requirements could be specified in worker.txt file, which would reduce a layer on docker

[2020-02-16 19:38] pushkalkatara opened #2678 "Remote worker tests missing."
Hi,

There are several tests missing for `remote_worker.py`.

Codebase - https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/remote_submission_worker.py

Testfile - https://github.com/Cloud-CV/EvalAI/blob/master/tests/unit/remoteworker/test_remote_worker.py

Coverage report: https://codecov.io/gh/Cloud-CV/EvalAI/src/master/scripts/workers/remote_submission_worker.py

@RishabhJain2018 @v

[2020-02-16 20:32] RishabhJain2018 commented on #2678
Yes, definitely.

[2020-02-16 20:34] RishabhJain2018 commented on #2676
Thanks @Ayukha for catching it. Would you like to work on this issue?

[2020-02-16 20:34] Ayukha commented on #2676
Sure!

[2020-02-18 15:38] aryanmediratta commented on #2142
@RishabhJain2018 There seems to be no pull request associated with this issue and it's still open too. Can I work on this?

[2020-02-18 18:17] devanshbatra04 commented on #2564
Can I take this up?

[2020-02-18 18:50] Suryansh5545 commented on #2564
@devanshbatra04 I don't think @adrijshikhar or anyone else is working on this so you can take it. But it will be a lot of work. :+1:

[2020-02-18 20:48] RishabhJain2018 commented on #2564
@devanshbatra04 Sure!

[2020-02-19 22:29] RishabhJain2018 opened #2685 "Test and Verify django, worker container with python 3.7.5"
**Description:**

We would like to update the python dependency from 3.6.5  to 3.7.5 and it requires testing of django and worker development container with python3.7.5

**Deliverables:**
- [ ] Test the Django docker container and if it works fine, then update the dev Dockerfile with python3.7.5 as the base image.
- [ ] Test the worker docker container and if it works fine, then update the dev Doc

[2020-02-20 03:13] Ayukha commented on #2685
Can I take this up?

[2020-02-20 03:13] RishabhJain2018 commented on #2685
Sure @Ayukha

[2020-02-21 13:11] Ayukha commented on #2685
@RishabhJain2018  `Python:3.7.5` is built upon `Debian 10 Buster`and `Python:3.6.5` was on `Debian 9 stretch`, it has dropped support for `openjdk-8-jdk` because of security issues, I have updated to `jdk 11` which is the latest LTS and it works fine. Should i open a PR for same?

[2020-02-21 14:10] adrijshikhar commented on #2506
@nikochiko i would like to work on this, can you assign it to me?

[2020-02-21 14:11] nikochiko commented on #2506
@adrijshikhar Sure! Go ahead

[2020-02-21 17:45] RishabhJain2018 commented on #2685
sounds good, please open the PR.

[2020-02-21 20:31] hugoziviani commented on #2676
Hello, what could I do to reproduce this issue? I would like to try.

[2020-02-23 01:44] #2685 closed

[2020-02-23 09:25] Suryansh5545 commented on #2564
@Rishabhjain2018 I think this issue is free as @devanshbatra04 is working on other issue #2686 . So can I take it?

[2020-02-23 09:55] devanshbatra04 commented on #2564
@Suryansh5545 please go ahead, I have my exams so won't be able to work on either issues this week.

[2020-02-23 14:16] pushkalkatara commented on #2678
Noticed two open PR for the issue -

1. https://github.com/Cloud-CV/EvalAI/pull/2551
2. https://github.com/Cloud-CV/EvalAI/pull/2527

[2020-02-23 14:28] nikochiko commented on #2678
I would like to add that apart from the unit tests, the integration tests for remote submission worker are also missing (ref: https://github.com/Cloud-CV/EvalAI/issues/2607).
I am not sure how it is supposed to be, but consistency-wise it makes sense to have both.
cc: @RishabhJain2018

[2020-02-24 17:44] spectre1811 commented on #2676
@Ayukha Are you still working on this issue ? If not, can i work on this one?

[2020-02-24 19:04] spectre1811 commented on #2142
Is this issue still open to work on ? i would like to take up this issue as well @RishabhJain2018

[2020-02-25 09:45] pushkalkatara commented on #2678
@nikochiko Thanks for pointing out. I have added a list above of missing tests, also referenced open PRs for the same. Do add to the list if you find something missing.

[2020-02-26 10:36] abbasidaniyal commented on #2387
@RishabhJain2018  Is this issue still open?

[2020-02-28 09:11] adityaketkar commented on #2518
Hi @pushkalkatara, can you please describe this issue a bit in detail? I am able to scroll the edit phase page and the scroll works fine.

[2020-02-29 02:17] RishabhJain2018 commented on #2241
Thanks @daedaldan , @nikochiko for the efforts but we already have this page https://evalai.cloudcv.org/web/challenges/list which doesn't require email verification.

[2020-02-29 02:17] #2241 closed

[2020-02-29 08:44] gautamjajoo commented on #2241
@RishabhJain2018 Actually the issue was not in displaying the All Challenges Page but the details of a specific challenge which are shown once a user clicks on it.
A user who hasn't login can view it but an unverified user cannot.

[2020-02-29 18:31] Ayukha opened #2691 "Update Python version to latest across all environments"
As we have updated the python version in the dev environment to 3.7.5, I think we should also update the python version used by Travis for CI, currently, it uses python 3.6
https://github.com/Cloud-CV/EvalAI/blob/1b1318d458c9dff4d2a0d936015e57215989ca21/.travis.yml#L6

@RishabhJain2018

[2020-02-29 18:54] RishabhJain2018 commented on #2691
Yes, please update it.

[2020-02-29 19:12] Ayukha commented on #2691
@RishabhJain2018 I had few doubts related to the Dockerfile. Could you please resolve them.

[2020-03-01 03:29] RishabhJain2018 commented on #2654
Hi @msubglb ,

Thanks for reaching out to us. For hosting, you can use `m4.2xlarge`  but it will again depend upon the size of your annotation files as they are loaded in the RAM.
Please feel free to ask if you've more questions.

[2020-03-01 03:29] #2654 closed

[2020-03-01 03:31] RishabhJain2018 commented on #2666
Hi @Kajol-Kumari,
Thanks for opening the issue and the corresponding PR. We would be happy to incorporate the suggestion. Can you please write in the description here why the variable names are incorrect and are creating confusion?

[2020-03-01 03:33] RishabhJain2018 commented on #2648
Thanks @Kajol-Kumari for opening the issue. @Sanji515 will be reviewing your PR soon :)

[2020-03-01 03:44] RishabhJain2018 commented on #2646
Thanks @Kajol-Kumari , @nikochiko and @Suryansh5545 for the suggestions. I think what you guys are proposing makes sense. I'm summarizing the above suggestions here  -
1. A new user should be logged-in directly after signup instead of redirecting to login page.
2. The message on the dashboard for verifying the email should be meaningful giving the reason.
3. Even if the email isn't verified, the u

[2020-03-01 05:29] Kajol-Kumari commented on #2646
Yes @RishabhJain2018 These are the features we want to add on. Also i would like to work on it and @nikochiko and @Suryansh5545 you people can also work on the same as there are 3 features so will have 3 PRs for this. Please let us know if you have enough time to work on this(As you people have exams going on). Meanwhile, I would like to go with first part i.e Redirecting user to Dashboard with me

[2020-03-01 05:36] Suryansh5545 commented on #2646
@Kajol-Kumari My exams will be over by 3 march. But I will take a gaming break for a week after my exams so you go ahead.:+1:

[2020-03-01 05:41] RishabhJain2018 commented on #2618
Hi @Abhi58 , Sure, you can work on this issue.

[2020-03-01 09:04] #2615 closed

[2020-03-01 12:02] apoorvkhare07 commented on #2657
Hello @RishabhJain2018, Is this issue still open or the pull request fixes it?

[2020-03-01 12:12] apoorvkhare07 commented on #2564
Hey @nikochiko @RishabhJain2018 I think porting complete backend from Django 1.11 to 2.2 is in itself a big task and would take time. So can we break it small tasks so that multiple people would be able to work on it?

[2020-03-01 12:28] nikochiko commented on #2564
@apoorvkhare07
Yes, the first task is to update Django form 1.11.23 to 1.11.28, I think @Suryansh5545 is already working on it.
I want to add that the [official docs](https://docs.djangoproject.com/en/3.0/howto/upgrade-version/) mention this:

So we can have separate tasks for testing and adding changes for each move (1.11 -> 2.0 and 2.0 -> 2.1 and so on).
@RishabhJain2018, your input?

[2020-03-01 16:09] Suryansh5545 commented on #2564
@nikochiko in previous issue I discussed with @RishabhJain2018 and there is a plan to upgrade from 1.11 . Also @apoorvkhare07 At this time I am unable to work on this issue so if you want then you can take this issue.

[2020-03-01 17:57] Ayukha opened #2693 "Irrelevant dependencies installed in docker images"
The docker files contain dependencies related to Django which are not used by the Workers and Celery. The current size of the docker images can be reduced to a large amount if we remove the irrelevant requirements.

- [ ] Separate requirement files for worker and remote worker

- [ ]  Seperate dockerfile for remote worker

- [ ] remove irrelevant dependencies from dockerfile

@RishabhJain2018

[2020-03-01 17:58] RishabhJain2018 commented on #2693
Thanks @Ayukha for pointing it out. Please feel free to work on it.

[2020-03-01 18:06] abhishekcrdsa7 commented on #2670
Can I work on this if this is still available?

[2020-03-01 18:08] RishabhJain2018 commented on #2670
Hi @abhishekcrdsa7, No, this is done, please take up any other from the list.

[2020-03-01 19:24] RishabhJain2018 opened #2694 "django-import-export is not able to export the files"
**Description:**
Django import-export isn't able to export the files. The list for the type of file to be exported doesn't open. Please see the screenshot for more reference.
<img width="1390" alt="Screenshot 2020-03-01 at 2 22 28 PM" src="https://user-images.githubusercontent.com/12206047/75632267-66880b00-5bc8-11ea-84e7-d90ee695f848.png">

[2020-03-01 19:44] Ayukha commented on #2694
can i take this up?

[2020-03-01 20:09] RishabhJain2018 commented on #2694
Sure @Ayukha .

[2020-03-01 20:47] yashdusing commented on #2694
@Ayukha aren't you working on #2693 ?

[2020-03-01 20:56] RishabhJain2018 commented on #2694
I think @Ayukha didn't ask to work on #2693. I simply asked him to work. My bad. Since @Ayukha is working on this one, @yashdusing would you like to pick up #2693 ?

[2020-03-02 04:29] yashdusing commented on #2694
@RishabhJain2018 Yes, sure

[2020-03-02 04:30] RishabhJain2018 commented on #2694
Perfect!

[2020-03-02 04:56] RishabhJain2018 opened #2695 "Display stats on homepage dynamically"
**Description**
The count for hosted AI challenges, users, submissions on homepage is hardcoded in the codebase and we want to update it dynamically.

**Deliverables:**
- [ ] Add API to fetch the total count of ongoing and past challenges, users and submissions.
- [ ] Update the homepage code fetch using the above API.
- [ ] Add unit tests for the backend and frontend.

cc: @Ram81 @Sanji515 @vkart

[2020-03-02 04:58] yashdusing commented on #2695
Can I work on this instead of #2693 ?

[2020-03-02 04:58] RishabhJain2018 commented on #2695
Sure.

[2020-03-02 04:59] RishabhJain2018 commented on #2693
This issue is still open :)

[2020-03-02 05:23] RishabhJain2018 opened #2696 "Add models for storing organization information"
**Description:**
The information for the organization name, logo are hardcoded in the homepage. We would like to update this information dynamically from the backend.

 **Deliverables:**
- [ ] Add models for storing the information of the organizations in the `web` app.
- [ ] The table name should be - Organization
- [ ] The model fields should be - name, logo, is_active (boolean flag to decide if

[2020-03-02 05:45] pushkalkatara commented on #2696
Hi @RishabhJain2018 Would it be fine if I take this up with #2678 in review?

[2020-03-02 06:46] RishabhJain2018 commented on #2696
Sure.

[2020-03-02 06:51] pystar-oss commented on #2693
@RishabhJain2018  I would like to work on it

[2020-03-02 06:52] RishabhJain2018 opened #2697 "Show organization logos dynamically from backend"
Dependent on #2696 (Can be worked only when this is merged.)

**Description:**
The organizations using EvalAI are hardcoded in the codebase with their logos. We would like to load these organizations from the backend.

**Deliverables:**
- [ ] Add an API to fetch the logos from the backend for which `is_active=True`.
- [ ] Change the frontend code to use this API and display the logos.

[2020-03-02 06:53] pystar-oss commented on #2697
@RishabhJain2018 I would like to work on it

[2020-03-02 06:56] RishabhJain2018 opened #2698 "Add a tab for participated challenges for participants"
**Description**:
As the number of challenges is increasing on EvalAI, we need a separate tab for participants which will show only the challenges in which they have participated (Similar to Hosted Challenges).

**Deliverables**:
- [ ] Add an API to fetch the participated challenges for a particular user.
- [ ] Add a tab in the left sidebar to show the participated challenges for a participant like

[2020-03-02 07:02] RishabhJain2018 commented on #2693
Sure @pystar-oss you can take this up.

[2020-03-02 07:03] RishabhJain2018 opened #2699 "Filter challenges based upon name"
**Description:**
Since we've more than 50 AI challenges on EvalAI, it would be good to add filtering based upon the challenge name.

**Deliverables:**
- [ ] Add an API to filter challenges based upon the challenge name in the challenges app.
- [ ] Add unit tests for the API

[2020-03-02 07:05] RishabhJain2018 commented on #2591
Hi @Suryansh5545, Thanks for opening this. I've added this as an issue and noticed it later. I'm closing it.

[2020-03-02 07:05] #2591 closed

[2020-03-02 07:19] Ayukha commented on #2698
@RishabhJain2018  Can I take this up?

[2020-03-02 08:02] Suryansh5545 commented on #2698
@RishabhJain2018 Sir i think we have a similar issue already #2515

[2020-03-02 08:29] adityaketkar commented on #2699
Hi @RishabhJain2018, can I take this one up?

[2020-03-02 10:35] ksarthak4ever commented on #2699
@RishabhJain2018 can i work on this?

[2020-03-02 15:34] Sanji515 commented on #2697
Sure @pystar-oss

[2020-03-02 15:38] Sanji515 commented on #2698
I see @Suryansh5545 ... lets close [#2515 ](https://github.com/Cloud-CV/EvalAI/issues/2515). And I think as no one is working on this issue @Ayukha you can take this one.

[2020-03-02 15:40] Sanji515 commented on #2515
Closing this as it is opened [here](https://github.com/Cloud-CV/EvalAI/issues/2698) now.

[2020-03-02 15:40] #2515 closed

[2020-03-02 16:32] RishabhJain2018 commented on #2699
Hi @adityaketkar, Sure you can take this up.

[2020-03-02 16:32] RishabhJain2018 commented on #2699
Hi @ksarthak4ever, Please take up any other issue from the list.

[2020-03-02 16:56] Sanji515 commented on #2698
I think @Ayukha is already working on [this](https://github.com/Cloud-CV/EvalAI/issues/2694) issue so this issue is still open.

[2020-03-02 16:57] aryanmediratta commented on #2698
@Sanji515 Can I take this up?

[2020-03-02 16:57] Sanji515 commented on #2698
Sure @aryanmediratta

[2020-03-02 16:59] Ayukha commented on #2698
@Sanji515  i have already opened a PR for #2694

[2020-03-02 17:01] Sanji515 commented on #2698
oh I see then @Ayukha you can work on this issue.

[2020-03-02 17:02] Sanji515 commented on #2698
@aryanmediratta Please feel free to take up any other issue :)

[2020-03-02 17:59] nikochiko opened #2701 "Center EvalAI logo properly"
**Description**
The EvalAI logo in use has some extra space on the right side.
<kbd>
<img src="https://raw.githubusercontent.com/Cloud-CV/EvalAI/master/docs/source/_static/img/evalai_logo.png">
</kbd>

**Expected**
Crop the logo to make it properly centered.

**Reference**: https://raw.githubusercontent.com/Cloud-CV/EvalAI/master/docs/source/_static/img/evalai_logo.png

[2020-03-02 21:36] #2694 closed

[2020-03-02 21:50] RishabhJain2018 opened #2702 "Travis Build is failing"
The Travis build on EvalAI master branch is failing due to this error: https://travis-ci.org/Cloud-CV/EvalAI/builds/657494984#L2044

cc: @Sanji515

[2020-03-02 22:38] #2702 closed

[2020-03-03 11:15] Kajol-Kumari commented on #2646
@RishabhJain2018 one thing i would like to add as suggested by @Suryansh5545 that it would be better if we direct the user to home page rather than login page after they logout. Sir, please let me know should i go for it or not.

[2020-03-03 12:49] adityaketkar commented on #2699
@RishabhJain2018, just a suggestion. Can we try the filter functionality Angular provides instead of creating separate search button and interface?
It looks elegant and is also fast. Have a look at the demo below :

![SmallSadFlyingsquirrel-size_restricted](https://user-images.githubusercontent.com/22611315/75777166-c233cf00-5d55-11ea-9b53-593da420b3e3.gif)

[2020-03-03 23:44] pushkalkatara commented on #2696
@abbasidaniyal Please claim the issue before making a PR to avoid conflicts. I already claimed the issue with the https://github.com/Cloud-CV/EvalAI/issues/2696#issuecomment-593231047 and recently made a PR for the same. I noticed you worked on the same issue with the PR #2705 and now we two same PR for the issue.

[2020-03-03 23:49] pushkalkatara commented on #2697
@pystar-oss Are you still working on the issue? If not, can I take this up @Sanji515 ?

[2020-03-04 02:22] abbasidaniyal commented on #2696
@pushkalkatara My apologies. I'll take care from now onwards!

[2020-03-04 16:30] Kajol-Kumari commented on #2618
@RishabhJain2018 If @Abhi58 is not working on it, I would like to work on this.

[2020-03-07 15:25] adityaketkar commented on #2618
@Abhi58 are you working on this issue?

[2020-03-07 16:03] yashdusing commented on #2695
@RishabhJain2018 do we need real time updates ? Or updates on load only ?

[2020-03-09 04:56] adityaketkar commented on #2503
@Saloni-Tayal are you working on this issue? if not, @Sanji515 can I take this issue up?

[2020-03-09 05:22] adityaketkar opened #2710 "[Feature Proposal] Add support to signup/login using Github OAuth"
The signup experience can be simplified by integrating a "Sign up using Github" link along with the current sign up form.

Proposed Feature :
- "Sign up using Github" option during registration.
- "Sign in using Github" option during login.

[2020-03-09 06:10] Kajol-Kumari commented on #2710
Hey @adityaketkar  I think it's a copy of #2291

[2020-03-09 08:29] adityaketkar commented on #2710
@Kajol-Kumari yes, indeed they are same. I'll close this issue. Thanks for pointing out.

[2020-03-09 08:29] #2710 closed

[2020-03-09 13:39] adityaketkar opened #2711 "Add search bar in all challenges view to filter challenges based on title"
**Description:**

Following up with #2699, use the new API to query the database for challenges based on title input by the user.

**Deliverables:**
- [ ] Add appropriate functions in the controller to call the new API
- [ ] Add a search bar in front-end and connect it to the controller

[2020-03-11 08:56] adityaketkar commented on #2711
@RishabhJain2018 can you review #2699 so I can take this up?

[2020-03-11 17:14] aryanmediratta commented on #2697
@Sanji515 Can I work on this?

[2020-03-12 19:44] Suryansh5545 commented on #2711
@adityaketkar I think  this issue is similar to #2591 . And it was decided to close it for #2699 . As it seems much better.

[2020-03-12 20:15] adityaketkar commented on #2711
@Suryansh5545 I agree. Should I add these deliverables in #2699 and close this issue ?

[2020-03-12 20:17] Suryansh5545 commented on #2711
@adityaketkar the idea is already rejected in #2591  so I don't think the community needs it now . But it's your choice.

[2020-03-12 20:24] adityaketkar commented on #2711
Thanks for the information @Suryansh5545. Closing this issue.

[2020-03-13 16:44] joaoplm commented on #2434
Hi. im having the same problem. Log in does nothing.

This is the log:

celery_1  | /usr/local/lib/python3.7/site-packages/pep8.py:110: FutureWarning: Possible nested set at position 1
celery_1  |   EXTRANEOUS_WHITESPACE_REGEX = re.compile(r'[[({] | []}),;:]')
celery_1  | /usr/local/lib/python3.7/site-packages/celery/platforms.py:801: RuntimeWarning: You're running the worker with superuser privil

[2020-03-13 17:04] joaoplm commented on #2434
My server config:

Linux spark 4.15.0-88-generic #88-Ubuntu SMP Tue Feb 11 20:11:34 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

HD: 70 GB

RAM: 32GB

[2020-03-14 08:13] adityaketkar commented on #2693
@pystar-oss if you are still working on this issue? if not, @RishabhJain2018 can I take this up?

[2020-03-16 08:58] ritika-11 commented on #2691
Can I work this issue?

[2020-03-18 02:17] Kajol-Kumari commented on #2657
@apoorvkhare07 The PR is for adding tabs to the challenge list page. Pagination part is still left, so if you wish, you can work on pagination part.

cc: @RishabhJain2018 @Sanji515

[2020-03-19 06:15] blackeye735 commented on #2691
Can I work for and contribute in this issue? @RishabhJain2018

[2020-03-20 09:34] ritikchauhan-01 commented on #2564
hey @Suryansh5545 can I take this issue.If you are not working on this issue.

[2020-03-20 09:35] Suryansh5545 commented on #2564
@ritikchauhan-01 Sure , go ahead

[2020-03-20 11:07] Diaga commented on #2646
@Kajol-Kumari Hello, I would like to work on this if the issue is open.

[2020-03-24 12:27] srichakradhar commented on #2695
Hi.. Is this issue still open to claim? Are you finished working on this @yashdusing ?

[2020-03-24 14:28] yashdusing commented on #2695
@srichakradhar I already have made a PR for it. It’s still underway. Could you please take up some other issue?

[2020-03-27 15:40] Rubix982 opened #2733 "Broken Link In The "Read The Docs" For EvailAI"
# The Error

The 'Edit On Github' link on the top right at [this link](https://evalai.readthedocs.io/en/latest/contribution.html) leads to a 404 page.

# The Expected Behavior

It leads to a file to edit changes into.

# Observed Behavior

Instead it sends me to a blank page with the text
[code]

At [link](https://github.com/Cloud-CV/EvalAI//master/docs/source/contribution.rst)

# Steps to reprodu

[2020-03-27 15:43] Rubix982 commented on #2733
This is in reference to an issue, #2560 [Update the Contribution Guidelines on EvalAI-Docs #2560](https://github.com/Cloud-CV/EvalAI/issues/2560) where the User asks the contributing text from which we reach the broken results at the [link]https://evalai.readthedocs.io/en/latest/contribution.html] should be updated with the current and updated contributing at [this link](https://github.com/Cloud-C

[2020-03-28 10:35] Rubix982 commented on #2676
@Ayukha , @spectre1811 are you guys taking this issue up?

[2020-03-28 11:44] Rubix982 commented on #2564
@ritikchauhan-01 are you still on it? Looking to contribute to this if I can.

[2020-03-28 11:53] ritikchauhan-01 commented on #2564
@Rubix982 ok ,go ahead.

[2020-03-29 00:18] deshraj opened #2735 "Add 'tags' for each challenge"
Currently we don't have tags related to a challenge. These tags could help to identify the challenge details by keyword such as targeted conference `cvpr2020`, `neurips2021` etc.

### Deliverables
- [ ] Add a `tags` field (postgres array field, default=[], null=True) to `Challenges` Model
- [ ] List tags associated with a challenge on the [challenge list page](https://evalai.cloudcv.org/web/challe

[2020-03-29 03:46] pushkalkatara commented on #2735
Hi @deshraj
Can I work on the issue?

[2020-03-29 05:47] RishabhJain2018 commented on #2735
Sure.

[2020-03-29 11:42] little0707 opened #2736 "REPLACING THE UI WITH A MODERNIZED ONE AND ANALYZING ALL THE BUILD CODE TO AVOID LOGGING IN ISSUES"
[issue tracker](https://github.com/Cloud-CV/EvalAI/issues)._

I'd like to propose a new feature:
-I have a new generation technology UIthat would help get the most benefits out of the EVALAL product.
- looking at the issues concerning continuous malfunction on the platform I’d line to analyse the code and help get the most out of the EvalAl project

Thanks!

[2020-03-31 02:13] mrinalwahal opened #2737 "Add a proper API Documentation"
The current **ReadTheDocs** documentation only points to the codebase `eval-ai/urls` for APIs. This makes it complicated for the reader to browse through and understand which endpoint serves which purpose. The reader, who perhaps might be a developer writing a new external integration with EvalAI, may need to waste their time going through the codebase only to understand which endpoints to interac

[2020-03-31 06:57] amanpro1 commented on #2657
@apoorvkhare07  @RishabhJain2018  @Sanji515  I would like to work on adding pagination as no one is currently working on this.

[2020-03-31 07:34] amanpro1 opened #2738 "## [Warning] : Logged into multiple windows"
# Warning : You may be disabled from previous logged in windows
A warning message should popped up when user attempts to log in into another browser window if he/she is already logged in into an existing window.
- [ ] Create warning before logging the user into existing window

[2020-03-31 07:37] amanpro1 commented on #2738
@RishabhJain2018 If it's seems to be genuine issue to me. I would like to work on this.

[2020-04-01 04:01] deshraj commented on #2738
@amanpro1 thanks for opening the issue but this behavior is something which is works fine and we would still keep it the way it is right now.

[2020-04-01 04:01] #2738 closed

[2020-04-01 04:12] deshraj commented on #2737
@mrinalwahal thanks for opening the issue. This seems like a reasonable idea to have the REST API documentation available for general use. Right now, we have integrated DRF Docs for seeing API documentation during development only (you can visit http://localhost:8000/docs/ to see on your local development environment).

We would love to expose the API documentation to the general public. If you ar

[2020-04-01 04:18] deshraj commented on #2736
Hi, thanks for opening the issue. Unfortunately, we already have the UI ramp up project going on https://github.com/Cloud-CV/EvalAI-ngx and we are not looking to introduce some new technology.

[2020-04-01 04:18] #2736 closed

[2020-04-01 04:19] deshraj commented on #2733
Duplicate of #2560. Closing it.

[2020-04-01 04:19] #2733 closed

[2020-04-01 04:35] mrinalwahal commented on #2737
@deshraj sure I'm up for it.

[2020-04-01 04:42] RishabhJain2018 commented on #2737
@deshraj Thanks for the suggestion and we have already exposed the documentation to general public here https://evalapi.cloudcv.org/api-docs/ .

@mrinalwahal If you want to work on it then please help us in enhancing the documentation.

[2020-04-01 04:52] deshraj commented on #2737
My bad. Thanks Rishabh for pointing out. Didn't realize that we exposed it long back. 😅

Closing this issue.

[2020-04-01 04:52] #2737 closed

[2020-04-01 08:59] nikochiko commented on #2701
Closing via #2708

[2020-04-01 08:59] #2701 closed

[2020-04-01 19:29] little0707 commented on #2736
On Wed, 1 Apr 2020 at 05:18, Deshraj Yadav <notifications@github.com> wrote:

I’d be willing to help improve the project in any way I can to help make it
a a better product and I’d be glad if you consider my offer

[2020-04-10 14:16] thoth291 commented on #2291
@rohitjha941, Have this been pushed to the master? Can I use OpenID/OAuth now? If yes - then where I should put my settings for AppID, ClientID and server_url?

[2020-04-17 18:23] thoth291 commented on #2291
@rohitjha941, I'm still trying to figure out where should I specify my auth information in the setup in order to connect it to something like **Azure Active Directory**. I can't find any examples in django framework and almost lost my hope to try use your product in more or less realistic scale... **Could you please advise?**

[2020-04-25 18:51] RishabhJain2018 opened #2761 "Add functionality to send slack notifications"
**Description:**
Some of the challenge hosts are curious to know when the submissions to their challenge are coming, hence they want to post on the slack channel whenever a new submission comes in.

**Deliverables:**
- [ ] Add a nullable with blank=True URL field in the Challenge model with the name `slack_webhook_url`.
- [ ] Add a migrations file for the same.
- [ ] Use the function from base/uti

[2020-04-25 18:57] Ayukha commented on #2761
@RishabhJain2018 I'd like to work on it

[2020-04-25 18:58] RishabhJain2018 commented on #2761
Sure, @Ayukha. Thanks for picking it up.

[2020-04-25 19:03] yashdusing commented on #2697
@RishabhJain2018 is this issue still open ? If yes, can I work on it ?

[2020-04-25 19:04] RishabhJain2018 commented on #2697
Yes, it is open.

[2020-04-25 19:32] pushkalkatara commented on #2735
Hi @RishabhJain2018 please review the PR.

[2020-04-25 19:34] pushkalkatara commented on #2697
@yashdusing Are you working on this?

Also, @RishabhJain2018 there is an open PR (https://github.com/Cloud-CV/EvalAI/pull/2707) for the referenced issue. Please review.

[2020-04-25 19:42] yashdusing commented on #2697
@pushkalkatara yes, I'd like to work on this issue

[2020-04-27 17:13] nikochiko opened #2766 "Update contributing guidelines to recommend using Black instead of autopep8"
The docs, i.e. https://evalai.readthedocs.io/en/latest/contribution.html recommend using autopep8 to format the code while the README has a [`Black`](https://black.readthedocs.io/en/stable/) tag.
Appropriately replace the autopep8 part with instructions for Black.

[2020-04-28 18:16] #2761 closed

[2020-04-28 18:59] RishabhJain2018 opened #2767 "Add models to disable/delete submissions"
**Motivation**:
Some of the challenge hosts want to delete the 'canceled` submissions and the submission in which participants have uploaded non-standard submission files from their All Submissions view. Hence, we require this feature.

**Deliverables**:
- [ ] Add a boolean field `ignore_submission` with default as False in the Submissions model.
- [ ] Add migration file for the added models.

[2020-04-28 19:11] Ayukha commented on #2767
@RishabhJain2018 can I take this up?

[2020-04-28 19:16] RishabhJain2018 commented on #2767
sure, @Ayukha .

[2020-05-03 22:45] vkartik97 opened #2773 "Tiles in Challenges List page not aligned properly"
- The Observed Behaviour:
The Challenge Listing is not aligned properly
<img width="1280" alt="Screenshot 2020-05-03 at 4 10 08 PM" src="https://user-images.githubusercontent.com/3920286/80926919-cca33100-8db7-11ea-9f38-a6c384979330.png">
- Steps to reproduce the problem: Open https://evalai.cloudcv.org/web/challenges/list <br>
- OS: macOS Mojave<br>
- Browser: Firefox 75.0<br>
<br><br>
Thanks!

[2020-05-03 23:37] RishabhJain2018 commented on #2773
@Kajol-Kumari Would you like to wok on this?

[2020-05-04 03:44] Kajol-Kumari commented on #2773
sure @RishabhJain2018 sir.

[2020-05-04 14:28] #2773 closed

[2020-05-04 14:30] Ayukha opened #2776 "Alignment in sponsors list"
- the observed behaviour
 Sponsors list not Centrally aligned
![Screenshot_20200504-063016~2](https://user-images.githubusercontent.com/19167324/80976955-b772e480-8e41-11ea-90a8-2dab249522e6.png)

- steps to reproduce the problem
 Open evalai.cloudcv.org in mobile view

[2020-05-04 14:31] RishabhJain2018 commented on #2776
Thanks @Ayukha for catching it. Would you like to work on this?

[2020-05-04 14:32] Ayukha commented on #2776
@RishabhJain2018 sure!

[2020-05-04 14:47] yashdusing commented on #2776
Weirdly, I can't see the images on my PC but it's visible on other devices

![screenshot-evalai cloudcv org-2020 05 04-20_16_10](https://user-images.githubusercontent.com/19976688/80978781-23eee300-8e44-11ea-9cbb-2d2be1d8f5b4.png)

[2020-05-04 14:47] RishabhJain2018 commented on #2776
It's a cache issue. Can you please do a hard refresh.

[2020-05-04 14:49] yashdusing commented on #2776
Tried emptying cache and doing a hard refresh. Still the same issue

[2020-05-04 14:51] #2766 closed

[2020-05-04 16:12] yashdusing commented on #2776
I think it has something to do with the 'sponsor-logo' tag in CSS since after debugging and trying to remove the 'sponsor-logo' tag the images did appear.

[2020-05-04 16:45] deshraj commented on #2776
I think it's more of an issue with the current config of Nginx which caches the static files. Might want to look into nginx config and see what needs to be changed.

[2020-05-04 17:01] yashdusing commented on #2776
I think it's because of the css tag because the image does load and it did show up in the dev debug tools. My resolution is higher (3840 x 2160) which could be another cause for the non-rendering
![screencast-evalai cloudcv org-2020 05 04-22_26_54](https://user-images.githubusercontent.com/19976688/80992123-ad0f1580-8e56-11ea-9446-113bbfb18bd6.gif)

[2020-05-04 17:06] Ayukha commented on #2776
![img](https://user-images.githubusercontent.com/19167324/80992710-8d2c2180-8e57-11ea-8428-bf8c4145df66.png)
 @yashdusing I am able to get the images with same css.
Can you specify the browser yo are using?

[2020-05-04 17:07] yashdusing commented on #2776
I am using Chrome. I also checked the version and there's no pending updates

[2020-05-04 17:09] Ayukha commented on #2776
I tried it on chrome and firefox both, it works fine for me.

[2020-05-04 17:10] yashdusing commented on #2776
It shows up on edge.

[2020-05-04 17:32] deshraj commented on #2776
I am fairly confident it's a cache issue. The fix is by looking and changing the nginx configuration appropriately. :)

[2020-05-04 22:24] Kajol-Kumari opened #2778 "Challenge Participation Invitation in Development Mode"
#### Current Behaviour:
Hitting the [invite_users_to_challenge](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L1936) gives error of `Unable to find the sendgrid key` as it is meant for production only.

#### Feature Requested:
Just like the `email verification` and `password-reset` there should be similar method for sending invitation of participation by the host.

[2020-05-05 04:58] anshalshukla commented on #2291
@RishabhJain2018 is this issue still available, I think a part of this has already been done by @rohitjha941 so if you can let me know integration with what all services are required I can do.

[2020-05-05 19:48] thoth291 commented on #2291
Unfortunately, @anshalshukla, I can't do much more than just wait for someone to guide me on this. My team is looking forward to use EvalAI - but auth is showstopper at this point.

[2020-05-05 19:58] RishabhJain2018 commented on #2291
Hi @thoth291, Thank you for bringing this up. I lead this project and it isn't on the roadmap for the next few months but in case we have a use case here, I'd be happy to prioritize it and get it implemented in the platform.

Moreover, I'd be happy to discuss with you the challenge you're trying to host and what all feature requirements you have. We can connect on `rishabhjain@gatech.edu` and sche

[2020-05-06 19:41] RishabhJain2018 opened #2783 "Unordered list HTML tag <ul></ul> isn't getting rendered in evaluation details section"
**Description**:
In the evaluation details section if a challenge host wants to render a `<ul></ul>` tag then it isn't getting rendered properly.

[2020-05-06 19:41] RishabhJain2018 commented on #2783
@Kajol-Kumari Can you please look into this?

[2020-05-07 04:34] Kajol-Kumari commented on #2783
sure @RishabhJain2018 sir.

[2020-05-07 10:24] Kajol-Kumari commented on #2783
@RishabhJain2018 @Sanji515 This issue is not only with `evaluation_detail_edit` but all the editing trix editors where angular-trix has been used i.e in `submission_guidelines_Edit`, `Terms_And_condition_Edit` etc. The trix-editor is working fine when i pasted it on plunker. So i thought maybe some .scss design is overwriting it. But even after removing all the styles from it. I am still just gett

[2020-05-07 13:49] RishabhJain2018 commented on #2783
okay.
Did you check by inputting the `<ul></ul>` manually in the HTML of overview, etc? I think it also doesn't get rendered from there.

[2020-05-07 14:01] Kajol-Kumari commented on #2783
Yes i had tried this too. In this case also only blank space is appearing instead of bullets.

[2020-05-07 14:06] RishabhJain2018 commented on #2783
I don't think you're missing anything and it is mostly the CSS override issue. Did you check in the console by removing the CSS to this `<ul></ul>` element?

[2020-05-07 17:31] #2783 closed

[2020-05-07 22:52] RishabhJain2018 opened #2785 "Create unique URL for each phase under My Submission and All Submissions Page"
**Description**:
If a challenge has multiple phases and the host reloads the My submission page / All Submissions page then the selected phase changes to blank and it becomes inconvenient for the host to select the phase again from the list again.

**Fix**:
Create a unique link for each phase using the slug for the phase in the URL.

[2020-05-07 22:52] RishabhJain2018 commented on #2785
@Kajol-Kumari Can you please add this :)

[2020-05-08 03:14] Kajol-Kumari commented on #2785
Sure @RishabhJain2018 sir.

[2020-05-09 10:11] vpozdnyakov opened #2787 "Installation error: nodejs failed to build"
- Expected behaviour: Installation EvalAI is successful
- Observed behaviour: Error
`Service 'nodejs' failed to build: The command '/bin/sh -c apt-get update && 	apt-get -y install gconf-service libasound2 libatk1.0-0 libc6 libcairo2libcups2 libdbus-1-3 libexpat1 libfontconfig1 libgcc1 libgconf-2-4 libgdk-pixbuf2.0-0 		libglib2.0-0 libgtk-3-0 libnspr4 libpango-1.0-0 libpangocairo-1.0-0 libstdc++6

[2020-05-09 14:43] vpozdnyakov commented on #2787
I fixed it using this correction in evalai/docker/dev/nodejs/Dockerfile
![image](https://user-images.githubusercontent.com/12996098/81476800-7b15fe80-921c-11ea-8c15-f97c73d3e80f.png)

[2020-05-09 18:19] vpozdnyakov opened #2788 "Login through internet returns error: Access has been blocked"
I checked [issue 2434](https://github.com/Cloud-CV/EvalAI/issues/2434), it looks like something different.
- **Expected behaviour**
Login through internet works
- **Observed behaviour**
Error `Access to XMLHttpRequest ... has been blocked by CORS policy`
- **Steps to reproduce the problem**
Open http://competition.pozdn.keenetic.pro/auth/login and try to log in by "admin", "password".
- **Operatin

[2020-05-09 22:47] RishabhJain2018 commented on #2787
Thanks @vpozdnyakov for reporting this.

Fix for this issue #2789

[2020-05-09 22:49] #2787 closed

[2020-05-11 21:32] deshraj commented on #2776
Ok I was wrong. 😅 Turns out that this issue is related to the css getting overriden by some other class. I believe @RishabhJain2018 is going to open a PR for the same soon.

[2020-05-11 22:02] RishabhJain2018 commented on #2776
This is already fixed in #2790 :).
Closing this issue.

[2020-05-11 22:02] #2776 closed

[2020-05-12 06:52] deshraj commented on #2788
Hi @vpozdnyakov, thanks for opening the issue. Since you are trying to run EvalAI on your own private machine, you will have to enable cors. Follow these steps:

1. https://github.com/Cloud-CV/EvalAI/blob/master/settings/prod.py#L17 (set this to `True`)
2. Comment / remove these lines: https://github.com/Cloud-CV/EvalAI/blob/master/settings/prod.py#L19-L23

This should fix your issue. Closing this

[2020-05-12 06:52] #2788 closed

[2020-05-12 06:53] deshraj commented on #2697
Lets punt this feature. I am afraid that this will make the frontend page slow and doesn't add too much value. We can once in a while keep updating the stats on the main page. Thanks all for your interest in working on this issue.

[2020-05-12 06:53] #2697 closed

[2020-05-12 06:56] deshraj commented on #2696
We have decided to punt this feature to a later release and work on other important stuff we have on plate.

[2020-05-12 06:56] #2696 closed

[2020-05-12 06:58] deshraj commented on #2695
Thank you for your interest everyone. We have decided to punt this feature for a future relase, hence closing this issue for now.

[2020-05-12 06:58] #2695 closed

[2020-05-13 12:51] vpozdnyakov commented on #2788
Hi @deshraj, thanks for your answer. Unfortunately your advice didn't help. Here is absolutely the same problem. I don't exactly understand how these settings work, but I guess my local machine uses the `dev.py` settings where CORS are already enabled (loaded from `common.py`). Could you suggest other options to solve this problem? Or tools/approaches which can help me detect the cause of the prob

[2020-05-15 12:51] vpozdnyakov commented on #2788
@deshraj sorry, this problem is related to my DNS service settings. thank you!

[2020-05-15 15:59] #2122 closed

[2020-05-17 10:12] dexter1691 opened #2795 "Show participating challenges in the dashboard"
As a participant, we are not shown challenges we are participating in / have participated in the past in a dedicated view.

Can we add a view similar to "All Challenges" / "Hosted Challenges" which shows all the challenges a user has participated in the past or is actively participating sorted either based on last activity or "challenge creation date".

Thanks!

[2020-05-18 01:18] RishabhJain2018 commented on #2711
@adityaketkar Is it possible for you to open up a PR for the same as you have a working demo here: https://github.com/Cloud-CV/EvalAI/issues/2699#issuecomment-593934154

[2020-05-18 02:58] #2657 closed

[2020-05-18 05:39] deshraj commented on #2788
Sorry @vpozdnyakov I was occupied with other stuff. Glad that the issue is resolved on your side.

[2020-05-18 13:43] adityaketkar commented on #2711
Sure. I'll create a PR.

[2020-05-18 15:10] Sanji515 opened #2800 "Reuse common code from leaderboard API"
As in [this](https://github.com/Cloud-CV/EvalAI/pull/2798) PR we have created an API for not only giving public submissions but also private submissions to display on the leaderboard. So we have used most the things same which are present in the [leaderboard API](https://github.com/Cloud-CV/EvalAI/blob/master/apps/jobs/views.py#L467).

**How to fix this issue:**

In order to fix this issue one nee

[2020-05-21 03:25] RishabhJain2018 opened #2804 "Add documentation for challenge hosts on how to make a submission a baseline submission"
**Description**
The submissions of the challenge hosts don't appear until they are made as a baseline but we are missing on the documentation for it.

**Deliverables**
Step by step guide on how to make a submission a baseline submission.

[2020-05-22 18:21] JubayerJoy commented on #2804
Hi @RishabhJain2018, I am interested in working on this issue.
I've read [the documentation](https://evalai.readthedocs.io/en/latest/configuration.html#challenge-configuration) for how a host should configure a challenge.

What changes should be made?

[2020-05-23 04:25] RishabhJain2018 opened #2810 "Bug in compressing files for production"
**Description**: While compressing files for pushing to production server, there is a bug that is mentioned here: https://travis-ci.org/github/Cloud-CV/EvalAI/builds/689910381#L5593.

The potential line which is causing this issue is: https://github.com/Cloud-CV/EvalAI/commit/5a78b2048461e95e7cc325fad264ce0c2055a879#diff-14a845646ed48757b5c7798b7ccdddb6R679

Steps to reproduce:
1. Pull the latest

[2020-05-23 19:04] dexter1691 opened #2813 "Fix the card UI for challenges"
The challenge logo is required to be a square
![Screen Shot 2020-05-23 at 2 00 15 PM](https://user-images.githubusercontent.com/2039548/82738532-d0164200-9cfd-11ea-9721-7566c13ed406.png)

however, the card display for each challenge uses a rectangular preview which results in the logo getting cropped from top and bottom.
![Screen Shot 2020-05-23 at 2 00 10 PM](https://user-images.githubusercontent

[2020-05-25 05:14] #2810 closed

[2020-05-31 16:32] deshraj commented on #1543
Closing this since we don't want to handle the authorization and let django-allauth handle for us.

[2020-05-31 16:32] #1543 closed

[2020-05-31 16:33] RishabhJain2018 commented on #1594
This is already implemented, hence closing this.

[2020-05-31 16:33] #1594 closed

[2020-05-31 16:43] RishabhJain2018 commented on #2067
This is already fixed, hence closing.

[2020-05-31 16:43] #2067 closed

[2020-05-31 16:49] RishabhJain2018 commented on #2093
Closing this one because we are not redirecting users to the featured challenges page now.

[2020-05-31 16:49] #2093 closed

[2020-05-31 16:54] RishabhJain2018 commented on #2202
This is resolved, closing it.

[2020-05-31 16:54] #2202 closed

[2020-05-31 16:55] RishabhJain2018 commented on #2232
Closing this since we will remove featured challenges.

[2020-05-31 16:55] #2232 closed

[2020-05-31 16:57] #2238 closed

[2020-05-31 17:01] RishabhJain2018 commented on #2324
Closing this for now.

[2020-05-31 17:01] #2324 closed

[2020-05-31 17:01] RishabhJain2018 commented on #2347
This is fixed.

[2020-05-31 17:01] #2347 closed

[2020-05-31 17:05] RishabhJain2018 commented on #2385
Closing since we have this.

[2020-05-31 17:05] #2385 closed

[2020-06-01 07:22] Suryansh5545 opened #2830 "Evalai UI leaving White Space in both sides"
**The expected behaviour:-**
The UI should make use of all the space provided leaving no white space in left and right sides of the screen.
**The observed behaviour:-**
The Screen leaves a lot of white space in both the left and right. i tried debugging it but there is no paramenter which might make UI leave these types of margins. I also tried running the evalai in VM and other devices and the re

[2020-06-02 11:13] Suryansh5545 commented on #2830
@Kajol-Kumari is this a new update or a bug . because it wasn't like that do you have any idea what has happened to UI?

[2020-06-02 11:22] Kajol-Kumari commented on #2830
Hey @Suryansh5545 please check you browser's view once as I don't see any problem in the UI on my PC.

[2020-06-02 11:28] Suryansh5545 commented on #2830
@Kajol-Kumari what is your screen resolution . i just checked it in a small laptop with 1366*768 resolution and it was ok . but on big screens bigger than 1366*768 or 1440*900 it is not expending well and leaving white space. I previously have ran evalai main website and the github repo on monitor bigger than 1366*768 but problem never occured.

[2020-06-02 11:30] Suryansh5545 commented on #2830
See even the evalai.cloudcv.org is acting differently
![Capture](https://user-images.githubusercontent.com/34577232/83515152-834b1c00-a4f2-11ea-843b-8e41e5817029.PNG)

[2020-06-02 11:32] Suryansh5545 commented on #2830
can someone other than me confirm that weather they are having problem on bigger resolution displays?

[2020-06-02 11:37] Kajol-Kumari commented on #2830
@Suryansh5545 my screen resolution is also 1366 x 768 and i am getting the correct UI.
Please try resetting your browser view once 'coz i am getting the similar UI as you have mentioned here only when i reduced the browser's view to 75%. Please see the below screenshots:

At at view set to 75%
![Screenshot from 2020-06-02 17-06-21](https://user-images.githubusercontent.com/44888949/83515697-6cf190

[2020-06-02 11:41] Suryansh5545 commented on #2830
@Kajol-Kumari I have tested this on Ubuntu 20.04 , 18.04 and windows 10 and one other laptop of 1366^768. and on different browsers(Chrome and Firefox). So this definitely isn't something related to browser i think. maybe the UI is not longer scaling perfectly or something else.

[2020-06-02 11:48] Suryansh5545 commented on #2830
Also i would like to add that this problem is only in the main repository. i have tested the ngx one and it works fine.

[2020-06-02 11:58] Suryansh5545 commented on #2830
#2723 PR explains the reason for this issue so i am closing it. Also btw i think the older version was actually much better

[2020-06-02 11:58] #2830 closed

[2020-06-02 17:39] isunitha98selvan commented on #2804
Hi. I would be interested in working on this.

[2020-06-07 16:10] RishabhJain2018 commented on #2387
This is fixed!

[2020-06-07 16:10] #2387 closed

[2020-06-07 16:12] RishabhJain2018 commented on #2400
This is fixed!
#2193

[2020-06-07 16:12] #2400 closed

[2020-06-07 16:12] RishabhJain2018 commented on #2422
Closing due to inactivity.

[2020-06-07 16:12] #2422 closed

[2020-06-07 16:15] RishabhJain2018 commented on #2434
The current master branch is stable.

[2020-06-07 16:15] #2434 closed

[2020-06-07 16:18] RishabhJain2018 commented on #2440
We are actively working to solve this.

[2020-06-07 16:18] #2440 closed

[2020-06-07 16:23] RishabhJain2018 commented on #2471
Closing this since because it is an installation issue and if the docker is set up properly, it shouldn't need admin privileges.

[2020-06-07 16:23] #2471 closed

[2020-06-07 16:25] RishabhJain2018 commented on #2478
@Kajol-Kumari We should fix this in ngx version.

[2020-06-07 16:29] RishabhJain2018 commented on #2485
This is fixed!

[2020-06-07 16:29] #2485 closed

[2020-06-07 16:36] RishabhJain2018 commented on #2504
Duplicate of #2486, hence closing it.

[2020-06-07 16:36] #2504 closed

[2020-06-07 16:39] #2500 closed

[2020-06-07 16:41] RishabhJain2018 commented on #2505
Duplicate of #2564

[2020-06-07 16:41] #2505 closed

[2020-06-07 16:42] RishabhJain2018 commented on #2486
Duplicate of #2504

[2020-06-07 16:42] #2486 closed

[2020-06-07 16:43] RishabhJain2018 commented on #2506
This is challenge specific and each challenge host needs to mention their own format.

[2020-06-07 16:43] #2506 closed

[2020-06-07 16:45] RishabhJain2018 commented on #2507
This isn't on the project roadmap for now.

[2020-06-07 16:45] #2507 closed

[2020-06-07 16:47] #2511 closed

[2020-06-07 16:51] RishabhJain2018 commented on #2543
Duplicate of #2542

[2020-06-07 16:51] #2543 closed

[2020-06-07 16:51] RishabhJain2018 commented on #2544
Duplicate of #2542

[2020-06-07 16:51] #2544 closed

[2020-06-07 16:55] #2546 closed

[2020-06-07 17:04] #2566 closed

[2020-06-07 18:00] Kajol-Kumari commented on #2478
Hey @RishabhJain2018 I just checked it for ngx and this issue is not with ngx it's only with the EvalAI. So should i go for fixing it in EvalAI?

[2020-06-09 13:48] #2478 closed

[2020-06-09 16:26] #2484 closed

[2020-06-09 17:22] Kajol-Kumari commented on #2553
Hey @RishabhJain2018 @Suryansh5545  this issue has been solved both for EvalAI ang ngx so i think we can close this one. Attaching the screenshot for confirming the same.
![Screenshot_2020-06-09-22-49-20-064_com android chrome](https://user-images.githubusercontent.com/44888949/84179527-bb7acd80-aaa3-11ea-960a-6e4cc03f6eee.jpg)
![Screenshot_2020-06-09-22-49-33-216_com android chrome](https://user-

[2020-06-09 17:46] Suryansh5545 commented on #2553
@RishabhJain2018 I also agree with @Kajol-Kumari the recent UI fix have addressed this issue and the UI is functioning well. So this issue can be closed.

[2020-06-10 17:31] Kajol-Kumari opened #2844 "Unverified Users are able to view all the functionalities in ngx"
**Bug Report**

- Observed Behaviour
Newly signed up users are able to view all the challenge details along with the functionalities like `participant_team`, `host_challenge` and all other functionalities without showing any proper message for verifying the email.

- Expected Behaviour
Unverified users should be given proper message when they try to access the functionalities just like we do in Ev

[2020-06-15 01:25] #2666 closed

[2020-06-16 05:23] #1619 closed

[2020-06-19 12:01] samcom12 opened #2859 "Login fails for dafault user"
_
- the expected behaviour
Login of default user should be successful
- the observed behaviour
LOgin window keeps mum, doing nothing
- steps to reproduce the problem
Installed docker and docker-compose utility. and git clone evalAI from master branch.
cd evalAI
docker-compose up --build

It will start service on localhost:8888. click on login button use user admin and password as password.

- whic

[2020-06-21 16:14] deshraj commented on #2574
We are only planning to support only alphanumeric characters for the team name going forward.

Here are the updated rules:
- Team name can be contain alphanumeric characters with spaces, `-`, and `_`
- Show proper error message if not correct team name is entered

\cc @Kajol-Kumari

[2020-06-21 16:17] RishabhJain2018 commented on #2580
Similar to #2578 and keeping one issue open for all documentation related issues.

[2020-06-21 16:17] #2580 closed

[2020-06-21 16:23] RishabhJain2018 commented on #2588
@Kajol-Kumari Can you please check if this is fixed in frontend v2.

[2020-06-21 16:23] RishabhJain2018 commented on #2589
This is fixed in frontend v2.

[2020-06-21 16:23] #2589 closed

[2020-06-21 16:28] RishabhJain2018 commented on #2598
Similar to #2578

[2020-06-21 16:40] RishabhJain2018 commented on #2636
We already have dependabot and the issue of the outdated requirement is similar to #2564

[2020-06-21 16:40] #2636 closed

[2020-06-21 16:43] deshraj commented on #2646
We discussed about this issue and here is the updated plan:

1. User signs up and haven't verified their email address
2. User tries to login
3. Prevent user from going to the dashboard page and show a prompt that "Please verify your email address first"

Basically, until the user has verified their email address, they won't be go to dashboard. @Kajol-Kumari can we please add this to Frontend V2?

[2020-06-21 16:48] RishabhJain2018 commented on #2658
This is fixed.

[2020-06-21 16:48] #2658 closed

[2020-06-21 16:51] deshraj commented on #2664
@Kajol-Kumari we have an updated plan for this.

- Only person who created the team should be able to delete members from the team and invited members should not have the rights to delete other users in the team. This applies to both participants and hosts team.

[2020-06-21 16:57] RishabhJain2018 commented on #2678
Similar to #2607, hence closing it.

[2020-06-21 16:57] #2678 closed

[2020-06-21 17:00] RishabhJain2018 commented on #2693
This is fixed, hence closing it.

[2020-06-21 17:00] #2693 closed

[2020-06-21 17:01] dexter1691 commented on #2795
Duplicate of #2698

[2020-06-21 17:01] #2795 closed

[2020-06-21 17:02] RishabhJain2018 commented on #2711
Similar to #2699 and closing this one.

[2020-06-21 17:02] #2711 closed

[2020-06-21 17:06] RishabhJain2018 commented on #2767
@Ayukha Please change the boolean field name to `ignore_submission`.

[2020-06-21 17:09] RishabhJain2018 commented on #2804
Sure. Please let us know if something is unclear.

[2020-06-22 08:23] Kajol-Kumari commented on #2588
Yes @RishabhJain2018 It's working perfectly fine for frontend_v2.

[2020-06-22 08:54] Kajol-Kumari commented on #2586
Hey @RishabhJain2018  @deshraj we have a single footer component for both verified and non-verified users in `frontend_v2`.

[2020-06-22 09:03] Kajol-Kumari commented on #2664
Yes @deshraj . This is what i have implemented [here](https://github.com/Cloud-CV/EvalAI/pull/2781/files#diff-936afd091c6c99c1a02293abc3be8653R201). Invited members won't have the privilege to delete any of the members and also the `delete` icon would not be visible to him/her. Please see the 3rd GIF [here](https://github.com/Cloud-CV/EvalAI/pull/2781)

[2020-06-23 06:46] Kajol-Kumari commented on #2503
Hey @RishabhJain2018 I think after adding tabs, we won't need this anymore. I had opened a PR for adding tabs in EvalAI [#2668](https://github.com/Cloud-CV/EvalAI/pull/2668)

[2020-06-26 05:06] #2767 closed

[2020-06-27 18:41] RishabhJain2018 opened #2869 "Cluster and node group creation should be a background process"
After approving the challenge we get 504 Timeout error from nginx

<img width="1440" alt="Screenshot 2020-06-27 at 2 35 47 PM" src="https://user-images.githubusercontent.com/12206047/85929523-98159800-b883-11ea-9431-b619627605ac.png">

[2020-06-27 18:50] RishabhJain2018 opened #2870 "Check if the cluster is already created for a challenge in database"
Complete details for the error: https://sentry.io/share/issue/1c744d1830cd4ead8f1f234be5524920/

[2020-06-27 20:20] #2869 closed

[2020-06-27 23:44] RishabhJain2018 opened #2874 "Send email to EvalAI admin when the EKS cluster creation is completed on AWS"

[2020-06-27 23:59] #2646 closed

[2020-06-29 15:53] KhalidRmb opened #2881 "Add meta attribute validation to challenge_config_validation API."
To Do:

- [ ] Add code to validate the submission meta attributes in a challenge, to the `challenge_config_validation` API in `apps/challenges/views.py`

[2020-06-29 16:13] KhalidRmb opened #2882 "Add tests for submission meta attributes pipeline."
- [ ] Add test to ensure that from a `challenge_config`, the attributes are being validated correctly and stored in the model field `submission_meta_attributes_scehma`.

[2020-06-29 16:16] KhalidRmb opened #2883 "Change the code to handle the simultaneous change in eval_script and test_annotation at the same time."
ToDo: (Minor change.)

- [ ] When challenge host uploads a new eval_script and annotation file together, a mail with the appropriate message should be sent.
- [ ] Worker(s) should be restarted similar to that in the individual case.

[2020-06-30 03:18] deshraj commented on #2859
@samcom12 I am not able to reproduce this issue. Can you please try a fresh install? Please make sure to remove all the EvalAI related docker containers first.

[2020-07-01 07:01] KhalidRmb opened #2886 "Poll to see if the worker container has started while fetching logs."
Why?
It takes a while to start the worker containers on AWS, and the host may try to submit or expect logs without knowing this.

ToDo:

- [ ] Have a way to indicate on the challenge page/ Manage tab if the worker is running/transitioning/stopped/Non existent.

[2020-07-01 07:23] Ayukha commented on #2886
@KhalidRmb This might be helpful here https://boto3.amazonaws.com/v1/documentation/api/1.9.42/reference/services/ecs.html#ECS.Client.get_waiter

[2020-07-02 15:32] KhalidRmb opened #2887 "Handle the case where log group hasn't been created yet when displaying logs."
It takes about 1.5 minutes for the logs group to get created on Cloudwatch once the workers are started for the first time. And if the host tries to view the logs in this period, they'll get an error message.

**ToDo:**

- [x] Change the message to something more appropriate, or wait for the creation of log group before sending any message back to the frontend.

[2020-07-02 18:18] RishabhJain2018 opened #2889 "Delete log group from CloudWatch when a challenge worker is deleted."

[2020-07-02 18:27] RishabhJain2018 opened #2890 "Fixes in challenge approval email"
![Screenshot 2020-07-02 at 2 26 27 PM](https://user-images.githubusercontent.com/12206047/86396512-09808c80-bc70-11ea-8650-e1cb44f97cba.png)
The issues in the above email are -
- [ ] Demo2 button CSS is not showing up.
- [ ] Demo2 button hyperlink is wrong.

cc: @Ram81

[2020-07-02 22:13] KhalidRmb opened #2892 "Link doesn't work for email notifying about about worker restart."
<img width="1549" alt="Screenshot 2020-07-03 at 3 42 23 AM" src="https://user-images.githubusercontent.com/31621523/86413611-3e77f800-bcdf-11ea-9534-9cff891cea75.png">

CSS is not rendered in the frontend.

[2020-07-02 22:14] KhalidRmb commented on #2892
Possible solution for CSS: Change to inline in the Email template.

[2020-07-03 16:16] KhalidRmb opened #2894 "Redirect logs from within submission worker in staging/prod to cloudwatch"
@RishabhJain2018

[2020-07-04 04:27] deshraj commented on #2859
Closing this for now. Please feel free to reopen if you still see the issue after retrying based on the above instructions.

[2020-07-04 04:27] #2859 closed

[2020-07-07 03:43] RishabhJain2018 opened #2898 "Send email to challenge hosts only when the worker reload is complete and successful"
**Current Scenario**: Whenever a challenge hosts updates an evaluation script or the test annotation file then the email for reloading is sent to them immediately after the upload of annotations file or the evaluation script file which gives a wrong sense to challenge hosts that the worker is reloaded but actually it is not because it takes 2 mins on AWS to reload it successfully.

**Fix**
1. Send

[2020-07-07 04:55] RishabhJain2018 opened #2900 "Frontend V2: Add capability to edit forum URL by the challenge hosts"
**Description**:
-[ ] The challenge hosts should be able to edit forum URL for their challenge.

[2020-07-07 05:01] RishabhJain2018 opened #2901 "Stop and delete the challenge workers on AWS automatically when the challenge is un-approved by admin"
**Description**
The challenge worker on Fargate keeps on running even when the challenge is unapproved by the EvalAI Admin.

**Fix**
Ideally, when the challenge is unapproved by the admin then the workers on Fargate should be stopped and deleted.

[2020-07-07 06:33] Kajol-Kumari commented on #2844
Closing this one as this has been resolved through #2866 .

[2020-07-07 06:33] #2844 closed

[2020-07-15 08:46] samcom12 opened #2909 "Configuration issue for private local cluster"
Hi,

I installed EvalAI with docker-compose.
Now I'm facing problem to make changes in worker so as to use my own private cluster.
How can we configure EvalAI without using AWS credentials?

[2020-07-17 20:06] KhalidRmb commented on #2892
Closing this since I fixed the template with inline CSS, and the link seems to be working fine with all kinds of env variables when testing.
Earlier problem could have risen out of improper environment variable while testing on staging?

[2020-07-17 20:06] #2892 closed

[2020-07-17 20:07] KhalidRmb commented on #2890
This can be closed since I fixed the template with inline CSS, and the link seems to be working fine with all kinds of env variables when testing.

Earlier problem could have risen out of improper environment variable while testing on staging?

[2020-07-19 23:19] #2698 closed

[2020-07-20 00:06] #2813 closed

[2020-07-20 10:23] KhalidRmb opened #2916 "Refactor aws_keys initialization."
Wherever aws keys are used in the codebase, change it for the keys to be loaded from a method in `base/utils.py`

[2020-07-23 07:00] #2874 closed

[2020-07-24 15:29] #2900 closed

[2020-07-27 16:30] shraddhavp commented on #2804
@RishabhJain2018  is any one working on the issue?
If no i would like to take up the issue

[2020-07-27 16:57] RishabhJain2018 commented on #2804
Hi @shraddhavp, Sure you can take this up.

[2020-07-28 08:51] shraddhavp commented on #2804
can you please tell more about baseline submission or any document that i can refer to start of @RishabhJain2018 ?

[2020-08-03 00:07] #2901 closed

[2020-08-06 17:22] KhalidRmb opened #2941 "Check if workers are running before triggering start_workers method after approving a challenge."
**Description:**
The workers may be launched through the manage tab before challenge approval, and in this case the code results in an exception being logged to sentry when executing start_workers.

This shouldn't happen, and the start_workers method shouldn't be executed for this case.

[2020-08-08 05:17] deshraj opened #2943 "[Frontend] Improvements for new frontend deployment"
### Note: This list is incomplete. Adding small issues here as going through the new version. Please add your list of issues in the comment rather than editing the description of the issue.

- [ ] Home page should not be centrally aligned (it looks really bad on large screens)
- [ ] Remove `console.log()` statements
- [ ] Github stats (number of forks and stars) not showing up in the footer
- [ ]

[2020-08-08 08:16] Ram81 opened #2944 "Updates in seed script"
### Description

Make the following changes in seeding script:

1. It doesn't create featured challenges. Please create 5 featured challenges in seed script
2. [BugFix] Challenge image is not being shown up for the challenges created with the seed script. May be the image is not uploaded.

[2020-08-08 18:50] #2944 closed

[2020-08-16 18:22] #2943 closed

[2020-08-18 17:06] P1YU5H-50N1 commented on #2618
Is there anyone working on this currently ? If not, I would like to take this up.

[2020-08-22 06:34] yashdusing opened #2968 "Enhancements to v1 deployment script in EvalAI"
List of small scale changes to make to v1 deployment script (#2853):
- Get staging flag manually instead of hardcoding
- Get SSL certs manually by making a new nginx config
- Add better docs & comments
- Refactor nodejs to use prod version and make SED changes via script

[2020-08-29 16:19] RishabhJain2018 opened #2977 "Add check for docker based challenges in start/stop/restart/delete worker function"
- Add a check in the `start_woker` method under `challenges/aws_utils.py` file to make sure that we are not starting workers for the code upload challenges from UI.

[2020-08-31 11:48] ayushsachan1 commented on #2560
I want to work on it

[2020-08-31 11:49] ayushsachan1 commented on #2578
Hey! I want to work on it

[2020-08-31 11:53] ayushsachan1 commented on #2882
I want to work on the same

[2020-09-02 15:13] KhalidRmb commented on #2881
Done.

[2020-09-02 15:13] #2881 closed

[2020-09-02 15:15] KhalidRmb commented on #2894
Closing this. Done here: https://github.com/Cloud-CV/EvalAI/pull/2979

[2020-09-02 15:15] #2894 closed

[2020-09-03 13:19] #2889 closed

[2020-09-03 17:19] #2887 closed

[2020-09-04 00:53] #2977 closed

[2020-09-04 17:01] #2941 closed

[2020-09-06 15:59] captain-panda commented on #2559
@gautamjajoo can I work on this issue?

[2020-09-10 17:03] Ram81 opened #2993 "Error when submitting evaluation script update without uploading file"
### Description

Currently, there's no check on UI side while uploading evaluation script for a challenge. If you submit without uploading an evaluation script API will throw error mentioned [here](https://sentry.io/organizations/cloudcv/issues/1878006951/?referrer=slack). We should handle this on UI side an not allow updates without file upload.

[2020-09-10 17:06] Ram81 opened #2994 "Exception when model not found in `get_model_object` utils"
### Description

Currently, the `get_model_object` util raises an exception when a model object with queried primary key is not found. This exception is not being handled in partial submission evaluation API. See [this](https://sentry.io/organizations/cloudcv/issues/1883775184/?project=152529&referrer=slack) error for an example

[2020-09-12 18:39] #2993 closed

[2020-09-13 19:46] Ram81 opened #3001 "Auto deployment script failing"
### Description

The `./scripts/deployment/deploy.sh auto_deploy` is failing in the travis build. For reference see the build [here](https://travis-ci.org/github/Cloud-CV/EvalAI/builds/726818184#L6908). It is failing with following error

[code]

[2020-09-19 17:24] RishabhJain2018 commented on #3001
It was the docker-compose path issue on the server. It is fixed now!

[2020-09-19 17:24] #3001 closed

[2020-09-23 16:33] hp77-creator commented on #2916
I would like to work on it but can you guide me a little more?

[2020-09-25 19:15] vfbsilva opened #3009 "Leaderboard takes a long time to load due to vendor.js exceptions"
Whenever I load the main screen I receive a bath or errors of missing links in vendor.js this takes about 5 seconds and delays my page loading.
![evalai](https://user-images.githubusercontent.com/874774/94306918-2f08f380-ff4a-11ea-90ac-40b1d159b0fe.png)
Anyone else ever experienced this or have any clue about how  to address the issue?

[2020-09-25 21:27] RishabhJain2018 commented on #3009
Hi @vfbsilva , Thanks for opening the issue. Can you please give a bit more context on how you are hosting the EvalAI server at your end? Is it the development version or did you try to set up the production version at your own?

[2020-09-26 07:02] GauravSarkar commented on #2804
Hi @RishabhJain2018  is the issue still open. I was thinking of contribuitng. It would be  great help if you can help me in getting started.

[2020-09-26 07:04] GauravSarkar commented on #2735
Hi @RishabhJain2018 is the issue still open. I was thinking of contribuitng. It would be great help if you can help me in getting started.

[2020-09-30 06:39] Ram81 opened #3011 "Dedup environment variables for EvalAI django server endpoint"
### Description

We are using multiple environment variables for EvalAI django server endpoint, `API_HOST_URL` `EVALAI_API_SERVER` `DJANGO_SERVER`. Ideally we should only have a common environment variable `DJANGO_SERVER` for the endpoint which should be used by all the features.

Refer:
1. [dev/docker.env](https://github.com/Cloud-CV/EvalAI/blob/master/docker/dev/docker.env)
2. [prod/docker_stagi

[2020-10-03 04:17] joy2306 commented on #2804
hi @RishabhJain2018 if this issue is still open i would love to give it a try , i am a beginner in open source projects so i think i can learn something valuable from it.

[2020-10-06 20:06] vfbsilva commented on #3009
We are using a production environment I did some more research and seems the call to:
`/api/jobs/challenge_phase_split/18/leaderboard/?page_size=1000`
Is taking a very long time. iS this normal? Can this value be changed?

[2020-10-07 19:32] brunowego opened #3025 "A11y Support"
Hi there! I like this initiative, congrats for this amaze project! You have in the backlog add support for internationalization?

[2020-10-07 19:38] brunowego opened #3026 "LDAP or/and SSO Auth"
Looking forward, do you have planning for add this functionarlity?

[2020-10-12 06:52] #3011 closed

[2020-10-14 15:50] Mukul2000 commented on #2804
Hi, is anyone working on this issue? if not, I would like to submit a PR.

[2020-10-14 15:54] RishabhJain2018 commented on #2804
Hey @Mukul2000, sure you can work on this.

[2020-10-15 13:55] Mukul2000 commented on #2804
Hi @RishabhJain2018, I have opened a PR regarding this issue. Please review.

[2020-10-15 14:16] Mukul2000 commented on #2804
Hi @RishabhJain2018, I have submitted PR regarding this issue, please review. Thanks.

[2020-10-16 19:44] RishabhJain2018 commented on #3026
Hi @brunowego, At the moment the team is not focussing on adding this functionality but we would be happy to accept any PR from the contributors.

[2020-10-16 19:50] RishabhJain2018 commented on #3025
Hey @brunowego, At the moment we are not focussing on it but would be happy to accept any PR for it.

[2020-10-16 19:55] RishabhJain2018 commented on #3009
Hey @vfbsilva ,

It shouldn't take long to load. The value can be changed from the Controller file.
Moreover, can you please give a bit more detail of where you are trying to host it in production mode?

[2020-10-18 23:50] cboyapati233 commented on #2735
I would like to work on the issues

[2020-10-28 17:14] GauravSarkar commented on #2676
@Ayukha and @RishabhJain2018  I have made the required changes. Please kindly check and merge.

[2020-10-30 11:39] GauravSarkar commented on #2691
I think the required changes have not been done. So if I am right can I work on this issue @RishabhJain2018 .

[2020-11-01 20:33] vivektalwar13071999 opened #3059 "2099 End Date Issue"
![Screenshot from 2020-11-02 01-57-00](https://user-images.githubusercontent.com/24211231/97813516-c3374a80-1cae-11eb-819a-c6c6b77a739f.png)

Some End Dates in Challenges are showing 2099.
Expected Error in Date/Time Local code in the front-end.

[2020-11-01 20:38] vivektalwar13071999 opened #3060 "Challenge Start Date is showing year 2020 and End Date is showing 2019"
![Screenshot from 2020-11-02 02-06-54](https://user-images.githubusercontent.com/24211231/97814839-1fe73500-1cb0-11eb-91bd-fe32b82a792f.png)

A front-end issue in the Past-Challenge section where challenge year is 2019 and start year is 2020.

[2020-11-01 23:10] RishabhJain2018 commented on #3059
Hi @vivektalwar13071999, Thanks for opening the issue. The challenges that have `2099` as the end date are never-ending challenges, hence the date is in the future.

I am closing this thread as this is not an issue. Please feel free to reopen if you have any doubts.

[2020-11-01 23:10] #3059 closed

[2020-11-01 23:11] RishabhJain2018 commented on #3060
@vivektalwar13071999 thanks for catching this. Would you like to work on this

[2020-11-01 23:12] vivektalwar13071999 commented on #3060
Yes will definitely work on it

On Mon, 2 Nov 2020, 04:41 Rishabh Jain, <notifications@github.com> wrote:

[2020-11-01 23:13] vivektalwar13071999 commented on #3060
Yes will work and resolve the issue and ask if any help would be needed.

[2020-11-03 18:45] tokotchd opened #3063 "Docker Compose fails - Cannot download base worker container"
Following installation instruction from https://evalai.readthedocs.io/en/latest/installation.html:

The command:
`
docker-compose up --build
`
Fails with the following error

[code]

This is from a fresh pull

[2020-11-03 18:48] #3063 closed

[2020-11-03 18:50] tokotchd commented on #3063
Connection issue was present from 10:00AM EDT, 11/03/2020
Connection issue self-resolved as of 2:00 PM EDT, 11/03/2020
Could have been an issue with docker servers.

[2020-11-05 04:01] Rubix982 opened #3065 "Warnings generated by Docker-Compose on fresh build"
# Problem

Cloning a fresh version of EvalAI and running `docker-compose up --build`, outputs warnings

## Warning List

1. [ ]  django-import-export 2.0.2 has requirement Django>=2.0, but you'll have django 1.11.23 which is incompatible.
2. [ ] djangorestframework-expiring-authtoken 0.1.4 has requirement djangorestframework<=3.4.6,>=3.2.3, but you'll have djangorestframework 3.9.3 which is incomp

[2020-11-05 04:24] Rubix982 commented on #3025
This is an interesting idea! I think we would need to consider somethings,

1. Is this a very important issue right now? We can make a general issue that lists down the work required for different languages.
2. What languages to prioritize for, as in, which group of users should we aim for first?
3. How are we going to let users choose a different language?

[2020-11-05 04:39] Rubix982 opened #3067 "Add bot for tracking stale issues"
It would nice to add a bot that can check, mark, and close issues that are stale. There are threads under 'Issues' which haven't been touched for weeks. Do we want to do that for this repository? I'll be happy to open a PR if needed.