[2020-11-05 04:40] Rubix982 commented on #2691
Hi, @GauravSarkar ! I made a PR already, when I actually started with this issue, I think there was a build problem with `docker-compose` and forgot about this issue afterwards. Thanks though! :D

[2020-11-07 16:14] Ram81 opened #3069 "Use custom email template for reset password feature"
### Description

Current template for reset password functionality is
[code]

We should add a custom email template for reset password. A sample template is available [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/accounts/templates/account/email/password_reset_key_message.txt).

Refer the tutorial for an example: https://simpleisbetterthancomplex.com/tutorial/2016/09/19/how-to-create-

[2020-11-07 17:35] kishdubey commented on #3069
Hello! Would like to take this up, if it has not been assigned yet. It would be my first contribution to the project.

[2020-11-07 17:38] RishabhJain2018 commented on #3069
Hi @kishdubey , Welcome to CloudCV!

Yes, you can take this up.

[2020-11-10 03:47] kishdubey commented on #3069
Update: Development setup is ready. Took several hours to debug docker-compose errors. Currently working on implementing the custom email template according to the template provided.

[2020-11-10 04:20] RishabhJain2018 commented on #3069
Thanks @kishdubey for updating us!

[2020-11-10 21:34] kishdubey commented on #3069
Reset Password and Verifying Email mails have not been reaching my email in my local EvalAI environment. Is there some sort of docker email that I should be checking? In addition, I cannot seem to find the file which contains the current template shown above by @Ram81 , could I get some direction as to where it is within the codebase?

Thank you for the guidance and patience :)

[2020-11-12 06:24] Ram81 commented on #3069
@kishdubey current setup is using default templates provided by the auth package. They're not stored in the repo. You can refer the tutorial mentioned in issue and I have also linked the templates location in the issue. You can edit those templates and start using them.

[2020-11-15 07:58] vivektalwar13071999 commented on #3060
Closing the issue as it is resolved in the production enviornment.

[2020-11-15 07:58] #3060 closed

[2020-11-16 20:05] tokotchd opened #3080 "Submission Queue receives NoneType"
I recently cloned and stood up evalAI via the documented docker compose method for development.
I also cloned the challenge template as described in the documentation.

After submitting the template with some minor changes (I can provide if needed), the challenge uploads successfully and is present at http://localhost:8888/web/challenges/challenge-page/21/submission

However, upon attempting to su

[2020-11-17 03:16] RishabhJain2018 commented on #3080
Hi @tokotchd, Upon creation of the challenge, you will need to restart the worker container which will load the required challenge files for the evaluation to work.

Please feel free to ask if the issue doesn't resolve after restarting the worker container.

[2020-11-17 16:51] tokotchd commented on #3080
Thanks, @RishabhJain2018, this indeed did solve my issue.

I'm guessing this doesn't happen in production... How exactly does it avoid this though?

Does the worker auto restart in production after a new challenge is added?  Or are there other measures in place that prevent needing a restart that aren't in the development compose file?

[2020-11-17 20:55] tokotchd commented on #3080
Also on that note, I'm having an issue where submission results are always marked as "Failed" despite the fact that the script in question runs successfully, printing "success" to standard out just before returning a dictionary object that has key "result":

```result['result'] = <some_value>```

Does this also have to do with changes on the development branch or should I open a new issue for this

[2020-11-20 17:05] harsh-9in commented on #3026
@rishabhbhardwaj  can I work on this issue?

[2020-11-20 17:19] tokotchd commented on #3080
Looks like it was an issue having to restart most of the services via docker compose in order for the challenge-phase split to be found by the workers.

My question remains:
Is there a better solution for these issues than continuously restarting the worker containers in dev mode?

[2020-11-26 12:48] sal2701 commented on #3069
Is anyone working on this issue? If not, can I take it up?

[2020-11-26 15:39] Ram81 commented on #3069
@sal2701 yes, you can pick this issue up.

[2020-11-30 07:31] codeboy5 commented on #2916
@KhalidRmb is this issue still open ?

[2020-11-30 07:40] RishabhJain2018 commented on #2916
Hey @codeboy5 , Yes this is still open!

[2020-11-30 07:44] codeboy5 commented on #2916
Then i would like to take it up !
Thanks

[2020-11-30 07:46] codeboy5 commented on #2916
Also can you point to place where aws keys are currently loaded ?

[2020-11-30 07:48] RishabhJain2018 commented on #2916
Here is the method which should be used -- `https://github.com/Cloud-CV/EvalAI/blob/9d522f86dead523180de6e9efaf9dce2bc9d29b1/apps/challenges/utils.py#L102`

[2020-11-30 11:21] thedhruvrawat opened #3088 "Certain items not correctly aligned in mobile view"
- **the expected behaviour**
The icons and the buttons should be centrally aligned so that the page looks aesthetically clean
- **the observed behaviour**
An extra right-margin is set which is fine for desktop view but doesn't look good in the mobile view of the page
- **steps to reproduce the problem**:-
Login and see the page using Inspect Element feature of Chrome. Alternatively the same issue

[2020-11-30 11:22] thedhruvrawat commented on #3088
Hi! I am new to open-source and would like to work on this issue!

[2020-12-13 10:42] FarhanAliRaza commented on #3069
Is anyone working on  this issue ? I want to solve this as a practice for gsoc 2021.

[2020-12-13 15:10] sal2701 commented on #3069
@FarhanAliRaza No I am not, please go ahead. @Ram81 Can you please unassign me. Thanks

[2020-12-14 08:53] FarhanAliRaza commented on #3069
@Ram81 Please assign me this ..

[2020-12-14 10:44] Ram81 commented on #3069
@FarhanAliRaza  sure

[2020-12-22 21:32] rahulsawlani22 commented on #3088
I saw that this issue is still on the live site, can you assign this task to me?

[2020-12-23 21:27] johnwlambert opened #3113 "Submit button leads to freeze/hang, same observed over CLI"
Hello EvalAI, thanks for all your work building this platform.

I'm having trouble submitting to the Argoverse 3d Detection challenge (challenge 725 phase 1554) over the online interface or over CLI.

The CLI hangs forever at
[code]

The online interface turns grey and hangs forever when I press "submit" for a 80 MB zip file.

Could you please take a look to see what might be going wrong?

[2020-12-23 21:49] johnwlambert commented on #3113
was successful on another machine, seems to be a network issue

[2020-12-23 21:49] #3113 closed

[2020-12-23 21:49] RishabhJain2018 commented on #3113
Hi @johnwlambert, Glad that it got resolved. Please feel free to ping us back, if the issue appears again.

[2020-12-30 15:26] Anaxagoras7 commented on #3069
Is anyone working on this issue, I would like to try this?

[2020-12-30 15:48] RishabhJain2018 commented on #3069
Hey @Anaxagoras7 ,  It seems like no one is working on this. You can take this up!
cc: @Ram81

[2020-12-30 15:51] Anaxagoras7 commented on #3069
So do I just change the layout of the mail template or is there something else I have to do?

[2020-12-30 15:55] RishabhJain2018 commented on #3069
I'll let @Ram81 respond to this.

[2021-01-01 18:44] lkbhitesh07 commented on #3069
Hello @RishabhJain2018  and @Ram81 actually I'm bit confused after checking [EvalAI/evalai/urls.py](https://github.com/Cloud-CV/EvalAI/blob/master/evalai/urls.py) file. The reason is related to this issue itself.
1. If you'll see line [48](https://github.com/Cloud-CV/EvalAI/blob/0d94414030898158d9a2b384526417eb2520e2bd/evalai/urls.py#L48) than we are using "allauth" for the authentication purpose

[2021-01-02 16:59] Ram81 commented on #3069
Hi @lkbhitesh07,

I don't understand the question you are asking here. Can you reframe this? If you are concerned about both allauth and django-rest-auth urls it might be the case that when allauth was deprecated we didn't remove the urls for allauth. @RishabhJain2018  might know more about this.

These are the template files that you can update or move them to some other folder and use it from th

[2021-01-02 21:55] lkbhitesh07 commented on #3069
Hello @Ram81 bhaiya first of all, thanks for replying and thanks for your time,

Yes actually, it's clear now. I just want to ask that can we do it in more clear manner, because there are some url mentioned that was useful when we were using `allauth` . I mean as we have to shift from `djang-rest-auth` to `dj-rest-auth` I will update all the templates and remove unnecessay ones and include only ur

[2021-01-02 22:11] lkbhitesh07 opened #3123 "Shifting from 'django-rest-auth' to 'dj-rest-auth'"
We have to shift from `django-rest-auth` to `dj-rest-auth` as `django-rest-auth` has stopped updating. `dj-rest-auth` is almost similar to `django-rest-auth` and has some updating feature that we can use also it's an active project so it gets updated quite often.
You can find `dj-rest-auth` documentation [here](https://dj-rest-auth.readthedocs.io/en/latest/introduction.html)

[2021-01-02 22:47] lkbhitesh07 opened #3124 "Listing contributors to README page"
What we can do is we can list the main contributors and maintainers on the README page, this way it will be more attractive and it will encourage our main contributors. Either we can list all the contributors of this project or we can simply list the main contributors.
We can do it by simply using [all-contributors](https://allcontributors.org/docs/en/bot/usage).
It will look like this -
![Screens

[2021-01-03 04:03] Ram81 commented on #3069
@lkbhitesh07 updating to `dj-rest-auth` is a separate task. When making changes for this issue don't update to `dj-reset-auth` just update/delete templates and switch to using these custom templates instead of default templates. If `allauth` urls are not being used you can remove those as part of the PR for this issue.

[2021-01-03 12:41] lkbhitesh07 commented on #3069
Ok @Ram81 bhaiya. I'm on it.

[2021-01-03 14:52] ajinkya7 commented on #2503
Is this still open?

[2021-01-04 00:29] lkbhitesh07 commented on #3069
Update - Working on this issue as to solve it I'm looking into the forms and serializers files I hope I'll complete it by tomorrow.

Now a small doubt, as you @Ram81 said bhaiya that the current template that we recieve is of `rest-auth` but it's not, it is of `django` itself. I searched down through some files and then I got to know this.

What I figured out is, at the earlier version of `rest-au

[2021-01-04 14:58] lkbhitesh07 commented on #3069
Hello @Ram81 and @RishabhJain2018  bhaiya, yesterday when I tried solving this issue on my local host it was almost done I mean I was able to change the template but was not able to pass variable to be displayed but when I restarted the whole environment it stopped working somehow. Showing "something went wrong please try again later".
![Screenshot from 2021-01-04 19-56-15](https://user-images.git

[2021-01-05 05:15] Ram81 commented on #3069
Hi @lkbhitesh07,

The POST API call for url `/api/auth/password/reset/` is throwing an Internal Server Exception HttpStatus `500`
[code]

It might be because the custom serializer you wrote is throwing some exception. You can add exception handling i.e `try except` and some debug statements to figure out what is going wrong.

[2021-01-07 23:17] lkbhitesh07 commented on #3069
Hello @Ram81 I'm trying to figure out what's wrong for the past 3 days but I'm not getting anywhere, I tried to use debugger but as our environment is set up using docker so it's causing trouble there. Also, I tried to do it by `python manage.py runserver` and it's giving me some other errors which I tried to solve and searched on google but nothing achieved. I'm just too curious and frustrated th

[2021-01-09 21:53] #2503 closed

[2021-01-10 13:29] Ram81 opened #3127 "Add swagger api documentation for get_all_entries_on_public_leaderboard API"
### Description

Hosts can use EvalAI APIs to get details of the leaderboard entries. The get leaderboard entries API documentation is missing documentation on EvalAI [docs](http://eval.ai/api/docs/).

### Deliverables
Add documentation for using `get_all_entries_on_public_leaderboard` API using swagger. An example of using swagger for API documentation is available [here](https://github.com/Cloud

[2021-01-10 13:31] Ram81 opened #3128 "Add swagger api documentation for download_all_submissions API"
### Description

Hosts can use EvalAI APIs to download all submission details. The download all submissions API documentation is missing documentation on EvalAI [docs](http://eval.ai/api/docs/).

### Deliverables
Add documentation for using `download_all_submissions` API using swagger. An example of using swagger for API documentation is available [here](https://github.com/Cloud-CV/EvalAI/blob/mas

[2021-01-10 13:33] Ram81 opened #3129 "Add swagger api documentation for remove_participant_team_from_challenge API"
### Description

Hosts can use EvalAI APIs to remove participant teams from an active challenge. The remove participant team from challenge API documentation is missing documentation on EvalAI [docs](http://eval.ai/api/docs/).

### Deliverables
Add documentation for using `remove_participant_team_from_challenge` API using swagger. An example of using swagger for API documentation is available [her

[2021-01-10 14:03] Ram81 opened #3130 "Fix About us page css inconsistencies in frontend v2"
### Description

Fix the about us page on large screens. Currently, the about us page css is not consistent between frontend v1 and v2. The page css is broken for larger screens in frontend v2. Page css should be same as frontend v1

Frontend V1:
![Screen Shot 2021-01-10 at 7 30 04 PM](https://user-images.githubusercontent.com/16323427/104125095-92445780-537a-11eb-9b05-35c597f41664.png)

Frontend

[2021-01-10 14:08] Ram81 opened #3131 "Fix Our team page css inconsistencies in frontend v2"
### Description

Fix the our team page css. Currently, our team page css is not consistent between frontend v1 and v2. The page css is broken for larger screens in frontend v2. Page css should be same as frontend v1.

Frontend V1:
![Screen Shot 2021-01-10 at 7 35 17 PM](https://user-images.githubusercontent.com/16323427/104125204-565dc200-537b-11eb-9164-6635ea4b45a5.png)

Frontend V2:
![Screen Sho

[2021-01-10 14:17] Ram81 opened #3132 "Show past challenges in frontend v2 dashboard"
### Description

On the frontend v2 dashboard, we show a list of current and upcoming challenges but the list of past challenges is not being populated.

![Screen Shot 2021-01-10 at 7 44 32 PM](https://user-images.githubusercontent.com/16323427/104125371-514d4280-537c-11eb-811f-59c797b646ef.png)

The above screenshot shows the list of challenges populated challenges in current and upcoming tabs bu

[2021-01-10 19:48] gautamjajoo commented on #3131
Working on it!

[2021-01-10 19:53] gautamjajoo commented on #3131
Should there be a box-shadow in the background and division of Core Team and Contributor in v2? Or it should be same as it is currently.

[2021-01-10 20:01] RishabhJain2018 commented on #3131
Let's make it the same as it is now.

[2021-01-11 13:11] maya-ami opened #3135 "Sandbox or late submissions"
Hi!
Great framework that has virtually everything that is needed for hosting AI competitions!

The one feature I am looking for is a so called sandbox. Is it possible to enable late submissions after the deadline? E.g., kaggle allows to submit predictions even after the competition has ended. The leaderboard doesn't change of course but  the participant see where his/her score.

I have searched an

[2021-01-11 16:27] mukul20-21 commented on #3128
I am new to open source contribution, Can I help to resolve the issue.
I used swagger and know how it works.
Can you assign an issue?

[2021-01-11 16:32] Ram81 commented on #3128
@mukul20-21 sure, go ahead.

[2021-01-11 16:46] #3132 closed

[2021-01-12 06:10] mukul20-21 commented on #3128
Thank you, Sir,
I tried my best to contribute to the community, please guide me if I cause
an error.

On Mon, Jan 11, 2021 at 11:03 PM Rishabh Jain <notifications@github.com>
wrote:

[2021-01-12 07:18] 17Rajat commented on #3129
Hello Sir,
I have deployed an machine learning model using Swagger API, So, I know how it works.
I am also new to open source contribution .
Can you please assign this issue to me ?
I want to help in resolving it and want to contribute to open source community.

[2021-01-12 09:46] burnerlee commented on #3127
hello @Ram81, can I please work on and complete the issue?

[2021-01-12 10:02] burnerlee commented on #3130
@Ram81 can I work on this please. I'll make a PR to fix this quickly

[2021-01-12 10:04] Ram81 commented on #3130
Hi @burnerlee, yes go ahead.

[2021-01-12 10:04] Ram81 commented on #3129
@17Rajat yes, go ahead.

[2021-01-12 10:06] Ram81 commented on #3127
@burnerlee yes, go ahead. Assigned the issue

[2021-01-12 10:10] 17Rajat commented on #3129
Thanks

[2021-01-12 11:50] burnerlee commented on #3127
thank you so much

[2021-01-12 15:04] burnerlee commented on #3127
@Ram81, made a PR #3140 to solve this issue, please review. Also please suggest some other issues which I can work on for further contribution

[2021-01-12 15:50] jayndu opened #3141 "Build should take less time"
Wouldn't it reduce the build time by installing the `prod.txt` dependencies before adding all the code (to leverage caching)? Or is there any specific reason we are not doing this?

https://github.com/Cloud-CV/EvalAI/blob/aa0f4ffc464fc7c934f2702f02ab20c1a2c3e022/docker/prod/django/Dockerfile#L4-L9

[2021-01-12 18:19] lkbhitesh07 commented on #3123
Hello @Ram81 , I was thinking to get started with this issue and when #3069 will be done we can update this. Also, I just want to ask that what version I should mention in `requirements/common.txt`? I'm getting a bit confused about that, [here](https://github.com/jazzband/dj-rest-auth/releases) is the list of their releases.
Thanks

[2021-01-13 05:07] nikki1234567 commented on #3128
Hello sir, I am Nikhilesh I have  experience in writing swagger documentation for two REST api's I created.Can I work on this issue if its still open?

[2021-01-14 20:42] lkbhitesh07 commented on #3123
Hello @Ram81 and @RishabhJain2018  , will you please review it.
Thanks

[2021-01-15 03:15] ssaranathan opened #3143 "Django continuously making API calls to the backend"
Hi,
In our production version of leaderboard which was forked out Eval AI, we suddenly see continuous API calls being made from the Django Container.  Please see the logs below.  This is slowing down our environment.

Any idea what is causing so many calls ?

page_size=1000 => generated 4125 bytes in 3697 msecs (HTTP/1.1 200) 5 headers in 155 bytes (1 switches on core 0)
[pid: 31|app: 0|req: 3859/

[2021-01-15 21:40] RishabhJain2018 commented on #3143
Hi @ssaranathan , Thanks for reaching out.

It is because the leaderboard makes API calls to get the latest results and hence there is continuous polling to this API.

[2021-01-16 14:00] burnerlee commented on #3067
@RishabhJain2018 @Ram81 may I add this bot?

[2021-01-16 14:01] burnerlee commented on #2994
@Ram81 @RishabhJain2018, can I please take up this issue? I'll make a PR quickly to sort this out

[2021-01-16 14:07] RishabhJain2018 commented on #2994
Sure!

[2021-01-16 14:10] RishabhJain2018 commented on #3067
We already have this bot configured, hence closing this one!

[2021-01-16 14:10] #3067 closed

[2021-01-16 14:22] burnerlee commented on #2994
@RishabhJain2018 the above error link does not work for me. Could you please also tell me the API where this error takes place?

[2021-01-16 14:46] burnerlee commented on #2994
[code]
Is it the above API we are taking about?

[2021-01-16 15:09] Ram81 opened #3146 "Fix cyclic import dependency in challenges/aws_utils.py"
### Description

Currently, we can't import `Challenge` model or any method from `challenges/utils.py` in [challenges/aws_utils.py](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/aws_utils.py) because `aws_utils.py` is being imported in `challenges/model.py`. If we try to import any util methods or models from `challenges/utils.py` or `challenges/models.py` in `challenges/aws_utils

[2021-01-16 15:40] burnerlee commented on #3146
@Ram81 can I pick up this issue? I'll make a quick PR

[2021-01-16 15:41] RishabhJain2018 commented on #3146
Sure @burnerlee !
So, I am unassigning you from #2994 .

[2021-01-16 15:44] burnerlee commented on #3146
oh can i take up only one issue at a time?

[2021-01-16 15:45] RishabhJain2018 commented on #3146
Yes, you can finish this one and then pick that one :)

[2021-01-16 15:47] burnerlee commented on #3146
oh ,cool

[2021-01-16 18:42] burnerlee commented on #3146
￼Opened PR #3148 to fix the issue. Please review @RishabhJain2018 @Ram81

[2021-01-16 19:05] burnerlee commented on #2994
@RishabhJain2018 please reassign this issue to me when possible. I have solved the other assigned issue and made a PR for the same. Also, please provide some insights on the error by answering the above query too

[2021-01-16 19:06] burnerlee commented on #3146
Please also reassign me #2994

[2021-01-17 15:33] RishabhJain2018 commented on #2994
Hey @burnerlee , You can work on this now.

Regarding your query, I'll let @Ram81 respond to this.

[2021-01-17 15:42] Ram81 commented on #2994
@burnerlee  yes this issue is for `update_partially_evaluated_submission` API

[2021-01-17 15:47] burnerlee commented on #2994
Oh thanks, I'll fix this. Thanks

[2021-01-17 15:55] RishabhJain2018 commented on #3127
Fixed using #3140

[2021-01-17 15:55] #3127 closed

[2021-01-17 20:32] burnerlee commented on #3143
@RishabhJain2018 can we implement this using WebSockets through which an event can be emitted when leaderboard data is updated so that we can avoid these unnecessary API calls??

[2021-01-17 20:40] burnerlee opened #3151 "Optimize Travis CI Build during checks on making a Pull Request"
When a pull request is made, Travis CI runs a single test to check for all errors/warnings in the code, and with an exit status after the complete check is finished. Even if some part of the check fails, it continues to run the check further and notifies the user about the failure only at the end of the complete test which wastes a lot of time.
For e.g. the flake8 test occurs at the very beginning

[2021-01-17 20:41] burnerlee commented on #3151
@RishabhJain2018 @Ram81 I would love to work on this if this seems useful. I have completed my previous issues and made a PR

[2021-01-17 20:42] burnerlee commented on #2994
@Ram81 @RishabhJain2018 made a PR #3150 to fix this. Please review

[2021-01-18 03:35] RishabhJain2018 commented on #3143
Hi @burnerlee, Thanks for bringing this up but this issue isn't on the roadmap of the project.

[2021-01-18 03:35] #3143 closed

[2021-01-18 12:19] RishabhJain2018 commented on #3135
Hi @maya-ami ,

Thanks for reaching out.

No, we don't allow late submissions after the challenge deadline. One thing you can do is to have two phases within the challenge and you can use one phase for the deadline and another one after the deadline.

Please feel free to ask if you have further questions.

[2021-01-18 12:36] maya-ami commented on #3135
@RishabhJain2018 I see, thank you!

[2021-01-18 12:36] #3135 closed

[2021-01-18 13:19] Ram81 commented on #3151
@burnerlee setting up multiple boot machines also takes time and recently the boot time has increased. So I am not sure if we  start multiple boot machines we will get any benefit from it.

[2021-01-18 13:22] burnerlee commented on #3151
@Ram81, I understand your point. Can we at least return the build with an error as soon as one of the checks fails so that the user does not have to wait for a long time?

[2021-01-18 13:23] Ram81 commented on #3151
Yeah that change is good to have.

[2021-01-18 13:25] Ram81 commented on #3151
@burnerlee I would suggest you first complete the tasks you are working on before picking up any new task. I can see that you already have 3 PRs open which needs some work before they can be approved and merged. Once you are done with them then you can pick this up or if you are interested in a backend related task you can look at this [issue](https://github.com/Cloud-CV/evalai-cli/issues/305)

[2021-01-18 14:15] nikki1234567 commented on #3129
Hello Sir, I am Nikhilesh. I have experience in writing swagger documentation can I work on it if it is still open?

[2021-01-20 15:07] lkbhitesh07 commented on #3129
Hi @Ram81 , Can I work on this issue?
Thanks

[2021-01-20 15:29] Ram81 opened #3154 "[FrontendV2] Fix error message on My Submissions page refresh"
### Description

In frontend v2 when a challenge host goes to the `My Submissions` tab on the challenge page and refreshes the page the UI shows error notification with message `Success`.

Steps to reproduce the error:

1. Select any active challenge
2. Go to `My Submissions` tab
3. Refresh the page

Here's the screenshot of the error notification.

<img width="1440" alt="Screen Shot 2021-01-20 at

[2021-01-20 15:37] gautamjajoo commented on #3154
Can I work on it?

[2021-01-20 15:37] Ram81 commented on #3154
@gautamjajoo Sure, go ahead

[2021-01-20 15:48] Ram81 opened #3155 "[FrontendV2] Allow toggling Show on leaderboard when submission is submitted/runnning"
### Description

When a participant goes to `My Submission` page and select a submission they can't toggle `Show on leaderboard` checkbox when status of submission is `Submitted/Running`. We should allow toggling of this checkbox even when submission is not in `Finished` state.

Steps to reproduce:

1. Select a challenge
2. Go to Submit tab and make a submission
3. Go to My Submissions tab
4. Sele

[2021-01-20 15:56] burnerlee commented on #3155
@Ram81 can I make a PR for this issue?

[2021-01-20 16:06] Ram81 opened #3156 "[FrontendV2] Pagination not working on All submissions page"
### Description

On the `All submissions` tab of challenge page pagination is not working. If there are multiple pages for the submissions when a users tries to navigate to the next page UI throws an error notification with `Success` message.

Expected behavior:

Pagination should work as expected and user should be able to navigate between pages. If there is an error then a valid error message sh

[2021-01-20 16:12] Ram81 opened #3157 "[FrontendV2] Show selected submission details in 3 columns"
### Description

When a submission is selected on the `My Submissions` tab we currently divide the fields into two columns. The metadata fields should be shown in 3 columns for meta fields in each column.

Here is the current screenshot for reference

<img width="1440" alt="Screen Shot 2021-01-20 at 9 38 18 PM" src="https://user-images.githubusercontent.com/16323427/105202465-07c4da80-5b68-11eb-86

[2021-01-20 16:20] Ram81 opened #3158 "[FrontendV2] Fix private split tag css on the leaderboard"
### Description

`Private` tag for a challenge phase split should appear next to the phase split name in the dropdown on the `Leaderboard` tab of the challenge page. Because of inconsistent css the `private` tag for a challenge phase split is aligned below the phase split text in dropdown.

Here's a screenshot for reference

<img width="1440" alt="Screen Shot 2021-01-20 at 9 47 11 PM" src="https:/

[2021-01-20 16:25] Ram81 opened #3159 "[FrontendV2] Show selected submission details in 3 columns All submissions page"
### Description

When a submission is selected on the `All submissions` tab we currently divide the fields into two columns which makes it look cluttered. The metadata fields should be shown in 3 columns for meta fields in each column.

Here is the current screenshot for reference
<img width="1440" alt="Screen Shot 2021-01-20 at 9 52 56 PM" src="https://user-images.githubusercontent.com/16323427/1

[2021-01-20 16:25] Ram81 commented on #3155
@burnerlee Sure, go ahead

[2021-01-20 17:01] burnerlee commented on #3159
@Ram81 please assign the issue to me. Made a PR for the last assigned issue

[2021-01-20 17:04] burnerlee commented on #3155
#3160 made

[2021-01-20 18:16] burnerlee commented on #3157
@Ram81 in the latest master pull, there Baseline is not visible. Does this need to be fixed too?

[2021-01-20 18:17] burnerlee commented on #3156
@Ram81 the number of submissions shown on a single page currently are 100. Should we change this too? This is creating a problem in testing as there are not enough submissions for a single phase

[2021-01-20 18:31] Ram81 commented on #3159
@burnerlee sure, but please complete the requested changes on your previous PRs before picking up new issues.

[2021-01-20 18:33] Ram81 commented on #3156
@burnerlee  no we don't need to change the limit. But you can reduce it to do testing and revert the limit before pushing the PR. Also, it would be good if you work only on 1 issue at a time.

[2021-01-20 18:34] Ram81 commented on #3157
Are you using host account or participant account? Baseline option is only available to challenge hosts

[2021-01-20 18:43] burnerlee commented on #3159
Sure, #3160 has been updated. #3146 needs review from @RishabhJain2018 and #3150 needs further actions to be decided.

[2021-01-20 18:56] burnerlee commented on #3157
Oh yes, thank you :)

[2021-01-20 19:27] RishabhJain2018 commented on #2994
Closing this as well as we will throw `404` for not found error.

[2021-01-20 19:27] #2994 closed

[2021-01-20 19:29] RishabhJain2018 commented on #3159
@burnerlee Please do complete https://github.com/Cloud-CV/evalai-cli/issues/305 before starting with new issues. We definitely need that feature :)

[2021-01-20 19:29] burnerlee commented on #3159
![Screenshot from 2021-01-21 00-23-35](https://user-images.githubusercontent.com/55936223/105224980-ed98f580-5b83-11eb-8487-f4fb4eb09a14.png)

[2021-01-20 19:30] burnerlee commented on #3159
I thought that issue would take a bit time and I have my exams going on in my college. I would get a prep leave on 23 and complete the issue on 23 itself. Till that just thought to give a go on these small issues

[2021-01-20 19:32] RishabhJain2018 commented on #3159
Okay! Thanks for letting us know.

[2021-01-20 19:32] burnerlee commented on #3159
I'll surely submit it on 23, please please do not unassign me :(

[2021-01-20 19:33] RishabhJain2018 commented on #3159
Sure :)

[2021-01-20 19:58] burnerlee commented on #3159
Will complete this as #3163 is merged. Will use same CSS classes

[2021-01-20 19:59] burnerlee commented on #3157
![Screenshot from 2021-01-21 00-23-35](https://user-images.githubusercontent.com/55936223/105227995-060b0f00-5b88-11eb-9352-a02da8f4f5d2.png)

[2021-01-20 19:59] burnerlee commented on #3157
#3163 made.

[2021-01-21 04:28] Devanshu24 commented on #3158
Hi @Ram81 !
I would like to give it a shot, if it is okay with you and if no one else is already working on it :)

[2021-01-21 06:07] Alabhya268 opened #3165 "Default users accounts are not working"
These 3 accounts are provided by default are not working -

SUPERUSER- username: admin password: password
HOST USER- username: host password: password
PARTICIPANT USER- username: participant password: password

While trying to login, Its shows loading and nothing happens afterwards and its similar issue with signup.

[2021-01-21 08:30] Devanshu24 commented on #3158
After playing with the code a little I think that `frontend` is the default one that is being used, could you guide me on how to use `frontendV2`.

[2021-01-21 09:15] Ram81 commented on #3158
@Devanshu24 sure, go ahead.

You can access it on `localhost:4200`  port.

[2021-01-21 10:32] Devanshu24 commented on #3158
![Screenshot from 2021-01-21 15-34-20](https://user-images.githubusercontent.com/56106207/105335576-368d9000-5bfe-11eb-87d8-3cbce5ce2585.png)

This is not exactly the issue you had pointed out, but when I was on the leaderboard page I could see that phase selector was sort of bumping into the Precision Value selector (the image is a little small, so please open it in a new tab), this is to my unde

[2021-01-21 19:24] lkbhitesh07 commented on #3129
Hello @Ram81 @RishabhJain2018
Small doubt,
I'm working on this issue but I'm stuck at one point. I was trying to test the API using postman then I got an error "Authentication credentials were not provided." So I passed the Token to the authorization part but still I'm getting this error. Can you provide some insights?
I tried searching on google but got nothing.
Thanks

[2021-01-21 20:07] RishabhJain2018 commented on #3165
Hi @Alabhya268 , Thanks for opening the issue

@burnerlee Can you please also check and confirm this?
cc: @Ram81

[2021-01-21 20:13] Alabhya268 commented on #3165
@RishabhJain2018 is composing through docker is only way to run Eval-ai or there is any other way.
since I am new to Eval-ai ,I dont know if there is other way to run it.

[2021-01-21 20:30] burnerlee commented on #3165
I've not been facing this particular issue. I have worked on a couple of issues after logging in using the given I'd and they worked properly for me

[2021-01-21 20:31] burnerlee commented on #3165
Are there any errors in logs after you run docker compose up?

[2021-01-21 23:14] ShauryaAg commented on #3156
@Ram81 Can you please assign me this issue. I have almost solved it, I just need to make a PR.

The issue is at [line 365](https://github.com/Cloud-CV/EvalAI/blob/e884666e789fec9b44da1d8974c7244f099b99f3/frontend_v2/src/app/components/challenge/challengeviewallsubmissions/challengeviewallsubmissions.component.ts#L365) as the `environment.api_endpoint` is not set correctly.

[2021-01-21 23:21] ShauryaAg commented on #3156
For testing purposes `environment.api_endpoint` should be set to `http://localhost:8000/api/`, whilst for production it should be `http://eval.ai/api/` (which it is already set to), but is using the `environment.staging.ts` for testing purposes, instead of `environment.ts`

[2021-01-22 01:05] RishabhJain2018 commented on #3165
@Alabhya268 We only support and maintain the docker setup :)

[2021-01-22 05:55] Alabhya268 commented on #3165
This is what shows in terminal after running docker-compose up --build command -

nodejs_v2_1  |      harmony import specifier tslib [./node_modules/@angular/material/esm5/stepper.es5.js] 27:4-13
nodejs_v2_1  |      harmony import specifier tslib [./node_modules/@angular/material/esm5/stepper.es5.js] 87:4-13
nodejs_v2_1  |      harmony import specifier tslib [./node_modules/@angular/material/esm5/

[2021-01-22 08:17] ShauryaAg commented on #3165
@Alabhya268 Can you try and login at `localhost:8000/api/admin`. I don't see any `django_1` (django container) logs in the logs that you have posted, so I think `django_1` has stopped working in your particular setup.

[2021-01-22 08:19] Ram81 commented on #3165
@Alabhya268 can you check if you `django` container is running?

[2021-01-22 08:24] ShauryaAg commented on #3165
@Alabhya268 If you are using docker desktop, you can see the `django` container's logs in docker dashboard.
If you can share the logs, we'd able to help you better.

[2021-01-22 08:26] Alabhya268 commented on #3165
![evalAI](https://user-images.githubusercontent.com/57143358/105465957-9e54e100-5cb9-11eb-961e-d1f4a34c15b3.PNG)
![EvalAi2](https://user-images.githubusercontent.com/57143358/105465963-9f860e00-5cb9-11eb-8c25-1cdc55110ecd.PNG)

[2021-01-22 08:28] ShauryaAg commented on #3165
As you can see the `django` container has exited. Can you click on `django_1` container and show its logs.

[2021-01-22 08:29] Alabhya268 commented on #3165
![Uploading dlog.PNG…]()

[2021-01-22 08:29] Alabhya268 commented on #3165
![dlog](https://user-images.githubusercontent.com/57143358/105466289-03103b80-5cba-11eb-985a-376c8d96521e.PNG)

[2021-01-22 08:30] Ram81 commented on #3165
@Alabhya268  are you running EvalAI on a windows machine?

[2021-01-22 08:31] Alabhya268 commented on #3165
Yes , Can it not run on windows?

[2021-01-22 08:31] ShauryaAg commented on #3165
I see the problem. When you cloned the repo git converted `LF` to `CRLF`.

You can change that by using `git config --global core.autocrlf false` and clone the repo again.

[2021-01-22 08:32] Alabhya268 commented on #3165
ok, I'll try it.

[2021-01-22 08:54] Alabhya268 commented on #3165
@ShauryaAg Thanks very much after re-cloning everything is working perfectly. :)

[2021-01-22 09:01] Alabhya268 commented on #3165
I'll be closing this issue,
@ShauryaAg  @RishabhJain2018 @Ram81 @burnerlee Thanks again.

[2021-01-22 09:01] #3165 closed

[2021-01-22 15:19] #3130 closed

[2021-01-22 20:02] ShauryaAg commented on #2883
@KhalidRmb I would like to work on this issue, but I am unable to find the piece of code where it sends an email after a `PUT` or `PATCH` request in [challenge_detail](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L200) function ([Line 222](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L222) to be more specific)

[2021-01-23 13:36] gautamjajoo opened #3169 "Login/Signup not shown even after login"
### Description
Once a user has login, the signup/login button is shown on refreshing the home page instead it should show the name and log out button should be visible.

### Steps to Reproduce :
1. Login and go on the homepage.
2. Refresh the page.

The same problem occurs If you redirect to home page through already login page.

### Would you like to work on the issue?
Yes
@RishabhJain2018 @Ram8

[2021-01-23 16:18] #3154 closed

[2021-01-24 15:59] Devanshu24 opened #3170 "Chrome suggests password in `Login Page` password field"
Currently, the Password field of the login page receives a password suggestion from chrome, which should not happen as you wouldn't want to be recommended a password when you login

![Screenshot from 2021-01-24 21-26-34](https://user-images.githubusercontent.com/56106207/105635794-f0992c00-5e8a-11eb-9647-a115ccfd553f.png)

This can be fixed by changing the `autocomplete` attribute in the password

[2021-01-25 10:15] gautamjajoo commented on #3131
@RishabhJain2018 This can also be closed as #3133 has been merged.

[2021-01-25 14:53] RishabhJain2018 commented on #3131
Closing this. Thanks for pointing it out.

[2021-01-25 14:53] #3131 closed

[2021-01-25 19:21] Alabhya268 opened #3174 "More space between chip and View Details in Hosted Challenges card (Frontend)."
When logging in with host account,
In "Hosted Challenges" section Cards will look better if it had a little spacing between "Approved, Published" chip and "View Details" .

Please have a look at the image for better understanding -
![Cloudcv](https://user-images.githubusercontent.com/57143358/105754790-7e9b1280-5f70-11eb-80bc-a159a051e435.PNG)

I would like to work on this issue. Please assign thi

[2021-01-26 11:08] burnerlee opened #3176 "No module named 'rest_framework_simplejwt' error on running after latest master pull"
Error:
[code]

[2021-01-26 11:09] Ram81 commented on #3176
@burnerlee you have to rebuild the docker containers. New packages were added recently.

[2021-01-26 12:14] Ram81 commented on #3176
Closing this as it is not a bug.

[2021-01-26 12:14] #3176 closed

[2021-01-26 12:18] burnerlee commented on #3176
Yes, worked! Thank you @Ram81 :)

[2021-01-26 13:54] Ram81 commented on #3146
@burnerlee it seems like you didn't test the changes by fixing imports in `aws_utils.py`. After fixing cyclic imports we want to place all `from .models` import at the start of the file in `aws_utils.py` and not in the methods.

If you check [this](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/aws_utils.py#L356) you'll see the workaround for handling cyclic import is still there.

[2021-01-26 17:53] burnerlee commented on #3146
yeah, I'll pick this issue, I've my all PRs updated now and made a PR for the issue in eval-cli

[2021-01-26 22:32] #3157 closed

[2021-01-27 19:29] #3155 closed

[2021-01-27 20:38] Alabhya268 commented on #3174
@RishabhJain2018 Please have a look at this PR.

[2021-01-27 20:45] Alabhya268 opened #3182 "[frontendV2] Profile screen is not showing properly with screen-width more than 1440px"
Profile screen is not showing properly with screen-width more than 1440px .

"Side bar" is overlapping with "Dashboard" .

For better understanding please have a look at this Image --
![cloudcv_profile](https://user-images.githubusercontent.com/57143358/106051508-8a244000-610e-11eb-8ace-de958768156d.PNG)

I want to work on this issue , Please assign it to me .

[2021-01-27 21:16] RishabhJain2018 commented on #3182
Thanks @Alabhya268 for catching this. Assigned you!

[2021-01-28 01:52] felixp8 opened #3184 "`leaderboard_decimal_precision` and `is_leaderboard_order_descending` cannot be set from `challenge_config.yaml`"
I've been testing a challenge on an local EvalAI clone but have been unable to properly set `leaderboard_decimal_precision` and `is_leaderboard_order_descending` from my `challenge_config.yaml`.

**Expected behaviour**
Altering `leaderboard_decimal_precision` and `is_leaderboard_order_descending` should be reflected in the leaderboards on EvalAI.

**Observed behaviour**
Regardless of the values of

[2021-01-28 11:06] burnerlee commented on #3151
@Ram81 @RishabhJain2018 completed the already assigned issues/ requested reviews. Should I start working on this change? Or is there some other issue on a higher priority than this? Could you please assign it to me? :) Thank you

[2021-01-28 17:43] Devanshu24 commented on #3170
@Ram81 @RishabhJain2018 Is this something you would want me to implement?

Sorry, I was not sure if I should tag you or not, I understand that you would be busy. Just wanted to ensure this hasn't skipped your sight, sorry again if this issue is not important :)

[2021-01-28 22:13] scorpionsky opened #3189 "Database backup quickly growing until eating up all space"
We created a local EvalAI server and it runs well until we encountered no space errors. We found there are over one hundred of large files under `docker/volumnes/xxxxxxxxxxx/_data/12994/758505.*`... It seems to be some backup files for a same entry 758505. Can you help on this and is there a way to avoid these backup files? Thank you!

[2021-01-31 17:01] Ram81 opened #3191 "[Frontend V1] Add support to edit submission meta attributes of submissions"
### Description

Currently, participants can only fill in submission meta attributes details when making a submission. The task is to add frontend and backend changes for allowing users to edit submission meta attributes fields after a submission is made.

Screenshot below shows current fields user can edit after making a submission:
![Screen Shot 2021-01-31 at 10 29 11 PM](https://user-images.git

[2021-01-31 17:08] gautamjajoo commented on #3191
Can I work on it?

[2021-01-31 17:13] RishabhJain2018 commented on #3191
Sure @gautamjajoo
cc: @Ram81

[2021-01-31 17:23] Ram81 opened #3192 "Remove shadow from view button on leaderboard page"
### Description

Remove the shadow from view button on leaderboard page to make it consistent with EvalAI UI. Screenshot below shows the current style.

![Screen Shot 2021-01-29 at 10 50 32 AM](https://user-images.githubusercontent.com/16323427/106392240-fa84d700-6416-11eb-9306-4f4ce3c55b06.png)

[2021-01-31 17:36] #3192 closed

[2021-02-01 22:50] RishabhJain2018 commented on #3189
HI @scorpionsky,

Thanks for reaching out. Could you please give me a bit more context on how you are running the dockers, i.e. using the development setup or the production setup?

[2021-02-01 22:52] RishabhJain2018 commented on #3184
Hi @felixp8,

Thanks for reaching out. This doesn't use to happen with EvalAI earlier, but we can check and get back to you.
cc: @Ram81

[2021-02-02 13:56] #3169 closed

[2021-02-02 18:02] Alabhya268 opened #3195 "[FrontendV2] Item on every navbar page is floating towards right in for screen width more than 1440px"
Frontend v2 is unoptimized for screen width greater than 1440px.

Item on Participant challenges navbar page is floating towards right in  for screen width more than 1440px, Same behaviour can be seen under in all navbar page section.

Please look at following image for better understanding.
![Screenshot from 2021-02-01 21-22-09](https://user-images.githubusercontent.com/57143358/106642510-6fd6e00

[2021-02-02 18:15] RishabhJain2018 commented on #3195
@Alabhya268 Do you want to work on this issue?

[2021-02-02 18:16] Alabhya268 commented on #3195
@RishabhJain2018, I would like to work on this.
Assign me please

[2021-02-03 14:42] ShauryaAg opened #3198 "this.logger is not defined in challengesettings.component.ts"
`this.logger` is not defined in [`challengesettings.component.ts`](https://github.com/Cloud-CV/EvalAI/blob/master/frontend_v2/src/app/components/challenge/challengesettings/challengesettings.component.ts)
It causes the `frontend_v2` compilation to fail.

#### Expected Behaviour:
Build to compile successfully.

#### Observed Behaviour:
Compilation fails for `frontend_v2`

LOGS:
[code]

#### Steps t

[2021-02-03 15:43] ShauryaAg opened #3200 "[FrontendV2] Buttons are not easily clickable in Get Auth Token at /profile"
**Cancel**, **Download JSON** and **Refresh Token** buttons are not easily clickable in **Get Your Auth Token** Modal at `/profile`.

In order to click the above mentioned buttons, one needs to click precisely right below the button instead of clicking on them.
This problem becomes adverse in mobile screens.

If you'd like to report a bug, please include the following information:
#### Expected be

[2021-02-03 17:23] Ram81 commented on #3200
Thanks @ShauryaAg for creating this issue

[2021-02-03 18:47] Alabhya268 opened #3202 "Docker build Stuck"
After updating my master branch yesterday.
When running command " docker-compose up --build "

It get's stuck here -
![Screenshot from 2021-02-04 00-03-07](https://user-images.githubusercontent.com/57143358/106793342-56509980-667d-11eb-8438-d0a78edd54b9.png)
I left it like this for about an hour still nothing heppens.

Because of this "localhost:4200" is opening while "localhost :8888" is working

[2021-02-03 18:49] Alabhya268 commented on #3202
Here is full output of cmd -

alabhya@alabhya-OMEN-by-HP-Laptop-15-dc0xxx:/media/alabhya/DATA/PROJECTS/Open Source/EvalAI$ docker-compose up --build
Building with native build. Learn about native build in Compose here: https://docs.docker.com/go/compose-native-build/
Building django
Sending build context to Docker daemon  107.1MB

Step 1/7 : FROM python:3.7.5
 ---> fbf9f709ca9f
Step 2/7 : ENV PYTH

[2021-02-03 18:49] ShauryaAg commented on #3202
@Ram81 @Alabhya268 #3198 fixes this issue.

[2021-02-03 18:52] Alabhya268 commented on #3202
@ShauryaAg , Thanks very much for letting me know,
I will close the issue when its fixed. :)

[2021-02-04 04:16] #3198 closed

[2021-02-04 07:11] #3202 closed

[2021-02-04 07:12] Alabhya268 commented on #3202
#3199 has fixed this issue, So I'll be closing this issue.

[2021-02-04 08:56] gautamjajoo commented on #3191
@Ram81 What does submission meta attributes include?

[2021-02-04 13:09] Ram81 opened #3205 "[Frontend_v2] Fix spacing of get auth token dialog"
### Description

The spacing in the `Get your Auth Token` modal is inconsistent. The token appears to be floating because of too much space in the text box. The spacing shouldn't be this big.

Refer the following gif:

![dummy](https://user-images.githubusercontent.com/16323427/106896896-30c49e00-6718-11eb-8875-1b7e654c1f75.gif)

[2021-02-04 13:11] Ram81 opened #3206 "[Frontend_v2] Fix inconsistent padding on Submit page"
### Description

The padding for the list of phases and submission meta attributes is inconsistent on the challenge submit page. It should be the same for the whole page.

Refer the screenshot:

<img width="1440" alt="Screen Shot 2021-02-03 at 4 59 36 PM" src="https://user-images.githubusercontent.com/16323427/106897118-81d49200-6718-11eb-9df0-12f0b9e1e3ba.png">

[2021-02-04 13:24] ShauryaAg commented on #3205
@Ram81 I would like to work on this.

[2021-02-04 13:40] Ram81 opened #3208 "[Backend] Add tests for GET/PATCH/DELETE allowed_email_ids APIs"
### Description

PR #3194 adds an API to get, append and delete email ids allowed to participate in a challenge phase. The PR is missing tests. We need to add tests to fetch, append a set of email ids and delete existing email ids from `allowed_email_ids` field.

[2021-02-04 13:43] codeboy5 commented on #3208
Hey can i take it up ?

[2021-02-04 13:52] Ram81 opened #3209 "[Frontend_v2] Fix padding of select phase placeholder on All submissions and My submissions page"
### Description

The padding of the placeholder `Select Phase` is inconsistent in the dropdown on All Submissions page. Following screenshots show the current style :

No phase is selected:

<img width="1440" alt="Screen Shot 2021-02-04 at 7 19 03 PM" src="https://user-images.githubusercontent.com/16323427/106901840-3329f680-671e-11eb-84f3-8c365c131ed1.png">

Phase selected:

<img width="1440" alt

[2021-02-04 13:55] Ram81 commented on #3208
@codeboy5 sure, go ahead. PR #3194 will be merged tonight, till then you could pull the PR branch and go through the codebase.

[2021-02-04 13:57] Ram81 opened #3210 "[Frontend_v2] Fix padding of select phase placeholder on Leaderbord page"
### Description

The padding of the placeholder `Challeng Phase` is inconsistent in the dropdown on Leaderboard page. Following screenshots show the current style :

No phase is selected:
<img width="1440" alt="Screen Shot 2021-02-04 at 7 27 15 PM" src="https://user-images.githubusercontent.com/16323427/106902584-032f2300-671f-11eb-91bd-f423a9bc6abd.png">

Phase selected:

<img width="1440" alt="S

[2021-02-04 13:58] gautamjajoo commented on #3209
Can I work on it?

[2021-02-04 14:01] Ram81 opened #3211 "[Frontend_v2] Fix edit button alignment on Evaluation page"
### Description

<img width="1440" alt="Screen Shot 2021-02-04 at 7 28 25 PM" src="https://user-images.githubusercontent.com/16323427/106902852-4ab5af00-671f-11eb-908a-2dc1a33d3d18.png">

The  `Edit` buttons are misaligned for `Evaluation` and `Terms and Conditions` cards. We should move `Edit` buttons next to `Upload` button on `Evaluation` card and make sure buttons are aligned between cards.

[2021-02-04 14:01] Ram81 commented on #3209
@gautamjajoo Sure, assigning issue to you.

[2021-02-04 14:05] burnerlee commented on #3211
@Ram81, may I please take up this issue?

[2021-02-04 14:19] Ram81 opened #3212 "[Frontend_v2] Fix Private tag alignment on Leaderboard page"
### Description

<img width="1000" alt="Screenshot_2020-10-11_at_11 30 29_AM" src="https://user-images.githubusercontent.com/16323427/106905090-ef38f080-6721-11eb-900f-3cc599afa6e3.png">

The private tag for a phase split is misaligned. It should appear next to the challenge phase split name itself and not downwards.

[2021-02-04 14:22] Alabhya268 commented on #3206
@Ram81  , Could you please explain more precisely as to what needs to be done?

[2021-02-04 14:24] Ram81 opened #3213 "[Frontend_v2] P tag should not appear for private leaderboards"
### Description

<img width="1000" alt="Screenshot_2020-10-11_at_11 38 42_AM" src="https://user-images.githubusercontent.com/16323427/106905953-b3eaf180-6722-11eb-90ce-7e48fcfef12c.png">

P tag should not appear for submissions on the private leaderboards. And change column `Last Submitted At` to `Submitted At` on the leaderboard

[2021-02-04 14:27] Ram81 opened #3215 "[Frontend_v2] Size of team name filter and team list cards should be same"
### Description

<img width="1440" alt="Screen Shot 2021-02-04 at 7 56 12 PM" src="https://user-images.githubusercontent.com/16323427/106906437-2cea4900-6723-11eb-8cd1-a3beac8c071d.png">

The size of the team name filter component and team list cards should be the same

[2021-02-04 14:30] Ram81 opened #3216 "[Frontend_v2] Fix alignment of private phase details on the submite page"
### Description

<img width="1440" alt="Screen Shot 2021-02-04 at 7 51 22 PM" src="https://user-images.githubusercontent.com/16323427/106906667-6c189a00-6723-11eb-8856-91c94d32ec9d.png">

If a challenge phase is private the challenge details appear misaligned. The alignment style should be the same for all phases on Submit page irrespective of phase type/visibility.

[2021-02-04 14:31] Ram81 commented on #3211
@burnerlee Sure, go ahead

[2021-02-04 14:33] Ram81 commented on #3206
Hi @Alabhya268 , the alignment of file upload and submission metadata components is incorrect in frontend v2. It should be same as current version. Please see this screenshot for reference.

![Screen Shot 2021-02-04 at 8 01 58 PM](https://user-images.githubusercontent.com/16323427/106907209-04af1a00-6724-11eb-8387-4bdeecddf0e5.png)

[2021-02-04 14:35] Ram81 opened #3217 "[Frontend_v2] Add option to set submission visibility on Submit page"
### Description

In current EvalAI frontend we allow user to specify submission visibility on the `Submit` page. This feature is not present in frontend v2. We need to add an option on the Submit page in frontend v2 to allow users to submit submission visibility (i.e. public/private)

Please the screenshot of current version:

![Screen Shot 2021-02-04 at 8 01 58 PM](https://user-images.githubuserc

[2021-02-04 14:37] burnerlee commented on #3211
@Ram81 #3218 made for the same

[2021-02-04 14:38] burnerlee commented on #3210
@Ram81, made a PR for the previous assigned issue along with the screenshots. May I take up this issue now?

[2021-02-04 14:41] Alabhya268 commented on #3206
Thanks @Ram81 , I would like to work on this issue.

[2021-02-04 15:17] gautamjajoo commented on #3191
@Ram81 Currently we can edit method name, description etc

[2021-02-04 15:22] Ram81 commented on #3191
@gautamjajoo if you check [here](https://github.com/Cloud-CV/EvalAI-Starters/blob/master/challenge_config.yaml#L49) challenge host can pass custom submission meta attributes for a challenge phase. Currently, we don't allow editing those from `My Submissions` page. You can try uploading a new challenge from EvalAI-Starters repo and see how they work.

[2021-02-04 15:54] burnerlee commented on #3213
@Ram81 may I take up this issue?

[2021-02-04 17:42] Alabhya268 commented on #3206
@Ram81 , I've PR for this , Please a have look on #3220 .

[2021-02-04 17:56] Alabhya268 commented on #3210
@Ram81 I want to work on this , Please assign this issue to me .

[2021-02-04 19:32] burnerlee commented on #3213
using the selectedPhaseSplit in the file, I am able to access the challenge_phase's id but not the leaderboard_public property in angular. I saw some solutions for this. Am I allowed to make some change in the serializer to achieve this?

[2021-02-05 06:55] Alabhya268 commented on #3215
@Ram81 , I've attached PR for this, Please have a look.

[2021-02-05 12:52] igarg2001 commented on #3217
Please assign me this issue

[2021-02-05 14:29] ShauryaAg commented on #3212
@Ram81 I have done the necessary changes. Please take a look,

[2021-02-05 16:25] ShauryaAg opened #3227 "[Frontend_v2] Fix alignment for Precision Value buttons on leaderboard"
Leaderboard Precision value `-` and `+` buttons are not properly aligned for **Screen size < 375px**
![image](https://user-images.githubusercontent.com/31778302/107059790-3c899080-67fc-11eb-846a-8021c8a9bef8.png)

##### I would like to work on this issue.

[2021-02-05 17:34] Alabhya268 commented on #3217
@Ram81 , I would like to work on this issue .

[2021-02-05 18:50] burnerlee commented on #3213
@Ram81 ping^

[2021-02-08 07:07] Ram81 commented on #3191
@gautamjajoo any updates on this task?

[2021-02-08 09:31] gautamjajoo commented on #3191
@Ram81 I had some evaluatives this week. Will open a PR in a day or two.

[2021-02-08 13:05] Ram81 opened #3231 "[Backend] Add feature to stop/delete code upload infrastructure"
### Description

We have an automated set up to create a code upload worker cluster in host's AWS account which creates all the required services for code upload challenge submission evaluation. We want to add automated support to stop/delete the code upload worker infrastructure. This requires -

- [ ] Delete code upload worker running on EvalAI fargate
- [ ] Deleting EKS cluster nodegroup
- [ ]

[2021-02-08 14:06] ShauryaAg commented on #3231
@Ram81 May I take this one?

[2021-02-08 16:21] #3227 closed

[2021-02-09 12:16] debashishnanda commented on #3159
Is this issue still open? @burnerlee are you working on it?

[2021-02-09 12:17] burnerlee commented on #3159
I think it was completed and merged

[2021-02-09 14:31] ShauryaAg commented on #3231
@Ram81 Would it make sense to store `eks_role_name`, `nodegroup_name` (and some other values) in the `ChallengeEvaluationCluster` Model as well, as in order to delete those we need to refer back to those values.

Currently we can parse them while deleting just as we were doing while creating
[code]
however this may create an issue, if these values were to change in the future.

[2021-02-09 14:35] Ram81 commented on #3231
@ShauryaAg sure, go ahead.

Yes, we can add those to the model.

These values won't be changed by anyone. These will be populated by automated task and set to null when we trigger the delete task.

[2021-02-10 10:16] cgoxo commented on #3215
Can I work on this issue?

[2021-02-10 11:15] cgoxo commented on #3209
May I work on this one?

[2021-02-10 16:34] ShauryaAg commented on #3231
@Ram81 I have made the necessary changes for

- [x] Delete code upload worker running on EvalAI fargate
- [x] Deleting EKS cluster nodegroup
- [x] Deleting EKS cluster
- [x] Deleting cloudwatch log groups
- [x] Deleting the VPC and associated subnets, security group and route table
- [x] Deleting IAM roles
- [ ] Add a django admin action for challenge model which will trigger resource deletion
- [

[2021-02-10 17:15] cgoxo commented on #3208
Can I work on this issue?

[2021-02-10 17:19] Ram81 commented on #3208
@cgoxo sure, go ahead.

[2021-02-10 17:22] Ram81 commented on #3231
@ShauryaAg you can open the PR and I can pull and test it with AWS resources. If you want to test you can try signing up for free tier AWS account for testing VPC, subnet and IAM creation and deletion. I don't think you'll get access to sping up EKS clusters but that should be fine I think.

[2021-02-10 19:38] ShauryaAg commented on #3231
@Ram81 I have created a draft PR for the same. Please test it with the AWS API keys.

[2021-02-11 08:51] gautamjajoo commented on #3191
@Ram81 It seems it would take some time for me to open a PR, you can unassign me the issue.

[2021-02-11 09:04] burnerlee commented on #3191
@Ram81, can I please work on this issue? I've an idea about the meta attributes too due to the cli issue. I'll make a PR asap

[2021-02-11 09:05] Ram81 commented on #3191
@burnerlee Sure, go ahead.

Thanks for updating @gautamjajoo

[2021-02-11 11:21] surak opened #3235 "Dataset management?"
Hello Eval.Ai people!

I'm writing to ask about dataset management. So far, datasets are organized manually, which reduces the overall usefulness of the platform. The clear examples of what I'm suggesting are OpenML [1] and Kaggle [2] dataset management. The possibility to fetch the data from the challenge with something akin to an api key, and being able to log such downloads by the challengers,

[2021-02-12 23:57] #3216 closed

[2021-02-13 06:50] Ram81 commented on #3191
@burnerlee any updates on this?

[2021-02-13 11:04] burnerlee commented on #3191
Yes I'll make a PR by tonight positively

[2021-02-13 12:13] burnerlee commented on #3191
@Ram81, should I fetch all the submission meta-attributes available for the challenge phase and then show them in the above shown box along with method name, description, project URL and others? Then the user can enter values for them can submit them to edit. This is what I think is required in the PR

[2021-02-13 12:14] Ram81 commented on #3191
Yes

[2021-02-13 12:37] burnerlee commented on #3191
@Ram81, if I try to make a new submission for a challenge with phase with submission meta attributes, it doesn't give me fields for those attributes while making a new submission too

[2021-02-13 12:38] Ram81 commented on #3191
@burnerlee I didn't get what you are trying to ask. Are you saying the current edit feature on `My submissions` page doesn't return meta attributes?

[2021-02-13 12:46] burnerlee commented on #3191
@Ram81, when I go to the submit page after selecting a challenge, I choose some phase for the challenge.. This phase has some submission meta attributes stored in the database. But after I upload a file, I am only asked for name,description, project URL, publication URL, and not the other submission meta attributes. I was expecting to see all the other submission meta attributes along with them wh

[2021-02-13 12:48] Ram81 commented on #3191
Is this happening for seeded challenges i.e. ones that are available when you start the container? or you are seeing this behavior for new uploaded challenges with meta attributes too?

[2021-02-13 12:50] burnerlee commented on #3191
this is happening for challenges already available. I added some submission meta attributes for their phases manually using the django database interface

[2021-02-13 12:52] Ram81 commented on #3191
Can you try uploading a new challenge created using EvalAI-Starters [repo](https://github.com/Cloud-CV/EvalAI-starters) and see if it happens for those challenges too. I suspect when you are populating from django admin you might be missing updating some field.

[2021-02-13 12:53] burnerlee commented on #3191
sure, i'll do this

[2021-02-13 12:57] burnerlee commented on #3191
how do I approve the challenge as an admin? are the host username and admin same here?

[2021-02-13 12:59] Ram81 commented on #3191
To test submissions locally you don't need to approve a challenge. You can just restart worker container to pick up latest challenge evaluation script. Also to answer your question you could go to the django admin and select the challenge and check the `Approved by admin` field and save the challenge to approve it.

[2021-02-13 13:09] burnerlee commented on #3191
oh, thank you... I hosted this challenge successfully. For this challenge too, I am not shown all the meta attributes while making a new submission

[2021-02-13 13:11] Ram81 commented on #3191
Can you share a screenshot?

[2021-02-13 13:14] burnerlee commented on #3191
![Screenshot from 2021-02-13 18-43-03](https://user-images.githubusercontent.com/55936223/107850814-6ad62400-6e2b-11eb-83bc-463d853b5659.png)
![Screenshot from 2021-02-13 18-43-10](https://user-images.githubusercontent.com/55936223/107850817-6c9fe780-6e2b-11eb-8bc4-53571aa5d742.png)
![Screenshot from 2021-02-13 18-43-19](https://user-images.githubusercontent.com/55936223/107850819-6dd11480-6e2b-11

[2021-02-13 13:14] Ram81 commented on #3191
@burnerlee you are using frontend v2. You should be able to see the submissions meta attributes in frontend v1. You can access it on `localhost:8888`

[2021-02-13 13:20] burnerlee commented on #3191
oh 🤦🏻‍♂️ that's why the logger statements were not working too for me. Thank you so much @Ram81

[2021-02-14 00:03] johnwlambert opened #3240 "Re-running challenge submissions leads to hanging behavior"
Hi EvalAI maintainers, thanks for all you do.

I'm a co-organizer of the "Argoverse 3D Detection Competition". I'm noticing that when I try to re-run a submission from the competition (with the "Re-run submission" button), I see "Submitted" or "Running" for the past 10+ hours, when each submission should take no more than 5 minutes to run.

Would you mind taking a look to see if the eval server is

[2021-02-14 02:23] RishabhJain2018 commented on #3240
Hi @johnwlambert ,

Thank you for reaching out.

Sure, we will check this and get back to you ASAP.

[2021-02-14 04:36] Alabhya268 opened #3241 "[Frontendv2] Overlapping issues in Challenge detail section for screen width more than 1440px."
![Screenshot from 2021-02-14 10-02-56](https://user-images.githubusercontent.com/57143358/107868687-4ff7c400-6eac-11eb-82fe-35029158942e.png)
![Screenshot from 2021-02-14 10-06-22](https://user-images.githubusercontent.com/57143358/107868688-51c18780-6eac-11eb-8a36-67b7ba5e7613.png)

[2021-02-14 04:37] Alabhya268 commented on #3241
I would like to work on this.

[2021-02-14 04:43] Alabhya268 commented on #3241
Issue will be fixed with #3203.

[2021-02-14 07:42] Ram81 commented on #3240
Hi @johnwlambert,

I tested the evaluation worker on following two setups to figure out if the resources we allocated are insufficient for the evaluation script:

1. 2 core 4 GB memory
2. 8 core 16GB memory

On both setups the worker is picking up the submissions and passing it to the evaluation script as expected and triggering the evaluation. When running the evaluate method I can see the logs e

[2021-02-14 08:09] Alabhya268 opened #3243 "[Frontendv2] Dynamically changing web container width with screen width."
Currently width of web container does not change dynamically with screen width greater than 768p and number of challenge card are also fixed .

![now](https://user-images.githubusercontent.com/57143358/107871714-19c93d00-6eca-11eb-9b36-618a9897509d.png)

I can make it dynamic like this -

![after](https://user-images.githubusercontent.com/57143358/107871683-e090cd00-6ec9-11eb-82c1-7fcb6e132e88.png

[2021-02-14 08:10] Alabhya268 commented on #3243
@Ram81 @RishabhJain2018 ,I want to work on this issue, Please assign it to me.

[2021-02-14 08:14] Alabhya268 opened #3244 "[Frontendv2] Unapproved challenge card chips has no padding at bottom."
"Not Published" chip in challenge card has no padding at bottom.

![unapproved](https://user-images.githubusercontent.com/57143358/107871795-cc010480-6eca-11eb-981d-2827d37551ff.png)

[2021-02-14 08:16] Alabhya268 commented on #3244
@Ram81 @RishabhJain2018 , I want to work on this issue.

[2021-02-14 09:49] ShauryaAg opened #3245 "[Frontend_v2] Input field colors changes to white after autofill"
Input Field color changes to white after autofill in `template-challenge-create`

If you'd like to report a bug, please include the following information:
#### The expected behaviour
color should remain `black`
#### The observed behaviour
color changes to `white` after autofill

#### Steps to reproduce the problem
1. Create a new challenge using a template
2. Use autocomplete to fill `Challenge Ti

[2021-02-14 09:56] ShauryaAg commented on #3245
@Ram81 Is this behavior by choice and expected?

Seems like it is from this code spinnet:

https://github.com/Cloud-CV/EvalAI/blob/5a5c28abb7687a82e18379e0f02a02d3748d1bf8/frontend_v2/src/styles/base.scss#L1625-L1633

[2021-02-15 19:47] johnwlambert commented on #3240
Hi @Ram81 and @RishabhJain2018 , thank you for looking into this.

We did update our script recently, but haven't had any problems running it locally. However, t should be a bit more memory-intensive now.

The logs look pretty standard, but it looks like things start to hang about 2% of the way through computation.  It is quite strange. Would there be any other way for us to test it together?

Wou

[2021-02-16 03:57] #3215 closed

[2021-02-16 05:47] Ram81 commented on #3240
Hi @johnwlambert,

After some debugging I found that argoverse package is doing some multiprocessing to evaluate the submissions. During this step some processes are ending up in `defunct` state.

[code]

In the above log `python -m scripts.workers.submission_worker` is the evaluation script process and all other processes which are in `defunct` state were created by the argoverse package during e

[2021-02-16 06:15] Ram81 commented on #3240
@johnwlambert [this](https://pythonspeed.com/articles/python-multiprocessing/) blog also has more details on why multiprocessing pools get stuck and a way to use `spawn` method instead of `fork` to start processes in a multiprocessing pool to fix this issue. Let me know if we can try this change in the evaluation script.

[2021-02-16 10:55] burnerlee commented on #3213
@Ram81 ping

[2021-02-16 10:58] Ram81 commented on #3213
@burnerlee sure, adding fields to serializer is fine

[2021-02-16 17:12] RishabhJain2018 opened #3249 "Backend: Submit page on EvalAI for code upload challenges shows old auth token"
**Issue**: Since we recently changed to JWT auth token, the submit page for code upload challenges on EvalAI still shows the old token.
![image](https://user-images.githubusercontent.com/12206047/108097490-2d9eab80-7050-11eb-9f31-1f3b0be74361.png)

**Fix**:
- [x] Replace the current auth token with the  new token.

[2021-02-16 17:19] ShauryaAg commented on #3249
@RishabhJain2018 May I take this?

[2021-02-16 17:20] RishabhJain2018 commented on #3249
Hey @ShauryaAg , Yes you can take this up. Please note that this is `high priority` issue.

[2021-02-16 17:21] ShauryaAg commented on #3249
Sure. I'll get it done as soon as possible.

[2021-02-17 04:41] johnwlambert commented on #3240
Thanks for your help @Ram81  and @RishabhJain2018 -- we added a flag to run the eval script in a single process (instead of using a Pool) and the problem went away.

[2021-02-17 04:41] #3240 closed

[2021-02-17 07:15] Ram81 commented on #3159
Closing this as this was done

[2021-02-17 07:15] #3159 closed

[2021-02-17 16:03] Alabhya268 commented on #3206
@Ram81  This issue is now fixed, Please close the issue.

[2021-02-19 18:06] #3191 closed

[2021-02-20 17:53] #3249 closed

[2021-02-20 19:19] #3195 closed

[2021-02-20 21:19] afif-fahim commented on #3208
Can I work on this please?

[2021-02-21 05:06] #3241 closed

[2021-02-21 09:05] Alabhya268 opened #3254 "[Frontendv1] Dynamic width for web container."
Width of container in not dynamic, hence challenge list grid always show only 4 items in row and footer does not use full width in wider screen width.

For better understanding see following screenshots -

All screenshots are taken in screenwidth 1080p.

![before1](https://user-images.githubusercontent.com/57143358/108620392-f5350e00-7451-11eb-868f-474d1c866f15.png)
![before2](https://user-images.

[2021-02-21 09:06] Alabhya268 commented on #3254
@RishabhJain2018 I want to work on this issue .

[2021-02-21 16:47] Ram81 opened #3256 "[Backend] Add submission meta attributes in All submissions download API"
### Description

Currently, in `download_all_submissions` API we don't add `submission_meta_attributes`.  The `download_all_submissions` API should also add `submission_meta_attributes` in the response data. You can find the API [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L1747).

[2021-02-21 16:50] Ram81 opened #3257 "[Backend] Send email with challenge pk and queue name for a remote evaluation challenge"
### Description

For remote evaluation challenge, challenge hosts need `challenge_pk` and challenge `queue_name` to start a remote evaluation worker. When a challenge host creates a new challenge we should send an email with `challenge_pk` and `queue_name`

[2021-02-21 16:52] Alabhya268 opened #3258 "Django admin given link is not working in docs"
In docs under the ' Approve a challenge(for forked version) '. In step 1, The link given for ' Django admin panel ' is not working.

Link given here -
![docs](https://user-images.githubusercontent.com/57143358/108632313-39e19900-7494-11eb-8c15-145ac352a990.png)

result -
![admin](https://user-images.githubusercontent.com/57143358/108632321-40701080-7494-11eb-8c49-ed8459e216fe.png)

[2021-02-21 16:52] Alabhya268 commented on #3258
@Ram81 @RishabhJain2018 , I want to work on this issue.

[2021-02-21 17:10] Alabhya268 commented on #3256
@Ram81 could you please more elaborate this issue ?
Thanks in advance.

[2021-02-21 17:17] #3258 closed

[2021-02-21 17:18] #3174 closed

[2021-02-21 17:18] #3182 closed

[2021-02-22 01:54] burnerlee commented on #3257
@Ram81 could I please take up this issue and make a PR for the same?

[2021-02-22 05:37] afif-fahim commented on #3256
Can I take up this issue?

[2021-02-22 05:44] Ram81 commented on #3257
@burnerlee sure, go ahead

[2021-02-22 05:48] Ram81 commented on #3256
@Alabhya268 the `download_all_submissions` API allows challenge hosts to download the submissions as a csv. In this csv we provide submission details like score, participant team, submission metadata (method name, description, etc). Recently we added a feature to allow challenge hosts to ask for additional metadata attributes when a participant makes a submission. Participant can fill this data wh

[2021-02-22 05:56] Ram81 commented on #3256
@afif-fahim sure, go ahead

[2021-02-22 12:43] burnerlee commented on #3257
@Ram81 how do I create a new email template and get an ID for the same?

[2021-02-22 12:45] burnerlee commented on #3257
![Screenshot from 2021-02-22 18-15-06](https://user-images.githubusercontent.com/55936223/108710334-eb86d580-7539-11eb-8f36-d1e11f9e1055.png)

[2021-02-22 12:48] Ram81 commented on #3257
@burnerlee for now you can make changes using a dummy id. You can add a template in text format in your PR and we can iterate over it. We store emails in sendgrid template, once we converge on content I'll create a template and share the id with you.

[2021-02-22 19:21] afif-fahim commented on #3208
Sorry for a beginner question, what is adding a test for some API?

[2021-02-23 21:29] devanshraj3000 commented on #2588
Though the scroll up button is visible in the page but it's width is quite less and a lot of space is getting wasted in left and the right side, so we can increase the width of scroll bar a little to make it user friendly.
Should I do this?

[2021-02-23 21:32] devanshraj3000 commented on #2373
Is the issue still open?

[2021-02-23 21:51] devanshraj3000 opened #3265 "Changing Font type and size of Tagline"
We can choose a different font for mentioning the tagline "**Evaluating state of the art in AI!**" with increasing the size of the font in Login/SignUp page. As the tagline must act like an enhancement factor, it's important to not apply standard font and size in it.

![Screenshot (375)](https://user-images.githubusercontent.com/67580203/108912836-2af31600-764f-11eb-92a9-aa15d47d76d8.png)

Should

[2021-02-24 05:40] devanshraj3000 commented on #3265
@RishabhJain2018 @Ram81 I would love to work on this if this seems useful.

[2021-02-24 23:59] #3200 closed

[2021-02-25 19:14] cgoxo commented on #3208
I was talking about this issue how to proceed!

[2021-02-26 05:06] AbhisekOmkar commented on #3265
I would like to work with this :)

[2021-02-26 06:30] AbhisekOmkar opened #3269 "Getting error while Build and run the Docker containers. (docker-compose up --build)"
![Screenshot (62)](https://user-images.githubusercontent.com/67184718/109263954-32bae200-782a-11eb-868d-5871aa3292d3.png)
_Thanks for taking the time to report a bug in the EvalAI project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/EvalAI/issues)._

If you'd like to re

[2021-02-26 12:14] Alabhya268 commented on #3209
@gautamjajoo , Are you working on this, If not  @Ram81  could you please assign this issue to me.

[2021-02-26 12:21] gautamjajoo commented on #3209
@Ram81 Actually my end semester exams are going on so cannot resolve the issues. After this Sunday will start working on them once again.

[2021-02-27 18:02] ShauryaAg commented on #3269
Are you sure you have started the docker service?

[2021-02-28 04:54] AbhisekOmkar commented on #3269
Yes I have started docker service

[2021-02-28 05:24] Alabhya268 commented on #3128
@Ram81 , Seems like nobody is working on this issue, Could you please assign it to me.

[2021-03-01 05:42] piyushsingariya opened #3272 "Error while building and run the Docker Container (docker-compose up --build)"
Ended up with this error while building Eval in my local ubuntu.
![2021-03-01_11-11](https://user-images.githubusercontent.com/50979887/109456458-e5837e00-7a7e-11eb-8ea9-0869329a99fa.png)

[2021-03-01 05:45] burnerlee commented on #3272
@piyushsingariya try  using the command `docker-compose build` instead.

[2021-03-01 06:17] piyushsingariya commented on #3272
@burnerlee I am ending up with the same error. :sweat_smile:

[2021-03-01 06:30] burnerlee commented on #3272
did you try `apt-get update`?

[2021-03-01 06:33] piyushsingariya commented on #3272
Yes I tried that but this didn't solve the concerned error

[2021-03-02 13:06] Alabhya268 commented on #2699
@Ram81  @RishabhJain2018, Even now this feature is not implemented. If this issue is still relevent I would like to work on this, Please assign it to me.

Thanks in advance.

[2021-03-02 15:13] #3269 closed

[2021-03-02 15:15] Ram81 commented on #3269
@AbhisekOmkar our docker setup is tested and verified on Linux and OSX. On windows there are multiple issues. It would be easier if you could set up EvalAI on Linux machine. If you face any issues after switching OS let us know we will be happy to help.

[2021-03-02 15:16] AbhisekOmkar commented on #3272
Delete the whole repo and clone it once again it might work

[2021-03-02 15:39] AbhisekOmkar commented on #3269
Yeah sure I have tested it on Linux its working fine thnx for your support

[2021-03-02 16:31] #3206 closed

[2021-03-02 17:48] gautamjajoo opened #3276 "Improvements in Auth Token Card"
- [ ]   Cancel/Download not working
- [ ] Remove the Auth Token Label
- [ ] Align copy to clipboard with the auth token
@Ram81 @RishabhJain2018

![Screenshot from 2021-03-02 23-12-55](https://user-images.githubusercontent.com/24366008/109691030-021dd400-7bad-11eb-98ab-a9440e6e706c.png)

[2021-03-02 17:59] gautamjajoo opened #3277 "Allow show and hide password"
Add support for showing and hiding password similar to login page in the update password card as well.

@Ram81 @RishabhJain2018

![Screenshot from 2021-03-02 23-26-46](https://user-images.githubusercontent.com/24366008/109692975-1e227500-7baf-11eb-8333-31cf2b7b5679.png)

[2021-03-02 18:07] gautamjajoo opened #3278 "Profile completed percentage changing on refreshing"
The profile completed percentage is changing sometimes 40% or 50% or 100% on refreshing the page.

@Ram81  @RishabhJain2018

![Screenshot from 2021-03-02 23-34-56](https://user-images.githubusercontent.com/24366008/109693860-26c77b00-7bb0-11eb-958b-108f317f731d.png)

[2021-03-02 18:09] gautamjajoo opened #3279 "Update Profile not working"
The users are not able to update the profile on the new frontend. Error 400 is popping up.

@Ram81 @RishabhJain2018

![Screenshot from 2021-03-02 23-39-00](https://user-images.githubusercontent.com/24366008/109694152-7b6af600-7bb0-11eb-9a83-316c2298bd1f.png)

[2021-03-02 20:52] gautamjajoo opened #3280 "Add Twitter section on the Homepage"
Add twitter section on homepage between `Partner Organization` and `Cite Our Work`.

@Ram81 @RishabhJain2018

[2021-03-02 20:56] RishabhJain2018 commented on #3280
@gautamjajoo Would you like to work on this?

[2021-03-02 20:56] gautamjajoo commented on #3280
@RishabhJain2018 Yes, I would work on it!

[2021-03-03 03:59] Alabhya268 commented on #3277
@gautamjajoo , I want to work on this.

[2021-03-03 04:08] Alabhya268 commented on #3279
@gautamjajoo , In frontendv2 updating profile is working fine with me. Could you please more elaborate on how it happened.

[2021-03-03 04:10] Alabhya268 commented on #3276
@gautamjajoo , I want to work on this : )

[2021-03-03 04:20] RishabhJain2018 commented on #3276
Sure @Alabhya268 you can pick it up.

[2021-03-03 04:32] piyushsingariya commented on #3272
@AbhisekOmkar Thanks! It actually worked...

[2021-03-03 06:22] gautamjajoo commented on #3279
@Alabhya268 I was updating the profile by adding name/links but the changes were not displayed and error 400 was showing up.

[2021-03-03 06:28] Alabhya268 commented on #3279
@gautamjajoo , It turned out trying to update ``` Affiliated to``` is causing this issue, Everything else is working fine.

[2021-03-03 06:33] Alabhya268 commented on #3279
I will try to fix this issue.

[2021-03-03 07:56] piyushsingariya commented on #3272
Encountered a new error. I killed the service running on the port just to be sure.
![2021-03-03_13-24](https://user-images.githubusercontent.com/50979887/109772349-e4d81c80-7c23-11eb-9f2e-3da1a813e42d.png)
Could you help me with this?

[2021-03-03 08:55] gautamjajoo commented on #3272
@piyushsingariya This will help
 https://evalai.readthedocs.io/en/latest/faq(developers).html#q-getting-the-following-error

[2021-03-03 09:02] Alabhya268 commented on #3279
@gautamjajoo @rishabhbhardwaj @Ram81

In accounts models.py affiliate is required field, we can simply fix this issue by allowing it to be blank but while running migrations we need secret key. Please tell me what should be done next.

[2021-03-03 09:17] AbhisekOmkar commented on #3272
To solve, execute the following commands:

npm config set registry=registry.npmjs.org
If the above does not work, try deleting them by following commands:

npm config delete proxy
npm config delete https-proxy

[2021-03-03 10:10] piyushsingariya commented on #3272
Thanks @AbhisekOmkar @gautamjajoo It worked finally. Thanks a lot.

[2021-03-03 10:10] #3272 closed

[2021-03-03 10:58] AbhisekOmkar commented on #3272
welc

[2021-03-04 14:04] juliuskittler opened #3284 "Hosting a private competition"
Thanks for the great initiative!

I am currently reading through the EvalAI documentation and I am missing an important aspect in the documentation: Is it possible to host a private competition on EvalAI, i.e. select the participants (e.g. by giving them a password, or an email invite or similar)? Many thanks in advance for getting back.

[2021-03-04 15:12] #3217 closed

[2021-03-04 17:18] #3210 closed

[2021-03-04 18:58] #3212 closed

[2021-03-05 01:29] #3205 closed

[2021-03-05 04:12] #3129 closed

[2021-03-05 04:37] #3128 closed

[2021-03-07 15:15] devanshraj3000 opened #3289 "Adding GUIs in the home page"
We can introduce some basic user-friendly GUIs for "Hosted AI Challenges", "Users", "Submissions" and "Organizations" in the home page, as it will enhance the first look of the website in front of users.
Currently the home page has a lot of empty space above the mentioned sections.
![Uploading Screenshot (24).png…]()

[2021-03-07 15:53] devanshraj3000 opened #3290 "Federated login using Google accounts"
We can integrate Google Sign-In option to get the required profile information of the user.
Should I work to add this feature in the website? @RishabhJain2018 @Ram81

[2021-03-08 12:21] Ram81 commented on #3279
@Alabhya268  there is no secret key needed for generating migrations. You can just update the model file and generate a migration file from that. Let me know if you have any doubts

[2021-03-08 12:31] Alabhya268 commented on #3279
@Ram81 , I am getting this error when generating migrations. Please have a look.

(venv) alabhya@alabhya-OMEN-by-HP-Laptop-15-dc0xxx:/media/alabhya/DATA4/PROJECTS/Open Source/EvalAI$ python manage.py makemigrations accounts
Traceback (most recent call last):
  File "manage.py", line 22, in <module>
    execute_from_command_line(sys.argv)
  File "/media/alabhya/DATA4/PROJECTS/Open Source/EvalAI/ven

[2021-03-08 12:39] Ram81 commented on #3279
@Alabhya268 are you running EvalAI using `docker-compose`? If yes, could you try exec'ing into the django docker container and run migrations again to see if you face this issue.

[2021-03-08 13:07] Ram81 commented on #3141
This is fixed after moving to travis.com

[2021-03-08 13:07] #3141 closed

[2021-03-08 13:07] Ram81 commented on #3151
This is fixed after moving to travis.com

[2021-03-08 13:07] #3151 closed

[2021-03-08 13:08] Ram81 commented on #3080
@tokotchd for dev worker to pick up new challenges restart is needed.

Closing this issue

[2021-03-08 13:08] #3080 closed

[2021-03-08 13:10] Ram81 commented on #3158
Fixed in #3225

@Devanshu24  the issue of dropdown overlaying on precision value is fixed in #3225.

[2021-03-08 13:10] #3158 closed

[2021-03-08 13:12] Ram81 commented on #3189
Closing the issue due to inactivity

[2021-03-08 13:12] #3189 closed

[2021-03-08 13:15] Ram81 commented on #3209
@Alabhya268 sure, you can work on this issue.

@gautamjajoo please pick up another issue once you are available.

[2021-03-08 13:16] Ram81 commented on #3211
Closing the issue as #3218 is merged

[2021-03-08 13:16] #3211 closed

[2021-03-08 13:16] Ram81 commented on #3213
@burnerlee any updates on this issue?

[2021-03-08 13:23] Ram81 commented on #3245
@ShauryaAg no, this is not the expected behavior. If you are interested you could pick this issue. Thanks for reporting it 🙂

[2021-03-08 13:24] Ram81 commented on #3278
@gautamjajoo can you share a gif of the incorrect behavior or steps to reproduce it?

[2021-03-08 13:25] ShauryaAg commented on #3245
@Ram81 Sure, I would like to work on this issue.

[2021-03-08 13:27] Ram81 commented on #3245
@ShauryaAg sure, go ahead. Also, it would be good if you look at the comments on this [PR](https://github.com/Cloud-CV/EvalAI/pull/3234)

[2021-03-08 17:42] gautamjajoo commented on #3278
@Ram81
![profile](https://user-images.githubusercontent.com/24366008/110359658-c333c680-8063-11eb-9689-cc9bacc6d0e9.gif)

[2021-03-09 11:49] burnerlee commented on #3213
@Ram81 sorry for the delay, completely slipped off my mind. Made a PR for the same. During resolving this, I found another error. I'll open it up in the issues section

[2021-03-09 11:55] burnerlee opened #3296 "Host can't see private submissions toggle not available when no public submissions are available on leaderboard"
When the host goes to the leaderboard, he is not able to see the private submissions at first. And if no public submissions are available, then it directly shows that no results are available. The toggle to include/exclude private submissions does not appear in this case. Therefore, if for a particular challenge all the submissions are private, then the host would see no submissions in the leaderb

[2021-03-09 11:57] burnerlee commented on #3296
![Screenshot from 2021-03-09 17-19-59](https://user-images.githubusercontent.com/55936223/110467038-8536b100-80fc-11eb-9f39-40e0abbaa8dc.png)

[2021-03-09 11:57] burnerlee commented on #3296
@Ram81

[2021-03-10 08:31] shashikant231 commented on #3257
HI @Ram81  Can I take this issue?

[2021-03-10 12:36] rawat-divyanshu commented on #3257
@Ram81 Can I please take up this issue ?

[2021-03-10 12:38] Ram81 commented on #3257
@shashikant231 @rawat-divyanshu this issue is already fixed in #3283. Please pick up another issue. We will also open a list of new issues in the next few days.

[2021-03-10 12:40] burnerlee commented on #3296
Yeah sure, should the labels of private and baseline submission appear here? Or only the Toggle option?@Ram81

[2021-03-10 12:42] Ram81 opened #3297 "Add metadata for challenges when a challenge link is shared"
### Description

Currently, when a challenge link from EvalAI is shared users see a generic view of EvalAI homepage. We want the details specific to a challenge to be shown when a link is shared. Here's how it looks currently

![Screen Shot 2021-03-10 at 6 10 48 PM](https://user-images.githubusercontent.com/16323427/110630939-0741db00-81cc-11eb-9f04-55ff5ecc4bc9.png)

Expected behavior:

The share

[2021-03-10 12:58] wsumel opened #3298 "I can't login rencently"
![error](https://user-images.githubusercontent.com/32010097/110633136-5d6e4880-81e3-11eb-9e0c-85a240b65897.png)
I want to evalue the model on trackingnet and before I can login and submit the result.

[2021-03-10 14:49] Ram81 commented on #3297
@gautamjajoo sure, go ahead

[2021-03-10 15:58] gautamjajoo commented on #3297
@Ram81 How can I check if my changes are working or not?

[2021-03-11 03:33] RishabhJain2018 commented on #3297
Hey @gautamjajoo , Thanks for taking this up.

Here is an extension which can help you to debug and develop this feature -- https://chrome.google.com/webstore/detail/ng-inspector-for-angularj/aadgmnobpdmgmigaicncghmmoeflnamj

Use the image from the challenge model, which is the logo for a challenge and the description can be the short description for each challenge.

Also, here are few useful link

[2021-03-11 03:55] #3208 closed

[2021-03-11 05:41] Ram81 commented on #3298
@wsumel are you using some proxy server to connect to EvalAI?

[2021-03-11 05:46] Ram81 opened #3301 "Show fargate worker status on manage tab"
### Description

Using the manage tab challenge hosts can start/stop/restart the challenge workers but they don't get any feedback from EvalAI when worker started/stopped/restarted successfully other than notification when action was executed. As fargate worker takes a few minutes to complete start/stop/restart hosts don't know the status of the challenge worker. We want to show status of fargate

[2021-03-11 06:24] gautamjajoo commented on #3297
@RishabhJain2018 Thank You for the information, will open a PR asap.

[2021-03-11 06:44] burnerlee commented on #3301
@Ram81 could I please work on the issue?

[2021-03-11 06:45] Ram81 commented on #3301
@burnerlee  sure, go ahead

[2021-03-11 06:45] rawat-divyanshu commented on #3257
@Ram81 Thanks for the update.

[2021-03-11 06:59] burnerlee commented on #3301
@Ram81 how do I interact with the containers in the development environment for testing?

[2021-03-11 11:32] Alabhya268 opened #3302 "[Frontendv2]Add testimonials, statistics on the home page"
Currently there is no testimonial stats on homepage.

@Ram81, @RishabhJain2018

Frontend module for testimonials already exists but It only shows hard-coded data.
I could not find data to fetch with it.
Is there an api or model exist to fetch the data or do we need to make one ?

I want to work on this.

[2021-03-11 14:24] lovesh12 commented on #3298
@Ram81 This is happening when you host it on a different machine/VM and access it from another machine, I checked the dev- console, it is actually sending the requests to localhost:8888, even when NOT using localhost.
So, the login and signup function doesn't work, but it works quite well when you access it from the very same machine/VM where you host it.

[2021-03-11 15:24] burnerlee commented on #3301
also @Ram81, I think this is the function I would need to fetch the details. https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/eks.html#EKS.Client.describe_fargate_profile. Could you please confirm it once 😅
![Screenshot from 2021-03-11 20-54-01](https://user-images.githubusercontent.com/55936223/110810579-efda1f00-82ab-11eb-8a84-b21dc2927d71.png)

[2021-03-11 15:25] burnerlee commented on #3301
I am planning to call it repeatedly after an interval of poll-time similar to what is done to fetch logs

[2021-03-11 15:53] Ram81 commented on #3301
@burnerlee you won't be able to test fargate setup locally. You can look at boto3 APIs and code it up. Once you have a PR ready I can help you with testing.

@burnerlee you have to look for APIs in ECS [here](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/ecs.html#ECS.Client.describe_tasks). For prediction upload challenges we don't run workers on EKS. You have to find

[2021-03-11 17:51] burnerlee commented on #3301
thank you so much @Ram81... also, this status is to be shown on the frontend_v1 only? Cause you mentioned the manage tab. In frontend_v2, I found It in the settings tab for the challenge

[2021-03-11 18:44] burnerlee commented on #3301
@Ram81 @Alabhya268 is there some issue on the frontend_v1? i am not able to run localhost:8888 in my browser. I've tried building the project again as well

[2021-03-11 18:49] Alabhya268 commented on #3301
@burnerlee , Seems to be working fine in my pc.

[2021-03-11 18:50] Alabhya268 commented on #3301
Could you please show error its showing ?

[2021-03-11 18:58] burnerlee commented on #3301
oh, i just figured out the problem... thank you for your @Alabhya268 , I had a formatting error in the code while I was editing it

[2021-03-12 09:49] HassanRahim26 commented on #2560
Hey @gautamjajoo, I want to work on this issue. Is this issue still open?

[2021-03-12 13:48] lovesh12 commented on #3209
@Alabhya268 are you working on this? If not, can I work on it @Ram81 ?

[2021-03-12 13:50] Alabhya268 commented on #3209
@lovesh12 , I have open a PR for this issue, it has been already approved. Feel free to take up any other issue.

[2021-03-12 15:04] lovesh12 commented on #3209
@Alabhya268 sorry, mybad

[2021-03-12 15:08] RishabhJain2018 commented on #3298
@wsumel Could you please check/share the terminal logs of the `Django` container?

[2021-03-12 23:41] #3209 closed

[2021-03-13 08:39] savish28 opened #3309 "Feature: Public Profile User + Follow Users + LeaderBoard Custom Sorting + Editorial on Past Challenges"
Hey developers,

In the current scenario, the public profile of the user or the team does not exist. The idea is inspired by the public profile on codeforces.com (https://codeforces.com/profile/tourist) as an example.

**Public Profile User**
The public profile could contain the basic information with the past contest history, some of the best ranks in the past competition. The overall activity by

[2021-03-13 14:56] palrohitg commented on #3297
@RishabhJain2018  @Ram81
As I am able to understand we want to show the home page of the challenge. But in case participate want to submit or take participate it must be login in right.

[2021-03-14 07:10] Ram81 commented on #3297
@palrohitg we just want to show challenge specific details when a challenge link is shared in the link preview. Users will be redirected to EvalAI on click and they can login to participate or just visit the challenge page.

[2021-03-14 16:42] palrohitg commented on #3297
@Ram81  I got your concern and working for the same. While working on the issue I had taken reference for some blogs.
I figure out that, we can show the whole part of the challenge like description, problem statement but when the user wants to take part or submit an evaluation then we redirect to the login page if the user is not authenticated.
It almost a very common feature on all competitive we

[2021-03-14 17:19] palrohitg commented on #3297
@Ram81  @RishabhJain2018
I found one approach, needs a little guidance(Better to discuss before implementing).

**Problem:**
1. If the user is not authenicated the challenge page will be displayed with submit option.
2. If the user is already authenticated then it can perform any operations.

**Current Implementation Approach:**
1. If I authenticate the user first who trying to fetch the challenge

[2021-03-14 17:52] gautamjajoo commented on #3297
@palrohitg Currently, users can view the challenge without authentication. For participating in a challenge they have to login first.

Also, this issue is related to the change in meta tags for different pages.

[2021-03-14 18:03] palrohitg commented on #3297
@gautamjajoo okay, means show the details(meta-data) specific to a particular challenge. Sorry, I am misinterpreting it.

[2021-03-14 18:31] Ram81 opened #3312 "[Backend]Add boolean check in github challenge update API to avoid overwriting annotations uploaded using cli"
### Description

Currently, when challenge hosts update the challenge using github based challenge workflow the test annotations get overwrite after each update. We also allow hosts to update annotations using EvalAI cli. When a challenge host updates the annotation using CLI we should not overwrite the annotations passed from github based challenge update API.

### Deliverable

- [ ] Add `annotat

[2021-03-14 18:31] Ram81 commented on #3297
@gautamjajoo Thanks for helping @palrohitg with the doubts

Also, @palrohitg this issue is already assigned to @gautamjajoo who is working on this issue. If you are interested you could look for another issue.

[2021-03-14 18:35] Ram81 opened #3313 "[Backend] Add start evaluation worker function call in challenge creation using github API"
### Description

When a challenge is created using github based challenge creation pipeline, follow the steps mentioned [here](https://github.com/Cloud-CV/EvalAI-starters#create-challenge-using-github) to use the set up, we don't automatically start evaluation workers for the challenge. We should make a `start_worker` celery task call when a new challenge is created using github based set up. [Her

[2021-03-14 18:42] afif-fahim commented on #3313
@Ram81, Can I work on this issue?

[2021-03-14 18:45] RishabhJain2018 commented on #3254
Hi @Alabhya268,
Thank you for the effort but it is a design choice. We actually don't want to make the challenge cards scale dynamically. We would like to keep it centered only.

Please feel free to pick up another issue. Also, please be on the lookout as @Ram81 will open more issues in the next few days.

[2021-03-14 18:45] #3254 closed

[2021-03-14 18:47] #3213 closed

[2021-03-14 18:48] RishabhJain2018 commented on #3313
Hey @afif-fahim, Sure, you can pick this issue.

[2021-03-14 21:19] burnerlee commented on #3312
@Ram81 can I please work on this issue?

[2021-03-15 02:11] wsumel commented on #3298
Thank you so much, I can do it recently

[2021-03-15 03:11] GrimmeryGonsa commented on #3312
@Ram81 is this issue still free for picking?

[2021-03-15 04:25] RishabhJain2018 opened #3315 "Add execution time of submissions on the leaderboard"
**Issue:**
We want to display the execution time of the submissions for a specific phase split leaderboard.

**Tasks:**
- [ ] Add a boolean field `show_execution_time` with `default=False` in the ChallengePhaseSplit model.
- [ ] Add the field in the `ChallengePhaseSplitSerializer`.
- [ ] While filtering the query set in the `calculate_distinct_sorted_leaderboard_data` function, use the above field

[2021-03-15 04:26] RishabhJain2018 commented on #3315
@burnerlee Would you like to work on this?

[2021-03-15 05:18] palrohitg commented on #3297
@Ram81 thanks sure, I am looking forward.

[2021-03-15 07:23] burnerlee commented on #3315
@RishabhJain2018 yeah sure

[2021-03-15 07:23] burnerlee commented on #3315
I'll start right away

[2021-03-15 08:14] burnerlee commented on #3315
@RishabhJain2018 @Ram81 could you please tell me how to run makemigrations using docker-compose?

[2021-03-15 08:25] burnerlee commented on #3315
figured it out

[2021-03-15 09:40] burnerlee commented on #3315
@RishabhJain2018 @Ram81 made a PR for the above changes. Do we also need to allow user to sort the leaderboard table according to the execution time. Currently not implemented this sorting feature, as was not mentioned in the issue

[2021-03-15 11:06] June-Han commented on #3289
Hello @devanshraj3000  may I attempt this issue?

[2021-03-15 14:18] RishabhJain2018 commented on #3315
@burnerlee Yes, please add that as well.

[2021-03-15 14:49] gautamjajoo commented on #3297
@Ram81 I have added `ngMeta` as a dependency in `bower.json`, but it is showing the following error:
`Required path doesn't exist: /code/undefined ngMeta`.
And there are no logs while I build. How can I fix this?

[2021-03-15 17:08] Alabhya268 commented on #3315
@burnerlee could you also tell me how to do it in Linux?

[2021-03-15 19:08] burnerlee commented on #3315
Hey @Alabhya268 sure, actually i executed the command by entering into the docker container using exec... Start evalai using docker-compose up. In another terminal, run `docker ps` to see all containers. Copy the id of the django docker container. then use the command `docker exec -i -t <container-id>` and would be inside the container. Then simply run `python manage.py makemigrations`. Migrations

[2021-03-15 19:09] burnerlee commented on #3315
https://stackoverflow.com/questions/33992867/how-do-you-perform-django-database-migrations-when-using-docker-compose see this for reference

[2021-03-15 22:00] #3315 closed

[2021-03-16 03:39] RishabhJain2018 opened #3319 "Make the execution time human readable on UI."
**Issue**:
We now show the `Execution time` on the leaderboard but it is in seconds. We would like to make it more human-readable on UI like for `3600` seconds, it should display 1 hour.
For e.g. in the below screenshot, `134983.881963 seconds` isn't readable.

![image](https://user-images.githubusercontent.com/12206047/111252407-701fbd80-85e7-11eb-9476-03d3e5193019.png)

**Tasks:**
- [ ] Convert

[2021-03-16 03:41] RishabhJain2018 commented on #3319
@Alabhya268 Would you like to work on this?

[2021-03-16 03:42] Alabhya268 commented on #3319
Yes @RishabhJain2018  I want to work on this.

[2021-03-16 03:48] RishabhJain2018 commented on #3319
@Alabhya268 There is one more issue, the sorting on the UI is off. Can you please check that as well.

[2021-03-16 04:03] Alabhya268 commented on #3319
@RishabhJain2018 , I will look into it.

[2021-03-16 07:18] burnerlee commented on #3312
@Ram81 ping, may I start working on the issue if required

[2021-03-16 07:20] burnerlee commented on #3319
@RishabhJain2018 isn't the sorting with execution time not working? I tested it in my PR actually 😅

[2021-03-16 08:21] #3243 closed

[2021-03-16 08:28] xavierfigueroav commented on #3312
@Ram81 Can I work on this issue?

[2021-03-16 10:30] Alabhya268 commented on #3319
@RishabhJain2018 , execution can be converted in day, hour and sec but what should I about time after decimal ? How should it be represented ?

[2021-03-16 11:51] Ram81 commented on #3297
@gautamjajoo did you try deleting the nodejs docker container and building again?

[2021-03-16 14:33] RishabhJain2018 commented on #3319
Hey @burnerlee, No it isn't working correctly. Check here -- https://eval.ai/web/challenges/challenge-page/580/leaderboard/1631

You can drop the time after decimals.

[2021-03-16 14:33] RishabhJain2018 commented on #3319
Hey @burnerlee, No it isn't working correctly. Check here -- https://eval.ai/web/challenges/challenge-page/580/leaderboard/1631

You can drop the time after decimals.

[2021-03-16 16:34] burnerlee commented on #3319
oh sorry, i checked it with 2 values and it seemed to work correctly to me that time 😅

[2021-03-17 17:15] ankitpal1029 commented on #2618
I created a new user and still don't get any cookie consent message , @RishabhJain2018  can i take up this issue

[2021-03-18 05:16] savish28 commented on #3313
Hey, @afif-fahim Are you still working on the issue?

[2021-03-18 13:47] ChetanKhanna commented on #3069
Hey! There is a PR for this issue but it isn't merged yet? Is any help required with that?

[2021-03-20 18:30] ankitpal1029 commented on #3297
Is anyone working on this issue?

[2021-03-21 18:54] Ram81 opened #3331 "[Frontend] Fix leaderboard column css inconsistencies"
### Description

Currently, when the leaderboard has > 10 metrics the columns look too compact and metrics are unreadable. Here's an example of how the leaderboard looks

![Screen Shot 2021-03-22 at 12 18 49 AM](https://user-images.githubusercontent.com/16323427/111917191-a73d1580-8aa4-11eb-8533-93e443e9c0aa.png)

 Expected behavior: Columns should have bigger width so its clear to read the metric

[2021-03-21 18:55] Ram81 commented on #3331
To reproduce this leaderboard use the following leaderboard schema in the starters challenge config

[code]

and the following evaluation script to test the results.

[Archive.zip](https://github.com/Cloud-CV/EvalAI/files/6178106/Archive.zip)

[2021-03-21 18:55] Ram81 commented on #3331
@Alabhya268 would you be interested in working on this issue?

[2021-03-21 19:12] Alabhya268 commented on #3331
Yes @Ram81 I want to work on this issue.

[2021-03-22 15:38] Ram81 commented on #3331
@Alabhya268 this looks pretty good 🙂. Thanks for the quick fix. Let me know once you open a PR I'll review it.

[2021-03-24 06:17] Ram81 opened #3335 "[FrontendV2] Show submission details in 3 columns on All submissions page"
### Description

Current UI:
![Screen Shot 2021-03-24 at 11 42 45 AM](https://user-images.githubusercontent.com/16323427/112263963-2180bc00-8c96-11eb-88d6-43b5d09fc50f.png)

When a user selects the submission to see the submission details on All submissions page we should the content in 2 columns. We should show the submission details in 3 columns. Here's how the fields will be divided in columns:

[2021-03-24 06:20] Ram81 opened #3336 "[Frontend V2] Remove filter by team name from My submissions tab"
### Description

Currently, we have a filter to search results by team name on `My Submissions` tab. As one user can be a part of only 1 team in a challenge we don't need a filter results by team name option on `My submissions` tab. We should remove the filter.

[2021-03-24 06:23] Ram81 opened #3337 "[Frontend V2] Show execution time and submitted at for each entry on My submissions page"
### Description

Currently, we show `Execution time` and `Submitted at` for each submission on the `My submission` tab once use clicks on the submission entry.  Here's how it looks currently

![Screen Shot 2021-03-24 at 11 52 40 AM](https://user-images.githubusercontent.com/16323427/112264854-7cff7980-8c97-11eb-87da-f68fb56936b6.png)

For each entry in the `My submissions` table we should move `Ex

[2021-03-24 06:27] Ram81 opened #3338 "[Frontend V2] Set font-weight 300 and reduce width of row separator on My submissions and All submissions tab"
### Description

Font-weight is inconsistent on the `My submissions` and `All submissions` page. We should set font-weight: 300 for both tabs and reduce the width of row separator. Refer to frontend v1 css for the style.

[2021-03-24 06:29] savish28 commented on #3337
@Ram81 Could I please work on this?

[2021-03-24 06:31] Ram81 opened #3339 "[Frontend V2] Fix bug in filter by team name in All submission page"
### Description

When a user goes to the `All submissions` page and tries to use the filter by team name feature the results are inconsistent. Filter shows the results for few seconds then the results are overridden. As part of this task, we have to find the root cause of the inconsistent results and make the required changes

[2021-03-24 06:33] Ram81 opened #3340 "[Frontend V2] Serial number not visible when moving to next page on All submissions tab"
### Description

When a user moves to second or third page on the `All submissions` tab the serial number for the submissions is not visible.
Expected behavior, serial number should be updated and visible for all results in the page.

[2021-03-24 06:36] Ram81 opened #3341 "[Frontend V2] Show message when downloading > 5k results from All submissions page"
### Description

When a user tries to download results from the `All submissions` tab if there are > 5k results for the challenge phase the download API breaks because of the large packet size. We should show a message to the user that should say the `Results are greater than 5k you should use the following API to download results` where we redirect user to the API documentation for `get_all_submi

[2021-03-24 06:38] Ram81 opened #3342 "[Frontend V2] Reduce padding below selected phase name and dropdown"
### Description

Here's how the dropdown for the selected phase looks on the `Leaderboard` tab.

![Screen Shot 2021-03-24 at 12 06 21 PM](https://user-images.githubusercontent.com/16323427/112266128-9bff0b00-8c99-11eb-8bd1-a1177d6f6eca.png)

After a phase is selected the padding-bottom should be less for the selected option in the dropdown.

[2021-03-24 06:40] Ram81 opened #3343 "[FrontendV2] The P tag should not appear for the results on private leaderboard"
### Description

![Screen Shot 2021-03-24 at 12 09 21 PM](https://user-images.githubusercontent.com/16323427/112266335-d5d01180-8c99-11eb-8e8c-cbbde4e23423.png)

For submissions made to the private phase we should not show the `P` tag on the private phase leaderboard

[2021-03-24 06:50] Alabhya268 commented on #3336
@Ram81, I want to work on this.

[2021-03-24 06:54] lg920810 commented on #3080
@tokotchd Hi, I have the same problem as you. And after restart worker container, it is work. But do I need to restart the worker container every time after creating a new competition? Have you solve it?

[2021-03-24 06:54] Alabhya268 commented on #3339
@Ram81, This is also the issue with frontendv1 leaderboard, Whenever we refresh or go to page results load twice and then overrides itself.

[2021-03-24 06:55] Ram81 commented on #3336
@Alabhya268 sure, go ahead

[2021-03-24 06:55] Ram81 commented on #3339
@Alabhya268 this issue happens even when you don't refresh the page in frontend v2

[2021-03-24 06:56] June-Han commented on #3341
@Ram81 Can I work on this?

[2021-03-24 07:00] Alabhya268 commented on #3342
@Ram81, Basically we need to reduce padding enough so dropdown icon and selected phase look even right ?

i want to work on this.

[2021-03-24 07:00] gautamjajoo commented on #3338
Can I work on it?

[2021-03-24 07:01] Ram81 opened #3344 "[Frontend V2] Modifications for Privacy policy page"
### Description

![Screen Shot 2021-03-24 at 12 28 41 PM](https://user-images.githubusercontent.com/16323427/112268208-9fe05c80-8c9c-11eb-93fd-8944b7da1ded.png)

Following are the modifications for Privacy policy page:

- [ ] Center the page content for large screens
- [ ] Start the sidebar from the top of the page, currently the sidebar is centered on the page it should start from the top
- [ ] R

[2021-03-24 07:02] June-Han commented on #3340
@Ram81 Can I try this?

[2021-03-24 07:04] Ram81 opened #3345 "[Frontend V2] Fix the media assets endpoint"
### Description

We recently moved to `https://evalai.s3.amazonaws.com/` endpoint for our media assets. Frontend v2 is still using `https://staging-evalai.s3.amazonaws.com/` endpoint. We should switch to new enpdoint in frontend v2.

[2021-03-24 07:07] Ram81 opened #3346 "[Frontend V2] Center the content for large screens"
### Description

We follow the design of centering the page content for larger screens. The `Dashboard` and `Challenge` page don't follow the content center style in frontend v2. Here's how frontend v2 looks on larger screen

![Screen Shot 2021-03-24 at 12 34 24 PM](https://user-images.githubusercontent.com/16323427/112268882-a6bb9f00-8c9d-11eb-9dc1-0358e750457e.png)

Expected:

![Screen Shot 2021

[2021-03-24 07:09] Ram81 opened #3347 "[Frontend V2] After login redirect user to All challenge page"
### Description

Currently, when a user logs in on the frontend v2 we redirect user to the `Hosted challenges` page. We should redirect user to the `All challenges` page after login

[2021-03-24 07:13] Ram81 opened #3348 "[Frontend V2] Add option to submit using evalai cli"
### Description

In frontend v1 we show the option to make a submission using EvalAI-cli. We should add the same feature in frontend v2. Here's how the option looks in frontend v1.

![Screen Shot 2021-03-24 at 12 42 02 PM](https://user-images.githubusercontent.com/16323427/112269563-893b0500-8c9e-11eb-8838-caa4049dbb5b.png)

[2021-03-24 07:15] Ram81 opened #3349 "[Frontend V2] Fix alignment of visibility option on submit page"
### Description

The `Select submission visibility` option is misaligned on the `Submit` tab of the challenge page. It should be aligned with submission metadata fields. Here's how it looks currently.
![Screen Shot 2021-03-24 at 12 43 47 PM](https://user-images.githubusercontent.com/16323427/112269743-cc957380-8c9e-11eb-8c0f-82445d821236.png)

[2021-03-24 07:17] Ram81 opened #3350 "[Frontend V2] Stop leaderboard polling when user switches to another tab or page"
### Description

Currently, after a user visits the leaderboard page in frontend v2 the polling for updating leaderboard is not stopped. Because of this issue user experience is bad and it slows down UI access until you refresh the page.

[2021-03-24 07:20] Ram81 opened #3351 "[Frontend V2] Fix data loader on the leaderboard page"
### Description

Currently, the Leaderboard data population is quite slow. While the leaderboard API is being called the leaderboard shows `No results to show` message. We should ideally show a loader in this case. The data loading API calls are quite slow in frontend v2. We also want to fix the issue of slow loading of the leaderboard data.

[2021-03-24 07:22] Ram81 opened #3352 "[Frontend V2] Bug in leaderboard with no data"
### Description

When a phase split leaderboard has no data we are showing `Page is outdated` message after few seconds and when a user tries to update the page using the option there is no data updated on the leaderboard. Part of this task is to debug the issue, find the root cause and fix the bug.

[2021-03-24 07:22] Ram81 commented on #3341
@June-Han  sure, go ahead

[2021-03-24 07:23] Ram81 commented on #3338
@gautamjajoo  sure go ahead.

[2021-03-24 07:23] Ram81 commented on #3337
@savish28 sure, go ahead

[2021-03-24 07:25] Ram81 commented on #3342
@Alabhya268 you already picked #3336, it would be good if you work on 1 issue at a time and then move on to the next issue once the first one is done 🙂

[2021-03-24 07:36] gautamjajoo commented on #3338
There is no zoom on hovering a row instead the text gets bold. Should that be removed?

[2021-03-24 07:37] Ram81 commented on #3338
Yes, the highlighting of the text should be removed. I'll update the description

[2021-03-24 09:56] savish28 commented on #3335
@Ram81 Could I please work on this?

[2021-03-24 15:10] ShauryaAg commented on #3352
@Ram81 May I take this one?

[2021-03-24 15:13] Ram81 commented on #3352
@ShauryaAg suer, go ahead

[2021-03-24 15:24] gautamjajoo commented on #3338
@Ram81 Would this look better for the row separator? Or we should have a line above the expanded row as well?

![Screenshot from 2021-03-24 20-51-27](https://user-images.githubusercontent.com/24366008/112336230-e9539a80-8ce2-11eb-9018-21adc6045f8f.png)
![Screenshot from 2021-03-24 20-51-42](https://user-images.githubusercontent.com/24366008/112336240-ea84c780-8ce2-11eb-8596-cb77672e5d4f.png)

[2021-03-24 16:02] ShauryaAg commented on #3352
@Ram81 I am unable to recreate this issue on my local machine. Can you please guide me a little?

The leaderboard with no submission shows `No results to show!`
![image](https://user-images.githubusercontent.com/31778302/112342627-62a1bc00-8ce8-11eb-8a57-fc23bf967b51.png)

[2021-03-24 23:45] xavierfigueroav commented on #3347
Can I work on this?

[2021-03-24 23:47] xavierfigueroav commented on #3343
Can I work on this? @Ram81

[2021-03-25 00:26] xavierfigueroav commented on #3347
I am not being able to reproduce this. I have tried to log in as participant, host and admin, and I have been always redirected to `All challenges`.

[2021-03-25 05:26] Ram81 commented on #3343
@xavierfigueroav sure, go ahead

[2021-03-25 05:27] Ram81 commented on #3352
@ShauryaAg could you try creating a new challenge and try making >10 submissions to two phases and 1 phase without any submissons and see if you are able to reproduce the issue in any of these 3 leaderboards

[2021-03-25 05:28] Ram81 commented on #3340
@June-Han I saw that you have picked up #3341 already. Once you complete that issue you can come back to this one

[2021-03-25 08:32] burnerlee commented on #3351
@Ram81 do we plan to use some library to render to Loader for this?

[2021-03-25 12:35] ShauryaAg commented on #3352
@Ram81 Even after following the steps you mentioned above I am unable to reproduce the issue.

[2021-03-25 12:48] Ram81 commented on #3351
@burnerlee we can add any data loader. The main thing we need to debug for this issue is why is the data loading in the leaderboard table slow and fix that issue. If you compare frontend v1 leaderboard loading with frontend v2 loading you will see that frontend v2 is quite slow.

[2021-03-25 12:51] Ram81 commented on #3352
@ShauryaAg this issue and #3350 are related. We tested this with challenges that have > 5k submissions. You can try changing seed script to populate ~5k entries in the leaderboard and use that for reproducing this issue.

Note: This issue doesn't happen when you first visit the page. While we were testing we visited the page multiple times and saw that after few visits the data loading into the le

[2021-03-25 12:55] ShauryaAg opened #3358 "[Backend] Returns with code 500 upon submission of wrong URL"
Backend returns with code **500 (Internal server error** when a file with wrong extension is submitted for a challenge. It should return with **400 (Bad request)**

Example: Submitting a `.py` file URL to a challenge that doesn't accept `.py` files

If you'd like to report a bug, please include the following information:
- Expected behaviour
It should return with a `400 Bad Request`

- Observed be

[2021-03-25 15:31] ShauryaAg commented on #3352
@Ram81 Can you please mention the browser(s)/Operating System(s) that the issue was tested on?

As you have mentioned that the issue is present only after a number a visits to the page, it may be due to some caching issue (which could be browser specific).

[2021-03-26 00:22] niharsalunke commented on #3344
Hi @Ram81 may I work on this issue?

[2021-03-26 00:29] niharsalunke commented on #3346
Hi @Ram81, I would like to work on this. Could you please confirm? Thanks a Lot.

[2021-03-27 21:18] burnerlee commented on #3348
@Ram81 made a small PR to add this feature. Please review

[2021-03-27 21:19] burnerlee commented on #3350
@Ram81 can I please take up this issue and make a PR by today?

[2021-03-28 11:25] Alabhya268 commented on #3347
:+1:  @Ram81, as @xavierfigueroav said, As soon I log in I have been redirected to the `All challenges` page.

[2021-03-28 12:56] Ram81 commented on #3358
@ShauryaAg would you like to work on this issue?

[2021-03-28 13:41] ShauryaAg commented on #3358
Yeah, sure. @Ram81

[2021-03-28 13:42] ShauryaAg commented on #3352
@Ram81 Were you able to reproduce it on your machine? If yes, please let me know how.

[2021-03-28 14:38] gautamjajoo commented on #3345
Can I work on it? @Ram81

[2021-03-28 14:38] Ram81 commented on #3345
@gautamjajoo sure, go ahead

[2021-03-28 16:15] niharsalunke commented on #3345
Hi @Ram81, I am sorry to bring this up now. It seems the media URL on the staging website is wrongly set. This cannot be fixed with our local machines.

To be specific, the "AWS_STORAGE_BUCKET_NAME" environment variable present on the **STAGING_MACHINE/EvalAI/docker/prod/docker_staging.env** needs to be changed from **"staging-evalai"** to **"evalai"**. Since these environment variables are curren

[2021-03-28 18:23] niharsalunke opened #3374 "The padding for Challenge Cards is off on Hosted Challenges page"
- **The Expected behaviour**
![image](https://user-images.githubusercontent.com/65081055/112762988-32c42280-9020-11eb-86c3-53cb8b77f830.png)

- **The Observed behaviour**
![image](https://user-images.githubusercontent.com/65081055/112763000-4079a800-9020-11eb-8567-95207945d9be.png)

- **Steps To Reproduce The Problem**
1. Login as Host and then browse to Hosted Challenges.
2. Now try adjusting you

[2021-03-28 18:23] niharsalunke commented on #3374
Hi @Ram81 , may I work on this issue?

[2021-03-28 18:59] niharsalunke commented on #3374
I noticed that this issue is already addressed in #3244 and there @RishabhJain2018 pointed out that this was a design choice. However, the "approved" and "published" buttons are being cut-off on the standard 1366 x 768 monitors which are fairly common.

[2021-03-28 19:01] #3374 closed

[2021-03-28 20:02] gautamjajoo commented on #3340
Can I work on it? @Ram81

[2021-03-29 06:51] ankitpal1029 commented on #3347
I can also confirm that right after login with all default users and a new user i created login leads to all challenges page.

[2021-03-29 06:51] ankitpal1029 commented on #3347
I can also confirm that right after login with all default users and a new user i created login leads to all challenges page.

[2021-03-29 07:01] ankitpal1029 opened #3376 "[FrontendV2] Incorrect success message on page access"
![image](https://user-images.githubusercontent.com/49815751/112798200-355b6200-908a-11eb-97a2-fbd7fbf7aa28.png)

i have set up the docker image but every time i visit a new route i get a success message with an X right next to it .This happens when logged in as a new user who's not authenticated their email id.

OS: Linux (PopOs 20.10)
Browser: Brave browser

[2021-03-29 07:02] ankitpal1029 commented on #3346
@Ram81  can i make a pr on this?

[2021-03-29 07:10] niharsalunke commented on #3376
@Ram81 may I work on this?

[2021-03-29 07:13] ankitpal1029 commented on #3346
@Ram81 can i make a pr for this?

[2021-03-29 07:14] niharsalunke commented on #3376
@ankitpal1029 are you working on this already?

[2021-03-29 07:15] Ram81 commented on #3346
@niharsalunke sure, go ahead

[2021-03-29 07:15] Ram81 commented on #3346
@ankitpal1029 you can look for another issue as @niharsalunke asked for this issue first

[2021-03-29 07:15] Ram81 commented on #3376
@niharsalunke please complete #3346 before starting on another issue

[2021-03-29 07:16] Ram81 commented on #3352
@ShauryaAg I haven't had a chance to try this. I'll let you know once I try it meanwhile you can pick some other issue to work on.

[2021-03-29 07:16] niharsalunke commented on #3376
Sure @Ram81. Working on it.

[2021-03-29 07:16] ankitpal1029 commented on #3346
@Ram81 sure

[2021-03-29 07:18] Ram81 commented on #3350
@burnerlee sure, go ahead

[2021-03-29 07:25] ankitpal1029 commented on #3376
@Ram81 it's to be noted that this error occurs only with a newly created user and not the default 3 users already provided

[2021-03-29 07:26] ankitpal1029 commented on #3376
@niharsalunke yes i'm working on it currently.

[2021-03-29 07:49] ankitpal1029 commented on #3376
@Ram81  i think this is an issue of email verification, for context frontend version 1 doesn't allow the user to access the challenges till they have verified their email and instead shows them this page,
![image](https://user-images.githubusercontent.com/49815751/112803767-46f43800-9091-11eb-9551-83a1cd67cf2c.png)
note this is after selecting a challenge and clicking on it.
Maybe we should implem

[2021-03-29 10:07] gautamjajoo opened #3377 "Show successful notification only when the user is registered and resets the password"
### Observed Behaviour
Currently, if a user has forgotten his password he can enter the email address and a password reset link will be shared.
Even if the email address is not registered a successful notification is popped up.

### Expected Behaviour
Password reset should only be sent when the user is registered. Otherwise, display an error.

@Ram81 @RishabhJain2018

[2021-03-29 10:10] gautamjajoo opened #3378 "Update details on Contact Us page when the user is logged in"
If a user is logged in we can automatically update `Name` and `Email Address` on the Contact Us page.

@Ram81 @RishabhJain2018

[2021-03-29 15:06] ankitpal1029 commented on #3342
@Ram81 what submission do i make so that it makes it to the leaderboard in order for me to replicate the padding issue.

[2021-03-29 15:41] ankitpal1029 commented on #3376
@Ram81 i think i have figured out the cause of the issue ,
on recieving a 403 error the global.service is trying to access err.error['error'] whereas
![image](https://user-images.githubusercontent.com/49815751/112862127-12a16b80-90d3-11eb-9c9c-287205b343f9.png)
 it recieves an error with field detail:
![image](https://user-images.githubusercontent.com/49815751/112862029-fd2c4180-90d2-11eb-8fd7-07c

[2021-03-30 05:51] ankitpal1029 commented on #3376
@Ram81 can you take a look at my pr

[2021-03-30 06:58] ankitpal1029 opened #3380 "[Frontend V2] Logout Button isn't visible in Mobile view"
There should be a logout in the mobile view which isn't there currently:
![image](https://user-images.githubusercontent.com/49815751/112946607-5c319b00-9153-11eb-917a-18ac769b9144.png)

The logout button could be kept on top or maybe in the burger menu as well
![image](https://user-images.githubusercontent.com/49815751/112946636-6784c680-9153-11eb-8eb6-b5ed883d82fc.png)

[2021-03-30 12:54] #3336 closed

[2021-03-30 13:16] Alabhya268 commented on #3342
@Ram81

@Ram81 since #3336 has already been merged can I work on this .

[2021-03-30 13:34] Ram81 commented on #3342
@ankitpal1029 you have to create a private phase to reproduce the issue.

@ankitpal1029 as you are working on #3376 you can pick up another issue after you are done with it.

@Alabhya268 sure, go ahead

[2021-03-30 14:32] #3349 closed

[2021-03-30 15:03] Alabhya268 commented on #3342
![leaderboard](https://user-images.githubusercontent.com/57143358/113010872-d0416280-9196-11eb-826b-55214b4f9a66.png)

@Ram81, Padding looks fine in my system in the leaderboard tab. Could you please try to recreate this and explain under what circumstance this is happening.

[2021-03-30 15:10] Alabhya268 commented on #3342
![Screenshot from 2021-03-30 20-39-22](https://user-images.githubusercontent.com/57143358/113012053-0af7ca80-9198-11eb-85b4-a9734cbe42f2.png)

@Ram81, It still looks fine even when the tag is private. Please look at the image above.

[2021-03-31 04:17] burnerlee commented on #3351
oh I see, I will look for the issue and fix this

[2021-03-31 04:21] burnerlee commented on #3351
@Ram81 can you please provide me with some bulk dummy data, so that the leaderboard api slows down in my PC? It would help me a lot. Thanks

[2021-03-31 04:47] rijusougata13 commented on #3380
can i work on this?

[2021-03-31 06:47] lg920810 opened #3383 "Does anybody know why need using docker-compose restart worker after created a challenge？"
I use the dev environment to deploy locally. Now every time I create a challenge, I need to using `docker-compose restart woker `  to restart the container in the background. Does the restart worker button in the challenge page implement a restart operation? And can it be used only when deployed to AWS? I want to modify some code so that I can try it locally. I want to know the purpose of restarti

[2021-03-31 15:22] Alabhya268 commented on #3342
@Ram81, did you checked it?

[2021-03-31 20:24] ankitpal1029 commented on #3380
@rijusougata13 sure you can just ask @Ram81 once regarding this since i'm not the maintainer

[2021-03-31 20:42] ankitpal1029 commented on #3343
@xavierfigueroav are you currently working on this issue ?

[2021-03-31 20:44] ankitpal1029 commented on #3376
@Ram81 can you take a look at the pr

[2021-03-31 20:47] ankitpal1029 commented on #3346
@niharsalunke are you working on this issue?
i'd like to give it a shot

[2021-04-01 01:12] olartejohn commented on #2735
Hi i would like contribute with this issue

[2021-04-01 01:16] olartejohn commented on #3069
Hi i would like contribute with this issue

[2021-04-01 03:16] #3319 closed

[2021-04-01 04:12] xavierfigueroav commented on #3343
@ankitpal1029 yes, I am

[2021-04-01 06:55] ankitpal1029 commented on #3343
oh cool let me know if you need some assistance

[2021-04-01 06:59] ankitpal1029 commented on #3347
@Ram81 there's one behaviour that i noticed today which is if the user is already logged in and opens up the site , it doesn't lead to the all challenged rather sits on root

If you want the user to always be directed to the all challenges page if he's logged in then let me know as i'd like to  make a pr for the same.

[2021-04-01 07:43] ankitpal1029 opened #3386 "[Fontend_V2] Placeholder overlaps with Text being input"
while making teams for a new challenge the field displays this behaviour:
![image](https://user-images.githubusercontent.com/49815751/113259721-13ace580-92eb-11eb-90ba-e2eb3f8c6786.png)
should be an easy fix.

[2021-04-01 07:43] ankitpal1029 commented on #3386
@Ram81 i'll make a pr fixing this by today

[2021-04-01 15:03] gautamjajoo opened #3387 "Notification not visible on challenge page"
### Observed Behaviour
Notifications are not visible as the star button is overlapping on the challenge page.

### Expected Behaviour
Increase `z-index` of the notification label so that it is visible.

![Screenshot from 2021-04-01 20-29-52](https://user-images.githubusercontent.com/24366008/113313994-702ef580-9329-11eb-87a6-d833a27d1cfc.png)

[2021-04-02 09:00] Alabhya268 opened #3389 "[Frondendv2][Frontendv1] Fix Profile Complete"
Task
- [] Fix `Profile completed`

When user details are empty it shows 100% profile completed sometimes
![100](https://user-images.githubusercontent.com/57143358/113400422-68ba2b80-93bf-11eb-9ee1-1733145ec6f0.png)

Profile completed shows different with the same user in frontendv1 and frontendv2
In frontend v1
![34](https://user-images.githubusercontent.com/57143358/113400475-7bccfb80-93bf-11eb-8

[2021-04-03 02:56] #3345 closed

[2021-04-03 11:57] sandeep-v1404 opened #3394 "[Frontend V2] Bug in Dashboard in Mobile View"
### Description

The Verify Email Card is not visible in Dashboard as expected in mobile view.

![image](https://user-images.githubusercontent.com/57038543/113477737-a2fbf980-94a1-11eb-813d-1ab8d06e03cd.png)

[2021-04-03 21:05] #3312 closed

[2021-04-03 23:25] xavierfigueroav commented on #3343
I've been playing around with the system, but I haven't been able to reproduce the behaviour described in the issue.
What I've tried is:
1. To create a challenge as _host_ based on the examples in the repository, but setting `leaderboard_public` to `True` and `is_public` to `False` in the challenge phase. The resulting config file is:
[code]
2. To approve the challenge with the Django Admin.
3. To

[2021-04-04 03:55] #3344 closed

[2021-04-04 14:31] #3337 closed

[2021-04-04 17:11] shashwatdh commented on #3313
@Ram81 @afif-fahim can i also try out this issue

[2021-04-04 17:15] #3348 closed

[2021-04-04 17:19] shashwatdh commented on #1486
@RishabhJain2018  as its still open can i try it?

[2021-04-04 17:29] Gahina commented on #2735
Can I work on this issue?

[2021-04-04 17:33] Gahina commented on #2142
Is the issue open to work on?

[2021-04-04 17:46] afif-fahim commented on #3313
@shashwatdh PR #3316 is opened for this issue. You can try any other issue from the issue tab.

[2021-04-04 18:50] Alabhya268 commented on #3346
@Ram81, Nobody seems to be working on this issue currently, Can I work on this.

[2021-04-04 18:51] Alabhya268 commented on #3339
@Ram81, I will try to fix this issue.

[2021-04-04 19:43] ankitpal1029 commented on #2116
@RishabhJain2018 can i take this issue up?

[2021-04-04 20:19] niharsalunke commented on #3346
Hi @Alabhya268 , @ankitpal1029 , I've been struggling with this task. I guess there is no point in causing the delay. You guys may take it up. Thanks.

[2021-04-04 20:28] burnerlee commented on #3351
@RishabhJain2018 can you please guide me where can I find this 😅

[2021-04-04 23:02] niharsalunke commented on #3346
@ankitpal1029, @Alabhya268 I have been struggling with this task so I believe there is no point in delaying. You may take it. Thanks.

[2021-04-05 00:10] burnerlee commented on #3343
@Ram81 isn't this issue already fixed by the PR I made earlier https://github.com/Cloud-CV/EvalAI/pull/3295 . Also, it has been merged to master

[2021-04-05 00:12] burnerlee commented on #3341
@Ram81 may I take up this issue? I'll make a PR by today

[2021-04-05 04:49] christopherlim98 opened #3397 "Installation issue: 'Mounts denied' error when running docker compose"
Hi, I found this project through GSoC and was hoping to install it locally.

On the `docker-compose up --build` step, I ran into the following issue of

Successfully tagged evalai_nodejs_v2:latest
evalai_sqs_1 is up-to-date
evalai_db_1 is up-to-date
Starting evalai_nodejs_v2_1 ... error
Starting evalai_nodejs_1    ...
Starting evalai_django_1    ...
Starting evalai_nodejs_1    ... error
ERROR: for

[2021-04-05 06:41] christopherlim98 commented on #3397
Found a fix:
Upgraded Docker to Docker version 20.10.5, build 55c4c88 and included the file path into the Docker settings > resources > file sharing > mounted paths.

[2021-04-05 06:41] #3397 closed

[2021-04-05 14:54] Pratyush-Saxena commented on #3387
@gautamjajoo may i work on this?

[2021-04-05 16:09] ShauryaAg commented on #3387
@Pratyush-Saxena This is already fixed by #3371

[2021-04-06 05:52] #3394 closed

[2021-04-06 18:55] xavierfigueroav commented on #3340
@Ram81 Can I work on this? I was previously assigned the issue #3343, but it seems that it had been fixed by #3295.

[2021-04-07 20:07] ankitpal1029 commented on #3302
@Alabhya268 i am guessing we'll have to make an api to show some live statistics like number of submissions,
number of challenges hosted ,etc etc.

As for testimonials i'm not sure what needs to go there.

[2021-04-07 20:08] ankitpal1029 commented on #3380
@rijusougata13 are you still working on this?

[2021-04-09 04:19] rijusougata13 commented on #3380
@ankitpal1029 no i wasn't working on this issue

[2021-04-10 07:23] ankitpal1029 commented on #2116
@Kajol-Kumari @lunayach  @RishabhJain2018  i thought the initial purpose of the issue was to show progress of the upload to the server rather than just a dummy progress bar(correct me if i'm wrong on this one).

since the actual file upload happens only when the user submits the form maybe we could show the progress bar right after submit instead of this loading screen:
![image](https://user-image

[2021-04-12 05:25] shikhar168 commented on #3069
Is anyone working on this issue ? I want to solve this as to get a better understanding of code.

[2021-04-12 05:30] shikhar168 commented on #2804
@RishabhJain2018 is any one working on the issue?
If no i would like to take up the issue

[2021-04-12 05:40] shikhar168 commented on #2487
@RishabhJain2018 Can I work on this issue?

[2021-04-13 01:16] AaqibAhamed commented on #3386
As I checked it has been fixed.

[2021-04-13 07:00] AaqibAhamed commented on #3389
I have fix this and created a pull request #3403

[2021-04-13 07:01] AaqibAhamed commented on #3389
@Alabhya268  can you review this pull request #3403

[2021-04-13 07:02] AaqibAhamed commented on #3387
already fixed

[2021-04-13 07:56] AaqibAhamed opened #3404 "Add search option on all challenges and hosted challenges page"
_Thanks for taking the time to report a bug in the EvalAI project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/EvalAI/issues)._

If you'd like to report a bug, please include the following information:
- the expected behaviour
- the observed behaviour
- steps to reprodu

[2021-04-13 08:02] #3404 closed

[2021-04-13 15:25] ankitpal1029 commented on #3386
did you try creating the team members and pressing enter
that usually triggers this behaviour

Let me know if you can replicate on your machine.

[2021-04-13 16:52] AaqibAhamed commented on #3386
I will check and let you know.I have checked that Ui glitch in the place holder.

[2021-04-13 17:13] Manjuphoenix commented on #3380
Is the issue still there?

[2021-04-13 17:34] Manjuphoenix commented on #3377
![Screenshot (266)](https://user-images.githubusercontent.com/56871357/114595792-6489ea00-9cac-11eb-86d2-4ed18a3b49d1.png)

Here in the code instead of returning true when an user is found anonymous, we can return false and print "please verify your email"

[2021-04-14 11:24] Happytocode24 commented on #2648
can I take this issue ?

[2021-04-14 11:42] kashish987 commented on #3380
@Ram81 Sir I would like to work on this issue .

[2021-04-14 11:47] shashwatdh commented on #1558
@RishabhJain2018 @Ram81  as the issue is still open, can I work on it??

[2021-04-14 11:48] shashwatdh commented on #1558
@deshraj @RishabhJain2018 @Ram81  as the issue is still open can i work on it??

[2021-04-14 11:48] shashwatdh commented on #2487
@RishabhJain2018  as the issue is still open can I work on it?

[2021-04-15 14:45] Happytocode24 commented on #1347
@RishabhJain2018   is This issue is still open to work? If yes can i work on this issue?

[2021-04-15 14:47] Happytocode24 commented on #1346
@RishabhJain2018 can I take this issue.?

[2021-04-15 14:55] Happytocode24 commented on #2735
@deshraj is this issue is still open to work?

[2021-04-15 14:59] Happytocode24 commented on #2699
@RishabhJain2018 @deshraj Iwould like to work on this .can i take this issue?

[2021-04-15 15:49] Happytocode24 commented on #3377
@RishabhJain2018 can I take this issue ?

[2021-04-16 04:18] Alabhya268 commented on #3389
Ok @AaqibAhamed I'll look at it today.
You should @Ram81 @RishabhJain2018 PR since they are the maintainers.

[2021-04-16 08:51] Happytocode24 commented on #3389
@Alabhya268 @RishabhJain2018 @Ram81 can I take this Issue?

[2021-04-16 10:13] Alabhya268 commented on #3389
@Happytocode24 , As you can see @AaqibAhamed  is already working on this Issue.
Feel free to work on any other issue.

[2021-04-16 10:22] Gahina commented on #3170
@Devanshu24 Can I take up this issue?

[2021-04-16 10:36] Devanshu24 commented on #3170
Hi! Sure, I am not working on it. Although I am not sure if the team wants it. So best to ask them :)

[2021-04-16 11:07] Gahina commented on #3335
@Ram81  Can I work on this issue?

[2021-04-16 11:53] savish28 commented on #3383
@lg920810 Basically in local dev, all challenges evaluation scripts are stored "initially" to save runtime by again and again fetching them. So what docker restart does is basically rerun the script of the worker and eventually stores the updated evaluation script in the variables. AWS is not required to run worker docker for local dev testing. Hope you got the answer.

[2021-04-16 13:21] AaqibAhamed commented on #3389
Okay I'll mention them in following PRs

On Fri, Apr 16, 2021, 09:48 Alabhya ***@***.***> wrote:

[2021-04-16 13:31] AaqibAhamed commented on #3389
As I checked many issues has been sorted out and PR raised for them but
still those are open..Is there any progress on those PRs?..

On Fri, Apr 16, 2021, 18:51 Aaqib Ahamed ***@***.***> wrote:

[2021-04-16 18:47] AaqibAhamed commented on #3386
Did you created PR for issue. #3386 .?. What is the issue happened when creating team memebr ?..Can you share the screenshot?..Under which category u have created memeber ??

[2021-04-21 01:23] AaqibAhamed commented on #3383
Shall we close this issue??.. Answer has been given already..

[2021-04-21 01:24] AaqibAhamed commented on #3380
Anyone else working on it ??

[2021-04-22 01:53] lg920810 commented on #3383
Thanks for your answer.

[2021-04-22 01:53] #3383 closed

[2021-04-23 12:23] shashwatdh commented on #3069
@RishabhJain2018 @Ram81  I would like to work on this issue.

[2021-04-23 12:26] shashwatdh commented on #1647
@deshraj  as the issue is still open, can I work on it?

[2021-04-23 12:27] shashwatdh commented on #1607
@RishabhJain2018 @deshraj As the issue is still open, can I work on it ?

[2021-04-23 12:29] shashwatdh commented on #1346
@deshraj @RishabhJain2018  @Ram81 As the issue is still open, can I work on it ?

[2021-04-23 12:30] shashwatdh commented on #1347
@deshraj  @RishabhJain2018 @Ram81  As the issue is still open, can I work on it ?

[2021-04-23 21:16] kashish987 commented on #3380
Yes @AaqibAhamed  I am working on it.

[2021-04-29 11:08] jnyuan opened #3409 "cannot submit result file today - argoverse motion forecasting competition"
![image](https://user-images.githubusercontent.com/20141371/116541215-c3db3180-a91d-11eb-93b2-1a96aaf57374.png)

The page remains gray during the upload process, and there is no file uploaded today in the upload history

[2021-05-01 07:52] AaqibAhamed commented on #3313
PR Raised

[2021-05-01 07:58] AaqibAhamed commented on #3389
PR Raised #3403

[2021-05-01 07:59] AaqibAhamed commented on #3387
Please Close this issue

[2021-05-01 09:27] AaqibAhamed commented on #3380
As I checked you commit belongs to Fontend not belong to Fontend_V2 .. Name of the issue belongs Fontend_V2 .. Is this followed correctly.

[2021-05-01 09:34] AaqibAhamed commented on #3378
It has been fixed..Close this

[2021-05-01 09:34] AaqibAhamed commented on #3378
@Ram81  @RishabhJain2018

[2021-05-01 10:18] AaqibAhamed commented on #3376
PR Raised

[2021-05-01 10:29] kashish987 commented on #3380
@AaqibAhamed As I have manually checked the eval ai code and ran it .The issue was found in Frontend so I have modified it and committed it.

@ankitpal1029 can you please tell that whether this needs to be done in Frontend V2 as well so that I can add that as well since at my end I am able to see that this screen is linked to Frontend.

[2021-05-01 10:48] AaqibAhamed commented on #3380
Okay.. Also when we runnig app normally it's using  Frontend V2 ..May I know the reason why we it configured like this..Any reason??.  @Ram81

[2021-05-01 14:59] ankitpal1029 commented on #3380
@kashish987 since we are shifting over to frontend V2 it would be better if you implement it on the same

[2021-05-01 19:20] kashish987 commented on #3380
sure will do that. Thanks

[2021-05-02 00:08] AaqibAhamed commented on #3380
Can you fix that and ammend into your existing PR and mention here. @kashish987

[2021-05-02 05:08] kashish987 commented on #3380
Required changes have been done and added to the existing Pull Request.

[2021-05-03 18:16] vschmidt opened #3411 "API: Failed to get all challenges"
**API parameters:**
Method: GET
URL:  /challenges/challenge
Header: Authorization = "Token {{my_token}}"
Software: Insomnia

**Expected behavior:**
List of all challenges

**Observed behavior:**
"error": "Invalid url pattern!"

**_Software image:_**
![image](https://user-images.githubusercontent.com/45170595/116915279-300dac00-ac22-11eb-80d4-81b574494dfb.png)

**Server logs:**
[pid: 80|app: 0|req:

[2021-05-03 18:44] vschmidt commented on #3411
When I force the mode, the request works.

![image](https://user-images.githubusercontent.com/45170595/116918493-59c8d200-ac26-11eb-9522-af912d314a0d.png)

[2021-05-08 13:40] shashwatdh commented on #3340
@Ram81 as the issue is still open can I work on this?

[2021-05-08 13:45] shashwatdh commented on #3347
@Ram81 can I work on this issue??

[2021-05-08 13:47] shikhar168 commented on #3386
@Ram81 can i work on it

[2021-05-08 13:54] shashwatdh commented on #2699
@RishabhJain2018  as the issue is still open i would like to work on it.

[2021-05-09 18:36] shikhar168 commented on #3377
@gautamjajoo @RishabhJain2018 can I take this issue ?

[2021-05-09 18:46] shikhar168 commented on #3347
@Ram81 can I work on this issue?

[2021-05-09 18:59] shikhar168 commented on #3340
@Ram81 can i work on this?

[2021-05-09 20:22] shikhar168 commented on #3335
@Ram81 can i work on this?

[2021-05-10 03:50] shikhar168 commented on #3088
can i work on this issue?

[2021-05-10 03:57] shikhar168 commented on #2699
i @RishabhJain2018 @deshraj Iwould like to work on this .can i take this issue?

[2021-05-10 04:05] shikhar168 commented on #2479
can i work on this issue?

[2021-05-10 04:56] shikhar168 commented on #3265
I would like to work on this

[2021-05-10 04:59] shikhar168 commented on #3289
@devanshraj300 can i work on this?

[2021-05-10 05:02] shikhar168 commented on #3277
@gautamjajoo , I want to work on this.

[2021-05-10 05:07] shikhar168 commented on #2588
i would like to work on this issue

[2021-05-10 10:05] shikhar168 commented on #2648
can I take this issue ?

[2021-05-10 11:46] shikhar168 commented on #2648
can i work on this issue

[2021-05-15 12:26] AaqibAhamed commented on #3411
PR Raised

[2021-05-16 02:34] AaqibAhamed commented on #3409
Is there anyone working on this issue??

[2021-05-16 14:06] Alabhya268 opened #3417 "[Frontendv2] Unnecessary toast after every refresh once challenge title has been updated ."
Once the challenge title has been updated from the frontend, We get the error message "success" every time we refresh the setting tab page.

Please view the following video for better understanding.

https://user-images.githubusercontent.com/57143358/118400138-002cc280-b67e-11eb-9000-886dac7bad56.mp4

@Ram81 @RishabhJain2018, I want to work on this issue.

[2021-05-16 14:09] Alabhya268 opened #3418 "[Frontendv2] Title and Image meta-tag does not update when updated from frontend."
- [ ] Update title meta-tag when challenge title is updated from setting tab.
- [ ] Update image meta-tag when the challenge image is updated from setting tab.

@Ram81 @RishabhJain2018, I want to work on this issue.

[2021-05-16 15:43] rajatraj733 opened #3421 "Cloud Production script"
Could you guys please provide the steps to deploy in cloud services as well?

In the readme.md file, there are steps to build and deploy the application locally.
I tried to follow the same steps described in the documentation for the cloud as well. That created two UIs at port 8888  and 4200. On both UI, login api, it is invoking has the base url of localhost. I guess I can go to config.json and c

[2021-05-17 13:22] PrasanthChettri commented on #3358
Hi can I work on this, the previous if the previous PR is not being worked on ?

[2021-05-18 11:54] yashdusing commented on #3421
Hey @rajatraj733 !
Could you try these :
Instructions / Readme for deployment : https://github.com/Cloud-CV/EvalAI/pull/3010
then you can go for either VM deployment & AWS services deployment :
VM deployment PR : https://github.com/Cloud-CV/EvalAI/pull/2853
AWS deployment PR : https://github.com/Cloud-CV/EvalAI/pull/2978

[2021-05-18 11:57] yashdusing commented on #2968
Hey @RishabhJain2018 !
I've been away for some time now. Most of the work on deployment is done with some tweaks remaining. Is this still something that is in the roadmap for EvalAI ?

[2021-05-18 12:23] kanak8278 commented on #2142
Is this issue is still open for work? @RishabhJain2018

[2021-05-18 12:43] rajatraj733 commented on #3421
Thanks @yashdusing for the reply. Seems like your pr are open for more than 6 months. Any reasons, why has it not been reviewed yet.

@RishabhJain2018 @deshraj @Ram81 Hello guys, I understand there may be more priority tasks in the pipeline. Would appreciate, if these pr can be reviewed. I'm sure, if necessary @yashdusing will come up with the changes if any required to be merged into master.

[2021-05-18 12:51] barrywhart commented on #1800
What's the status of PR #2205?

I was not aware of the existing PR, and I created a simpler PR (2 line change plus comments) which addresses the issue: #3422.

[2021-05-20 18:56] Ram81 commented on #3409
@jnyuan we have fixed the issue. You should be able to make submissions now.

[2021-05-20 18:57] Ram81 commented on #3409
Closing this issue.

Please re-open the issue if it persists.

[2021-05-20 18:57] #3409 closed

[2021-05-23 17:13] AbdelrahmanYounes opened #3428 "Submission status is finished but can't see the results on the leaderboard"
I'm facing a problem which's not seeing the results of my submissions on the leaderboard and I don't have the show on the leaderboard checkbox on my submission page so, what shall I do to add my results to the leaderboard?

Thanks!

[2021-05-23 21:22] #3428 closed

[2021-05-28 15:18] #3421 closed

[2021-05-28 15:19] Ram81 commented on #3421
@rajatraj733 we don't have the cloud deployment setup in the scope of the project we have planned for next few months.

[2021-05-29 18:49] kashish987 commented on #3346
@Alabhya268  are you working on this?

[2021-05-30 08:40] kashish987 commented on #3386
@Ram81 @ankitpal1029
I have figured out the reason behind this issue. I would like to work on it.
Thanks

[2021-05-30 19:19] gautamjajoo opened #3443 "Add functionality for refresh if there is a change in results on submissions page"
### Deliverables
1. Add functionality for refreshing results every 5 seconds on `my-submission` and `all-submission` page.
2. Add label to refresh the page if there is any change in data

[2021-05-31 14:15] shikhar168 commented on #3346
@Ram81 @Alabhya268
can I work on it , I think I have figured the solution for the problem

[2021-05-31 14:25] Alabhya268 commented on #3346
@shikhar168 , you can work on this as I am not currently working on this issue.

[2021-05-31 19:20] #3335 closed

[2021-06-05 07:58] snownus opened #3454 "504 Gateway Time-out"
05/June/2021, when I try to login eval.ai, it has an error: 504 gateway error. How to fix it?

[2021-06-05 08:09] Ram81 commented on #3454
@snownus the issue is fixed. You should be able to access EvalAI now.

[2021-06-05 14:38] #3454 closed

[2021-06-06 19:42] gautamjajoo opened #3457 "Code elements not visible on different screen size"
Code elements not visible on `my-submissions` page on different screen sizes.

![Screenshot from 2021-06-07 01-09-36](https://user-images.githubusercontent.com/24366008/120937830-58ab2900-c72d-11eb-9fd1-0385ccc55b7e.png)

NOTE: The issue is with the contianer being used, not the code element. Refer to frontend-v1

[2021-06-07 12:19] Gahina commented on #3170
@Ram81 @RishabhJain2018 can you review the PR ? It solves the bug of the login page.

[2021-06-08 05:17] Shreya1805-web commented on #3443
Hi. I want to take up this issue. This will be my first issue.

[2021-06-19 18:01] johnwlambert opened #3485 "2 proposed feature requests for leaderboard"
Hi EvalAI team, thanks for all your hard work on an excellent platform. I have two proposed feature requests:

1. When I click on an entry in a leaderboard (say the 5th entry), the leaderboard re-centers on the object, and hides the objects above, which is a bit counter-intuitive. I would prefer behavior where that entry is actually highlighted.

2. Could we have an option to show on the leaderboa

[2021-06-19 18:12] RishabhJain2018 commented on #3485
Hi @johnwlambert, Thank you for the feature requests. We will try to release these ASAP.

[2021-06-22 08:05] rcannood commented on #2500
Why was this closed? Has such a tutorial been created?

[2021-06-24 11:13] rcannood opened #3495 "Remote evaluation doesn't work"
Running eval.ai with docker-compose and trying to connect with a remote worker does not work. It seems the remote worker script is a bit out of date with the current API. The [API documentation](https://eval.ai/api/docs/#operation/jobs_challenge_submission_list) helped out a lot in figuring out what the issue was.

These are the issues I had to fix to get the script to work:

* Rename `Token` to `

[2021-06-25 12:35] michaelmior opened #3499 "Unable to paste passwords on signup form"
Since I use a password manage (as I would argue most if not everyone should), I prefer to be able to paste in passwords in sign up forms since they are randomly generated. There is a lot of debate around this issue, but the consensus seems to be that disallowing pasting passwords is bad for security since it encourages users to choose weak passwords among other reasons.

Some references below:

[T

[2021-07-27 11:37] gautamjajoo commented on #3457
Closing since fixed in https://github.com/Cloud-CV/EvalAI/pull/3534.

[2021-07-27 11:37] #3457 closed

[2021-07-27 11:40] gautamjajoo commented on #3387
Closing since fixed in https://github.com/Cloud-CV/EvalAI/pull/3517

[2021-07-27 11:40] #3387 closed

[2021-08-21 11:02] AvineshTripathi commented on #3499
hey just wanted to know if this topic has come to conclusion or not ?

[2021-08-23 11:54] emilio-cartoni opened #3580 "Challenge_pk and phase_pk change type from string to int when resubmitting"
Hello everyone,
while processing submissions for a challenge, I noticed that the `phase_pk` and `challenge_pk` keys change type.
When a submission is sent the first time, my evaluation script receives them as a `string`, e.g.
[code]
However, if the submission is resent again by clicking on "Rerun submission" on EvalAI All submissions tab, the `challenge_pk` and `phase_pk` become `int` type:
[code]

[2021-08-24 06:15] Elixer3000 commented on #3443
Hi, @gautamjajoo  is this issue still open I would like to contribute, also this is my first contribution to the open-source community any heads up?

[2021-08-30 10:59] hadibokaei opened #3585 "Fail to upload challenge zip file"
Hello
I am new to evalAI and I have reviewed its features. Thanks for the great platform.
I have installed it on a server using docker and I want to access it through the valid IP. Everything is OK except uploading a challenge zip file to create a new challenge. When I upload the zip file the following error is appeared in the log:

[code]

I cant understand what the problem is. Any help is apprec

[2021-08-31 09:36] GaelKBertrand commented on #3309
These can be good features, but I wonder if they align with the overall web vision. If they allow you to work on these proposed features, I can help in building them.

[2021-08-31 09:53] GaelKBertrand commented on #3290
Can I work on this issue?

[2021-08-31 09:56] GaelKBertrand commented on #3265
Working on this

[2021-09-08 22:45] #3280 closed

[2021-09-12 08:21] Vaishnavimore10 commented on #3298
hi, I m very new in this project but i m very interested to learn. I tried to set up the EvalAl on my system but i cant login. The Django container does not run . Can some one please help me with it?
<img width="957" alt="Screenshot 2021-09-12 135018" src="https://user-images.githubusercontent.com/87220986/132979386-27dbc676-30c9-46ea-8d26-f5c19786dd9e.png">

[2021-09-12 13:51] sudz123 opened #3596 "Not able to see scores for LVIS challenge"
Hi!

We have submitted our file and it has been over 24 hours but we are not able to see our scores for LVIS 2021 val phase. Is this normal? What is the expected delay? Also is there any way to know if something went wrong and if so, what went wrong?

[2021-09-13 02:24] sudz123 commented on #3596
Now it shows cancelled. With execution time None.

[2021-09-16 12:11] vashuteotia123 commented on #3069
@Ram81 I'm new here, can I work on this issue?
Thanks

[2021-09-17 07:32] vashuteotia123 commented on #3499
@michaelmior Is this issue still there? I would like to work on this.

[2021-09-17 12:20] michaelmior commented on #3499
I don't think this is an issue any more as I am able to paste in a password now.

[2021-09-17 12:20] #3499 closed

[2021-09-27 08:30] fuweifu-vtoo commented on #3596
I also meet the same problem? have you solved it?

[2021-09-27 10:23] sudz123 commented on #3596
Nope

[2021-09-27 21:49] Ram81 commented on #3596
Hi @sudz123, there was a issue with our evaluation server due to which submissions were not processed. We have fixed the issue, your submissions should be done evaluating in couple of hours.

[2021-09-28 18:03] RishabhJain2018 commented on #3596
Closing it as it is resolved. Please feel free to reopen in case it is still not resolved.

[2021-09-28 18:03] #3596 closed

[2021-10-03 18:06] khushbooag4 commented on #2618
Is Anyone currently working on this issue. I want on this issue. It will be grateful if someone please guide me I want to contribute to this issue

[2021-10-03 18:14] khushbooag4 commented on #3313
@Ram81, Can I work on this issue?

[2021-10-03 18:17] khushbooag4 commented on #3156
@Ram81 Can I contribute to this issue. I have started contributing to open-source projects

[2021-10-06 16:57] danielamassiceti opened #3603 "Cost for hosting challenges?"
Hi there

Is there any cost associated with hosting a challenge on EvalAI?

Thanks

[2021-10-30 19:14] gshippee opened #3623 "docker-compose error"
Hello,

Upon running the docker-compose command, I am receiving the following error:

 => CANCELED [evalai_django internal] load metadata for docker.io/library/python:3.7.5                             8.3s
 => CANCELED [evalai_nodejs_v2 internal] load metadata for docker.io/library/node:12.2.0                           8.2s
 => CANCELED [evalai_nodejs internal] load metadata for docker.io/library/

[2021-11-03 05:47] ShanmukhaSahiti opened #3624 "Django rest framework packages version conflicts"
Building the project fails due to python package incompatibility issue.

**Expected behaviour**
  Builds successfully

**Observed behaviour**
Build fails with version conflicts error on pip install.
djangorestframework-expiring-authtoken==0.1.4 requires djangorestframework to be less than 3.4.6
But drf-yasg==1.17.0 requires djangorestframework to be greater than 3.8

**Operating System**
Ubuntu (t

[2021-11-08 16:20] 01shriyansh commented on #2028
i would like to work on this @RishabhJain2018

[2021-11-09 11:41] mikeengland opened #3626 "Docker compose error on Apple Silicon"
Running `docker-compose up --build` results in the following when building the nodejs container. Please let me know how I can get past this!

[code]

Thanks

[2021-11-09 17:59] seokhwankim opened #3627 "Changing the port numbers"
Is it possible to change the ports from 8888 and 8000 to other numbers?

[2021-11-09 21:53] mikeengland commented on #3626
I did some more digging. First off, it seems that the nodejs image required updating - I used node:14. The package google-chrome-stable was also not available, so I had to comment that but still run 'apt-get update' in the Dockerfile.

I also had trouble installing matplotlib - in the end I had to comment it out in worker.txt due to 'Running cythonize failed!' errors. This allowed me to get the ap

[2021-11-15 05:56] Aditya-Gupta1 commented on #3623
Same Issue. Can't set up the project. Seems like the image `pakohan/elasticmq` is removed.

[2021-11-15 06:45] RishabhJain2018 commented on #3623
Hey @gshippee @Aditya-Gupta1 , Thanks for bring this to our notice. We will look into this and get back to you.

[2021-11-19 00:04] seokhwankim commented on #3184
I have exactly the same problem. Is there any update to solve this issue?

[2021-11-19 09:59] rcannood commented on #3184
Hello all! I have the same problem for [this leaderboard](https://eval.ai/web/challenges/challenge-page/1111/leaderboard/2862). I set my precision to 4 via the config, but the leaderboard is still 2.

[2021-11-19 15:08] Ram81 commented on #3184
Hi @felixp8 @seokhwankim @rcannood,

Thanks for pointing out the issue. We are working on fixing it. We will update on this thread once we have released a fix.

[2021-11-22 07:57] nick12340 opened #3628 "the image pakohan/elasticmq is removed."
the image pakohan/elasticmq is removed.

[2021-11-23 07:27] uzair-ali10 opened #3629 "[Installation] `pakohan/elasticmq` Error During Installation"
If you'd like to report a bug, please include the following information:
- expected behaviour
Successful Installation
- observed behaviour
Error
[code]

- steps to reproduce the problem
`git clone https://github.com/Cloud-CV/EvalAI.git evalai && cd "$_"`
`docker-compose up --build`
- which operating system and/or browser you're using, if relevant
Elementry OS (Based on Ubuntu 18.04)
- (if possible

[2021-11-23 07:36] Manoj0Marmat commented on #3629
@uzair-ali10 hello sir can i help you to solve this ?

[2021-11-23 07:37] Manoj0Marmat commented on #3629
@uzair-ali10 assign this to me

[2021-11-23 09:51] uzair-ali10 commented on #2870
Hey does this issue still persist??

[2021-11-23 10:54] Manoj0Marmat commented on #3629
@uzair-ali10 fixed check

[2021-11-23 10:59] Manoj0Marmat commented on #3629
@uzair-ali10 sir can u please accept my pull request i wanna contribute

[2021-11-23 16:29] uzair-ali10 commented on #3313
@Ram81
Is this up for Grab??

[2021-11-28 16:48] 3V3RYONE commented on #2898
Hey, Is the issue still open?

[2021-11-28 16:51] 3V3RYONE commented on #1486
@RishabhJain2018 Is the issue still open? May I take this?

[2021-12-01 00:46] chihfanhsu commented on #3585
I have the same problem. The .zip file is correctly uploaded. It seems the uploaded file cannot be correctly decompressed. I am still finding a solution.

[2021-12-02 22:46] felixp8 opened #3634 "Submission metadata feature requests"
Hi! I have two proposed feature requests for submission metadata:
1. The "View Metadata" bubble on the leaderboard currently only displays the `submission_meta_attributes` from the config and not `default_submission_meta_attributes`. I would prefer `default_submission_meta_attributes` (e.g. project URL and publication URL) to be visible as well, or at least for there to be an option to make them v

[2021-12-07 23:21] RishabhJain2018 commented on #3634
Hi @felixp8 , Thanks for the feature requests. We will get them added to the platform soon.

[2021-12-08 17:51] Ram81 commented on #3629
Closing this issue. Fixed in PR #3638

[2021-12-08 17:51] #3629 closed

[2021-12-08 17:51] Ram81 commented on #3628
Closing this issue. Fixed in PR #3638

[2021-12-08 17:51] #3628 closed

[2021-12-08 17:53] Ram81 commented on #3627
Hi @seokhwankim, Yes, you can modify the port numbers when launching the docker containers in [docker-compose.yml](https://github.com/Cloud-CV/EvalAI/blob/master/docker-compose.yml).

Closing this, as this is not a issue.

[2021-12-08 17:53] #3627 closed

[2021-12-08 17:55] Ram81 commented on #3603
Hi @danielamassiceti, no there is no cost associated with hosting a challenge on EvalAI. You can go to [eval.ai](https://eval.ai/) and follow the instructions on our [starters template](https://github.com/Cloud-CV/EvalAI-starters) to get started.

Closing this, as this is not a issue

[2021-12-08 17:55] #3603 closed

[2021-12-17 16:40] Ram81 opened #3643 "[Backend] Add support to recreate fargate workers for active challenges from django admin"
### Description

To push latest changes to active farget workers we need to recreate the service so that it uses the latest docker image of submission worker. Currently, we recreate worker service for each challenge manually by deleting the worker and starting it again using django admin individually.

We need to add support for recreating the fargate service (i.e. delete service and create) for a

[2021-12-17 16:44] Ram81 opened #3644 "[Backend] Add support to recreate workers on EC2 instance for active challenges"
### Description

To push latest changes to active workers on EC2 instance we need to recreate the service so that it uses the latest docker image of submission worker. Currently, we recreate worker service for each challenge manually by deleting the worker and starting it again using [worker deployment script](https://github.com/Cloud-CV/EvalAI/blob/master/scripts/deployment/deploy.sh#L210) indivi

[2021-12-25 06:28] paprajapati9 commented on #3644
@Ram81 I would like to work on this issue, can you please guide me to get started to contributing to CloudCV. Thanks!

[2021-12-31 03:19] HuangDihe opened #3655 "RuntimeError: Click will abort further execution because Python 3 was configured to use ASCII as encoding for the environment."
Traceback (most recent call last):
  File "/usr/local/bin/evalai", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.6/site-packages/click/core.py", line 722, in __call__
    return self.main(*args, **kwargs)
  File "/usr/local/lib/python3.6/site-packages/click/core.py", line 676, in main
    _verify_python3_env()
  File "/usr/local/lib/python3.6/site-packages/click/_unicodef

[2021-12-31 16:36] eshaanagarwal commented on #3644
@Ram81 Hi ! I am interested in working this issue . Is this still open ?

[2021-12-31 16:39] eshaanagarwal commented on #3643
@Ram81 Hi ! I have a fair understanding of Django and the codebase . Is this issue open for contribution ?

[2022-01-06 11:50] Aditya-Gupta1 opened #3657 "Error while installation: pull access denied for docker.io/library/evalai_django:latest"
Expected Behaviour: Successful Installation

Observed Behaviour: Getting the error with the below logs:

[code]

Steps to reproduce:

1. git clone https://github.com/Cloud-CV/EvalAI.git evalai && cd evalai
2. docker-compose up --build

OS: Windows

Docker version: 20.10.11
Python: 3.9.9

[2022-01-11 17:56] haldendmello opened #3665 "In Docs Change link in Host Challenge using Github in step 1."
When we click on **EvalAI-Starters** it goes to different page.
<img width="1440" alt="ss2" src="https://user-images.githubusercontent.com/60038994/148992353-d80f0008-645a-4cf4-bdc1-9cc4fe5abadf.png">

[2022-01-11 18:12] haldendmello commented on #3665
I have send Pull Request.

[2022-01-12 21:23] gustavofuhr opened #3667 "Enable code upload challenges in development."
Hello,

I'm setting up my own forked version of EvalAI and I'm having troubles setting code upload challenges. If I understand correctly the code (in the DEV environment), there is no worker that is able to receive a code upload submission, right?

So, for the worker `Dockerfile` instead of this:
[code]
I'm doing this:
[code]

That raise a bunch of errors, that I'm trying to figure out.
Is that th

[2022-01-12 21:27] gustavofuhr commented on #3667
Actually, I just found that there is a different worker Dockerfile in `EvalAI/docker/dev/code-upload-worker/Dockerfile`. Is that the one that should be used?

There is some documentation on all this?

[2022-01-17 19:16] imnitishng commented on #3657
Were you able to fix this?

[2022-01-17 22:49] Ram81 commented on #3667
Hi @gustavofuhr,

We don't support running code upload challenges locally, the pipeline is tightly coupled with AWS infrastructure so setting up locally would be difficult.

Yes, that's correct

No, currently we don't have any documentation on how to set it up locally.

Closing the issue as I have addressed the queries.

[2022-01-17 22:49] #3667 closed

[2022-01-17 22:50] Ram81 commented on #3665
@haldendmello that is the expected behavior.

Closing this issue

[2022-01-17 22:50] #3665 closed

[2022-01-17 22:53] Ram81 commented on #3657
Tested the above issue with the latest master and I don't see this issue happening. Please pull the latest master and try again. If the issue persists reopen the issue.

Closing this for now.

[2022-01-17 22:53] #3657 closed

[2022-01-17 22:54] Ram81 commented on #3655
Closing this issue as it doesn;t have sufficient details

[2022-01-17 22:54] #3655 closed

[2022-01-17 22:54] Ram81 commented on #3623
This issue was fixed. Closing this PR

[2022-01-17 22:54] #3623 closed

[2022-01-17 22:56] Ram81 commented on #3626
Closing this issue.

[2022-01-17 22:56] #3626 closed

[2022-01-17 23:00] Ram81 opened #3675 "[Frontend] Make navbar sticky on privacy policy page"
### Description

Currently, the navbar on the privacy policy page is not stick on large screens. As part of fix of this issue we need to make the navbar sticky on all resolutions of the screen. See the screenshot for reference of current issue.

![Screenshot from 2022-01-17 17-57-55 (1)](https://user-images.githubusercontent.com/16323427/149845661-c216dd18-6c83-487d-b3de-a092425c0c44.png)

[2022-01-17 23:04] Ram81 opened #3676 "[Frontend] Fix the twitter feed loading when user navigates back to homepage"
### Description

The twitter feed homepage fails to load when a users visits some other page after visiting the homepage and then comes back to the homepage. Steps to reproduce:

1. Open EvalAI homepage on FrontendV2
2. Navigate to login/signup page
3. Navigate back to homepage and check the twitter feed

Screenshot for reference:

![Screenshot from 2022-01-17 18-02-21](https://user-images.githubu

[2022-01-18 07:16] ayushvrma commented on #3069
@RishabhJain2018 @Ram81 Is anyone assigned on this issue, can I work on it?

[2022-01-18 07:17] ayushvrma commented on #3676
Hi, can I work on this? I'm a beginner though, would need some help if that's okay?

[2022-01-18 08:20] haldendmello commented on #3676
@Ram81 can I work on the issue. I know the basics of Angular.

[2022-01-18 09:23] haldendmello commented on #3676
I have send Pull request
Fix #3676 [Frontend] Fix the twitter feed loading when user navigates back to homepage

[2022-01-18 23:00] gustavofuhr commented on #3667
Got it @Ram81, but there is any doc to set up code upload eval remotely then?

[2022-01-19 14:27] Ram81 commented on #3667
@gustavofuhr unfortunately we don't have any documentation on how to set it up remotely but we do support spawning the required infrastructure in a remote AWS account on EvalAI. The way it works is, challenge hosts create a remote evaluation code upload challenge on EvalAI and share an IAM role with us that we use to spawn the required infrastructure in remote AWS account. In this flow, challenge

[2022-01-19 14:29] Ram81 commented on #3676
Hi @ayushvrma, sure you work on this issue. You can post your doubts on our gitter channel if you are stuck.

Hi @haldendmello, thanks for your interest. We usually follow first come first serve approach to assign issues as @ayushvrma has already requested this issue you'll have to look for another issue. If he isn't able to make progress in a week then we can reassign this issue to you.

[2022-01-19 14:29] Ram81 commented on #3675
Hi @Ayush-Raghuwanshi, sure you can work on this issue. Let us know if you have any questions

[2022-01-19 16:27] haldendmello commented on #3643
Hi @Ram81  Can I work on this issue.

[2022-01-20 03:09] kirkzZ commented on #3624
Hello,have you solved it?

[2022-01-20 04:40] kangtegong commented on #3624
hello, i want to solve this issue, can i take this one?@ShanmukhaSahiti

[2022-01-20 12:29] zxkplus commented on #3624
hello, I have meet this same problem, too. had any one found ways to solve it?

[2022-01-21 05:12] cypersii commented on #3675
Hey, can i contriburte to this issue?

[2022-01-21 06:01] haldendmello commented on #3676
Hi @ayushvrma if you want any help you can contact me haldendmello19@gmail.com

[2022-01-23 16:44] adithyathecoder commented on #2691
is the issue open?

[2022-01-23 16:47] adithyathecoder commented on #2028
i would like to work on this @RishabhJain2018

[2022-01-24 05:00] Suryansh5545 commented on #3675
Seems like Ayush isn't working on this issue so can i take it?

[2022-01-24 08:36] Ayush-Raghuwanshi commented on #3675
Yeah I am so sorry, @Ram81 you can assign other. I cant work on it right now, I am sorry...

[2022-01-25 07:01] Krutarth-Bhatt opened #3682 "Problem Building using docker-compose"
I am trying to build EvalAI on my Macbook Air M1 and getting the below error at the end.
<img width="763" alt="Screen Shot 2022-01-24 at 23 54 56" src="https://user-images.githubusercontent.com/38133770/150927125-6fd231ed-12cb-46ed-bc1a-f01c29091d9c.png">

[2022-01-25 19:07] Krutarth-Bhatt commented on #3682
Can you please tell me in which while I need to add this??

[2022-01-27 07:17] haldendmello commented on #3643
Hi @Ram81 please check. This is the expected behavior?. If not then please can I get some help?

**Steps to Follow**
1. Select "Ongoing" from "By Challenges" filter for all active challenges to get selected.
2. Select all the Challenges.
3. Go to Action and select "Delete and Start all selected challenge workers".

![workersGIF](https://user-images.githubusercontent.com/60038994/151308596-4ffa0705

[2022-01-27 09:16] #2553 closed

[2022-01-27 18:27] Ram81 commented on #3643
Hi @haldendmello yes, that is correct.

[2022-01-28 06:49] haldendmello commented on #3643
@Ram81 I have send pull request.

[2022-01-30 14:59] AnkitGupta17134 commented on #3682
Hi @Krutarth-Bhatt

Please add above line to two files present at:
1. docker/dev/nodejs/Dockerfile
2. docker/dev/nodejs_v2/Dockerfile

If this doesn't work you can post the issue on our gitter channel where someone can help you resolve this issue.

[2022-02-01 12:21] GeekGawd opened #3686 "[Backend] Submission validation absent in challenges for unsupported files"
I noticed that the user can upload non .txt files as a submission in the challenges. Resources can be saved on such a file by just adding a validation.

Ideal Behaviour:
Throw 400 Bad Request for unsupported files

Current Behaviour:
No validation written in views for this.

https://user-images.githubusercontent.com/89455838/151967012-aad876d9-604d-4742-a2ce-c12b0023eb6b.mp4

If this is a potentia

[2022-02-02 06:53] Krutarth-Bhatt commented on #3682
Hey,
Thanks a lot for the response.
I am getting this message while I am trying to compile after the change that you suggested.
Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?

[2022-02-02 10:29] Suryansh5545 commented on #3686
Hello @GeekGawd  it seems there is already a issue for this error. #3358

[2022-02-02 17:51] AnkitGupta17134 commented on #3682
Hey,

**If docker isn't running**
Check if docker is running or not using:   *sudo service docker status*
If not running, run this:                               *sudo service docker start*

**If permission of docker unix socket is problem**
Check about permission of socket:         *sudo ls -la /var/run/docker.sock*
Grant the necessary ownership using :   *sudo chown [username]:docker /var/run/do

[2022-02-02 21:16] Krutarth-Bhatt commented on #3682
Sorry I forgot to turn on the docker.
No I am getting this error:
failed to solve: rpc error: code = Unknown desc = failed to solve with frontend dockerfile.v0: failed to create LLB definition: pull access denied, repository does not exist or may require authorization: server message: insufficient_scope: authorization failed

[2022-02-03 14:34] bridyash13 commented on #3313
Hey @Ram81 can I work on this?

[2022-02-03 14:46] bridyash13 commented on #3676
Hey @Ram81 can I work on this issue as I don't think ayush has made any progress as there's no pull request linked to this issue

[2022-02-03 15:19] ayushvrma commented on #3676
@Ram81 @haldendmello I'm sorry to not being able to figure out how to fix the code yet. You can assign it to @bridyash13

[2022-02-03 15:22] haldendmello commented on #3676
@ayushvrma @bridyash13 This issue is fixed.

[2022-02-07 14:35] vpozdnyakov opened #3688 "[Question] Is it possible to run multiple workers?"
Could you explain how to run multiple workers in a single machine for parallel evaluation? For example, I run a challenge on my local server in docker, then several participants submit their solutions. As I understand, the worker run submissions one-by-one and therefore participants wait in a queue. It will be great to run multiple workers to speed up the evaluation. Thanks!

[2022-02-11 22:45] Ram81 opened #3692 "[FrontendV2] Fix overlapping controls on My submissions page when you change screen width"
### Description

The controls on `My submissions` page overlap when a user changes the screen width. The ideal behavior is that the controls don't overlap at different screen widths.

Current screenshot for reference:

![Screenshot from 2022-02-11 17-42-47](https://user-images.githubusercontent.com/16323427/153680813-7084c70c-484b-465a-9c70-fad4ae2c045b.png)

Expected behavior: Controls shouldn't

[2022-02-11 22:46] Ram81 commented on #3686
Closing this issue as it is a duplicate

[2022-02-11 22:46] #3686 closed

[2022-02-11 22:49] Ram81 opened #3693 "[FrontendV2] Add validation for team URL when a user edits team details"
### Description

Currently, when a user edits the team details and submits the updates we don't check if the team URL is a valid URL. As part of this task you will add a validation check to ensure the entered value in edit form is a valid URL.

Current behavior:

![Screenshot from 2022-02-11 17-47-32](https://user-images.githubusercontent.com/16323427/153681160-e7aa5c02-898d-4b39-b774-509b29550099

[2022-02-11 22:49] Ram81 commented on #3676
Closing this as it is fixed

[2022-02-11 22:49] #3676 closed

[2022-02-12 02:44] haldendmello commented on #3693
@Ram81  Can I work on this issue.

[2022-02-12 03:39] Suryansh5545 commented on #3693
Can i work on this?

[2022-02-12 04:07] Suryansh5545 commented on #3692
@Ram81 i would like to work on this issue

[2022-02-12 17:02] Ram81 commented on #3693
Hi @haldendmello , as @Suryansh5545  already opened a PR for this task it would be good if you could pick up some other task.

Thanks @Suryansh5545 for the quick PR. In future, it would be great if you could start working on a task only after you get it assigned. We would like to avoid redundant effort from multiple contributors.

[2022-02-12 17:06] Suryansh5545 commented on #3693
@Ram81 Sorry for that.

[2022-02-12 17:07] Ram81 opened #3695 "[FrontendV2] Disable submit button on submit page when a selected file is of incorrect type"
### Description

Currently, in our Frontend V2 submit page on the challenge page user can submit a file even if it has a extension which is not allowed by challenge hosts in (i.e. not in `allowed_submission_file_types` for a challenge phase). If a user uploads a file on the frontend which has a invalid extension we should disable the submit button and show a message that selected file type is inva

[2022-02-12 17:22] haldendmello commented on #3695
@Ram81 want to work on this issue.

[2022-02-17 11:43] Suryansh5545 commented on #2699
@RishabhJain2018 if this is still not implemented then can i work on this?

[2022-02-18 12:05] surak opened #3699 "What is the stable working version with bug fixes?"
The last released version is from 4 years ago (1.1) - is there a "stable" recent version with bug fixes? Should one use the master branch? It's not clear from here.

[2022-02-22 03:07] Ram81 commented on #3699
Hi @surak, the current master is the latest release which is stable.

[2022-02-22 03:07] #3699 closed

[2022-02-22 03:08] Ram81 opened #3701 "[FrontendV2] Add search option on all challenges and hosted challenges page"
### Description

Add support to search challenges by name on the `All challenges` and `Hosted challenges` page.

[2022-02-22 03:10] Ram81 opened #3702 "[FrontendV2] Show progress bar when a participant is uploading a submission from UI"
### Description

Currently, when a participant is uploading a submission they don't see the upload progress. As part of this task we have to add support for showing a progress bar for a submission being uploaded on the UI.

[2022-02-22 03:15] haldendmello commented on #3702
@Ram81 want to work on this issue.

[2022-02-22 08:08] Suryansh5545 commented on #3701
@Ram81 I would like to take this issue

[2022-02-22 12:25] surak commented on #3699
It's hard for institutions to deploy things in production without a clear release schedule - is "master" from 2020 the same as 2022? Would it be possible to create a tag so packagers and people working with software installs can work with? Otherwise, we will simply lock into a commit.

Thanks!

[2022-02-23 17:30] haldendmello commented on #3702
![progressbar](https://user-images.githubusercontent.com/60038994/155369466-ab8b9062-0dcd-4f8a-b8ae-6d4a56dd6b4d.gif)

@Ram81 when we submit there are some dots as a progress bar there in GIF. I should replace that with some round progress bar.

[2022-02-24 02:55] seokhwankim commented on #3184
Hi @Ram81 Is there any update on this bug fix?

[2022-02-24 15:11] Suryansh5545 commented on #3702
@Ram81 @haldendmello  I think there is already a open Pr and Issue for this issue which is still working

[2022-03-22 05:49] AkariAsai opened #3710 "An circular reference error in `submission_worker.py` during evaluation"
Hi EvalAI team,

We're trying to host a challenge for a question answering shared task at our NAACL Workshop 2022, but all of the submissions I tried by myself to test evaluation scripts failed because of a circular reference detected in [`submission_worker.py`](https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/submission_worker.py). I run the evaluation script by myself following [th

[2022-03-22 22:45] RishabhJain2018 commented on #3485
Closing as this is fixed!

[2022-03-22 22:45] #3485 closed

[2022-03-22 22:55] RishabhJain2018 commented on #2574
Closing this as we already have this.

[2022-03-22 22:55] #2574 closed

[2022-03-22 22:58] RishabhJain2018 commented on #2586
Closing this as it is fixed.

[2022-03-22 22:58] #2586 closed

[2022-03-24 04:54] AkariAsai commented on #3710
The error has been solved and I close this issue.

[2022-03-24 04:54] #3710 closed

[2022-03-25 13:40] surak opened #3712 "Best practices on backups"
I have been looking at the documentation, and I couldn't find a description on how to backup the whole system and how to restore from such backup.

If someone would point me to the documentation for that, I would be grateful, as this is such an essential step of running eval.ai.

Thanks!

[2022-04-09 07:48] cypersii commented on #3695
Is this issue still open?

[2022-04-13 18:59] dkshsingh commented on #3644
want to work on it .

[2022-04-29 21:51] vaibhavad opened #3724 "EvalAI CLI doesn't work with local installation"
I installed EvalAI locally following the instructions in the [documentation](https://evalai.readthedocs.io/en/latest/installation.html). However, CLI commands are not working with local host

Steps to reproduce:

1. Run EvalAI on localhost
[code]

2. Ensure [evalai-cli](https://github.com/Cloud-CV/evalai-cli) working on staging environment
[code]

3. Change evalai-cli host to localhost
[code]

4.

[2022-05-04 22:23] gchhablani commented on #3682
Hi @Ram81
I am facing the docker error  shown in the first image as well.

[code]

[2022-05-13 01:49] matthew-so opened #3740 "EvalAI does not Compile on Docker Desktop 4.8.1"
Expected behavior: `docker-compose up --build` compiles and runs EvalAI successfully

Observed behavior: `docker-compose up --build` fails to launch `evalai-nodejs-1` and `evalai-django-1`

Steps to reproduce the problem:
`docker-compose up --build`

Operating system: Windows 11 build 22616.100, Docker Desktop version: 4.8.1

Logs:
[code]

Based on [reports from other Docker for Windows users](doc

[2022-05-15 08:00] payamka opened #3746 "Problem with run python migrate"
Hi
I want to run EvalAI on Ubuntu 22.
But when I want to run the below command:
`python manage.py migrate`

It raises an error like this:
_File "/evalai/venv/lib/python3.8/site-packages/django/conf/__init__.py", line 176, in init
raise ImproperlyConfigured("The SECRET_KEY setting must not be empty.")_

Currently I am using python 3.10

Can anyone help me with this problem?
Thanks in advance

[2022-05-15 08:13] payamka commented on #3740
I've downgraded to Docker Desktop 4.7.1 but the problem still exists!

[2022-06-01 11:29] payamka commented on #3746
To solve this problem open the _manage.py_ file
and add .env extenstion to settings. so replace this:
`os.environ.setdefault("DJANGO_SETTINGS_MODULE", "settings")`
with this:
`os.environ.setdefault("DJANGO_SETTINGS_MODULE", "settings.env")`

[2022-06-02 19:50] samarth4149 opened #3753 "Submission worker exists after checking for requirements.txt"
Hi,

I'm trying to host a competition using github, which seemed like a really easy and fast way to set one up.
Currently though, I'm having the submission worker on evalAI exit after checking for requirements.
The following is what I see under  Challenge Settings > Evaluation > Submission worker logs

[code]

and under "My submissions", I see my last submission in the "Running" state for the past

[2022-06-10 03:55] NantonZZZ commented on #3682
Hi @gchhablani

I had the issue before and found this link (https://stackoverflow.com/questions/64221861/an-error-failed-to-solve-with-frontend-dockerfile-v0/66695181#66695181) works for me.

[2022-06-21 00:49] PLopezD commented on #3626
Is there a solution?

[2022-07-11 09:25] davnov134 opened #3767 "How to store large amounts of test annotation data?"
Hello,

we are trying to host a challenge which would compare user's submissions with ground truth image data.
We have roughly 10GB of such ground truth data which needs to sit on the evaluation server.
It is not obvious where to put these files, I assume that pushing those into the template github repository is not the option here?

Thanks!

[2022-07-12 02:18] KDr2 opened #3768 "`docker-compose up --build` throws an error"
I am trying to follow the instructions on README.md to build up the docker images. But it seems that some Dockerfile uses an out-of-date system: https://github.com/Cloud-CV/EvalAI/blob/master/docker/dev/nodejs/Dockerfile this file tries to install google-chrome-stable on debian jessie, which can't be satisfied:

[code]

Is there anyone who knows how to fix this? Thank you.

[2022-07-20 19:52] haotian-liu opened #3772 "Phase is in random order in leaderboard"
Phases are in random order in the leaderboard (undesirable), unlike the sorted behavior in the phases tab.

This is due to the backend API [`challenge_phase_split_list`](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L824-L850) not ordering the filtered results by `pk`, unlike other APIs like [`challenge_phase_list`](https://github.com/Cloud-CV/EvalAI/blob/master/apps/chal

[2022-07-22 07:59] castorfou opened #3775 "build stopped at step 2/20: gpg: no valid OpenPGP data found"
Here is the issue I get when running `docker-compose up --build`

[code]

I am running it under WSL2. My WSL image is running ubuntu 22.04.
From this image I can run without problem
[code]

I guess this is due to my network configuration but any help would be much appreciated.

[2022-07-25 07:59] castorfou commented on #3775
This is because I am behind a corporate firewall. One option is to pass --no-check-certificate option to wget.
But anyway I cannot go further because apt command cannot go through it. I have to ask my corporate teams to add google apt repo to artifactory. Will take a while.

[2022-07-25 07:59] #3775 closed

[2022-07-27 09:03] castorfou opened #3777 "How to build docker images on a machine and execute to another one"
This is a question not an issue.

For a reason I cannot build evalai docker images on my host machine.
It is behind a corporate firewall. But I would like to run evalai on this host, and connect internally to our corporate gitlab.

I have successfully built docker images on a standard linux machine, out of this network. And I would like to 'move' these images on my final host and just start evalai

[2022-07-28 14:16] xmichele commented on #3777
Hello, do a docker-compose up without --build

[2022-07-28 14:22] xmichele commented on #3768
Hello, try replacing this Dockerfile step with apt-get update -qqy --no-install-recommends && apt-get install -qqy --no-install-recommends google-chrome-stable

[2022-07-28 14:27] xmichele commented on #3740
Hello, try replacing .:/code in volume section with the absolute motherpath of the docker-compose file

[2022-07-28 15:19] castorfou commented on #3777
Thank you, it works now with nodejs image. I am going to transfer all images, then start evalai. Will let you know the results.

[2022-07-28 15:19] #3777 closed

[2022-07-29 14:44] castorfou opened #3779 "To make it run with gitlab"
This is not an issue but a question.

Is there successful configuration of EvalAI using gitlab instead of github?
I have a local gitlab server and have no access to internet / github.
Specifically in process-challenge.yml, I am not sure how to translate github action context calls (such as ``` GITHUB_CONTEXT: ${{ toJson(github) }}
[code]

[2022-08-02 18:19] #3772 closed

[2022-08-03 02:14] #3768 closed

[2022-08-03 03:13] maskwang commented on #3626
???

[2022-08-23 14:07] FlinkRay commented on #3682
Hi,I am also encountering this issue.Do you sloved this issue?

[2022-08-25 13:32] gkprasanth commented on #3069
@Ram81
Hi,
I have no knowledge about any python framework.
Do you think I will be able to fix this having basic python knowledge?

[2022-08-25 17:03] MicroSTM opened #3789 "Submission status stays at "submitted" and no results show up on the leaderboard"
We are hosting a challenge here: https://eval.ai/web/challenges/challenge-page/1788/overview It is a prediction-based challenge (submitting a single result file) and it has been approved. However, after submitting results using 2 different user accounts, we found that the submissions did not generate any result entry on the leaderboard. Their status stayed at "submitted," and it did not seem like

[2022-09-02 07:05] Jerzy97 commented on #3779
I would be interested in this as well!

[2022-09-04 20:05] xchen147 opened #3796 "Submission stuck at "Submitted" for TextCaps and NoCaps"
Hello,

Looking over the previous issues, I believe this is a recurrent issue. This time this issue has been there for NoCaps and TextCaps at least 3-4 days ago.

Thanks for your attention,

[2022-09-08 06:10] vineetjain27 commented on #3301
hey @Ram81  i want to make contribution for this issue can i go ahead

[2022-09-08 12:06] PrathyushaModala commented on #3069
Hi @Ram81
@RishabhJain2018  Is the issue still open ,
Can I work on this issue??

[2022-09-08 12:07] PrathyushaModala commented on #2804
Hi @RishabhJain2018 ,
Is the issue still open, I would Like to work on it??

[2022-09-08 12:08] PrathyushaModala commented on #2691
Hi @RishabhJain2018 ,
Is the issue still open, I would Like to work on it??

[2022-09-28 22:16] MicroSTM commented on #3789
I asked for more compute resources from the EvalAI team and that solved the problem.

[2022-09-28 22:16] #3789 closed

[2022-10-02 17:41] MUDITJAIN2 commented on #3695
@Ram81  Can you please assign me this issue? im intrested to work upon it .

[2022-10-04 17:30] gchhablani opened #3815 "Test"
This is a test issue.

[2022-10-04 17:30] #3815 closed

[2022-10-10 18:11] gchhablani opened #3818 "AttributeError: 'MultiOut' object has no attribute 'flush'"
Found an issue mentioned in one of the messages:
```AttributeError: 'MultiOut' object has no attribute 'flush'.``` The VizWiz 2022 challenge evaluation is failing apparently because of this.

This is probably due to the MultiOut class added recently.

[2022-10-10 18:20] #3818 closed

[2022-10-17 10:20] artnuke opened #3824 "Installed on Docker Desktop, getting login screen but cannot go further"
Login doesn't work.

After deploying Eval AI via docker compose everything seems fine. However when I attempt to log in or sign up nothing happens at all. It seems like api error. May be I'm missing some configuration, because Im deploying on remote server with its own open ip. Please, help me out.

[2022-10-28 02:16] xinyu1205 commented on #3818
I have encountered the same problem. Is there any solution?

[2022-10-28 02:23] xinyu1205 commented on #3818
Hi, sorry to bother you. I have encountered the same problem. Is there any solution?

[2022-10-28 15:44] gchhablani commented on #3818
@xinyu1205 This issue has been fixed in staging and the fix will be moved to prod soon. Sorry for the delay.

CC @Ram81

[2022-10-29 02:07] xinyu1205 commented on #3818
Really appreciate for your reply! I'm look forward to an early resolution of this issue.

[2022-11-21 03:47] JsnowyXu opened #3834 "evalai_nodejs_1 fails to start with error: Required path doesn't exist: /code/bower_components/trix/dist/trix.css trix"
- the expected behaviour
All containers in evalai should run successfully.
- the observed behaviour
![image](https://user-images.githubusercontent.com/15681176/202961262-0ce10cf1-1e94-413f-a36b-e47e0e3035ae.png)

- steps to reproduce the problem
docker-compose up --build
can not visit localhost:8888
- which operating system and/or browser you're using, if relevant
Edge / Chrom
- (if possible) copi

[2022-11-26 05:33] ishikagurnani opened #3837 "uWSGI listen queue of socket full"
<img width="1512" alt="Screen Shot 2022-11-26 at 12 29 59" src="https://user-images.githubusercontent.com/63837696/204073777-f765c574-3a0f-4bd9-bd63-38ba5d3780ba.png">
<img width="1512" alt="Screen Shot 2022-11-26 at 12 29 14" src="https://user-images.githubusercontent.com/63837696/204073781-785f2b4e-ce7c-47f8-a64c-7ca7a5ee07d3.png">

I'm facing this issue when i run `docker-compose up --build`. I

[2022-11-28 13:25] Ilyushin commented on #3834
I have the same problem.

[2022-11-28 13:55] gchhablani commented on #3834
@Ilyushin @JsnowyXu

Hi,
We are aware of this issue and have figured out a across a solution for it. This is due to a package deprecation.
Once we test the fix, it will be added to the repository.

CC @Ram81

[2022-11-28 14:00] Ilyushin commented on #3834
@gchhablani
Hi, thanks. I have created the PR with solution.

https://github.com/Cloud-CV/EvalAI/pull/3838

[2022-11-28 17:17] Ilyushin commented on #3824
@artnuke

Try to replace localhost on your IP:
https://github.com/Cloud-CV/EvalAI/blob/09202ad46e31bd721c3cbb0c2fa31e740cd6d19e/frontend/src/js/config.json#L4

If it doesn't help, do the same here:
https://github.com/Cloud-CV/EvalAI/blob/09202ad46e31bd721c3cbb0c2fa31e740cd6d19e/docker/dev/docker.env#L11

Then deploy one more time. Don't forget to rebuild the Docker images.

[2022-11-28 23:25] rajdesai24 commented on #3069
Hi @Ram81 would love to work on this one please assign it