[2018-06-05 15:54] HargovindArora opened #1696 "gulp-deprecation error while running docker-compose command"
While running the `docker-compose up --build` command to install and compose the docker container to set up the project the command is exiting with an error. I'm attaching the screenshots of the errors that were occurring even after so many tries.

![docker_gulp](https://user-images.githubusercontent.com/22341493/40987613-9c4663e2-6906-11e8-91c6-49e07cf77e46.png)

![docker_gulp_2](https://user-ima

[2018-06-05 16:15] spyshiv commented on #1696
Currently I am working on it. Will update the gulp tasks soon.

[2018-06-05 16:41] HargovindArora commented on #1696
Ah. Ohkay. And the problem persists even while following trivial installation procedure(non-docker approach). Thanks :)

[2018-06-05 16:45] deshraj commented on #1696
@HargovindArora the gulp deprecation is a warning and that is not affecting the project in any way as of now. We are working on it as @spyshiv mentioned. Your error seems like while building docker container, your machine is not able to download the package due to some internet issues. Can you please try removing the containers and do it again? It might work then or try changing the internet conne

[2018-06-06 00:13] varunagrawal commented on #1696
Else try restarting the docker daemon. That usually works for me when docker is having a hard time connecting to the internet.

[2018-06-06 09:57] HargovindArora commented on #1696
@deshraj @varunagrawal I'm trying your given solutions and will let you know if it worked. But "gulp" warning surely did trouble me a lot while following the non-docker installation procedure.

[2018-06-06 09:59] deshraj commented on #1696
You should check out #1697 for the gulp problems. @spyshiv has already fixed it and the pull request is in the review.

Please do let us know once your error is resolved.

[2018-06-06 12:04] HargovindArora opened #1698 "Unnecessary command to execute, listed in README for docker installation instructions"
In README for docker installation, there is a command listed `cp settings/dev.sample.py settings/dev.py` but on inspection, it is found that there is no such file "settings/dev.sample.py" and it's throwing the following error:

![cp_command](https://user-images.githubusercontent.com/22341493/41037075-c65499e8-69af-11e8-98bf-8e5d56cfc6b9.png)

If this issue is valid can I work on this?
Thanks

[2018-06-06 13:16] HargovindArora commented on #1696
@deshraj As @varunagrawal stated there was an error with docker daemon. I tried restarting it but it didn't help. Therefore I completely removed and reinstalled docker and it finally worked.
But the gulp error isn't letting me to setup using non-docker approach. I'll try it again once #1697 is merged.
Thanks :)

[2018-06-08 15:32] varunagrawal commented on #1698
This seems to be an inconsistency in the README. We'll have to update that since when I wrote the docker instructions, we definitely had a sample dev settings file.
The last commit to have the sample dev settings is a1a93c192898fb1190d8dc11945e4fe70928967d so my recommendation would be to update the README and submit a PR :slightly_smiling_face:

[2018-06-08 17:55] HargovindArora commented on #1698
@varunagrawal Sure. I'm on it! :-)

[2018-06-09 12:57] AdrianP- opened #1701 "Worker error in PHASE_ANNOTATION_FILE_NAME_MAP.get()"
I did a .yaml based on the example. Seems like that:

[code]
(And everything imports well)

However, when I submit a file (in the submission page), I got this error in the log:

[code]

Do you know what could happening?

[2018-06-09 14:48] AdrianP- commented on #1701
Hi @RishabhJain2018 , thanks for the fast answer.

`Publicly Available` was set to True but `Approved by admin` wasn't. However I just tried with `Approved by admin` set to True but I get the same error.

I didn't mention in the last post, but I tried with the last version of the repo and the docker setup

[2018-06-09 16:15] RishabhJain2018 commented on #1701
okay. I think you didn't restart the submission worker. Please follow these steps and then tell us the response:
1. Stop the submission worker
2. Set `Approved by admin` & `Publicly Available` flag to True
3. Start the submission worker

[2018-06-09 16:21] AdrianP- commented on #1701
that's it, thanks @RishabhJain2018 !

I only did a `docker restart`of the evalai_worker and now I can submit without `PHASE_ANNOTATION_FILE_NAME_MAP` error

[2018-06-10 04:46] RishabhJain2018 commented on #1701
okay! No problem.
Since this is resolved hence I am closing this.

[2018-06-10 04:46] #1701 closed

[2018-06-13 14:47] RishabhJain2018 opened #1702 "Error in creating challenge when host team contains more than 1 members"
**Issue**
This line [here](https://github.com/Cloud-CV/EvalAI/blob/5be29063e0f88549eedacd9bcbe42bae2336557e/apps/challenges/views.py#L900) throws an  exception when creating a challenge with more than one host team members.

**Steps to Reproduce:**
1. Create a challenge host team
2. Add two members in the team (Total team size:3)
3. Now try creating a challenge by uploading the zip file.
4. Challe

[2018-06-13 17:42] HargovindArora commented on #1702
@RishabhJain2018 I would like to work on this! :)

[2018-06-13 17:57] RishabhJain2018 commented on #1702
@HargovindArora Sure ! But please keep in mind that we have it asap.

[2018-06-13 17:59] HargovindArora commented on #1702
@RishabhJain2018 Okay. I submit it to you ASAP

[2018-06-13 18:05] RishabhJain2018 commented on #1702
I have updated the issue description. Please take a look again.

[2018-06-14 07:20] HargovindArora commented on #1702
@RishabhJain2018 It worked for me. The challenge got created

[2018-06-14 08:37] RishabhJain2018 commented on #1702
Can you please upload the screenshot of your host team showing all its members.

[2018-06-14 08:50] HargovindArora commented on #1702
![screenshot from 2018-06-14 14-19-41](https://user-images.githubusercontent.com/22341493/41401664-0a40e45c-6fde-11e8-838a-e598ce0d6143.png)

@RishabhJain2018 Have a look!

[2018-06-15 14:29] RishabhJain2018 commented on #1702
@HargovindArora Yes, you are right. It is working. Hence, I am closing this.

[2018-06-15 14:29] #1702 closed

[2018-06-15 17:17] RishabhJain2018 opened #1703 "Show proper error message when Yaml file config has errors"
### Issue:
Proper error isn't displayed when yaml config for challenge creation isn't correct.

### Culprit Url:
`/api/challenges/challenge/challenge_host_team/{challenge_host_team_pk}/zip_upload/`

### Error:
ScannerError

### Solution
Log the error & display message as:
`Error in creating challenge. Please check the yaml configuration!`
For reference: https://www.programcreek.com/python/example/

[2018-06-16 17:27] sachinmukherjee commented on #1703
Is this issue open?

[2018-06-16 18:06] RishabhJain2018 commented on #1703
No @sachinmukherjee
@calenrobinette is working on it.

[2018-06-16 18:10] RishabhJain2018 opened #1705 "Add support for editing the challenge start and end date"
**Current Scenario:**
Currently, a challenge host can't edit the challenge start date and end date. This can only be done by EvalAI admin.

**Deliverables:**
Add functionality to edit the challenge start date and end date on frontend.
Add a check to make sure that challenge end date is always after challenge start date.

Use this(https://indrimuska.github.io/angular-moment-picker/) package for add

[2018-06-16 18:17] sachinmukherjee commented on #1703
Ok

[2018-06-16 18:22] RishabhJain2018 opened #1706 "Display the created time in the zip configuration admin"
Add `created_at` in the `list_display` tuple.
Reference link: https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/admin.py#L61

[2018-06-17 06:16] isht3 opened #1708 "Prevent users from participating in the past challenges using the API."
# Current Behaviour

You can participate in any past challenge using the end-point `/api/challenges/challenge/{}/participant_team/{}` which is not the desired behavior.

# Expected Behaviour

We should place a check in the  view to see if it's a request to participate in a past challenge and then block it.

[2018-06-17 16:51] #1706 closed

[2018-06-18 18:13] #1708 closed

[2018-06-19 09:11] #1659 closed

[2018-06-19 13:52] RishabhJain2018 commented on #1696
I think this is resolved. Hence, closing this one.
@HargovindArora Feel free to open up if you find some issues.

[2018-06-19 13:52] #1696 closed

[2018-06-19 13:55] RishabhJain2018 commented on #1656
Since this is resolved. Hence, I am closing this one.

[2018-06-19 13:55] #1656 closed

[2018-06-19 14:01] RishabhJain2018 commented on #1553
It seems like @vladan-jovicic has been inactive for a long time.
@live-wire Do you want to take this up ?

[2018-06-19 16:39] RishabhJain2018 commented on #1294
I think we @isht3 have already completed this. Hence, closing this.

[2018-06-19 16:39] #1294 closed

[2018-06-19 16:41] RishabhJain2018 commented on #1548
No @sachinmukherjee you can go ahead if you want. :)

[2018-06-19 19:13] RishabhJain2018 opened #1712 "Add a check to stop filtering the disabled challenges under Hosted Challenges"
**Current Scenario:**

Currently all the challenges which are hosted by the host are filtered under `Hosted Challenges` section.
Refer here: https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L84

**Deliverables:**

We want to modify the behaviour by not filtering the deleted challenges by the challenge host.

**How to Fix:**

- [ ] Modify the query to `challenge = Challenge.o

[2018-06-20 00:57] niranjani23 commented on #1698
Is this issue still open?

[2018-06-20 01:02] varunagrawal commented on #1698
I believe @HargovindArora has already submitted a PR. We'll close this issue once his PR is approved and merged.

[2018-06-20 01:16] niranjani23 commented on #1590
Is this issue still open?

[2018-06-21 14:11] sachinmukherjee opened #1714 "Change team name dialog box should disable submit button when no team name is entered"
- The Expected Behavior
The change team name dialog box submit button should be enabled when a team name is entered.
![team name](https://user-images.githubusercontent.com/19318218/41724258-cb857914-758a-11e8-8e2b-ccfa9b4d6ecd.png)

- The Observed Behaviour
 At present even though no team name is entered it successfully updates the team name.
![screenshot from 2018-06-21 06-20-40](https://user-ima

[2018-06-21 14:23] RishabhJain2018 commented on #1714
@sachinmukherjee Thanks for catching the bug.
 Would you like to work on it ?

[2018-06-26 23:57] bryanfree66 commented on #1593
I would like to work on this, if that's ok.

[2018-06-27 02:31] RishabhJain2018 commented on #1593
Yes it's still open. You can work on it. :+1:

[2018-06-27 06:56] #1698 closed

[2018-06-28 02:19] RishabhJain2018 opened #1718 "Make submission metadata field optional in database."
### **Deliverables:**

- [x] Make the `Project URL`, `Publication URL`, `Method Name`, `Method Description` optional in the database

- [x] Update the frontend where we enter the above 4 fields and show in brackets `(optional)`

[2018-06-28 05:36] RishabhJain2018 opened #1721 "Add support for . in challenge host teams"
Add support to allow having `.` in the challenge and participant team name.

[2018-06-28 05:41] RishabhJain2018 opened #1722 "Add Team Url field in database & on UI."
### Deliverables
Add a new field `url` related to a team so that we can set hyperlink to the host team name or participant team name.

[2018-06-28 05:44] RishabhJain2018 opened #1724 "Increase width of horizontal scrollbar"
**Deliverables:**
Scrollbar on `my submissions page` and `view all submissions` page _has_ to be more intuitive. It’s barely visible right now, we have to make it thicker.

[2018-06-28 09:39] #1724 closed

[2018-06-28 09:55] #1721 closed

[2018-06-29 02:59] RishabhJain2018 opened #1727 "Futile error message pops up while submission"
<img width="338" alt="screen shot 2018-06-29 at 1 11 14 am" src="https://user-images.githubusercontent.com/12206047/42070962-64af4354-7b76-11e8-8e80-dd681e469ec8.png">

This keeps popping up between consecutive submissions. Submissions are submitted and results are calculated successfully, so do not know why this pops up.

[2018-06-29 03:21] #1727 closed

[2018-06-29 04:55] #1718 closed

[2018-06-29 05:07] #1722 closed

[2018-06-30 07:33] deshraj opened #1731 "Use Yarn instead of Gulp"
It's time to move away from Gulp. We would like to use Yarn as a package manager instead of gulp.
See https://bower.io/blog/2017/how-to-migrate-away-from-bower/ for more details.

[2018-06-30 17:03] #1703 closed

[2018-07-02 15:15] deshraj opened #1733 "Error in receiving message from submission queue with error 'NoneType' object has no attribute 'get'"
https://sentry.io/cloudcv/evalai/issues/498341967/

[code]

Note that this error occurs whenever you try to make submission to a challenge which is not active/not approved. This leads to making the submission status stuck to `SUBMITTED` state only. Instead we would like to change it to canceled and show user a readable error message that 'Sorry your submission cannot be processed since the challen

[2018-07-02 17:18] RishabhJain2018 opened #1734 "Show explicit error message while creating a team."
**Current Scenario:**
We only display a error message that says `Team cannot be created`.

**Deliverables:**
We want to show the specific error message returned from backend stating that why the team can't be created.

**What you have to do:**
1. Change the error message [here](https://github.com/Cloud-CV/EvalAI/blob/master/frontend/src/js/controllers/teamsCtrl.js#L239) to `error.team_name[0]`.
2.

[2018-07-03 06:45] RishabhJain2018 opened #1735 "Update django to 1.11"
Change the django version to `django==1.11` in the `requirements/common.txt` file.

[2018-07-03 07:31] HargovindArora commented on #1735
@RishabhJain2018 I would like to work on it! :)

[2018-07-03 08:12] RishabhJain2018 commented on #1735
Sure @HargovindArora. Go Ahead!

[2018-07-03 11:04] RishabhJain2018 opened #1736 "Change the uploaded challenge logo to some random name."
### Current Scenario:
Currently all the challenge logo images are being uploaded by the same name as the user has them on their local machine.

Hint: See the names for https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/models.py#L42 evaluation script.

### Deliverables:
We want that the logo images should be stored with unique random string on the server.

[2018-07-03 12:49] HargovindArora commented on #1736
@RishabhJain2018 I would like to work on this!

[2018-07-03 12:50] RishabhJain2018 commented on #1736
Sure @HargovindArora Go Ahead!

[2018-07-03 12:52] #1735 closed

[2018-07-04 05:10] #1736 closed

[2018-07-04 18:11] HargovindArora commented on #1734
@RishabhJain2018 I would like to do this one!

[2018-07-04 18:12] RishabhJain2018 commented on #1734
Sure @HargovindArora Go Ahead!

[2018-07-04 18:15] HargovindArora commented on #1734
Okay. I'm on it

[2018-07-05 11:32] RishabhJain2018 opened #1740 "Modify challenge phase query for displaying challenge phase detail"
**Current Scenario:**
The function [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L398) will **not** throw the error even if there are no challenge phase corresponding to the challenge.

**Steps to Reproduce:** You will only be able to check it only at the API level.
Let us suppose there exists a challenge with id 34 and phase ids 120, 121. Now when you will hit the

[2018-07-05 12:08] HargovindArora commented on #1740
@RishabhJain2018 I would like to work up on this!

[2018-07-05 12:08] HargovindArora commented on #1740
@RishabhJain2018 I would like to work up on this!

[2018-07-05 12:09] RishabhJain2018 commented on #1740
Sure @HargovindArora go ahead!

[2018-07-05 22:48] deshraj opened #1741 "Challenges: Wrong number of submissions displayed in challenge analytics section"
Currently, the count of submissions for each phase in a challenge is wrong in the Challenge Analytics section. It looks like there is something off with the API returning response.

[2018-07-06 15:05] HargovindArora commented on #1740
@RishabhJain2018 How to check whether the changes made are showing effect? I meant how should I reproduce error after making the required changes? I tried deleting the phases of the challenges already present there, nothing happened.

[2018-07-06 15:23] RishabhJain2018 commented on #1740
@HargovindArora I have updated the description.

[2018-07-07 07:22] #1734 closed

[2018-07-12 05:25] deshraj opened #1746 "Bug in showing remaining submissions"
Currently, if the number of total remaining submissions is less than that of the limit set for doing the total number of submissions in a day, then ideally total submissions that can be done should be equal to the total remaining submissions which is not the case right now. Please see the screenshot below for illustration:

<img width="1186" alt="screen shot 2018-07-11 at 10 22 14 pm" src="https:/

[2018-07-13 10:35] Gautam1630 commented on #1746
Can I work on this issue?

[2018-07-13 12:20] RishabhJain2018 commented on #1746
Hi @Gautam1630 I have already completed the above issue and opened a PR. Please feel free to take up any other issue.

[2018-07-17 08:06] 123vivekr commented on #1619
I am a newbie in this project. Can I work on this?

[2018-07-17 08:07] deshraj commented on #1619
Sure @123vivekr. Go ahead. :)

[2018-07-17 16:32] 123vivekr commented on #1619
I have gone through the source a couple of times. I am confused on how to route to the angular log-in page through back-end Django function?

[2018-07-24 00:38] alrlchoa commented on #1733
May I try fixing this bug?

[2018-07-24 18:03] RishabhJain2018 commented on #1733
@alrlchoa Sure go ahead!

[2018-07-25 11:16] rakesh-1601 commented on #1740
I would like to start contributing by working on this !!

[2018-07-25 16:39] isht3 commented on #1740
@rakesh-1601 Sounds good! Please let us know here or on our Gitter channel if you're having any difficulties. :)

[2018-07-26 04:11] RishabhJain2018 commented on #1740
@rakesh-1601 Please feel free to take up any other issue since @HargovindArora has already opened a PR for this.

[2018-07-26 05:32] rakesh-1601 commented on #1731
I would like to solve this issue!!!

[2018-07-26 05:46] deshraj commented on #1731
@rakesh-1601: Please take one issue at a time. You can take it once you finish the other issue that you are working on right now.

[2018-07-28 19:46] #1741 closed

[2018-07-28 20:15] #1746 closed

[2018-07-29 05:18] alrlchoa commented on #1733
Hi @RishabhJain2018 !
Thanks! Only got to see this now. While looking through the code, I had a couple of questions:

1) For the approval part of the admin, I opened up the Model for the Challenges. Correct me if I am wrong, but I did  not see any public function for calling approval property. Is that by design? If so, where may I get it? If not, may I create said public function or will something

[2018-08-01 05:25] deshraj opened #1756 "Gulp Staging Fails"
The new change introduced in #1755 breaks the gulp staging task. Please see the error log below:

[code]

cc: @live-wire @RishabhJain2018

[2018-08-01 18:54] Arpitrf commented on #1740
Hello. Is this issue still open? Can I work on this?

[2018-08-01 19:09] deshraj commented on #1740
@Arpitrf looks like #1751 is already there for this. Please feel free to take any other unassigned issue.

[2018-08-02 17:46] Arpitrf commented on #1731
Can I work on this issue?

[2018-08-05 04:15] pujanm commented on #1705
I am interested in solving this issue how can I go about the same?

[2018-08-05 15:20] RishabhJain2018 opened #1758 "Fix Bug in EvalAI Submissions"
Sometimes the submissions in `evalai` have status as submitted but the input file is blank.

[2018-08-05 15:54] RishabhJain2018 opened #1759 "Add Filtering by participant team name in EvalAI Admin"

[2018-08-07 21:59] apsdehal opened #1760 "Signup failing with Cross Origin Read Block"
Options preflight is failing to evalapi.cloudcv.org on sign up.

Browser: Google Chrome (Version 67.0.3396.87, 64-bit)
OS: Mac OS 10.3.5

[2018-08-08 03:32] deshraj commented on #1760
@apsdehal : Sorry for the inconvenience. There is some issue with the gunicorn prod setup that we are fixing. As of now, the issue is fixed temporarily. We will keep you posted about the permanent fix.

[2018-08-08 04:11] deshraj opened #1762 "Python 3 Travis Checks failing"
## Details

The Python3 checks seem to be failing on Travis. See https://travis-ci.org/Cloud-CV/EvalAI/jobs/413411233 for more details.

Also, this seems to be related to #1681

[2018-08-08 07:45] deshraj opened #1764 "AttributeError: This QueryDict instance is immutable"
Private Link: https://sentry.io/cloudcv/evalai/issues/505241594/
Public Link: https://sentry.io/share/issue/9fe7a0283bfa4481b4eb222dbce9494c/

[code]

[2018-08-15 10:33] GauravJain98 opened #1767 "Typos in the docs"
There are multiple typos in the docs
such as pyhton in https://github.com/Cloud-CV/EvalAI/blob/master/docs/source/faq(developers).md

[2018-08-15 17:49] GauravJain98 commented on #1767
I have fixed them in PR https://github.com/Cloud-CV/EvalAI/pull/1768

[2018-08-16 18:34] pujanm commented on #1705
Can you help me out.
I am really interested to contribute to CloudCV.

[2018-08-16 19:40] RishabhJain2018 commented on #1705
Hi, @pujanm I am sorry that I missed this message. Thanks for your interest in CloudCV.

For the above issue, you can check how we have implemented the challenge details edit section. We will be following the same approach as that. Please let me know if you have further doubts. I'll be happy to help.

[2018-08-18 17:55] taranjeet commented on #841
@deshraj @RishabhJain2018 : Is this issue still required? If not can we please close it?

[2018-08-18 17:56] taranjeet commented on #842
@deshraj @RishabhJain2018 : Same for this issue. If not required can we please close it?

[2018-08-18 17:56] taranjeet commented on #840
@deshraj @RishabhJain2018 : this one also. Can we please close it if not required?

[2018-08-19 04:07] deshraj commented on #840
Yeah I agree. We are moving towards using AWS SQS instead of RabbitMQ and hence we won't need this now. Closing this issue.

[2018-08-19 04:07] #840 closed

[2018-08-19 04:10] deshraj commented on #842
We would need this feature really soon after migrating to SQS #1752. Closing as of now since the issue description is outdated now.

[2018-08-19 04:10] #842 closed

[2018-08-19 04:11] deshraj commented on #841
Similar to #842. Closing it. Thanks for pointing out @taranjeet :)

[2018-08-19 04:11] #841 closed

[2018-08-22 14:58] #1767 closed

[2018-08-22 16:10] GauravJain98 opened #1772 "Error"
Getting an error on doing a curl request to /accounts/login/
![image](https://user-images.githubusercontent.com/19913130/44475927-fe13b180-a653-11e8-8f56-ed14761dea1d.png)

[2018-08-22 16:13] GauravJain98 opened #1773 "accounts/login gets redirected to a 404 page"
Opening on browser
I get this

![image](https://user-images.githubusercontent.com/19913130/44476104-68c4ed00-a654-11e8-9c8f-19d1d1b9a032.png)

[2018-08-22 16:16] RishabhJain2018 commented on #1772
Hi @GauravJain98 I think you are using the wrong URL for logging in. Please take a look at the API docs here [](http://localhost:8000/docs/ ) once your Django server is running.

[2018-08-22 16:17] RishabhJain2018 commented on #1773
Hi @GauravJain98 I think you are using the wrong URL for logging in. Please take a look at the API docs here [http://localhost:8000/docs/](http://localhost:8000/docs/) once your Django server is running.

[2018-08-22 16:55] GauravJain98 commented on #1773
Okay

[2018-08-22 22:35] RishabhJain2018 opened #1777 "Add functionality to update the profile picture"
**Current Scenario:**
A user can't update his profile picture.

**Deliverables:**
A field on the profile page where a user can upload an image in order to update it.
The screenshot of the Update Profile Page is given below.
<img width="1440" alt="screen shot 2018-08-22 at 6 33 23 pm" src="https://user-images.githubusercontent.com/12206047/44494531-28587580-a63a-11e8-8e0d-e02190ee29e3.png">

[2018-08-23 14:50] party98 commented on #1777
Hey, I would like to take this issue. However, I am new to the project and was hoping if some assistance could be provided

[2018-08-23 14:54] party98 commented on #1543
Hey, since there has been no update on this issue, I was hoping I could be assigned this issue instead. However, I am new to this project and will be requiring some assistance in fixing this.

[2018-08-23 16:19] isht3 commented on #1543
@party98 Sure! But please only work on one issue at a time and if you face any difficulty, ask us here or on the channel.

[2018-08-24 04:17] party98 commented on #1543
Turns out issue1 and part of issue2 were due to password rimming in the authorisation module in Django. I have created a PR in the relevant repo to fix the same.
As for issue3, the max password length allowed by Django is 4096 characters and that allowed by rest_auth is 128 characters. But as a standard I have seen the password fields to have 32 characters at max therefore I have applied the same

[2018-08-26 01:56] sachinmukherjee commented on #1759
Can I work on this issue?

[2018-08-26 15:16] sachinmukherjee commented on #1759
Hey I think filtering by participant team name is already there.
![paricipant team](https://user-images.githubusercontent.com/19318218/44629711-c87f0900-a970-11e8-8056-3b1bb7e41e35.png)
Here is the code that filters according to participant team name
`list_filter = ('team_name',)`

[2018-08-26 16:14] party98 commented on #1593
Hey, since there has been no activity for this issue in a while, I would like to take this issue. Please assign.

[2018-08-26 17:07] party98 opened #1782 "Unable to login via Safari"
### The expected behaviour
Successfully be able to login to the dashboard on Safari

### The observed behaviour
Unable to maintain a session. After 5 seconds of logging in, a timeout error is generated and the site logouts automatically.

### Steps to reproduce the problem
Try logging in via safari

### Which operating system and/or browser you're using, if relevant
macOS 10.13.6
Safari 11.1.2

##

[2018-08-28 22:38] RishabhJain2018 opened #1784 "Make Exception message more verbose"
Add Challenge Phase name and ID along with Dataset split name & ID in the error message here
https://github.com/Cloud-CV/EvalAI/blob/master/scripts/workers/submission_worker.py#L352

[2018-08-29 14:53] party98 commented on #1784
I'd like to take this issue up.

[2018-08-30 12:47] sashank27 commented on #1733
@deshraj @RishabhJain2018 I would like to add this functionality. I am not very thorough with the codebase yet, so please guide me on how to proceed with this.

[2018-08-31 13:41] pujanm commented on #1705
I was trying to edit the challenge overview it is giving this `/api/challenges/challenge_host_team/undefined/challenge/3` there is an undefined in place of `challengeHostId`. Is there any reason or I might have done some mistake while making this challenge?

[2018-09-01 16:56] darthgera123 commented on #1764
Hi can i work on this issue

[2018-09-01 16:57] darthgera123 commented on #1619
Hi is this issue still open, else can i work on this?

[2018-09-02 14:53] taranjeet commented on #1005
@deshraj @RishabhJain2018 : Can we close if not required?

[2018-09-02 20:04] darthgera123 commented on #1764
@RishabhJain2018

[2018-09-04 19:20] RishabhJain2018 opened #1787 "Add created_at field in django admin"
Display a `created_at` field in Django admin for the Challenge model.

[2018-09-05 04:29] deshraj opened #1789 "Improve exception handling for import errors in evaluation script"
Currently if there is a challenge evaluation script which contains some custom python package requirement which is not installed on EvalAI server, then the submission worker process gets killed automatically. Please see the example log below where `tqdm` is missing in the system.

[code]

We want to make the system more robust. So, we would want to add exception handling so that the worker process

[2018-09-05 09:07] party98 commented on #1789
Should we catch an `ImportError` exception and extract the package name that is missing and try to install it in the submission folder using pip?
If this fails, then we can throw an error indicating to that the server was unable to run the script due to error in import the package.

[2018-09-05 10:32] party98 commented on #1789
Please give a go ahead if you think this is a good idea so that I can begin work. 😀

[2018-09-05 23:32] RishabhJain2018 opened #1791 "Fix Failing test cases in Python 3"
The Travis-CI build for python 3 is failing.
The tasks involved are:
1. Fix the flake8 errors
2. Fix the failing test cases

[2018-09-07 03:04] RishabhJain2018 commented on #1759
yes! thanks for pointing out. Closing this issue.

[2018-09-07 03:04] #1759 closed

[2018-09-07 05:59] souravbadami opened #1793 "https://evalai.cloudcv.org/web/permission-denied should redirect if already verified."
_Thanks for taking the time to report a bug in the EvalAI project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/EvalAI/issues)._

If you'd like to report a bug, please include the following information:
- the expected behaviour
- the observed behaviour
- steps to reprodu

[2018-09-07 10:50] usmanmuhd commented on #1777
Hey @RishabhJain2018 , I am interested to work on this issue. Would you assign it to me or shall I just start working?

[2018-09-08 07:32] usmanmuhd opened #1795 "Update profile button not shown in mobile view"
In mobile view the update profile button is not shown as expected.
![screenshot from 2018-09-08 13-05-36](https://user-images.githubusercontent.com/26684281/45251691-0cf2a780-b368-11e8-8610-a01cc62828e9.png)

[2018-09-09 02:54] RishabhJain2018 commented on #1795
Thanks @usmanmuhd for pointing out. Would you like to work on it?

[2018-09-09 04:06] usmanmuhd commented on #1795
@RishabhJain2018 Currently I am more interested in working on #1777 . I was thinking of making this one as a GCI task. There a lot more instances of this kind. Example:
![inc](https://user-images.githubusercontent.com/26684281/45260988-c8244a80-b413-11e8-8df9-be7415848227.png)

[2018-09-09 18:49] RishabhJain2018 commented on #1795
Sure @usmanmuhd . You can work on it. But for GCI tasks please make sure that the tasks are easy enough for the students (Remember that they are high school students 13-17 years). If there is a tough task then break it into smaller tasks & later on combine all these tasks.

[2018-09-10 01:26] RishabhJain2018 commented on #1791
Sure @kurianbenoy You can take this issue. Just for the head start here is the link to failing test cases & flake8 errors https://travis-ci.org/Cloud-CV/EvalAI/jobs/425998771#L1340

[2018-09-10 01:36] kurianbenoy commented on #1791
@RishabhJain2018 thanks

[2018-09-10 01:48] usmanmuhd commented on #1795
@RishabhJain2018 Could I PM you on gitter  in order to discuss the tasks for the GCI.
PS: I have filled the form for being a GCI mentor.

[2018-09-10 03:46] TejasBhitle opened #1798 "Leaderboard Table is not horizontally scrollable in Mobile View"
The leaderboard table on the path on challenge page is not horizontally scrollable in mobile view.
(see example on "https://evalai.cloudcv.org/web/challenges/challenge-page/103/leaderboard/298")

Screenshot:

<div>
<img src="https://user-images.githubusercontent.com/17432193/45275084-4fd38d00-b4d8-11e8-875e-fb8ef68c77cc.jpg" width="250">
</div>
<br><br>
Can I work on this ?

[2018-09-10 03:56] matthew-z commented on #1782
+1

[2018-09-10 05:18] deshraj opened #1799 "KeyError: 'evaluation_details'"
https://sentry.io/cloudcv/evalai/issues/680906137/

[code]

[2018-09-10 12:58] darthgera123 commented on #1799
ill solve this one

[2018-09-10 13:55] deshraj opened #1800 "Load challenge data in the process when challenge is created"
## Description

Currently, when someone creates a challenge on EvalAI, then gets the access to make submissions to that challenge in order to test it. But the catch here is that the submission worker is not ready to accept the submissions for that challenge since it needs to load the evaluation script and other required files. Hence whatever submission the challenge host does, it stays in the subm

[2018-09-11 03:45] RishabhJain2018 opened #1802 "AttributeError at /api/challenges/challenge/{challenge_pk}/challenge_phase/{pk}"
**Steps to Reproduce:**
1. Edit challenge phase details in a challenge
2. Change the date to `--` & submit the form.

**Original message:**
 AttributeError at /api/challenges/challenge/{challenge_pk}/challenge_phase/{pk}

**Expected Message:**
The form should not be submitted & user should know the error.

[2018-09-11 09:28] sachinmukherjee commented on #1802
@RishabhJain2018 Can I work on this issue?

[2018-09-12 00:12] deshraj commented on #300
We haven't reached to the state where we will need to add it in the client side. We already have the support for pagination on the backend side. We can revisit this later. Closing it as of now.

[2018-09-12 00:12] #300 closed

[2018-09-12 00:15] deshraj commented on #552
FYI: This issue is still open. Please feel free to pick it up. Also,  tagged it as a good first issue. :)

[2018-09-12 00:15] deshraj commented on #1005
Thanks @taranjeet for pointing it out. Closing it.

[2018-09-12 00:15] #1005 closed

[2018-09-12 00:18] deshraj commented on #1134
Closing this issue for now as we are working on @Cloud-CV/evalai-ngx . @live-wire can you please take care of this in ngx?

[2018-09-12 00:18] #1134 closed

[2018-09-12 00:29] deshraj commented on #1358
This is a very vague issue. Also, we don't need it now since we are moving towards Cloud-CV/EvalAI-ngx (new frontend of EvalAI). Hence, closing it.

[2018-09-12 00:29] #1358 closed

[2018-09-12 00:31] RishabhJain2018 commented on #1795
This is not the right place to talk about GCI. Please send all the GCI related messaged on the gitter channel. Moreover, if you want to work on the frontend for EvalAI then please use this https://github.com/Cloud-CV/EvalAI-ngx repository.

[2018-09-12 00:32] deshraj commented on #1359
Closing this issue since we are going to release the new frontend of EvalAI soon. (Cloud-CV/EvalAI-ngx)

[2018-09-12 00:32] #1359 closed

[2018-09-12 00:33] RishabhJain2018 commented on #1793
This is the desired behavior. Hence Closing this issue!

[2018-09-12 00:33] #1793 closed

[2018-09-12 00:36] RishabhJain2018 commented on #1789
Fixed in #1801 . Hence closing this one! @party98 Please pick any other issue.

[2018-09-12 00:36] #1789 closed

[2018-09-12 00:36] deshraj commented on #1483
Closing this issue since we will deprecate the current frontend code as we are working on the new frontend of EvalAI.

[2018-09-12 00:36] #1483 closed

[2018-09-12 00:37] deshraj commented on #1486
This issue is still open. If someone is interested, please feel free to take this issue.

[2018-09-12 00:38] deshraj commented on #1497
Similar to #1681. Closing it.

[2018-09-12 00:38] #1497 closed

[2018-09-12 00:39] RishabhJain2018 commented on #1762
There is a similar issue #1791 . hence closing this one!

[2018-09-12 00:39] #1762 closed

[2018-09-12 00:39] deshraj commented on #1503
This issue is invalid now. Hence closing it.

[2018-09-12 00:39] #1503 closed

[2018-09-12 00:40] RishabhJain2018 commented on #1760
This seems to be fixed!

[2018-09-12 00:40] #1760 closed

[2018-09-12 00:41] RishabhJain2018 commented on #1756
This seems to be fixed!

[2018-09-12 00:41] #1756 closed

[2018-09-12 00:42] RishabhJain2018 commented on #1731
This issue is invalid since we are planning to move with https://github.com/Cloud-CV/EvalAI-ngx

[2018-09-12 00:42] #1731 closed

[2018-09-12 00:42] deshraj commented on #1429
We have decided to not move with this feature. If someone is still interested in working on this feature, please feel free to reopen and comment on this issue thread.

[2018-09-12 00:42] #1429 closed

[2018-09-12 00:44] deshraj commented on #1508
This issue is still unassigned. Please feel free to take this if someone is interested.

[2018-09-12 00:46] deshraj commented on #1514
This issue is already fixed in #1582

[2018-09-12 00:46] #1514 closed

[2018-09-12 00:47] deshraj commented on #1517
This issue is not valid now since we are moving to Cloud-CV/evalai-ngx

[2018-09-12 00:47] #1517 closed

[2018-09-12 00:48] deshraj commented on #1520
This issue is not valid now since we are moving to Cloud-CV/EvalAI-ngx. Thanks for opening this @anweshknayak though :)

[2018-09-12 00:48] #1520 closed

[2018-09-12 00:48] deshraj commented on #1521
This issue is already fixed. Closing it.

[2018-09-12 00:48] #1521 closed

[2018-09-12 00:52] RishabhJain2018 commented on #1614
This issue isn't valid for this version. :)

[2018-09-12 00:52] #1614 closed

[2018-09-12 00:55] deshraj commented on #1546
It was a GSOC 2018 related issue and is no longer valid. Closing it.

[2018-09-12 00:55] #1546 closed

[2018-09-12 00:57] deshraj commented on #1548
This issue is not valid now since we are moving to Cloud-CV/EvalAI-ngx

[2018-09-12 00:57] #1548 closed

[2018-09-12 00:58] deshraj commented on #1553
@live-wire I am closing this issue here. Can you please open a similar issue for EvalAI-ngx? We should totally add this feature.

[2018-09-12 00:58] #1553 closed

[2018-09-12 00:59] deshraj commented on #1558
@isht3 can you please take lead on this issue and solve it? Please feel free to assign it to yourself.

[2018-09-12 00:59] RishabhJain2018 commented on #1604
@live-wire I am closing this issue here. Can you please open an issue for the same in EvalAI-ngx as we will need this functionality there.

[2018-09-12 00:59] #1604 closed

[2018-09-12 01:00] deshraj commented on #1590
This issue is already fixed. Hence closing it.

[2018-09-12 01:00] #1590 closed

[2018-09-12 01:01] deshraj commented on #1593
@party98 Please feel to work on this issue. Let us know if you have doubts.

[2018-09-12 01:02] RishabhJain2018 commented on #1601
@live-wire I am closing this issue here. Can you please open a issue regarding this in EvalAI-ngx as we will need this feature.

[2018-09-12 01:02] #1601 closed

[2018-09-12 01:02] deshraj commented on #1594
@isht3 Can you please finish this issue? It seems to be very trivial for you. ;)

[2018-09-12 01:05] bryanfree66 commented on #1593
Thank you Deshraj. I’ll try to do some work on it this weekend. I’ve been busier than normal at work for the past month.
On Sep 11, 2018, 8:01 PM -0500, Deshraj Yadav <notifications@github.com>, wrote:

[2018-09-16 21:02] vkartik97 opened #1810 "Host Challenge link on Home Page not working"
-  the observed behaviour
`Host Challenge` is having href `unsafe:javascript:void(0)` and giving `The address wasn’t understood` after clicked
![screenshot from 2018-09-17 02-27-08](https://user-images.githubusercontent.com/3920286/45600858-61112200-ba21-11e8-9f9b-2de353fbde27.png)
- which operating system and/or browser you're using, if relevant
Ubuntu 18.04 LTS
Firefox 62.0 (64-bit)

[2018-09-18 04:50] souravbadami commented on #1793
Really ? Sure!

[2018-09-18 11:09] deshraj commented on #1810
@vkartik97 thanks for reporting this. I can also reproduce this error on Firefox. If you are interested in fixing this issue, please let me know.

[2018-09-18 12:18] w3x10e8 commented on #1810
I'll fix this if @vkartik97 wants to work on some other issue

[2018-09-18 14:52] vkartik97 commented on #1810
@w3x10e8 you can work on this.

[2018-09-18 15:09] vkartik97 commented on #1810
@deshraj
Can you have this as an Task in GCI ?

[2018-09-18 15:12] party98 commented on #1810
The same issue is observable on Safari on macOS as well.

[2018-09-18 17:15] kurianbenoy opened #1813 "Make code into PEP8 format"
As per EvalAI [contributing guidelines](https://github.com/Cloud-CV/EvalAI/blob/master/.github/CONTRIBUTING.md). The source code should be in PEP8.

When I typed the mentioned docs in PEP8 . I realised that PEP8 was not enforced in some files.

**Expected Action**
- `  autopep8 --in-place --exclude env,docs --recursive . `
-  Add your commit message

Thanks!

[2018-09-18 21:31] vkartik97 opened #1814 "Generating new API Authentication Token"
**Feature:**
- Generation of New API Authentication Token and discarding old one.

Thanks!

[2018-09-18 21:37] #1814 closed

[2018-09-18 22:17] vkartik97 opened #1815 "Using Python 3 ONLY"
Currently, EvalAI is based on Python2.7([docker/prod/django/Dockerfile#L1](https://github.com/Cloud-CV/EvalAI/blob/4e725674bd2ee2fd5f4daf23328f6b868d2c9ca2/docker/prod/django/Dockerfile#L1)), but [`it will retire soon`](https://pythonclock.org/).
It will be better if we start migrating to Python3.
Thanks!

[2018-09-19 00:33] kurianbenoy commented on #1815
@vkartik97 the process to migrate has already started. Check #1791 #1786

[2018-09-19 00:47] RishabhJain2018 commented on #1815
Thanks, @vkartik97 for the suggestion. We are already working on this feature and are about to release it.
Hence closing this issue.

[2018-09-19 00:47] #1815 closed

[2018-09-19 17:11] w3x10e8 opened #1816 "Bugged contact us page if https://evalai.cloudcv.org/contact is directly opened"
Hi the Contact Us page if directly opened from the link https://evalai.cloudcv.org/contact is bugged.
Steps to reproduce :-
Login to https://evalai.cloudcv.org
Open the page https://evalai.cloudcv.org/contact

![capture](https://user-images.githubusercontent.com/29617462/45769314-e2a0c400-bc5c-11e8-9e52-7d93f35d0236.PNG)

System details
Windows 10
Google Chrome Version 69.0.3497.100 (Official Buil

[2018-09-19 19:16] deshraj commented on #1816
It's not a big, it's a feature. :)

This is an expected behaviour where we automatically fill the email address field of the user if he is logged in. Hence, closing it.

If this issue is about something else, then please feel free to reopen this issue.

[2018-09-19 19:33] w3x10e8 commented on #1816
I was talking about the UI it isn't aligned properly vertically if you open the link directly

[2018-09-19 19:35] deshraj commented on #1816
Ah I see. Thanks for bringing that up. Reopening the issue.

Please feel free to work on this issue if interested. :)

[2018-09-19 19:59] w3x10e8 commented on #1816
Yea I will try to work on it:)

[2018-09-20 12:52] party98 commented on #1813
If you have gone through the travis configuration, flake8 is implemented to be run to check the formatting.

[2018-09-20 14:12] party98 commented on #1190
Hey, I'd like to work on this. I was thinking that instead of creating a docker container or running a different worker, I was thinking that while a submission is being evaluated, the `cwd` of the worker can be changed and the required packages can be locally installed in the submission directory using `pip install numpy -t .` command which will cause the version specified to be installed in the s

[2018-09-20 19:11] deshraj commented on #1813
Yes, @party98 is right. We enforce PEP8 guidelines but Autopep8 adds up bunch of extra things that are not required.

Although thanks for opening this issue @kurianbenoy :)

[2018-09-20 19:11] #1813 closed

[2018-09-21 07:24] vkartik97 opened #1817 "Adding Short Circuit Behaviour in Prod's django/container-start.sh"
If you'd like to request a modification :
- Adding Short Circuit Behavior in [`docker/prod/django/container-start.sh
`](https://github.com/Cloud-CV/EvalAI/blob/master/docker/prod/django/container-start.sh)

For more information on why we need this, please read https://stackoverflow.com/questions/89154/benefits-of-using-short-circuit-evaluation?answertab=active#tab-top

Thanks!

[2018-09-21 13:49] #1817 closed

[2018-09-21 13:54] #1787 closed

[2018-09-21 19:04] vkartik97 opened #1819 "Prompt the User if $SECRET_KEY is not set for Production"
I would like to request a feature
- Normally, `random_secret_key` is used as SECRET_KEY, [`settings/common.py#L27`](https://github.com/Cloud-CV/EvalAI/blob/40c56a44b25fe54f2922e5c83ab905f4f67374aa/settings/common.py#L29)for django by default, if `$SECRET_KEY` is not set.
- If a user tries to start the server in Production without `$SECRET_KEY` set, the program should prompt the user about the same

[2018-09-22 19:52] knakul853 opened #1821 "Download JSON is not working in API Authentication Token pop-up box"
* the observed bevaviour

in user profile  **Download JSON** is not working
after clicking it doesn't give any response

![screenshot from 2018-09-24 00-44-03](https://user-images.githubusercontent.com/32031946/45921203-ef2c5300-bece-11e8-89a6-7e2ba226a1d6.png)

[2018-09-22 20:18] deshraj commented on #1821
@knakul853 Can you please add the browser name and version that you are using? I think this might be relevant to PR #1812 (issue #1810).

[2018-09-22 20:41] knakul853 commented on #1821
* firfox version 62
* ubuntu

[2018-09-23 00:50] AshleyTR commented on #1777
@RishabJain2018 . If this issue is still unsolved, do you mind if  I give it a shot. I'm new at this, but I'll try my best

[2018-09-23 01:10] usmanmuhd commented on #1777
@AshleyTR I'm still working on the issue.

[2018-09-23 01:12] AshleyTR commented on #1777
@usmanmuhd No worries. I'll find another one. Thanks for replying fast

[2018-09-24 01:52] kurianbenoy opened #1822 "Create a Pipfile"
As an alternative to virtualenv which is currently used in the project, we can use pipenv also for easy installation. Also now pipenv is officially recommended python package and virtualization manager.

https://stackoverflow.com/questions/46330327/please-explain-the-usage-of-pipfile-and-pipfile-lock

https://pipenv.readthedocs.io/en/latest/

[2018-09-25 22:17] deshraj commented on #1822
@kurianbenoy thanks for taking out time to open the issue. We are going to deprecate the method of installation of EvalAI using virtualenv and won't provide support using pipenv. Hence closing this issue.

[2018-09-25 22:17] #1822 closed

[2018-09-26 02:09] party98 commented on #1821
I’ll try to fix this and reference in the same PR (#1812)

[2018-09-26 02:09] deshraj commented on #1821
Thanks @party98 :)

[2018-09-26 08:59] kurianbenoy commented on #1822
@deshraj are you planning to use docker in future?

[2018-09-26 12:01] deshraj commented on #1822
Yeah, we support docker based support now also.

[2018-09-27 14:48] party98 commented on #1821
The issue is unrelated to the said PR(#1812) hence I will be submitting a separate PR for the same.

[2018-09-27 18:22] vkartik97 opened #1825 "HTTP Cache to Speed up the Frontend"
- [`HTTP Caching`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Caching) Services for `.html`, `.css`, `.js` and other image files can be used
- This will help the Site to Load fast

Thanks!

[2018-09-30 06:40] RishabhJain2018 commented on #1799
@darthgera123 Any update on this?

[2018-09-30 06:43] RishabhJain2018 commented on #1777
@usmanmuhd Any update on this issue?

[2018-09-30 06:55] usmanmuhd commented on #1777
@RishabhJain2018 I have added the backend functionality. I am yet to do the front end part (quite new to angular).

[2018-09-30 07:29] RishabhJain2018 commented on #1777
Can you please open up a PR for that. We generally merge front-end and backend code in different PR's.

[2018-09-30 07:39] darthgera123 commented on #1799
sorry, completely forgot about this. Will make a pr within a day or 2

[2018-10-01 00:56] usmanmuhd commented on #1777
@RishabhJain2018 I will do it in a few days. Currently on a vacation.

[2018-10-01 00:58] RishabhJain2018 commented on #1777
Sure! No problem. Thanks for keeping us posted.

[2018-10-02 20:50] #1816 closed

[2018-10-02 21:03] #1810 closed

[2018-10-03 03:27] sachinmukherjee commented on #1602
I want to work on this issue.

[2018-10-03 03:31] RishabhJain2018 opened #1826 "Add fields in django admin"
_Thanks for taking the time to report a bug in the EvalAI project, or propose a new feature! Before creating a new issue, please do a quick search to check that it hasn't already been filed on the [issue tracker](https://github.com/Cloud-CV/EvalAI/issues)._

If you'd like to report a bug, please include the following information:
- the expected behaviour
- the observed behaviour
- steps to reprodu

[2018-10-03 03:35] RishabhJain2018 commented on #1602
sure! go ahead.

[2018-10-03 06:43] ChrsMark commented on #1826
@RishabhJain2018 have a look on https://github.com/Cloud-CV/EvalAI/pull/1828 please

[2018-10-03 17:17] deshraj commented on #1764
@darthgera123 sure, let us know if you need help.

[2018-10-03 18:50] deshraj opened #1829 "Add exception handling when key is not present in leaderboard API"
The backend server throws 500 internal server error whenever any key in the results stored in the leaderboard data table is not present in the leaderboard schema for that particular challenge. Instead we want to show meaningful error on the UI with proper status code. Please see the relevant error log given below:

Sentry Report: https://sentry.io/cloudcv/evalai-staging/issues/605096490/

[code]

[2018-10-04 04:02] isht3 commented on #1622
@nagpalm7 Yes, definitely. You can take this issue up!

[2018-10-04 22:40] RishabhJain2018 opened #1833 "Remove discussions tab from challenge page"
Currently the discussions tab is always shown whether a link in it exists or not but we would like to show the discussions tab only when there is a link in it from the backend.

[2018-10-05 07:04] nagpalm7 commented on #1833
I want to work on this issue!!

[2018-10-05 14:56] RishabhJain2018 commented on #1833
Sure! Go ahead.

[2018-10-05 15:07] deshraj opened #1834 "Fix potential vulnerabilities due to outdated requirements"
There are some outdated requirements which can open potential security threats. Hence we should update the vulnerable package versions as suggested by Github. Here is the list of upgrades to be done (as suggested by Github):

1. django ~> 1.11.15

Please make sure to verify the validity and compatibility of suggestions with EvalAI codebase.

[2018-10-05 18:14] nagpalm7 commented on #1337
Is this issue solved ?? I am still getiing false as the output.

[2018-10-05 19:14] kaansan commented on #1834
Hey there, I couldn't see any vulnerable package info on Dependency Graph section. I wanted to take this issue to myself but I couldn't find the problem.

[2018-10-05 21:29] kaansan commented on #1834
![image](https://user-images.githubusercontent.com/20618151/46561093-cceafa00-c8fe-11e8-9768-67e1e1bfa662.png)
I can not see it. I don't know why. Thanks for the info.

[2018-10-05 21:30] deshraj commented on #1834
Only project maintainers can see it.

[2018-10-06 10:15] nagpalm7 commented on #1758
Hey I can work on this issue ! Can you elaborate what you mean by input file is blank? Input is not provided or is not read properly.

[2018-10-06 15:12] kaansan commented on #1607
@RishabhJain2018

[2018-10-06 16:07] RishabhJain2018 commented on #1607
Sure! You can work on it.

[2018-10-06 18:34] RishabhJain2018 commented on #1782
@matthew-z @party98 Would you like to work on it?

[2018-10-06 18:35] matthew-z commented on #1782
Sorry, I am not familiar with web development

[2018-10-06 18:36] RishabhJain2018 commented on #1782
Okay! No problem.

[2018-10-08 03:38] JaneLiuUSA commented on #1826
Hey, I am working on this issue, but I got "Permission to Cloud-CV/EvalAI.git denied to JaneLiuUSA" message when I was trying to push my code to my branch off master. Could you help me to fix this issue?
Also I am not quite clear about the issue, do I just need to add a "challenge" field in the table when viewing submission?(see attachment) or it also needs to be in the detail page?
![screen shot

[2018-10-08 04:05] RishabhJain2018 commented on #1826
Hi @JaneLiuUSA Thanks for your interest in solving the issue but @ChrsMark has already resolved the issue. Please feel free to pick up any unassigned issue.

[2018-10-08 04:44] party98 commented on #1782
I can try to give it a go. But I am not super confident about it.

Sent from my iPhone

[2018-10-08 05:14] RishabhJain2018 commented on #1782
Sure! Please keep me posted regarding it.

[2018-10-08 12:43] JaneLiuUSA commented on #1826
Got it. I saw the issue is open so I thought it's not solved yet. Thanks for letting me know!

[2018-10-09 01:53] JaneLiuUSA commented on #1508
@deshraj I can work on it.

[2018-10-09 01:58] RishabhJain2018 commented on #1508
Sure! you can. Please feel free to ask if you have doubts.

[2018-10-09 13:16] vkartik97 commented on #1834
Upgrades should also be done for `django-storages` in `requirements/prod.txt`
[code]

[2018-10-09 14:32] nagpalm7 commented on #1799
Can I work on this issue if no one is working ! @darthgera123

[2018-10-09 14:57] deshraj commented on #1799
I think @darthgera123 is working on it. Please feel free to take another issue. :)

[2018-10-09 19:31] kaansan commented on #1607
Hello there, I finally find the time due to my other issue and my understanding of project docs etc.
I want to ask a few questions.  Currently in config table `is_created `column is default false that means it'll always false when challenges are created if a user requests through related endpoint.

- If a user creates a challenge, what will happen after creation ?` is_created `will be false. If is

[2018-10-10 19:50] kaansan commented on #1607
@RishabhJain2018 Hey there

[2018-10-10 20:36] newbazz commented on #1802
I would like to work on this if no one is working

[2018-10-10 23:55] RishabhJain2018 commented on #1802
It seems like @sachinmukherjee is on another issue. @newbazz You can surely start working on this.

[2018-10-11 00:29] JaneLiuUSA commented on #1508
Hey I got error when I tried to push my code up to my branch. Is there any steps that I am missing?
[code]

[2018-10-11 00:35] RishabhJain2018 commented on #1508
Hi @JaneLiuUSA. Thanks for fixing the issue.
You can't push directly to CloudCV EvalAI repository since you are not a member of the organization.
Ideally, the flow should be:
1. Fork the EvalAI repository into your account.
2. Create a new branch and then make the required changes in the code.
3. Open a PR from your fork to EvalAI.

Please feel free to ask if something is not clear.

[2018-10-11 00:37] JaneLiuUSA commented on #1508
Got it. Will do so. Thanks!

[2018-10-11 03:53] newbazz commented on #1802
I am not able to create a challenge due the fact that I am not able to log in.

[2018-10-14 04:52] euler16 commented on #1593
is the issue still open?

[2018-10-14 05:08] deshraj commented on #1593
Yeah this issue is still open. If @bryanfree66  is not working on it, please feel free to take it.

[2018-10-15 07:20] w3x10e8 commented on #1800
Hey i'll try to work on this issue.

[2018-10-17 01:54] RishabhJain2018 opened #1843 "Add horizontal scroll in leaderboard"
Currently, the leaderboard displays maximum 10 custom metrics without horizontal scroll. We want to increase that number by adding horizontal scroll.

[2018-10-17 09:57] haivp3010 commented on #1843
Hi @RishabhJain2018, is this horizontal scroll bar at the bottom of the table the desired implementation? Or do we need something more advanced like column freezing, etc.?

![image](https://user-images.githubusercontent.com/7151454/47078377-5f5b9980-d22d-11e8-9af9-c393927b1d9d.png)

[2018-10-17 10:01] haivp3010 commented on #1843
Oh, is this meant to be different from issue #1798?

[2018-10-17 10:03] Joel-hanson commented on #1829
is this done already?

[2018-10-17 10:04] Joel-hanson commented on #1829
if no shall I take it.

[2018-10-17 18:58] RishabhJain2018 commented on #1843
I can't see the uploaded image. can you please upload it again.
Yeah, this is different from #1798 . as we want the leaderboard to horizontally scrollable in desktop view.

[2018-10-18 00:30] RishabhJain2018 commented on #1782
@party98 Any update on this issue?

[2018-10-18 04:53] RishabhJain2018 commented on #1843
yeah, the image looks good to me.
The two issues are alike in terms of same functionality but we would like to have different PRs for both of them.

[2018-10-18 07:11] #1843 closed

[2018-10-18 12:58] darthgera123 commented on #1799
@deshraj  can you give me access to sentry so i can completely figure out the issue. Thanks

[2018-10-18 13:09] darthgera123 commented on #1764
@deshraj   could you tell me the steps to reproduce this error

[2018-10-18 18:57] RishabhJain2018 commented on #1843
Hi @haivp3010 Since we need that feature urgently, so I added it. Please feel free to take up any other issue.

[2018-10-18 20:00] spyshiv commented on #1833
ytdytfy
![asset-37-4-x 3x](https://user-images.githubusercontent.com/7015220/47180574-7d64ef00-d33e-11e8-9abd-5511f16e143f.png)

hbuyb
lmnijnui

[2018-10-18 20:29] RishabhJain2018 opened #1848 "Add Challenge name in submissions model in django admin"
Currently, we only show challenge phase name in the submissions table, we also want to show the corresponding challenge name in the table near to the challenge phase name.

[2018-10-19 04:01] SinghSatbir commented on #1848
Hey, I want to work on this issue. Please assign it to me.

[2018-10-19 04:16] haivp3010 commented on #1843
@RishabhJain2018 That's fine. I'll see other issues then.

[2018-10-19 05:39] RishabhJain2018 commented on #1848
Sure! You can work on it.

[2018-10-19 05:55] rajesh1993 commented on #1848
Hey! Is this still open? If so, can you point me to the file I need to look at for fixing this issue?

[2018-10-19 15:45] RishabhJain2018 commented on #1848
@rajesh1993 I think @SinghSatbir is working on it. Please feel free to take up any other issue.

[2018-10-19 22:40] #1834 closed

[2018-10-19 22:41] kaansan commented on #1607
@RishabhJain2018 could you please explain more ?

[2018-10-19 23:09] RishabhJain2018 commented on #1607
Hi @kaansan Sorry, I missed this thread.
I didn't understand this part: ` that means it'll always false when challenges are created if a user requests through related endpoint.`
What do you mean to say here?

- If a user creates a challenge, what will happen after creation ?is_createdwill be false. If is_created false, Where should I keep data other than this table?

Ans: `is_created` will be fals

[2018-10-20 17:31] #1833 closed

[2018-10-21 06:22] RishabhJain2018 opened #1850 "Display execution time only when greater than zero."
Currently, all the types of execution time is shown on the frontend under `my submissions`. We would like to show only the execution time which is greater than zero.

Helpful link: https://stackoverflow.com/questions/18403835/how-to-make-less-than-or-greater-than-comparison-in-angularjs?answertab=active#tab-top

[2018-10-21 08:13] vkartik97 commented on #1190
@deshraj
One solution can be using multiple workers, for all challenges. If one worker goes down, any challenge won't be affected.

[2018-10-21 13:00] ghassemiN commented on #1826
@RishabhJain2018 Why is this issue still open?

[2018-10-21 17:10] TejasBhitle commented on #1800
@deshraj I have fixed the issue. Can I submit my PR ?

[2018-10-21 19:53] RishabhJain2018 commented on #1848
Closing this since it is the duplicate of #1826 .

[2018-10-21 19:53] #1848 closed

[2018-10-21 20:12] RishabhJain2018 commented on #1826
@ghassemiN Since the PR is not merged, hence it is open for now.

[2018-10-22 12:34] w3x10e8 commented on #1800
@TejasBhitle hey sure you can submit your PR, Im working on other issue rn

[2018-10-23 08:47] nagpalm7 commented on #1758
Can you tell me the steps to reproduce this issue?

[2018-10-23 08:49] nagpalm7 commented on #1647
Sir can i take up this issue! @deshraj

[2018-10-24 04:49] #1791 closed

[2018-10-25 06:45] vkartik97 commented on #1690
I am working on this issue

[2018-10-25 07:20] deshraj opened #1864 "TypeError: int() argument must be a string, a bytes-like object or a number, not 'AnonymousUser'"
https://sentry.io/cloudcv/evalai/issues/742463793/

[code]

[2018-10-25 08:46] deshraj opened #1866 "Update pagination size and add indexing"
## Current Status
We have a pagination limit of 10 currently on the frontend for `My Submission` and `View All Submissions` Page. We would like to extend this limit to 100 submissions per page. Also, we should show the submission id as well as the first column

## Deliverables
- [ ] Update pagination on `My Submissions` Page to 100
- [ ] Update pagination on `View all submissions` Page to 100
- [

[2018-10-25 12:36] Niklex21 commented on #1866
Hi, can I work on that?

[2018-10-26 16:43] yashdusing commented on #1866
I'd like to work on this issue if no one has been assigned yet

[2018-10-26 16:54] RishabhJain2018 commented on #1866
Hi @yashdusing Since @Niklex21 have asked first to work on this issue, hence I will give him the first priority. If he doesn't want to work on it then you are welcome to work on it.

@Niklex21 Would you like to work on the issue?

[2018-10-26 19:49] Niklex21 commented on #1866
Yes, I will work on the issue.

[2018-10-26 21:35] RishabhJain2018 commented on #1866
Thanks, @Niklex21 for confirming.
@yashdusing Please feel free to take up any other unassigned issue.

[2018-10-27 08:55] kciecinski commented on #1850
Hi It's my first time in open-source project. I like to take that issue if that's ok

[2018-10-28 17:32] #1622 closed

[2018-10-30 19:45] gautamjajoo commented on #1798
@RishabhJain2018 How can I replicate the leaderboard on local machine? So that I can see if my changes are working or not!

[2018-10-30 19:58] gautamjajoo opened #1875 "Edit challenge name button disbaled when no changes are made"
### The Observed Behaviour
If a host clicks the edit challenge name button but does not make any changes and submit, then a successful return message is there.

### The Expected Behaviour
The button should be disbaled if no changes are made.

### Would you like to work on this issue?
Yes

@RishabhJain2018 @deshraj

![screenshot-from-2018-10-31-01-26-22](https://user-images.githubusercontent.com/24

[2018-10-30 22:13] RishabhJain2018 commented on #1798
Hi @gautamjajoo You can use `chrome dev tools` for it. Here's the link to it: https://developers.google.com/web/tools/chrome-devtools/device-mode/#device

[2018-10-31 09:53] gautamjajoo commented on #1875
Facing the following error when I edit the team name and submit. @RishabhJain2018
![screenshot-from-2018-10-31-13-50-11](https://user-images.githubusercontent.com/24366008/47780152-d78f8800-dd20-11e8-98cf-387488e1e86f.png)

[2018-10-31 14:18] RishabhJain2018 commented on #1875
Team name or Challenge name?

[2018-10-31 14:25] gautamjajoo commented on #1875
@RishabhJain2018 Challenge name

[2018-10-31 19:45] RishabhJain2018 opened #1876 "Display error if filename is too long"
**Current Scenario:**
While submitting to EvalAI, if the filename is greater than 100 characters then the submission isn't accepted & no error is being thrown on the front-end, so a participant doesn't get to know about the state of his submission.

**Deliverables:**
Display the error thrown by API on the frontend.

[2018-11-01 09:35] gautamjajoo opened #1878 "Addition of Copyright Year in Dashboard footer"
Currently, there is no Copyright Year in the footer of Dashboard.
@RishabhJain2018 @deshraj

![capture](https://user-images.githubusercontent.com/24366008/47844063-71ba0380-dde7-11e8-9a45-7cff8e52cfa6.JPG)

[2018-11-01 18:52] RishabhJain2018 commented on #1690
Sure go ahead!

[2018-11-03 09:37] yashdusing commented on #1876
Can I work on this ?

[2018-11-03 15:49] kaansan commented on #1607
**When the is_created flag is false, the zip doesn't get extracted and the values are not filled in the tables.**
ok from my understanding.
`user creates challenge  > challenge is_created field is now false >  if is_created false don't extract and doesn't put on the table.`
**_is_created field never will be True so the question is How I should keep the data in the table.
is_created default False,

[2018-11-04 18:45] RishabhJain2018 commented on #1876
Sure @yashdusing. You can work on it.

[2018-11-04 20:05] #1782 closed

[2018-11-04 23:32] RishabhJain2018 opened #1879 "Remove RabbitMQ config settings"
Since we have removed RabbitMQ as a message broker, we would also like to remove the settings for it in the `settings/common.py`.

[2018-11-05 02:46] gautamjajoo commented on #1878
@deshraj @RishabhJain2018 I am suggesting to add copyright year in the dashboard footer. The PR #1867 , makes copyright year dynamic of landing footer. So, please reopen the issue

[2018-11-05 02:53] deshraj commented on #1878
@gautamjajoo please feel free to open a pull request for that as well. We will be more than happy to merge it. Thanks!

[2018-11-05 21:22] #1878 closed

[2018-11-06 00:18] RishabhJain2018 opened #1887 "Update EvalAI Users List"
Deliverables:

- [ ] Add HD logo for Ebay
![download](https://user-images.githubusercontent.com/12206047/48034765-aeab3080-e12e-11e8-9279-3647fe37eaf2.png)

- [ ] Add HD logo for IIT Madras
![1200px-iit_madras_logo svg](https://user-images.githubusercontent.com/12206047/48034861-047fd880-e12f-11e8-80b1-8bf42c97ad8d.png)

- [ ] Add HD logo for University Of Adelaide
![the-university-of-adelaide-1-l

[2018-11-06 00:21] RishabhJain2018 commented on #1798
@TejasBhitle Can you please tell which device were you using?

[2018-11-06 04:37] Ram81 commented on #1829
@RishabhJain2018 can I pick this up?

[2018-11-06 04:48] RishabhJain2018 commented on #1829
Sure you can!

[2018-11-06 04:51] gautamjajoo commented on #1887
@RishabhJain2018 I would like to work on this issue!

[2018-11-06 04:52] RishabhJain2018 commented on #1887
Sure You can take it up.

[2018-11-06 06:35] #1714 closed

[2018-11-06 16:10] #1887 closed

[2018-11-06 16:39] bajcmartinez commented on #1802
I was taking a look and the form is not actually submitted, but it's doing a get request and not taking into consideration the changes made by the form.
If I however change the date to something invalid like 2018-07-32, then I get the error.

The issue seems to be here:

[code]

If the form has invalid data it just do a get but doesn't let the user know what's going on, however if the form is vali

[2018-11-06 21:30] RishabhJain2018 commented on #1802
@newbazz Are you still working on it?

[2018-11-07 03:03] TejasBhitle commented on #1798
@RishabhJain2018 I had tried it using Chrome Dev tools.
Apparently I feel this issue is resolved after the PR #1845 you submitted.

[2018-11-07 19:08] gautamjajoo opened #1892 "Add support for show and hide password"
### Observed Behaviour
Currently , there is no feature for showing or hiding password in login and sign up page.

### Expected Behaviour
There should be a one eye icon which on clicking shows or hides the password.

[2018-11-07 19:13] gautamjajoo opened #1893 "Add support for Editing Host Team name"
### Observed Behaviour
Currently , there is no option to edit Host Team name.

### Expected Behaviour
Add support for editing challenge host team name.

### Would you like to work on this?
Yes.

@deshraj @RishabhJain2018
![img_20181108_004200](https://user-images.githubusercontent.com/24366008/48154645-258f2780-e2ef-11e8-9067-35280d55aa2e.jpg)

[2018-11-08 18:03] yashdusing commented on #1876
I saw your message today so sorry for the delay. Anyways, is this okay ? (I directly checked the length of string without passing it to backend since it would throw off error anyway)
![download](https://user-images.githubusercontent.com/19976688/48217911-aa8d4600-e3ae-11e8-95c3-6bf2e04e57c0.png)

[2018-11-09 02:34] bajcmartinez commented on #1802
@RishabhJain2018 not sure if @newbazz still working on this, I went ahead and submitted a PR. I found another error which I also fixed on the backend, which refers to modifying an immutable field.
Please let me know your comments or if we can go ahead and merge. Thanks!

[2018-11-09 05:13] RishabhJain2018 commented on #1802
Thanks @bajcmartinez for the PR. I'll take a look at it.

[2018-11-10 16:31] gautamjajoo opened #1899 "Bug while editing Evaluation Crietria of a challenge"
### Steps to Reproduce
1) Create a challenge
2) Go to ```Evaluation``` tab . Click on edit ```Evaluation Criteria```.
3) Cancel the changes you have made.

### Observed Behaviour
The text displayed is empty.

![screenshot-from-2018-11-10-19-08-45](https://user-images.githubusercontent.com/24366008/48303715-a6d6fc00-e533-11e8-98ad-78c1eea35b96.png)

### Expected Behaviour
The text should be display

[2018-11-10 16:46] gautamjajoo opened #1900 "Bug in Count of My Particpant Teams"
### Observed Behaviour
The count of ```My Participant Teams``` is same as ```My Host Teams```.

### Steps to Reproduce
Create 2-3 Host teams and go to ```dashboard```.
We will see Host teams equal to Particpant Teams.

@deshraj @RishabhJain2018

![screenshot-from-2018-11-10-19-06-59](https://user-images.githubusercontent.com/24366008/48303866-25349d80-e536-11e8-95fe-64adc690cd20.png)

[2018-11-11 18:09] w3x10e8 commented on #1900
I'll fix this

[2018-11-11 18:58] w3x10e8 commented on #1900
@gautamjajoo I tried to reproduce this issue but I am not able to, am I missing something?
![screenshot from 2018-11-11 13-56-43](https://user-images.githubusercontent.com/29617462/48317048-d6304c00-e5b9-11e8-9a40-14648626e6e7.png)

[2018-11-13 10:24] radiantly opened #1903 "Token not shown when windows width is < ~980px"
## Overview
When the window size is smaller than ~980px in width, the Token is not shown.

![token_get](https://user-images.githubusercontent.com/44368997/48406922-afaa1680-e75b-11e8-8d35-ad053ecd75c5.gif)

### Steps to reproduce the problem:
With browser window at less than 980px in width, visit the profile page to get the token.

[2018-11-13 16:25] C0derLint commented on #1903
@gautamjajoo Sure

[2018-11-14 02:22] sachinmukherjee opened #1904 "Buttons of Edit Challenge Title of My Hosted Challenges are not properly aligned"
Sumit and Cancel button of Edit Challenge Tile of My Hosted Challenges are not properly aligned.

![bug](https://user-images.githubusercontent.com/19318218/48455640-00645280-e7e2-11e8-9cd9-86b85caafcc4.png)

I want to work on this issue.

[2018-11-14 12:57] gautamjajoo commented on #1900
@w3x10e8 I tried once more and the count was right. I think so the error is only sometimes.

[2018-11-14 12:57] #1900 closed

[2018-11-16 08:30] gautamjajoo commented on #1866
@deshraj @RishabhJain2018 Can I work on this issue?

[2018-11-16 08:35] gautamjajoo commented on #552
@deshraj Can I work on this issue?

[2018-11-16 08:35] deshraj commented on #1866
Sure, go ahead.

[2018-11-16 08:36] deshraj commented on #552
Sure, go ahead.

[2018-11-17 21:55] #1876 closed

[2018-11-18 16:35] gautamjajoo commented on #552
@deshraj Hey! I have done with email required. How should I proceed for checking if email is valid?

[2018-11-18 19:39] gautamjajoo opened #1913 "Disable auth token when account not activated"
### Observed Behaviour
When a user is not activated , he is able to go to `Get your auth token` tab. Where it also downloads the json file with false message.

### Expected Behaviour
The tab should be disabled.

![screenshot from 2018-11-19 01-01-05](https://user-images.githubusercontent.com/24366008/48677232-9a881a00-eb97-11e8-80b8-1fec1a854fb0.png)

@deshraj @RishabhJain2018

[2018-11-19 00:53] RishabhJain2018 commented on #1864
Since it is resolved in #1906 .Hence closing it.

[2018-11-19 00:53] #1864 closed

[2018-11-19 14:12] gautamjajoo commented on #552
@deshraj I think you missed it.

[2018-11-20 18:49] gautamjajoo commented on #1543
@deshraj @RishabhJain2018  Can first part of issue be resolved by not allowing the user to enter a password with spaces? And in the third part what should be the maximum length?

[2018-11-21 00:53] thesashi7 commented on #1913
Has anyone started working on this? If not then i would like to work on it.

[2018-11-21 04:47] gautamjajoo commented on #1543
@party98 Since the password is bring trimmed at the backend for the time being we can disable the addition of spaces in the password??

[2018-11-21 05:05] deshraj commented on #1543
Sorry for the delayed response guys.

We should let the user type with spaces on the frontend but add a check where we check if the length of the password without spaces is >= 8.

I dont think we should put the check on the max limit of the field. I would let django allauth handle this part for us. :)

[2018-11-21 07:50] party98 commented on #1543
@deshraj @gautamjajoo as for no allowing spaces, it was a bug in the Django allauth app, for which I have already submitted a PR #1778. The fix successfully allows the password to be set with or without spaces without trimming the spaces.

As for the upper limit, there needs to be a check on the frontend for checking the max length of the password as supported by the Django allauth app otherwise t

[2018-11-21 13:09] #1819 closed

[2018-11-22 01:35] #1850 closed

[2018-11-22 08:21] RishabhJain2018 opened #1923 "Add test cases for Update submission data API"
Since we have an API for updating submission data after a remote evaluation is completed, so we would like to have it's unit cases.
Link to the API: https://github.com/Cloud-CV/EvalAI/blob/master/apps/jobs/views.py#L583

[2018-11-22 10:41] Ayukha commented on #1923
Can I take this up?

[2018-11-22 13:45] RishabhJain2018 commented on #1923
Sure @ayukha you can work on it.

[2018-11-23 16:21] RishabhJain2018 commented on #1923
@Aykha we will need these tests soon. So, can you please let us know what will be the ETA for the them.

[2018-11-24 03:54] RishabhJain2018 commented on #1923
Sounds good. You can open up a PR so that I can help you.

[2018-11-27 07:50] gautamjajoo commented on #1866
@deshraj Hey! What is `Submission ID`?

[2018-11-27 07:59] gautamjajoo opened #1929 "Two Loaders working at same time"
### Observed Behaviour
When a user wants to participate in a challenge, there are two loaders that are working. As seen in the attached screenshot.

### Expected Behaviour
There should be only one loader working.

### Steps to Reproduce
Go to a challenge and participate in a challenge. When you register a team for the challenge, you can observe two loaders working at the same time.

### Would you

[2018-11-27 17:13] gautamjajoo commented on #1903
@C0derLint Hey! This issue is already reported in #1795 itself.

[2018-11-27 17:36] gautamjajoo commented on #1558
Hey! @deshraj @RishabhJain2018 @isht3 The following line, returns the end date of challenge or end date of a phase? https://github.com/Cloud-CV/EvalAI/blob/2a8670a4d1e037329c38ebc7d1b8a49c4ebb2188/apps/challenges/models.py#L148

[2018-11-28 09:43] jarnugirdhar opened #1931 "Invalid comment in models.py"
**The expected behaviour**
The comment should say """Returns the end date of Phase"""
**The observed behaviour**
It says: """"Returns the end date of Challenge"""
**Steps to reproduce the problem**
https://github.com/Cloud-CV/EvalAI/blob/2a8670a4d1e037329c38ebc7d1b8a49c4ebb2188/apps/challenges/models.py#L148

However the issue is insignificant but it might confuse contributors.

@RishabhJain2018 @

[2018-11-28 09:45] gautamjajoo commented on #1931
@jarnugirdhar I am currently working on #1866. Will make the above change when I send the PR for the same.

[2018-11-28 10:05] jarnugirdhar commented on #1931
Alright! :+1:

[2018-11-28 10:05] #1931 closed

[2018-11-30 17:11] yashdusing commented on #1602
@RishabhJain2018 @deshraj If this hasn't been implemented yet, I would like to work on it

[2018-11-30 17:12] RishabhJain2018 commented on #1602
No, it isn't. You can work on it.

[2018-12-02 14:04] supra08 commented on #1632
@RishabhJain2018 , is the issue still open? If yes, I would like to take it up.

[2018-12-02 14:09] supra08 commented on #1899
@deshraj , @RishabhJain2018 is the issue still open? If yes I would like to work on it.

[2018-12-02 14:51] supra08 opened #1934 "Verification mail is not being sent"
### Observed Behaviour

After the user signs up, no verification mail is being received, hence permission denied appears for further tasks.

### Expected Behaviour

The user should receive a verification email.

### Steps to Reproduce

Just signup for a new account and check your mail.

### Would you like to work on it?

Yes

@deshraj , @RishabhJain2018

[2018-12-02 20:20] deshraj commented on #1934
It looks like you have missed checking the terminal. Once you sign up, you will see the email content on the terminal itself in the development version.

Closing this issue for now. Please feel free to re-open it if you cannot still see the email on terminal.

[2018-12-02 20:20] #1934 closed

[2018-12-02 21:08] supra08 commented on #1934
@deshraj can't we simulate the exact process of sending the mail? Why just printing it on the terminal?

[2018-12-02 21:13] deshraj commented on #1934
You can do that by changing email settings here https://github.com/Cloud-CV/EvalAI/blob/master/settings/dev.py#L21 but in the development environment, it's not recommended to use the original email.

[2018-12-03 05:52] RishabhJain2018 commented on #1899
Yeah, it is open but I am not sure if this is an issue or not. Can you please reconfirm it.

[2018-12-04 01:06] Ayukha opened #1936 "Missing Tests for Custom Admin Action in Jobs App"
Writing Unit tests for the Admin sectin of the `Jobs` app

[2018-12-04 01:06] Ayukha commented on #1936
@RishabhJain2018  I am working on it.

[2018-12-04 04:06] deshraj opened #1938 "Improve challenge creation pipeline"
## Current Scenario

If you directly zip the challenge configuration and upload it on the server, then you see an error saying `zip file has more than one .yaml files` which is mainly the case due to temporary files added to the zip while zipping.

## Deliverables

- [ ] Handle the case where temp files are ignored while unzipping in challenge creation API
- [ ] Show a meaningful error rather than

[2018-12-04 04:20] vkartik97 commented on #1938
Can I work on this issue?

[2018-12-04 04:36] deshraj commented on #1938
Sure @vkartik97 :)

[2018-12-05 18:33] yashdusing commented on #1602
While approving a challenge, reload won't work since docker-compose doesn't have any reload command. I tried restart with evalai_worker_1 (the name that was alloted by me to the container) but after restarting the worker, it won't display the new challenge

[2018-12-05 21:30] yashdusing commented on #1602
I am finished with the json part. Is this the output desired ? @RishabhJain2018
`{
  "0": {
    "Team Name": "Host_54476_Team",
    "Method Name": "null",
    "Status": "failed",
    "Execution Time(sec.)": 0.020239,
    "Submission Number": 2,
    "Submitted File": "http://localhost:8000/media/submission_files/submission_9/279a81a4-22c6-433a-a3eb-6cf88bdd3706.txt",
    "Stdout File": "http://loca

[2018-12-06 00:58] gautamjajoo opened #1941 "Remove postgres link in ReadME"
Remove the link provided in the ReadME containing the windows guide for installing postgresql as it is not working.
@RishabhJain2018 @deshraj

[2018-12-06 19:48] yashdusing commented on #1602
HTML is done as well. Please confirm if everything's okay .
Also, do I also need to inject/apply styling to the html as well or base is okay ?
![screenshot_20181207_011718](https://user-images.githubusercontent.com/19976688/49608124-e3c0d200-f9bd-11e8-87cf-e7628a4a4280.png)

[2018-12-06 19:53] RishabhJain2018 commented on #1602
Thanks @yashdusing for the PR. I'll review it by today.

[2018-12-06 20:02] RishabhJain2018 commented on #1602
Hi @yashdusing

I didn't get this point very clearly here. What do you want to ask? if you are looking for approving a challenge and reloading a submission worker then are the docs https://evalai.readthedocs.io/en/latest/approve_challenge.html

How are outputs structured? Ascending order or descending order. Also, What does 0, 1 signify there?

Also, do I also need to inject/apply styling to the h

[2018-12-06 20:54] RishabhJain2018 commented on #1602
(Edit : I tried ‘restart’ instead because that’s the only other instruction I found which seems similar but it won’t work as well)

Thanks for pointing it out. Since we have removed the container name from docker compose file, that's why it didn't work. I will update the documentation for it. for now you can use:
1. `docker ps` : It will list all the running containers
2. Copy the cointainer ID of

[2018-12-07 01:40] Ayukha commented on #1593
@deshraj  @RishabhJain2018 Can I take this Up?

[2018-12-07 01:57] RishabhJain2018 commented on #1593
sure! you can.

[2018-12-08 06:43] darthgera123 commented on #1799
@deshraj  can you please share the sentry access so that i can recreate the issue

[2018-12-08 09:08] deshraj commented on #1799
@darthgera123 sorry I cannot give the sentry access since it's only accessible to maintainers. Also, there is no need to see sentry for the error. The error is posted in the issue description. Please see that for more information.

[2018-12-08 14:59] yashdusing commented on #1602
@RishabhJain2018 could you tell me about the extensions needed ? Do we need xlsx, xls, yaml or not ?

[2018-12-09 22:33] anigasan opened #1945 "MacOS Installation Docker Installation Instructions"
Installation instructions for MacOS (or for any OS using Docker) seems to be confusing. Credentials given in step 6 of Virtual Environment are common to both for Docker and Virtual Environment, they are made as part of Virtual Environment. Like installation instructions given for Fabrik, it is better to provide these details as part of instructions for both Docker and Virtual Environment.

[2018-12-10 14:47] yashdusing commented on #1602
For yaml, is this correct ?
![screenshot_20181210_201702](https://user-images.githubusercontent.com/19976688/49739746-a065ac80-fcb8-11e8-9440-080bd0d53b3f.png)

[2018-12-10 15:02] yashdusing commented on #1602
@RishabhJain2018 I was able to reload the worker fine and all approved were shown in the browser. But I can't submit any submissions, the phase button is frozen.
![download](https://user-images.githubusercontent.com/19976688/49740629-a6f52380-fcba-11e8-923a-2a3f4f250bec.png)

[2018-12-11 20:21] yashdusing commented on #1602
@RishabhJain2018 I added xlsxwriter to common.txt but I got this error
![screenshot_20181212_015013](https://user-images.githubusercontent.com/19976688/49827867-5e1f9680-fdb0-11e8-9795-0fb447d56f80.png)

[2018-12-12 02:58] isht3 commented on #1558
@gautamjajoo It returns the end date of the Challenge Phase. Thanks for noticing, could you change it?

[2018-12-12 09:59] yashdusing commented on #1602
[all_submissions.xlsx](https://github.com/Cloud-CV/EvalAI/files/2671405/all_submissions.xlsx)
Done with excel file. Please check the format

[2018-12-13 11:53] RishabhJain2018 opened #1957 "Add tests for get_broker_urls API"
We have added a new API in [apps/challenges/view.py](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L1330). Hence, tests are required in order to make the system robust.

Please feel free to ask if there are more questions/doubts. I'll be happy to help.

[2018-12-13 18:01] inishchith commented on #1957
@RishabhJain2018 can i take up this issue ? 😅

[2018-12-13 20:00] RishabhJain2018 commented on #1957
sure! go ahead.

[2018-12-15 14:52] inishchith commented on #1957
@RishabhJain2018 Over [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L1340) we do not have a field `queue` in the database, i didn't get what values would be returned when `http://0.0.0.0:8000/api/challenges/get_broker_urls/` gets called . Am i missing something?

[2018-12-15 19:47] RishabhJain2018 commented on #1957
We do have the field named `queue` in the database https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/models.py#L57. Also, the output format is shown here: https://github.com/Cloud-CV/EvalAI/pull/1948

Please let me know if you have some other questions too.

[2018-12-16 18:35] abhshkdz opened #1964 "Viewing challenge stars should not require logging in"
Without logging in:
<img width="287" alt="screen shot 2018-12-16 at 1 35 10 pm" src="https://user-images.githubusercontent.com/1156489/50057373-6f153280-0137-11e9-9bf8-cf6e3db93f84.png">

After logging in:
<img width="339" alt="screen shot 2018-12-16 at 1 35 00 pm" src="https://user-images.githubusercontent.com/1156489/50057372-6f153280-0137-11e9-8af0-3593377706a7.png">

[2018-12-16 22:06] RishabhJain2018 commented on #1705
I think @pujanm is still working on this issue.

I am not sure why it is showing this behaviour to you. Can you please try to debug it?

[2018-12-17 03:58] RishabhJain2018 commented on #1964
Sure! go ahead.

[2018-12-17 05:09] pujanm commented on #1705
Yes.

[2018-12-17 10:39] RishabhJain2018 opened #1965 "Update response format for the API"
The response formats in the API's here https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L1330 should be of JSON type (Currently, it returns list) and consistent with other API's. For e.g. the `result` key should be used for showing the results and `error` key should be used for displaying the error.

Please feel free to ask if you have any doubts.

[2018-12-17 15:43] inishchith commented on #1965
@RishabhJain2018 In reference to the `get_broker_urls`, i had to convert the response to a list explicitly [here](https://github.com/Cloud-CV/EvalAI/pull/1961/files#diff-7b5c4a15a7006ac909ae8faa7b5d7e65R3040).
Please let me know if i can work on this issue and subsequently make changes in the tests #1961 .

In case of get_broker_url_by_challenge_pk :
[code]
In case of get_broker_urls:
[code]

[2018-12-17 17:36] #1691 closed

[2018-12-18 06:11] RishabhJain2018 commented on #1965
Yeah you can do this.

Also, the format pasted by you above looks good to me! Please do return a dict with `error` key in case of errors.

[2018-12-18 12:31] inishchith commented on #1965
@RishabhJain2018 `error` key is being used already here ( [1](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L1343) | [2](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L1361) | [3](https://github.com/Cloud-CV/EvalAI/blob/master/apps/challenges/views.py#L1367) )

[2018-12-28 20:16] RishabhJain2018 opened #1975 "Search submissions by challenge name in submissions table"
Currently, we support searching the submissions by the `participant team name, challenge phase name, created by name and submission status`. We would like to add searching the submissions by `challenge name` and also add the same to default list filtering options.

[2018-12-28 20:43] vkartik97 commented on #1975
Can I work on this issue?

[2018-12-28 20:45] RishabhJain2018 commented on #1975
sure! you can!

[2018-12-31 22:38] dhruvbatra opened #1977 "Frontend: incorrect "back" behavior from landing page"
Steps to reproduce:
- Go to https://evalai.cloudcv.org/ using Firefox
- Click on "Participate" button which links to https://evalai.cloudcv.org/web/challenges/list (other links have similar problems)
- Now press back in browser.

Expected behavior: browser should go back to https://evalai.cloudcv.org/

Buggy behavior: browser goes to Firefox new tab (presumably because landing page never registere

[2019-01-04 10:44] vkartik97 opened #1980 "SyntaxError: Generator expression must be parenthesized"
While running `$ python manage.py migrate --settings=settings.dev` in MacOS 10 :
[code]

[2019-01-04 19:09] #1975 closed

[2019-01-04 19:19] RishabhJain2018 opened #1982 "Fix potential vulnerabilities due to outdated requirements"
There are some outdated requirements which can open potential security threats. Hence we should update the vulnerable package versions as suggested by Github. Here is the list of upgrades to be done (as suggested by Github):

1. `pyyaml>=4.2b1`

Please make sure to verify the validity and compatibility of suggestions with EvalAI codebase.

[2019-01-04 19:51] vkartik97 commented on #1982
Can I work on this issue?

[2019-01-04 19:51] gautamjajoo commented on #1982
@RishabhJain2018 Can I work on it?

[2019-01-04 19:53] RishabhJain2018 commented on #1982
@gautamjajoo Since you are working on the other issue, let @vkartik97 work on this one :)

[2019-01-05 15:51] vkartik97 commented on #1980
@Nimishkhurana Yes

[2019-01-05 23:02] #1980 closed

[2019-01-06 07:24] charanjit-singh opened #1984 "Absence of decorators for authenticating and checking user status."
I'd like to propose code standard optimisation:

**Observation**

- [Line 45](https://github.com/Cloud-CV/EvalAI/blob/master/apps/web/views.py), view notify_users_about_challenge will only rendered if and only if user is authenticated and it passes test of being a superuser. There are so many nested if else s, which can be eliminated by:

- [ ] Using Decorators: login_required and user_passes_test

[2019-01-06 08:47] vkartik97 commented on #1984
@charanjit-singh Great Observation!
What do you think about using `permissions.IsAuthenticated` instead of  `login_required`?

[2019-01-06 10:09] charanjit-singh commented on #1984
Yes! using permissions will keep it in DRF's way.

[2019-01-06 10:17] charanjit-singh commented on #1984
And Instead of rendering 404.html in views, we should Raise `Http404 `Exception.

`from django.http import Http404`

[2019-01-06 18:35] Ayukha opened #1986 "Remove warnings generated during testing."
Datetime and Pagination related warnings are generated during testing.

[2019-01-06 18:36] Ayukha commented on #1986
@RishabhJain2018  I am working on it.

[2019-01-06 18:53] Sanji515 commented on #1893
I want to work on this..... Please assign this issue to me.
Thank you.

[2019-01-06 23:00] RishabhJain2018 commented on #1929
Hi, @Sanji515 Thanks for the PR. Please do ask for assignment of the issue before start working on it, so that it should be fair with other enthusiastic contributors.

[2019-01-06 23:33] #1941 closed

[2019-01-07 23:53] #1982 closed

[2019-01-08 16:42] Sanji515 commented on #1892
@deshraj @RishabhJain2018 I want to work on this issue.
Should I just replace the current key icon with an eye icon?

[2019-01-09 07:20] #1938 closed

[2019-01-10 08:05] Abhi-1198 commented on #1486
Can I work on this issue? @deshraj

[2019-01-10 08:07] deshraj commented on #1486
@Abhi-1198 Sure, go ahead. Please do let us know if you face any issues.

[2019-01-10 08:12] Abhi-1198 commented on #1777
Is this Issue still open?
I would liem to work on it.

[2019-01-10 08:16] Abhi-1198 commented on #1486
Sure!, I'll keep you posted!

[2019-01-10 08:35] #1964 closed

[2019-01-10 09:55] yashdusing commented on #1607
@RishabhJain2018 is this still taken ?

[2019-01-10 15:48] gautamjajoo commented on #1821
@deshraj @RishabhJain2018 Can I make a PR regarding the issue, I have found a possible solution.

[2019-01-10 17:39] gautamjajoo commented on #1945
@deshraj @RishabhJain2018 This issue can be closed. Fixed in #1946 .

[2019-01-12 13:02] deshraj commented on #1977
It appears that #1977 didn't fix this issue. Reopening it so that we don't forget this issue.

[2019-01-13 10:37] #1986 closed

[2019-01-14 17:16] RishabhJain2018 opened #1995 "Add feature to make the baseline entry by challenge host show on leaderboard"
**Deliverables**:

- [ ] Add a  Boolean field in submissions model `baseline_submission`
- [ ] Update API `change_submission_data_and_visibility` to change to toggle the value of the field `baseline`
- [ ] Add a column in the `My submissions`  table for challenge hosts only, so that they can toggle this functionality.
- [ ] In the leaderboard API after filtering the submissions while creating the

[2019-01-14 17:18] vkartik97 commented on #1995
I am working on this issue

[2019-01-14 17:18] RishabhJain2018 commented on #1995
Sure! you can take it up.

[2019-01-14 20:00] RishabhJain2018 opened #1996 "Fix potential vulnerabilities due to outdated requirements"
There are some outdated requirements which can open potential security threats. Hence we should update the vulnerable package versions as suggested by Github. Here is the list of upgrades to be done (as suggested by Github):

`django==1.11.18`

Please make sure to verify the validity and compatibility of suggestions with EvalAI codebase.

[2019-01-14 20:04] Ayukha commented on #1996
Can I take this up?

[2019-01-14 20:56] vkartik97 opened #1997 "Adding Non Test Source Files to Coverage Exclusion List"
Following Source Files are not used in Tests and are decreasing Coverage
- settings/custom_storages.py
- settings/staging.py
- settings/dev.py
![screenshot from 2019-01-15 02-19-49](https://user-images.githubusercontent.com/3920286/51140315-3ff3fd00-186c-11e9-9cd7-79bcc8b3cd97.png)

[2019-01-14 21:17] RishabhJain2018 commented on #1996
Sure!

[2019-01-15 17:45] yashdusing commented on #1913
@RishabhJain2018 @gautamjajoo is this taken ? If not, I'd like to work on it

[2019-01-15 18:23] gautamjajoo commented on #1913
@yashdusing I haven't made a PR regarding the issue but not sure if the issue is valid or not. Let it be confirmed by @RishabhJain2018 .

[2019-01-15 20:44] vkartik97 opened #2001 "Disable Submit if Submission Limit is exhausted"
**Deliverables**
- Disable Submit if any of the Submission Limit is exhausted
- Also, Submit Button should not be enables unless `Submission Upload File` is selected

This will decrease API Calls.

[2019-01-16 12:51] KhalidRmb commented on #1977
Hi! New to EvalAI :) May I work on this for now?

[2019-01-16 20:45] #1690 closed

[2019-01-17 00:06] #1904 closed

[2019-01-17 00:53] Ayukha opened #2006 "Improper error message shown"
**Expected behaviour :**
"User not logged In" or similar error message.

 **Observed behaviour :**

![error](https://user-images.githubusercontent.com/19167324/51288077-838f6800-1a20-11e9-9464-ea738875462e.png)

**Steps to reproduce the problem :**

Click on star challenge without logging In.

[2019-01-17 01:32] RishabhJain2018 commented on #2006
Sure! go ahead.

[2019-01-17 17:38] yashdusing commented on #1899
@gautamjajoo @RishabhJain2018 I don't think this bug still exists since I was not able to reproduce the bug again

[2019-01-18 18:17] Ayukha opened #2011 "Incorrect Fields in Jobs serializer"
*Observed code:* [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/jobs/serializers.py/#L54)
[code]
*Expected Code:*
[code]

[2019-01-18 20:45] deshraj commented on #2011
@Ayukha thanks for reporting this issue. Can you please create a PR for the same?

[2019-01-18 21:03] Ayukha commented on #2011
sure !

[2019-01-19 02:58] yongzx commented on #1866
Hi, is this issue resolved? I would like to take on this issue.

[2019-01-19 03:51] RishabhJain2018 commented on #1977
Hi @KhalidRmb Thanks for your interest! I think we have already resolved this issue. Please feel free to take up any other issue from the list. We have issues with labels as `good-first-issue` for beginners.
Also, do join our Gitter channel for your doubts. Feel free to ask questions/doubts you face while settings up EvalAI or solving the issue. I'll be happy to help.

[2019-01-19 05:16] #2011 closed

[2019-01-19 05:32] RishabhJain2018 opened #2014 "Update seed script to add broker url in challenge"
## Current Behaviour:

Currently, when the challenge is created using the seed script, the `queue` field is not populated.

## Expected Behaviour:
When the seed script is run, the `queue` field must be populated with the random string of 75 characters in length.

[2019-01-19 05:33] yashdusing commented on #2014
I'd like to take this up @RishabhJain2018

[2019-01-19 05:33] RishabhJain2018 commented on #2014
Sure! You can work on it.

[2019-01-19 17:13] sachinmukherjee opened #2017 "Editing team name input feild reflects the input feild of new participant team name"
**Bug**
We we edit a team name in participant team name then the text in the input feild of team starts appearing in the input feild of create participant team name.
![screenshot from 2019-01-17 20-35-23](https://user-images.githubusercontent.com/19318218/51430030-27546000-1c3b-11e9-8300-c5de18316b9c.png)

On the right hand side where create participant team is located you can see the same text is

[2019-01-19 17:14] sachinmukherjee commented on #2017
@RishabhJain2018 I'm working on this issue.

[2019-01-19 22:18] RishabhJain2018 commented on #1977
Closing this, since this is already fixed!

[2019-01-19 22:18] #1977 closed

[2019-01-19 23:41] Ayukha commented on #1558
@RishabhJain2018  Can I take this up?

[2019-01-21 05:53] RishabhJain2018 commented on #1558
Sure!

[2019-01-21 06:00] RishabhJain2018 opened #2019 "Change the submission visibility to public by default"
## Current Behaviour

Currently, when a submission is made then it is always private by default. A participant has to explicitly make it public to be visible on the leaderboard even if the leaderboard is public.

## Expected Behavior

The submission made should have the default visibility as public.

## Deliverables

- [ ] Change the `is_public` flag default value in Submissions model to `True`.
-

[2019-01-21 06:01] vkartik97 commented on #2019
Can I take this issue?

[2019-01-21 06:02] RishabhJain2018 commented on #2019
Sure!

[2019-01-21 06:14] RishabhJain2018 opened #2021 "Add a http response interceptor to catch all responses with status code 401"
## Current Behaviour

Currently, all the 401 responses are handled separately in different controllers which increases redundancy in the code.

## Expected Behaviour

A single function which will handle all the requests.

## Deliverables

- [ ] Create an interceptor service in `services.js` in order to catch all the response and check for 401 status code and return the response if there is 401 cod

[2019-01-21 06:33] RishabhJain2018 opened #2022 "Add feature to toggle leaderboard visibility by challenge host"
## Current Behaviour

The challenge host can view the challenge leaderboard but can't make it public/private after the challenge is completed.

## Expected Behaviour

A challenge host will be able to make the leaderboard public/private using the UI.

## Deliverables

### Backend
- [ ] Add a check in `get_or_update_challenge_phase_split` API for PATCH requests that the requesting user should a chal

[2019-01-21 06:50] RishabhJain2018 opened #2023 "Center align the leaderboard"
## Current Behaviour

The leaderboard table metrics are not properly aligned with their header.

## Expected Behaviour

The header and values must be properly aligned.

## Deliverables

- [ ] Remove all the align classes like `align-right, align-left etc.` in the leaderboard.html
- [ ] Add a class `align-center` to `table` attribute in the same file.

## For Testing
- [ ] Create at least 5 entries

[2019-01-21 06:53] gautamjajoo commented on #2023
Can I work on this?

[2019-01-21 06:55] RishabhJain2018 commented on #2023
Sure!

[2019-01-21 06:55] nileshprasad137 commented on #2022
I'm just getting started with the project and I'd like to work on this.

[2019-01-21 06:55] yashdusing commented on #2022
I'd like to take this up

[2019-01-21 06:58] RishabhJain2018 commented on #2021
Sure! go ahead.

[2019-01-21 06:58] RishabhJain2018 commented on #2022
yeah, you can work on it. Please feel free to ask if you have any doubts.

[2019-01-21 12:18] deshraj commented on #2023
@RishabhJain2018 I think you wrote the wrong class name here. The table should have a `centered` class instead of `align-center` so that it gets centered through materializecss. For reference, please see this https://materializecss.com/table.html. @gautamjajoo: please make sure that you don't miss this comment. :)

[2019-01-21 15:01] yashdusing opened #2025 "Editing hosted challenges directly doesn't work"
- The expected behaviour :
     Editing any hosted challenge properties should go smoothly
- The observed behaviour :
     Editing gives off an error
- Reason : localStorage which should contain the current challenge is not updated when we directly go through the 'Hosted Challenges' section. Only the 'All Challenges' section updates the localStorage
- Steps to reproduce the problem :
     1. Creat

[2019-01-21 15:50] sachinmukherjee commented on #2025
I think this issue is already opened. Please check https://github.com/Cloud-CV/EvalAI/issues/1802

[2019-01-21 17:09] yashdusing commented on #2025
@sachinmukherjee this one is different.

[2019-01-21 23:07] RishabhJain2018 opened #2028 "Determine why code coverage is low"
## Current Behaviour
The code coverage is 72% which is quite low.

## Expected Behaviour
The code coverage should be > 90%.

## Deliverable
- [ ] Figure out the pieces of code for which the test cases are missing.
(A link to google doc highlighting those sections in the comments would suffice for it.)

[2019-01-22 00:56] KhalidRmb commented on #2028
I would like to work on this one @RishabhJain2018

[2019-01-22 01:01] RishabhJain2018 commented on #2028
Sure! You can take this up.

[2019-01-22 14:10] vkartik97 commented on #2028
@RishabhJain2018 @KhalidRmb #1997 is related to this issue.

[2019-01-22 16:17] KhalidRmb commented on #1996
Related to this: Another update may be needed in requirements/prod.txt for uWSGI from
`uWSGI==2.0.15` to `uWSGI==2.0.17.1`
**Vulnerability****:** Directory Traversal (Severity- High). For reference: https://snyk.io/vuln/SNYK-PYTHON-UWSGI-42087

[2019-01-23 00:04] RishabhJain2018 commented on #2028
Thanks, @vkartik97 for mentioning it.
@KhalidRmb Please do take a note of it in the doc you are preparing.

[2019-01-23 00:07] RishabhJain2018 commented on #2021
Yeah, currently we don't have unit tests written for the frontend. I meant to test it manually if it is working or not. Can you please do that too!

[2019-01-23 00:59] #1929 closed

[2019-01-23 01:18] #1875 closed

[2019-01-23 01:36] #1893 closed

[2019-01-23 01:38] RishabhJain2018 commented on #1997
Closing this one, since we already have an issue for the same!

[2019-01-23 01:38] #1997 closed

[2019-01-23 02:44] RishabhJain2018 opened #2033 "Display the participant team name by which a participant participates in a challenge"
## Current Behaviour
In the current setup, a participant doesn't know the participant team by which they have participated until they select the submissions under `My Submissions` Tab.

## Expected Behaviour

The participant team should be constantly visible under the `My Submissions` Tab.

## Deliverables
- [ ] Add an API to fetch the participant team of the user corresponding the challenge.
- [

[2019-01-23 02:47] #2019 closed

[2019-01-23 02:56] Ayukha commented on #2033
Canil I take this up?

[2019-01-23 02:58] RishabhJain2018 commented on #2033
Sure! But you are already working on a feature. You can take it up after finishing that. Till then, it is open to everyone.

[2019-01-23 03:08] KhalidRmb commented on #2033
May I take this up, as I'm not working on any feature currently?

[2019-01-23 03:09] RishabhJain2018 commented on #2033
Sure! You can work on it.

[2019-01-23 04:31] #1996 closed

[2019-01-23 09:08] gautamjajoo commented on #2023
@deshraj @RishabhJain2018 This is screenshot when I use `centered` in `table` and `center` in `<tr>` tag. I have to use `center` in `<tr>` tag because without that the upper tab is not being center aligned. Is this okay?

![](https://files.gitter.im/gautamjajoo/oUzK/Screenshot-from-2019-01-21-19-50-31.png)

[2019-01-23 15:23] yashdusing commented on #2021
@RishabhJain2018 Could you help me out producing 401 errors ? Most of the 401 errors are due to login timeouts and I'm not sure how to produce them on my build manually

[2019-01-23 16:18] deshraj commented on #2021
You can change the token expiration time to something like 30 seconds or 1 minute and then you will be able to reproduce this error. Change has to be made in this line: https://github.com/Cloud-CV/EvalAI/blob/master/settings/common.py#L194

[2019-01-23 16:22] deshraj commented on #2025
@yashdusing I am not sure if this is a bug. It seems more like someone is tampering with the local storage related to a particular hostname on the browser. It will cause the ame issue for every website (which uses local storage) if you just go ahead and delete the contents of the local storage.

Please let me know if I am missing something here.

[2019-01-23 16:31] yashdusing commented on #2025
I should have used the term 'empty localStorage' carefully. What I meant was a localStorage that doesn't yet contain the newly created challenge

[2019-01-23 16:35] deshraj commented on #2025
Thanks for the clarification. This makes sense. It's a valid issue. Can you please update your issue description so that it is clear for anyone who reads it for the first time? :)

[2019-01-24 14:40] yashdusing commented on #2033
@deshraj @RishabhJain2018 Can I take this up if I've finished all of my other tasks and are waiting for review ?

[2019-01-24 17:00] KhalidRmb commented on #2033
@yashdusing  I've actually started on this one, and will make a PR for my other task soon. So, please be free to take up other issues :)

[2019-01-24 21:02] abhshkdz opened #2036 "Typos"
https://github.com/Cloud-CV/EvalAI/blob/fa2756c6e6c2c049f8fdf1649c05e1d0d1bf7ae1/frontend/src/views/web/challenge/participate.html#L90

https://github.com/Cloud-CV/EvalAI/blob/98065e3257db0cd629bc64b959a29bae519b0bfe/frontend/src/views/web/challenge/submission.html#L186

"Sorry, The Challenge is not active!" —> "Sorry, the challenge is not active."

[2019-01-24 21:04] vkartik97 commented on #2036
Can I work on this issue?

[2019-01-24 21:05] RishabhJain2018 commented on #2036
Sure! go ahead.

[2019-01-24 21:10] abhshkdz commented on #2036
https://github.com/Cloud-CV/EvalAI/blob/b9246417c50d4a7308a1ae05457e1be10bcf292d/frontend/src/views/web/featured-challenge/participate.html#L11

"Proceed to challenge page to participate in this Challenge!" —> "Proceed to challenge page to participate in this challenge."

https://github.com/Cloud-CV/EvalAI/blob/b9246417c50d4a7308a1ae05457e1be10bcf292d/frontend/src/views/web/featured-challenge/part

[2019-01-25 05:04] vkartik97 commented on #1593
@deshraj  @RishabhJain2018 Can I work on this issue?

[2019-01-25 07:05] yashdusing commented on #1607
@RishabhJain2018 @deshraj Could you please confirm my comment ?

[2019-01-25 07:26] gautamjajoo opened #2040 "Update Django version in docs"
Django version was updated to `1.11.18`. It should be updated in [Docs](https://evalai.readthedocs.io/en/latest/architecture.html#django
) also
@deshraj @RishabhJain2018

[2019-01-25 17:22] GauravJain98 commented on #1543
is it open of @parth-verma solution is to be merged?

[2019-01-25 17:26] GauravJain98 commented on #1826
Can we register all the models with all their fields?

[2019-01-25 18:35] RishabhJain2018 opened #2041 "Add feature for slack notification"
## Current Behaviour

Currently, when a challenge is created, submission is made or a contact message is received, EvalAI Admin doesn't get any notification.

## Expected Behaviour

A slack notification should be added for all the three events.

## Deliverables
- [ ] Create a common function in `base/utils` which will take input a slack webhook URL and a message to be sent to the slack.
- [ ] Add

[2019-01-25 18:36] RishabhJain2018 commented on #1558
Hi @GauravJain98 , the PR needs to be merged for this. Please take up any other issue.

[2019-01-25 18:36] yashdusing commented on #2041
I'd like to take this up

[2019-01-25 18:42] RishabhJain2018 commented on #1866
HI @yongzx @GauravJain98 This is open. Please let us know if you would like to work on it.

[2019-01-25 18:42] RishabhJain2018 commented on #2041
Sure! go ahead.

[2019-01-25 18:43] yongzx commented on #1866
Yes I would like to work on it!

[2019-01-25 18:44] RishabhJain2018 commented on #1866
sure! you can work on it.

[2019-01-25 18:44] kurianbenoy commented on #2040
Can I work on this issue @gautamjajoo ?

[2019-01-25 18:53] RishabhJain2018 commented on #2040
Sure! @kurianbenoy .

[2019-01-25 19:17] KhalidRmb commented on #2028
@RishabhJain2018 Link to Google doc with a checklist of all the relevant unit tests to be written: https://docs.google.com/document/d/1IF3APjd93hUeov4KKRGDupMlcjpLO-MYo3_lEP8e42k/edit?usp=sharing

[2019-01-25 21:58] #2040 closed, assigned to nobody

[2019-01-26 06:45] yashdusing commented on #2041
@RishabhJain2018 What all information should be posted to the slack channel when any of these are created ? Just a notification or some other related info as well ?

[2019-01-26 07:20] yashdusing commented on #2041
@RishabhJain2018 what all test cases need to be written ? All I've done is include the send slack notification function, so should I write a test case for that ?

[2019-01-26 12:52] gautamjajoo opened #2045 "Bug while editing Participating Team name"
### Observed Behaviour
When a user edits his team name he could see the previous name on the right side of the page. (See attached screenshot)

### Expected Behaviour
The team name on the right side should not be visible.

### Steps to Reproduce
 Make a Team and try to edit the team name/ you could cancel the change as well.

@deshraj @RishabhJain2018

![2019-01-26](https://user-images.githubuserc

[2019-01-26 13:00] Ayukha commented on #2045
@gautamjajoo  This issue has already been reported. Please see #2017  is its same.

[2019-01-26 13:01] #2045 closed

[2019-01-26 13:16] gautamjajoo opened #2046 "Center align the footer of dashboard when viewed below medium screen"
The dashboard footer be aligned properly as in the homepage when viewed below medium screen size.
@deshraj @RishabhJain2018

<table border="0">
<tr>
<td width="300">
<p align="center"><b> Observed </b></p>
<img src="https://user-images.githubusercontent.com/24366008/51787549-78afa280-2199-11e9-9a75-fa3835da104e.png" width="300" />
</td>
<td width="300">
<p align="center"><b> Expected </b></p>
<img

[2019-01-26 17:40] KhalidRmb commented on #2028
@RishabhJain ..any comments/changes required to the doc?

[2019-01-26 20:00] nileshprasad137 commented on #2022
Hi @RishabhJain2018 , I'd like to clarify two things..

1. > The challenge can view the challenge leaderboard but can't make it public/private after the challenge is completed.

Should challenge host be allowed to change visibility only after challenge completes or anytime?

2. If we have to use `get_or_update_challenge_phase_split`, should toggle button be presented to host only after he chooses

[2019-01-26 21:01] RishabhJain2018 opened #2047 "Display success and error message notification"
## Current Behaviour
We don't show a notification for success and error messages when a participant toggles the submission visibility.

## Expected Behaviour & Deliverable
Display a notification for both cases on Success and on Error.

[2019-01-26 21:01] Ayukha commented on #2047
Can I take this?

[2019-01-26 21:02] RishabhJain2018 commented on #2047
Sure! You can work on this.

[2019-01-27 09:56] nileshprasad137 commented on #2022
@RishabhJain2018 , When you have some time, can you clarify the above doubts. I'll submit the PR soon.

[2019-01-27 21:09] RishabhJain2018 commented on #2046
Sure! You can.

[2019-01-27 21:17] RishabhJain2018 opened #2048 "Add leaderboard description field"
## Current Behaviour
Currently, we don't display leaderboard description under the leaderboard tab.

## Expected Behaviour
A text field which will display the description about the leaderboard.

## Deliverables
- [ ] Add a blank and nullable text field in the Challenge model with the name `leaderboard_description`.
- [ ] Name the migrations as `Add_leaderboard_description_field_in_challenge`
- [ ]

[2019-01-27 21:17] vkartik97 commented on #2048
Can I work on this issue?

[2019-01-27 21:19] RishabhJain2018 commented on #2048
Sure! you can work on this issue.

[2019-01-28 04:58] #1508 closed

[2019-01-28 06:56] #2036 closed

[2019-01-28 07:13] #1795 closed

[2019-01-28 07:19] gautamjajoo commented on #1903
@RishabhJain2018 Please close this issue as well.

[2019-01-28 07:29] #1903 closed, assigned to nobody

[2019-01-28 07:34] RishabhJain2018 commented on #1945
Thanks, @gautamjajoo for pointing this out.
Closing this issue too!

[2019-01-28 07:34] #1945 closed

[2019-01-28 15:16] gautamjajoo commented on #1866
@yongzx Hey, are you working on it?

[2019-01-28 15:17] yongzx commented on #1866
Yes I am working on it

[2019-01-28 17:04] GauravJain98 opened #2052 "Use of 2 docs in the requirements"
If you'd like to report a bug, please include the following information:
- We should have only one documentation in the requirements
- We have both drfdocs and drf-yasg
Thanks!

[2019-01-29 03:42] Ayukha commented on #1594
@RishabhJain2018  Is this issue still open?

[2019-01-29 07:43] yongzx commented on #1866
@RishabhJain2018

I couldn't understand what goes wrong for the HTTP Get request for clicking the next button when `challenge.submissionResult.next` in `ng-click=challenge.load(challenge.submissionResult.next)` shows the correct url.

I updated `app/base/utils.py` to the following to allow pagination size of 100.
[code]

I experienced this error without changing other codes:
[code]

I believe the

[2019-01-29 07:52] gautamjajoo commented on #1866
@yongzx Did you update in `settings/common.py`? You can try doing that.

[2019-01-29 19:24] nikhilmudholkar commented on #1733
@deshraj @RishabhJain2018 I would like to work on this issue.

[2019-01-29 19:44] RishabhJain2018 commented on #1733
Hi @nikhilmudholkar Sure, you can work on this issue.

[2019-01-30 00:05] RishabhJain2018 commented on #2022
Ohh..I missed this,

Anytime the challenge host wants to toggle the visibility.

yeah.

right.

yeah, the toggle button should appear only after the challenge host chooses challenge phase and split in the leaderboard tab.

Please feel free to ask if you have some other questions too!

[2019-01-31 03:01] dhruvbatra opened #2055 "Feature Request: Show accuracy/submission stats on the challenge page"
People who visit a challenge page often want to know how active it is and what the rate of progress is (when did state of art last improve).

Example on Codalabs: https://competitions.codalab.org/competitions/20687#learn_the_details

[2019-01-31 03:02] Ayukha commented on #2055
can i take this?

[2019-01-31 06:35] indranilbiswas7 commented on #2048
is this issue still workable on ?

[2019-01-31 06:37] vkartik97 commented on #2048
@indranilbiswas7
I am working on this feature and about to make a PR for this.

[2019-01-31 06:40] indranilbiswas7 commented on #2047
is this issue still workable on ?

[2019-01-31 06:45] Ayukha commented on #2047
@indranilbiswas7 I have already opened a PR for this, please take up another issue.

[2019-01-31 09:02] nikhilmudholkar commented on #1733
Can someone help me with some basic pointers for solving this issue? The entire codebase to new to me.  At least, can anyone point me to relevant files and scripts where the issue needs to be solved?

[2019-01-31 11:58] KhalidRmb commented on #1733
@nikhilmudhokar Look at at the docs to get a basic understanding of the codebase: https://evalai.readthedocs.io/en/latest/ :)

[2019-02-01 18:33] gautamjajoo opened #2059 "Inaccuracy in page number in Existing Teams"
### Observed Behaviour
When we have less than 10 teams on existing teams page, the intial page count is shown as 0. (Refer to the screenshot)

### Expected Behaviour
The initial count should be 1.

### Steps to Reproduce
Go to any challenge in which you have not particpated. Select the `Participate` tab.

### Deliverables
- [ ] Update the intial page number on the participant side.
- [ ] Check for

[2019-02-01 18:44] gautamjajoo opened #2060 "Unnecessary notification for unverified users"
### Observed Behaviour
When an un-verified user tries to see his profile, he is shown a blanck notification.

### Expected Behaviour
Remove the notification.

### Steps to reproduce
Create a user and go to the profile section. You could see a black notification popping out

@deshraj @RishabhJain2018

![capture](https://user-images.githubusercontent.com/24366008/52142675-54fbc900-267f-11e9-8c29-4a9

[2019-02-01 18:54] vkartik97 opened #2061 "Update the Documentation for Monthly Submission Limit Per Team for Challenge Creation"
### *This is Issue is only for Newbies i.e. who haven't been assigned any issues yet*
Deliverables:
- [ ] Add field for *Monthly Submission Limit Per Team* to [`challenge_config.yaml` in EvalAI-Starters](https://github.com/Cloud-CV/EvalAI-Starters/blob/master/challenge_config.yaml)
- [ ] Update the [Challenge Creation Documentation](https://github.com/Cloud-CV/EvalAI/blob/master/docs/source/challe

[2019-02-01 19:02] Sanji515 commented on #2059
@RishabhJain2018 I want to work on this issue.

[2019-02-01 19:04] yashdusing commented on #2060
I'd like to solve this bug @gautamjajoo

[2019-02-02 01:02] Mike-Dai commented on #2061
Hi, I'm new to CloudCV. can I work on this issue?

[2019-02-02 04:00] vkartik97 commented on #2061
@Mike-Dai Sure! you can work on this issue.

[2019-02-02 07:20] RishabhJain2018 commented on #2023
@gautamjajoo This looks good. Can you please open a PR for the same?

[2019-02-02 11:00] gautamjajoo commented on #2060
@yashdusing Sure! You can work on this.

[2019-02-02 11:02] gautamjajoo commented on #2059
@Sanji515 Sure! You can work on this issue.

[2019-02-02 12:32] vkartik97 opened #2064 "Travis Failing Tests Because of bug in GetRemainingSubmissionTest"
The Test `test_get_remaining_submission_when_submission_made_three_days_back` is failing for expected `remaining_submissions_this_month_count`

[2019-02-02 12:52] yongzx commented on #1647
@deshraj I assume this is still open. I will work on this issue.

[2019-02-02 16:23] gautamjajoo opened #2067 "Disable user to participate in a challenge when one of the user is unverified"
### Observed Behaviour
When a verified user adds an unverified user to his team and then tries to participate in a challenge, he is successfully able to submit his entry to the challenge.
Please see the [screencast](https://drive.google.com/file/d/0B1bLU2zTKVNmRUhRSkVpSGRheEFQSmVHWTdUMnhaWnNXd2I4/view?usp=sharing) for reference.

### Expected Behaviour
If the user hasn’t verified and is invited to

[2019-02-02 16:35] KhalidRmb commented on #2067
Can I take this one?

[2019-02-02 20:41] Ayukha commented on #1899
@RishabhJain2018  @gautamjajoo The bug still exists as I am able to reproduce it.
![out](https://user-images.githubusercontent.com/19167324/52169043-1b4ac100-2758-11e9-94a3-2f8a18a8c571.gif)

[2019-02-02 20:50] Ayukha opened #2068 "Bug while editing evaluation script"
@RishabhJain2018

![out](https://user-images.githubusercontent.com/19167324/52169141-e8a1c800-2759-11e9-8cb9-abfb685faf30.gif)

Text under Evaluation Criteria disappears.

[2019-02-02 21:30] Ayukha commented on #2068
@Sanji515  I have solved the issue and opened a PR for it.

[2019-02-02 21:37] vkartik97 commented on #2068
Hi @Ayukha
Thanks for opening an Issue and Making a PR for this!
Can you please correct the title `evaluation script` -> `evaluation criteria`, as `evaluation script` is used for Submission Evaluation. Please See [docs/source/challenge_creation.md](https://github.com/Cloud-CV/EvalAI/blob/master/docs/source/challenge_creation.md) and [docs/source/submission.md](https://github.com/Cloud-CV/EvalAI/bl

[2019-02-02 21:43] RishabhJain2018 opened #2070 "Automate the process of sending Emails to challenge hosts"
## Current Scenario

Whenever a user creates a challenge on EvalAI, then EvalAI admin has to send the email manually saying
[code]

## Deliverables

We would like to automate this process of sending the emails. We would like to use Send Grid API for sending the emails.

So, ideally, the flow should be -
- [ ] A user creates a challenge on EvalAI
- [ ] An Email is sent to the user on the Email Id r

[2019-02-02 21:43] vkartik97 commented on #2070
Can I work on this issue?

[2019-02-02 21:44] yashdusing commented on #2070
Can i work on this?

[2019-02-02 21:44] RishabhJain2018 commented on #2070
Assigning this to @vkartik97 . Opening some more issues shortly :)

[2019-02-02 21:46] Ayukha commented on #2068
Hi @vkartik97
I think the title is correct as the bug was observed while trying to edit the evaluation script.
Please let me know if I'm missing something :)

[2019-02-02 21:48] vkartik97 commented on #2068
@Ayukha
The Title is correct!
Apologies :)

[2019-02-02 21:50] RishabhJain2018 commented on #1995
@vkartik97 Is this issue completed? It would be nice if you'll complete the previous taken issues and then work on new one :)

[2019-02-02 21:52] vkartik97 commented on #1995
@RishabhJain2018 I'll try to open PR for this ASAP

[2019-02-02 21:54] RishabhJain2018 commented on #1995
Sounds good! Please complete it asap, till then @yashdusing you can take up #2070

[2019-02-02 21:54] RishabhJain2018 commented on #2070
Since @vkartik97 is already working on an issue, so assigning this to @yashdusing .

[2019-02-02 22:01] RishabhJain2018 commented on #1633
Closing this issue for now and added it to todo's, since we'll add it later. Thanks, @ezavesky for the suggestions.

[2019-02-02 22:01] #1633 closed

[2019-02-02 22:03] RishabhJain2018 commented on #1655
Closing this issue, since this is no needed now!

[2019-02-02 22:03] #1655 closed

[2019-02-02 22:04] RishabhJain2018 commented on #1671
Closing this for now since we converged upon other design decisions.

[2019-02-02 22:04] #1671 closed

[2019-02-02 22:08] RishabhJain2018 commented on #1619
This issue is still open to work :)

[2019-02-02 22:42] Ayukha commented on #1740
@RishabhJain2018  I would like to work on it.

[2019-02-02 22:42] RishabhJain2018 commented on #1740
Sure!

[2019-02-02 22:56] RishabhJain2018 commented on #1829
Closing this since it is already fixed!

[2019-02-02 22:56] #1829 closed

[2019-02-02 23:08] RishabhJain2018 commented on #1825
@vkartik97 Can you please describe how you are thinking of it?

[2019-02-02 23:09] RishabhJain2018 commented on #1632
@supra08 Would you like to still work on it?

[2019-02-03 09:08] iamjayantk commented on #2048
Is this issue still open?
Can i work on this issue?

[2019-02-03 09:09] vkartik97 commented on #2048
Hi @iamjayantk
I have opened a PR for this #2056

[2019-02-03 14:17] ashish0910 commented on #2023
Can I take this issue ?

[2019-02-03 14:37] ashish0910 commented on #1619
@RishabhJain2018 can I work on this ?

[2019-02-03 19:05] RishabhJain2018 commented on #1619
Sure @ashish0910 you can work on this!

[2019-02-03 19:05] RishabhJain2018 commented on #2023
Sorry, but this has already been taken.

[2019-02-04 02:46] #1758 closed

[2019-02-04 02:48] RishabhJain2018 commented on #1892
@Sanji515 yes! replace the key icon with an eye icon :)

[2019-02-04 02:50] RishabhJain2018 commented on #1486
@Abhi-1198 Just confirming, are you still working on this issue?

[2019-02-04 02:51] Ayukha commented on #1705
@RishabhJain2018 I would like to work on it.

[2019-02-04 02:54] RishabhJain2018 commented on #1705
Sure!

[2019-02-04 02:54] RishabhJain2018 commented on #1190
Closing this since we now support challenge based worker.

[2019-02-04 02:54] #1190 closed

[2019-02-04 03:01] RishabhJain2018 commented on #2067
Good Catch @gautamjajoo .
@KhalidRmb You can work on it.

[2019-02-04 03:04] RishabhJain2018 commented on #1913
Yup, I agree with the issue. Thanks @gautamjajoo for pointing it.

[2019-02-04 03:07] RishabhJain2018 commented on #1647
Sure @yongzx You can work on this.

[2019-02-04 03:10] RishabhJain2018 commented on #2060
I believe @yashdusing you are still on an issue. Hence this is still unassigned :)

[2019-02-04 03:16] sachinmukherjee commented on #2060
Can I work on this?

[2019-02-04 03:16] RishabhJain2018 commented on #2060
Sure! You can work on this.

[2019-02-04 12:59] yashdusing commented on #2070
@RishabhJain2018 do you mean the user tries to create the challenge ? Because the email says that the user was trying to create a challenge (and was unsuccessful) but the description says that the user was successful..

[2019-02-04 20:22] RishabhJain2018 commented on #2070
So, what I meant is that user created a challenge on EvalAI but the worker needs to be restarted (which can only be done by EvalAI Admin) so that challenge can accept submissions (Now the challenge is created successfully). So, to start a conversation with challenge host we need this feature saying that the challenge isn't successfully created so that they don't announce it publically to participa

[2019-02-04 20:34] RishabhJain2018 commented on #2070
This is also a nice idea but we need to reframe the email content in that case though by adding emails for contacting EvalAI admin. I'll change the content for the email.  No, don't the logic for it. We can change the email content in both the situations and use a single function to send the email.

[2019-02-05 03:31] sachinmukherjee commented on #1913
Can I work on this?

[2019-02-05 04:18] RishabhJain2018 commented on #1913
@sachinmukherjee I think you are already working on an issue, right?

[2019-02-05 04:21] sachinmukherjee commented on #1913
@RishabhJain2018 I have submitted a PR for the previous issue.

[2019-02-05 04:22] RishabhJain2018 commented on #1913
I see..You can work on this :)

[2019-02-05 05:39] yashdusing commented on #1913
Actually even I have finished with my PR and I was working on it. So what should be done ? @RishabhJain2018 @sachinmukherjee

[2019-02-05 13:18] yashdusing commented on #1594
@RishabhJain2018 I could extend my PR to write about both of them. So, is this issue still open ?

[2019-02-05 13:34] yashdusing commented on #1593
@Ayukha Aren't you working on #1705 ? I also wanted to work on this or #1705

[2019-02-05 15:08] vkartik97 opened #2077 "Updating numpy in requirements/worker.txt"
Reference:
- [Bug 1122208 - (CVE-2019-6446) VUL-0: CVE-2019-6446: python-numpy: NumPy uses the pickle Python module unsafely, which allows remote attackers to execute arbitrary code](https://bugzilla.suse.com/show_bug.cgi?id=1122208)
- [numpy load function with evil data will cause command execution #12759](https://github.com/numpy/numpy/issues/12759)
- [https://www.securityfocus.com/bid/106670](h

[2019-02-05 15:31] yashdusing commented on #1593
@RishabhJain2018 @deshraj Can I work on this ?

[2019-02-05 18:39] namish800 commented on #2077
@vkartik97 Can I work on this issue?

[2019-02-05 18:46] vkartik97 commented on #2077
@namish800 Sure! you can work on this issue.

[2019-02-05 18:48] namish800 commented on #2077
If I am right I just have to change the version of numpy in worker.txt from 1.14 to 1.16.1

[2019-02-05 18:54] vkartik97 commented on #2077
@namish800
Yes

[2019-02-06 01:53] kurianbenoy commented on #1866
Can I work on this issue @RishabhJain2018 @deshraj ?

[2019-02-06 02:01] gautamjajoo commented on #1866
@kurianbenoy Please take up any other issue @yongzxhas has already made a PR for it.

[2019-02-06 03:39] yongzx commented on #1866
@kurianbenoy yes I have implemented all the features and I am just waiting for the PR to get accepted.

[2019-02-06 07:55] KhalidRmb commented on #2067
@RishabhJain2018 We can consider being a verified user as a pre-requisite for being invited into any team. If not verified, we can display an appropriate message.
Either that or to disable the submit tab until all team members are verified. What do you think?

[2019-02-06 09:11] gautamjajoo commented on #2067
@KhalidRmb We should allow all the users to be added in the team irrespective of the fact that the email address is verified or not. If the user hasn’t verified and is invited to a team, then he/she cannot participate in the challenge. They have to verify their email address.
cc: @RishabhJain2018

[2019-02-06 09:43] KhalidRmb commented on #2067
I see. In that case, we can throw an appropriate warning while inviting (i.e, you can't participate until the user is verified) and follow through by not displaying/throwing an appropriate error when a user tries to participate through the team under question.
**P.S:** Isn't the whole purpose of creating a team to participate in a challenge? So, I thought a user is not to be added unless they're v

[2019-02-06 13:12] kosio opened #2079 "Cannot create a challenge on hosted EvalAI"
Hello,

I just discovered your exciting project and I am trying to set it up locally. However, I have the following problem when I try to create a new challenge.

The setup:
1. I forked and downloaded the EvalAI project locally
2. Started using `docker-compose up --build`
3. Created a new `challenge_config.zip` by cloning EvalAI-Starters and running ./run.sh
4. I created the challenge via the Eval

[2019-02-06 13:38] KhalidRmb opened #2080 "After deleting a challenge, redirect to Dashboard."
**Current Behaviour:**
After deleting a challenge, the page does not change and the user can still modify the contents of the page which obviously won't persist.
**Expected:**
As the challenge has been deleted, it makes more sense to redirect the user to some relevant page like the dashboard or the Hosted Challenges page.
@RishabhJain2018

**Deliverables:**

- [x] Add necessary frontend code to re

[2019-02-06 13:51] Sanji515 commented on #2080
@KhalidRmb @RishabhJain2018 I want to work on this issue.

[2019-02-06 14:56] nikhilmudholkar commented on #2080
@KhalidRmb @RishabhJain2018 can i work on this issue?

[2019-02-06 15:01] yashdusing commented on #2079
@kosio instead of the last step, coulf you try these ?
1: ‘docker container ls’ while the server is running in the background
2: Check the container id of EvalAI worker and copy it.
3: docker stop container_id
4: docker start container_id

[2019-02-06 15:01] yashdusing commented on #2079
And please try doing it with the example test_config in the examples folder

[2019-02-06 15:13] yashdusing commented on #1913
Thanks @sachinmukherjee !

[2019-02-06 15:38] vkartik97 commented on #1593
@yashdusing
As you have been assigned #1913, can I take this up?

[2019-02-06 15:55] kosio commented on #2079
Hey @yashdusing

Thank you for your suggestions, unfortunately I get the same error.

Here is what I did
1. I loaded the challenge from the example folder (only changed the end-date to 2019 instead of 2017)
2. I restarted the worker container using the steps you suggested.

The error is still
[code]

[2019-02-06 16:00] yashdusing commented on #1593
@vkartik97 sure !

[2019-02-06 16:06] vkartik97 commented on #1593
Thanks @yashdusing :)

@Ayukha, You have also been assigned #1705, so maybe I should work on this?

[2019-02-06 18:31] yongzx commented on #1647
@deshraj @RishabhJain2018 For the first task, are the files referring to the submitted files in `My Submission` and `View All Submission`? And we are only restricting the access to the users who have logged in to the dashboard right?

[2019-02-06 19:21] yashdusing commented on #1913
@gautamjajoo Should the tab be disabled or the button ?

[2019-02-07 01:49] kurianbenoy commented on #1923
@Ayukha @RishabhJain2018 can I work on this issue?

[2019-02-07 02:07] yashdusing commented on #2079
@kosio are you sure your installation went smoothly?
Could you try rebuilding from scratch (take down the running containers first) ?

[2019-02-07 05:29] gautamjajoo commented on #1913
@yashdusing You could disable the button `Get you Auth token`.

[2019-02-07 05:30] yashdusing commented on #1913
Disable or freeze ?

[2019-02-07 11:09] yashdusing commented on #1486
Is anyone working on this ?

[2019-02-07 11:32] kosio commented on #2079
I tried cloning and rebuilding from scratch and everything seems to pass, but I still have the problem when I upload a new challenge.

Just a note, I only have a problem with the worker when I upload a new challenge. When I submit a random file to the challenge, which is set up by default, the worker completes and I get an evaluation score.

From the error message, it seems that the worker is not

[2019-02-07 13:00] kosio commented on #2079
I just tried it on a clean Amazon Linux machine and got the same error

[2019-02-07 17:11] kurianbenoy opened #2087 "Requirement Incompatibility"
Following warnings are show during `docker-compose build` when I was doing a fresh install. Certain packages in requirements are incompatible to certain other and would require changes in version no for certain package. I fell a long term solution other than using requirements.txt can also be thought about

[code]

#### Would you like to work on this issue?
Yes

[2019-02-07 17:52] gautamjajoo opened #2088 "Add permission for all the members of host teams"
### Observed Behaviour
If a user makes a host team with additional members in it, and then hosts a challenge. It is observed that the user who made the challenge is only able to delete the challenge and any other member of the team can't do it.

### Expected Behaviour
Add support for giving permissions to other team members of the host team .

### Deliverables
- [ ] Allow other members of the host

[2019-02-07 17:57] yashdusing commented on #2088
I’d like to take this up

[2019-02-07 18:03] yashdusing commented on #2088
@gautamjajoo But I think that anyone besides the team lead shouldn't be allowed to make drastic changes to the host team. Instead of deleting, we could think of other privileges which are exclusive to the team lead (i.e. challenge creator/host)

[2019-02-08 11:09] RishabhJain2018 opened #2090 "Disable submissions from UI if the challenge is Docker based"
## Current Scenario

Currently, a user can submit to both docker based and non-docker based challenges using the UI. We'd like to restrict the user to submit to docker based challenges using the CLI.

## Expected Behaviour

The user can't submit to a challenge using the UI.

## Deliverables

- [ ] Add a check in the `challenge_submission` API to check if the challenge is docker based or not. If ye

[2019-02-08 11:14] vkartik97 commented on #2090
Can I work on this issue?

[2019-02-08 11:14] RishabhJain2018 commented on #2090
sure!

[2019-02-08 11:19] RishabhJain2018 commented on #1733
Hi @nikhilmudholkar For the first comment, please feel free to open a issue & fix it in a PR.

No, we allow challenge hosts to keep the challenge private and make submissions to in order to test if everything is working fine or not.

[2019-02-08 13:10] kurianbenoy commented on #2088
Can I work on this issue @gautamjajoo @RishabhJain2018 @Ram81

[2019-02-08 18:55] nikhilmudholkar opened #2092 "Outdated zip_challenge.yml leads to creation of challenge that is already expired"
EvalAI takes metadata from zip_challenge.yaml file inside the test_zip_folder to create a new challenge. The start and end dates in the .yaml file are outdated. So if a new user when tries to create a new challenge, the challenge is already over when created. This creates a lot of issues, particularly while submission.

Deliverables:-
- Update the dates in zip_challenge.yml

[2019-02-08 19:24] RishabhJain2018 opened #2093 "Add leaderboard sorting for featured challenges"
## Current Scenario

Currently, the leaderboard fields can be sorted using the arrows under the `All Challenges Tab` as shown here https://evalai.cloudcv.org/web/challenges/challenge-page/161/leaderboard/483 but when the same challenge is in `Featured challenges` then the arrows don't appear as shown here: https://evalai.cloudcv.org/featured-challenges/161/leaderboard/483

## Expected Scenario

Th

[2019-02-08 19:24] yashdusing commented on #2093
@RishabhJain2018 I'd like to take this up

[2019-02-08 19:25] RishabhJain2018 commented on #2093
Sure! you can work on it.

[2019-02-08 19:28] RishabhJain2018 commented on #2087
Can you please share your thoughts about it?

[2019-02-08 19:36] yashdusing opened #2095 "New challenge cannot be created after #2082"
Any new challenge cannot be created after #2082 has been merged into said branch.

[2019-02-08 19:39] RishabhJain2018 commented on #2093
This issue is still open :)

[2019-02-08 20:19] Sanji515 commented on #2093
@RishabhJain2018 Can I work on this issue?

[2019-02-08 20:19] RishabhJain2018 commented on #2093
Sure! you can work on this.

[2019-02-08 20:32] #2095 closed

[2019-02-08 21:35] vkartik97 commented on #2090
@RishabhJain2018

Instead of Disabling Form, can I just Display `The challenge *title* requires uploading code in the form of docker images. Please use EvalAI-CLI to make a submission` below `Submission Guidelines`

Example:
![screenshot from 2019-02-09 03-04-15](https://user-images.githubusercontent.com/3920286/52507423-7c223f80-2c17-11e9-8e34-a37f76a89ccb.png)

[2019-02-08 22:24] RishabhJain2018 commented on #2090
Yeah, this looks good to me!

[2019-02-09 03:15] kurianbenoy commented on #2093
@RishabhJain2018 , can I work this issue. I will put a PR now itself

[2019-02-09 03:33] kurianbenoy commented on #2087
The python requirements management is currently being criticised by a no of people like Armin Ronacher(creator of flask). The issue is being tried to fix by PSF also. What I feel is a better solution than current requirements.txt is `pipenv` [website]([https://pipenv.readthedocs.io/en/latest/). It has features like check to detect old packages which are incompatible.

I am not sure how suitable `p

[2019-02-09 04:50] yashdusing commented on #2093
@kurianbenoy since @sanji515 is already assigned for the PR I think you should ask to be assigned first before working on a PR

[2019-02-09 08:20] Sanji515 commented on #2093
@yashdusing @kurianbenoy  ok, that's fine, waiting for another issue to work on :)

[2019-02-09 08:56] #2077 closed

[2019-02-09 13:22] kurianbenoy commented on #2093
Sorry @Sanji515. I thought the issue was of high priority that's why I worked on it immediately. Also seeing 2 people being assigned to work on the issue, I thought maybe I can also come in and start working :smiley:

[2019-02-10 08:38] ArshdeepSingh98 commented on #2080
@KhalidRmb @RishabhJain2018 can i work on this issue?

[2019-02-10 11:53] RishabhJain2018 opened #2101 "Add unit tests for leaderboard API"
## Deliverable

- [ ] Add unit tests for the corner case mentioned in PR #2100 in the leaderboard API.

[2019-02-10 11:54] yashdusing commented on #2101
I’d like to work on this issue

[2019-02-10 11:54] RishabhJain2018 commented on #2101
Sure! you can work on this issue.

[2019-02-10 13:17] ArshdeepSingh98 commented on #2080
I have written the code for this, if you want i can raise PR for this. This is my first time contributing and i don't know the procedure.

[2019-02-10 14:23] kosio commented on #2079
I finally fixed the issue. Seems like a problem that should be happening to more people. Here is the one-line fix in my fork, let me know if you'd like me to open a PR here as well
https://github.com/kosio/EvalAI/commit/2e546fb93ff24ef7e5b4d401fe08b48f228a4e4b

[2019-02-10 14:40] vkartik97 commented on #2079
@kosio Thanks for fixing this.
Opening a PR would be great!

[2019-02-10 16:31] ArshdeepSingh98 commented on #2088
Can I work on this Issue, also how to add additional members in host team ?

[2019-02-10 16:37] gautamjajoo opened #2103 "Redirect users to Profile section on less than medium screen"
### Observed Behaviour
When a user visits any page on less than medium screen and tries to see `Profile` section, he is redirected to Home page.  You could see the Profile section from homepage only.

### Expected Behaviour
The user should be directed to the `Profile` page.

@deshraj @RishabhJain2018

[2019-02-10 16:56] Sanji515 commented on #2103
@deshraj @RishabhJain2018 @gautamjajoo I want to work on this issue.

[2019-02-10 17:04] ArshdeepSingh98 commented on #2103
@deshraj @RishabhJain2018 @gautamjajoo I would like to work on this issue ?

[2019-02-10 17:57] yongzx commented on #2028
@KhalidRmb @RishabhJain2018 I will create an issue and write unit tests for /apps/base/utils.py because #2054 couldn't pass the coverage tests.

[2019-02-10 18:29] KhalidRmb commented on #2080
Hi! @ArshdeepSingh98 Sure, since you've already worked on this make a PR, but from next time it would be better to wait until it's assigned. :) Here's the process to make a PR: https://github.com/Cloud-CV/EvalAI/blob/master/.github/CONTRIBUTING.md.

[2019-02-10 18:50] kurianbenoy opened #2104 "Add Updates to docs"
- In [submission page](https://evalai.readthedocs.io/en/latest/submission.html) the `url namespace` link points to the django 1.10 docs
- In [Approve submission page](https://evalai.readthedocs.io/en/latest/approve_challenge.html) Reloading Submission worker is done by command `docker-compose reload worker `. Current the command reload is replaced by [restart](https://docs.docker.com/compose/refer

[2019-02-10 19:26] ArshdeepSingh98 commented on #2080
#2106 https://github.com/Cloud-CV/EvalAI/pull/2106/commits/b37b6c96185d41ee14e4f0574b5b54f9cb556ef1 Deleting challenge redirects to dashboard

[2019-02-10 19:42] yongzx opened #2107 "Incorrect implementation of encode_data() and decode_data()"
I come across this issue when I am writing the unit tests for `encode_data()` and `decode_data()` functions in `apps/base/utils.py` due to the decrease in coverage. The error in implementation is not found because there are no unit tests and the functions are not used in other files.

First, the functions `base64.encodestring` and `base64.decodestring` have deprecated.
Second, without `.decode()`,

[2019-02-10 19:43] yongzx commented on #2107
I will be working on this since I run into the coverage issue with PR #2054

[2019-02-10 20:51] yongzx commented on #2028
@KhalidRmb Added unit tests for both functions `decode_data` and `encode_data` in /apps/base/utils.py #2107

[2019-02-11 05:02] kurianbenoy commented on #2104
@RishabhJain2018 @deshraj is this issue necessary?

[2019-02-11 09:17] sanchit-ahuja commented on #2070
If this is issue is still open, I would like to work on it please.

[2019-02-11 09:18] yashdusing commented on #2070
@sanchit-ahuja I have already sent a PR for it. Please feel free to take up some other issue

[2019-02-11 09:19] RishabhJain2018 opened #2109 "Add unit tests for get_challenge_phase_by_pk API"
There are missing unit tests for the API added in #2108

[2019-02-11 09:23] Sanji515 commented on #2109
@RishabhJain2018 I want to work on this issue but I haven't written unit tests before.

[2019-02-11 09:25] RishabhJain2018 commented on #2109
Sure, you can work on it! For reference, you can take a look at the `tests/` folder in the repository. Also, feel free to ask if you have some doubts.

[2019-02-11 09:29] RishabhJain2018 opened #2110 "Add tests for the add_participant_team_to_challenge API"
Add tests for adding participant team to the challenge API if the challenge is docker based.
The API is written [here](https://github.com/Cloud-CV/EvalAI/commit/09741c1ccf259660c426d70f955d8d935fa68550#diff-ff54996dc8925e4c7dbde340701c7086R233).
For mocking the boto3 requests to ECR, please use https://github.com/spulec/moto

[2019-02-11 09:31] RishabhJain2018 commented on #2104
Hi, @kurianbenoy Thanks for updating the documentation. Can you create two separate PR's for docs and leaderboard fix.

[2019-02-11 09:51] RishabhJain2018 opened #2111 "Display submission pk in the submissions table in admin"

[2019-02-11 10:32] nikhilmudholkar commented on #2111
I would like to work on this issue

[2019-02-11 10:32] RishabhJain2018 commented on #2111
sure @nikhilmudholkar, you can work on this issue!

[2019-02-11 12:44] Sanji515 commented on #2109
@RishabhJain2018 I've added the unit tests but how can I verify if they are correct.

[2019-02-11 12:59] Mike-Dai commented on #2110
Can I work on this issue?

[2019-02-11 13:06] RishabhJain2018 commented on #2110
Sure @Mike-Dai You can work on this.

[2019-02-11 13:50] sanchit-ahuja commented on #2070
Alright. It's really difficult to find any open issues right now. Almost all of the issues are taken.

[2019-02-11 13:52] RishabhJain2018 commented on #2070
Don't worry, I'll open more in few hours :)

[2019-02-12 03:12] Mike-Dai commented on #2110
@RishabhJain2018 Since it's my first time to write tests I'm confused about it. Should I add tests in `class MapChallengeAndParticipantTeam(BaseAPITestClass)` in `tests/unit/challenges/test_view.py`?

[2019-02-12 07:08] RishabhJain2018 opened #2116 "Add a progress bar showing in the percentage of file uploaded during a submission"
## Deliverables

- [ ] A progress bar which will appear on the upload of a file showing the percentage of the file uploaded to the server.

[2019-02-12 07:09] sachinmukherjee commented on #2116
Can I work on this?

[2019-02-12 07:10] RishabhJain2018 commented on #2116
Sure! but please keep me posted on this issue since we need it urgently.

[2019-02-12 07:12] sachinmukherjee commented on #2116
Ok

[2019-02-12 07:59] nikhilmudholkar commented on #1733
@deshraj @RishabhJain2018 I have worked on this issue. I will PR shortly. I am sure that the travis CI build will fail. This is because of the following reason.
From a lot of testing and trying as you can see from the long list of commits above, I came to the conclusion that there is a small flaw when testing for this condition. I looked into the test_views of jobs file and found out that the appr

[2019-02-12 12:47] Mike-Dai commented on #2110
@RishabhJain2018 I should test whether the ecr repository is successfully created or not and whether the participant team has the correct `docker_repository_uri` or not, right? Please correct me if my understand is wrong.

[2019-02-12 14:27] #2104 closed

[2019-02-13 13:40] sachinmukherjee commented on #2116
As this is of high priority and due to other works I can't say when i will be able to submit a PR for this one. So this issue is still open.

[2019-02-13 13:40] yashdusing commented on #2116
Can I take this up ?

[2019-02-13 14:27] ArshdeepSingh98 commented on #2116
Can I take this issue ?

[2019-02-13 21:17] RishabhJain2018 commented on #1705
Since @Ayukha isn't active these days, would you like to work on this @nikhilmudholkar?

[2019-02-13 21:25] Ayukha commented on #1705
@RishabhJain2018  I am working on it. And I'll open a PR soon.

[2019-02-14 12:21] nikhilmudholkar commented on #2111
@RishabhJain2018
The primary key should be a new field in the table or is there some particular field which has to be made as the primary key.
If the latter is true then which field has to be made as primary key?

[2019-02-14 14:54] nikhilmudholkar commented on #1705
Yaa i would like to work on it but it seems that someone is already working on this issue

[2019-02-14 15:24] nikhilmudholkar commented on #2055
@RishabhJain2018 can you give some details for this issue?

[2019-02-14 18:38] namish800 commented on #1619
Is this issue still open can I work on this? @RishabhJain2018

[2019-02-14 18:40] namish800 commented on #1593
Can I work on this issue?

[2019-02-14 18:41] RishabhJain2018 commented on #1619
@ashish0910 Any updates on this?

[2019-02-14 18:42] RishabhJain2018 commented on #1593
I think no one is working on this. Hence, you can work on this @namish800 :)

[2019-02-14 18:44] namish800 commented on #1593
@RishabhJain2018 I am new to this project can you tell me how to proceed with it?

[2019-02-15 04:03] ashish0910 commented on #1619
@namish800 you can also work on it , I am having hard time resolving it . @RishabhJain2018

[2019-02-15 06:05] RishabhJain2018 opened #2122 "Add feature to resend verification Email link"
## Description
Suppose the user loses verification email without verifying the link, then neither user will be able to verify his account nor create a new account with the same email address.

## Deliverables
- [ ] API endpoint to resend verification email (Use #1355 as a reference)
- [ ] Front to show the link (Use #1354 as a reference)

Also, there should be button/Link ("Resend Verification Ema

[2019-02-15 06:15] ArshdeepSingh98 commented on #2122
I would like to work on this issue.

[2019-02-15 06:16] RishabhJain2018 commented on #2122
Sure @ArshdeepSingh98 , you can take this issue.

[2019-02-15 06:25] RishabhJain2018 opened #2123 "Modify the tweet button in the footer for sharing the webpage"
For Reference:
1. https://developer.twitter.com/en/docs/twitter-for-websites/tweet-button/overview.html
2. https://help.twitter.com/en/using-twitter/add-twitter-share-button

[2019-02-15 06:32] sachinmukherjee commented on #2123
I want to work on this

[2019-02-15 06:46] kurianbenoy commented on #2123
Can I work on this issue?

[2019-02-15 07:44] nikhilmudholkar commented on #2123
I would like to work on this as well

[2019-02-15 08:00] kurianbenoy commented on #2123
@RishabhJain2018 do you want a tweet button which redirects to tweet with some hash tag's and contets like

` --------------------       #OpenSOurce #EvalAI @CloudCV`

[2019-02-15 10:11] namish800 commented on #1593
@deshraj @RishabhJain2018 Can you point me towards the file which validates the submissions.

[2019-02-15 11:34] gautamjajoo opened #2126 "Hide pagination buttons when tab is changed"
### Observed Behaviour
When we select a phase and see the submissions for the same and then change the tab, the pagination buttons and the `Total Submissions Done` are still visible.

### Expected Behaviour
The pagination buttons and `Total Submissions Done` should not be visible after a tab is changed.

### Deliverables
- [ ] Hide the pagination buttons.
- [ ] Hide the text showing`Total Submissi

[2019-02-15 11:35] sachinmukherjee commented on #2126
Can I work on this

[2019-02-15 11:38] Sanji515 commented on #2126
@RishabhJain2018 @gautamjajoo Can I work on this issue?

[2019-02-15 16:00] RishabhJain2018 opened #2127 "Fix potential vulnerabilities due to outdated requirements"
There are some outdated requirements which can open potential security threats. Hence we should update the vulnerable package versions as suggested by Github. Here is the list of upgrades to be done (as suggested by Github):

`django==1.11.20`

Please make sure to verify the validity and compatibility of suggestions with EvalAI codebase.

[2019-02-15 16:23] Ayukha commented on #2127
@RishabhJain2018  There was a [bug](https://docs.djangoproject.com/en/2.1/releases/1.11.20/#bugfixes) related to packaging error in `django 1.11.19` which is fixed in `django 1.11.20` . So I think it would be better to upgrade to `django==1.11.20`.

[2019-02-15 16:35] RishabhJain2018 commented on #2127
I see. Thanks, @Ayukha for mentioning it. Let's upgrade to `1.11.20`

[2019-02-15 17:06] kurianbenoy commented on #2109
@Sanji515 haven't you put a PR for this issue?

[2019-02-15 17:48] Sanji515 commented on #2109
@kurianbenoy Hii!!, yup! I've already dropped a PR 3 days ago.

[2019-02-15 18:05] ArshdeepSingh98 commented on #2126
Can i work on this ?

[2019-02-15 18:06] RishabhJain2018 commented on #2126
@ArshdeepSingh98 You are already assigned #2122 . Please finish that then you can take this up.

[2019-02-15 18:31] dhruveshk commented on #2122
no one else can work on it then?

[2019-02-15 18:55] nikhilmudholkar commented on #2126
can i work on this issue?

[2019-02-15 20:01] Sanji515 commented on #1593
@RishabhJain2018 @deshraj Can I also work on this issue?

[2019-02-16 04:17] Sanji515 commented on #1593
@RishabhJain2018 @deshraj Done with all the deliverables, Can I make a PR for this issue.

[2019-02-16 23:40] RishabhJain2018 opened #2131 "Update seed script to add challenge slug"
## Current Behaviour:
Currently, when the challenge is created using the seed script, the `slug` field is not populated.

## Expected Behaviour:
When the seed script is run, the `slug` field must be populated with the challenge title and it must include a year in the name to keep it unique like `abc-challenge-2019`

[2019-02-16 23:42] #2014 closed

[2019-02-17 01:41] kurianbenoy commented on #2131
Can I work on this issue?

[2019-02-17 01:42] RishabhJain2018 commented on #2131
Sure!

[2019-02-17 07:45] sanchit-ahuja commented on #2111
Is this issue still open? If yes, I would like to work on it please. Thank You

[2019-02-17 10:46] nikhilmudholkar commented on #2111
I am already working on it. Just waiting for @RishabhJain to clarify some doubts.
Feel free to take up some other issue :)

[2019-02-17 12:45] namish800 commented on #1593
@deshraj @RishabhJain2018 Please review my PR #2130

[2019-02-18 15:34] akshay0505 commented on #2067
Is this issue still open. Can i work on it?

[2019-02-18 15:36] KhalidRmb commented on #2067
@akshay0505 I'm already doing this one. Take up other open issues :)

[2019-02-18 16:43] rohitjha941 commented on #2126
Can i work on this

[2019-02-18 20:24] RishabhJain2018 commented on #1705
@Ayukha Can you please let us know ETA on this? This is now becoming a priority thing for us

[2019-02-18 20:31] Sanji515 commented on #1705
@RishabhJain2018 If @Ayukha isn't active these days, then I can work on this issue.

[2019-02-18 22:23] vkartik97 opened #2134 "Remove duplicate statements from Tests"
Statement `self.challenge_phase.save()`  [tests/unit/jobs/test_views.py](https://github.com/Cloud-CV/EvalAI/blob/master/tests/unit/jobs/test_views.py)  has been repeated at **multiple places**.
For example, At [tests/unit/jobs/test_views.py#L680](https://github.com/Cloud-CV/EvalAI/blob/master/tests/unit/jobs/test_views.py#L680):
[code]
#### Deliverables
- [ ] Remove duplicates of `self.challenge_p

[2019-02-18 23:43] rohitjha941 commented on #2134
Can I work on this

[2019-02-19 01:22] kurianbenoy commented on #2134
Can I work on this issue?

On Tue, 19 Feb 2019 at 05:13, rohitjha941 <notifications@github.com> wrote:

[2019-02-19 08:48] vkartik97 commented on #2134
As @rohitjha941 commented first, assigning it to @rohitjha941 .

[2019-02-19 10:54] kurianbenoy commented on #2134
Okay @vkartik97. I am pretty close to finishing the issue. I hope @rohitjha941 can easily fix this issue soon.

[2019-02-19 12:56] rohitjha941 commented on #2134
#2136   will solve this issue

[2019-02-19 13:10] gautamjajoo commented on #2126
@sachinmukherjee Hey! You can take this up since you commented first.

[2019-02-19 13:11] gautamjajoo commented on #2103
@Sanji515 You can work on it!

[2019-02-19 13:11] gautamjajoo commented on #2088
@yashdusing You can work on this!

[2019-02-19 14:40] RishabhJain2018 opened #2137 "Add SIOP logo in "Who uses EvalAI" list."
Here is the SIOP [logo](https://drive.google.com/file/d/1zcw3uqDyM1iHha-o1_zUzKSAkt__98sG/view)

[2019-02-19 14:49] Ayukha commented on #2137
@RishabhJain2018 Can I take this?

[2019-02-19 14:51] RishabhJain2018 commented on #2137
@Ayukha Please complete the previous issue before taking this one.

[2019-02-19 15:13] anuj-rathore commented on #2137
Can I take this issue?

[2019-02-19 18:11] anuj-rathore commented on #2059
Since there is no progress, Can I take this now?

[2019-02-19 18:14] Sanji515 commented on #2059
@anuj-rathore It's already under review.

[2019-02-19 18:54] anuj-rathore commented on #1486
Can I take this issue?

[2019-02-19 19:23] Ayukha commented on #1705
@RishabhJain2018  I'll try to fix it by tonight. Actually, I'm struggling in using the package suggested.

[2019-02-19 22:41] anuj-rathore commented on #1619
Can I work on this?

[2019-02-19 22:42] RishabhJain2018 commented on #1486
@yashdusing You can take this one!

[2019-02-19 22:43] RishabhJain2018 commented on #1619
@anuj-rathore You can work on this. I'm not sure if @namish800 is working on it.

[2019-02-19 22:46] anuj-rathore commented on #1619
@RishabhJain2018 I tried replicating the issue, for me after clicking on the Login button on [http://localhost:8000/api/auth/email-confirmed/], It took me to the login page!

Seems like it already been fixed!

[2019-02-19 22:54] anuj-rathore commented on #1619
I have checked it on localhost and original site: [https://evalai.cloudcv.org/auth/login].
It is working as expected, I think we should close this issue.

[2019-02-19 23:00] RishabhJain2018 commented on #1619
No, this is not fixed. Currently what happens is that after creating a new user on `localhost` and verifying on `http://localhost:8000/api/auth/email-confirmed/`, the Login button redirects the user to the main hosted instance i.e. `https://evalai.cloudcv.org/auth/login` which should not be the case. It should be redirected to `http://localhost:8888/auth/login`.

Please let me know if something is

[2019-02-19 23:09] anuj-rathore commented on #1619
Sorry, I missed the url, taking this issue!

[2019-02-19 23:18] Ayukha commented on #1619
@RishabhJain2018  This is because the URL has been hardcoded [here](https://github.com/Cloud-CV/EvalAI/blob/master/apps/accounts/templates/account/email_confirm.html/#L45).
Can't we fix this by checking the `DEBUG` in settings and passing the url in context accordingly instead of changing it to angular routing?

[2019-02-19 23:37] anuj-rathore commented on #1619
I was thinking of a hacky solution just hardcode:
**From:**
<a href="https://evalai.cloudcv.org/auth/login" class="waves-effect waves-dark btn ev-btn-dark blue-grey darken-4">Log In</a>
**To**
<a href=" http://localhost:8888/auth/login" class="waves-effect waves-dark btn ev-btn-dark blue-grey darken-4">Log In</a>
This will work fine.

Actually, the issue is with the port, earlier it was 8000 and n

[2019-02-20 00:29] anuj-rathore commented on #1619
@RishabhJain2018, Should I proceed by making changes in docker?

[2019-02-20 16:01] yashdusing commented on #1619
@anuj-rathore Instead of doing this through plain HTML hardcoding you could try doing it in the javascript. This way you don't have to hardcode the port and the setup would work on any port.

[2019-02-20 16:04] namish800 commented on #1619
@anuj-rathore I am working on this issue.

[2019-02-20 16:13] RishabhJain2018 opened #2141 "Add feature for filtering the submissions"
## Current Scenario

If there are a large number of submissions in a challenge and a challenge host wants to view all the submissions for a participant team then they have to scroll through all the submissions.

## Expected

The challenge host should be able to filter the submissions by participant team name in `View All Submissions` Tab.

## Deliverables
- [ ] Add the required API's.
- [ ] Add th

[2019-02-20 16:16] Sanji515 commented on #2141
Can i work on this issue?

[2019-02-20 16:23] anuj-rathore commented on #2141
Can I take this, as I am done with my previous issue?

[2019-02-20 16:24] RishabhJain2018 opened #2142 "Highlight entry in My Submissions Tab"
## Current scenario

If a participant had made multiple entries public then the participant doesn't know which entry is visible on the leaderboard under `My submissions Tab` (Until they manually check it for the accuracies)

## Expected scenario

The entry which appears on the leaderboard should be highlighted in My submissions Tab.

[2019-02-20 16:27] Sanji515 commented on #2141
@anuj-rathore You can take #2142 issue.

[2019-02-20 16:28] RishabhJain2018 commented on #2141
Wait, wait. I'm here to help :)

Since @Sanji515 you commented first, you can take this one. @anuj-rathore Please take the issue #2142 or you can wait I'm opening some more issues.

[2019-02-20 16:30] yashdusing commented on #2141
@RishabhJain2018 Could you please take a look at the proposal I've sent ?

[2019-02-20 16:31] RishabhJain2018 commented on #2141
Yeah, I've it in my todo's. I'll get to it soon.

[2019-02-20 16:39] RishabhJain2018 opened #2143 "Create a unique link for each of the entry on the leaderboard"
## Current Scenario

If a participant wants to share their rank in a challenge on twitter/facebook then they have to share the entire leaderboard link.

## Expected scenario
There should be a unique link for each entry and upon opening, it should scroll to that particular entry and highlight it.

[2019-02-20 17:10] anuj-rathore commented on #2142
As you mentioned @RishabhJain2018, I am taking this issue!

[2019-02-20 17:10] RishabhJain2018 commented on #2142
sure! you can.

[2019-02-20 17:14] anuj-rathore commented on #1619
@namish800, since you are working, if you need any help we can discuss

[2019-02-20 17:19] RishabhJain2018 commented on #1346
Since @isht3 isn't active these days to update the PRs. Hence this issue is still open :)

[2019-02-20 17:23] RishabhJain2018 commented on #1347
This issue is still open to work :).

[2019-02-20 17:30] Sanji515 commented on #1346
@RishabhJain2018 Can I work on this after the completion of my previous issue?

[2019-02-20 17:57] kurianbenoy commented on #2143
I was interested to work on this issue, yet as mentioned in PR #2097 I am unable to obtain a submission to be shown in leaderboard. With proper help, I hope I can solve this issue :smile:

[2019-02-20 18:27] kurianbenoy commented on #2110
@Mike-Dai can I work on this issue. If you are feeling difficulty to understand this challenge

[2019-02-20 18:46] yashdusing commented on #1346
Even I'd like to work on a medium level difficulty issue but I'm already assigned to a problem. So, it's better that once we complete the assigned problems we work on this

[2019-02-20 20:32] RishabhJain2018 commented on #1346
Hi, @Sanji515 @yashdusing You guys can take this issue only when you've completed the previous ones. Till then it is open for everyone.

[2019-02-20 20:47] yashdusing commented on #2143
@RishabhJain2018 Can I take this up if no one's working on this ?

[2019-02-21 01:34] kurianbenoy commented on #2110
Can I take up this issue?

[2019-02-21 03:51] yashdusing commented on #2110
@Mike-Dai I’ll try to solve the confusions you have.
@RishabhJain2018 correct me if I’m wrong.
The tests will be of the following things:
1. The one you mentioned
2. Make another same name participant team and check whether the docker ecr entry is the same.
3. Hidden test cases like getting ecr name wrong, etc.
There might be some I missed and I think @RishabhJain2018 can explain these better but

[2019-02-21 10:02] Mike-Dai commented on #2110
@yashdusing Thank you for your explanation!
@kurianbenoy I'm sorry for my late response. I'm still working on this issue.

[2019-02-21 12:32] Sanji515 commented on #2141
@RishabhJain2018 For frontend should I add another `dropdown` similar to `phase list` populated with the list of the participating team for filtering?

[2019-02-21 17:50] RishabhJain2018 commented on #2141
Hmm..I am thinking of having a `Filter Submissions` button near the `Download` button under `View All Submissions` Tab which will appear when the host will select a phase. Upon clicking that button a modal comes up saying
`Filter submissions by using participant team` with a list of participant teams having input as a checkbox and of course scrollable, out of which the host selects one or multiple

[2019-02-21 18:35] deshraj commented on #2141
After having an offline discussion with @RishabhJain2018, we have converged on trying to get a search based filtering implemented instead of filtering through a modal. This will be a much simpler approach and provides a better user experience.

So basically the flow will be something like this:

1. Select phase to see all submissions
2. Enter submission id or team name in a search box to filter th

[2019-02-21 18:43] Sanji515 commented on #2141
So we are going to give to option for filtering one with `submission ID` and another with `team name` and the user can select among these two options, by which method he wants to search like in the `demo` dropdown is given for `Designation, name and company name`.
am I right? @RishabhJain2018 @deshraj

[2019-02-21 18:44] RishabhJain2018 commented on #2141
yeah

[2019-02-22 02:03] Sanji515 commented on #2141
@RishabhJain2018 @deshraj Please have a look to screencast.

![recording 4](https://user-images.githubusercontent.com/32524438/53214800-01740e00-3674-11e9-86c4-a9aa80ea98a6.gif)

[2019-02-22 02:27] Helinia commented on #2141
@Sanji515 Could I ask which tool did you use to make this amazing gif? Many thanks!

[2019-02-22 02:37] Sanji515 commented on #2141
@Helinia **Screencast-O-Matic** :)

[2019-02-22 20:08] AlwaysHumble commented on #2122
Sir , I would like to work on this issue.

[2019-02-22 21:05] RishabhJain2018 commented on #2122
Hi @ArshdeepSingh98 are you still working on this issue?

[2019-02-22 21:21] Sanji515 commented on #2141
@RishabhJain2018 @deshraj Please look into it.

[2019-02-22 21:23] deshraj commented on #2141
@Sanji515 this looks good in general. We might have more comments when we try it on our local machine. There might be some UI alignment we would want to do. Can you please open a PR for this?

[2019-02-22 21:24] Sanji515 commented on #2141
@deshraj @RishabhJain2018 sure!

[2019-02-22 21:44] Sanji515 commented on #1346
@RishabhJain2018 @deshraj I've completed my previous issue, Can I work on this?

[2019-02-22 21:45] RishabhJain2018 commented on #1346
Sure! you can start with this one now!

[2019-02-23 00:36] Ayukha commented on #2143
@RishabhJain2018  Can I take this up? I've finished working on my previous issue.

[2019-02-23 08:56] yashdusing commented on #1347
@deshraj @RishabhJain2018 What's the difference between this and #1346 ?

[2019-02-23 09:04] gautamjajoo commented on #1347
@yashdusing This issue is for inviting members for host team. And the other one is for inviting members to join participant team.

[2019-02-23 09:05] yashdusing commented on #1347
I'd like to take this up. I haven't been assigned any issues yet and have finished all my previous work

[2019-02-23 10:54] kurianbenoy commented on #1825
@vkartik97 are you thinking of some caching anything to speed up?

[2019-02-23 10:59] kurianbenoy commented on #1777
Can I work on this issue @RishabhJain2018

[2019-02-23 12:33] geekayush opened #2149 "Fix height of form input fields"
Currently, the elements below the input-fields in forms move downward when warning messages are inserted.

- the expected behaviour
The elements should not move from their own position.

- the observed behaviour
The elements move downward from their position.
![screenshot_2019-02-23 evalai](https://user-images.githubusercontent.com/22499864/53286402-eb5d6f00-3793-11e9-9361-c6407d681746.png)

[2019-02-23 13:30] geekayush commented on #2149
@shashaBot I am already working on this issue.

[2019-02-23 16:34] yashdusing opened #2151 "Update the test zip challenge in the example folder"
The challenge zip in the examples folder uses the python 2 version of the script which causes an issue with the submission worker.
Update the script and the yaml file dates as well
![screenshot_20190225_230622](https://user-images.githubusercontent.com/19976688/53356735-17beea00-3952-11e9-8057-81a71f6ab6df.png)

[2019-02-23 16:41] vkartik97 commented on #1825
I am currently experimenting with IaaS/SaaS and Reverse Proxies for Page Caching.
I will soon post my findings here!

[2019-02-23 16:49] sanchit-ahuja commented on #2151
Can I take this issue?

[2019-02-23 16:50] yashdusing commented on #2151
@sanchit-ahuja sure !

[2019-02-24 08:47] sarthak212 commented on #2143
@RishabhJain2018 Can i take this issue..?

[2019-02-24 09:49] ArshdeepSingh98 commented on #2122
yes, i am working on it. I had some issues with backend setup but now they are resolved.

[2019-02-24 12:56] chidauri commented on #2122
Hi @RishabhJain2018 i,ve worked on the issue.How do i test?

[2019-02-24 12:58] sachinmukherjee commented on #2126
@gautamjajoo  I'm not able to see View all Submission Tab. Here is the screenshot for that
![image](https://user-images.githubusercontent.com/19318218/53299570-f7176700-3861-11e9-8574-9a101eae0405.png).

[2019-02-24 13:16] Sanji515 commented on #2126
@sachinmukherjee Hi!, maybe you should log in as a host user for `view all submissions` tab

[2019-02-24 13:37] Ayukha commented on #2143
@RishabhJain2018 , As @yashdusing  and @kurianbenoy have shown interest in solving other issues. May I start working on this one?

[2019-02-24 17:59] ArshdeepSingh98 commented on #2122
Hi, feel free to take this issue because i will not be able to do this on time as i am still learning.

[2019-02-24 18:07] geekayush commented on #2122
@RishabhJain2018
Can I take this up?

[2019-02-25 09:20] charanjit-singh opened #2154 "Using Scheduler for sending email"
Hello EvalAI,
Thanks!

[2019-02-25 09:22] #2154 closed

[2019-02-25 13:00] GrayR00t commented on #2101
I want to work on this issue.

[2019-02-27 05:01] UpcominTerminator commented on #2151
Hey can I take up this Issue

[2019-02-27 05:34] sanchit-ahuja commented on #2151
@UpcominTerminator . Hi! I am working on this issue. I will try to submit a Pull request today. You can take up another issue. :)

[2019-02-27 06:15] JameerBabu commented on #2142
@anuj-rathore are you still working on this issue ??

[2019-02-28 13:45] kurianbenoy commented on #2028
`scripts/workers/submission_worker.py`  is a major area where Test coverage can be improved @KhalidRmb . Python unit test module may help us improving the test coverage considerably

[2019-03-01 05:09] #2064 closed

[2019-03-01 06:46] #2103 closed

[2019-03-01 07:35] #2127 closed

[2019-03-01 13:13] yashbhutoria commented on #2137
May I fix this issue ?

[2019-03-02 12:22] luck-u commented on #2149
I would like to work on this issue

[2019-03-02 17:24] kurianbenoy commented on #1777
Is this issue a priority as our frontend is now being migrated to `new frontend`, this year. If yes, I was interested to work on this project

[2019-03-02 17:25] kurianbenoy commented on #2143
I am not currently interested to work on this issue. I hope the mentors can assign some one else

[2019-03-03 13:16] luck-u opened #2159 "can't able to build and run"
observed behavior: when I run sudo docker-compose up --build the error comes up
Starting evalai_sqs_1 ...
Starting evalai_nodejs_1 ...
Starting evalai_sqs_1
Starting evalai_nodejs_1
Starting evalai_db_1 ... error

ERROR: for evalai_db_1  Cannot start service db: driver failed programming external connectivity on endpoint evalai_db_1 (4d07fb63496320fc7ae31d3623679376daaafcae4c325d5de5fb3457555b2db1

[2019-03-03 14:38] gautamjajoo commented on #2159
Hey @luck-u ! Check [common errors](https://evalai.readthedocs.io/en/latest/faq(developers).html#common-errors-during-installation) page, you could find the solution for your problem there. Also, you can redirect the issues you are facing during installation to the [gitter](https://gitter.im/Cloud-CV/EvalAI/) channel. Thanks! :)

[2019-03-03 18:41] yashdusing commented on #2151
@sanchit-ahuja are you still working on this ?

[2019-03-03 18:48] sanchit-ahuja commented on #2151
Not right now. You may assign to anyone else.

[2019-03-03 20:51] deshraj commented on #2159
@luck-u it looks like your port 5432 and 8888 are already occupied by some other process. Please kill them first. See our [FAQ](https://evalai.readthedocs.io/en/latest/faq(developers).html#q-getting-the-following-error) page that @gautamjajoo pointed you to. Closing this issue meanwhile. Plese feel free to re-open it issue persists.

[2019-03-03 20:51] #2159 closed

[2019-03-03 21:50] yashdusing commented on #1347
@Ram81 @RishabhJain2018 Can I work on this issue?

[2019-03-03 21:53] RishabhJain2018 commented on #1347
Sure, you can work on this issue.

[2019-03-03 22:51] #2131 closed

[2019-03-04 00:51] RishabhJain2018 opened #2160 "Mock AWS ECR requests for development environment"
## Current Behaviour

When the challenge is docker based then in the development environment you can't participate in it.

## Expected Behaviour

The challenge host and participant in the development environment should be able to participate in the docker based challenges.

## Fix
Mock boto3 ECR repository API calls in the development environment same as we do for AWS SQS.
Resource that can be use

[2019-03-04 00:52] vkartik97 commented on #2160
Can I work on this issue?

[2019-03-04 00:54] RishabhJain2018 commented on #2160
Sure but you are still working on https://github.com/Cloud-CV/evalai-cli/issues/145 issue. Please finish that issue first.

[2019-03-04 00:57] Ayukha commented on #2160
Can i take this ?

[2019-03-04 00:57] RishabhJain2018 commented on #2160
Sure, you can take this issue.

[2019-03-04 01:01] Ayukha commented on #2160
Yes, I've finished working on my previous assigned issue.

[2019-03-04 02:30] kurianbenoy commented on #2122
@ArshdeepSingh98 if you are not working on this can I work on this. @RishabhJain2018 can you  assign this issue to me?

[2019-03-04 03:38] Helinia commented on #2160
I would love to take this one if the problem needs to transfer someone else in the future.

[2019-03-04 04:52] kurianbenoy commented on #2151
If no is assigned. May I work on this issue as fixed the issue locally in my system. I can put the PR today itself

[2019-03-04 05:02] yashdusing commented on #2151
@kurianbenoy sure !

[2019-03-04 06:02] RishabhJain2018 opened #2162 "Fix challenge page display on mobile"
## Current Behaviour
The tabs on the mobile are not properly aligned as shown here -
![file](https://user-images.githubusercontent.com/12206047/53713501-12addf00-3e19-11e9-8abc-472dc1732838.jpg)

## Expected Behaviour
Fix the alignments.

[2019-03-04 06:13] geekayush commented on #2162
@RishabhJain2018 Can I work on it?

[2019-03-04 06:14] RishabhJain2018 commented on #2162
Sure, you can work on this issue.

[2019-03-04 09:46] luck-u commented on #2159
Thanks @gautamjajoo and @deshraj issue solved

[2019-03-04 09:59] sarthak212 commented on #2143
@RishabhJain2018 Can i take this .?I think i can solve this..

[2019-03-04 10:34] KhalidRmb commented on #2033
@RishabhJain2018 Sorry for the delay, been busy lately :). However, here's a screenshot. Will this do?
![screenshot from 2019-03-04 16-03-32](https://user-images.githubusercontent.com/31621523/53727835-3b74b980-3e97-11e9-8c34-40d229775560.png)

[2019-03-04 13:12] geekayush commented on #2149
@luck-u Hey Lakshay, I have already submitted a PR for this issue. You can take up something else. :)

[2019-03-04 13:57] luck-u commented on #2134
can i work on this issue

[2019-03-04 14:04] luck-u commented on #1593
can i Work on these issue

[2019-03-04 14:09] luck-u commented on #2061
I am a newbie can i work on these issue please

[2019-03-04 17:09] singh96aman commented on #2149
@geekayush I saw this issue as open so I went ahead to solve it.
It was a good exercise to understand the code base.
Please refer to pull request #2165

[2019-03-04 20:41] Anonymous-2k18 commented on #2162
@geekayush Have you solved this issue or can I solve this issue?

[2019-03-04 20:46] Anonymous-2k18 commented on #2046
@RishabhJain2018 Can i still work on this or has it been resolved?

[2019-03-05 13:17] Anonymous-2k18 commented on #2162
@RishabhJain2018  Can I work on this if @geekayush  is not able to resolve the issue?

[2019-03-05 17:09] nadzma opened #2167 "couldn't approve a challenge"
Hello I am runny EvalAI locally using docker. I created a challenge , but I couldn't approve it using the superuser django admin interface.  I checked the official documentation
https://evalai.readthedocs.io/en/latest/approve_challenge.html

However I couldn't approve the challenge since I couldn't access it (The title of the challenge is not a link in my Django admin interface)

- the expected be

[2019-03-05 17:46] KhalidRmb commented on #2167
Hi! @nadzma .To approve a challenge, you can click the hyperlink in the 'ID' column, scroll down and check the 'Approved by Admin' checkbox.

[2019-03-06 01:56] kurianbenoy commented on #2160
Even I too would like to work on this problem, if its transferred to someone in fututre

[2019-03-06 09:48] nadzma commented on #2167
@KhalidRmb  Thank you so much for your answer

[2019-03-06 10:46] gautamjajoo commented on #2167
@nadzma Was your issue resolved?

[2019-03-06 10:59] gautamjajoo commented on #2088
@yashdusing Are you working on the issue?

[2019-03-06 12:54] yashdusing commented on #2088
@gautamjajoo I have my exams coming up so I won’t be able to push out any commits for now. Is it alright if I solve the issue after 2 weeks?

[2019-03-06 13:01] KhalidRmb commented on #2126
Hi! @sachinmukherjee What's the status on this one? Can I work on this?

[2019-03-06 13:11] sachinmukherjee commented on #2126
I have solved the issue. Will create a pull request within 2 days.

[2019-03-06 13:48] nadzma commented on #2167
@gautamjajoo  Yes it was resolved

[2019-03-06 14:29] gautamjajoo commented on #2167
Closing this since it is resolved. @nadzma Please free to ping the gitter channel for any other issue you face during installation.

[2019-03-06 14:29] #2167 closed

[2019-03-06 14:41] gautamjajoo commented on #2088
@yashdusing Maybe there would be new issues till then and you can take up them! Till then this issue is open!!

[2019-03-06 15:04] kurianbenoy commented on #2092
Duplicate of #2151

[2019-03-06 15:06] KhalidRmb commented on #2088
@gautamjajoo  I'll work on this then. I've made PRs for my prev assignments and just waiting for a reply.

[2019-03-06 15:16] Helinia commented on #2088
I am more than happy to take on this issue. I haven't have any issue assigned and always looking for an open issue for me to work on! :) @gautamjajoo

[2019-03-06 21:16] shaunak-badani commented on #2162
@RishabhJain2018 I can also try to work on it.

[2019-03-06 21:17] shaunak-badani commented on #2143
@RishabhJain2018 I can try to solve this. I think I can solve it

[2019-03-07 10:37] KhalidRmb commented on #2088
So, right now only the creator can disable the challenge, delete the challenge or make any edits to the phase details or to the challenge details. So, I think we can make all the above available to the host team members as well. (But this will remove any exclusivity the creator has over the challenge.)

[2019-03-07 11:02] KhalidRmb commented on #2088
@gautamjajoo Maybe the disabling the challenge is to be kept exclusive to the creator as suggested by @yashdusing since it's rather drastic. We could add permissions for other hosts to edit challenge details & phase details, including changing the visibility of the challenge.

[2019-03-07 14:33] KhalidRmb commented on #1647
@yongzx Are you trying on this? If not I can do this one. @ RishabhJain2018 @deshraj

[2019-03-07 15:19] yongzx commented on #1647
You can work on this one.

[2019-03-07 23:09] cafeshoes opened #2169 "Misplaced logout button in mobile view"
# Logout button falls out of the menu bar in mobile view

### Observed behaviour :
![screencapture-evalai-cloudcv-org-web-host-analytics-2019-03-08-04_19_57 1](https://user-images.githubusercontent.com/20144724/53995095-0481fa80-415a-11e9-8ad1-82013b5bf335.png)

### Expected behaviour :
![4](https://user-images.githubusercontent.com/20144724/53995587-7e66b380-415b-11e9-809d-f30aab5c792c.png)

OS:

[2019-03-08 00:54] #2126 closed

[2019-03-08 01:02] rohitjha941 commented on #2169
Can i work on this

[2019-03-08 21:15] RishabhJain2018 opened #2172 "Fix the feature of editing challenge details"
## Current Behaviour

When a challenge host tries to edit the challenge details after creating a challenge then the details aren't edited.

## Expected Behaviour
The challenge should be able to edit the challenge details in the challenge.

## Hint: Please use the package used in this PR: https://github.com/Cloud-CV/EvalAI/pull/2144

[2019-03-08 22:34] KhalidRmb commented on #2172
@RishabhJain2018 I would like to work on this :).

[2019-03-08 22:59] RishabhJain2018 commented on #2172
Sure! It would be really nice if you can fix this asap.

[2019-03-08 23:11] KhalidRmb commented on #2172
Noted.
Just a clarification: What all details exactly do you mean?
Currently, only the host team creator can edit anything in the challenge (we thereby need to add a permission class for host team members as well).
Also, the edit is successfully made only upon going through `All Challenges` page and displays an error through `Hosted Challenges` page.

[2019-03-09 00:07] KhalidRmb commented on #2172
It seems that issue #2088 and #2025 are related to this.

[2019-03-09 00:10] KhalidRmb commented on #2172
If everything's alright I can go ahead and make a PR to satisfy both 1 & 2 above. (Since #2035 is stale.)

[2019-03-09 06:50] GearGit commented on #2169
@cafeshoes I would like to work on this, can you tell me the width, height of the mobile that you tried it on, so that I can inspect the page.

[2019-03-09 16:25] GearGit commented on #2169
After inspecting the source code I came to the conclusion that in the file.EvalAI\frontend\src\views\web\partials\sim-header.html
under <div class="nav-wrapper">
 <a href="javascript:void(0)" data-activates="mobile-demo" class="button-collapse sim-header-link"><i class="fa fa-bars"></i></a>

this is the reason that logout button is misplaced. <a> contains the logo and <i> contains the hamburger bu

[2019-03-11 17:53] geekayush opened #2177 "Align EvalAI in SideNav in mobile view"
- the expected behaviour

The header of SideNav ( i.e., EvalAI ) should be vertically centred.

- the observed behaviour

![Screen Shot 2019-03-10 at 18 48 00](https://user-images.githubusercontent.com/22499864/54085576-b0e3fc80-4365-11e9-9cad-d1733b10df0f.png)

I would like take this issue up.

[2019-03-11 17:59] geekayush opened #2178 "Active states of links in SideBar"
The active states in SideBar are not properly set. The issue exists for almost every link.

- the expected behaviour
Example: The dashboard link should be in active state ( bold font ) when on dashboard as shown in the screenshot below.

- the observed behaviour
![Screen Shot 2019-03-12 at 01 44 58](https://user-images.githubusercontent.com/22499864/54154699-8a5aba00-4468-11e9-84ee-02dd218cb092.pn

[2019-03-11 18:01] geekayush commented on #2169
@cafeshoes @GearGit #2162 A similar issue already exists.

[2019-03-11 18:08] Sanji515 commented on #2178
@RishabhJain2018 @geekayush Can I work on this issue?

[2019-03-11 19:16] geekayush commented on #2178
@Sanji515 Let @RishabhJain2018 confirm the issue then you can surely work on it.

[2019-03-11 19:59] RishabhJain2018 commented on #2178
Hi, @geekayush Thanks for reporting this issue. Since you've reported the issue would you like to work on it?

[2019-03-11 20:02] RishabhJain2018 commented on #2169
Thanks, @GearGit for reporting it but I'm closing it since it is the duplicate issue of #2162 .

[2019-03-11 20:02] #2169 closed

[2019-03-11 20:03] RishabhJain2018 commented on #2162
Hi @GearGit @shaunak-badani I think @geekayush has already opened a PR for it.

[2019-03-11 20:15] RishabhJain2018 opened #2179 "Add status in contact messages"
## Current Behaviour

If there are multiple EvalAI admins then it is not clear in contact messages if one admin has resolved it or not.

## Expected Behaviour
Add a choice field in the contact model with status as `pending` and `resolved` having default as `pending`.

## Deliverables
- [ ] Add the fields in the model.
- [ ] Display it in Contact admin.

[2019-03-11 20:35] Sanji515 commented on #2179
@RishabhJain2018 Can I work on this issue?

[2019-03-11 20:36] RishabhJain2018 commented on #2179
Sure!

[2019-03-12 05:38] RishabhJain2018 opened #2181 "Display error bars on leaderboard"
## Current Scenario

We display only the accuracies on the leaderboard.

## Expected Scenario

Display error bar values along with the accuracies on the leaderboard.

## Deliverables

### Model file changes
- [ ] Create a new JSON field in LeaderboardDatas table with `null=True` and `blank=True`.

### API Changes
- [ ] Add the new field as a key while filtering leaderboard data in leaderboard API.

[2019-03-12 05:42] Ayukha commented on #2181
Can I take this?

[2019-03-12 05:45] RishabhJain2018 commented on #2181
Sure, but please make sure that this is a high-priority task which needs to be completed soon.

[2019-03-12 09:00] rohitjha941 commented on #2181
Can I work on this

[2019-03-12 10:40] GearGit commented on #2162
@geekayush have you fixed the issue?

[2019-03-12 12:04] jebinphilipose commented on #2111
@RishabhJain2018 I would like to work on this issue since its still open. Thank you.

[2019-03-13 04:22] #2134 closed

[2019-03-13 05:17] #2149 closed

[2019-03-13 05:38] #1936 closed

[2019-03-13 13:43] nadzma opened #2186 "couldn't add a new field in challenge model"
Hello  I am trying to add a new field in the challenge configuration file . I added a a "category" field in the yaml file. Then I added the field "category" in the challenge model.py and admin.py . However I have an error message "Error in creating challenge. Please check the yaml configuration!" when creating a challenge and I have this error when accessing the challenge from the admin:
Programmi

[2019-03-13 13:55] yashbhutoria commented on #2137
Fixed in #2185, please review.

[2019-03-13 15:32] C-Anirudh opened #2187 "Display GitHub stats in footer"
**The observed behaviour**
![Screenshot from 2019-03-13 18-00-49](https://user-images.githubusercontent.com/40494926/54291736-08d36b00-45d3-11e9-910e-9ce64ab986b3.png)

**The expected behaviour**
Count of stars and forks displayed properly.

[2019-03-13 15:32] C-Anirudh commented on #2187
@RishabhJain2018  can you help me with this?

[2019-03-13 19:21] sumitskj commented on #2179
can i work on this issue if it's not solved?

[2019-03-13 19:40] RishabhJain2018 opened #2188 "Add unit tests for create challenge API"
## Current Scenario
There are no unit tests for create challenge using zip [API](https://github.com/Cloud-CV/EvalAI/blob/c156f3d54c95861c4ac4eaef1d2e3419bab83a7a/apps/challenges/views.py#L488)

## Deliverables
- [ ] Add unit tests for the API

[2019-03-13 19:41] KhalidRmb commented on #2188
I'd like to do this @RishabhJain2018

[2019-03-13 19:48] RishabhJain2018 opened #2189 "Display error on UI while creating challenge"
## Current Behaviour
When there are syntax errors in the `yaml` challenge configs then the challenge creation using zip [API](https://github.com/Cloud-CV/EvalAI/blob/c156f3d54c95861c4ac4eaef1d2e3419bab83a7a/apps/challenges/views.py#L575) fails with 500 Internal Server error which should not be the case.

## Expected Behaviour
The API should give a proper error with 406 error code. The error should

[2019-03-13 19:50] Sanji515 commented on #2189
@RishabhJain2018 Can I work on this issue?

[2019-03-13 19:51] RishabhJain2018 commented on #2189
Sure!

[2019-03-13 19:51] RishabhJain2018 commented on #2188
sure @KhalidRmb . Please feel free to ask doubts if you have any.

[2019-03-13 19:55] KhalidRmb commented on #2188
Surely @RishabhJain2018 . Just wanted to remind you to take a look at #2172 comments when you can. Thanks!

[2019-03-13 19:56] RishabhJain2018 commented on #2188
yep, I've it on my list. I'll review it soon.

[2019-03-13 23:02] krishnadey30 commented on #1619
@RishabhJain2018 I think we should make it dynamic.
I checked this and its working

`<a id="krishna" class="waves-effect waves-dark btn ev-btn-dark blue-grey darken-4">Log In</a>`

[code]

[2019-03-13 23:02] krishnadey30 commented on #1619
@RishabhJain2018 If no one is working in it. I can take it up.

[2019-03-14 05:01] KhalidRmb commented on #2188
@RishabhJain2018 Unit tests for this already exist:
https://github.com/Cloud-CV/EvalAI/blob/c156f3d54c95861c4ac4eaef1d2e3419bab83a7a/tests/unit/challenges/test_views.py#L2101
Infact the coverage of the challenge/views.py file is 100%.

[2019-03-14 09:39] krishnadey30 commented on #2122
@RishabhJain2018 I would like to take this issue if no one is working in it currently.

[2019-03-14 14:09] kurianbenoy commented on #2122
I had made some work on this issue. WIth almost 50% completed(ie the
backend part). I will complete the rest in a week or two
[image: photo]
*Kurian Benoy*

+91 9400125402 <+91+9400125402> | kurian.bkk@gmail.com

https://kurianbenoy.github.io/
<http://us.linkedin.com/in/kurian-benoy-75642b120>
<http://github.com/kurianbenoy> <http://twitter.com/kurianbenoy2>
<http://medium.com/@kurianbenoy1998>

O

[2019-03-14 14:12] krishnadey30 commented on #2122
Ok @kurianbenoy

[2019-03-14 14:12] gautamjajoo commented on #2187
@C-Anirudh Can you verify once more. It is working on my end!

[2019-03-14 14:41] #2186 closed

[2019-03-14 18:06] #2177 closed

[2019-03-14 18:33] KhalidRmb commented on #2122
@kurianbenoy I'm actually done with this and since this is a high-priority issue, will make a PR now. Just a  heads-up :)

[2019-03-14 18:51] KhalidRmb commented on #2181
@Ayukha Since you're doing #2160 currently as well, can I do this one?

[2019-03-14 21:12] RishabhJain2018 opened #2194 "Display total number of participated participant teams in a challenge"
# Current Scenario
We don't display the total number of participant teams in a challenge.
The API is already written in `analytics` app.

## Expected scenario
The total number of participant teams in a challenge should be displayed here:
![Screenshot 2019-03-14 at 5 10 11 PM](https://user-images.githubusercontent.com/12206047/54391764-3e805e80-467c-11e9-8483-c8923d8be420.png)

[2019-03-14 21:30] vkartik97 commented on #2194
Can I work on this issue?

[2019-03-14 21:30] RishabhJain2018 commented on #2194
Sure!

[2019-03-15 00:06] KhalidRmb commented on #2188
So, this issue to be closed right?

[2019-03-15 02:18] RishabhJain2018 commented on #2188
Hey @KhalidRmb,I missed this the test cases are there but all the cases aren't covered in it.

[2019-03-15 15:25] geekayush commented on #2162
@GearGit Yes. I am working on the changes requested.

[2019-03-15 17:01] #2061 closed

[2019-03-16 11:55] kshitizkashyap commented on #2178
@RishabhJain2018 Can I fix this?

[2019-03-16 17:07] #2194 closed

[2019-03-16 17:29] #1923 closed

[2019-03-16 19:59] RishabhJain2018 opened #2197 "Challenges not displayed on the challenge page if > 10"
## Current Behaviour:
If there are more than 10 challenges on the challenge page then those challenges aren't displayed on the page.

## Expected Behaviour:
All the challenges should be displayed on the challenge page.

## Deliverables -
- [ ] The API already returns the challenge data along with a URL for the next set of challenges.
- [ ] Make an API call to the next URL and append the data into

[2019-03-16 20:35] vkartik97 commented on #2197
Can I work on this issue?

[2019-03-16 20:37] RishabhJain2018 commented on #2197
Sure!

[2019-03-17 08:09] #2197 closed

[2019-03-17 09:13] Sanji515 commented on #2189
@RishabhJain2018 Should I show all the syntax errors of the yaml file on the UI (over toast) or just show the message saying `There is a syntax error on the yaml file, Please correct them before creating challenge!`

[2019-03-17 18:10] gautamjajoo commented on #2142
@anuj-rathore Are you working on it? Otherwise anyone else could help to resolve it !!

[2019-03-17 18:11] gautamjajoo commented on #2111
@nikhilmudholkar Are you working on it?

[2019-03-17 20:44] #2179 closed

[2019-03-17 22:19] shiv6146 commented on #1800
Can I take up this issue ?

[2019-03-18 05:32] Sanji515 commented on #2189
@RishabhJain2018 Can you please confirm my comment?

[2019-03-18 06:17] RishabhJain2018 commented on #2189
Hi @Sanji515, It'd nice to show all the specific errors.

[2019-03-18 10:40] nadzma opened #2200 "Error while executing evaluation script"
I have a bug after submitting a solution

- the expected behaviour : After submitting a solution , I access "my submissions" and I can see my score , Execution Time , Result file , STDout file , STDERR file
- the observed behaviour : All these value are "None" , Show on Leaderboard: N/A
<img width="878" alt="Capture d’écran 2019-03-15 à 16 49 16" src="https://user-images.githubusercontent.com/33

[2019-03-18 14:36] sarthak212 commented on #2178
@geekayush @RishabhJain2018 I would like to work on this if no one is assigned.

[2019-03-18 18:01] RishabhJain2018 commented on #2200
Hey @nadzma, Please restart the worker after approving the challenge from the backend. It'll work fine. I'm closing this issue, for now, please feel free to reopen it if you still face some problem.

[2019-03-18 18:01] #2200 closed

[2019-03-18 20:17] #2048 closed

[2019-03-18 20:40] RishabhJain2018 commented on #1800
Sure @shiv6146, you can work on this.

[2019-03-18 22:11] #2090 closed

[2019-03-19 05:46] mahim23 commented on #2142
@RishabhJain2018 Can I take up this issue?

[2019-03-19 10:30] nadzma commented on #2200
Hey @RishabhJain2018    Unfortunately I still having the same issue by restarting the python worker:

<img width="1013" alt="Capture d’écran 2019-03-19 à 11 27 17" src="https://user-images.githubusercontent.com/33626402/54599178-61bf5b00-4a3a-11e9-989b-cd83e9ca0364.png">
<img width="605" alt="Capture d’écran 2019-03-19 à 11 27 35" src="https://user-images.githubusercontent.com/33626402/5459917

[2019-03-19 10:39] nadhem-zmandar opened #2202 "error while executing evaluation script"
#2200
I still  couldn't have a result after the submission.In fact I tried to restart the python worker But I still have the same error. Could any one help me please ?

[2019-03-19 12:24] C-Anirudh commented on #2187
@gautamjajoo the stats aren't visible to me locally or in the [website](https://evalai.cloudcv.org/).

[2019-03-19 12:41] gautamjajoo commented on #2187
@C-Anirudh Which browser are you using?

[2019-03-19 12:46] C-Anirudh commented on #2187
@gautamjajoo I am using Google Chrome 72

[2019-03-19 12:57] gautamjajoo commented on #2187
@C-Anirudh It is working for me!
![Capture](https://user-images.githubusercontent.com/24366008/54607427-51c46d00-4a74-11e9-954a-97f74ec4bfd0.JPG)

[2019-03-19 13:02] C-Anirudh commented on #2187
@gautamjajoo It most probably is an error from my side, I will look into it again.

[2019-03-19 13:06] gautamjajoo commented on #2187
@C-Anirudh Feel free to open if you still face the issue

[2019-03-19 14:11] RishabhJain2018 commented on #2142
Sure @mahim23 . It seems like @anuj-rathore isn't active these days and I'm not sure if @JameerBabu is still interested in this issue.

[2019-03-19 14:45] C-Anirudh commented on #2187
@gautamjajoo issue was caused by AdBlocker , sorry for the trouble.

[2019-03-19 14:45] #2187 closed

[2019-03-19 15:01] KhalidRmb opened #2203 "Outdated Python 2 code while creating challenge using zip file."
**Observed behavior:** When the serializer is not valid while creating a challenge, the error message never gets sent due to incompatible python 2 code which raises an error. Instead, the control is redirected to the except block, sending a generic message.

**Expected behavior:** The serializer error should be sent in the response when appropriate.

**Reason:** This happens because because of thi

[2019-03-19 15:07] JameerBabu commented on #2142
Hello @Rishabjain2018 sir,  I am interested to work on this issue. Please assign to me.

[2019-03-19 15:07] KhalidRmb commented on #2203
I'm working on this.

[2019-03-19 15:08] JameerBabu commented on #2142
sorry @RishabhJain2018 sir for spell mistake.

[2019-03-19 15:09] JameerBabu commented on #2142
@mahim23 I would like to work on this issue. Please take another one.

[2019-03-19 17:17] KhalidRmb opened #2206 "Display error message when Leaderboard schema is missing while creating challenge."
**Expected behavior**: A message like the following `"There is no leaderboard schema in the YAML configuration file. Please add it and then try again!"` with 406 status code should be returned when the schema is missing from the YAML file. This provides information to the user as to what needs to be done.

**Observed behavior:** A 500 internal server error.

**Deliverables:**
- [ ] Change the API

[2019-03-19 17:58] kurianbenoy commented on #2203
Duplicate of #2151

[2019-03-19 18:23] RishabhJain2018 opened #2207 "Add a feature to send emails to all the participants of a challenge"
## Current Behaviour
If a `challenge host` wants to send an email to all the participants of a challenge then they have to download the `csv` file for all the submissions and send the email manually.

## Expected Behaviour
We want to automate this process in which the challenge host should have to fill the subject, body and any attachments and the email is sent automatically.

## Deliverables
- [

[2019-03-19 18:23] yashdusing commented on #2207
@RishabhJain2018 Can I take this up ?

[2019-03-19 18:24] Sanji515 commented on #2207
@RishabhJain2018 Can I work on this?

[2019-03-19 18:24] KhalidRmb commented on #2207
@RishabhJain2018 Can I work on this?

[2019-03-19 18:35] RishabhJain2018 opened #2208 "Add support for installing requirements from the requirements.txt file in the challenge config."
## Current Scenario
Since we're having challenge specific workers paired with challenge specific queues, suppose if a challenge host wants to install some custom requirements for a particular challenge, then we have to install it for all the challenge workers which should not be the case.

## Expected Scenario
There should be a file in the evaluation script `requirements.txt` which contains these

[2019-03-19 18:37] mahim23 commented on #2208
@rishabhjain2018 can I work on this issue?

[2019-03-19 18:37] KhalidRmb commented on #2208
I would like to work on this. @RishabhJain2018

[2019-03-19 18:38] yashdusing commented on #2208
@RishabhJain2018 I'd like to work on this

[2019-03-19 18:44] RishabhJain2018 opened #2209 "Add a feature to re-reun a submission by challenge host using UI"
## Current Behaviour
If a challenge host wants to re-run a submission then the host has to email EvalAI admin to re-run a particular submission from admin.

## Expected Behaviour
The challenge host should be able to re-run the submission from the UI.

Please feel free to post the approach first.

[2019-03-19 18:45] yashdusing commented on #2209
@RishabhJain2018 I'd like to work on this

[2019-03-19 18:46] RishabhJain2018 commented on #2209
@yashdusing You can take this up.

[2019-03-19 18:46] RishabhJain2018 commented on #2207
@Sanji515 You can take this up.

[2019-03-19 18:46] KhalidRmb commented on #2209
@RishabhJain2018 I'd like to work on this as well.

[2019-03-19 18:47] RishabhJain2018 commented on #2208
@KhalidRmb You can take this up.

[2019-03-19 18:49] yashdusing commented on #2209
@RishabhJain2018 also, could you please verify the doubts I've asked on gitter please

[2019-03-19 18:50] RishabhJain2018 opened #2210 "Add a feature to change the status of a submission by challenge host"
## Current Scenario
If a challenge host wants to cancel the submission status of submission, then they can't do it. They have to approach EvalAI admin in order to do it.

## Expected Scenario
The challenge host should be able to change the submission status using UI.

[2019-03-19 18:51] RishabhJain2018 commented on #2209
Sure! I'll take a look at it soon.

[2019-03-19 18:51] mahim23 commented on #2210
@rishabhjan2018 can I work on this?

[2019-03-19 18:52] RishabhJain2018 commented on #2210
Sure, I was about to mention you :)

[2019-03-19 18:53] RishabhJain2018 commented on #2206
Thanks, @KhalidRmb for reporting it. Since you're working on another issue. This issue is open for all to work on.

[2019-03-19 18:55] RishabhJain2018 commented on #2202
@nadzma Did you approve the challenge first before restarting the worker. Here is the documentation: https://evalai.readthedocs.io/en/latest/approve_challenge.html

[2019-03-19 19:00] KhalidRmb commented on #2208
Sure! @RishabhJain2018 could you please review #2172  and corresponding PR #2174 ?

[2019-03-19 19:09] shiv6146 commented on #1800
@RishabhJain2018 Please have a look at #2205 I have made changes to submission_worker which did not have any unit tests previously and hence I think my coverage has reduced :disappointed: Any workarounds to actually fix this?

[2019-03-19 19:14] KhalidRmb commented on #1800
@shiv6146 This may help for now, until tests for the submission worker are written. Please have a look: https://coverage.readthedocs.io/en/coverage-4.3.4/excluding.html

[2019-03-19 20:23] shiv6146 commented on #2206
@RishabhJain2018 can I take this up??